Repository reapit/foundations, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, dependencies, admin-portal, aml-checklist, api-key-service, api-key-verify, app-builder, app-builder-backend, app-market, app-marketplace-cms, auto-reply-bot, cli, cloud-alert, cognito-custom-mail-lambda, config-manager, connect-session, connect-session-server, cra-template-foundations, create-node-app-generator, data-warehouse, deployment-service, developer-portal, elements, elements-legacy, events-service, foundations-ts-definitions, geo-diary, geo-diary-marketing, graphql-server, insights, login-with-reapit, mailer-service, marketplace, marketplace-management, payments-client, payments-service, react-app-scaffolder, reapit-connect, security-header-lambda, seed-data-workflow, ts-bundler, ts-scripts, ts-types, utils-common, utils-node, utils-react, utils-nest

.github/labeler.yml:

infra:
  - .github/**/*
  - scripts/**/*

dependencies:
  - .yarn/**/*

admin-portal:
  - packages/admin-portal/**

aml-checklist:
  - packages/aml-checklist/**

api-key-service:
  - packages/api-key-service/**

api-key-verify:
  - packages/api-key-verify/**

app-builder:
  - packages/app-builder/**

app-builder-backend:
  - packages/app-builder-backend/**

app-market:
  - packages/app-builder/**

app-marketplace-cms:
  - packages/app-marketplace-cms/**

auto-reply-bot:
  - packages/auto-reply-bot/**

cli:
  - packages/cli/**

cloud-alert:
  - packages/cloud-alert/**

cognito-custom-mail-lambda:
  - packages/cognito-custom-mail-lambda/**

config-manager:
  - packages/config-manager/**

connect-session:
  - packages/connect-session/**

connect-session-server:
  - packages/connect-session-server/**

cra-template-foundations:
  - packages/cra-template-foundations/**

create-node-app-generator:
  - packages/cra-template-foundations/**

data-warehouse:
  - packages/data-warehouse/**

deployment-service:
  - packages/deployment-service/**

developer-portal:
  - packages/developer-portal/**

elements:
  - packages/elements/**

elements-legacy:
  - packages/elements-legacy/**

events-service:
  - packages/events-service/**

foundations-ts-definitions:
  - packages/foundations-ts-definitions/**

geo-diary:
  - packages/geo-diary/**

geo-diary-marketing:
  - packages/geo-diary-marketing/**

graphql-server:
  - packages/graphql-server/**

insights:
  - packages/insights/**

login-with-reapit:
  - packages/login-with-reapit/**

mailer-service:
  - packages/mailer-service/**

marketplace:
  - packages/marketplace/**

marketplace-management:
  - packages/marketplace-management/**

payments-client:
  - packages/payments-client/**

payments-service:
  - packages/payments-service/**

react-app-scaffolder:
  - packages/react-app-scaffolder/**

reapit-connect:
  - packages/reapit-connect/**

security-header-lambda:
  - packages/security-header-lambda/**

seed-data-workflow:
  - packages/seed-data-workflow/**

ts-bundler:
  - packages/ts-bundler/**

ts-scripts:
  - packages/ts-scripts/**

ts-types:
  - packages/ts-types/**

utils-common:
  - packages/utils-common/**

utils-node:
  - packages/utils-node/**

utils-react:
  - packages/utils-react/**

utils-nest:
  -packages/utils-nest/**

chore: added jest badges for project
  packages/connect-session-server/package.json
  packages/connect-session-server/src/tests/badges/badge-branches.svg
  packages/connect-session-server/src/tests/badges/badge-functions.svg
  packages/connect-session-server/src/tests/badges/badge-lines.svg
  packages/connect-session-server/src/tests/badges/badge-statements.svg
  yarn.lock
Labels: connect-session-server

docs: added badges to readme
  packages/connect-session-server/README.md
Labels: connect-session-server

chore: easier reading of condition for sonarcloud
  packages/connect-session-server/src/index.ts
Labels: connect-session-server

fix: replaced connect-session with connect-session-server package
  packages/payments-service/package.json
  yarn.lock
Labels: payments-service

chore: case insensitive PR title
  .github/workflows/pr-lint.yml
Labels: infra

fix: updated tsconfig path for reapit package
  packages/payments-service/tsconfig.json
Labels: payments-service

fix: updated node version target
  packages/connect-session-server/tsup.config.ts
Labels: connect-session-server
