Repository reapit/foundations, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, dependencies, admin-portal, app-builder, app-builder-backend, app-market, app-marketplace-cms, cli, cognito-custom-mail-lambda, config-manager, data-warehouse, deployment-service, developer-portal, geo-diary, graphql-server, marketplace, marketplace-management, payments-client, payments-service, reapit-connect, security-header-lambda, ts-bundler, ts-scripts, utils-common, utils-node, utils-react, utils-nest

feat: added secret controller for fixes
  packages/deployment-service/src/pipeline-runner/module.ts
  packages/deployment-service/src/pipeline-runner/secret.pipeline.controller.ts
  packages/deployment-service/src/pipeline/pipeline-provider.ts
Labels: deployment-service

feat: added secret controller for fixes (#11488)
  packages/deployment-service/src/pipeline-runner/module.ts
  packages/deployment-service/src/pipeline-runner/secret.pipeline.controller.ts
  packages/deployment-service/src/pipeline/pipeline-provider.ts
Labels: deployment-service

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service

update endpoints
  packages/connect-session/src/browser/index.ts
Labels: none

connect-session-server
  packages/connect-session/src/server/index.ts
Labels: none

move qs to body
  packages/connect-session/src/browser/index.ts
Labels: none

update endpoints
  packages/connect-session/src/browser/index.ts
Labels: none

connect-session-server
  packages/connect-session/src/server/index.ts
Labels: none

move qs to body
  packages/connect-session/src/browser/index.ts
Labels: none

update endpoints
  packages/connect-session/src/browser/index.ts
Labels: none

connect-session-server
  packages/connect-session/src/server/index.ts
Labels: none

Revert "append /.well-known/jwks.json to issuer uri to fetch jwks"
  packages/connect-session/src/utils/verify-decode-id-token.ts
Labels: none

revert
  packages/connect-session/src/browser/index.ts
Labels: none

move qs to body
  packages/connect-session/src/browser/index.ts
Labels: none

fix bugs
  packages/connect-session/src/browser/index.ts
  packages/connect-session/src/utils/verify-decode-id-token.ts
Labels: none

fix main in package.json
  packages/connect-session/package.json
Labels: none

deal with merge conflict
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@hookform-resolvers-npm-3.9.0-6238a72f77-b878e92ceb.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/rc-service/package.json
  packages/rc-service/src/components/users/update-user-name.tsx
  packages/rc-service/src/components/users/user-content.tsx
  yarn.lock
Labels: dependencies

deal with merge conflict (#11489)
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@hookform-resolvers-npm-3.9.0-6238a72f77-b878e92ceb.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/rc-service/package.json
  packages/rc-service/src/components/users/update-user-name.tsx
  packages/rc-service/src/components/users/user-content.tsx
  yarn.lock
Labels: dependencies

chore: rplt-484 tweaks to update name modal
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/rc-service/src/components/users/update-user-name.tsx
Labels: dependencies

chore: bump rc-service version
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/rc-service/package.json
Labels: dependencies

chore: add test
  packages/rc-service/src/components/users/__tests__/__snapshots__/update-user-name.test.tsx.snap
  packages/rc-service/src/components/users/__tests__/update-user-name.test.tsx
Labels: none

chore: bump rc-mfa-config version
  packages/rc-mfa-config/package.json
Labels: none

chore: rplt-484 tweaks to update name modal (#11490)
  packages/rc-service/src/components/users/__tests__/__snapshots__/update-user-name.test.tsx.snap
  packages/rc-service/src/components/users/__tests__/update-user-name.test.tsx
  packages/rc-service/src/components/users/update-user-name.tsx
Labels: none

chore: bump rc-service version
  packages/rc-service/package.json
Labels: none

chore: rplt-584 update email address on review modal
  packages/developer-portal/src/components/apps/page/__tests__/__snapshots__/submit-review-modal.test.tsx.snap
  packages/developer-portal/src/components/apps/page/submit-review-modal.tsx
Labels: developer-portal

chore: rplt-584 update email address on review modal (#11491)
  packages/developer-portal/src/components/apps/page/__tests__/__snapshots__/submit-review-modal.test.tsx.snap
  packages/developer-portal/src/components/apps/page/submit-review-modal.tsx
Labels: developer-portal

chore: bump developer-portal version
  packages/developer-portal/package.json
Labels: developer-portal

chore: bump marketplace version
  packages/marketplace/package.json
Labels: marketplace

fix: resolve deployment with cdk 2.162.1
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/src/deployment/deploy-provider.ts
  packages/deployment-service/src/pipeline/pipeline-setup-workflow.ts
  packages/ts-scripts/src/cdk/components/rds-database.ts
Labels: deployment-service, ts-scripts

fix: resolve OAC for distro
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/src/pipeline/pipeline-setup-workflow.ts
Labels: deployment-service

chore: linting
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
  packages/deployment-service/src/pipeline/pipeline-setup-workflow.ts
Labels: deployment-service

fix: remove bastion ec2
  packages/ts-scripts/src/cdk/components/rds-database.ts
Labels: ts-scripts

feat: add dev url for pipeline
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
Labels: developer-portal

fix: resolve tests for pipeline info
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-info.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-page.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
Labels: developer-portal

fix: corrected mock within test
  packages/deployment-service/src/pipeline/__test__/pipeline-setup-workflow.test.ts
Labels: deployment-service

chore: remove files from coverage
  packages/deployment-service/jest.config.js
Labels: deployment-service

feat: rplt-591 payments authoriser update
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/payments-service/src/core/authorizer.ts
  packages/ts-scripts/src/authorizer/index.ts
  packages/utils-authorizer/src/index.ts
Labels: dependencies, payments-service, ts-scripts

feat: rplt-591 payments authoriser update
  packages/payments-service/jest.config.js
Labels: payments-service

feat: rplt-591 payments authoriser update
  packages/deployment-service/jest.config.js
Labels: deployment-service

feat: rplt-591 payments authoriser update (#11493)
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/deployment-service/jest.config.js
  packages/payments-service/jest.config.js
  packages/payments-service/src/core/authorizer.ts
  packages/ts-scripts/src/authorizer/index.ts
  packages/utils-authorizer/src/index.ts
Labels: dependencies, deployment-service, payments-service, ts-scripts

.github/labeler.yml:

infra:
  - .github/**/*
  - scripts/**/*

dependencies:
  - .yarn/**/*

admin-portal:
  - packages/admin-portal/**

app-builder:
  - packages/app-builder/**

app-builder-backend:
  - packages/app-builder-backend/**

app-market:
  - packages/app-builder/**

app-marketplace-cms:
  - packages/app-marketplace-cms/**

cli:
  - packages/cli/**

cognito-custom-mail-lambda:
  - packages/cognito-custom-mail-lambda/**

config-manager:
  - packages/config-manager/**

data-warehouse:
  - packages/data-warehouse/**

deployment-service:
  - packages/deployment-service/**

developer-portal:
  - packages/developer-portal/**

geo-diary:
  - packages/geo-diary/**

graphql-server:
  - packages/graphql-server/**

marketplace:
  - packages/marketplace/**

marketplace-management:
  - packages/marketplace-management/**

payments-client:
  - packages/payments-client/**

payments-service:
  - packages/payments-service/**

reapit-connect:
  - packages/reapit-connect/**

security-header-lambda:
  - packages/security-header-lambda/**

ts-bundler:
  - packages/ts-bundler/**

ts-scripts:
  - packages/ts-scripts/**

utils-common:
  - packages/utils-common/**

utils-node:
  - packages/utils-node/**

utils-react:
  - packages/utils-react/**

utils-nest: -packages/utils-nest/**
