Repository reapit/foundations, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, dependencies, admin-portal, app-builder, app-builder-backend, app-market, app-marketplace-cms, cli, cognito-custom-mail-lambda, config-manager, data-warehouse, deployment-service, developer-portal, geo-diary, graphql-server, marketplace, marketplace-management, payments-client, payments-service, reapit-connect, security-header-lambda, ts-bundler, ts-scripts, utils-common, utils-node, utils-react, utils-nest

fix: codacy linting?
  packages/deployment-service/cdk/cdk.ts
Labels: deployment-service

feat: rplt-623 add external id filter to admin portal
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/filter-form.test.tsx.snap
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/apps/filter-form.tsx
  packages/admin-portal/src/components/apps/index.tsx
Labels: admin-portal

feat: rplt-727 external app id filter (#11497)
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/filter-form.test.tsx.snap
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/apps/filter-form.tsx
  packages/admin-portal/src/components/apps/index.tsx
Labels: admin-portal

fix: remove cdk synth methods
  .github/workflows/release-dev.yml
  .github/workflows/release-prod.yml
  packages/admin-portal/package.json
  packages/app-builder/package.json
  packages/cli/package.json
  packages/cognito-custom-mail-lambda/package.json
  packages/config-manager/package.json
  packages/data-warehouse/package.json
  packages/developer-portal/package.json
  packages/geo-diary/package.json
  packages/marketplace-management/package.json
  packages/marketplace/package.json
  packages/payments-ui/package.json
  packages/rc-mfa-config/package.json
  packages/rc-service/package.json
  packages/reapit-connect/package.json
  packages/security-header-lambda/package.json
  packages/ts-bundler/package.json
  packages/ts-scripts/package.json
  packages/use-reapit-data/package.json
  packages/utils-authorizer/package.json
  packages/utils-common/package.json
  packages/utils-nest/package.json
  packages/utils-node/package.json
  packages/utils-react/package.json
Labels: infra, admin-portal, app-builder, app-market, cli, cognito-custom-mail-lambda, config-manager, data-warehouse, developer-portal, geo-diary, marketplace, marketplace-management, reapit-connect, security-header-lambda, ts-bundler, ts-scripts, utils-common, utils-node, utils-react

fix: #726 caught exceptions exit code 1 (#11496)
  packages/deployment-service/cdk/cdk.ts
Labels: deployment-service

chore: remove comments
  packages/deployment-service/src/resolve-production-s3-buckets.ts
Labels: deployment-service

chore: bump admin-portal version
  packages/admin-portal/package.json
Labels: admin-portal

fix: finally added a lib to tsscipts
  packages/deployment-service/tsconfig.json
Labels: deployment-service

feat: enum to change deployment method and added secret correction
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/src/resolve-production-s3-buckets.ts
  packages/ts-scripts/src/cdk/components/rds-database.ts
Labels: deployment-service, ts-scripts

feat: added workflow to commit CDK synth changes
  .github/workflows/cdk-synth-pr.yml
Labels: infra

feat: add diff to comment
  .github/workflows/cdk-synth-pr.yml
Labels: infra

fix: improved method for folder discovery
  .github/workflows/cdk-synth-pr.yml
Labels: infra

fix: remove unnecessary comment
  .github/workflows/cdk-synth-pr.yml
Labels: infra

fix: ensure buckets have public access disabled
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/deployment-service/src/resolve-production-s3-buckets.ts
Labels: dependencies, deployment-service

fix: correct cdk diff output
  .github/workflows/cdk-synth-pr.yml
  packages/deployment-service/cdk.json
Labels: infra, deployment-service

fix: added update method to pr type
  .github/workflows/cdk-synth-pr.yml
Labels: infra

fix: envs
  .github/workflows/cdk-synth-pr.yml
Labels: infra

fix: echo outputs
  .github/workflows/cdk-synth-pr.yml
Labels: infra

fix: correct change folders
  .github/workflows/cdk-synth-pr.yml
Labels: infra

fix: converted to use rpt-cdk declared within package.json
  .github/workflows/cdk-synth-pr.yml
  packages/deployment-service/package.json
Labels: infra, deployment-service

fix: corrected condition
  .github/workflows/cdk-synth-pr.yml
Labels: infra

fix: corrected condition
  .github/workflows/cdk-synth-pr.yml
Labels: infra

fix: correct jq issue
  .github/workflows/cdk-synth-pr.yml
Labels: infra

fix: correct jq issue
  .github/workflows/cdk-synth-pr.yml
Labels: infra

fix: correct env output
  .github/workflows/cdk-synth-pr.yml
Labels: infra

fix: corrected cdk diff output
  .github/workflows/cdk-synth-pr.yml
Labels: infra

fix: reg modal should not dismiss on bg click
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/developer-portal/src/components/register/terms-and-conditions-modal/index.tsx
Labels: dependencies, developer-portal

fix: reg modal should not dismiss on bg click (#11499)
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/developer-portal/src/components/register/terms-and-conditions-modal/index.tsx
Labels: dependencies, developer-portal

fix: corrected output for cdk
  .github/workflows/cdk-synth-pr.yml
  packages/deployment-service/package.json
Labels: infra, deployment-service

feat: attempt local template compare with complexity
  .github/workflows/cdk-synth-pr.yml
Labels: infra

feat: initial cdk.synth folder
  packages/deployment-service/cdk.synth/asset.3542be390685e0c8353d92ccb5796d343cd93ca946b6b0de798004206a199adc/cfn-response.js
  packages/deployment-service/cdk.synth/asset.3542be390685e0c8353d92ccb5796d343cd93ca946b6b0de798004206a199adc/consts.js
  packages/deployment-service/cdk.synth/asset.3542be390685e0c8353d92ccb5796d343cd93ca946b6b0de798004206a199adc/framework.js
  packages/deployment-service/cdk.synth/asset.3542be390685e0c8353d92ccb5796d343cd93ca946b6b0de798004206a199adc/util.js
  packages/deployment-service/cdk.synth/asset.4e26bf2d0a26f2097fb2b261f22bb51e3f6b4b52635777b1e54edbd8e2d58c35/index.js
  packages/deployment-service/cdk.synth/asset.55a24d9ce08a9525d5d1ff6747ac55c83aa216a00648190864612e6de4de430f/index.js
  packages/deployment-service/cdk.synth/cloud-deployment-service.assets.json
  packages/deployment-service/cdk.synth/cloud-deployment-service.template.json
  packages/deployment-service/cdk.synth/cloud-deployment-usercode-dev.assets.json
  packages/deployment-service/cdk.synth/cloud-deployment-usercode-dev.template.json
  packages/deployment-service/cdk.synth/manifest.json
  packages/deployment-service/cdk.synth/tree.json
Labels: deployment-service

fix: correct folder locations
  .github/workflows/cdk-synth-pr.yml
Labels: infra

fix: correct folder locations
  .github/workflows/cdk-synth-pr.yml
Labels: infra

fix: corrected trim of template name
  .github/workflows/cdk-synth-pr.yml
Labels: infra

fix: debugging
  .github/workflows/cdk-synth-pr.yml
Labels: infra

fix: remove relative path
  .github/workflows/cdk-synth-pr.yml
  packages/deployment-service/cdk.synth/cloud-deployment-service.assets.json
  packages/deployment-service/cdk.synth/cloud-deployment-service.template.json
  packages/deployment-service/cdk.synth/manifest.json
  packages/deployment-service/cdk.synth/tree.json
Labels: infra, deployment-service

chore: synth updates
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/deployment-service/cdk.synth/cloud-deployment-service.assets.json
  packages/deployment-service/cdk.synth/cloud-deployment-service.template.json
  packages/deployment-service/cdk.synth/cloud-deployment-usercode-dev.assets.json
  packages/deployment-service/cdk.synth/cloud-deployment-usercode-dev.template.json
  packages/deployment-service/cdk.synth/manifest.json
  packages/deployment-service/cdk.synth/tree.json
Labels: dependencies, deployment-service

chore: bump developer-portal version
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/developer-portal/package.json
Labels: dependencies, developer-portal

feat: add iaas notification message
  packages/developer-portal/src/components/iaas/index.tsx
Labels: developer-portal

fix: remove unused import
  packages/developer-portal/src/components/iaas/index.tsx
Labels: developer-portal

.github/labeler.yml:

infra:
  - .github/**/*
  - scripts/**/*

dependencies:
  - .yarn/**/*

admin-portal:
  - packages/admin-portal/**

app-builder:
  - packages/app-builder/**

app-builder-backend:
  - packages/app-builder-backend/**

app-market:
  - packages/app-builder/**

app-marketplace-cms:
  - packages/app-marketplace-cms/**

cli:
  - packages/cli/**

cognito-custom-mail-lambda:
  - packages/cognito-custom-mail-lambda/**

config-manager:
  - packages/config-manager/**

data-warehouse:
  - packages/data-warehouse/**

deployment-service:
  - packages/deployment-service/**

developer-portal:
  - packages/developer-portal/**

geo-diary:
  - packages/geo-diary/**

graphql-server:
  - packages/graphql-server/**

marketplace:
  - packages/marketplace/**

marketplace-management:
  - packages/marketplace-management/**

payments-client:
  - packages/payments-client/**

payments-service:
  - packages/payments-service/**

reapit-connect:
  - packages/reapit-connect/**

security-header-lambda:
  - packages/security-header-lambda/**

ts-bundler:
  - packages/ts-bundler/**

ts-scripts:
  - packages/ts-scripts/**

utils-common:
  - packages/utils-common/**

utils-node:
  - packages/utils-node/**

utils-react:
  - packages/utils-react/**

utils-nest: -packages/utils-nest/**
