Repository reapit/foundations, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, dependencies, admin-portal, app-builder, app-builder-backend, app-market, app-marketplace-cms, cli, cognito-custom-mail-lambda, config-manager, data-warehouse, deployment-service, developer-portal, geo-diary, graphql-server, marketplace, marketplace-management, payments-client, payments-service, reapit-connect, security-header-lambda, ts-bundler, ts-scripts, utils-common, utils-node, utils-react, utils-nest

.github/labeler.yml:

infra:
  - .github/**/*
  - scripts/**/*

dependencies:
  - .yarn/**/*

admin-portal:
  - packages/admin-portal/**

app-builder:
  - packages/app-builder/**

app-builder-backend:
  - packages/app-builder-backend/**

app-market:
  - packages/app-builder/**

app-marketplace-cms:
  - packages/app-marketplace-cms/**

cli:
  - packages/cli/**

cognito-custom-mail-lambda:
  - packages/cognito-custom-mail-lambda/**

config-manager:
  - packages/config-manager/**

data-warehouse:
  - packages/data-warehouse/**

deployment-service:
  - packages/deployment-service/**

developer-portal:
  - packages/developer-portal/**

geo-diary:
  - packages/geo-diary/**

graphql-server:
  - packages/graphql-server/**

marketplace:
  - packages/marketplace/**

marketplace-management:
  - packages/marketplace-management/**

payments-client:
  - packages/payments-client/**

payments-service:
  - packages/payments-service/**

reapit-connect:
  - packages/reapit-connect/**

security-header-lambda:
  - packages/security-header-lambda/**

ts-bundler:
  - packages/ts-bundler/**

ts-scripts:
  - packages/ts-scripts/**

utils-common:
  - packages/utils-common/**

utils-node:
  - packages/utils-node/**

utils-react:
  - packages/utils-react/**

utils-nest: -packages/utils-nest/**

fix: rplt-591 authoriser tweaks
  packages/payments-service/src/core/authorizer.ts
Labels: payments-service

fix: rplt-591 authoriser tweaks (#11494)
  packages/payments-service/src/core/authorizer.ts
Labels: payments-service

chore: bump payments-service version
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/payments-service/package.json
Labels: dependencies, payments-service

chore: bump payments-service version
  packages/payments-service/package.json
Labels: payments-service

fix: deployment resolution (#11492)
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/jest.config.js
  packages/deployment-service/src/deployment/deploy-provider.ts
  packages/deployment-service/src/pipeline/__test__/pipeline-setup-workflow.test.ts
  packages/deployment-service/src/pipeline/pipeline-setup-workflow.ts
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-info.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-page.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
  packages/ts-scripts/src/cdk/components/rds-database.ts
Labels: deployment-service, developer-portal, ts-scripts

feat: added deployment service dns endpoints
  packages/use-reapit-data/src/api-constants.ts
  packages/use-reapit-data/src/update-actions.ts
Labels: none

fix: remove verifyName column
  packages/deployment-service/migrations/1729084248683-AddDomainFields.ts
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.model.ts
Labels: deployment-service

feat: added migrations for missing columns
  packages/deployment-service/README.md
  packages/deployment-service/migrations/1729084248683-AddDomainFields.ts
  packages/deployment-service/migrations/index.ts
  packages/deployment-service/package.json
  packages/deployment-service/src/app-module.ts
  packages/deployment-service/src/dns/certificate.provider.ts
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.eventbridge.trigger.provider.ts
  packages/deployment-service/src/dns/dns.module.ts
  packages/deployment-service/src/dns/dns.provider.ts
  packages/deployment-service/src/dns/index.ts
  packages/developer-portal/src/components/apps/pipeline/pipeline-page.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-tabs.tsx
  packages/developer-portal/src/constants/routes.ts
  packages/utils-nest/src/auth/auth-provider-interface.ts
  packages/utils-nest/src/auth/guards/access-token-provider.ts
  packages/utils-nest/src/auth/guards/cred-types.ts
  yarn.lock
Labels: deployment-service, developer-portal

feat: added call for dns verify
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.provider.ts
  packages/developer-portal/src/components/apps/pipeline/pipeline-dns.tsx
  packages/use-reapit-data/src/api-constants.ts
  packages/use-reapit-data/src/update-actions.ts
Labels: deployment-service, developer-portal

feat: started adding dns frontend components
  packages/developer-portal/src/components/apps/pipeline/pipeline-dns.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-page.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-tabs.tsx
Labels: developer-portal

fix: resolved annoying 'bucket already exists' issue
  packages/ts-scripts/src/cdk/components/s3-bucket.ts
Labels: ts-scripts

feat: commiting this so I don't lose it
  .yarn/cache/@aws-cdk-cloud-assembly-schema-npm-38.0.1-469647254b-fff5afc74d.zip
  packages/deployment-service/migrations/1729084248683-AddDomainFields.ts
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.provider.ts
  packages/ts-scripts/package.json
  yarn.lock
Labels: dependencies, deployment-service, ts-scripts

chore: bump marketplace-management version
  packages/marketplace-management/package.json
Labels: marketplace-management

chore: bump admin-portal version
  packages/admin-portal/package.json
Labels: admin-portal

feat: experimenting with dns creationst status
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/migrations/1732024866737-AddDomainStatusField.ts
  packages/deployment-service/migrations/index.ts
  packages/deployment-service/src/aws/module.ts
  packages/deployment-service/src/dns/certificate.provider.ts
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.module.ts
  packages/deployment-service/src/dns/dns.provider.ts
  packages/deployment-service/src/entities/pipeline.entity.ts
Labels: dependencies, deployment-service

feat: added steps for dns setup frontend
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-one.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-three.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-two.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/index.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/setup-model.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-dns.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-page.tsx
  packages/use-reapit-data/src/api-constants.ts
  packages/use-reapit-data/src/get-actions.ts
Labels: developer-portal

feat: added eventbridge cross account trigger
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/dns-certificate-update.ts
  packages/deployment-service/package.json
  packages/deployment-service/src/dns-eventbridge.ts
  packages/deployment-service/tsup-zip.config.json
  packages/deployment-service/tsup.config.js
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
  yarn.lock
Labels: deployment-service, developer-portal

feat: added poc for cross region and account event bridge setup
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/cdk/lib/dns-certificate-update.ts
Labels: deployment-service

feat: added ui for custom dns
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-four.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-one.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-three.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-two.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/index.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/setup-model.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
Labels: developer-portal

feat: added fetch methods for dns info
  packages/use-reapit-data/src/api-constants.ts
  packages/use-reapit-data/src/get-actions.ts
Labels: none

feat: added poc for managing dns
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/cdk/lib/dns-certificate-update.ts
  packages/deployment-service/src/dns-eventbridge.ts
  packages/deployment-service/src/dns/dns.cloudfront.provider.ts
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.eventbridge.provider.ts
  packages/deployment-service/src/dns/dns.module.ts
  packages/deployment-service/src/pipeline/pipeline-provider.ts
  packages/deployment-service/src/pipeline/pipeline-teardown-workflow.ts
Labels: deployment-service

feat: added cdk resources requirements
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/resolve-production-OAC-custom-resource.ts
  packages/deployment-service/cdk/lib/resolve-production-S3-bucket-custom-resource.ts
  packages/deployment-service/cdk/lib/resolve-production-database-custom-resource.ts
Labels: deployment-service

feat: added database transfer method
  packages/deployment-service/src/resolve-production-database.ts
Labels: deployment-service

feat: s3 policy changes
  packages/deployment-service/src/resolve-production-s3-buckets.ts
Labels: deployment-service

feat: added new scripts to be built
  packages/deployment-service/tsup.config.js
Labels: deployment-service

feat: added bundled files for output
  packages/deployment-service/cdk/lib/resolve-production-OAC-custom-resource.ts
  packages/deployment-service/cdk/lib/resolve-production-S3-bucket-custom-resource.ts
  packages/deployment-service/cdk/lib/resolve-production-database-custom-resource.ts
  packages/deployment-service/package.json
Labels: deployment-service

chore: rplt-623 remove token rotation modal and update wizard text
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/helper-content.test.tsx.snap
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/new/helper-content.tsx
  packages/developer-portal/src/components/apps/new/index.tsx
Labels: developer-portal

chore: rplt-623 remove token rotation modal and update wizard text (#11495)
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/helper-content.test.tsx.snap
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/new/helper-content.tsx
  packages/developer-portal/src/components/apps/new/index.tsx
Labels: developer-portal

feat: added seperate temp cluster for testing against
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/temp-cluster-stack.ts
  packages/deployment-service/package.json
  packages/deployment-service/src/migration-run.ts
  packages/deployment-service/src/temp-migration.ts
  packages/deployment-service/tsup.config.js
Labels: deployment-service

feat: added temp custom resource method to make dev match prod
  packages/deployment-service/cdk/temp-cluster-stack.ts
  packages/deployment-service/package.json
  packages/deployment-service/src/temp-migration.ts
  packages/deployment-service/src/temp-s3-production-policy-match.ts
  packages/deployment-service/tsup.config.js
Labels: deployment-service

chore: bump developer-portal version
  packages/developer-portal/package.json
Labels: developer-portal

chore: bump data-warehouse version
  packages/data-warehouse/package.json
Labels: data-warehouse

feat: resolve bucket configs
  packages/deployment-service/cdk/temp-cluster-stack.ts
  packages/deployment-service/src/temp-s3-production-policy-match.ts
Labels: deployment-service

feat: s3 bucket policies resolved for production
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
  packages/deployment-service/cdk/lib/resolve-production-OAC-custom-resource.ts
  packages/deployment-service/cdk/lib/resolve-production-S3-bucket-custom-resource.ts
  packages/deployment-service/cdk/lib/resolve-production-database-custom-resource.ts
  packages/deployment-service/cdk/temp-cluster-stack.ts
  packages/deployment-service/src/resolve-production-apply-OAC-to-all-distros.ts
  packages/deployment-service/src/resolve-production-database.ts
  packages/deployment-service/src/resolve-production-s3-buckets.ts
  packages/deployment-service/src/temp-s3-production-policy-match.ts
Labels: deployment-service

feat: resolved policies for rds snapshot
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/resolve-production-database-custom-resource.ts
  packages/deployment-service/cdk/temp-cluster-stack.ts
  packages/deployment-service/src/resolve-production-apply-OAC-to-all-distros.ts
  packages/deployment-service/src/resolve-production-database.ts
  packages/deployment-service/src/resolve-production-s3-buckets.ts
Labels: deployment-service

fix: added exit code 1 on catch
  packages/deployment-service/cdk/cdk.ts
Labels: deployment-service

feat: added synth action to prevent cdk errors
  .github/workflows/release-dev.yml
  .github/workflows/release-prod.yml
Labels: infra

feat: added snyth method to all packages
  packages/admin-portal/package.json
  packages/app-builder/package.json
  packages/cli/package.json
  packages/cognito-custom-mail-lambda/package.json
  packages/config-manager/package.json
  packages/data-warehouse/package.json
  packages/developer-portal/package.json
  packages/geo-diary/package.json
  packages/marketplace-management/package.json
  packages/marketplace/package.json
  packages/payments-ui/package.json
  packages/rc-mfa-config/package.json
  packages/rc-service/package.json
  packages/reapit-connect/package.json
  packages/security-header-lambda/package.json
  packages/ts-bundler/package.json
  packages/ts-scripts/package.json
  packages/use-reapit-data/package.json
  packages/utils-authorizer/package.json
  packages/utils-common/package.json
  packages/utils-nest/package.json
  packages/utils-node/package.json
  packages/utils-react/package.json
Labels: admin-portal, app-builder, app-market, cli, cognito-custom-mail-lambda, config-manager, data-warehouse, developer-portal, geo-diary, marketplace, marketplace-management, reapit-connect, security-header-lambda, ts-bundler, ts-scripts, utils-common, utils-node, utils-react

fix: corrected rc-mfa-config synth method
  packages/rc-mfa-config/package.json
Labels: none

fix: corrected packages synth method
  packages/cli/package.json
  packages/cognito-custom-mail-lambda/package.json
  packages/config-manager/package.json
Labels: cli, cognito-custom-mail-lambda, config-manager
