Repository reapit/foundations, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, dependencies, admin-portal, app-builder, app-builder-backend, app-market, app-marketplace-cms, cli, cognito-custom-mail-lambda, config-manager, data-warehouse, deployment-service, developer-portal, geo-diary, graphql-server, marketplace, marketplace-management, payments-client, payments-service, reapit-connect, security-header-lambda, ts-bundler, ts-scripts, utils-common, utils-node, utils-react, utils-nest

.github/labeler.yml:

infra:
  - .github/**/*
  - scripts/**/*

dependencies:
  - .yarn/**/*

admin-portal:
  - packages/admin-portal/**

app-builder:
  - packages/app-builder/**

app-builder-backend:
  - packages/app-builder-backend/**

app-market:
  - packages/app-builder/**

app-marketplace-cms:
  - packages/app-marketplace-cms/**

cli:
  - packages/cli/**

cognito-custom-mail-lambda:
  - packages/cognito-custom-mail-lambda/**

config-manager:
  - packages/config-manager/**

data-warehouse:
  - packages/data-warehouse/**

deployment-service:
  - packages/deployment-service/**

developer-portal:
  - packages/developer-portal/**

geo-diary:
  - packages/geo-diary/**

graphql-server:
  - packages/graphql-server/**

marketplace:
  - packages/marketplace/**

marketplace-management:
  - packages/marketplace-management/**

payments-client:
  - packages/payments-client/**

payments-service:
  - packages/payments-service/**

reapit-connect:
  - packages/reapit-connect/**

security-header-lambda:
  - packages/security-header-lambda/**

ts-bundler:
  - packages/ts-bundler/**

ts-scripts:
  - packages/ts-scripts/**

utils-common:
  - packages/utils-common/**

utils-node:
  - packages/utils-node/**

utils-react:
  - packages/utils-react/**

utils-nest: -packages/utils-nest/**

fix: change env var to app_stage from node_env
  packages/deployment-service/src/pipeline/pipeline-setup-workflow.ts
Labels: deployment-service

fix: added node_env from app_stage
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

fix: change env var to app_stage from node_env (#11518)
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/src/pipeline/pipeline-setup-workflow.ts
Labels: deployment-service

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service

feat: data warehouse password validation changes
  packages/data-warehouse/src/components/accounts/account-provision-modal.tsx
  packages/data-warehouse/src/components/accounts/account-update-modal.tsx
Labels: data-warehouse

feat: data warehouse password validation changes (#11519)
  packages/data-warehouse/src/components/accounts/account-provision-modal.tsx
  packages/data-warehouse/src/components/accounts/account-update-modal.tsx
Labels: data-warehouse

feat: correct validation messages
  packages/developer-portal/src/components/register/index.tsx
Labels: developer-portal

refactor: added named wildcard params for express update
  packages/deployment-service/src/bitbucket/bitbucket-webhook-controller.ts
Labels: deployment-service

feat: updated vite packages
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.24.2-ab76e2ae8a-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.34.5-d425174563-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/esbuild-npm-0.24.2-0dcfc14be5-95425071c9.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  .yarn/cache/nanoid-npm-3.3.8-d22226208b-2d1766606c.zip
  .yarn/cache/picocolors-npm-1.1.1-4fede47cf1-e1cf46bf84.zip
  .yarn/cache/postcss-npm-8.5.1-90fd898a99-1fbd287531.zip
  .yarn/cache/rollup-npm-4.34.5-c94d6c156e-d6ad365045.zip
  .yarn/cache/vite-npm-6.1.0-47729056a0-5de360ac0e.zip
  packages/ts-scripts/package.json
  yarn.lock
Labels: dependencies, ts-scripts

feat: updated tsup
  .yarn/cache/chokidar-npm-4.0.3-962354fbb4-bf2a575ea5.zip
  .yarn/cache/debug-npm-4.4.0-f6efe76023-1847944c2e.zip
  .yarn/cache/fdir-npm-6.4.3-938f734d57-8e6d20f459.zip
  .yarn/cache/readdirp-npm-4.1.1-c531313b8b-e9a4a07b10.zip
  .yarn/cache/tinyexec-npm-0.3.2-381b1e349c-b9d5fed316.zip
  .yarn/cache/tinyglobby-npm-0.2.10-70bf4c34d9-10c976866d.zip
  .yarn/cache/tsup-npm-8.3.6-ef82662923-ee70995a5d.zip
  packages/app-marketplace-cms/package.json
  packages/deployment-service/package.json
  yarn.lock
Labels: dependencies, app-marketplace-cms, deployment-service

feat: updated css-loader
  .yarn/cache/css-loader-npm-7.1.2-7540f12884-ddde22fb10.zip
  packages/ts-scripts/package.json
  yarn.lock
Labels: dependencies, ts-scripts

refactor: ts scripts updates (#11520)
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.24.2-ab76e2ae8a-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.34.5-d425174563-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/chokidar-npm-4.0.3-962354fbb4-bf2a575ea5.zip
  .yarn/cache/css-loader-npm-7.1.2-7540f12884-ddde22fb10.zip
  .yarn/cache/debug-npm-4.4.0-f6efe76023-1847944c2e.zip
  .yarn/cache/esbuild-npm-0.24.2-0dcfc14be5-95425071c9.zip
  .yarn/cache/fdir-npm-6.4.3-938f734d57-8e6d20f459.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  .yarn/cache/nanoid-npm-3.3.8-d22226208b-2d1766606c.zip
  .yarn/cache/picocolors-npm-1.1.1-4fede47cf1-e1cf46bf84.zip
  .yarn/cache/postcss-npm-8.5.1-90fd898a99-1fbd287531.zip
  .yarn/cache/readdirp-npm-4.1.1-c531313b8b-e9a4a07b10.zip
  .yarn/cache/rollup-npm-4.34.5-c94d6c156e-d6ad365045.zip
  .yarn/cache/tinyexec-npm-0.3.2-381b1e349c-b9d5fed316.zip
  .yarn/cache/tinyglobby-npm-0.2.10-70bf4c34d9-10c976866d.zip
  .yarn/cache/tsup-npm-8.3.6-ef82662923-ee70995a5d.zip
  .yarn/cache/vite-npm-6.1.0-47729056a0-5de360ac0e.zip
  packages/app-marketplace-cms/package.json
  packages/deployment-service/package.json
  packages/ts-scripts/package.json
  yarn.lock
Labels: dependencies, app-marketplace-cms, deployment-service, ts-scripts

chore: bump data-warehouse version
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.24.2-ab76e2ae8a-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.34.5-d425174563-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.34.5-98224166dc-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/data-warehouse/package.json
Labels: dependencies, data-warehouse

feat: updated packages
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.24.2-ab76e2ae8a-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.34.5-d425174563-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.34.5-98224166dc-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
Labels: dependencies

fix: remove controller
  packages/deployment-service/src/pipeline-runner/module.ts
  packages/deployment-service/src/pipeline-runner/secret.pipeline.controller.ts
Labels: deployment-service

fix: remove controller (#11522)
  packages/deployment-service/src/pipeline-runner/module.ts
  packages/deployment-service/src/pipeline-runner/secret.pipeline.controller.ts
Labels: deployment-service

fix: remove verifyName column
  packages/deployment-service/migrations/1729084248683-AddDomainFields.ts
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.model.ts
Labels: deployment-service

feat: added deployment service dns endpoints
  packages/use-reapit-data/src/api-constants.ts
  packages/use-reapit-data/src/update-actions.ts
Labels: none

feat: started adding dns frontend components
  packages/developer-portal/src/components/apps/pipeline/pipeline-dns.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-page.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-tabs.tsx
Labels: developer-portal

feat: added migrations for missing columns
  packages/deployment-service/README.md
  packages/deployment-service/migrations/1729084248683-AddDomainFields.ts
  packages/deployment-service/migrations/index.ts
  packages/deployment-service/package.json
  packages/deployment-service/src/app-module.ts
  packages/deployment-service/src/dns/certificate.provider.ts
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.eventbridge.trigger.provider.ts
  packages/deployment-service/src/dns/dns.module.ts
  packages/deployment-service/src/dns/dns.provider.ts
  packages/deployment-service/src/dns/index.ts
  packages/developer-portal/src/components/apps/pipeline/pipeline-page.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-tabs.tsx
  packages/developer-portal/src/constants/routes.ts
  packages/utils-nest/src/auth/auth-provider-interface.ts
  packages/utils-nest/src/auth/guards/access-token-provider.ts
  packages/utils-nest/src/auth/guards/cred-types.ts
  yarn.lock
Labels: deployment-service, developer-portal

feat: added call for dns verify
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.provider.ts
  packages/developer-portal/src/components/apps/pipeline/pipeline-dns.tsx
  packages/use-reapit-data/src/api-constants.ts
  packages/use-reapit-data/src/update-actions.ts
Labels: deployment-service, developer-portal

fix: resolved annoying 'bucket already exists' issue
  packages/ts-scripts/src/cdk/components/s3-bucket.ts
Labels: ts-scripts

feat: commiting this so I don't lose it
  .yarn/cache/@aws-cdk-cloud-assembly-schema-npm-38.0.1-469647254b-fff5afc74d.zip
  packages/deployment-service/migrations/1729084248683-AddDomainFields.ts
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.provider.ts
  packages/ts-scripts/package.json
  yarn.lock
Labels: dependencies, deployment-service, ts-scripts

feat: experimenting with dns creationst status
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/migrations/1732024866737-AddDomainStatusField.ts
  packages/deployment-service/migrations/index.ts
  packages/deployment-service/src/aws/module.ts
  packages/deployment-service/src/dns/certificate.provider.ts
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.module.ts
  packages/deployment-service/src/dns/dns.provider.ts
  packages/deployment-service/src/entities/pipeline.entity.ts
Labels: deployment-service

feat: added ui for custom dns
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-four.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-one.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-three.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-two.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/index.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/setup-model.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
Labels: developer-portal

feat: added steps for dns setup frontend
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-one.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-three.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-two.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/index.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/setup-model.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-dns.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-page.tsx
  packages/use-reapit-data/src/api-constants.ts
  packages/use-reapit-data/src/get-actions.ts
Labels: developer-portal

feat: added eventbridge cross account trigger
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/dns-certificate-update.ts
  packages/deployment-service/src/dns-eventbridge.ts
  packages/deployment-service/tsup-zip.config.json
  packages/deployment-service/tsup.config.js
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
Labels: deployment-service, developer-portal

feat: added poc for cross region and account event bridge setup
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/cdk/lib/dns-certificate-update.ts
Labels: deployment-service

feat: design changes on dns frontend
  packages/developer-portal/src/components/apps/pipeline/dns/__styles__/index.ts
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-four.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-one.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-three.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-two.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/index.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/setup-model.tsx
Labels: developer-portal

feat: added fetch methods for dns info
  packages/use-reapit-data/src/api-constants.ts
  packages/use-reapit-data/src/get-actions.ts
Labels: none

fix: corrected tests for pipeline funcs
  packages/deployment-service/src/pipeline/__test__/pipeline-setup-workflow.test.ts
  packages/deployment-service/src/pipeline/__test__/pipeline-teardown-workflow.test.ts
Labels: deployment-service

feat: added poc for managing dns
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/cdk/lib/dns-certificate-update.ts
  packages/deployment-service/src/dns-eventbridge.ts
  packages/deployment-service/src/dns/dns.cloudfront.provider.ts
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.eventbridge.provider.ts
  packages/deployment-service/src/dns/dns.module.ts
  packages/deployment-service/src/pipeline/pipeline-provider.ts
  packages/deployment-service/src/pipeline/pipeline-teardown-workflow.ts
Labels: deployment-service

feat: navigate dns record setup
  packages/developer-portal/src/components/apps/pipeline/dns/__styles__/index.ts
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-three.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-two.tsx
Labels: developer-portal

fix: remove unused var
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-two.tsx
Labels: developer-portal

feat: updated snapshots
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-configure.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-new.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-tabs.test.tsx.snap
Labels: developer-portal

feat: added dns provider tests
  packages/deployment-service/src/dns/dns.provider.test.ts
  packages/deployment-service/src/dns/dns.provider.ts
Labels: deployment-service

feat: correct error message display
  packages/developer-portal/src/components/apps/pipeline/dns/__tests__/__snapshots__/dns-steps.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/dns/__tests__/dns-steps.test.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-three.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/setup-model.tsx
Labels: developer-portal

fix: remove comment blocks
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.eventbridge.trigger.provider.ts
Labels: deployment-service

chore: linting
  packages/developer-portal/src/components/apps/pipeline/dns/__tests__/dns-steps.test.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/setup-model.tsx
Labels: developer-portal

feat: added tests for dns controller
  packages/deployment-service/src/dns/dns.controller.test.ts
Labels: deployment-service
