Repository reapit/foundations, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, dependencies, admin-portal, app-builder, app-builder-backend, app-market, app-marketplace-cms, cli, cognito-custom-mail-lambda, config-manager, data-warehouse, deployment-service, developer-portal, geo-diary, graphql-server, marketplace, marketplace-management, payments-client, payments-service, reapit-connect, security-header-lambda, ts-bundler, ts-scripts, utils-common, utils-node, utils-react, utils-nest

.github/labeler.yml:

infra:
  - .github/**/*
  - scripts/**/*

dependencies:
  - .yarn/**/*

admin-portal:
  - packages/admin-portal/**

app-builder:
  - packages/app-builder/**

app-builder-backend:
  - packages/app-builder-backend/**

app-market:
  - packages/app-builder/**

app-marketplace-cms:
  - packages/app-marketplace-cms/**

cli:
  - packages/cli/**

cognito-custom-mail-lambda:
  - packages/cognito-custom-mail-lambda/**

config-manager:
  - packages/config-manager/**

data-warehouse:
  - packages/data-warehouse/**

deployment-service:
  - packages/deployment-service/**

developer-portal:
  - packages/developer-portal/**

geo-diary:
  - packages/geo-diary/**

graphql-server:
  - packages/graphql-server/**

marketplace:
  - packages/marketplace/**

marketplace-management:
  - packages/marketplace-management/**

payments-client:
  - packages/payments-client/**

payments-service:
  - packages/payments-service/**

reapit-connect:
  - packages/reapit-connect/**

security-header-lambda:
  - packages/security-header-lambda/**

ts-bundler:
  - packages/ts-bundler/**

ts-scripts:
  - packages/ts-scripts/**

utils-common:
  - packages/utils-common/**

utils-node:
  - packages/utils-node/**

utils-react:
  - packages/utils-react/**

utils-nest: -packages/utils-nest/**

chore: tweak coverage
  packages/rc-service/jest.config.js
Labels: none

feat: added migrations for missing columns
  packages/deployment-service/README.md
  packages/deployment-service/migrations/1729084248683-AddDomainFields.ts
  packages/deployment-service/migrations/index.ts
  packages/deployment-service/package.json
  packages/deployment-service/src/app-module.ts
  packages/deployment-service/src/dns/certificate.provider.ts
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.eventbridge.trigger.provider.ts
  packages/deployment-service/src/dns/dns.module.ts
  packages/deployment-service/src/dns/dns.provider.ts
  packages/deployment-service/src/dns/index.ts
  packages/developer-portal/src/components/apps/pipeline/pipeline-page.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-tabs.tsx
  packages/developer-portal/src/constants/routes.ts
  packages/utils-nest/src/auth/auth-provider-interface.ts
  packages/utils-nest/src/auth/guards/access-token-provider.ts
  packages/utils-nest/src/auth/guards/cred-types.ts
  yarn.lock
Labels: deployment-service, developer-portal

feat: added call for dns verify
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.provider.ts
  packages/developer-portal/src/components/apps/pipeline/pipeline-dns.tsx
  packages/use-reapit-data/src/api-constants.ts
  packages/use-reapit-data/src/update-actions.ts
Labels: deployment-service, developer-portal

feat: started adding dns frontend components
  packages/developer-portal/src/components/apps/pipeline/pipeline-dns.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-page.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-tabs.tsx
Labels: developer-portal

fix: remove verifyName column
  packages/deployment-service/migrations/1729084248683-AddDomainFields.ts
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.model.ts
Labels: deployment-service

feat: added deployment service dns endpoints
  packages/use-reapit-data/src/api-constants.ts
  packages/use-reapit-data/src/update-actions.ts
Labels: none

fix: resolved annoying 'bucket already exists' issue
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/ts-scripts/src/cdk/components/s3-bucket.ts
Labels: deployment-service, ts-scripts

fix: resolved deprecated mysql version
  packages/ts-scripts/src/cdk/components/rds-database.ts
Labels: ts-scripts

fix: revert aws-cdk-lib upgrade to prevent database deletion
  .yarn/cache/@aws-cdk-cloud-assembly-schema-npm-38.0.1-469647254b-fff5afc74d.zip
  packages/ts-scripts/package.json
  packages/ts-scripts/src/cdk/components/rds-database.ts
  yarn.lock
Labels: dependencies, ts-scripts

chore: bump deployment-service version
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/deployment-service/package.json
Labels: dependencies, deployment-service

feat: commiting this so I don't lose it
  .yarn/cache/@aws-cdk-cloud-assembly-schema-npm-38.0.1-469647254b-fff5afc74d.zip
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/migrations/1729084248683-AddDomainFields.ts
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.provider.ts
  packages/ts-scripts/package.json
  packages/ts-scripts/src/cdk/components/rds-database.ts
  yarn.lock
Labels: dependencies, deployment-service, ts-scripts

fix: revert aws-cdk-lib upgrade to prevent database deletion
  .yarn/cache/@aws-cdk-cloud-assembly-schema-npm-38.0.1-469647254b-fff5afc74d.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/ts-scripts/package.json
  yarn.lock
Labels: dependencies, ts-scripts

fix: revert aws-cdk-lib upgrade to prevent database deletion (#11479)
  .yarn/cache/@aws-cdk-cloud-assembly-schema-npm-38.0.1-469647254b-fff5afc74d.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/ts-scripts/package.json
  yarn.lock
Labels: dependencies, ts-scripts

chore: bump deployment-service version
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/deployment-service/package.json
Labels: dependencies, deployment-service

fix: change bucket names
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

fix: resolved bucket names
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

fix: change bucket names (#11480)
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service

refactor: change physical name gen method for s3 bucket
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

fix: rename buckets (#11481)
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service

fix: public access roles for dpeloyment service s3
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

fix: public access roles for dpeloyment service s3 (#11482)
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service

fix: remove block all
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

fix: remove block all (#11483)
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service

fix: remove public access
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

fix: remove public access (#11484)
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service

fix: change public bucket access;
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

fix: change public bucket access; (#11485)
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service

fix: bump database version
  packages/ts-scripts/src/cdk/components/rds-database.ts
Labels: ts-scripts

fix: bump database version (#11486)
  packages/ts-scripts/src/cdk/components/rds-database.ts
Labels: ts-scripts

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service

fix: remove migration script for deployment to dev
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

fix: remove migration script for deployment to dev (#11487)
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service
