Repository reapit/foundations, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, dependencies, admin-portal, app-builder, app-builder-backend, app-market, app-marketplace-cms, cli, cognito-custom-mail-lambda, config-manager, data-warehouse, deployment-service, developer-portal, geo-diary, graphql-server, marketplace, marketplace-management, payments-client, payments-service, reapit-connect, security-header-lambda, ts-bundler, ts-scripts, utils-common, utils-node, utils-react, utils-nest

chore: reduce coverage
  packages/deployment-service/jest.config.js
Labels: deployment-service

feat: increased max timeout for OAC custom resource
  packages/deployment-service/cdk/lib/resolve-production-OAC-custom-resource.ts
Labels: deployment-service

fix: added ioredis as external
  packages/app-marketplace-cms/tsup.config.js
Labels: app-marketplace-cms

chore: reduce global functions coverage
  packages/deployment-service/jest.config.js
Labels: deployment-service

chore: linting
  packages/deployment-service/src/deployment/__test__/deploy-provider.test.ts
Labels: deployment-service

feat: added form wizard and refactored register page
  packages/developer-portal/src/components/form-wizard/index.tsx
  packages/developer-portal/src/components/register/form-fields.ts
  packages/developer-portal/src/components/register/index.tsx
  packages/developer-portal/src/components/register/validation-schema.ts
Labels: developer-portal

feat: added generic types for use form functions
  packages/developer-portal/src/components/form-wizard/index.tsx
  packages/developer-portal/src/components/form-wizard/interface.ts
  packages/developer-portal/src/components/register/index.tsx
Labels: developer-portal

refactor: correct types for handling output
  packages/developer-portal/src/components/form-wizard/index.tsx
  packages/developer-portal/src/components/register/index.tsx
  packages/developer-portal/src/components/register/validation-schema.ts
Labels: developer-portal

fix: resolved website validation
  packages/developer-portal/src/components/register/index.tsx
  packages/developer-portal/src/components/register/validation-schema.ts
Labels: developer-portal

refactor: split form elements into seperate files
  packages/developer-portal/src/components/form-wizard/form-wizard-step.tsx
  packages/developer-portal/src/components/form-wizard/form-wizard.tsx
  packages/developer-portal/src/components/form-wizard/index.tsx
  packages/developer-portal/src/components/form-wizard/interface.ts
Labels: developer-portal

feat: test for form wizard steps
  packages/developer-portal/src/components/form-wizard/__tests__/form-wizard-step.test.tsx
  packages/developer-portal/src/components/form-wizard/interface.ts
Labels: developer-portal

feat: added snapshot for step wizard form
  packages/developer-portal/src/components/form-wizard/__tests__/__snapshots__/form-wizard.test.tsx.snap
  packages/developer-portal/src/components/form-wizard/__tests__/form-wizard.test.tsx
Labels: developer-portal

feat: added customised form submit button text
  packages/developer-portal/src/components/form-wizard/__tests__/form-wizard.test.tsx
  packages/developer-portal/src/components/form-wizard/form-wizard-step.tsx
  packages/developer-portal/src/components/form-wizard/form-wizard.tsx
  packages/developer-portal/src/components/form-wizard/interface.ts
  packages/developer-portal/src/components/register/index.tsx
Labels: developer-portal

feat: updated registration form snapshots
  packages/developer-portal/src/components/form-wizard/__tests__/__snapshots__/form-wizard.test.tsx.snap
  packages/developer-portal/src/components/register/__tests__/__snapshots__/index.test.tsx.snap
Labels: developer-portal

feat: added styling to formWizard
  packages/developer-portal/src/components/form-wizard/form-wizard-step.tsx
  packages/developer-portal/src/components/form-wizard/form-wizard.tsx
  packages/developer-portal/src/components/form-wizard/interface.ts
  packages/developer-portal/src/components/register/__styles__/index.ts
  packages/developer-portal/src/components/register/index.tsx
Labels: developer-portal

feat: updated snapshots
  packages/developer-portal/src/components/form-wizard/__tests__/__snapshots__/form-wizard.test.tsx.snap
  packages/developer-portal/src/components/register/__tests__/__snapshots__/index.test.tsx.snap
Labels: developer-portal

fix: remove comment
  packages/deployment-service/src/resolve-production-apply-OAC-to-all-distros.ts
Labels: deployment-service

refactor: handle one at a time with counter for confirmation
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/src/resolve-production-apply-OAC-to-all-distros.ts
Labels: deployment-service

feat: added iaas maintenance notification
  packages/developer-portal/src/components/iaas/index.tsx
Labels: developer-portal

feat: added oac to provisioned pipelines
  packages/deployment-service/src/pipeline/pipeline-setup-workflow.ts
Labels: deployment-service

feat: added iaas maintenance notification (#11511)
  packages/developer-portal/src/components/iaas/index.tsx
Labels: developer-portal

chore: disable pipelines during iaas deployment
  packages/developer-portal/src/components/apps/page/index.tsx
Labels: developer-portal

chore: linting
  packages/developer-portal/src/components/apps/page/index.tsx
Labels: developer-portal

feat: disable pipelines (#11513)
  packages/developer-portal/src/components/apps/page/index.tsx
Labels: developer-portal

chore: bump developer-portal version
  packages/developer-portal/package.json
Labels: developer-portal

fix: 739 RPLT custom resource s3 oac repair (#11507)
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/resolve-production-OAC-custom-resource.ts
  packages/deployment-service/cdk/lib/resolve-production-S3-bucket-permissions-custom-resource.ts
  packages/deployment-service/cdk/lib/resolve-production-S3-bucket-policies-custom-resource.ts
  packages/deployment-service/jest.config.js
  packages/deployment-service/package.json
  packages/deployment-service/src/resolve-production-apply-OAC-to-all-distros.ts
  packages/deployment-service/src/resolve-production-s3-bucket-permissions.ts
  packages/deployment-service/src/resolve-production-s3-bucket-policies.ts
  packages/deployment-service/src/resolve-production-s3-buckets.ts
  packages/deployment-service/tsup.config.js
Labels: deployment-service

chore: enable step two in IaaS produciton fixes
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service

chore: enable step two in IaaS produciton fixes (#11514)
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service

chore: step 3 of iaas production fix
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

chore: step 3 of iaas production fix (#11515)
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service

chore: iaas final step
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

chore: iaas final step (#11516)
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service

chore: revert changes and remove notice
  packages/developer-portal/src/components/apps/page/index.tsx
  packages/developer-portal/src/components/iaas/index.tsx
Labels: developer-portal

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service

chore: revert changes and remove notice (#11517)
  packages/developer-portal/src/components/apps/page/index.tsx
  packages/developer-portal/src/components/iaas/index.tsx
Labels: developer-portal

chore: bump developer-portal version
  packages/developer-portal/package.json
Labels: developer-portal

.github/labeler.yml:

infra:
  - .github/**/*
  - scripts/**/*

dependencies:
  - .yarn/**/*

admin-portal:
  - packages/admin-portal/**

app-builder:
  - packages/app-builder/**

app-builder-backend:
  - packages/app-builder-backend/**

app-market:
  - packages/app-builder/**

app-marketplace-cms:
  - packages/app-marketplace-cms/**

cli:
  - packages/cli/**

cognito-custom-mail-lambda:
  - packages/cognito-custom-mail-lambda/**

config-manager:
  - packages/config-manager/**

data-warehouse:
  - packages/data-warehouse/**

deployment-service:
  - packages/deployment-service/**

developer-portal:
  - packages/developer-portal/**

geo-diary:
  - packages/geo-diary/**

graphql-server:
  - packages/graphql-server/**

marketplace:
  - packages/marketplace/**

marketplace-management:
  - packages/marketplace-management/**

payments-client:
  - packages/payments-client/**

payments-service:
  - packages/payments-service/**

reapit-connect:
  - packages/reapit-connect/**

security-header-lambda:
  - packages/security-header-lambda/**

ts-bundler:
  - packages/ts-bundler/**

ts-scripts:
  - packages/ts-scripts/**

utils-common:
  - packages/utils-common/**

utils-node:
  - packages/utils-node/**

utils-react:
  - packages/utils-react/**

utils-nest: -packages/utils-nest/**
