Repository reapit/foundations, changes with the labels that .github/labeler.yml gives for each.
All labels: smb-onboarder, graphql-server, lifetime-legal, config-manager, cognito-auth, marketplace, foundations-ts-definitons, geo-diary, aml-checklist, elements, demo-site, web-components, web-components-config-server, cognito-custom-mail-lambda, react-app-scaffolder, admin-portal, developer-portal, connect-session, reapit-connect-welcome

.github/labeler.yml:

smb-onboarder:
  - packages/smb-onboarder/**

graphql-server:
  - packages/graphql-server/**

lifetime-legal:
  - packages/lifetime-legal/**

config-manager:
  - packages/config-manager/**

cognito-auth:
  - packages/cognito-auth/**

marketplace:
  - packages/marketplace/**

foundations-ts-definitons:
  - packages/foundations-ts-definitons/**

geo-diary:
  - packages/geo-diary/**
  - packages/geo-diary-v2/**

aml-checklist:
  - packages/aml-checklist/**

elements:
  - packages/elements/**
  - packages/elements-next/**

demo-site:
  - packages/demo-site/**

web-components:
  - packages/web-components/**

web-components-config-server:
  - packages/web-components-config-server/**

cognito-custom-mail-lambda:
  - packages/cognito-custom-mail-lambda/**

react-app-scaffolder:
  - packages/react-app-scaffolder/**

admin-portal:
  - packages/admin-portal/**

developer-portal:
  - packages/developer-portal/**

connect-session:
  - packages/connect-session/**

reapit-connect-welcome:
  - packages/reapit-connect/**

chore: add err handler for spreadsheet,add validate err string for smb
  packages/elements/src/components/Spreadsheet/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Spreadsheet/__tests__/index.tsx
  packages/elements/src/components/Spreadsheet/index.tsx
  packages/elements/src/components/Spreadsheet/types.tsx
  packages/elements/src/components/Spreadsheet/utils.tsx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/smb-onboarder/src/components/ui/negotiators-list/negotiators-list.tsx
  packages/smb-onboarder/src/components/ui/offices-tab/__tests__/offices-tab.tsx
  packages/smb-onboarder/src/components/ui/offices-tab/offices-tab.tsx
  packages/smb-onboarder/src/tests/badges/badge-branches.svg
Labels: smb-onboarder, elements

feat: #1685 Scaffolded a new react app for the property projector
  packages/property-projector/README.md
  packages/property-projector/config.example.json
  packages/property-projector/jest.config.js
  packages/property-projector/package.json
  packages/property-projector/public/index.html
  packages/property-projector/public/logo.png
  packages/property-projector/src/assets/images/reapit-connect.png
  packages/property-projector/src/assets/images/reapit-graphic.jpg
  packages/property-projector/src/components/hocs/__tests__/error-boundary.test.tsx
  packages/property-projector/src/components/hocs/error-boundary.tsx
  packages/property-projector/src/components/pages/__styles__/styles.ts
  packages/property-projector/src/components/pages/__tests__/authenticated.test.tsx
  packages/property-projector/src/components/pages/__tests__/login.test.tsx
  packages/property-projector/src/components/pages/authenticated.tsx
  packages/property-projector/src/components/pages/login.tsx
  packages/property-projector/src/components/ui/__tests__/menu.test.tsx
  packages/property-projector/src/components/ui/menu.tsx
  packages/property-projector/src/constants/api.ts
  packages/property-projector/src/constants/routes.ts
  packages/property-projector/src/core/__mocks__/mock-router.tsx
  packages/property-projector/src/core/__mocks__/router.tsx
  packages/property-projector/src/core/__tests__/app.test.tsx
  packages/property-projector/src/core/__tests__/connect-session.test.tsx
  packages/property-projector/src/core/__tests__/private-route-wrapper.test.tsx
  packages/property-projector/src/core/__tests__/router.test.tsx
  packages/property-projector/src/core/app.tsx
  packages/property-projector/src/core/connect-session.tsx
  packages/property-projector/src/core/index.tsx
  packages/property-projector/src/core/private-route-wrapper.tsx
  packages/property-projector/src/core/router.tsx
  packages/property-projector/src/platform-api/__mocks__/session.ts
  packages/property-projector/src/platform-api/__tests__/configuration-api.test.ts
  packages/property-projector/src/platform-api/configuration-api.ts
  packages/property-projector/src/styles/index.css
  packages/property-projector/src/types/core.ts
  packages/property-projector/src/types/global.d.ts
  packages/property-projector/src/types/index.d.ts
  packages/property-projector/tsconfig.json
Labels: none

chore: #2255 the smb app should be refactored to use the new connect session auth flow (#2269)
  packages/smb-onboarder/package.json
  packages/smb-onboarder/src/components/hocs/__tests__/__snapshots__/error-boundary.tsx.snap
  packages/smb-onboarder/src/components/hocs/__tests__/error-boundary.tsx
  packages/smb-onboarder/src/components/pages/get-started/__tests__/get-started.tsx
  packages/smb-onboarder/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/smb-onboarder/src/components/pages/login/__tests__/login.test.tsx
  packages/smb-onboarder/src/components/pages/login/login.tsx
  packages/smb-onboarder/src/components/ui/__tests__/__snapshots__/menu.test.tsx.snap
  packages/smb-onboarder/src/components/ui/__tests__/menu.test.tsx
  packages/smb-onboarder/src/components/ui/menu.tsx
  packages/smb-onboarder/src/constants/api.ts
  packages/smb-onboarder/src/context/__mocks__/mock-context.ts
  packages/smb-onboarder/src/context/__tests__/__snapshots__/auth-context.test.tsx.snap
  packages/smb-onboarder/src/context/__tests__/auth-context.test.tsx
  packages/smb-onboarder/src/context/auth-context.ts
  packages/smb-onboarder/src/context/index.ts
  packages/smb-onboarder/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/smb-onboarder/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/smb-onboarder/src/core/__tests__/__snapshots__/private-route.tsx.snap
  packages/smb-onboarder/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/smb-onboarder/src/core/__tests__/private-route-wrapper.tsx
  packages/smb-onboarder/src/core/__tests__/private-route.tsx
  packages/smb-onboarder/src/core/app.tsx
  packages/smb-onboarder/src/core/connect-session.ts
  packages/smb-onboarder/src/core/index.tsx
  packages/smb-onboarder/src/core/private-route-wrapper.tsx
  packages/smb-onboarder/src/core/private-route.tsx
  packages/smb-onboarder/src/core/router.tsx
  packages/smb-onboarder/src/graphql/__mocks__/token.ts
  packages/smb-onboarder/src/hooks/__tests__/__snapshots__/use-auth.test.tsx.snap
  packages/smb-onboarder/src/hooks/__tests__/use-auth.test.tsx
  packages/smb-onboarder/src/hooks/use-auth.ts
  packages/smb-onboarder/src/tests/badges/badge-branches.svg
  packages/smb-onboarder/src/tests/badges/badge-functions.svg
  packages/smb-onboarder/src/tests/badges/badge-lines.svg
  packages/smb-onboarder/src/tests/badges/badge-statements.svg
  packages/smb-onboarder/tsconfig.json
  packages/utils/src/get-default-value.ts
Labels: smb-onboarder

chore: #2250 test pipeline, revert in next commit
  packages/admin-portal/package.json
  packages/aml-checklist/package.json
  packages/api-docs-lamda/package.json
  packages/cloud-alert/package.json
  packages/cognito-auth/package.json
  packages/cognito-custom-mail-lambda/package.json
  packages/config-manager/package.json
  packages/connect-session/package.json
  packages/cra-template-foundations/package.json
  packages/demo-site/package.json
  packages/deploy-slack-bot/package.json
  packages/developer-portal/package.json
  packages/elements-next/package.json
  packages/elements/package.json
  packages/foundations-ts-definitions/package.json
  packages/geo-diary-v2/package.json
  packages/geo-diary/package.json
  packages/graphql-server/package.json
  packages/lifetime-legal/package.json
  packages/marketplace/package.json
  packages/react-app-scaffolder/package.json
  packages/reapit-connect/package.json
  packages/site-builder/package.json
  packages/smb-onboarder/package.json
  packages/utils/package.json
  packages/web-components-config-server/package.json
  packages/web-components/package.json
Labels: smb-onboarder, graphql-server, lifetime-legal, config-manager, cognito-auth, marketplace, geo-diary, aml-checklist, elements, demo-site, web-components, web-components-config-server, cognito-custom-mail-lambda, react-app-scaffolder, admin-portal, developer-portal, connect-session, reapit-connect-welcome

chore: #2250 revert test & add cache to release dev
  .github/workflows/release-dev.yml
  packages/admin-portal/package.json
  packages/aml-checklist/package.json
  packages/api-docs-lamda/package.json
  packages/cloud-alert/package.json
  packages/cognito-auth/package.json
  packages/cognito-custom-mail-lambda/package.json
  packages/config-manager/package.json
  packages/connect-session/package.json
  packages/cra-template-foundations/package.json
  packages/demo-site/package.json
  packages/deploy-slack-bot/package.json
  packages/developer-portal/package.json
  packages/elements-next/package.json
  packages/elements/package.json
  packages/foundations-ts-definitions/package.json
  packages/geo-diary-v2/package.json
  packages/geo-diary/package.json
  packages/graphql-server/package.json
  packages/lifetime-legal/package.json
  packages/marketplace/package.json
  packages/react-app-scaffolder/package.json
  packages/reapit-connect/package.json
  packages/site-builder/package.json
  packages/smb-onboarder/package.json
  packages/utils/package.json
  packages/web-components-config-server/package.json
  packages/web-components/package.json
Labels: smb-onboarder, graphql-server, lifetime-legal, config-manager, cognito-auth, marketplace, geo-diary, aml-checklist, elements, demo-site, web-components, web-components-config-server, cognito-custom-mail-lambda, react-app-scaffolder, admin-portal, developer-portal, connect-session, reapit-connect-welcome

fix: #2251 remove warning in analytics page
  packages/developer-portal/src/components/pages/analytics/analytics.tsx
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/filter-form.tsx
Labels: developer-portal

fix: #2261 update close button style
  packages/elements/src/components/ModalV2/__styles__/index.ts
  packages/elements/src/components/ModalV2/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/ModalV2/index.tsx
Labels: elements
