Repository reapit/foundations, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, dependencies, admin-portal, app-builder, app-builder-backend, app-market, app-marketplace-cms, cli, cognito-custom-mail-lambda, config-manager, data-warehouse, deployment-service, developer-portal, geo-diary, graphql-server, marketplace, marketplace-management, payments-client, payments-service, reapit-connect, security-header-lambda, ts-bundler, ts-scripts, utils-common, utils-node, utils-react, utils-nest

.github/labeler.yml:

infra:
  - .github/**/*
  - scripts/**/*

dependencies:
  - .yarn/**/*

admin-portal:
  - packages/admin-portal/**

app-builder:
  - packages/app-builder/**

app-builder-backend:
  - packages/app-builder-backend/**

app-market:
  - packages/app-builder/**

app-marketplace-cms:
  - packages/app-marketplace-cms/**

cli:
  - packages/cli/**

cognito-custom-mail-lambda:
  - packages/cognito-custom-mail-lambda/**

config-manager:
  - packages/config-manager/**

data-warehouse:
  - packages/data-warehouse/**

deployment-service:
  - packages/deployment-service/**

developer-portal:
  - packages/developer-portal/**

geo-diary:
  - packages/geo-diary/**

graphql-server:
  - packages/graphql-server/**

marketplace:
  - packages/marketplace/**

marketplace-management:
  - packages/marketplace-management/**

payments-client:
  - packages/payments-client/**

payments-service:
  - packages/payments-service/**

reapit-connect:
  - packages/reapit-connect/**

security-header-lambda:
  - packages/security-header-lambda/**

ts-bundler:
  - packages/ts-bundler/**

ts-scripts:
  - packages/ts-scripts/**

utils-common:
  - packages/utils-common/**

utils-node:
  - packages/utils-node/**

utils-react:
  - packages/utils-react/**

utils-nest: -packages/utils-nest/**

fix: added snapshots
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
Labels: dependencies

feat: deployment service message (#11500)
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/developer-portal/src/components/iaas/index.tsx
Labels: dependencies, developer-portal

chore: bump developer-portal version
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/developer-portal/package.json
Labels: dependencies, developer-portal

feat: rplt-735 alter email subject when requesting power bi access in data warehouse app
  packages/data-warehouse/src/components/network/network.tsx
  packages/data-warehouse/src/components/network/use-network-state.tsx
Labels: data-warehouse

feat: rplt-735 alter email subject when requesting power bi access in data warehouse app (#11501)
  packages/data-warehouse/src/components/network/network.tsx
  packages/data-warehouse/src/components/network/use-network-state.tsx
Labels: data-warehouse

chore: bump data-warehouse version
  packages/data-warehouse/package.json
Labels: data-warehouse

feat: disable pipelines
  packages/developer-portal/src/components/apps/page/index.tsx
Labels: developer-portal

feat: disable pipelines (#11503)
  packages/developer-portal/src/components/apps/page/index.tsx
Labels: developer-portal

chore: bump developer-portal version
  packages/developer-portal/package.json
Labels: developer-portal

refactor: remove database resolution custom resource
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/resolve-production-OAC-custom-resource.ts
Labels: deployment-service

refactor: remove database resolution files
  packages/deployment-service/cdk/lib/resolve-production-database-custom-resource.ts
  packages/deployment-service/src/resolve-production-database.ts
  packages/deployment-service/tsup.config.js
Labels: deployment-service

refactor: remove temp development replication
  packages/deployment-service/cdk/temp-cluster-stack.ts
  packages/deployment-service/src/temp-migration.ts
  packages/deployment-service/src/temp-s3-production-policy-match.ts
  packages/deployment-service/tsup.config.js
Labels: deployment-service

refactor: remove unrequired build and bundles
  packages/deployment-service/package.json
Labels: deployment-service

chore: remove comments
  packages/deployment-service/src/migration-run.ts
Labels: deployment-service

fix: typecheck for userinfomodel
  packages/utils-nest/src/auth/guards/access-token-provider.ts
Labels: none

chore: reduce branch coverage
  packages/deployment-service/jest.config.js
Labels: deployment-service

chore: bump deployment-service version
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/deployment-service/package.json
Labels: dependencies, deployment-service

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service

chore: bump deployment-service version
  packages/deployment-service/package.json
Labels: deployment-service

feat: re-enable pipelines
  packages/developer-portal/src/components/apps/page/index.tsx
  packages/developer-portal/src/components/iaas/index.tsx
Labels: developer-portal

feat: re-enable pipelines
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
Labels: dependencies

feat: re enable pipelines (#11505)
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/developer-portal/src/components/apps/page/index.tsx
  packages/developer-portal/src/components/iaas/index.tsx
Labels: dependencies, developer-portal

chore: bump developer-portal version
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/developer-portal/package.json
Labels: dependencies, developer-portal

fix: oac timeout to avoid rate limit
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/resolve-production-OAC-custom-resource.ts
  packages/deployment-service/cdk/lib/resolve-production-S3-bucket-custom-resource.ts
  packages/deployment-service/src/resolve-production-apply-OAC-to-all-distros.ts
  packages/deployment-service/src/resolve-production-s3-buckets.ts
Labels: deployment-service

feat: seperated s3 policies and permissions lambda
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/resolve-production-OAC-custom-resource.ts
  packages/deployment-service/cdk/lib/resolve-production-S3-bucket-permissions-custom-resource.ts
  packages/deployment-service/cdk/lib/resolve-production-S3-bucket-policies-custom-resource.ts
  packages/deployment-service/package.json
  packages/deployment-service/src/resolve-production-apply-OAC-to-all-distros.ts
  packages/deployment-service/src/resolve-production-s3-bucket-permissions.ts
  packages/deployment-service/src/resolve-production-s3-bucket-policies.ts
  packages/deployment-service/src/resolve-production-s3-buckets.ts
  packages/deployment-service/tsup.config.js
Labels: deployment-service

fix: commented out custom resources
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

fix: one line whitespace add to test codacy pulse
  packages/admin-portal/README.md
Labels: admin-portal

fix: one line whitespace add to test codacy pulse (#11506)
  packages/admin-portal/README.md
Labels: admin-portal

feat: added retries to the distro calls
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/resolve-production-OAC-custom-resource.ts
  packages/deployment-service/cdk/lib/resolve-production-S3-bucket-permissions-custom-resource.ts
  packages/deployment-service/cdk/lib/resolve-production-S3-bucket-policies-custom-resource.ts
  packages/deployment-service/src/pipeline/pipeline-setup-workflow.ts
  packages/deployment-service/src/resolve-production-apply-OAC-to-all-distros.ts
  packages/deployment-service/src/resolve-production-s3-bucket-policies.ts
Labels: deployment-service

feat: implemented S3 bucket changes in the correct order
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/src/resolve-production-s3-bucket-permissions.ts
Labels: deployment-service

fix: commented out custom resources so they can be ran in order
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

fix: readded pipeline OAC
  packages/deployment-service/src/pipeline/pipeline-setup-workflow.ts
Labels: deployment-service

chore: remove comments and console logs
  packages/deployment-service/src/resolve-production-s3-bucket-permissions.ts
Labels: deployment-service

feat: added set main contact button
  packages/admin-portal/src/components/developers/__tests__/__snapshots__/members-table.test.tsx.snap
  packages/admin-portal/src/components/developers/members-table.tsx
Labels: admin-portal

fix: remove cdk from jest coverage
  packages/deployment-service/jest.config.js
Labels: deployment-service

fix: reduce branch coverage level
  packages/deployment-service/jest.config.js
Labels: deployment-service

feat: added set main contact button (#11508)
  packages/admin-portal/src/components/developers/__tests__/__snapshots__/members-table.test.tsx.snap
  packages/admin-portal/src/components/developers/members-table.tsx
Labels: admin-portal

chore: bump admin-portal version
  .yarn/cache/@esbuild-darwin-arm64-npm-0.17.19-64d69299ed-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.21.5-62349c1520-10.zip
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.17.19-08a7136aa6-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.21.5-88079726c4-10.zip
  .yarn/cache/@esbuild-linux-x64-npm-0.23.1-e5d2d8764d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.24.0-9d2c88b8fe-10.zip
  .yarn/cache/@rollup-rollup-linux-x64-gnu-npm-4.24.0-a67121f2c9-10.zip
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  .yarn/cache/fsevents-patch-6b67494872-10.zip
  packages/admin-portal/package.json
Labels: dependencies, admin-portal

feat: updated nest packages in cms app marketplace
  packages/app-marketplace-cms/package.json
  yarn.lock
Labels: app-marketplace-cms

feat: updated nest packages in payments-service
  .yarn/cache/@nestjs-common-npm-9.4.3-1b6d11580a-6a9f7d4e01.zip
  .yarn/cache/@nestjs-config-npm-2.3.4-733d88321e-c06d4cfc48.zip
  .yarn/cache/@nestjs-core-npm-9.4.3-ed6d4d14f2-ca4e77504d.zip
  .yarn/cache/@nestjs-platform-express-npm-9.4.3-835ef24519-455706f4ba.zip
  .yarn/cache/@nestjs-testing-npm-9.4.3-23b1f8d795-a148ccfb05.zip
  .yarn/cache/@nuxtjs-opencollective-npm-0.3.2-72db6b3551-0512871f42.zip
  .yarn/cache/body-parser-npm-1.20.1-759fd14db9-5f8d128022.zip
  .yarn/cache/body-parser-npm-1.20.2-44738662cf-3cf171b821.zip
  .yarn/cache/consola-npm-2.15.3-7b4cf44fed-ba5b3c6960.zip
  .yarn/cache/cookie-npm-0.5.0-e2d58a161a-aae7911ddc.zip
  .yarn/cache/dotenv-npm-16.1.4-c4499a21eb-b0caa00283.zip
  .yarn/cache/express-npm-4.18.2-bb15ff679a-869ae89ed6.zip
  .yarn/cache/finalhandler-npm-1.2.0-593d001463-635718cb20.zip
  .yarn/cache/merge-descriptors-npm-1.0.1-615287aaa8-5abc259d2a.zip
  .yarn/cache/multer-npm-1.4.4-lts.1-23fbed83c0-b961837647.zip
  .yarn/cache/path-to-regexp-npm-0.1.7-2605347373-701c99e1f0.zip
  .yarn/cache/path-to-regexp-npm-3.2.0-daf7bbd038-3c86811e0d.zip
  .yarn/cache/qs-npm-6.11.0-caf1bc9dea-5a3bfea3e2.zip
  .yarn/cache/raw-body-npm-2.5.1-9dd1d9fff9-280bedc12d.zip
  .yarn/cache/send-npm-0.18.0-faadf6353f-ec66c0ad10.zip
  .yarn/cache/serve-static-npm-1.15.0-86c81879f5-699b2d4c29.zip
  .yarn/cache/tslib-npm-2.5.3-7756051e02-d507e60ebe.zip
  .yarn/cache/uuid-npm-9.0.0-46c41e3e43-23857699a6.zip
  packages/payments-service/package.json
  yarn.lock
Labels: dependencies, payments-service
