Repository reapit/foundations, pull requests merged in 2020-11, with the labels that each got.

#2917 fix: #2897 help chatbot should not load with page
  packages/developer-portal/src/components/pages/help/__tests__/help.test.tsx
  packages/developer-portal/src/components/pages/help/help.tsx
  packages/developer-portal/src/components/ui/help-item-list/__tests__/help-item-list.tsx
  packages/developer-portal/src/scripts/chat-bot.js
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#2928 feat: #2866 dev infra migration
  package.json
  packages/developer-portal/src/components/pages/analytics/__tests__/analytics.tsx
  packages/developer-portal/src/components/pages/analytics/detailed/__test__/detailed-tab.test.tsx
  packages/developer-portal/src/components/pages/analytics/detailed/__test__/installation-app-section.test.tsx
  packages/developer-portal/src/components/pages/register-confirm/__tests__/register-confirm.test.tsx
  packages/developer-portal/src/components/pages/settings/__tests__/tabs.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__tests__/accounts-information-form.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/__tests__/organisation-form.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/contact-information-form.test.tsx
  packages/developer-portal/src/components/ui/__tests__/menu.tsx
  packages/developer-portal/src/components/ui/developer-edition-modal/__tests__/developer-edition-modal.tsx
  packages/developer-portal/src/components/ui/submit-app-wizard/__tests__/submit-app-wizard-modal.test.tsx
  packages/developer-portal/src/core/__tests__/private-route-wrapper.tsx
  packages/developer-portal/src/sagas/__tests__/developer.ts
  packages/developer-portal/src/sagas/__tests__/settings.ts
  packages/developer-portal/src/sagas/apps/__test__/app-detail.test.ts
  packages/developer-portal/src/sagas/traffic-statistics/__tests__/traffic-statistics.ts
  packages/developer-portal/src/services/billing.ts
  scripts/webpack/webpack.config.dev.js
  yarn.lock
Labels: developer-portal

#2930 feat: #2866 dev infra migration
  package.json
  packages/admin-portal/src/core/private-route.tsx
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/aml-checklist/config.example.json
  packages/aml-checklist/src/constants/api.ts
  packages/aml-checklist/src/core/connect-session.ts
  packages/aml-checklist/src/core/index.tsx
  packages/aml-checklist/src/sagas/api.ts
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/aml-checklist/src/types/global.d.ts
  packages/api-docs-lamda/package.json
  packages/api-docs-lamda/serverless.yml
  packages/api-docs-lamda/yarn.lock
  packages/data-warehouse/src/core/index.tsx
  packages/data-warehouse/src/types/global.d.ts
  packages/deploy-slack-bot/config.example.json
  packages/deploy-slack-bot/package.json
  packages/deploy-slack-bot/yarn.lock
  packages/elements/config.example.json
  packages/elements/package.json
  packages/elements/purify-options.js
  packages/geo-diary/config.example.json
  packages/geo-diary/package.json
  packages/geo-diary/src/components/ui/appointment-detail-modal/appointment-detail-modal.tsx
  packages/geo-diary/src/core/connect-session.ts
  packages/geo-diary/src/core/index.tsx
  packages/geo-diary/src/types/global.d.ts
  packages/geo-diary/tsconfig.json
  packages/graphql-server/config.example.json
  packages/graphql-server/serverless.yml
  packages/payments-client/package.json
  packages/payments-client/src/components/pages/rentals.tsx
  packages/payments-client/src/components/ui/checkout-form.tsx
  packages/payments-client/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/payments-client/src/core/router.tsx
  packages/reapit-connect/config.example.json
  packages/reapit-connect/src/core/connect-session.ts
  packages/reapit-connect/src/core/index.tsx
  packages/reapit-connect/src/types/global.d.ts
  yarn.lock
Labels: admin-portal, aml-checklist, data-warehouse, elements, geo-diary, graphql-server, payments-client, reapit-connect-welcome

#2941 feat: #2866 updates configs to deploy to new dev
  packages/aml-checklist/serverless.yml
  packages/data-warehouse/package.json
  packages/data-warehouse/serverless.yml
  packages/geo-diary/serverless.yml
  packages/payments-client/package.json
  packages/payments-client/serverless.yml
  packages/reapit-connect/serverless.yml
Labels: aml-checklist, data-warehouse, geo-diary, payments-client, reapit-connect-welcome

#2945 feat: #2866 adds docs lambda endpoint
  packages/developer-portal/src/constants/iframe-urls.ts
Labels: developer-portal

#2947 chore: #2866 bump elements version
  packages/elements/package.json
Labels: elements

#2949 fix: #2866 fixes a couple of config issues
  packages/elements/package.json
  packages/graphql-server/README.md
  scripts/release/utils.js
Labels: elements, graphql-server

#2956 feat: #2919 sage pay form
  packages/payments-client/jest.config.js
  packages/payments-client/package.json
  packages/payments-client/public/index.html
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payments.test.tsx.snap
  packages/payments-client/src/components/pages/payments.tsx
  packages/payments-client/src/components/ui/__styles__/checkout-form.ts
  packages/payments-client/src/components/ui/__tests__/__snapshots__/menu.test.tsx.snap
  packages/payments-client/src/components/ui/menu.tsx
  packages/payments-client/src/constants/api.ts
  packages/payments-client/src/core/index.tsx
  packages/payments-client/src/opayo-api/merchant-key.ts
  packages/payments-client/src/opayo-api/transactions.ts
  packages/payments-client/src/payments-api/account.ts
  packages/payments-client/src/payments-api/stripe.ts
  packages/payments-client/src/styles/index.css
  packages/payments-client/src/styles/stripe.css
  packages/payments-client/src/tests/badges/badge-branches.svg
  packages/payments-client/src/tests/badges/badge-functions.svg
  packages/payments-client/src/tests/badges/badge-lines.svg
  packages/payments-client/src/tests/badges/badge-statements.svg
  packages/payments-client/src/types/global.d.ts
  packages/payments-client/src/types/opayo.ts
  packages/payments-client/src/utils/headers.ts
Labels: payments-client

#2959 fix: #2952 prevents app from throwing when negotiator id is undefined
  package.json
  packages/aml-checklist/src/sagas/checklist-detail.ts
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  scripts/webpack/webpack.config.dev.js
  yarn.lock
Labels: aml-checklist

#2967 fix: #2957 #2960 #2950 #2961 marketplace UI tweaks and fetching fixes
  packages/cognito-custom-mail-lambda/src/mailer/templates/ejs/forgotten-password.ejs
  packages/cognito-custom-mail-lambda/src/tests/badges/badge-branches.svg
  packages/cognito-custom-mail-lambda/src/tests/badges/badge-functions.svg
  packages/cognito-custom-mail-lambda/src/tests/badges/badge-lines.svg
  packages/cognito-custom-mail-lambda/src/tests/badges/badge-statements.svg
  packages/marketplace/package.json
  packages/marketplace/src/assets/images/coming-soon/Homesearch.jpg
  packages/marketplace/src/components/pages/app-detail/client/app-detail.tsx
  packages/marketplace/src/components/pages/app-management/__tests__/__snapshots__/apps-management.test.tsx.snap
  packages/marketplace/src/components/pages/app-management/apps-management.tsx
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/coming-soon.test.tsx.snap
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
  packages/marketplace/src/components/pages/installed-apps/__tests__/__snapshots__/installed-app-list.test.tsx.snap
  packages/marketplace/src/components/pages/installed-apps/__tests__/__snapshots__/installed-apps.test.tsx.snap
  packages/marketplace/src/components/pages/installed-apps/installed-app-list.tsx
  packages/marketplace/src/components/pages/installed-apps/installed-apps.tsx
  packages/marketplace/src/components/ui/__tests__/menu.tsx
  packages/marketplace/src/components/ui/app-list/__tests__/__snapshots__/app-list.tsx.snap
  packages/marketplace/src/components/ui/app-list/app-list.tsx
  packages/marketplace/src/components/ui/app-sidebar/__tests__/app-sidebar.tsx
  packages/marketplace/src/components/ui/featured-app/__tests__/__snapshots__/featured-app.tsx.snap
  packages/marketplace/src/components/ui/featured-app/featured-app.tsx
  packages/marketplace/src/core/__styles__/fade-in.ts
  packages/marketplace/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/marketplace/src/core/__tests__/private-route-wrapper.tsx
  packages/marketplace/src/core/private-route-wrapper.tsx
  packages/marketplace/src/core/private-route.tsx
  packages/marketplace/src/reducers/apps/list.ts
  packages/marketplace/src/sagas/apps/apps.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/__tests__/browse-app.ts
  packages/marketplace/src/utils/__tests__/route-dispatcher.ts
  packages/marketplace/src/utils/browse-app.ts
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: cognito-custom-mail-lambda, marketplace

#2972 feat: #2948 update provisioning to long poll for data warehouse
  packages/cra-template-foundations/template/src/components/ui/menu.tsx
  packages/data-warehouse/jest.config.js
  packages/data-warehouse/src/components/hocs/__tests__/error-boundary.test.tsx
  packages/data-warehouse/src/components/pages/accounts/__styles__/account-progress-bar.ts
  packages/data-warehouse/src/components/pages/accounts/__tests__/__snapshots__/account-progress-bar.test.tsx.snap
  packages/data-warehouse/src/components/pages/accounts/__tests__/__snapshots__/account-provision-modal.test.tsx.snap
  packages/data-warehouse/src/components/pages/accounts/__tests__/__snapshots__/account-update-modal.test.tsx.snap
  packages/data-warehouse/src/components/pages/accounts/__tests__/__snapshots__/accounts-table.test.tsx.snap
  packages/data-warehouse/src/components/pages/accounts/__tests__/__snapshots__/accounts.test.tsx.snap
  packages/data-warehouse/src/components/pages/accounts/__tests__/account-handlers.test.ts
  packages/data-warehouse/src/components/pages/accounts/__tests__/account-progress-bar.test.tsx
  packages/data-warehouse/src/components/pages/accounts/__tests__/account-provision-modal.test.tsx
  packages/data-warehouse/src/components/pages/accounts/__tests__/account-update-modal.test.tsx
  packages/data-warehouse/src/components/pages/accounts/__tests__/accounts-table.test.tsx
  packages/data-warehouse/src/components/pages/accounts/__tests__/accounts.test.tsx
  packages/data-warehouse/src/components/pages/accounts/account-handlers.ts
  packages/data-warehouse/src/components/pages/accounts/account-progress-bar.tsx
  packages/data-warehouse/src/components/pages/accounts/account-provision-modal.tsx
  packages/data-warehouse/src/components/pages/accounts/account-update-modal.tsx
  packages/data-warehouse/src/components/pages/accounts/accounts-table.tsx
  packages/data-warehouse/src/components/pages/accounts/accounts.tsx
  packages/data-warehouse/src/components/pages/data/__tests__/__snapshots__/data-sets-table.test.tsx.snap
  packages/data-warehouse/src/components/pages/data/__tests__/__snapshots__/data.test.tsx.snap
  packages/data-warehouse/src/components/pages/data/__tests__/__snapshots__/shares-table.test.tsx.snap
  packages/data-warehouse/src/components/pages/data/__tests__/data-handlers.test.ts
  packages/data-warehouse/src/components/pages/data/__tests__/data-sets-table.test.tsx
  packages/data-warehouse/src/components/pages/data/__tests__/data.test.tsx
  packages/data-warehouse/src/components/pages/data/__tests__/shares-table.test.tsx
  packages/data-warehouse/src/components/pages/data/data-handlers.ts
  packages/data-warehouse/src/components/pages/data/data-sets-table.tsx
  packages/data-warehouse/src/components/pages/data/data.tsx
  packages/data-warehouse/src/components/pages/data/shares-table.tsx
  packages/data-warehouse/src/components/ui/__tests__/__snapshots__/toast.test.tsx.snap
  packages/data-warehouse/src/components/ui/__tests__/toast.test.tsx
  packages/data-warehouse/src/components/ui/toast.tsx
  packages/data-warehouse/src/context/__tests__/__snapshots__/message-context.test.tsx.snap
  packages/data-warehouse/src/context/message-context.tsx
  packages/data-warehouse/src/services/__stubs__/accounts.ts
  packages/data-warehouse/src/services/__tests__/accounts.test.ts
  packages/data-warehouse/src/services/__tests__/shares.test.ts
  packages/data-warehouse/src/services/accounts.ts
  packages/data-warehouse/src/services/requests.ts
  packages/data-warehouse/src/tests/badges/badge-branches.svg
  packages/data-warehouse/src/tests/badges/badge-functions.svg
  packages/data-warehouse/src/tests/badges/badge-lines.svg
  packages/data-warehouse/src/tests/badges/badge-statements.svg
  packages/data-warehouse/src/types/accounts.ts
  packages/developer-portal/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/developer-portal/src/components/ui/__tests__/__snapshots__/toast-message.test.tsx.snap
  packages/elements/src/components/ToastMessage/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/ToastMessage/index.tsx
  packages/elements/src/styles/components/toast.scss
Labels: data-warehouse, developer-portal, elements

#2977 feat: #2976 tweaks for data warehouse prod release
  packages/data-warehouse/jest.config.js
  packages/data-warehouse/src/components/pages/accounts/__tests__/__snapshots__/account-progress-bar.test.tsx.snap
  packages/data-warehouse/src/components/pages/accounts/__tests__/__snapshots__/account-provision-modal.test.tsx.snap
  packages/data-warehouse/src/components/pages/accounts/__tests__/__snapshots__/account-update-modal.test.tsx.snap
  packages/data-warehouse/src/components/pages/accounts/__tests__/account-handlers.test.ts
  packages/data-warehouse/src/components/pages/accounts/account-handlers.ts
  packages/data-warehouse/src/components/pages/accounts/account-progress-bar.tsx
  packages/data-warehouse/src/components/pages/accounts/account-provision-modal.tsx
  packages/data-warehouse/src/components/pages/accounts/account-update-modal.tsx
  packages/data-warehouse/src/components/pages/accounts/accounts-table.tsx
  packages/data-warehouse/src/components/pages/data/__tests__/__snapshots__/data-sets-table.test.tsx.snap
  packages/data-warehouse/src/components/pages/data/__tests__/__snapshots__/data.test.tsx.snap
  packages/data-warehouse/src/components/pages/data/__tests__/__snapshots__/shares-table.test.tsx.snap
  packages/data-warehouse/src/components/pages/data/__tests__/data-sets-table.test.tsx
  packages/data-warehouse/src/components/pages/data/data-sets-table.tsx
  packages/data-warehouse/src/components/pages/data/data.tsx
  packages/data-warehouse/src/components/pages/data/shares-table.tsx
  packages/data-warehouse/src/components/ui/__tests__/__snapshots__/menu.test.tsx.snap
  packages/data-warehouse/src/components/ui/__tests__/menu.test.tsx
  packages/data-warehouse/src/services/accounts.ts
  packages/data-warehouse/src/tests/badges/badge-branches.svg
  packages/data-warehouse/src/tests/badges/badge-functions.svg
  packages/data-warehouse/src/tests/badges/badge-lines.svg
  packages/data-warehouse/src/tests/badges/badge-statements.svg
Labels: data-warehouse

#2988 feat: #2865 members must accept t&cs
  packages/developer-portal/src/components/ui/__tests__/__snapshots__/index.tsx.snap
  packages/developer-portal/src/components/ui/__tests__/__snapshots__/terms-and-conditions-modal.tsx.snap
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/__styles__/terms-and-conditions.ts
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/index.tsx
  packages/developer-portal/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/developer-portal/src/core/__tests__/private-route-wrapper.tsx
  packages/developer-portal/src/core/private-route-wrapper.tsx
  packages/developer-portal/src/reducers/__stubs__/app-state.ts
  packages/developer-portal/src/reducers/current-member/__tests__/current-member.test.ts
  packages/developer-portal/src/reducers/current-member/current-member.ts
  packages/developer-portal/src/selector/current-member/__tests__/current-member.test.ts
  packages/developer-portal/src/selector/current-member/current-member.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#2991 feat: #2864 updates to ts and cs
  packages/developer-portal/src/assets/files/foundations-terms-160620.pdf
  packages/developer-portal/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/schedule-three.tsx.snap
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/schedule-three.tsx
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  yarn.lock
Labels: developer-portal

#2993 feat: #2990 tweaks to data warehouse
  packages/data-warehouse/src/components/pages/data/__tests__/__snapshots__/data-sets-table.test.tsx.snap
  packages/data-warehouse/src/components/pages/data/__tests__/__snapshots__/shares-table.test.tsx.snap
  packages/data-warehouse/src/components/pages/data/data-sets-table.tsx
  packages/data-warehouse/src/components/pages/data/shares-table.tsx
  packages/data-warehouse/src/tests/badges/badge-branches.svg
  packages/data-warehouse/src/tests/badges/badge-functions.svg
  packages/data-warehouse/src/tests/badges/badge-lines.svg
  packages/data-warehouse/src/tests/badges/badge-statements.svg
Labels: data-warehouse

#2994 fix: #2864 removed cost warnings
  packages/developer-portal/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/schedule-two.tsx.snap
  packages/developer-portal/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/terms-and-conditions.tsx.snap
  packages/developer-portal/src/components/ui/__tests__/terms-and-conditions-modal/terms-and-conditions.tsx
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/__styles__/terms-and-conditions.ts
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/index.tsx
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/schedule-two.tsx
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/terms-and-conditions.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#2996 feat: #2987 coming soon data warehouse
  packages/marketplace/src/assets/images/coming-soon/DataWarehouse.jpg
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#3001 fix: #2865 text update t and cs
  .github/workflows/foundation-ts-definition-cronjob.yml
  packages/developer-portal/src/components/ui/__tests__/__snapshots__/index.tsx.snap
  packages/developer-portal/src/components/ui/__tests__/__snapshots__/terms-and-conditions-modal.tsx.snap
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/index.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#2981 feat: #2877 Create a subscriptions section on the Admin Portal
  packages/admin-portal/src/actions/__tests__/subscriptions.ts
  packages/admin-portal/src/actions/subscriptions.ts
  packages/admin-portal/src/components/pages/subscriptions/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/pages/subscriptions/__tests__/index.test.tsx
  packages/admin-portal/src/components/pages/subscriptions/index.tsx
  packages/admin-portal/src/components/ui/__tests__/subscriptions/__snapshots__/subscription-member-cell.test.tsx.snap
  packages/admin-portal/src/components/ui/__tests__/subscriptions/__snapshots__/subscriptions-filter-form.test.tsx.snap
  packages/admin-portal/src/components/ui/__tests__/subscriptions/subscription-member-cell.test.tsx
  packages/admin-portal/src/components/ui/__tests__/subscriptions/subscriptions-filter-form.test.tsx
  packages/admin-portal/src/components/ui/menu.tsx
  packages/admin-portal/src/components/ui/subscriptions/subscription-cancel-confirm.tsx
  packages/admin-portal/src/components/ui/subscriptions/subscription-member-name-cell.tsx
  packages/admin-portal/src/components/ui/subscriptions/subscriptions-filter-form.tsx
  packages/admin-portal/src/constants/action-types.ts
  packages/admin-portal/src/constants/routes.ts
  packages/admin-portal/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/admin-portal/src/core/router.tsx
  packages/admin-portal/src/core/store.ts
  packages/admin-portal/src/reducers/__stubs__/app-state.ts
  packages/admin-portal/src/reducers/__tests__/subscriptions/list.test.ts
  packages/admin-portal/src/reducers/subscriptions/index.ts
  packages/admin-portal/src/reducers/subscriptions/list.ts
  packages/admin-portal/src/sagas/subscriptions/__stubs__/index.ts
  packages/admin-portal/src/sagas/subscriptions/__tests__/index.ts
  packages/admin-portal/src/sagas/subscriptions/index.ts
  packages/admin-portal/src/selector/admin.ts
  packages/admin-portal/src/services/constants.ts
  packages/admin-portal/src/services/subscriptions.ts
  packages/admin-portal/src/types/core.ts
  packages/utils/src/constants/error-messages.ts
  packages/utils/src/object.ts
Labels: admin-portal, elements

#3008 fix: #3005 ts definitions deploy not working revised
  .eslintignore
  .github/workflows/foundation-ts-definition-cronjob.yml
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/foundations-ts-definitions/config.example.json
  packages/foundations-ts-definitions/package.json
  packages/foundations-ts-definitions/scripts/constants.js
  packages/foundations-ts-definitions/scripts/create-index-file.js
  packages/foundations-ts-definitions/scripts/fetch-definition.js
  packages/foundations-ts-definitions/scripts/fetch-definitions.js
  packages/foundations-ts-definitions/scripts/fetch-marketplace-definition.js
  packages/foundations-ts-definitions/scripts/release-github.js
  packages/foundations-ts-definitions/scripts/release-npm.js
  packages/foundations-ts-definitions/scripts/update-npm.js
  packages/foundations-ts-definitions/types/index.ts
  packages/foundations-ts-definitions/types/marketplace-schema.ts
  packages/foundations-ts-definitions/types/platform-schema.ts
Labels: admin-portal

#3012 chore: Update testing admin-portal subscription
  packages/admin-portal/src/components/pages/subscriptions/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/pages/subscriptions/__tests__/index.test.tsx
  packages/admin-portal/src/components/ui/__tests__/subscriptions/__snapshots__/subscription-cancel-confirm.test.tsx.snap
  packages/admin-portal/src/components/ui/__tests__/subscriptions/__snapshots__/subscription-member-cell.test.tsx.snap
  packages/admin-portal/src/components/ui/__tests__/subscriptions/subscription-cancel-confirm.test.tsx
  packages/admin-portal/src/components/ui/__tests__/subscriptions/subscription-member-cell.test.tsx
  packages/admin-portal/src/components/ui/__tests__/subscriptions/subscriptions-filter-form.test.tsx
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
Labels: admin-portal

#3015 feat: #2649 updates connect mailer copy
  packages/cognito-custom-mail-lambda/src/mailer/__tests__/custom-mailer.ts
  packages/cognito-custom-mail-lambda/src/mailer/custom-mailer.ts
  packages/cognito-custom-mail-lambda/src/mailer/templates/ejs/admin-user-invite.ejs
  packages/cognito-custom-mail-lambda/src/mailer/templates/ejs/confirm-registration.ejs
  packages/cognito-custom-mail-lambda/src/mailer/templates/ejs/forgotten-password.ejs
Labels: cognito-custom-mail-lambda

#3016 feat: #2649 fixes email templates
  package.json
  packages/cognito-custom-mail-lambda/src/mailer/__tests__/custom-mailer.ts
  packages/cognito-custom-mail-lambda/src/mailer/custom-mailer.ts
  packages/cognito-custom-mail-lambda/src/mailer/templates/ejs/admin-user-invite.ejs
  packages/cognito-custom-mail-lambda/src/mailer/templates/ejs/forgotten-password.ejs
  yarn.lock
Labels: cognito-custom-mail-lambda

#3019 feat: #2943 Update the app aside in the marketplace developer preview
  packages/developer-portal/src/components/pages/app-detail-preview/client/__tests__/__snapshots__/contact-developer-modal.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail-preview/client/__tests__/__snapshots__/contact-developer-section.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail-preview/client/__tests__/contact-developer-section.test.tsx
  packages/developer-portal/src/components/pages/app-detail-preview/client/app-content.tsx
  packages/developer-portal/src/components/pages/app-detail-preview/client/aside.tsx
  packages/developer-portal/src/components/pages/app-detail-preview/client/contact-developer-modal.tsx
  packages/developer-portal/src/components/pages/app-detail-preview/client/contact-developer-section.tsx
  packages/developer-portal/src/components/pages/app-detail-preview/common/__tests__/__snapshots__/ui-sections.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail-preview/common/__tests__/ui-sections.test.tsx
  packages/developer-portal/src/components/pages/app-detail-preview/common/ui-sections.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/aside.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/contact-developer-modal.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/contact-developer-section.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/contact-developer-section.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-content.tsx
  packages/marketplace/src/components/pages/app-detail/client/aside.tsx
  packages/marketplace/src/components/pages/app-detail/client/contact-developer-modal.tsx
  packages/marketplace/src/components/pages/app-detail/client/contact-developer-section.tsx
  packages/marketplace/src/components/pages/app-detail/common/__tests__/__snapshots__/ui-sections.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/common/__tests__/ui-sections.test.tsx
  packages/marketplace/src/components/pages/app-detail/common/ui-sections.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: developer-portal, marketplace

#3022 fix: #2992 a couple of small ui issues
  packages/developer-portal/src/components/pages/help/__tests__/__snapshots__/help.test.tsx.snap
  packages/developer-portal/src/components/ui/help-item-list/__tests__/__snapshots__/help-item-list.tsx.snap
  packages/developer-portal/src/components/ui/help-item-list/help-item-list.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/components/pages/appointment/__styles__/index.ts
  packages/geo-diary/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/geo-diary/src/components/pages/login/login.tsx
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
Labels: developer-portal, geo-diary

#3021 feat: #2942 Add additional fields T&C's and Privacy Policy (UI Only)
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/general-information-section.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/form-schema/form-fields.ts
  packages/developer-portal/src/components/pages/edit-app/general-information-section.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
Labels: developer-portal, geo-diary

#3031 feat: #2877 Rename developer label, change type to select input
  packages/admin-portal/src/components/pages/subscriptions/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/ui/__tests__/subscriptions/__snapshots__/subscriptions-filter-form.test.tsx.snap
  packages/admin-portal/src/components/ui/subscriptions/subscriptions-filter-form.tsx
  packages/admin-portal/src/constants/subscriptionTypes.ts
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
Labels: admin-portal

#3032 feat: #3024 cloud scheme install app, feature flag contact section
  packages/developer-portal/src/components/pages/app-detail-preview/client/contact-developer-section.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/app-install-confirmation.tsx
  packages/marketplace/src/components/pages/app-detail/client/contact-developer-section.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: developer-portal, marketplace

#3036 feat: #2974 elements custom card form
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/elements/src/components/CardInputGroup/__tests__/__snapshots__/card-expires-input.test.tsx.snap
  packages/elements/src/components/CardInputGroup/__tests__/__snapshots__/card-input-group.test.tsx.snap
  packages/elements/src/components/CardInputGroup/__tests__/__snapshots__/card-input.test.tsx.snap
  packages/elements/src/components/CardInputGroup/__tests__/card-expires-input.test.tsx
  packages/elements/src/components/CardInputGroup/__tests__/card-helpers.test.ts
  packages/elements/src/components/CardInputGroup/__tests__/card-input-group.test.tsx
  packages/elements/src/components/CardInputGroup/__tests__/card-input.test.tsx
  packages/elements/src/components/CardInputGroup/card-country-options.ts
  packages/elements/src/components/CardInputGroup/card-expires-input.tsx
  packages/elements/src/components/CardInputGroup/card-helpers.ts
  packages/elements/src/components/CardInputGroup/card-input-group.stories.tsx
  packages/elements/src/components/CardInputGroup/card-input-group.tsx
  packages/elements/src/components/CardInputGroup/card-input.tsx
  packages/elements/src/components/CardInputGroup/index.tsx
  packages/elements/src/index.tsx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/foundations-ts-definitions/package.json
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/payments-client/src/components/pages/payments.tsx
  packages/payments-client/src/tests/badges/badge-branches.svg
  packages/payments-client/src/tests/badges/badge-functions.svg
  packages/payments-client/src/tests/badges/badge-lines.svg
  packages/payments-client/src/tests/badges/badge-statements.svg
  packages/reapit-connect/src/tests/badges/badge-branches.svg
  packages/reapit-connect/src/tests/badges/badge-functions.svg
  packages/reapit-connect/src/tests/badges/badge-lines.svg
  packages/reapit-connect/src/tests/badges/badge-statements.svg
Labels: admin-portal, aml-checklist, developer-portal, elements, geo-diary, marketplace, payments-client, reapit-connect-welcome

#3043 feat: #3040 #3033 #3034 #3037 coming soon marketplace updates
  packages/developer-portal/src/components/ui/menu.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/marketplace/src/assets/images/coming-soon/Barbuck.jpg
  packages/marketplace/src/assets/images/coming-soon/Canopy.jpg
  packages/marketplace/src/assets/images/coming-soon/Coadjute.jpg
  packages/marketplace/src/assets/images/coming-soon/Data8.jpg
  packages/marketplace/src/assets/images/coming-soon/FCCParagon.jpg
  packages/marketplace/src/assets/images/coming-soon/Facebook.jpg
  packages/marketplace/src/assets/images/coming-soon/Homehero.jpg
  packages/marketplace/src/assets/images/coming-soon/Leadpro.jpg
  packages/marketplace/src/assets/images/coming-soon/Nichecom.jpg
  packages/marketplace/src/assets/images/coming-soon/Notify.jpg
  packages/marketplace/src/assets/images/coming-soon/Propoly.jpg
  packages/marketplace/src/assets/images/coming-soon/SMSWorks.jpg
  packages/marketplace/src/assets/images/coming-soon/Signature.jpg
  packages/marketplace/src/assets/images/coming-soon/Spinify.jpg
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-content.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/app-content.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-detail.tsx
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
  packages/marketplace/src/components/ui/menu.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: developer-portal, marketplace

#3042 fix: #2943 remove bold from link contact section
  packages/developer-portal/src/components/pages/app-detail-preview/client/contact-developer-section.tsx
  packages/developer-portal/src/styles/elements/link.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/marketplace/src/components/pages/app-detail/client/contact-developer-section.tsx
  packages/marketplace/src/core/__styles__/elements.ts
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: developer-portal, marketplace

#3041 fix: #3006 preview category color
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/components/pages/app-detail-preview/__styles__/app-detail.ts
  packages/developer-portal/src/components/pages/app-detail-preview/client/__tests__/__snapshots__/aside.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail-preview/client/__tests__/aside.test.tsx
  packages/developer-portal/src/components/pages/app-detail-preview/client/aside.tsx
  packages/developer-portal/src/components/pages/app-detail-preview/common/__tests__/__snapshots__/ui-sections.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail-preview/common/ui-helpers.tsx
  packages/developer-portal/src/components/pages/app-detail-preview/common/ui-sections.tsx
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/app-aside.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/app-status.section.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/sections.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/app-revision-modal/__test__/__snapshots__/app-revision-modal.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/app-revision-modal/app-revision-comparison/__tests__/__snapshots__/app-revision-comparison.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/developer-edit-app.test.tsx
  packages/developer-portal/src/sagas/__stubs__/app-detail.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/utils/route-dispatcher.ts
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/payments-client/src/tests/badges/badge-branches.svg
  packages/payments-client/src/tests/badges/badge-functions.svg
  packages/payments-client/src/tests/badges/badge-lines.svg
  packages/payments-client/src/tests/badges/badge-statements.svg
  packages/reapit-connect/src/tests/badges/badge-branches.svg
  packages/reapit-connect/src/tests/badges/badge-functions.svg
  packages/reapit-connect/src/tests/badges/badge-lines.svg
  packages/reapit-connect/src/tests/badges/badge-statements.svg
Labels: admin-portal, aml-checklist, developer-portal, elements, geo-diary, marketplace, payments-client, reapit-connect-welcome

#3047 fix: #2943 Fix spacing between field lines
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/general-information-section.test.tsx.snap
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/elements/src/components/SelectBox/index.tsx
  packages/elements/src/components/TextAreaEditor/index.tsx
Labels: admin-portal, aml-checklist, developer-portal, elements, geo-diary, marketplace, reapit-connect-welcome

#3050 fix: #3044 #3048 #3049 marketplace fixes
  packages/aml-checklist/src/components/ui/__tests__/__snapshots__/aml-progressbar.tsx.snap
  packages/aml-checklist/src/components/ui/aml-progressbar.tsx
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/marketplace/src/assets/images/coming-soon/Canopy.jpg
  packages/marketplace/src/assets/images/coming-soon/Data8.jpg
  packages/marketplace/src/assets/images/coming-soon/Facebook.jpg
  packages/marketplace/src/assets/images/coming-soon/Homesearch.jpg
  packages/marketplace/src/assets/images/coming-soon/Notify.jpg
  packages/marketplace/src/assets/images/coming-soon/OnTheMarket.jpg
  packages/marketplace/src/assets/images/coming-soon/RightMove.jpg
  packages/marketplace/src/assets/images/coming-soon/Spinify.jpg
  packages/marketplace/src/assets/images/coming-soon/Zoopla.jpg
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/app-detail.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: aml-checklist, marketplace

#3055 chore: #2974 release elements
  packages/elements/package.json
Labels: elements

#3056 feat: #3052 direct api installed apps
  packages/developer-portal/src/components/pages/app-detail-preview/client/__tests__/__snapshots__/aside.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail-preview/common/__tests__/__snapshots__/ui-sections.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail-preview/common/ui-sections.tsx
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/sections.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/app-revision-modal/app-revision-comparison/__tests__/__snapshots__/app-revision-comparison.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/app-revision-modal/app-revision-comparison/app-revision-comparison.tsx
  packages/developer-portal/src/components/pages/app-detail/app-sections.tsx
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/marketplace-status-section.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/form-schema/form-fields.ts
  packages/developer-portal/src/components/pages/edit-app/marketplace-status-section.tsx
  packages/developer-portal/src/components/ui/apps/app-card/__tests__/__snapshots__/app-card.test.tsx.snap
  packages/developer-portal/src/components/ui/apps/app-card/app-card.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/marketplace/src/components/pages/app-detail/common/__tests__/__snapshots__/ui-sections.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/common/ui-sections.tsx
  packages/marketplace/src/components/pages/installed-apps/__styles__/installed-app-list.ts
  packages/marketplace/src/components/pages/installed-apps/__tests__/__snapshots__/installed-app-list.test.tsx.snap
  packages/marketplace/src/components/pages/installed-apps/__tests__/__snapshots__/installed-apps.test.tsx.snap
  packages/marketplace/src/components/pages/installed-apps/installed-app-card.tsx
  packages/marketplace/src/components/pages/installed-apps/installed-app-list.tsx
  packages/marketplace/src/components/pages/installed-apps/installed-apps.tsx
  packages/marketplace/src/components/ui/app-card/__tests__/__snapshots__/app-card.tsx.snap
  packages/marketplace/src/components/ui/app-card/app-card.tsx
  packages/marketplace/src/components/ui/app-sidebar/__tests__/__snapshots__/app-sidebar.tsx.snap
  packages/marketplace/src/components/ui/app-sidebar/app-sidebar.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/__tests__/route-dispatcher.ts
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: developer-portal, marketplace

#3069 fix: #3052 don't render helper text if no integrations
  packages/marketplace/src/components/pages/installed-apps/installed-apps.tsx
Labels: marketplace

#3075 feat: #3070 add xmas logos
  packages/developer-portal/src/assets/images/xmas-logos/Week1.png
  packages/developer-portal/src/assets/images/xmas-logos/Week2.png
  packages/developer-portal/src/assets/images/xmas-logos/Week3.png
  packages/developer-portal/src/assets/images/xmas-logos/Week4.png
  packages/developer-portal/src/components/ui/__tests__/__snapshots__/menu.tsx.snap
  packages/developer-portal/src/components/ui/__tests__/menu.tsx
  packages/developer-portal/src/components/ui/menu.tsx
  packages/marketplace/src/assets/images/xmas-logos/Week1.png
  packages/marketplace/src/assets/images/xmas-logos/Week2.png
  packages/marketplace/src/assets/images/xmas-logos/Week3.png
  packages/marketplace/src/assets/images/xmas-logos/Week4.png
  packages/marketplace/src/components/ui/__tests__/__snapshots__/menu.tsx.snap
  packages/marketplace/src/components/ui/__tests__/menu.tsx
  packages/marketplace/src/components/ui/menu.tsx
Labels: developer-portal, marketplace
