Repository reapit/foundations, pull requests merged in 2020-12, with the labels that each got.

#3077 feat: #3064 #3065 #3066 Add Pricing field and add launch app button
  packages/developer-portal/src/components/pages/app-detail-preview/client/__tests__/__snapshots__/aside.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail-preview/client/__tests__/__snapshots__/contact-developer-section.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail-preview/client/contact-developer-section.tsx
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/general-information-section.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/general-information-section.test.tsx
  packages/developer-portal/src/components/pages/edit-app/developer-edit-app.tsx
  packages/developer-portal/src/components/pages/edit-app/form-schema/form-fields.ts
  packages/developer-portal/src/components/pages/edit-app/general-information-section.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/contact-developer-section.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/app-install-confirmation.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-install-confirmation.tsx
  packages/marketplace/src/components/pages/app-detail/client/contact-developer-section.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: developer-portal, marketplace

#3086 feat: #3017 adds customer data toggle
  packages/developer-portal/package.json
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/__snapshots__/forms.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/__snapshots__/toggle-customer-data-form.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/toggle-customer-data-form.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/forms.tsx
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/toggle-customer-data-form.tsx
  packages/developer-portal/src/reducers/__stubs__/app-state.ts
  packages/developer-portal/src/selector/__tests__/auth.ts
  packages/developer-portal/src/selector/auth.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#3096 feat: #3093 various tweaks to add pricing
  packages/developer-portal/package.json
  packages/developer-portal/src/components/pages/app-detail-preview/client/__tests__/__snapshots__/aside.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail-preview/client/__tests__/__snapshots__/contact-developer-section.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail-preview/client/aside.tsx
  packages/developer-portal/src/components/pages/app-detail-preview/client/contact-developer-section.tsx
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/app-aside.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/app-status.section.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/app-revision-modal/__test__/__snapshots__/app-revision-modal.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/app-revision-modal/app-revision-comparison/__tests__/__snapshots__/app-revision-comparison.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/general-information-section.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/developer-edit-app.test.tsx
  packages/developer-portal/src/components/pages/edit-app/developer-edit-app.tsx
  packages/developer-portal/src/components/pages/edit-app/form-schema/form-fields.ts
  packages/developer-portal/src/components/pages/edit-app/form-schema/validation-schema.ts
  packages/developer-portal/src/components/pages/edit-app/general-information-section.tsx
  packages/developer-portal/src/sagas/__stubs__/app-detail.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/foundations-ts-definitions/package.json
  packages/foundations-ts-definitions/types/marketplace-schema.ts
  packages/foundations-ts-definitions/types/platform-schema.ts
  packages/marketplace/package.json
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/aside.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/contact-developer-section.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/contact-developer-section.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-install-confirmation.tsx
  packages/marketplace/src/components/pages/app-detail/client/aside.tsx
  packages/marketplace/src/components/pages/app-detail/client/contact-developer-section.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: developer-portal, marketplace

#3101 fix: #3017 #3064 #3093 pricing and dev portal fixes
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/agency-cloud-integration-section.tsx
  packages/developer-portal/src/components/pages/edit-app/form-schema/validation-schema.ts
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/toggle-customer-data-form.tsx
  packages/developer-portal/src/sagas/current-member.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/elements/src/styles/base/global.scss
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
Labels: developer-portal, elements, geo-diary

#3108 feat: #3095 #3098 #3084 #2944 #3102 terms pricing updates
  packages/admin-portal/package.json
  packages/admin-portal/src/components/ui/app-revision-comparison/__tests__/__snapshots__/app-revision-comparison.test.tsx.snap
  packages/admin-portal/src/components/ui/app-revision-comparison/app-revision-comparison.tsx
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/__test__/__snapshots__/cost-calculator.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/cost-calculator.tsx
  packages/developer-portal/src/components/pages/app-detail/app-revision-modal/app-revision-comparison/__tests__/__snapshots__/app-revision-comparison.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/app-revision-modal/app-revision-comparison/app-revision-comparison.tsx
  packages/developer-portal/src/services/billing.ts
  packages/developer-portal/src/services/traffic-statistics.ts
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/foundations-ts-definitions/package.json
  packages/foundations-ts-definitions/types/marketplace-schema.ts
  packages/marketplace/package.json
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-uninstall-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/app-install-confirmation.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-uninstall-confirmation.tsx
  packages/marketplace/src/components/ui/app-card/__styles__/index.ts
  packages/marketplace/src/components/ui/app-card/app-card.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  yarn.lock
Labels: admin-portal, developer-portal, marketplace

#3111 fix: #3109 #3110 edit app form fixes
  packages/developer-portal/src/components/pages/edit-app/general-information-section.tsx
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/utils/__tests__/route-dispatcher.ts
  packages/developer-portal/src/utils/route-dispatcher.ts
Labels: developer-portal

#3122 feat: #3103 marketplace installations table
  packages/geo-diary/src/components/pages/appointment/__styles__/index.ts
  packages/geo-diary/src/components/ui/appointment-tile/__tests__/__snapshots__/appointment-tile.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-tile/appointment-tile.tsx
  packages/geo-diary/src/components/ui/eta-button/__tests__/__snapshots__/eta-button.test.tsx.snap
  packages/geo-diary/src/components/ui/eta-button/eta-button.tsx
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/marketplace/src/actions/installations/__tests__/installations.test.ts
  packages/marketplace/src/actions/installations/installations.ts
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/app-install-confirmation.tsx
  packages/marketplace/src/components/pages/settings/__stubs__/installations-table.ts
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/installations-table.test.tsx.snap
  packages/marketplace/src/components/pages/settings/__tests__/installations-table.test.tsx
  packages/marketplace/src/components/pages/settings/installations-table.tsx
  packages/marketplace/src/components/pages/settings/setting.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/reducers/__stubs__/app-state.ts
  packages/marketplace/src/reducers/installations/__tests__/list.test.ts
  packages/marketplace/src/reducers/installations/index.ts
  packages/marketplace/src/reducers/installations/list.ts
  packages/marketplace/src/sagas/installations/__tests__/list.test.ts
  packages/marketplace/src/sagas/installations/index.ts
  packages/marketplace/src/sagas/installations/list.ts
  packages/marketplace/src/selector/installations/__tests__/installations.test.ts
  packages/marketplace/src/selector/installations/installations.ts
  packages/marketplace/src/services/installations.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/__tests__/route-dispatcher.ts
  packages/marketplace/src/utils/route-dispatcher.ts
  yarn.lock
Labels: geo-diary, marketplace

#3124 fix: #3121 Geo Diary css tweak
  packages/geo-diary/src/components/pages/appointment/__styles__/index.ts
Labels: geo-diary

#3125 fix: #3121 Geo Diary css tweak
  packages/geo-diary/src/components/pages/appointment/__styles__/index.ts
Labels: geo-diary

#3131 fix: #3103 installations table bug
  packages/marketplace/src/reducers/apps/list.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  yarn.lock
Labels: marketplace

#3133 feat: #3132 reapit connect graphic
  packages/admin-portal/src/assets/images/reapit-connect.png
  packages/aml-checklist/src/assets/images/reapit-connect.png
  packages/cra-template-foundations/template/src/assets/images/reapit-connect.png
  packages/data-warehouse/src/assets/images/reapit-connect.png
  packages/developer-portal/src/assets/images/reapit-connect.png
  packages/developer-portal/src/core/private-route-wrapper.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/assets/images/reapit-connect.png
  packages/marketplace/src/assets/images/reapit-connect.png
  packages/payments-client/src/assets/images/reapit-connect.png
  packages/payments-client/src/tests/badges/badge-branches.svg
  packages/payments-client/src/tests/badges/badge-functions.svg
  packages/payments-client/src/tests/badges/badge-lines.svg
  packages/payments-client/src/tests/badges/badge-statements.svg
  packages/property-projector/src/assets/images/reapit-connect.png
  packages/react-app-scaffolder/app/templates/graphql/src/assets/images/reapit-connect.png
  packages/react-app-scaffolder/app/templates/hooks/src/assets/images/reapit-connect.png
  packages/react-app-scaffolder/app/templates/redux/src/assets/images/reapit-connect.png
  packages/reapit-connect/src/assets/images/reapit-connect.png
  packages/smb-onboarder/src/assets/images/reapit-connect.png
Labels: admin-portal, aml-checklist, data-warehouse, developer-portal, geo-diary, marketplace, payments-client, react-app-scaffolder, reapit-connect-welcome, smb-onboarder

#3135 fix: #3134 prevent installs for non listed apps
  packages/marketplace/src/components/pages/app-detail/client/app-detail-button-group.tsx
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/reducers/__stubs__/app-state.ts
  packages/marketplace/src/reducers/apps/__tests__/list.test.ts
  packages/marketplace/src/reducers/apps/list.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#3137 feat: #3136 better logging on geo diary and graphql
  packages/geo-diary/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/geo-diary/src/core/private-route-wrapper.tsx
  packages/geo-diary/src/graphql/__mocks__/session.ts
  packages/geo-diary/src/graphql/__tests__/client.test.ts
  packages/geo-diary/src/graphql/client.ts
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/graphql-server/src/__tests__/index.test.ts
  packages/graphql-server/src/index.ts
Labels: geo-diary, graphql-server

#3139 fix: #3136 geo diary fetching improvements
  packages/geo-diary/src/components/pages/appointment/__tests__/__snapshots__/appointment.test.tsx.snap
  packages/geo-diary/src/components/pages/appointment/__tests__/appointment.test.tsx
  packages/geo-diary/src/components/pages/appointment/appointment.tsx
  packages/geo-diary/src/core/__tests__/private-route-wrapper.test.tsx
  packages/geo-diary/src/core/private-route-wrapper.tsx
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
Labels: geo-diary

#3146 feat: #3097 adds downloadable stats admin portal, fixes Geo Diary bug
  packages/admin-portal/src/components/pages/statistics/__tests__/__snapshots__/statistics.test.tsx.snap
  packages/admin-portal/src/components/pages/statistics/statistics.tsx
  packages/admin-portal/src/sagas/statistics/statistics.ts
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/components/pages/appointment/__tests__/__snapshots__/appointment.test.tsx.snap
  packages/geo-diary/src/components/pages/appointment/appointment.tsx
  packages/geo-diary/src/components/pages/appointment/get-appointments.graphql
  packages/geo-diary/src/components/ui/appointment-detail-modal/__tests__/__snapshots__/appointment-detail-modal.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-detail-modal/appointment-detail-modal.tsx
  packages/geo-diary/src/components/ui/appointment-detail-modal/update-appointment-by-id.graphql
  packages/geo-diary/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/geo-diary/src/core/private-route-wrapper.tsx
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
Labels: admin-portal, geo-diary

#3147 fix: #3097 incorrect conditional pushed
  packages/geo-diary/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/geo-diary/src/core/private-route-wrapper.tsx
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
Labels: geo-diary

#3162 feat: #3159 #3140 installs table non dev flow
  package.json
  packages/developer-portal/package.json
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/app-content.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/__tests__/app-content.test.tsx
  packages/developer-portal/src/components/pages/app-detail/app-content.tsx
  packages/developer-portal/src/components/pages/authentication/__test__/__snapshots__/authentication.test.tsx.snap
  packages/developer-portal/src/components/pages/authentication/__test__/authentication.test.tsx
  packages/developer-portal/src/components/pages/authentication/authentication.tsx
  yarn.lock
Labels: developer-portal

#3167 fix: #3140 address registration flow
  packages/developer-portal/src/components/pages/authentication/authentication.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/elements/package.json
  packages/foundations-ts-definitions/package.json
  packages/foundations-ts-definitions/scripts/constants.js
  packages/foundations-ts-definitions/scripts/create-index-file.js
  packages/foundations-ts-definitions/scripts/fetch-definitions.js
  packages/foundations-ts-definitions/traffic-schema/marketplace-traffic-event-schema.ts
  packages/foundations-ts-definitions/types/index.ts
  packages/foundations-ts-definitions/types/payments-schema.ts
Labels: developer-portal, elements

#3161 feat: #2937 payment dashboard
  packages/payments-client/package.json
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payment.test.tsx.snap
  packages/payments-client/src/components/pages/__tests__/payment.test.tsx
  packages/payments-client/src/components/pages/__tests__/payments.test.tsx
  packages/payments-client/src/components/pages/payment.tsx
  packages/payments-client/src/components/pages/payments/index.tsx
  packages/payments-client/src/components/ui/__tests__/__snapshots__/menu.test.tsx.snap
  packages/payments-client/src/components/ui/payments/form-schema/payment-filter-fields.ts
  packages/payments-client/src/components/ui/payments/payment-request-modal.tsx
  packages/payments-client/src/components/ui/payments/payments-filter-form.tsx
  packages/payments-client/src/constants/api.ts
  packages/payments-client/src/constants/filterOption.ts
  packages/payments-client/src/constants/routes.ts
  packages/payments-client/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/payments-client/src/core/private-route-wrapper.tsx
  packages/payments-client/src/core/router.tsx
  packages/payments-client/src/styles/ui/payment-filter-form.ts
  packages/payments-client/src/styles/ui/payments-filter-form.ts
  packages/payments-client/src/tests/badges/badge-branches.svg
  packages/payments-client/src/tests/badges/badge-functions.svg
  packages/payments-client/src/tests/badges/badge-lines.svg
  packages/payments-client/src/tests/badges/badge-statements.svg
  packages/payments-client/src/utils/fetcher.ts
Labels: payments-client

#3172 fix: #3168 stop gql throwing when types undefined
  packages/graphql-server/src/resolvers/companies/dataloader.ts
  packages/graphql-server/src/resolvers/configurations/dataloader.ts
  packages/graphql-server/src/resolvers/conveyancing/dataloader.ts
  packages/graphql-server/src/resolvers/departments/dataloader.ts
  packages/graphql-server/src/resolvers/negotiators/dataloader.ts
  packages/graphql-server/src/resolvers/offices/dataloader.ts
  packages/graphql-server/src/resolvers/properties/dataloader.ts
  packages/graphql-server/src/resolvers/propertyImages/dataloader.ts
Labels: graphql-server

#3187 fix: #2937 fix dropdown input height and select all label
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/elements/src/styles/components/checkbox.scss
  packages/elements/src/styles/components/dropdown-select.scss
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/payments-client/src/components/pages/payments/index.tsx
Labels: admin-portal, aml-checklist, developer-portal, elements, geo-diary, marketplace, payments-client

#3171 feat: #2971 populate data take payment page billing details
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payment.test.tsx.snap
  packages/payments-client/src/components/pages/__tests__/payment.test.tsx
  packages/payments-client/src/components/pages/payment.tsx
  packages/payments-client/src/tests/badges/badge-branches.svg
  packages/payments-client/src/tests/badges/badge-functions.svg
  packages/payments-client/src/tests/badges/badge-lines.svg
  packages/payments-client/src/tests/badges/badge-statements.svg
Labels: payments-client

#3198 fix: #3192 aml should accept 0 years as address option
  packages/aml-checklist/src/components/ui/modal/address-information/__tests__/__snapshots__/address-information.tsx.snap
  packages/aml-checklist/src/components/ui/modal/address-information/__tests__/address-information.tsx
  packages/aml-checklist/src/components/ui/modal/address-information/address-information.tsx
  yarn.lock
Labels: aml-checklist

#3200 fix: #3192 aml address bug
  packages/aml-checklist/src/components/ui/modal/address-information/__tests__/__snapshots__/address-information.tsx.snap
  packages/aml-checklist/src/components/ui/modal/address-information/address-information.tsx
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
Labels: aml-checklist

#3217 feat: #3180 Reapit Connect Management routing, menu
  packages/data-warehouse/src/tests/badges/badge-branches.svg
  packages/data-warehouse/src/tests/badges/badge-functions.svg
  packages/data-warehouse/src/tests/badges/badge-lines.svg
  packages/data-warehouse/src/tests/badges/badge-statements.svg
  packages/reapit-connect-management/jest.config.js
  packages/reapit-connect-management/src/components/pages/__tests__/__snapshots__/authenticated.test.tsx.snap
  packages/reapit-connect-management/src/components/pages/__tests__/__snapshots__/offices.test.tsx.snap
  packages/reapit-connect-management/src/components/pages/__tests__/__snapshots__/users.test.tsx.snap
  packages/reapit-connect-management/src/components/pages/__tests__/authenticated.test.tsx
  packages/reapit-connect-management/src/components/pages/__tests__/offices.test.tsx
  packages/reapit-connect-management/src/components/pages/__tests__/users.test.tsx
  packages/reapit-connect-management/src/components/pages/authenticated.tsx
  packages/reapit-connect-management/src/components/pages/offices.tsx
  packages/reapit-connect-management/src/components/pages/users.tsx
  packages/reapit-connect-management/src/components/ui/__tests__/__snapshots__/menu.test.tsx.snap
  packages/reapit-connect-management/src/components/ui/menu.tsx
  packages/reapit-connect-management/src/components/ui/offices/officesGroupsTab.tsx
  packages/reapit-connect-management/src/components/ui/offices/officesTab.tsx
  packages/reapit-connect-management/src/components/ui/users/usersGroupsTab.tsx
  packages/reapit-connect-management/src/components/ui/users/usersTab.tsx
  packages/reapit-connect-management/src/constants/routes.ts
  packages/reapit-connect-management/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/reapit-connect-management/src/core/private-route-wrapper.tsx
  packages/reapit-connect-management/src/core/private-route.tsx
  packages/reapit-connect-management/src/core/router.tsx
  packages/reapit-connect-management/src/tests/badges/badge-branches.svg
  packages/reapit-connect-management/src/tests/badges/badge-functions.svg
  packages/reapit-connect-management/src/tests/badges/badge-lines.svg
  packages/reapit-connect-management/src/tests/badges/badge-statements.svg
Labels: data-warehouse

#3218 feat: #3174 adds analytics to data warehouse
  packages/data-warehouse/jest.config.js
  packages/data-warehouse/src/components/hocs/__tests__/formik-auto-save.test.tsx
  packages/data-warehouse/src/components/hocs/formik-auto-save.tsx
  packages/data-warehouse/src/components/pages/analytics/__stubs__/analytics.ts
  packages/data-warehouse/src/components/pages/analytics/__styles__/analytics.ts
  packages/data-warehouse/src/components/pages/analytics/__tests__/__snapshots__/analytics-cost-explorer.test.tsx.snap
  packages/data-warehouse/src/components/pages/analytics/__tests__/__snapshots__/analytics-daily-usage.test.tsx.snap
  packages/data-warehouse/src/components/pages/analytics/__tests__/__snapshots__/analytics-monthly-usage.test.tsx.snap
  packages/data-warehouse/src/components/pages/analytics/__tests__/__snapshots__/analytics-usage-modal.test.tsx.snap
  packages/data-warehouse/src/components/pages/analytics/__tests__/__snapshots__/analytics.test.tsx.snap
  packages/data-warehouse/src/components/pages/analytics/__tests__/analytics-cost-explorer.test.tsx
  packages/data-warehouse/src/components/pages/analytics/__tests__/analytics-daily-usage.test.tsx
  packages/data-warehouse/src/components/pages/analytics/__tests__/analytics-handlers.test.tsx
  packages/data-warehouse/src/components/pages/analytics/__tests__/analytics-monthly-usage.test.tsx
  packages/data-warehouse/src/components/pages/analytics/__tests__/analytics-usage-modal.test.tsx
  packages/data-warehouse/src/components/pages/analytics/__tests__/analytics.test.tsx
  packages/data-warehouse/src/components/pages/analytics/analytics-cost-explorer.tsx
  packages/data-warehouse/src/components/pages/analytics/analytics-daily-usage.tsx
  packages/data-warehouse/src/components/pages/analytics/analytics-handlers.ts
  packages/data-warehouse/src/components/pages/analytics/analytics-monthly-usage.tsx
  packages/data-warehouse/src/components/pages/analytics/analytics-usage-modal.tsx
  packages/data-warehouse/src/components/pages/analytics/analytics.tsx
  packages/data-warehouse/src/components/ui/__tests__/__snapshots__/menu.test.tsx.snap
  packages/data-warehouse/src/components/ui/menu.tsx
  packages/data-warehouse/src/constants/api.ts
  packages/data-warehouse/src/constants/routes.ts
  packages/data-warehouse/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/data-warehouse/src/core/router.tsx
  packages/data-warehouse/src/services/__tests__/billing.test.ts
  packages/data-warehouse/src/services/__tests__/settings.test.ts
  packages/data-warehouse/src/services/billing.ts
  packages/data-warehouse/src/services/settings.ts
  packages/data-warehouse/src/tests/badges/badge-branches.svg
  packages/data-warehouse/src/tests/badges/badge-functions.svg
  packages/data-warehouse/src/tests/badges/badge-lines.svg
  packages/data-warehouse/src/tests/badges/badge-statements.svg
  packages/data-warehouse/src/types/settings.ts
  packages/data-warehouse/src/types/traffic.ts
Labels: data-warehouse

#3224 feat: #3199 update coming soon apps
  packages/marketplace/src/assets/images/coming-soon/Addland.jpg
  packages/marketplace/src/assets/images/coming-soon/BYM.jpg
  packages/marketplace/src/assets/images/coming-soon/DataWarehouse.jpg
  packages/marketplace/src/assets/images/coming-soon/Nichecom.jpg
  packages/marketplace/src/assets/images/coming-soon/Offr.jpg
  packages/marketplace/src/assets/images/coming-soon/ReapitPayments.jpg
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  yarn.lock
Labels: marketplace

#3225 feat: #3199 update coming soon
  packages/marketplace/src/assets/images/coming-soon/GotoView.jpg
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
Labels: marketplace

#3226 feat: #3174 updates to analytics page
  packages/data-warehouse/src/components/pages/accounts/accounts.tsx
  packages/data-warehouse/src/components/pages/analytics/__stubs__/analytics.ts
  packages/data-warehouse/src/components/pages/analytics/__tests__/__snapshots__/analytics-daily-usage.test.tsx.snap
  packages/data-warehouse/src/components/pages/analytics/__tests__/__snapshots__/analytics-monthly-usage.test.tsx.snap
  packages/data-warehouse/src/components/pages/analytics/__tests__/__snapshots__/analytics.test.tsx.snap
  packages/data-warehouse/src/components/pages/analytics/__tests__/analytics-handlers.test.tsx
  packages/data-warehouse/src/components/pages/analytics/__tests__/analytics.test.tsx
  packages/data-warehouse/src/components/pages/analytics/analytics-daily-usage.tsx
  packages/data-warehouse/src/components/pages/analytics/analytics-handlers.ts
  packages/data-warehouse/src/components/pages/analytics/analytics-monthly-usage.tsx
  packages/data-warehouse/src/components/pages/analytics/analytics.tsx
  packages/data-warehouse/src/components/pages/data/data.tsx
  packages/data-warehouse/src/components/pages/subscriptions/__tests__/__snapshots__/subscriptions.test.tsx.snap
  packages/data-warehouse/src/components/pages/subscriptions/__tests__/subscriptions-handlers.test.ts
  packages/data-warehouse/src/components/pages/subscriptions/subscriptions-content.tsx
  packages/data-warehouse/src/components/pages/subscriptions/subscriptions-handlers.ts
  packages/data-warehouse/src/core/index.tsx
  packages/data-warehouse/src/services/__tests__/billing.test.ts
  packages/data-warehouse/src/services/billing.ts
  packages/data-warehouse/src/services/subscriptions.ts
  packages/data-warehouse/src/tests/badges/badge-branches.svg
  packages/data-warehouse/src/tests/badges/badge-functions.svg
  packages/data-warehouse/src/tests/badges/badge-lines.svg
  packages/data-warehouse/src/tests/badges/badge-statements.svg
  packages/data-warehouse/src/types/global.d.ts
  packages/data-warehouse/src/types/traffic.ts
Labels: data-warehouse
