Repository reapit/foundations, pull requests merged in 2020-02, with the labels that each got.

#367 chore: #336 increase test coveraged no-redux option
  packages/react-app-scaffolder/app/templates/no-redux/src/components/pages/__tests__/authenticated.tsx
  packages/react-app-scaffolder/app/templates/no-redux/src/components/pages/__tests__/login.tsx
  packages/react-app-scaffolder/app/templates/no-redux/src/context/__tests__/auth-context.tsx
  packages/react-app-scaffolder/app/templates/no-redux/src/context/__tests__/index.tsx
  packages/react-app-scaffolder/app/templates/no-redux/src/core/__tests__/private-route-wrapper.tsx
Labels: react-app-scaffolder

#375 fix: text changes
  packages/marketplace/src/components/pages/developer-welcome.tsx
Labels: marketplace

#378 fix: reconfigure graphql server for monorepo
  .eslintrc.js
  .gitignore
  package.json
  packages/graphql-server/jest.config.js
  packages/graphql-server/package.json
  packages/graphql-server/src/resolvers/contact/api.ts
  packages/graphql-server/tsconfig.json
  yarn.lock
Labels: graphql-server

#388 fix: app scaffolder liniting issues
  packages/graphql-server/tsconfig.json
  packages/react-app-scaffolder/app/templates/_eslintrc.js
  packages/react-app-scaffolder/app/templates/_package.json
  packages/react-app-scaffolder/app/templates/_prettierrc.js
  packages/react-app-scaffolder/app/templates/base-is-not-sass/src/components/pages/__styles__/login.ts
  packages/react-app-scaffolder/app/templates/no-redux/src/components/pages/__tests__/authenticated.tsx
  packages/react-app-scaffolder/app/templates/no-redux/src/components/pages/__tests__/login.tsx
  packages/react-app-scaffolder/app/templates/no-redux/src/context/__tests__/auth-context.tsx
  packages/react-app-scaffolder/app/templates/no-redux/src/context/index.tsx
  packages/react-app-scaffolder/app/templates/redux/src/components/hocs/__tests__/route-fetcher.tsx
  packages/react-app-scaffolder/app/templates/redux/src/components/hocs/route-fetcher.tsx
  packages/react-app-scaffolder/app/templates/redux/src/components/pages/authenticated.tsx
  packages/react-app-scaffolder/app/templates/redux/src/components/pages/login.tsx
  packages/react-app-scaffolder/app/templates/redux/src/core/private-route-wrapper.tsx
  packages/react-app-scaffolder/app/templates/redux/src/reducers/__tests__/auth.ts
  packages/react-app-scaffolder/app/templates/redux/src/sagas/__tests__/authenticated.ts
  packages/react-app-scaffolder/app/templates/redux/src/utils/actions.ts
  packages/react-app-scaffolder/app/templates/redux/src/utils/route-dispatcher.ts
  packages/react-app-scaffolder/package.json
Labels: graphql-server, react-app-scaffolder

#385 fix: #380 validation for submit app
  packages/marketplace/src/utils/form/__tests__/submit-app.ts
  packages/marketplace/src/utils/form/submit-app.ts
Labels: marketplace

#418 Fix: #386 React app scaffolder broken in window shell
  packages/react-app-scaffolder/app/index.js
Labels: react-app-scaffolder

#417 fix: #415 Fix element page broken in safari
  packages/marketplace/src/components/pages/__tests__/__snapshots__/elements.tsx.snap
  packages/marketplace/src/components/pages/elements.tsx
Labels: marketplace

#421 Fix: #386 Pump react scaffolder package version
  packages/react-app-scaffolder/package.json
Labels: react-app-scaffolder

#434 fix: #427 - Fix ts version to resolve conflicts with tsloader
  packages/react-app-scaffolder/app/templates/_package.json
Labels: react-app-scaffolder

#436 Fix/427 typescript v382 issue with tsloader
  packages/react-app-scaffolder/package.json
Labels: react-app-scaffolder

#433 fix: #142 Update required to the stats area on admin portal
  packages/marketplace/src/components/pages/__tests__/__snapshots__/admin-stats.tsx.snap
  packages/marketplace/src/components/pages/admin-stats.tsx
  packages/marketplace/src/reducers/admin-stats.ts
  packages/marketplace/src/sagas/admin-stats.ts
  packages/marketplace/src/styles/pages/admin-stats.scss
  packages/marketplace/src/utils/__tests__/admin-stats.ts
  packages/marketplace/src/utils/admin-stats.ts
Labels: marketplace

#435 chore: #374 config to deploy graphql-server to lambda
  package.json
  packages/graphql-server/jest.config.js
  packages/graphql-server/package.json
  packages/graphql-server/serverless.yml
  packages/graphql-server/src/app.ts
  packages/graphql-server/src/index.ts
  packages/graphql-server/webpack.config.js
  packages/graphql-server/yml-helpers.js
  yarn.lock
Labels: graphql-server

#428 chore: #377 show validation errors on Submit/Update page
  packages/marketplace/src/components/pages/__tests__/developer-submit-app.tsx
  packages/marketplace/src/components/pages/developer-submit-app.tsx
  packages/marketplace/src/constants/form.ts
  packages/marketplace/src/sagas/__tests__/submit-app.ts
  packages/marketplace/src/sagas/submit-app.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/form/errors.ts
Labels: marketplace

#440 fix: #426 missing accept button on T&C modal on iPad
  packages/elements/src/styles/vendor/bulma-overrides.scss
Labels: elements

#443 fix: #142 Fix page size per request on admin stats
  packages/marketplace/src/sagas/admin-stats.ts
Labels: marketplace

#444 chore: #430 update help guide component in elements
  packages/elements/src/components/HelpGuide/help-guide.stories.tsx
  packages/elements/src/styles/components/help-guide.scss
  packages/marketplace/src/components/pages/developer-welcome.tsx
  packages/marketplace/src/styles/pages/developer-welcome.scss
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: elements, marketplace

#441 fix: #178 fix ui and bug admin portal
  packages/elements/src/components/Pagination/index.tsx
  packages/marketplace/src/actions/__tests__/admin-apps.ts
  packages/marketplace/src/actions/admin-apps.ts
  packages/marketplace/src/components/pages/__tests__/__snapshots__/admin-apps.tsx.snap
  packages/marketplace/src/components/pages/__tests__/__snapshots__/admin-dev-management.tsx.snap
  packages/marketplace/src/components/pages/admin-apps.tsx
  packages/marketplace/src/components/pages/admin-dev-management.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/admin-dev-management-filter-form.tsx.snap
  packages/marketplace/src/components/ui/admin-dev-management-filter-form.tsx
  packages/marketplace/src/sagas/__tests__/admin-apps.ts
  packages/marketplace/src/sagas/admin-apps.ts
  packages/marketplace/src/styles/pages/admin-apps.scss
  packages/marketplace/src/styles/pages/admin-dev-management.scss
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: elements, marketplace

#442 feat: #87 Add welcome message when negotiator first login
  packages/marketplace/src/components/pages/__tests__/__snapshots__/client-welcome.tsx.snap
  packages/marketplace/src/components/pages/__tests__/client-welcome.tsx
  packages/marketplace/src/components/pages/client-welcome.tsx
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/private-route-wrapper.tsx
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/utils/__tests__/auth-route.ts
  packages/marketplace/src/utils/auth-route.ts
Labels: marketplace

#446 Fix: #424 - Remove query-string lib to fix IE11 compatibility issues
  package.json
  packages/marketplace/package.json
  packages/marketplace/src/components/pages/__tests__/__snapshots__/admin-apps.tsx.snap
  packages/marketplace/src/components/pages/admin-apps.tsx
  packages/marketplace/src/sagas/app-delete.ts
  packages/marketplace/src/utils/__tests__/client-url-params.ts
  packages/marketplace/src/utils/client-url-params.ts
  packages/smb/src/components/pages/home/home.tsx
  packages/smb/src/utils/client-url-params.test.ts
  packages/smb/src/utils/client-url-params.ts
  yarn.lock
Labels: marketplace, smb

#445 chore: #125 improve webpack bundling performance
  .github/workflows/pull-request-ci.yml
  .github/workflows/release-develop.yml
  .gitignore
  package.json
  packages/aml-checklist/package.json
  packages/cognito-auth/package.json
  packages/cognito-auth/tsconfig.json
  packages/cognito-custom-mail-lambda/package.json
  packages/config-manager/package.json
  packages/elements/package.json
  packages/geo-diary/package.json
  packages/graphql-server/package.json
  packages/graphql-server/tsconfig.json
  packages/lifetime-legal/package.json
  packages/marketplace/package.json
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/smb/package.json
  packages/web-components/package.json
  scripts/jest/jest.config.js
  scripts/utils/hash-files.js
  scripts/webpack/constants.js
  scripts/webpack/webpack-sass-prod/.temp/index.css
  scripts/webpack/webpack.base.dev.js
  scripts/webpack/webpack.base.prod.js
  yarn.lock
Labels: aml-checklist, cognito-auth, cognito-custom-mail-lambda, config-manager, do not merge, elements, geo-diary, graphql-server, lifetime-legal, marketplace, smb, web-components

#448 chore: #422 - re-add internal scaffolder option on cli to app scaffolder
  packages/react-app-scaffolder/app/index.js
  packages/react-app-scaffolder/app/templates/_package.json
  packages/react-app-scaffolder/app/templates/base-is-foundation/tsconfig.json
  packages/react-app-scaffolder/app/templates/base-is-not-sass/src/components/pages/__tests__/__snapshots__/login.tsx.snap
  packages/react-app-scaffolder/app/templates/base-is-sass/src/styles/index.scss
  packages/react-app-scaffolder/app/templates/base/src/core/index.tsx
  packages/react-app-scaffolder/app/templates/redux/src/components/pages/authenticated.tsx
  scripts/webpack/build-element-scss/index.js
  scripts/webpack/webpack-sass-prod/build-configuration.js
  scripts/webpack/webpack-sass-prod/index.js
  scripts/webpack/webpack-styled-components-prod.js
Labels: react-app-scaffolder

#455 fix: swagger curl issue
  packages/marketplace/src/components/pages/__tests__/swagger.tsx
  packages/marketplace/src/components/pages/swagger.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#452 chore: #450 copy types definition into graphql server repo
  packages/graphql-server/src/types/index.ts
  packages/graphql-server/src/types/platform-schema.ts
  packages/graphql-server/tsconfig.json
Labels: graphql-server

#439 Chore/377 update validation errors on the bottom of the submit / edit app page
  packages/marketplace/src/components/pages/__tests__/developer-submit-app.tsx
  packages/marketplace/src/components/pages/developer-submit-app.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#451 chore: #128 remove redundant and restructure dependencies
  package.json
  packages/aml-checklist/package.json
  packages/cognito-auth/package.json
  packages/cognito-auth/src/utils/cognito.test.ts
  packages/cognito-auth/tsconfig.json
  packages/cognito-auth/tsdx.config.js
  packages/cognito-custom-mail-lambda/package.json
  packages/elements/.storybook/presets.js
  packages/elements/package.json
  packages/elements/tsdx.config.js
  packages/geo-diary/package.json
  packages/geo-diary/src/types/index.d.ts
  packages/graphql-server/package.json
  packages/lifetime-legal/src/types/index.d.ts
  packages/marketplace/package.json
  packages/react-app-scaffolder/app/templates/apollo/src/types/index.d.ts
  packages/react-app-scaffolder/app/templates/no-redux/src/types/index.d.ts
  packages/react-app-scaffolder/app/templates/redux/src/types/index.d.ts
  packages/react-app-scaffolder/package.json
  packages/smb/package.json
  packages/smb/src/types/index.d.ts
  packages/web-components/.storybook/presets.js
  packages/web-components/package.json
  yarn.lock
Labels: aml-checklist, cognito-auth, cognito-custom-mail-lambda, elements, geo-diary, graphql-server, lifetime-legal, marketplace, react-app-scaffolder, smb, web-components

#458 fix: #456 fix icon label on error of validations
  packages/marketplace/src/components/pages/developer-submit-app.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#459 fix: #178 fix horizontal scroll table
  packages/elements/package.json
  packages/elements/src/styles/components/table.scss
Labels: elements

#391 feat: #373 add more resolver for identity services
  packages/graphql-server/serverless.yml
  packages/graphql-server/src/resolvers/auth/api.ts
  packages/graphql-server/src/resolvers/contact-identity-check/__mocks__/contact-identity-check.ts
  packages/graphql-server/src/resolvers/contact-identity-check/__mocks__/contact-identity-checks.ts
  packages/graphql-server/src/resolvers/contact-identity-check/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/contact-identity-check/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/contact-identity-check/api.ts
  packages/graphql-server/src/resolvers/contact-identity-check/contact-identity-check.d.ts
  packages/graphql-server/src/resolvers/contact-identity-check/resolvers.ts
  packages/graphql-server/src/resolvers/contact-identity-check/services.ts
  packages/graphql-server/src/resolvers/contact-identity-check/types.graphql
  packages/graphql-server/src/resolvers/contact/api.ts
  packages/graphql-server/src/resolvers/identity-check/__mocks__/identity-check.ts
  packages/graphql-server/src/resolvers/identity-check/__mocks__/identity-checks.ts
  packages/graphql-server/src/resolvers/identity-check/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/identity-check/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/identity-check/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/identity-check/api.ts
  packages/graphql-server/src/resolvers/identity-check/resolvers.ts
  packages/graphql-server/src/resolvers/identity-check/services.ts
  packages/graphql-server/src/resolvers/identity-check/types.graphql
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/schema.graphql
  yarn.lock
Labels: graphql-server
