Repository reapit/foundations, pull requests merged in 2020-07, with the labels that each got.

#1888 fix: submit app flow
  packages/marketplace/src/actions/submit-app.ts
  packages/marketplace/src/components/ui/submit-app-wizard/__tests__/__snapshots__/submit-app-wizard-modal.test.tsx.snap
  packages/marketplace/src/components/ui/submit-app-wizard/__tests__/__snapshots__/submit-app-wizard.test.tsx.snap
  packages/marketplace/src/components/ui/submit-app-wizard/__tests__/submit-app-wizard-modal.test.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/__tests__/submit-app-wizard.test.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-chose-auth-type.tsx.snap
  packages/marketplace/src/components/ui/submit-app-wizard/steps/step-chose-auth-type.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/submit-app-wizard-modal.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/submit-app-wizard.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/utils.ts
  packages/marketplace/src/styles/blocks/submit-app-wizard.scss
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1899 fix: submit app flow
  packages/elements/src/styles/vendor/bulma-overrides.scss
  packages/marketplace/src/components/ui/submit-app-wizard/__tests__/__snapshots__/submit-app-wizard.test.tsx.snap
  packages/marketplace/src/components/ui/submit-app-wizard/__tests__/submit-app-wizard-modal.test.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-submit-app-success.test.tsx.snap
  packages/marketplace/src/components/ui/submit-app-wizard/steps/__tests__/step-submit-app-success.test.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/steps/step-submit-app-success.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/submit-app-wizard-modal.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/submit-app-wizard.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/types.ts
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: elements, marketplace

#1904 fix: #1900 validation bug in submit app
  packages/marketplace/src/components/pages/developer-edit-app/__test__/__snapshots__/upload-image-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-edit-app/developer-edit-app.tsx
  packages/marketplace/src/components/pages/developer-edit-app/form-schema/validation-schema.ts
  packages/marketplace/src/components/pages/developer-edit-app/upload-image-section.tsx
Labels: marketplace

#1897 fix: #1887 Update the text on the ‘Agency Cloud User Licence’ modal
  packages/marketplace/src/components/pages/authentication/__test__/__snapshots__/authentication.test.tsx.snap
  packages/marketplace/src/components/pages/authentication/__test__/authentication.test.tsx
  packages/marketplace/src/components/pages/authentication/authentication.tsx
Labels: marketplace

#1903 fix: #1898 cant delete app two times continuously
  packages/marketplace/src/components/ui/__tests__/app-delete.tsx
  packages/marketplace/src/components/ui/app-delete.tsx
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1906 feat: #1905 Update PDF pricing link in API Cost Explorer
  packages/marketplace/src/assets/files/foundation-pricing-0720.pdf
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-calculator/__test__/__snapshots__/cost-calculator.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-calculator/cost-calculator.tsx
Labels: marketplace

#1912 chore: #1858 add developer edition download uri as redirect uris
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/auth-route.ts
Labels: marketplace

#1910 fix: #1902 fix User can't edit the apps before click edit detail 3 times
  packages/marketplace/src/actions/submit-revision.ts
  packages/marketplace/src/components/pages/developer-edit-app/__test__/developer-edit-app.test.tsx
  packages/marketplace/src/components/pages/developer-edit-app/developer-edit-app.tsx
  packages/marketplace/src/sagas/__tests__/submit-revision.ts
  packages/marketplace/src/sagas/submit-revision.ts
Labels: marketplace

#1909 fix: make submit app wizzard error required human interaction to make it dismisable
  packages/marketplace/src/sagas/__tests__/submit-app.ts
  packages/marketplace/src/sagas/submit-app.ts
  packages/marketplace/src/tests/badges/badge-lines.svg
Labels: marketplace

#1913 chore: #1858 update link to developer edition guide file
  packages/marketplace/src/assets/files/developer-edition-guide.pdf
  packages/marketplace/src/components/pages/developer-edition-download/__tests__/__snapshots__/download-modal.test.tsx.snap
  packages/marketplace/src/components/pages/developer-edition-download/download-modal.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1914 fix: #1901 Fix UI issues on IE11
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/elements/src/styles/vendor/bulma-overrides.scss
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/client-app-content.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/client-app-content.tsx
  packages/marketplace/src/components/pages/app-detail/developer/__tests__/__snapshots__/developer-app-content.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/developer/developer-app-content.tsx
  packages/marketplace/src/components/pages/client/__tests__/__snapshots__/client.test.tsx.snap
  packages/marketplace/src/components/pages/client/client.tsx
Labels: aml-checklist, elements, marketplace

#1930 fix: #1926 [Marketplace][Admin] Dev Management search button align
  packages/marketplace/src/components/pages/admin-apps/__tests__/__snapshots__/admin-apps.test.tsx.snap
  packages/marketplace/src/components/pages/admin-apps/admin-apps.tsx
Labels: marketplace

#1932 fix: #1925 update table row element text overflow
  packages/elements/src/styles/components/table.scss
  packages/marketplace/src/tests/badges/badge-lines.svg
Labels: elements, marketplace

#1931 chore: #1921 Update ui to the submit app wizard
  packages/elements/src/components/Input/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Input/__tests__/index.tsx
  packages/elements/src/components/Input/index.tsx
  packages/elements/src/styles/vendor/bulma-overrides.scss
  packages/elements/src/utils/validators/error-messages.ts
  packages/marketplace/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-before-you-start.test.tsx.snap
  packages/marketplace/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-chose-auth-type.tsx.snap
  packages/marketplace/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-create-new-app.test.tsx.snap
  packages/marketplace/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-grant-permisions.test.tsx.snap
  packages/marketplace/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-input-app-name.test.tsx.snap
  packages/marketplace/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-input-authentication-uris.test.tsx.snap
  packages/marketplace/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-submit-app-success.test.tsx.snap
  packages/marketplace/src/components/ui/submit-app-wizard/steps/__tests__/step-before-you-start.test.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/steps/step-before-you-start.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/steps/step-chose-auth-type.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/steps/step-create-new-app.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/steps/step-grant-permisions.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/steps/step-input-app-name.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/steps/step-input-authentication-uris.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/steps/step-submit-app-success.tsx
  packages/marketplace/src/constants/error-messages.ts
  packages/marketplace/src/styles/blocks/submit-app-wizard.scss
Labels: elements, marketplace

#1936 fix: #1923 Fix IE issues in developer portal
  packages/elements/src/styles/base/layout.scss
  packages/elements/src/styles/base/utilities.scss
  packages/elements/src/styles/components/toast.scss
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-help.test.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/help-item-list.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/transaction-history/transaction-history.tsx
  packages/marketplace/src/components/ui/help-item-list.tsx
  packages/marketplace/src/components/ui/unsupport-browser-pop-up.tsx
Labels: elements, marketplace

#1937 fix: #1927 [Marketplace][Admin] Min & Max search date of Dev Management
  packages/marketplace/src/components/pages/admin-dev-management/__tests__/__snapshots__/admin-dev-management.test.tsx.snap
  packages/marketplace/src/components/ui/admin-dev-management-filter-form.tsx
Labels: marketplace

#1941 chore: #1940 Update the text on the ‘Agency Cloud Developer Edition’ modal
  packages/marketplace/src/components/ui/developer-edition-modal/__tests__/__snapshots__/developer-edition-content.tsx.snap
  packages/marketplace/src/components/ui/developer-edition-modal/developer-edition-content.tsx
Labels: marketplace

#1942 feat: #1939 update desktop page content
  packages/marketplace/src/assets/images/developer-desktop/video-clip.jpg
  packages/marketplace/src/components/pages/developer-desktop/__styles__/pricing-tile.tsx
  packages/marketplace/src/components/pages/developer-desktop/__tests__/__snapshots__/developer-desktop.tsx.snap
  packages/marketplace/src/components/pages/developer-desktop/__tests__/developer-desktop.tsx
  packages/marketplace/src/components/pages/developer-desktop/developer-desktop-content.tsx
  packages/marketplace/src/components/pages/developer-desktop/developer-desktop.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1943 fix: #1934 validation required for non list app
  packages/marketplace/src/components/pages/developer-edit-app/__test__/__snapshots__/general-information-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-edit-app/__test__/__snapshots__/upload-image-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-edit-app/__test__/developer-edit-app.test.tsx
  packages/marketplace/src/components/pages/developer-edit-app/__test__/general-information-section.test.tsx
  packages/marketplace/src/components/pages/developer-edit-app/__test__/upload-image-section.test.tsx
  packages/marketplace/src/components/pages/developer-edit-app/developer-edit-app.tsx
  packages/marketplace/src/components/pages/developer-edit-app/form-schema/validation-schema.ts
  packages/marketplace/src/components/pages/developer-edit-app/general-information-section.tsx
  packages/marketplace/src/components/pages/developer-edit-app/upload-image-section.tsx
Labels: marketplace

#1945 fix: #1940 remove redundant text
  packages/marketplace/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-create-new-app.test.tsx.snap
  packages/marketplace/src/components/ui/submit-app-wizard/steps/step-create-new-app.tsx
Labels: marketplace

#1947 fix: #1946 subscription sagas being loaded twice
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1949 fix: #1948 fix launch uri
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/utils/__tests__/launch-app.ts
  packages/marketplace/src/utils/launch-app.ts
Labels: marketplace

#1952 fix: #1951 addresses issues for release
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-help.test.tsx.snap
  packages/marketplace/src/components/pages/developer-help.tsx
  packages/marketplace/src/components/pages/installed-apps/__tests__/__snapshots__/installed-apps.test.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/help-item-list.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/installed-app-card.tsx.snap
  packages/marketplace/src/components/ui/installed-app-card.tsx
  packages/marketplace/src/core/index.tsx
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/launch-app.ts
Labels: marketplace

#1954 fix: #1953 Fix closing submit app modal issue when pressing enter
  packages/marketplace/src/components/ui/submit-app-wizard/__tests__/submit-app-wizard-modal.test.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/submit-app-wizard-modal.tsx
Labels: marketplace

#1955 fix: text change
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-help.test.tsx.snap
  packages/marketplace/src/components/pages/developer-help.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/help-item-list.tsx.snap
Labels: marketplace

#1960 fix: #1959 submit modal wizzard wrong close modal behavior
  packages/elements/src/components/Modal/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Modal/index.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-confirm-install.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-confirm-uninstall.test.tsx.snap
  packages/marketplace/src/components/ui/app-installations/confirm-uninstall/__tests__/__snapshots__/confirm-uninstall.test.tsx.snap
  packages/marketplace/src/components/ui/submit-app-wizard/__tests__/__snapshots__/submit-app-wizard.test.tsx.snap
  packages/marketplace/src/components/ui/submit-app-wizard/__tests__/submit-app-wizard-modal.test.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/submit-app-wizard-modal.tsx
  packages/marketplace/src/components/ui/submit-app-wizard/submit-app-wizard.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: elements, marketplace

#1973 fix: #1956 fix placeholder in mobile view client portal
  packages/marketplace/src/components/ui/installed-app-card.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1974 chore: #1962 Remove email casing on the ‘Cost Explorer’
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/cost-explorer-table.tsx
Labels: marketplace

#1976 refactor: #1891 Apply new styles and containers to geo diary app
  packages/elements/src/styles/base/utilities.scss
  packages/geo-diary/src/assets/fonts/1427936/353acc2c-88f2-4de3-83eb-6cc2c9b05af1.ttf
  packages/geo-diary/src/assets/fonts/1427936/9803fddf-c005-431a-92d5-0f18688f945d.woff2
  packages/geo-diary/src/assets/fonts/1427936/ea9b8ac3-ff16-4387-a473-32a6a617329f.woff
  packages/geo-diary/src/assets/fonts/1427936/f2cf6cf9-9ec6-4945-a525-f5873d143c2a.eot
  packages/geo-diary/src/assets/fonts/1427944/1c070cdb-18d8-440e-be9d-2448fa3930c4.eot
  packages/geo-diary/src/assets/fonts/1427944/66c06801-da3e-4587-a89c-674cfbe39c21.woff2
  packages/geo-diary/src/assets/fonts/1427944/c21bf502-6b58-4bf0-9ddd-169929c263e7.ttf
  packages/geo-diary/src/assets/fonts/1427944/f3c7f613-9728-4ed6-a383-1c8519b215d2.woff
  packages/geo-diary/src/components/common/appointment-detail/__tests__/__snapshots__/appointment-detail.tsx.snap
  packages/geo-diary/src/components/common/appointment-detail/__tests__/__snapshots__/confirm-content.tsx.snap
  packages/geo-diary/src/components/common/appointment-detail/appointment-detail.tsx
  packages/geo-diary/src/components/common/appointment-detail/confirm-content.tsx
  packages/geo-diary/src/components/pages/__tests__/__snapshots__/login.tsx.snap
  packages/geo-diary/src/components/pages/login.tsx
  packages/geo-diary/src/components/ui/appointment-list.tsx
  packages/geo-diary/src/core/index.tsx
  packages/geo-diary/src/styles/base/fonts.scss
  packages/geo-diary/src/styles/index.scss
  packages/geo-diary/src/styles/pages/login.scss
  packages/geo-diary/src/styles/pages/map.scss
  packages/geo-diary/src/styles/pages/page-container.scss
  packages/geo-diary/src/styles/ui/appoinments-detail.scss
  packages/geo-diary/src/styles/ui/appointment-list.scss
Labels: elements, geo-diary

#1975 chore: #1893 apply new styles and containers to app scaffolder (partial)
  packages/react-app-scaffolder/app/index.js
  packages/react-app-scaffolder/app/templates/_package.json
  packages/react-app-scaffolder/app/templates/base-is-foundation/jest.config.js
  packages/react-app-scaffolder/app/templates/base/src/core/app.tsx
  packages/react-app-scaffolder/app/templates/base/src/core/index.tsx
  packages/react-app-scaffolder/app/templates/no-redux/src/components/pages/authenticated.tsx
  packages/react-app-scaffolder/app/templates/no-redux/src/core/private-route-wrapper.tsx
  packages/react-app-scaffolder/app/templates/redux/src/components/pages/authenticated.tsx
  packages/react-app-scaffolder/app/templates/redux/src/core/private-route-wrapper.tsx
  packages/react-app-scaffolder/app/templates/redux/src/core/store.ts
Labels: elements, react-app-scaffolder

#1977 feat: #1971 Only display endpoints (itemCount) for ‘API Requests’
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/__test__/cost-explorer-table.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/cost-explorer-table.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
Labels: marketplace

#1979 fix: #1978 elements production issue cant resolve reapit utils
  packages/cognito-auth/package.json
  packages/elements/package.json
  packages/elements/src/components/ImageInput/__tests__/index.tsx
  packages/elements/src/components/ImageInput/index.tsx
Labels: cognito-auth, elements

#1983 feat: #1037 add data loader relation for appointment
  packages/graphql-server/src/__tests__/index.test.ts
  packages/graphql-server/src/index.ts
  packages/graphql-server/src/resolvers/appointments/resolvers.ts
  packages/graphql-server/src/resolvers/appointments/types.graphql
  packages/graphql-server/src/resolvers/configurations/__tests__/dataloader.test.ts
  packages/graphql-server/src/resolvers/configurations/dataloader.ts
  packages/graphql-server/src/resolvers/properties/__tests__/dataloader.test.ts
  packages/graphql-server/src/resolvers/properties/dataloader.ts
  packages/graphql-server/src/schema.graphql
  packages/graphql-server/src/utils/__tests__/check-permission.test.ts
Labels: graphql-server

#1980 chore: #1961 update the filtering options on the detailed tab in analytics
  packages/marketplace/src/components/ui/developer-analytics/detailed/__test__/detailed-tab.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/detailed/detailed-tab.tsx
  packages/marketplace/src/components/ui/developer-analytics/detailed/filter-bar/__test__/__snapshots__/default-filter-group.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/detailed/filter-bar/__test__/__snapshots__/filter-bar.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/detailed/filter-bar/__test__/default-filter-group.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/detailed/filter-bar/__test__/filter-bar.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/detailed/filter-bar/default-filter-group.tsx
  packages/marketplace/src/components/ui/developer-analytics/detailed/filter-bar/filter-bar.tsx
  packages/marketplace/src/components/ui/developer-analytics/detailed/filter-bar/filter-form.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1984 chore: #1893 remove styling options
  packages/react-app-scaffolder/app/index.js
  packages/react-app-scaffolder/app/templates/_gitignore
  packages/react-app-scaffolder/app/templates/_package.json
  packages/react-app-scaffolder/app/templates/base-is-foundation/package.json
  packages/react-app-scaffolder/app/templates/base-is-not-sass/src/components/pages/__styles__/login.ts
  packages/react-app-scaffolder/app/templates/base-is-not-sass/src/scripts/webpack-dev.js
  packages/react-app-scaffolder/app/templates/base-is-not-sass/src/scripts/webpack-prod.js
  packages/react-app-scaffolder/app/templates/base/src/core/app.tsx
  packages/react-app-scaffolder/app/templates/base/src/scripts/purgecss-loader.js
  packages/react-app-scaffolder/app/templates/base/src/scripts/webpack-dev.js
  packages/react-app-scaffolder/app/templates/base/src/scripts/webpack-prod.js
  packages/react-app-scaffolder/app/templates/base/src/styles/base/colors.scss
  packages/react-app-scaffolder/app/templates/base/src/styles/base/layout.scss
  packages/react-app-scaffolder/app/templates/base/src/styles/index.scss
  packages/react-app-scaffolder/app/templates/base/src/styles/pages/login.scss
  packages/react-app-scaffolder/app/templates/is-foundation-no-redux/package.json
  packages/react-app-scaffolder/app/templates/is-foundation-redux/package.json
  packages/react-app-scaffolder/app/templates/no-redux/src/components/pages/login.tsx
  packages/react-app-scaffolder/app/templates/no-redux/src/core/app.tsx
  packages/react-app-scaffolder/app/templates/redux/src/components/pages/login.tsx
  packages/react-app-scaffolder/app/templates/redux/src/core/app.tsx
Labels: react-app-scaffolder

#1989 fix: #1037 map component in reapit element
  packages/admin-portal/src/components/pages/settings/__tests__/__snapshots__/tabs.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/__tests__/__snapshots__/tabs.test.tsx.snap
  packages/elements/src/components/Map/index.tsx
  packages/elements/src/components/Tabs/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Tabs/index.tsx
  packages/elements/src/index.tsx
  packages/geo-diary-v2/src/components/ui/map/__test__/__snapshots__/map.test.tsx.snap
  packages/geo-diary-v2/src/components/ui/map/map.tsx
  packages/geo-diary/src/components/container/__tests__/__snapshots__/map.tsx.snap
  packages/geo-diary/src/components/container/map.tsx
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/tabs.test.tsx.snap
  packages/smb-onboarder/src/components/pages/offices/__tests__/__snapshots__/offices.tsx.snap
Labels: elements, geo-diary, marketplace, smb-onboarder

#2003 feat: #1037 add modal for elements
  packages/elements/package.json
  packages/elements/src/index.tsx
  packages/elements/src/v2/src/components/modal/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/v2/src/components/modal/__tests__/index.tsx
  packages/elements/src/v2/src/components/modal/index.tsx
  yarn.lock
Labels: elements

#2008 chore: #1918 remove unused code from marketplace login page
  packages/marketplace/src/actions/__tests__/auth.ts
  packages/marketplace/src/actions/auth.ts
  packages/marketplace/src/components/pages/login.tsx
  packages/marketplace/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/marketplace/src/components/pages/login/__tests__/login.test.tsx
  packages/marketplace/src/components/pages/login/index.ts
  packages/marketplace/src/components/pages/login/login.tsx
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/__tests__/private-route-wrapper.tsx
  packages/marketplace/src/core/private-route-wrapper.tsx
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/sagas/__tests__/auth.ts
  packages/marketplace/src/sagas/auth.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/__tests__/auth-route.ts
  packages/marketplace/src/utils/auth-route.ts
Labels: marketplace

#2015 refactor: #1891 apply new styles and containers to geo diary app
  packages/geo-diary/src/components/container/__tests__/__snapshots__/view-detail-button.tsx.snap
  packages/geo-diary/src/components/container/__tests__/__snapshots__/view-direction-button.tsx.snap
  packages/geo-diary/src/components/container/view-detail-button.tsx
  packages/geo-diary/src/components/container/view-direction-button.tsx
  packages/geo-diary/src/styles/base/colors.scss
  packages/geo-diary/src/styles/base/layout.scss
  packages/geo-diary/src/styles/pages/page-container.scss
Labels: geo-diary

#2016 chore: #1918 remove unused routes from marketplace
  packages/marketplace/src/components/pages/settings/__tests__/client-setting.tsx
  packages/marketplace/src/components/ui/menu.tsx
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/__tests__/private-route.tsx
  packages/marketplace/src/core/private-route-wrapper.tsx
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/__tests__/auth-route.ts
  packages/marketplace/src/utils/__tests__/route-dispatcher.ts
  packages/marketplace/src/utils/auth-route.ts
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: marketplace

#2006 feat: #1037 appointment detail
  packages/elements/src/index.tsx
  packages/elements/src/utils/combine-address/__tests__/combine-address.ts
  packages/elements/src/utils/combine-address/combine-address.ts
  packages/elements/src/v2.ts
  packages/elements/src/v2/src/components/index.ts
  packages/elements/src/v2/src/components/modal/__styles__/index.ts
  packages/elements/src/v2/src/components/modal/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/v2/src/components/modal/index.tsx
  packages/geo-diary-v2/src/components/pages/appointment/__mocks__/appointments-query.ts
  packages/geo-diary-v2/src/components/pages/appointment/__styles__/index.ts
  packages/geo-diary-v2/src/components/pages/appointment/__tests__/__snapshots__/appointment.test.tsx.snap
  packages/geo-diary-v2/src/components/pages/appointment/__tests__/__snapshots__/mobile-layout.test.tsx.snap
  packages/geo-diary-v2/src/components/pages/appointment/__tests__/appointment.test.tsx
  packages/geo-diary-v2/src/components/pages/appointment/__tests__/mobile-layout.test.tsx
  packages/geo-diary-v2/src/components/pages/appointment/appointment.tsx
  packages/geo-diary-v2/src/components/pages/appointment/desktop-layout.tsx
  packages/geo-diary-v2/src/components/pages/appointment/get-appointments.graphql
  packages/geo-diary-v2/src/components/pages/appointment/mobile-layout.tsx
  packages/geo-diary-v2/src/components/ui/appointment-detail-modal/__tests__/__snapshots__/appointment-detail-modal.test.tsx.snap
  packages/geo-diary-v2/src/components/ui/appointment-detail-modal/__tests__/appointment-detail-modal.test.tsx
  packages/geo-diary-v2/src/components/ui/appointment-detail-modal/appointment-detail-modal.tsx
  packages/geo-diary-v2/src/components/ui/appointment-detail-modal/index.ts
  packages/geo-diary-v2/src/components/ui/appointment-detail-modal/update-appointment-by-id.graphql
  packages/geo-diary-v2/src/components/ui/appointment-list/__tests__/__snapshots__/appointment-list.test.tsx.snap
  packages/geo-diary-v2/src/components/ui/appointment-list/__tests__/appointment-list.test.tsx
  packages/geo-diary-v2/src/components/ui/appointment-list/appointment-list.tsx
  packages/geo-diary-v2/src/components/ui/appointment-tile/__tests__/__snapshots__/appointment-tile.test.tsx.snap
  packages/geo-diary-v2/src/components/ui/appointment-tile/__tests__/appointment-tile.test.tsx
  packages/geo-diary-v2/src/components/ui/appointment-tile/appointment-tile.tsx
  packages/geo-diary-v2/src/components/ui/eta-button/__tests__/__snapshots__/eta-button.test.tsx.snap
  packages/geo-diary-v2/src/components/ui/eta-button/__tests__/eta-button.test.tsx
  packages/geo-diary-v2/src/components/ui/eta-button/eta-button.tsx
  packages/geo-diary-v2/src/components/ui/eta-button/index.ts
  packages/geo-diary-v2/src/components/ui/list-and-map-tab/__styles__/index.ts
  packages/geo-diary-v2/src/components/ui/list-and-map-tab/__tests__/__snapshots__/list-and-map-tab.test.tsx.snap
  packages/geo-diary-v2/src/components/ui/list-and-map-tab/__tests__/list-and-map-tab.test.tsx
  packages/geo-diary-v2/src/components/ui/list-and-map-tab/index.ts
  packages/geo-diary-v2/src/components/ui/list-and-map-tab/list-and-map-tab.tsx
  packages/geo-diary-v2/src/components/ui/map-pannel/__test__/__snapshots__/map-pannel.test.tsx.snap
  packages/geo-diary-v2/src/components/ui/map-pannel/__test__/map-pannel.test.tsx
  packages/geo-diary-v2/src/components/ui/map-pannel/map-pannel.tsx
  packages/geo-diary-v2/src/components/ui/map/__test__/__snapshots__/map.test.tsx.snap
  packages/geo-diary-v2/src/components/ui/map/__test__/map.test.tsx
  packages/geo-diary-v2/src/components/ui/map/map.tsx
  packages/geo-diary-v2/src/components/ui/travel-mode/__styles__/index.ts
  packages/geo-diary-v2/src/components/ui/travel-mode/__tests__/__snapshots__/travel-mode.test.tsx.snap
  packages/geo-diary-v2/src/components/ui/travel-mode/__tests__/travel-mode.test.tsx
  packages/geo-diary-v2/src/components/ui/travel-mode/travel-mode.tsx
  packages/geo-diary-v2/src/core/index.tsx
  packages/geo-diary-v2/src/graphql/__mocks__/appointment.ts
  packages/geo-diary-v2/src/graphql/__mocks__/appointments.ts
  packages/geo-diary-v2/src/graphql/__tests__/resolvers.test.ts
  packages/geo-diary-v2/src/graphql/fragments/appointment-attendee-model.graphql
  packages/geo-diary-v2/src/graphql/fragments/appointment-contact-model.graphql
  packages/geo-diary-v2/src/graphql/fragments/appointment-followup-model.graphql
  packages/geo-diary-v2/src/graphql/fragments/appointment-model.graphql
  packages/geo-diary-v2/src/graphql/fragments/negotiator-model.graphql
  packages/geo-diary-v2/src/graphql/fragments/office-model.graphql
  packages/geo-diary-v2/src/graphql/resolvers.ts
Labels: elements

#2009 feat: #1037 add relation resolver for query appointment
  packages/graphql-server/src/__mocks__/context.ts
  packages/graphql-server/src/index.ts
  packages/graphql-server/src/resolvers/appointments/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/appointments/resolvers.ts
  packages/graphql-server/src/resolvers/appointments/types.graphql
  packages/graphql-server/src/resolvers/configurations/__tests__/dataloader.test.ts
  packages/graphql-server/src/resolvers/negotiators/__tests__/dataloader.ts
  packages/graphql-server/src/resolvers/negotiators/dataloader.ts
  packages/graphql-server/src/resolvers/offices/__tests__/dataloader.test.ts
  packages/graphql-server/src/resolvers/offices/dataloader.ts
  packages/graphql-server/src/resolvers/properties/__tests__/dataloader.test.ts
  packages/graphql-server/src/schema.graphql
Labels: graphql-server

#2028 feat: #1037 add style for rc dialog
  packages/elements/src/index.tsx
Labels: elements

#2058 feat: #2027 clean up styled component for smb
  package.json
  packages/smb-onboarder/package.json
  packages/smb-onboarder/src/components/pages/get-started/__styles__/index.ts
  packages/smb-onboarder/src/components/pages/get-started/__tests__/__snapshots__/get-started.tsx.snap
  packages/smb-onboarder/src/components/pages/get-started/get-started.tsx
  packages/smb-onboarder/src/components/pages/home/__styles__/index.ts
  packages/smb-onboarder/src/components/pages/home/__styles__/styles.tsx
  packages/smb-onboarder/src/components/pages/home/__tests__/__snapshots__/home.test.tsx.snap
  packages/smb-onboarder/src/components/pages/home/home.tsx
  packages/smb-onboarder/src/components/pages/login/__styles__/index.ts
  packages/smb-onboarder/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/smb-onboarder/src/components/pages/login/__tests__/__snapshots__/style.test.tsx.snap
  packages/smb-onboarder/src/components/pages/login/__tests__/style.test.tsx
  packages/smb-onboarder/src/components/pages/login/login.tsx
  packages/smb-onboarder/src/components/ui/__tests__/__snapshots__/upload-result-modal.tsx.snap
  packages/smb-onboarder/src/components/ui/__tests__/upload-result-modal.tsx
  packages/smb-onboarder/src/components/ui/upload-result-modal.tsx
  packages/smb-onboarder/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/smb-onboarder/src/core/app.tsx
  yarn.lock
Labels: smb-onboarder

#2057 feat: #2027 clean up styled component
  packages/elements/package.json
  packages/elements/src/components/Breadcrumb/index.ts
  packages/elements/src/components/BreadcrumbV2/__styles__/styles.ts
  packages/elements/src/components/BreadcrumbV2/__tests__/__snapshots__/breadcrumb-item.test.tsx.snap
  packages/elements/src/components/BreadcrumbV2/__tests__/__snapshots__/breadcrumb-separator.test.tsx.snap
  packages/elements/src/components/BreadcrumbV2/__tests__/__snapshots__/breadcrumb.test.tsx.snap
  packages/elements/src/components/BreadcrumbV2/__tests__/breadcrumb-item.test.tsx
  packages/elements/src/components/BreadcrumbV2/__tests__/breadcrumb-separator.test.tsx
  packages/elements/src/components/BreadcrumbV2/__tests__/breadcrumb.test.tsx
  packages/elements/src/components/BreadcrumbV2/breadcrumb-item.tsx
  packages/elements/src/components/BreadcrumbV2/breadcrumb-separator.tsx
  packages/elements/src/components/BreadcrumbV2/breadcrumb.stories.tsx
  packages/elements/src/components/BreadcrumbV2/breadcrumb.tsx
  packages/elements/src/components/BreadcrumbV2/index.ts
  packages/elements/src/components/ImageCropper/image-cropper.stories.tsx
  packages/elements/src/components/ImageCropper/index.tsx
  packages/elements/src/components/ImageCropperV2/__styles__/styles.ts
  packages/elements/src/components/ImageCropperV2/__tests__/__snapshots__/image-cropper.test.tsx.snap
  packages/elements/src/components/ImageCropperV2/__tests__/handlers.test.ts
  packages/elements/src/components/ImageCropperV2/__tests__/image-cropper.test.tsx
  packages/elements/src/components/ImageCropperV2/__tests__/integration-helpers.test.ts
  packages/elements/src/components/ImageCropperV2/__tests__/utils.test.ts
  packages/elements/src/components/ImageCropperV2/handlers.ts
  packages/elements/src/components/ImageCropperV2/image-cropper.tsx
  packages/elements/src/components/ImageCropperV2/index.tsx
  packages/elements/src/components/ImageCropperV2/integration-helpers.ts
  packages/elements/src/components/ImageCropperV2/types.ts
  packages/elements/src/components/ImageCropperV2/utils.ts
  packages/elements/src/components/ModalV2/__styles__/index.ts
  packages/elements/src/components/ModalV2/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/ModalV2/__tests__/index.tsx
  packages/elements/src/components/ModalV2/index.tsx
  packages/elements/src/index.tsx
  packages/elements/src/v2/src/components/index.ts
  packages/elements/src/v2/src/components/typography/__snapshots__/h1.test.tsx.snap
  packages/elements/src/v2/src/components/typography/h1.test.tsx
  packages/elements/src/v2/src/components/typography/h1.tsx
  packages/elements/src/v2/src/components/typography/index.ts
  packages/elements/src/v2/src/index.ts
  packages/elements/src/v2/src/styles/index.ts
  packages/elements/tsdx.config.js
  yarn.lock
Labels: elements

#2060 fix: #2026 scroll bar at element level
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/cognito-auth/src/tests/badges/badge-branches.svg
  packages/cognito-auth/src/tests/badges/badge-functions.svg
  packages/cognito-auth/src/tests/badges/badge-lines.svg
  packages/cognito-auth/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/elements/src/styles/base/global.scss
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/geo-diary-v2/src/tests/badges/badge-branches.svg
  packages/geo-diary-v2/src/tests/badges/badge-functions.svg
  packages/geo-diary-v2/src/tests/badges/badge-lines.svg
  packages/geo-diary-v2/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/lifetime-legal/src/tests/badges/badge-branches.svg
  packages/lifetime-legal/src/tests/badges/badge-functions.svg
  packages/lifetime-legal/src/tests/badges/badge-lines.svg
  packages/lifetime-legal/src/tests/badges/badge-statements.svg
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/site-builder/src/tests/badges/badge-branches.svg
  packages/site-builder/src/tests/badges/badge-functions.svg
  packages/site-builder/src/tests/badges/badge-lines.svg
  packages/site-builder/src/tests/badges/badge-statements.svg
  packages/smb-onboarder/src/tests/badges/badge-branches.svg
  packages/smb-onboarder/src/tests/badges/badge-functions.svg
  packages/smb-onboarder/src/tests/badges/badge-lines.svg
  packages/smb-onboarder/src/tests/badges/badge-statements.svg
Labels: aml-checklist, cognito-auth, elements, geo-diary, lifetime-legal

#2055 chore: #1997 update the routing and app title for the marketplace portal
  packages/elements/src/components/Menu/Menu.tsx
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-uninstall-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/web-component-config-modal/__test__/__snapshots__/client-web-component-config.test.tsx.snap
  packages/marketplace/src/components/pages/app-management/__tests__/__snapshots__/apps-management.test.tsx.snap
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/marketplace/src/components/pages/handle-legacy-routes/__tests__/__snapshots__/handle-legacy-developer-routes-modal.tsx.snap
  packages/marketplace/src/components/pages/handle-legacy-routes/__tests__/handle-legacy-developer-routes-modal.tsx
  packages/marketplace/src/components/pages/handle-legacy-routes/handle-legacy-admin-routes-modal.tsx
  packages/marketplace/src/components/pages/handle-legacy-routes/handle-legacy-developer-routes-modal.tsx
  packages/marketplace/src/components/pages/installed-apps/__tests__/__snapshots__/installed-apps.test.tsx.snap
  packages/marketplace/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/setting.test.tsx.snap
  packages/marketplace/src/components/ui/menu.tsx
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/__tests__/__snapshots__/private-route.tsx.snap
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/index.tsx
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/types/global.d.ts
  packages/marketplace/src/utils/__tests__/client-url-params.ts
Labels: elements, marketplace

#2071 feat: #2011 Setting up Debit & integrate API in Dev Portal Setting billing tab
  packages/developer-portal/config.example.json
  packages/developer-portal/src/components/pages/app-detail-preview/client/__tests__/__snapshots__/contact-developer-modal.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__tests__/__snapshots__/account-status-section.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__tests__/__snapshots__/accounts-information-form.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__tests__/__snapshots__/direct-debit-section.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__tests__/account-status-section.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__tests__/accounts-information-form.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__tests__/direct-debit-section.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/account-status-section.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/accounts-information-form.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/contact-information-section.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/direct-debit-section.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/form-schema/form-fields.ts
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/form-schema/validation-schema.ts
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/reapit-reference-section.tsx
  packages/developer-portal/src/core/index.tsx
  packages/developer-portal/src/reducers/__stubs__/app-state.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/types/global.d.ts
  packages/developer-portal/src/utils/route-dispatcher.ts
  packages/elements/src/components/ModalV2/__tests__/index.tsx
  packages/elements/src/components/ModalV2/index.tsx
  packages/elements/src/index.tsx
  packages/geo-diary-v2/src/components/ui/appointment-detail-modal/__tests__/__snapshots__/appointment-detail-modal.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/contact-developer-modal.test.tsx.snap
Labels: elements, marketplace

#2062 feat: #2012 update ‘developer management’ on admin portal
  packages/admin-portal/package.json
  packages/admin-portal/src/actions/developer-set-status.ts
  packages/admin-portal/src/components/pages/apps-management/__tests__/__snapshots__/apps-management.test.tsx.snap
  packages/admin-portal/src/components/pages/devs-management/__tests__/__snapshots__/devs-management.test.tsx.snap
  packages/admin-portal/src/components/pages/devs-management/__tests__/devs-management.test.tsx
  packages/admin-portal/src/components/pages/devs-management/devs-management.tsx
  packages/admin-portal/src/components/pages/devs-management/set-status-modal/__tests__/__snapshots__/status-modal.test.tsx.snap
  packages/admin-portal/src/components/pages/devs-management/set-status-modal/__tests__/status-modal.test.tsx
  packages/admin-portal/src/components/pages/devs-management/set-status-modal/form-schema.ts
  packages/admin-portal/src/components/pages/devs-management/set-status-modal/status-modal.tsx
  packages/admin-portal/src/sagas/__stubs__/app-usage-stats.ts
  packages/admin-portal/src/sagas/developer-set-status.ts
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/general-information-section.test.tsx.snap
  packages/developer-portal/src/components/pages/register/__tests__/__snapshots__/register.test.tsx.snap
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/elements/src/components/Input/index.tsx
  packages/elements/src/components/ModalV2/__styles__/index.ts
  packages/elements/src/components/ModalV2/index.tsx
  packages/elements/src/components/RadioSelect/__tests__/index.tsx
  packages/elements/src/components/RadioSelect/index.tsx
  packages/utils/src/form/regexs.ts
Labels: elements

#2083 fix: #1997 fix admin redirect modal on marketplace
  packages/marketplace/src/components/pages/handle-legacy-routes/__tests__/__snapshots__/handle-legacy-admin-routes-modal.tsx.snap
  packages/marketplace/src/components/pages/handle-legacy-routes/__tests__/handle-legacy-admin-routes-modal.tsx
  packages/marketplace/src/components/pages/handle-legacy-routes/handle-legacy-admin-routes-modal.tsx
Labels: marketplace

#2087 fix: #2070 safari bugs with geo diary v2
  packages/elements/src/styles/base/utilities.scss
  packages/elements/src/styles/vendor/bulma-overrides.scss
  packages/geo-diary-v2/src/components/ui/appointment-detail-modal/__tests__/__snapshots__/appointment-detail-modal.test.tsx.snap
  packages/geo-diary-v2/src/components/ui/appointment-detail-modal/appointment-detail-modal.tsx
  packages/geo-diary-v2/src/components/ui/appointment-time/appointment-time.tsx
  packages/geo-diary-v2/src/components/ui/travel-mode/travel-mode.tsx
Labels: elements

#2106 feat: #2011 Add Modal responsive variant & apply to billing debit modal
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/direct-debit-section.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/elements/src/components/ModalV2/__styles__/index.ts
  packages/elements/src/components/ModalV2/index.tsx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/geo-diary-v2/src/tests/badges/badge-branches.svg
  packages/geo-diary-v2/src/tests/badges/badge-functions.svg
  packages/geo-diary-v2/src/tests/badges/badge-lines.svg
  packages/geo-diary-v2/src/tests/badges/badge-statements.svg
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: elements, marketplace

#2109 chore: #2090 Logout button should be hidden in Desktop Mode for Client
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/setting.test.tsx.snap
  packages/marketplace/src/components/pages/settings/__tests__/setting.test.tsx
  packages/marketplace/src/components/pages/settings/setting.tsx
Labels: marketplace

#2093 chore: #2088 update success modal for direct api apps
  packages/elements/src/components/ModalV2/__styles__/index.ts
  packages/elements/src/components/ModalV2/index.tsx
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/app-install-confirmation.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-install-confirmation.tsx
Labels: elements, marketplace

#2143 feat: #1882 Update services chart legend layout
  packages/admin-portal/src/components/pages/statistics/__tests__/__snapshots__/statistics.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics/cost-explorer/service-chart/__tests__/__snapshots__/service-chart.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics/cost-explorer/service-chart/__tests__/service-chart.test.tsx
  packages/developer-portal/src/components/pages/analytics/cost-explorer/service-chart/service-chart.tsx
  packages/developer-portal/src/components/ui/chart-legend/__tests__/__snapshots__/chart-legend.test.tsx.snap
  packages/developer-portal/src/components/ui/chart-legend/__tests__/chart-legend.test.tsx
  packages/developer-portal/src/components/ui/chart-legend/chart-legend.tsx
  packages/developer-portal/src/components/ui/chart-legend/index.ts
  packages/elements/src/components/Layout/index.tsx
  packages/elements/src/styles/base/utilities.scss
  packages/elements/src/styles/components/chart.scss
  packages/elements/src/styles/index.scss
  scripts/jest/jest-setup.js
Labels: elements

#2149 feat: #2089 tweak story book css
  packages/admin-portal/src/components/pages/apps-management/__tests__/__snapshots__/apps-management.test.tsx.snap
  packages/admin-portal/src/components/pages/devs-management/__tests__/__snapshots__/devs-management.test.tsx.snap
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/elements/package.json
  packages/elements/src/components/BreadcrumbV2/breadcrumb.stories.tsx
  packages/elements/src/components/Button/button.stories.tsx
  packages/elements/src/components/CameraImageInput/camera-image-input.stories.tsx
  packages/elements/src/components/Checkbox/checkbox.stories.tsx
  packages/elements/src/components/DatePicker/date-picker.stories.tsx
  packages/elements/src/components/DatePicker/index.tsx
  packages/elements/src/components/DropdownSelect/dropdown-select.stories.tsx
  packages/elements/src/components/FileInput/file-input.stories.tsx
  packages/elements/src/components/Helper/helper.stories.tsx
  packages/elements/src/components/HtmlRender/html-render.stories.tsx
  packages/elements/src/components/IconList/__tests__/index.tsx
  packages/elements/src/components/IconList/icon-list.stories.tsx
  packages/elements/src/components/ImageInput/image-input.stories.tsx
  packages/elements/src/components/Input/input.stories.tsx
  packages/elements/src/components/Layout/index.tsx
  packages/elements/src/components/Layout/layout.stories.tsx
  packages/elements/src/components/Loader/loader.stories.tsx
  packages/elements/src/components/Menu/Menu.stories.tsx
  packages/elements/src/components/Modal/modal.stories.tsx
  packages/elements/src/components/Notification/index.tsx
  packages/elements/src/components/Notification/notification.stories.tsx
  packages/elements/src/components/Pagination/pagination.stories.tsx
  packages/elements/src/components/RadioSelect/index.stories.tsx
  packages/elements/src/components/SelectBox/__tests__/index.tsx
  packages/elements/src/components/SelectBox/select-box.stories.tsx
  packages/elements/src/components/Tabs/tabs.stories.tsx
  packages/elements/src/components/TextArea/text-area.stories.tsx
  packages/elements/src/components/TextAreaEditor/text-area-editor.stories.tsx
  packages/elements/src/components/Toast/toast.stories.tsx
  packages/elements/src/components/ToastMessage/toastMessage.stories.tsx
  packages/elements/src/components/Typography/typography.stories.tsx
  packages/elements/src/components/Wizard/index.tsx
  packages/elements/src/components/Wizard/wizard.stories.tsx
  packages/elements/src/hooks/UsePortal/use-portal.stories.tsx
  packages/elements/src/utils/datetime/datetime.stories.tsx
  packages/elements/src/utils/device-detection/device-detection.stories.tsx
  packages/elements/src/utils/fetcher/fetcher.stories.tsx
  packages/elements/src/utils/is-base64/is-base64.stories.tsx
  packages/elements/src/utils/query-params/query-params.stories.tsx
  packages/elements/src/utils/validators/validators.stories.tsx
  packages/geo-diary-v2/src/tests/badges/badge-branches.svg
  packages/geo-diary-v2/src/tests/badges/badge-lines.svg
  packages/geo-diary-v2/src/tests/badges/badge-statements.svg
  yarn.lock
Labels: aml-checklist, elements

#2151 feat: #2120 Pagination of Browse Apps list on Marketplace should be an infinite scroll
  packages/marketplace/package.json
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-list.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/fade.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/featured-app.tsx.snap
  packages/marketplace/src/components/ui/__tests__/fade.tsx
  packages/marketplace/src/components/ui/__tests__/featured-app.tsx
  packages/marketplace/src/components/ui/app-card.tsx
  packages/marketplace/src/components/ui/app-list.tsx
  packages/marketplace/src/components/ui/fade.tsx
  packages/marketplace/src/components/ui/featured-app.tsx
  packages/marketplace/src/constants/paginator.ts
  packages/marketplace/src/reducers/client/__test__/app-summary.test.ts
  packages/marketplace/src/reducers/client/app-summary.ts
  packages/marketplace/src/sagas/__tests__/client.ts
  packages/marketplace/src/sagas/client.ts
  packages/marketplace/src/styles/blocks/featured-app.scss
  packages/marketplace/src/styles/index.scss
  packages/marketplace/src/styles/pages/apps.scss
  packages/marketplace/src/utils/__tests__/route-dispatcher.ts
  packages/marketplace/src/utils/route-dispatcher.ts
  yarn.lock
Labels: marketplace

#2159 feat: #2116 node connect session
  packages/aml-checklist/package.json
  packages/aml-checklist/src/core/connect-session.ts
  packages/aml-checklist/src/core/index.tsx
  packages/connect-session/README.md
  packages/connect-session/jest.config.js
  packages/connect-session/src/__mocks__/session.ts
  packages/connect-session/src/browser/__tests__/index.test.ts
  packages/connect-session/src/browser/index.ts
  packages/connect-session/src/index.ts
  packages/connect-session/src/react/__tests__/index.test.tsx
  packages/connect-session/src/server/__tests__/index.test.ts
  packages/connect-session/src/server/index.ts
  packages/connect-session/src/types.ts
  packages/cra-external-template/template/src/components/pages/__tests__/login.tsx
  packages/cra-external-template/template/src/components/pages/login.tsx
  packages/cra-external-template/template/src/components/ui/menu.tsx
  packages/cra-external-template/template/src/core/connect-session.tsx
  packages/cra-external-template/template/src/core/private-route-wrapper.tsx
  packages/cra-external-template/template/src/index.tsx
Labels: aml-checklist

#2164 feat: #2129 The Marketplace top level help item and welcome wizard should be removed
  packages/marketplace/src/components/pages/help/__tests__/__snapshots__/help.test.tsx.snap
  packages/marketplace/src/components/pages/help/__tests__/help.test.tsx
  packages/marketplace/src/components/pages/help/help.tsx
  packages/marketplace/src/components/pages/login/__tests__/login.test.tsx
  packages/marketplace/src/components/pages/login/login.tsx
  packages/marketplace/src/components/pages/welcome/__tests__/__snapshots__/welcome.test.tsx.snap
  packages/marketplace/src/components/pages/welcome/__tests__/welcome.test.tsx
  packages/marketplace/src/components/pages/welcome/index.ts
  packages/marketplace/src/components/pages/welcome/welcome.tsx
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/__tests__/private-route-wrapper.tsx
  packages/marketplace/src/core/private-route-wrapper.tsx
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/__tests__/auth-route.ts
  packages/marketplace/src/utils/auth-route.ts
Labels: marketplace

#2168 fix: #2089 tweak ui for storybook
  packages/elements/src/components/Wizard/wizard.stories.tsx
Labels: elements

#2166 fix: #2119 Updating a record in AML app throws a 422 error
  packages/aml-checklist/jest.config.js
  packages/aml-checklist/src/components/pages/__tests__/__snapshots__/results.tsx.snap
  packages/aml-checklist/src/components/pages/__tests__/checklist-detail.tsx
  packages/aml-checklist/src/components/pages/results.tsx
  packages/aml-checklist/src/components/ui/forms/__tests__/__snapshots__/identification.tsx.snap
  packages/aml-checklist/src/components/ui/forms/__tests__/identification.tsx
  packages/aml-checklist/src/components/ui/forms/identification.tsx
  packages/aml-checklist/src/components/ui/inputs/select-identity.tsx
  packages/aml-checklist/src/components/ui/modal/address-information/__tests__/__snapshots__/address-information.tsx.snap
  packages/aml-checklist/src/components/ui/modal/address-information/__tests__/address-information.tsx
  packages/aml-checklist/src/components/ui/modal/address-information/address-information.tsx
  packages/aml-checklist/src/components/ui/modal/address-information/form-schema/validation-schema.ts
  packages/aml-checklist/src/components/ui/modal/declaration-and-risk-assessment/__tests__/__snapshots__/declaration-and-risk-assessment.tsx.snap
  packages/aml-checklist/src/components/ui/modal/declaration-and-risk-assessment/__tests__/declaration-and-risk-assessment.tsx
  packages/aml-checklist/src/components/ui/modal/declaration-and-risk-assessment/declaration-and-risk-assessment.tsx
  packages/aml-checklist/src/components/ui/modal/profile/__tests__/__snapshots__/profile.tsx.snap
  packages/aml-checklist/src/components/ui/modal/profile/__tests__/profile.tsx
  packages/aml-checklist/src/components/ui/modal/profile/profile.tsx
  packages/aml-checklist/src/helper/mock/mock-router.ts
  packages/aml-checklist/src/sagas/__tests__/checklist-detail.ts
  packages/aml-checklist/src/sagas/checklist-detail.ts
  packages/aml-checklist/src/services/__tests__/documents.ts
  packages/elements/src/components/FileInput/index.tsx
  packages/elements/src/utils/validators/validate-object.ts
Labels: aml-checklist, elements

#2167 feat: #2123 Browse App preview feature
  packages/marketplace/config.example.json
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/core/index.tsx
  packages/marketplace/src/reducers/client/app-summary.ts
  packages/marketplace/src/sagas/__tests__/client.ts
  packages/marketplace/src/sagas/client.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/types/global.d.ts
  packages/marketplace/src/utils/__tests__/route-dispatcher.ts
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: marketplace

#2171 chore: #2032 elements & cognito-auth & connect-session badges broken
  packages/cognito-auth/package.json
  packages/connect-session/package.json
  packages/elements/package.json
Labels: cognito-auth, elements

#2172 chore: #2120 calculate number of apps on different screen height
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/marketplace/src/core/private-route-wrapper.tsx
  packages/marketplace/src/sagas/client.ts
  packages/marketplace/src/utils/__tests__/browse-app.ts
  packages/marketplace/src/utils/browse-app.ts
Labels: marketplace

#2180 refactor: #2098 clean up service folder and unuse code
  packages/marketplace/jest.config.js
  packages/marketplace/src/actions/client.ts
  packages/marketplace/src/components/pages/app-detail/client/web-component-config-modal/__test__/config-modal-inner.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/web-component-config-modal/config-modal-inner.tsx
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/constants/form.ts
  packages/marketplace/src/constants/gitter.ts
  packages/marketplace/src/constants/iframe-urls.ts
  packages/marketplace/src/core/index.tsx
  packages/marketplace/src/reducers/__stubs__/app-state.ts
  packages/marketplace/src/reducers/client/web-component.ts
  packages/marketplace/src/sagas/__stubs__/approvals.ts
  packages/marketplace/src/sagas/__tests__/web-component.ts
  packages/marketplace/src/sagas/apps/__test__/apps.test.ts
  packages/marketplace/src/sagas/apps/apps.ts
  packages/marketplace/src/selector/__tests__/client.ts
  packages/marketplace/src/selector/client.ts
  packages/marketplace/src/services/approvals.ts
  packages/marketplace/src/services/apps.ts
  packages/marketplace/src/services/categories.ts
  packages/marketplace/src/services/constants.ts
  packages/marketplace/src/services/desktop-integration-types.ts
  packages/marketplace/src/services/developer-subscriptions.ts
  packages/marketplace/src/services/developers.ts
  packages/marketplace/src/services/installations.ts
  packages/marketplace/src/services/negotiators.ts
  packages/marketplace/src/services/scopes.ts
  packages/marketplace/src/services/statistics.ts
  packages/marketplace/src/services/traffic-events.ts
  packages/marketplace/src/services/upload.ts
  packages/marketplace/src/services/webhooks.ts
  packages/marketplace/src/types/global.d.ts
  packages/marketplace/src/utils/clipboard-copy.ts
Labels: marketplace

#2179 chore: #2032 NPM broken badges, use absolute paths instead
  packages/cognito-auth/README.md
  packages/connect-session/README.md
  packages/elements/README.md
  packages/elements/package.json
  packages/web-components/README.md
  packages/web-components/package.json
Labels: cognito-auth, elements, web-components

#2181 chore: bump cognito-auth 2.1.10
  packages/cognito-auth/package.json
Labels: cognito-auth

#2185 refactor: #2098 refactor sagas folder structure
  packages/marketplace/src/actions/__tests__/error.ts
  packages/marketplace/src/actions/__tests__/notification-message.ts
  packages/marketplace/src/components/hocs/__tests__/error-boundary.tsx
  packages/marketplace/src/components/hocs/__tests__/route-fetcher.tsx
  packages/marketplace/src/components/hocs/error-boundary.tsx
  packages/marketplace/src/components/hocs/route-fetcher.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-install-confirmation.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-uninstall-confirmation.tsx
  packages/marketplace/src/components/pages/app-detail/client/web-component-config-modal/client-web-component-config.tsx
  packages/marketplace/src/components/pages/help/__tests__/help.test.tsx
  packages/marketplace/src/components/pages/installed-apps/__tests__/installed-apps.test.tsx
  packages/marketplace/src/components/ui/__tests__/categories-list.tsx
  packages/marketplace/src/components/ui/__tests__/category-item.tsx
  packages/marketplace/src/components/ui/menu.tsx
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/reducers/__tests__/app-categories.ts
  packages/marketplace/src/reducers/__tests__/app-detail.ts
  packages/marketplace/src/reducers/__tests__/app-installations.ts
  packages/marketplace/src/reducers/__tests__/app-integration-types.ts
  packages/marketplace/src/reducers/__tests__/error.ts
  packages/marketplace/src/reducers/__tests__/installed-apps.ts
  packages/marketplace/src/reducers/__tests__/my-apps.ts
  packages/marketplace/src/reducers/__tests__/notification-message.ts
  packages/marketplace/src/reducers/client/__test__/app-detail.test.ts
  packages/marketplace/src/reducers/client/__test__/app-summary.test.ts
  packages/marketplace/src/reducers/client/__test__/web-component.test.ts
  packages/marketplace/src/sagas/apps/__tests__/app-detail.ts
  packages/marketplace/src/sagas/apps/__tests__/apps.test.ts
  packages/marketplace/src/sagas/apps/__tests__/client.ts
  packages/marketplace/src/sagas/apps/__tests__/installed-apps.ts
  packages/marketplace/src/sagas/apps/__tests__/my-apps.ts
  packages/marketplace/src/sagas/apps/app-detail.ts
  packages/marketplace/src/sagas/apps/client.ts
  packages/marketplace/src/sagas/apps/index.ts
  packages/marketplace/src/sagas/apps/installed-apps.ts
  packages/marketplace/src/sagas/apps/my-apps.ts
  packages/marketplace/src/sagas/installations/__tests__/app-installations.ts
  packages/marketplace/src/sagas/installations/app-installations.ts
  packages/marketplace/src/sagas/installations/index.ts
  packages/marketplace/src/sagas/web-component/__tests__/web-component.ts
  packages/marketplace/src/sagas/web-component/index.ts
  packages/marketplace/src/sagas/web-component/web-component.ts
  packages/marketplace/src/selector/__tests__/app-categories.ts
  packages/marketplace/src/utils/__tests__/actions.ts
  packages/marketplace/src/utils/__tests__/auth-route.ts
  packages/marketplace/src/utils/__tests__/launch-app.ts
  packages/marketplace/src/utils/__tests__/route-dispatcher.ts
Labels: marketplace

#2194 feat: #2098 refactor selectors
  packages/marketplace/src/components/pages/app-detail/client/app-detail.tsx
  packages/marketplace/src/components/pages/app-detail/client/web-component-config-modal/client-web-component-config.tsx
  packages/marketplace/src/components/pages/app-detail/client/web-component-config-modal/config-modal-inner.tsx
  packages/marketplace/src/components/pages/app-detail/common/app-authentication-detail.tsx
  packages/marketplace/src/components/pages/app-management/apps-management.tsx
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/components/pages/installed-apps/installed-apps.tsx
  packages/marketplace/src/components/ui/app-sidebar/__tests__/app-sidebar.tsx
  packages/marketplace/src/components/ui/app-sidebar/app-sidebar.tsx
  packages/marketplace/src/core/private-route.tsx
  packages/marketplace/src/sagas/apps/__tests__/client.ts
  packages/marketplace/src/sagas/apps/__tests__/installed-apps.ts
  packages/marketplace/src/sagas/apps/__tests__/my-apps.ts
  packages/marketplace/src/sagas/apps/client.ts
  packages/marketplace/src/sagas/apps/installed-apps.ts
  packages/marketplace/src/sagas/apps/my-apps.ts
  packages/marketplace/src/sagas/installations/__tests__/app-installations.ts
  packages/marketplace/src/sagas/installations/app-installations.ts
  packages/marketplace/src/selector/app-detail.ts
  packages/marketplace/src/selector/apps/__tests__/app.test.ts
  packages/marketplace/src/selector/apps/app.ts
  packages/marketplace/src/selector/apps/index.ts
  packages/marketplace/src/selector/auth.ts
  packages/marketplace/src/selector/categories/__tests__/categories.test.ts
  packages/marketplace/src/selector/categories/categories.ts
  packages/marketplace/src/selector/categories/index.ts
  packages/marketplace/src/selector/client-app-detail.ts
  packages/marketplace/src/selector/client.ts
  packages/marketplace/src/selector/desktop-integration-types/__tests__/desktop-integration-types.ts
  packages/marketplace/src/selector/desktop-integration-types/desktop-integration-types.ts
  packages/marketplace/src/selector/desktop-integration-types/index.ts
  packages/marketplace/src/selector/installations/index.ts
  packages/marketplace/src/selector/installations/installations.ts
  packages/marketplace/src/selector/web-components/__tests__/web-components.test.ts
  packages/marketplace/src/selector/web-components/index.ts
  packages/marketplace/src/selector/web-components/web-components.ts
Labels: marketplace

#2196 fix: billing modal not responsive
  packages/elements/src/components/ModalV2/index.tsx
Labels: elements

#2192 chore: #2129 remove help top menu, help route
  packages/marketplace/src/components/ui/menu.tsx
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#2197 feat: #2174 coming soon section in marketplace
  packages/marketplace/src/assets/images/coming-soon/1Area.jpg
  packages/marketplace/src/assets/images/coming-soon/2Starberry.jpg
  packages/marketplace/src/assets/images/coming-soon/3IAMProperty.jpg
  packages/marketplace/src/assets/images/coming-soon/4SMS.jpg
  packages/marketplace/src/assets/images/coming-soon/5Vyomm.jpg
  packages/marketplace/src/assets/images/coming-soon/6Spectre.jpg
  packages/marketplace/src/assets/images/coming-soon/7Twentyci.jpg
  packages/marketplace/src/assets/images/coming-soon/8Zero.jpg
  packages/marketplace/src/assets/images/coming-soon/9Yomdel.jpg
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/coming-soon.test.tsx.snap
  packages/marketplace/src/components/pages/apps/__tests__/coming-soon.test.tsx
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#2200 fix: #2120 fix apps are duplicated after go back from app detail
  packages/marketplace/src/reducers/client/app-summary.ts
  packages/marketplace/src/utils/__tests__/browse-app.ts
  packages/marketplace/src/utils/browse-app.ts
Labels: marketplace

#2203 chore: #2096 update modal v2 header style
  packages/admin-portal/src/components/pages/devs-management/set-status-modal/__tests__/__snapshots__/status-modal.test.tsx.snap
  packages/developer-portal/src/components/pages/invite/__tests__/__snapshots__/accepted.test.tsx.snap
  packages/developer-portal/src/components/pages/invite/__tests__/__snapshots__/invite.test.tsx.snap
  packages/developer-portal/src/components/pages/invite/__tests__/__snapshots__/rejected.test.tsx.snap
  packages/developer-portal/src/components/pages/invite/accepted.tsx
  packages/developer-portal/src/components/pages/invite/invite.tsx
  packages/developer-portal/src/components/pages/invite/rejected.tsx
  packages/developer-portal/src/components/ui/developer-invite-member-modal/__tests__/__snapshots__/developer-invite-member-modal.test.tsx.snap
  packages/elements/src/components/ModalV2/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/ModalV2/__tests__/index.tsx
  packages/elements/src/components/ModalV2/index.tsx
  packages/geo-diary-v2/src/components/ui/appointment-detail-modal/__tests__/__snapshots__/appointment-detail-modal.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
Labels: elements, marketplace

#2198 refactor: #2098 refactor reducer desktop integration types
  packages/marketplace/src/actions/categories/__tests__/categories.test.ts
  packages/marketplace/src/actions/categories/categories.ts
  packages/marketplace/src/actions/desktop-integration-types/__tests__/desktop-integration-types.test.ts
  packages/marketplace/src/actions/desktop-integration-types/desktop-integration-types.ts
  packages/marketplace/src/components/pages/app-detail/client/__tests__/aside.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-detail.tsx
  packages/marketplace/src/components/pages/app-detail/common/__tests__/ui-sections.test.tsx
  packages/marketplace/src/components/ui/__tests__/categories-list.tsx
  packages/marketplace/src/components/ui/__tests__/category-item.tsx
  packages/marketplace/src/components/ui/app-sidebar/__tests__/app-sidebar.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/reducers/__stubs__/app-state.ts
  packages/marketplace/src/reducers/__tests__/app-categories.ts
  packages/marketplace/src/reducers/__tests__/app-integration-types.ts
  packages/marketplace/src/reducers/app-categories.ts
  packages/marketplace/src/reducers/app-integration-types.ts
  packages/marketplace/src/reducers/categories/__tests__/list.test.ts
  packages/marketplace/src/reducers/categories/index.ts
  packages/marketplace/src/reducers/categories/list.ts
  packages/marketplace/src/reducers/desktop-integration-types/__tests__/list.test.ts
  packages/marketplace/src/reducers/desktop-integration-types/index.ts
  packages/marketplace/src/reducers/desktop-integration-types/list.ts
  packages/marketplace/src/sagas/__stubs__/categories.ts
  packages/marketplace/src/sagas/__stubs__/desktop-integration-types.ts
  packages/marketplace/src/sagas/apps/__tests__/apps.test.ts
  packages/marketplace/src/sagas/apps/__tests__/client.ts
  packages/marketplace/src/sagas/apps/apps.ts
  packages/marketplace/src/sagas/apps/client.ts
  packages/marketplace/src/sagas/categories/__tests__/categories.test.ts
  packages/marketplace/src/sagas/categories/categories.ts
  packages/marketplace/src/sagas/categories/index.ts
  packages/marketplace/src/sagas/desktop-integration-types/__tests__/desktop-integration-types.test.ts
  packages/marketplace/src/sagas/desktop-integration-types/desktop-integration-types.ts
  packages/marketplace/src/sagas/desktop-integration-types/index.ts
  packages/marketplace/src/selector/__mocks__/app-detail.ts
  packages/marketplace/src/selector/apps/__tests__/app.test.ts
  packages/marketplace/src/selector/apps/app.ts
  packages/marketplace/src/selector/categories/__tests__/categories.test.ts
  packages/marketplace/src/selector/categories/categories.ts
  packages/marketplace/src/selector/desktop-integration-types/__tests__/desktop-integration-types.ts
  packages/marketplace/src/selector/desktop-integration-types/desktop-integration-types.ts
  packages/marketplace/src/selector/installations/installations.ts
  packages/marketplace/src/selector/web-components/__tests__/web-components.test.ts
  packages/marketplace/src/selector/web-components/web-components.ts
  packages/marketplace/src/services/categories.ts
  packages/marketplace/src/services/desktop-integration-types.ts
  packages/marketplace/src/types/core.ts
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: marketplace

#2206 chore: #2190 Update confirm install and confirm uninstall modals
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/app-install-confirmation.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-uninstall-confirmation.tsx
Labels: marketplace

#2208 refactor: #2098 remove unuse code
  packages/marketplace/src/actions/apps/__tests__/apps.test.ts
  packages/marketplace/src/actions/apps/apps.ts
  packages/marketplace/src/components/pages/app-detail/common/__tests__/__snapshots__/app-authentication-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/common/__tests__/__snapshots__/ui-sections.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/common/__tests__/app-authentication-detail.test.tsx
  packages/marketplace/src/components/pages/app-detail/common/__tests__/ui-sections.test.tsx
  packages/marketplace/src/components/pages/app-detail/common/app-authentication-detail.tsx
  packages/marketplace/src/components/pages/app-detail/common/ui-sections.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/reducers/__stubs__/app-state.ts
  packages/marketplace/src/reducers/__tests__/app-detail.ts
  packages/marketplace/src/reducers/app-detail.ts
  packages/marketplace/src/sagas/__stubs__/app-detail.ts
  packages/marketplace/src/sagas/apps/__tests__/app-detail.ts
  packages/marketplace/src/sagas/apps/app-detail.ts
  packages/marketplace/src/sagas/apps/index.ts
  packages/marketplace/src/selector/apps/__tests__/app.test.ts
  packages/marketplace/src/selector/apps/app.ts
  packages/marketplace/src/types/core.ts
Labels: marketplace

#2207 feat: #2174 Coming soon section spacing fix
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/coming-soon.test.tsx.snap
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#2209 fix: #2120 fix spacing between normal apps and comming soon apps
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/marketplace/src/components/pages/apps/apps.tsx
Labels: marketplace

#2218 fix: cannot fetch webcomponent config after migrate to connect-session
  packages/marketplace/src/components/pages/app-detail/client/web-component-config-modal/client-web-component-config.tsx
Labels: marketplace

#2220 fix: update private route to redirect to installed apps if enter root path
  packages/marketplace/src/core/private-route-wrapper.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/__tests__/auth-route.ts
  packages/marketplace/src/utils/auth-route.ts
Labels: marketplace

#2222 refactor: #2098 fix typo
  packages/marketplace/src/actions/apps/apps.ts
  packages/marketplace/src/actions/categories/__tests__/categories.test.ts
  packages/marketplace/src/actions/categories/categories.ts
  packages/marketplace/src/actions/desktop-integration-types/__tests__/desktop-integration-types.test.ts
  packages/marketplace/src/actions/desktop-integration-types/desktop-integration-types.ts
  packages/marketplace/src/actions/negotiators/negotiators.ts
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/reducers/apps/detail.ts
  packages/marketplace/src/reducers/categories/__tests__/list.test.ts
  packages/marketplace/src/reducers/categories/list.ts
  packages/marketplace/src/reducers/desktop-integration-types/list.ts
  packages/marketplace/src/reducers/negotiators/list.ts
  packages/marketplace/src/sagas/apps/apps.ts
  packages/marketplace/src/sagas/categories/__tests__/categories.test.ts
  packages/marketplace/src/sagas/categories/categories.ts
  packages/marketplace/src/sagas/desktop-integration-types/__tests__/desktop-integration-types.test.ts
  packages/marketplace/src/sagas/desktop-integration-types/desktop-integration-types.ts
  packages/marketplace/src/sagas/negotiators/negotiators.ts
Labels: marketplace

#2217 chore: #2190 Update the ‘Confirm Installation’ & ‘Confirm Uninstall’ modals
  packages/elements/src/components/ModalV2/__styles__/index.ts
  packages/elements/src/components/ModalV2/index.tsx
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-uninstall-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/app-uninstall-confirmation.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-install-confirmation.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-uninstall-confirmation.tsx
Labels: elements, marketplace

#2237 fix: #2212 Infinite Scroll jerky fix
  packages/marketplace/src/actions/apps/apps.ts
  packages/marketplace/src/components/pages/apps/__tests__/apps.test.tsx
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/reducers/apps/__tests__/list.test.ts
  packages/marketplace/src/reducers/apps/list.ts
  packages/marketplace/src/sagas/apps/apps.ts
  packages/marketplace/src/styles/pages/apps.scss
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#2232 refactor: #2098 add more test cases
  packages/marketplace/src/actions/apps/__tests__/apps.test.ts
  packages/marketplace/src/actions/desktop-integration-types/__tests__/desktop-integration-types.test.ts
  packages/marketplace/src/actions/desktop-integration-types/desktop-integration-types.ts
  packages/marketplace/src/actions/installations/__tests__/installations.test.ts
  packages/marketplace/src/actions/negotiators/__tests__/negotiators.test.ts
  packages/marketplace/src/actions/web-component/__tests__/web-component.test.ts
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-uninstall-confirmation.test.tsx.snap
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/reducers/apps/__tests__/detail.test.ts
  packages/marketplace/src/reducers/apps/__tests__/feature-list.test.ts
  packages/marketplace/src/reducers/desktop-integration-types/__tests__/list.test.ts
  packages/marketplace/src/reducers/installations/__tests__/install.test.ts
  packages/marketplace/src/reducers/installations/__tests__/uninstall.test.ts
  packages/marketplace/src/reducers/negotiators/__tests__/list.test.ts
  packages/marketplace/src/reducers/web-component/__tests__/detail.test.ts
  packages/marketplace/src/reducers/web-component/__tests__/update.test.ts
  packages/marketplace/src/sagas/__stubs__/app-detail.ts
  packages/marketplace/src/sagas/__stubs__/negotiators.ts
  packages/marketplace/src/sagas/__stubs__/web-component.ts
  packages/marketplace/src/sagas/apps/__tests__/apps.test.ts
  packages/marketplace/src/sagas/apps/apps.ts
  packages/marketplace/src/sagas/installations/__tests__/installations.ts
  packages/marketplace/src/sagas/negotiators/__tests__/negotiators.test.ts
  packages/marketplace/src/sagas/negotiators/negotiators.ts
  packages/marketplace/src/sagas/web-component/__tests__/web-components.test.ts
  packages/marketplace/src/sagas/web-component/web-component.ts
  packages/marketplace/src/selector/apps/__tests__/app.test.ts
  packages/marketplace/src/selector/apps/app.ts
  packages/marketplace/src/selector/auth/__mocks__/auth.ts
  packages/marketplace/src/selector/auth/__tests__/auth.test.ts
  packages/marketplace/src/selector/installations/__tests__/installations.test.ts
  packages/marketplace/src/selector/installations/installations.ts
  packages/marketplace/src/selector/negotiators/__tests__/negotiators.test.ts
  packages/marketplace/src/selector/web-components/__tests__/web-components.test.ts
Labels: marketplace

#2243 fix: fix preview app feature regression after refactoring
  packages/marketplace/src/actions/apps/apps.ts
  packages/marketplace/src/sagas/apps/apps.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/__tests__/browse-app.ts
  packages/marketplace/src/utils/browse-app.ts
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: marketplace

#2244 fix: #2023 tweaks to go live with NPM
  packages/cognito-auth/README.md
  packages/cognito-auth/package.json
  packages/connect-session/README.md
  packages/connect-session/package.json
  packages/cra-template-foundations/README.md
  packages/cra-template-foundations/package.json
  packages/elements/README.md
  packages/elements/package.json
  packages/foundations-ts-definitions/README.md
  packages/react-app-scaffolder/README.md
  packages/react-app-scaffolder/package.json
Labels: cognito-auth, elements, react-app-scaffolder
