Repository reapit/foundations, pull requests merged in 2020-09, with the labels that each got.

#2539 fix: #2520 - Refactor app list + analytics page styles
  packages/developer-portal/linaria.config.js
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/total-cost-table.tsx
  packages/developer-portal/src/components/pages/analytics/cost-explorer/service-chart/__styles__/service-chart.ts
  packages/developer-portal/src/components/pages/analytics/cost-explorer/service-chart/__tests__/__snapshots__/service-chart.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics/cost-explorer/service-chart/service-chart.tsx
  packages/developer-portal/src/components/pages/analytics/cost-explorer/transaction-history/transaction-history.tsx
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/filter-form.tsx
  packages/developer-portal/src/components/pages/app-detail/app-authentication-detail/__styles__/app-authentication-detail.ts
  packages/developer-portal/src/components/pages/app-detail/app-authentication-detail/__tests__/__snapshots__/app-authentication-detail.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/app-authentication-detail/__tests__/app-authentication-detail.test.tsx
  packages/developer-portal/src/components/pages/app-detail/app-authentication-detail/app-authentication-detail.tsx
  packages/developer-portal/src/components/pages/app-detail/app-authentication-detail/index.ts
  packages/developer-portal/src/components/pages/app-detail/app-delete-modal.tsx
  packages/developer-portal/src/components/pages/apps/apps.tsx
  packages/developer-portal/src/components/ui/apps/app-card/__styles__/app-card.ts
  packages/developer-portal/src/components/ui/apps/app-card/__tests__/__snapshots__/app-card.test.tsx.snap
  packages/developer-portal/src/components/ui/apps/app-card/__tests__/app-card.test.tsx
  packages/developer-portal/src/components/ui/apps/app-card/app-card.tsx
  packages/developer-portal/src/components/ui/apps/app-card/index.ts
  packages/developer-portal/src/components/ui/apps/app-list/__styles__/app-list.ts
  packages/developer-portal/src/components/ui/apps/app-list/__tests__/__snapshots__/app-list.test.tsx.snap
  packages/developer-portal/src/components/ui/apps/app-list/__tests__/app-list.test.tsx
  packages/developer-portal/src/components/ui/apps/app-list/app-list.tsx
  packages/developer-portal/src/components/ui/apps/app-list/index.ts
  packages/developer-portal/src/core/__styles__/colors.ts
  packages/developer-portal/src/core/__styles__/media.ts
  packages/developer-portal/src/styles/blocks/app-authentication-detail.scss
  packages/developer-portal/src/styles/blocks/app-list.scss
  packages/developer-portal/src/styles/pages/api-docs.scss
  packages/developer-portal/src/styles/pages/app-delete.scss
  packages/developer-portal/src/styles/pages/app-permission-content.scss
  packages/developer-portal/src/styles/pages/developer-analytics.scss
  packages/elements/src/styles/base/utilities.scss
  packages/geo-diary/src/components/ui/appointment-detail-modal/__tests__/__snapshots__/appointment-detail-modal.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-detail-modal/appointment-detail-modal.tsx
  scripts/webpack/webpack.config.prod.js
Labels: developer-portal

#2529 feat: #2524 SMB App should redirect to Users route from root path
  packages/smb-onboarder/src/core/connect-session.ts
  packages/smb-onboarder/src/core/private-route-wrapper.tsx
Labels: smb-onboarder

#2546 chore: #2519 deploy pipeline for web-components
  packages/web-components/package.json
  packages/web-components/scripts/release-serverless.js
  packages/web-components/serverless.example.yml
  packages/web-components/serverless.yml
  scripts/release/fetch-artifact.js
  scripts/release/upload-artifact.js
  scripts/release/utils.js
Labels: web-components

#2544 feat: #2536 Improve UI for no-result in search's feature from the Customers page
  packages/admin-portal/src/components/pages/customers/__tests__/__snapshots__/customers.test.tsx.snap
  packages/admin-portal/src/components/pages/customers/__tests__/customers.test.tsx
  packages/admin-portal/src/components/pages/customers/customers.tsx
Labels: admin-portal

#2559 fix: #2519 add await for run command
  packages/foundations-ts-definitions/scripts/release-github.js
  packages/foundations-ts-definitions/scripts/update-npm.js
  packages/web-components/scripts/release-serverless.js
  scripts/release/fetch-artifact.js
  scripts/release/upload-artifact.js
  scripts/release/utils.js
Labels: web-components

#2555 feat: #2537 Improve UI for no-result of search's feature in "Developer Development" page
  packages/admin-portal/src/components/pages/devs-management/__tests__/__snapshots__/devs-management.test.tsx.snap
  packages/admin-portal/src/components/pages/devs-management/__tests__/devs-management.test.tsx
  packages/admin-portal/src/components/pages/devs-management/devs-management.tsx
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
Labels: admin-portal

#2560 fix: #2550 add extensions field on graphql error
  packages/graphql-server/src/errors/errors.ts
  packages/graphql-server/src/utils/handle-error.ts
Labels: graphql-server

#2558 fix: #2551 URL validation is incorrectly flagging a website address as not valid
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/smb-onboarder/src/tests/badges/badge-branches.svg
  packages/smb-onboarder/src/tests/badges/badge-functions.svg
  packages/smb-onboarder/src/tests/badges/badge-lines.svg
  packages/smb-onboarder/src/tests/badges/badge-statements.svg
  packages/utils/src/form/regexs.ts
Labels: admin-portal, aml-checklist, developer-portal, geo-diary, marketplace, smb-onboarder

#2557 chore: #2537 add reset form button for customer search
  packages/admin-portal/src/components/pages/customers/__tests__/__snapshots__/customers.test.tsx.snap
  packages/admin-portal/src/components/pages/customers/__tests__/customers.test.tsx
  packages/admin-portal/src/components/pages/customers/customers.tsx
Labels: admin-portal

#2565 fix: pipeline deploy web-components
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/foundations-ts-definitions/scripts/release-github.js
  packages/foundations-ts-definitions/scripts/update-npm.js
  packages/web-components/scripts/release-serverless.js
  scripts/release/fetch-artifact.js
  scripts/release/upload-artifact.js
  scripts/release/utils.js
Labels: admin-portal, developer-portal, marketplace, web-components

#2568 fix: #2512 aml checklist throw error to notification
  packages/aml-checklist/src/sagas/api.ts
Labels: aml-checklist

#2569 fix: #2548 cannot update status identity check
  packages/aml-checklist/src/sagas/__tests__/checklist-detail.test.ts
  packages/aml-checklist/src/sagas/checklist-detail.ts
Labels: aml-checklist

#2571 refactor: #2520 Refactor Standalone App Page + terms and condition modal styles
  packages/developer-portal/src/components/pages/app-detail-preview/__styles__/app-detail.ts
  packages/developer-portal/src/components/pages/app-detail-preview/common/__tests__/__snapshots__/ui-app-header.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail-preview/common/__tests__/__snapshots__/ui-helpers.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail-preview/common/__tests__/__snapshots__/ui-sections.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail-preview/common/ui-app-header.tsx
  packages/developer-portal/src/components/pages/app-detail-preview/common/ui-helpers.tsx
  packages/developer-portal/src/components/pages/app-detail-preview/common/ui-sections.tsx
  packages/developer-portal/src/components/pages/app-detail/__styles__/app-detail.ts
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/app-content.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/app-header.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/app-management.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/helpers.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/sections.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/app-authentication-detail/__styles__/app-authentication-detail.ts
  packages/developer-portal/src/components/pages/app-detail/app-authentication-detail/app-authentication-detail.tsx
  packages/developer-portal/src/components/pages/app-detail/app-detail.tsx
  packages/developer-portal/src/components/pages/app-detail/app-header.tsx
  packages/developer-portal/src/components/pages/app-detail/app-management.tsx
  packages/developer-portal/src/components/pages/app-detail/app-sections.tsx
  packages/developer-portal/src/components/pages/app-detail/app-ui-helpers.tsx
  packages/developer-portal/src/components/ui/__tests__/__snapshots__/index.tsx.snap
  packages/developer-portal/src/components/ui/__tests__/__snapshots__/terms-and-conditions-modal.tsx.snap
  packages/developer-portal/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/schedule1.tsx.snap
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/__styles__/schedule1.ts
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/__styles__/termsAndConditionsModal.ts
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/index.tsx
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/schedule1.tsx
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/schedule2.tsx
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/term-and-conditions.tsx
  packages/developer-portal/src/core/__styles__/media.ts
  packages/developer-portal/src/styles/blocks/schedule1.scss
  packages/developer-portal/src/styles/blocks/term-and-conditions-modal.scss
Labels: developer-portal

#2573 chore: #2553 cleanup all sentry error
  .github/workflows/release-dev.yml
  packages/developer-portal/src/sagas/apps/app-authentication.ts
  packages/developer-portal/src/sagas/apps/app-detail.ts
  packages/developer-portal/src/sagas/apps/app-list.ts
  packages/developer-portal/src/sagas/apps/app-revision-detail.ts
  packages/developer-portal/src/sagas/apps/app-revision-list.ts
  packages/developer-portal/src/sagas/apps/create-app-revision.ts
  packages/developer-portal/src/sagas/apps/create-app.ts
  packages/developer-portal/src/sagas/apps/decline-app-revision.ts
  packages/developer-portal/src/sagas/apps/delete-app.ts
  packages/developer-portal/src/sagas/categories/category-list.ts
  packages/developer-portal/src/sagas/desktop-integration-types/desktop-integration-type-list.ts
  packages/developer-portal/src/sagas/developer-set-status.ts
  packages/developer-portal/src/sagas/developer.ts
  packages/developer-portal/src/sagas/installations/filter-list.ts
  packages/developer-portal/src/sagas/scopes/scope-list.ts
  packages/developer-portal/src/sagas/settings.ts
  packages/developer-portal/src/sagas/traffic-statistics/traffic-statistics.ts
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#2574 fix: #2550 fix sentry error object in graphql server
  packages/graphql-server/src/utils/handle-error.ts
Labels: graphql-server

#2577 refactor: #2520 Refactor submit app modal styles + global styles
  packages/developer-portal/src/components/pages/app-detail-preview/client/__tests__/__snapshots__/contact-developer-modal.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail-preview/client/contact-developer-modal.tsx
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/agency-cloud-integration-section.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/authentication-flow-section.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/general-information-section.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/agency-cloud-integration-section.tsx
  packages/developer-portal/src/components/pages/edit-app/authentication-flow-section.tsx
  packages/developer-portal/src/components/pages/edit-app/general-information-section.tsx
  packages/developer-portal/src/components/pages/settings/billing/subscriptions.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/members.tsx
  packages/developer-portal/src/components/pages/swagger/__styles__/swagger.ts
  packages/developer-portal/src/components/pages/swagger/__tests__/__snapshots__/swagger.test.tsx.snap
  packages/developer-portal/src/components/pages/swagger/swagger.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhook-test-modal.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/webhook-test-modal.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks.tsx
  packages/developer-portal/src/components/pages/welcome/welcome.tsx
  packages/developer-portal/src/components/ui/developer-edition-modal/__tests__/__snapshots__/error-content.tsx.snap
  packages/developer-portal/src/components/ui/developer-edition-modal/__tests__/__snapshots__/success-content.tsx.snap
  packages/developer-portal/src/components/ui/developer-edition-modal/error-content.tsx
  packages/developer-portal/src/components/ui/developer-edition-modal/success-content.tsx
  packages/developer-portal/src/components/ui/submit-app-wizard/__styles__/submit-app-wizard.ts
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-chose-auth-type.tsx.snap
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/step-chose-auth-type.tsx
  packages/developer-portal/src/core/index.tsx
  packages/developer-portal/src/styles/base/browser.scss
  packages/developer-portal/src/styles/base/colors.scss
  packages/developer-portal/src/styles/base/fonts.scss
  packages/developer-portal/src/styles/base/layout.scss
  packages/developer-portal/src/styles/base/screen-size.scss
  packages/developer-portal/src/styles/elements/link.scss
  packages/developer-portal/src/styles/elements/link.ts
  packages/developer-portal/src/styles/elements/radioselect.scss
  packages/developer-portal/src/styles/index.scss
Labels: developer-portal

#2564 feat: #1224 business logic for appointment planner api
  packages/web-components/src/appointment-planner-component/client/components/time-cell.svelte
  packages/web-components/src/appointment-planner-component/server/api/__stubs__/appointments.ts
  packages/web-components/src/appointment-planner-component/server/api/__tests__/get-appointment-slots.ts
  packages/web-components/src/appointment-planner-component/server/api/get-appointment-slots.ts
  packages/web-components/src/appointment-planner-component/server/api/get-appointment-slots/__tests__/apis.test.ts
  packages/web-components/src/appointment-planner-component/server/api/get-appointment-slots/__tests__/get-appointment-slots.test.ts
  packages/web-components/src/appointment-planner-component/server/api/get-appointment-slots/__tests__/utils.test.ts
  packages/web-components/src/appointment-planner-component/server/api/get-appointment-slots/__tests__/validators.test.ts
  packages/web-components/src/appointment-planner-component/server/api/get-appointment-slots/apis.ts
  packages/web-components/src/appointment-planner-component/server/api/get-appointment-slots/index.ts
  packages/web-components/src/appointment-planner-component/server/api/get-appointment-slots/stubs/appointments.ts
  packages/web-components/src/appointment-planner-component/server/api/get-appointment-slots/stubs/config.ts
  packages/web-components/src/appointment-planner-component/server/api/get-appointment-slots/stubs/offices.ts
  packages/web-components/src/appointment-planner-component/server/api/get-appointment-slots/stubs/utils.ts
  packages/web-components/src/appointment-planner-component/server/api/get-appointment-slots/utils.ts
  packages/web-components/src/appointment-planner-component/server/api/get-appointment-slots/validators.ts
  packages/web-components/src/appointment-planner-component/server/serverless.yml
  packages/web-components/src/common/utils/constants.ts
  packages/web-components/src/common/utils/error-handler.ts
  packages/web-components/src/tests/badges/badge-branches.svg
  packages/web-components/src/tests/badges/badge-functions.svg
  packages/web-components/src/tests/badges/badge-lines.svg
  packages/web-components/src/tests/badges/badge-statements.svg
  scripts/api-documentation/api-doc-config.json
Labels: web-components

#2588 fix: #2572 Marketplace Launch URI for apps query string is incorrect in desktop
  packages/marketplace/src/utils/launch-app.ts
Labels: marketplace

#2595 fix: #2582 fix Bad Request when create new office
  packages/smb-onboarder/src/components/ui/offices-tab/offices-tab.tsx
Labels: smb-onboarder

#2585 feat: #2581 Update the ‘Existing Subscription’ modal for Developer Edition
  packages/developer-portal/src/components/ui/developer-edition-modal/__tests__/__snapshots__/error-content.tsx.snap
  packages/developer-portal/src/components/ui/developer-edition-modal/__tests__/error-content.tsx
  packages/developer-portal/src/components/ui/developer-edition-modal/error-content.tsx
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#2600 chore: #2591 Should hide traceId in errors uploads smb
  packages/smb-onboarder/src/components/ui/upload-result-modal.tsx
Labels: smb-onboarder

#2603 fix: #2592 filter empty row from csv data
  packages/elements/src/components/Spreadsheet/utils.tsx
Labels: elements

#2596 fix: #2587 User download 2 last row should show Id and Etag on columns
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/negotiators-list.test.tsx
  packages/smb-onboarder/src/components/ui/negotiators-list/negotiators-list.tsx
  packages/smb-onboarder/src/tests/badges/badge-branches.svg
Labels: smb-onboarder

#2604 fix: #2584 hint for add new offices and users
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/__snapshots__/negotiators-list.test.tsx.snap
  packages/smb-onboarder/src/components/ui/negotiators-list/negotiators-list.tsx
  packages/smb-onboarder/src/components/ui/offices-tab/__tests__/__snapshots__/offices-tab.tsx.snap
  packages/smb-onboarder/src/components/ui/offices-tab/offices-tab.tsx
Labels: smb-onboarder

#2601 fix: #2586 graphql server log
  packages/graphql-server/src/errors/errors.ts
  packages/graphql-server/src/tests/badges/badge-branches.svg
  packages/graphql-server/src/tests/badges/badge-functions.svg
  packages/graphql-server/src/tests/badges/badge-lines.svg
  packages/graphql-server/src/tests/badges/badge-statements.svg
  packages/graphql-server/src/utils/__tests__/handle-error.test.ts
  packages/graphql-server/src/utils/handle-error.ts
  packages/utils/src/node/sentry-logger.ts
Labels: graphql-server

#2598 chore: #2572 change to notification to display error
  packages/developer-portal/src/actions/__tests__/error.ts
  packages/developer-portal/src/actions/error.ts
  packages/developer-portal/src/reducers/__tests__/error.ts
  packages/developer-portal/src/reducers/error.ts
  packages/developer-portal/src/sagas/__tests__/developer-set-status.ts
  packages/developer-portal/src/sagas/__tests__/developer.ts
  packages/developer-portal/src/sagas/__tests__/settings.ts
  packages/developer-portal/src/sagas/apps/__test__/app-detail.test.ts
  packages/developer-portal/src/sagas/apps/app-authentication.ts
  packages/developer-portal/src/sagas/apps/app-detail.ts
  packages/developer-portal/src/sagas/apps/app-list.ts
  packages/developer-portal/src/sagas/developer-set-status.ts
  packages/developer-portal/src/sagas/developer.ts
  packages/developer-portal/src/sagas/settings.ts
  packages/developer-portal/src/sagas/traffic-statistics/__tests__/traffic-statistics.ts
  packages/developer-portal/src/sagas/traffic-statistics/traffic-statistics.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/react-app-scaffolder/app/templates/redux/node_modules/.yarn-integrity
  packages/react-app-scaffolder/app/templates/redux/node_modules/@reapit/foundations-ts-definitions/README.md
  packages/react-app-scaffolder/app/templates/redux/node_modules/@reapit/foundations-ts-definitions/package.json
  packages/react-app-scaffolder/app/templates/redux/node_modules/@reapit/foundations-ts-definitions/types/index.ts
  packages/react-app-scaffolder/app/templates/redux/node_modules/@reapit/foundations-ts-definitions/types/marketplace-api-schema.ts
  packages/react-app-scaffolder/app/templates/redux/node_modules/@reapit/foundations-ts-definitions/types/platform-schema.ts
  packages/react-app-scaffolder/app/templates/redux/package.json
  packages/react-app-scaffolder/app/templates/redux/src/actions/__tests__/error.test.ts
  packages/react-app-scaffolder/app/templates/redux/src/actions/error.ts
  packages/react-app-scaffolder/app/templates/redux/src/components/hocs/__tests__/__snapshots__/error-boundary.test.tsx.snap
  packages/react-app-scaffolder/app/templates/redux/src/components/pages/__tests__/__snapshots__/authenticated.test.tsx.snap
  packages/react-app-scaffolder/app/templates/redux/src/components/pages/__tests__/__snapshots__/login.test.tsx.snap
  packages/react-app-scaffolder/app/templates/redux/src/components/ui/__tests__/__snapshots__/menu.test.tsx.snap
  packages/react-app-scaffolder/app/templates/redux/src/core/__tests__/__snapshots__/app.test.tsx.snap
  packages/react-app-scaffolder/app/templates/redux/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/react-app-scaffolder/app/templates/redux/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/react-app-scaffolder/app/templates/redux/src/reducers/__tests__/error.ts
  packages/react-app-scaffolder/app/templates/redux/src/reducers/error.ts
  packages/react-app-scaffolder/app/templates/redux/src/sagas/authenticated.ts
Labels: developer-portal, react-app-scaffolder

#2607 feat: #2590 add download sample button
  package.json
  packages/admin-portal/package.json
  packages/elements/src/components/Spreadsheet/__tests__/handlers.tsx
  packages/elements/src/components/Spreadsheet/handlers.tsx
  packages/elements/src/components/Spreadsheet/index.tsx
  packages/elements/src/components/Spreadsheet/types.tsx
  packages/smb-onboarder/src/components/ui/negotiators-list/negotiators-list.tsx
  packages/smb-onboarder/src/components/ui/offices-tab/__tests__/__snapshots__/offices-tab.tsx.snap
  packages/smb-onboarder/src/components/ui/offices-tab/offices-tab.tsx
Labels: admin-portal, elements, smb-onboarder

#2578 feat: #2146 Elements v2 spec
  packages/elements-next/src/index.mdx
Labels: elements

#2617 fix: #2583 data sheet context menu broken on scroll
  packages/elements/package.json
  packages/elements/src/components/Spreadsheet/__tests__/__snapshots__/context-menu.tsx.snap
  packages/elements/src/components/Spreadsheet/__tests__/context-menu.tsx
  packages/elements/src/components/Spreadsheet/__tests__/handlers.tsx
  packages/elements/src/components/Spreadsheet/context-menu.tsx
  packages/elements/src/components/Spreadsheet/handlers.tsx
Labels: elements

#2608 fix: #2576 update direct debit flow on billing
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__tests__/__snapshots__/account-status-section.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__tests__/account-status-section.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__tests__/accounts-information-form.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__tests__/direct-debit-section.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/account-status-section.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/accounts-information-form.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/direct-debit-section.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#2637 chore: #1224 update serverless yml of appointment planner api
  packages/web-components/src/appointment-planner-component/server/serverless.yml
Labels: web-components

#2641 fix: #2583 data sheet context menu broken on scroll
  packages/smb-onboarder/package.json
Labels: smb-onboarder

#2640 chore: #1224 update serverless yml of appointment planner api
  packages/web-components/src/appointment-planner-component/server/serverless.yml
Labels: web-components

#2644 chore: #2618 reapit connect landing page to include agency cloud section
  packages/reapit-connect/src/assets/images/AgencyCloudGraphic.jpg
  packages/reapit-connect/src/components/pages/welcome/__tests__/welcome.test.tsx
  packages/reapit-connect/src/components/pages/welcome/welcome.tsx
  packages/reapit-connect/src/components/ui/section/__tests__/__snapshots__/section.test.tsx.snap
  packages/reapit-connect/src/components/ui/section/section.tsx
  packages/reapit-connect/src/tests/badges/badge-branches.svg
  packages/reapit-connect/src/tests/badges/badge-functions.svg
  packages/reapit-connect/src/tests/badges/badge-lines.svg
  packages/reapit-connect/src/tests/badges/badge-statements.svg
Labels: reapit-connect-welcome

#2646 fix: #2535 Filter invite to show only once per email
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/__tests__/members.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/members.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
Labels: developer-portal

#2638 feat: #2614 add css autoprefixer to element next
  packages/elements-next/package.json
  packages/elements-next/rollup.config.js
  yarn.lock
Labels: elements

#2651 chore: #1224 update serverless yml of appointment planner api
  package.json
  packages/web-components/src/appointment-planner-component/server/serverless.yml
  packages/web-components/src/search-widget/server/serverless.yml
  yarn.lock
Labels: web-components

#2654 chore: #2650 Remove the 'Mailto' link in 'Desktop Mode' for app listings 'Need Help'
  packages/marketplace/src/components/pages/app-detail/client/contact-developer-modal.tsx
Labels: marketplace

#2652 chore: #2590 fix buttons spacing. Add download sample for users
  packages/elements/src/styles/components/spreadsheet.scss
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/__snapshots__/negotiators-list.test.tsx.snap
  packages/smb-onboarder/src/components/ui/negotiators-list/negotiators-list.tsx
  packages/smb-onboarder/src/components/ui/offices-tab/__tests__/__snapshots__/offices-tab.tsx.snap
  packages/smb-onboarder/src/components/ui/offices-tab/offices-tab.tsx
Labels: elements, smb-onboarder

#2653 feat: #2594 As a User, I want to upload SMB users By CSV
  packages/graphql-server/src/resolvers/negotiators/types.graphql
  packages/graphql-server/src/schema.graphql
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/__snapshots__/negotiators-list.test.tsx.snap
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/negotiators-list.test.tsx
  packages/smb-onboarder/src/components/ui/negotiators-list/gql/create-negotiator.graphql
  packages/smb-onboarder/src/components/ui/negotiators-list/gql/update-negotiator.graphql
  packages/smb-onboarder/src/components/ui/negotiators-list/negotiators-list.tsx
  packages/smb-onboarder/src/tests/badges/badge-branches.svg
  packages/smb-onboarder/src/tests/badges/badge-functions.svg
  packages/smb-onboarder/src/tests/badges/badge-lines.svg
  packages/smb-onboarder/src/tests/badges/badge-statements.svg
  packages/smb-onboarder/src/utils/__tests__/worker-upload-helper.ts
  packages/smb-onboarder/src/utils/worker-upload-helper.ts
  packages/smb-onboarder/src/worker/csv-upload.worker.ts
Labels: graphql-server, smb-onboarder

#2668 fix: #2618 update item order of reapit connect marketplace section
  packages/reapit-connect/src/components/pages/welcome/__tests__/__snapshots__/welcome.test.tsx.snap
  packages/reapit-connect/src/components/pages/welcome/welcome.tsx
  packages/reapit-connect/src/components/ui/section/__styles__/index.ts
  packages/reapit-connect/src/components/ui/section/__tests__/__snapshots__/section.test.tsx.snap
  packages/reapit-connect/src/components/ui/section/__tests__/section.test.tsx
  packages/reapit-connect/src/components/ui/section/section.tsx
  packages/reapit-connect/src/tests/badges/badge-branches.svg
Labels: reapit-connect-welcome

#2655 feat: 2611 expand central lib of utilities
  packages/elements-next/gatsby-browser.js
  packages/elements-next/jest.config.js
  packages/elements-next/src/base/borders.ts
  packages/elements-next/src/base/box-alignment.ts
  packages/elements-next/src/base/flexbox.ts
  packages/elements-next/src/base/padding.ts
  packages/elements-next/src/base/sizing.ts
  packages/elements-next/src/base/spacing.ts
  packages/elements-next/src/base/typography.ts
  packages/elements-next/src/base/variables.ts
  packages/elements-next/src/components/headings/__styles__/headings-styles.ts
  packages/elements-next/src/components/headings/headings.mdx
  packages/elements-next/src/components/headings/headings.tsx
  packages/elements-next/src/components/headings/styles.ts
  packages/elements-next/src/components/modal/__styles__/index.ts
  packages/elements-next/src/components/modal/__tests__/__snapshots__/modal.test.tsx.snap
  packages/elements-next/src/components/modal/__tests__/modal.test.tsx
  packages/elements-next/src/components/modal/index.ts
  packages/elements-next/src/components/modal/modal.mdx
  packages/elements-next/src/components/modal/modal.tsx
  packages/elements-next/src/docz/docs-wrapper/__tests__/__snapshots__/docs-wrapper.test.tsx.snap
  packages/elements-next/src/docz/docs-wrapper/__tests__/docs-wrapper.test.tsx
  packages/elements-next/src/docz/docs-wrapper/docs-wrapper.tsx
  packages/elements-next/src/docz/docs-wrapper/index.ts
  packages/elements-next/src/docz/docs-wrapper/styles.ts
  packages/elements-next/src/docz/styles/global.ts
  packages/elements-next/src/index.ts
  packages/elements-next/src/styles/borders.ts
  packages/elements-next/src/styles/colors.ts
  packages/elements-next/src/styles/docs.ts
  packages/elements-next/src/styles/flexbox.ts
  packages/elements-next/src/styles/fonts.ts
  packages/elements-next/src/styles/layout.ts
  packages/elements-next/src/styles/margins.ts
  packages/elements-next/src/styles/typography.ts
  packages/elements-next/src/utils/__styles__/copy-clipboard.ts
Labels: elements

#2671 fix: #2618 update reapit connect dev portal link
  packages/reapit-connect/src/components/pages/welcome/__tests__/__snapshots__/welcome.test.tsx.snap
  packages/reapit-connect/src/components/pages/welcome/welcome.tsx
  packages/reapit-connect/src/components/ui/section/__styles__/index.ts
  packages/reapit-connect/src/components/ui/section/__tests__/__snapshots__/section.test.tsx.snap
  packages/reapit-connect/src/components/ui/section/section.tsx
  packages/reapit-connect/src/constants/urls.ts
  packages/reapit-connect/src/tests/badges/badge-lines.svg
  packages/reapit-connect/src/tests/badges/badge-statements.svg
Labels: reapit-connect-welcome

#2672 feat: #2612 style documentation page to look like elements
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/__styles__/termsAndConditionsModal.ts
  packages/elements-next/doczrc.js
  packages/elements-next/src/components/headings/headings.mdx
  packages/elements-next/src/components/playground/__styles__/playground-styles.ts
  packages/elements-next/src/components/playground/index.ts
  packages/elements-next/src/components/playground/playground.tsx
  packages/elements-next/src/docz/styles/global.ts
Labels: developer-portal, elements

#2674 fix: #2618 update reapit connect link
  packages/reapit-connect/src/components/pages/welcome/welcome.tsx
Labels: reapit-connect-welcome

#2670 feat: #656 create server for book viewing and book valuation
  packages/web-components/src/book-valuation-widget/server/api/__tests__/ping.ts
  packages/web-components/src/book-valuation-widget/server/api/ping.ts
  packages/web-components/src/book-valuation-widget/server/core/__tests__/index.ts
  packages/web-components/src/book-valuation-widget/server/core/__tests__/routes.ts
  packages/web-components/src/book-valuation-widget/server/core/index.ts
  packages/web-components/src/book-valuation-widget/server/core/logger.ts
  packages/web-components/src/book-valuation-widget/server/core/routers.ts
  packages/web-components/src/book-valuation-widget/server/index.ts
  packages/web-components/src/book-valuation-widget/server/serverless.yml
  packages/web-components/src/book-viewing-widget/server/api/__tests__/ping.ts
  packages/web-components/src/book-viewing-widget/server/api/ping.ts
  packages/web-components/src/book-viewing-widget/server/core/__tests__/index.ts
  packages/web-components/src/book-viewing-widget/server/core/__tests__/routes.ts
  packages/web-components/src/book-viewing-widget/server/core/index.ts
  packages/web-components/src/book-viewing-widget/server/core/logger.ts
  packages/web-components/src/book-viewing-widget/server/core/routers.ts
  packages/web-components/src/book-viewing-widget/server/index.ts
  packages/web-components/src/book-viewing-widget/server/serverless.yml
  packages/web-components/src/common/api/__tests__/get-appointment-slots.test.ts
  packages/web-components/src/common/api/get-appointment-slots.ts
  packages/web-components/src/common/utils/__tests__/get-server-headers.ts
  packages/web-components/src/common/utils/constants.ts
  packages/web-components/src/common/utils/get-server-headers.ts
Labels: web-components

#2690 feat: #50 migrate checkbox to elements next
  packages/elements-next/.storybook/main.js
  packages/elements-next/.storybook/preview.js
  packages/elements-next/doczrc.js
  packages/elements-next/gatsby-browser.js
  packages/elements-next/gatsby-config.js
  packages/elements-next/gatsby-node.js
  packages/elements-next/package.json
  packages/elements-next/src/components/checkbox/__tests__/__snapshots__/checkbox.test.tsx.snap
  packages/elements-next/src/components/checkbox/__tests__/checkbox.test.tsx
  packages/elements-next/src/components/checkbox/checkbox.stories.tsx
  packages/elements-next/src/components/checkbox/checkbox.tsx
  packages/elements-next/src/components/checkbox/index.ts
  packages/elements-next/src/components/checkbox/styles.ts
  packages/elements-next/src/components/playground/__styles__/playground-styles.ts
  packages/elements-next/src/components/playground/index.ts
  packages/elements-next/src/components/playground/playground.tsx
  packages/elements-next/src/docz/docs-wrapper/__tests__/__snapshots__/docs-wrapper.test.tsx.snap
  packages/elements-next/src/docz/docs-wrapper/__tests__/docs-wrapper.test.tsx
  packages/elements-next/src/docz/docs-wrapper/docs-wrapper.tsx
  packages/elements-next/src/docz/docs-wrapper/index.ts
  packages/elements-next/src/docz/docs-wrapper/styles.ts
  packages/elements-next/src/docz/styles/global.ts
  packages/elements-next/src/tests/badges/badge-branches.svg
  packages/elements-next/src/tests/badges/badge-functions.svg
  packages/elements-next/src/tests/badges/badge-lines.svg
  packages/elements-next/src/tests/badges/badge-statements.svg
  yarn.lock
Labels: elements

#2689 feat: #2635 Migrate Progress Bar to Elements v2.0
  packages/elements-next/src/components/progress-bar/__tests__/__snapshots__/progress-bar-test.tsx.snap
  packages/elements-next/src/components/progress-bar/__tests__/progress-bar-test.tsx
  packages/elements-next/src/components/progress-bar/checkbox.stories.tsx
  packages/elements-next/src/components/progress-bar/index.ts
  packages/elements-next/src/components/progress-bar/progress-bar.tsx
  packages/elements-next/src/components/progress-bar/styles.ts
  packages/elements-next/src/tests/badges/badge-branches.svg
  packages/elements-next/src/tests/badges/badge-functions.svg
  packages/elements-next/src/tests/badges/badge-lines.svg
  packages/elements-next/src/tests/badges/badge-statements.svg
Labels: elements

#2692 feat: #2616 migrate button to elements v2
  packages/elements-next/jest.config.js
  packages/elements-next/src/base/flexbox.ts
  packages/elements-next/src/components/button/__tests__/__snapshots__/button.test.tsx.snap
  packages/elements-next/src/components/button/__tests__/button.test.tsx
  packages/elements-next/src/components/button/button-group.stories.tsx
  packages/elements-next/src/components/button/button.stories.tsx
  packages/elements-next/src/components/button/button.tsx
  packages/elements-next/src/components/button/index.ts
  packages/elements-next/src/components/button/styles.ts
  packages/elements-next/src/index.ts
  packages/elements-next/src/tests/badges/badge-functions.svg
  packages/elements-next/src/tests/badges/badge-lines.svg
  packages/elements-next/src/tests/badges/badge-statements.svg
Labels: elements

#2713 feat: #2765 show all apps include featured apps
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: marketplace

#2712 chore: #2702 Additional text for Account Information
  packages/developer-portal/src/components/pages/edit-app/developer-edit-app.tsx
Labels: developer-portal

#2693 feat: #2626 Migrate loader to elements v2
  packages/elements-next/.storybook/preview.js
  packages/elements-next/src/components/checkbox/checkbox.stories.tsx
  packages/elements-next/src/components/loader/__tests__/__snapshots__/loader.test.tsx.snap
  packages/elements-next/src/components/loader/__tests__/loader.test.tsx
  packages/elements-next/src/components/loader/index.ts
  packages/elements-next/src/components/loader/loader.stories.tsx
  packages/elements-next/src/components/loader/loader.tsx
  packages/elements-next/src/components/loader/styles.ts
  packages/elements-next/src/index.ts
Labels: elements

#2715 fix: #2520 - Fix wrong tag background color
  packages/developer-portal/src/components/pages/app-detail/__styles__/app-detail.ts
Labels: developer-portal

#2710 feat: #50 style for checkbox
  packages/elements-next/.storybook/preview.js
  packages/elements-next/src/components/checkbox/__tests__/__snapshots__/checkbox.test.tsx.snap
  packages/elements-next/src/components/checkbox/__tests__/checkbox.test.tsx
  packages/elements-next/src/components/checkbox/checkbox.stories.tsx
  packages/elements-next/src/components/checkbox/checkbox.tsx
  packages/elements-next/src/components/checkbox/styles.ts
  packages/elements-next/src/tests/badges/badge-branches.svg
  packages/elements-next/src/tests/badges/badge-functions.svg
  packages/elements-next/src/tests/badges/badge-lines.svg
  packages/elements-next/src/tests/badges/badge-statements.svg
Labels: elements

#2716 feat: #2623 Migrate Lists to Elements v2.0
  packages/elements-next/src/components/list/__tests__/__snapshots__/list.test.tsx.snap
  packages/elements-next/src/components/list/__tests__/list.test.tsx
  packages/elements-next/src/components/list/index.ts
  packages/elements-next/src/components/list/list.stories.tsx
  packages/elements-next/src/components/list/list.tsx
  packages/elements-next/src/components/list/styles.ts
  packages/elements-next/src/components/progress-bar/progress-bar.stories.tsx
  packages/elements-next/src/index.ts
  packages/elements-next/src/tests/badges/badge-branches.svg
  packages/elements-next/src/tests/badges/badge-functions.svg
  packages/elements-next/src/tests/badges/badge-lines.svg
  packages/elements-next/src/tests/badges/badge-statements.svg
Labels: elements

#2714 feat: #58 radio select elements
  packages/elements-next/src/components/radio/index.ts
  packages/elements-next/src/components/radio/radio.stories.tsx
  packages/elements-next/src/components/radio/radio.tsx
  packages/elements-next/src/components/radio/styles.ts
Labels: elements

#2711 feat: #2615 Migrate Alert, Info and Helper to Elements v2.0
  packages/elements-next/src/base/background-colors.ts
  packages/elements-next/src/components/message/__tests__/__snapshots__/message.test.tsx.snap
  packages/elements-next/src/components/message/__tests__/message.test.tsx
  packages/elements-next/src/components/message/index.ts
  packages/elements-next/src/components/message/message.stories.tsx
  packages/elements-next/src/components/message/message.tsx
  packages/elements-next/src/components/message/styles.ts
  packages/elements-next/src/index.ts
Labels: elements

#2709 feat: #2698 update invite modal
  packages/developer-portal/src/components/pages/invite/__tests__/__snapshots__/invite.test.tsx.snap
  packages/developer-portal/src/components/pages/invite/__tests__/invite.test.tsx
  packages/developer-portal/src/components/pages/invite/invite.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#2760 feat: #2730 #2745 #2645 #2717 #2718 #2727 #2701 #2729 various fixes
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/assets/files/developer-edition-guide.pdf
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer-component/cost-explorer.tsx
  packages/developer-portal/src/services/developers.ts
  packages/elements/src/components/HtmlRender/utils.tsx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/marketplace/src/components/pages/app-detail/client/contact-developer-modal.tsx
  packages/marketplace/src/components/pages/apps/__tests__/coming-soon.test.tsx
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/setting.test.tsx.snap
  packages/marketplace/src/components/pages/settings/setting.tsx
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/selector/auth/auth.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/smb-onboarder/src/tests/badges/badge-lines.svg
  packages/smb-onboarder/src/tests/badges/badge-statements.svg
  packages/utils/src/form/regexs.ts
Labels: admin-portal, aml-checklist, developer-portal, elements, marketplace, smb-onboarder

#2766 fix: #2765 route path now goes to login
  packages/developer-portal/src/core/private-route-wrapper.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal
