Repository reapit/foundations, pull requests merged in 2020-03, with the labels that each got.

#468 fix: handler context for lambda apollo server
  packages/graphql-server/src/app.ts
  packages/graphql-server/src/index.ts
  packages/graphql-server/src/logger/logger.ts
Labels: graphql-server

#419 feat: #369 GraphQL Server Area resolver
  .github/workflows/pull-request-ci.yml
  packages/graphql-server/src/resolvers/area/__mocks__/area.ts
  packages/graphql-server/src/resolvers/area/__mocks__/areas.ts
  packages/graphql-server/src/resolvers/area/__mocks__/createArea.ts
  packages/graphql-server/src/resolvers/area/__mocks__/updateArea.ts
  packages/graphql-server/src/resolvers/area/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/area/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/area/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/area/api.ts
  packages/graphql-server/src/resolvers/area/resolvers.ts
  packages/graphql-server/src/resolvers/area/services.ts
  packages/graphql-server/src/resolvers/area/types.d.ts
  packages/graphql-server/src/resolvers/area/types.graphql
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/schema.graphql
Labels: graphql-server

#470 feat: #450 create fetch-ts-definition command for graphql server
  packages/graphql-server/package.json
  packages/graphql-server/scripts/fetch-ts-definitions.js
Labels: graphql-server

#471 refactor: move typings for identity-check to identity-check.d.ts
  packages/graphql-server/src/resolvers/identity-check/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/identity-check/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/identity-check/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/identity-check/api.ts
  packages/graphql-server/src/resolvers/identity-check/identity-check.d.ts
  packages/graphql-server/src/resolvers/identity-check/resolvers.ts
  packages/graphql-server/src/resolvers/identity-check/services.ts
Labels: graphql-server

#472 refactor: remove login mutation
  packages/graphql-server/src/resolvers/auth/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/auth/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/auth/api.ts
  packages/graphql-server/src/resolvers/auth/resolvers.ts
  packages/graphql-server/src/resolvers/auth/services.ts
  packages/graphql-server/src/resolvers/auth/types.graphql
  packages/graphql-server/src/resolvers/identity-check/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/identity-check/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/identity-check/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/identity-check/api.ts
  packages/graphql-server/src/resolvers/identity-check/identity-check.d.ts
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/schema.graphql
Labels: graphql-server

#379 feat: #371 Implement resolver for graphql server: negotiator services
  packages/graphql-server/package.json
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/resolvers/negotiators/__mocks__/create-arg.ts
  packages/graphql-server/src/resolvers/negotiators/__mocks__/negotiator.ts
  packages/graphql-server/src/resolvers/negotiators/__mocks__/negotiators.ts
  packages/graphql-server/src/resolvers/negotiators/__mocks__/update-arg.ts
  packages/graphql-server/src/resolvers/negotiators/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/negotiators/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/negotiators/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/negotiators/api.ts
  packages/graphql-server/src/resolvers/negotiators/negotiator.d.ts
  packages/graphql-server/src/resolvers/negotiators/resolvers.ts
  packages/graphql-server/src/resolvers/negotiators/services.ts
  packages/graphql-server/src/resolvers/negotiators/types.graphql
  packages/graphql-server/src/schema.graphql
Labels: graphql-server

#480 fix: apply all headers to swagger request
  packages/marketplace/src/components/pages/__tests__/swagger.tsx
  packages/marketplace/src/components/pages/swagger.tsx
Labels: marketplace

#390 chore: #370 resolver for graphql server offices services
  packages/graphql-server/src/constants/api.ts
  packages/graphql-server/src/resolvers/office/__mocks__/create-office.ts
  packages/graphql-server/src/resolvers/office/__mocks__/get-office.ts
  packages/graphql-server/src/resolvers/office/__mocks__/get-offices.ts
  packages/graphql-server/src/resolvers/office/__mocks__/office.ts
  packages/graphql-server/src/resolvers/office/__mocks__/offices.ts
  packages/graphql-server/src/resolvers/office/__mocks__/update-office.ts
  packages/graphql-server/src/resolvers/office/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/office/__tests__/resolver.test.ts
  packages/graphql-server/src/resolvers/office/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/office/api.ts
  packages/graphql-server/src/resolvers/office/offices.d.ts
  packages/graphql-server/src/resolvers/office/resolvers.ts
  packages/graphql-server/src/resolvers/office/services.ts
  packages/graphql-server/src/resolvers/office/types.graphql
  packages/graphql-server/src/schema.graphql
  yarn.lock
Labels: graphql-server

#511 feat: #66 Offices page on SMB
  packages/smb/src/components/pages/offices/__snapshots__/offices.test.tsx.snap
  packages/smb/src/components/pages/offices/index.ts
  packages/smb/src/components/pages/offices/offices.test.tsx
  packages/smb/src/components/pages/offices/offices.tsx
  packages/smb/src/components/ui/__snapshots__/areas-tab.test.tsx.snap
  packages/smb/src/components/ui/__snapshots__/global-settings-tab.test.tsx.snap
  packages/smb/src/components/ui/__snapshots__/integration-tab.test.tsx.snap
  packages/smb/src/components/ui/__snapshots__/offices-tab.test.tsx.snap
  packages/smb/src/components/ui/areas-tab.test.tsx
  packages/smb/src/components/ui/areas-tab.tsx
  packages/smb/src/components/ui/global-settings-tab.test.tsx
  packages/smb/src/components/ui/global-settings-tab.tsx
  packages/smb/src/components/ui/integration-tab.test.tsx
  packages/smb/src/components/ui/integration-tab.tsx
  packages/smb/src/components/ui/offices-tab.test.tsx
  packages/smb/src/components/ui/offices-tab.tsx
  packages/smb/src/constants/routes.ts
  packages/smb/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/smb/src/core/router.tsx
  scripts/webpack/webpack.sass.dev.js
Labels: smb

#513 fix: #431 Update the Redirect and Sign Out fields to allow for custom schemes
  packages/marketplace/src/components/pages/developer-submit-app.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/__tests__/validate.ts
  packages/marketplace/src/utils/form/__tests__/submit-app.ts
  packages/marketplace/src/utils/form/submit-app.ts
  packages/marketplace/src/utils/validate.ts
Labels: marketplace

#389 chore: #368 Add resolver for graphql server to call appointment services
  .eslintrc.js
  packages/aml-checklist/src/core/__mocks__/router.tsx
  packages/aml-checklist/src/core/__mocks__/store.ts
  packages/aml-checklist/src/utils/__mocks__/session.ts
  packages/cognito-auth/src/__mocks__/cognito-session.ts
  packages/elements/src/components/Menu/__mocks__/menu-props.tsx
  packages/geo-diary/src/core/__mocks__/router.tsx
  packages/geo-diary/src/core/__mocks__/store.ts
  packages/geo-diary/src/utils/__mocks__/session.ts
  packages/graphql-server/src/resolvers/appointment/__mocks__/appointment.ts
  packages/graphql-server/src/resolvers/appointment/__mocks__/appointments.ts
  packages/graphql-server/src/resolvers/appointment/__mocks__/create-appointment-args.ts
  packages/graphql-server/src/resolvers/appointment/__mocks__/get-appointment-by-id-args.ts
  packages/graphql-server/src/resolvers/appointment/__mocks__/get-appointments-args.ts
  packages/graphql-server/src/resolvers/appointment/__mocks__/update-appointment-args.ts
  packages/graphql-server/src/resolvers/appointment/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/appointment/__tests__/resolver.test.ts
  packages/graphql-server/src/resolvers/appointment/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/appointment/api.ts
  packages/graphql-server/src/resolvers/appointment/appointment.d.ts
  packages/graphql-server/src/resolvers/appointment/resolvers.ts
  packages/graphql-server/src/resolvers/appointment/services.ts
  packages/graphql-server/src/resolvers/appointment/types.graphql
  packages/graphql-server/src/resolvers/contact/__mocks__/contact.ts
  packages/graphql-server/src/resolvers/contact/__mocks__/contacts.ts
  packages/graphql-server/src/resolvers/contact/__mocks__/create-args.ts
  packages/graphql-server/src/resolvers/contact/__mocks__/update-args.ts
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/resolvers/negotiators/__mocks__/negotiator.ts
  packages/graphql-server/src/schema.graphql
  packages/graphql-server/types.graphql
  packages/lifetime-legal/src/core/__mocks__/router.tsx
  packages/lifetime-legal/src/core/__mocks__/store.ts
  packages/lifetime-legal/src/utils/__mocks__/session.ts
  packages/marketplace/src/core/__mocks__/router.tsx
  packages/marketplace/src/core/__mocks__/store.ts
  packages/marketplace/src/selector/__mocks__/app-detail.ts
  packages/marketplace/src/selector/__mocks__/client.ts
  packages/smb/src/core/__mocks__/mock-router.tsx
  packages/smb/src/core/__mocks__/router.tsx
  packages/smb/src/graphql/__mocks__/token.ts
Labels: aml-checklist, cognito-auth, elements, geo-diary, graphql-server, lifetime-legal, marketplace

#514 Chore/126 refactor config manager
  .github/workflows/foundation-ts-definition-cronjob.yml
  .github/workflows/pull-request-ci.yml
  .github/workflows/release-develop.yml
  .github/workflows/release-production.yml
  .gitignore
  packages/config-manager/package.json
  packages/config-manager/src/cli.js
  packages/config-manager/src/index.js
  packages/config-manager/src/paths.js
  packages/config-manager/src/utils/generate-config-ts-def.js
  packages/config-manager/src/utils/handle-fetching-secret-fail.js
  packages/config-manager/src/utils/write-config-in-cwd.js
  packages/foundations-ts-definitions/package.json
  yarn.lock
Labels: aml-checklist, config-manager, geo-diary, lifetime-legal, marketplace, smb

#512 feat: #36 smb create home page #41 create navigations icons and routes
  packages/smb/src/assets/images/get-started.png
  packages/smb/src/assets/images/install.png
  packages/smb/src/assets/images/support.png
  packages/smb/src/components/pages/home/__snapshots__/home.test.tsx.snap
  packages/smb/src/components/pages/home/home.test.tsx
  packages/smb/src/components/pages/home/home.tsx
  packages/smb/src/components/pages/home/styles.tsx
  packages/smb/src/components/pages/login/__snapshots__/login.test.tsx.snap
  packages/smb/src/components/ui/__snapshots__/menu.test.tsx.snap
  packages/smb/src/components/ui/menu.tsx
  packages/smb/src/constants/routes.ts
  packages/smb/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/smb/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/smb/src/core/private-route-wrapper.tsx
  packages/smb/src/tests/badges/badge-branches.svg
  packages/smb/src/tests/badges/badge-functions.svg
  packages/smb/src/tests/badges/badge-lines.svg
  packages/smb/src/tests/badges/badge-statements.svg
  packages/smb/tsconfig.json
  yarn.lock
Labels: smb

#518 Fix: #453 Marketplace UI issues on IE (dev portal)
  packages/elements/.storybook/webpack.config.js
  packages/elements/src/components/HelpGuide/vertical-timeline.tsx
  packages/elements/src/styles/components/help-guide.scss
  packages/elements/src/styles/components/menu.scss
  packages/elements/src/styles/vendor/bulma-overrides.scss
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-submit-app-successfully.tsx.snap
  packages/marketplace/src/components/pages/__tests__/__snapshots__/elements.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app-successfully.tsx
  packages/marketplace/src/components/pages/elements.tsx
  packages/marketplace/src/scripts/chat-bot.js
  packages/marketplace/src/styles/pages/developer-submit-app-successfully.scss
  packages/marketplace/src/styles/pages/help.scss
  scripts/webpack/webpack.base.dev.js
  scripts/webpack/webpack.sass.dev.js
Labels: elements, marketplace

#520 feat: #34 login page need to redirect to reapit connect
  packages/smb/src/components/pages/login/login.tsx
  packages/smb/src/core/private-route-wrapper.tsx
Labels: smb

#521 fix: fix failing pipeline
  package.json
  packages/aml-checklist/package.json
  packages/aml-checklist/tsconfig.json
  packages/cognito-auth/package.json
  packages/elements/tsconfig.json
  packages/geo-diary/package.json
  packages/geo-diary/tsconfig.json
  packages/graphql-server/package.json
  packages/lifetime-legal/package.json
  packages/lifetime-legal/tsconfig.json
  packages/marketplace/package.json
  packages/marketplace/tsconfig.json
  packages/smb/package.json
  packages/smb/src/tests/badges/badge-branches.svg
  packages/smb/src/tests/badges/badge-functions.svg
  packages/smb/src/tests/badges/badge-lines.svg
  packages/smb/src/tests/badges/badge-statements.svg
  packages/smb/tsconfig.json
  scripts/webpack/webpack-sass-prod/index.js
  scripts/webpack/webpack.base.prod.js
  scripts/webpack/webpack.sass.dev.js
  yarn.lock
Labels: aml-checklist, cognito-auth, elements, geo-diary, graphql-server, lifetime-legal, marketplace, smb

#523 Fix/config manager invalid path
  packages/config-manager/src/index.js
  packages/config-manager/src/paths.js
Labels: config-manager

#525 chore: #519 migrate elements storybook to s3
  packages/elements/package.json
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  scripts/release/release-dev.js
  scripts/release/release-npm.js
Labels: elements

#526 ci: #519 remove concurrently on build prod of elements
  packages/elements/package.json
Labels: elements

#527 fix: path resolve for reapit config
  packages/elements/package.json
  scripts/webpack/constants.js
Labels: elements

#531 chore: fix config-manager - handle end signals and errors correctly
  packages/config-manager/src/index.js
  packages/config-manager/src/utils/handle-fetching-secret-fail.js
  packages/config-manager/src/utils/write-config-in-cwd.js
Labels: config-manager

#528 fix: path resolve for reapit config
  packages/elements/package.json
Labels: elements, smb

#532 fix: #66 - Update office resolver
  packages/graphql-server/src/resolvers/area/api.ts
  packages/graphql-server/src/resolvers/contact/api.ts
  packages/graphql-server/src/resolvers/identity-check/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/identity-check/api.ts
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/resolvers/negotiators/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/negotiators/api.ts
  packages/graphql-server/src/resolvers/office/api.ts
Labels: graphql-server

#533 chore: #519 migrate iframe elements doc from github page to s3
  packages/marketplace/src/components/pages/__tests__/__snapshots__/elements.tsx.snap
  packages/marketplace/src/components/pages/elements.tsx
  packages/marketplace/src/constants/iframe-urls.ts
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#534 fix: Spreadsheet component fixes
  packages/elements/package.json
  packages/elements/src/components/Spreadsheet/__tests__/__snapshots__/handlers.tsx.snap
  packages/elements/src/components/Spreadsheet/__tests__/handlers.tsx
  packages/elements/src/components/Spreadsheet/handlers.tsx
  packages/elements/src/components/Spreadsheet/index.tsx
  packages/elements/src/components/Spreadsheet/spreadsheet.stories.tsx
  packages/elements/src/components/Spreadsheet/types.tsx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/smb/src/components/pages/offices/__snapshots__/offices.test.tsx.snap
  packages/smb/src/components/ui/__snapshots__/areas-tab.test.tsx.snap
  packages/smb/src/components/ui/__snapshots__/global-settings-tab.test.tsx.snap
  packages/smb/src/components/ui/__snapshots__/integration-tab.test.tsx.snap
  packages/smb/src/components/ui/__snapshots__/offices-tab.test.tsx.snap
Labels: elements, smb

#546 refactor: #535 get token from authorization flow
  packages/smb/jest.config.js
  packages/smb/src/components/pages/home/__styles__/styles.tsx
  packages/smb/src/components/pages/home/__tests__/__snapshots__/home.test.tsx.snap
  packages/smb/src/components/pages/home/__tests__/home.test.tsx
  packages/smb/src/components/pages/home/home.tsx
  packages/smb/src/components/pages/login/__styles__/styles.ts
  packages/smb/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/smb/src/components/pages/login/__tests__/__snapshots__/style.test.tsx.snap
  packages/smb/src/components/pages/login/__tests__/login.test.tsx
  packages/smb/src/components/pages/login/__tests__/style.test.tsx
  packages/smb/src/components/pages/login/login.test.tsx
  packages/smb/src/components/pages/login/login.tsx
  packages/smb/src/constants/api.ts
  packages/smb/src/context/__tests__/auth-context.tsx
  packages/smb/src/context/__tests__/index.tsx
  packages/smb/src/context/auth-context.tsx
  packages/smb/src/context/index.tsx
  packages/smb/src/core/__tests__/__snapshots__/index.tsx.snap
  packages/smb/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/smb/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/smb/src/core/__tests__/private-route-wrapper.tsx
  packages/smb/src/core/index.tsx
  packages/smb/src/core/private-route-wrapper.tsx
  packages/smb/src/core/router.tsx
  packages/smb/src/graphql/__tests__/client.test.ts
  packages/smb/src/graphql/__tests__/resolver.test.ts
  packages/smb/src/graphql/client.ts
  packages/smb/src/graphql/resolver.test.ts
  packages/smb/src/graphql/resolvers.ts
  packages/smb/src/hooks/__mocks__/mount-react-hook.tsx
  packages/smb/src/hooks/__tests__/__snapshots__/use-auth.test.tsx.snap
  packages/smb/src/hooks/__tests__/use-auth.test.tsx
  packages/smb/src/hooks/index.ts
  packages/smb/src/hooks/use-auth.ts
  packages/smb/src/tests/badges/badge-branches.svg
  packages/smb/src/tests/badges/badge-functions.svg
  packages/smb/src/tests/badges/badge-lines.svg
  packages/smb/src/tests/badges/badge-statements.svg
  packages/smb/src/utils/__tests__/client-url-params.test.ts
  packages/smb/src/utils/__tests__/sleep.test.ts
Labels: smb

#552 chore: add PLATFORM_API_BASE_URL env to graphql server serverless deploy
  packages/graphql-server/serverless.yml
Labels: graphql-server

#522 feat: #64 Populate offices table in smb app
  packages/smb/src/components/pages/offices/__snapshots__/offices.test.tsx.snap
  packages/smb/src/components/pages/offices/__tests__/__snapshots__/offices.tsx.snap
  packages/smb/src/components/pages/offices/__tests__/offices.tsx
  packages/smb/src/components/pages/offices/offices.test.tsx
  packages/smb/src/components/ui/__snapshots__/offices-tab.test.tsx.snap
  packages/smb/src/components/ui/offices-tab.test.tsx
  packages/smb/src/components/ui/offices-tab.tsx
  packages/smb/src/components/ui/offices-tab/__mocks__/offices.ts
  packages/smb/src/components/ui/offices-tab/__tests__/__snapshots__/offices-tab.tsx.snap
  packages/smb/src/components/ui/offices-tab/__tests__/offices-tab.tsx
  packages/smb/src/components/ui/offices-tab/index.ts
  packages/smb/src/components/ui/offices-tab/offices-tab.graphql
  packages/smb/src/components/ui/offices-tab/offices-tab.tsx
  packages/smb/src/constants/paginators.ts
  packages/smb/src/graphql/fragments/office.graphql
Labels: graphql-server, smb

#553 feature: #550 add app version to login page
  packages/aml-checklist/src/components/pages/__tests__/__snapshots__/login.tsx.snap
  packages/aml-checklist/src/components/pages/login.tsx
  packages/elements/.storybook/config.js
  packages/elements/.storybook/webpack.config.js
  packages/geo-diary/src/components/pages/__tests__/__snapshots__/login.tsx.snap
  packages/geo-diary/src/components/pages/login.tsx
  packages/lifetime-legal/src/components/pages/__tests__/__snapshots__/login.tsx.snap
  packages/lifetime-legal/src/components/pages/login.tsx
  packages/marketplace/src/components/pages/__tests__/__snapshots__/login.tsx.snap
  packages/marketplace/src/components/pages/login.tsx
  packages/smb/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/smb/src/components/pages/login/login.tsx
  scripts/release/utils.js
  scripts/webpack/webpack.base.dev.js
  scripts/webpack/webpack.base.prod.js
  scripts/webpack/webpack.sass.dev.js
Labels: aml-checklist, geo-diary, lifetime-legal, marketplace, smb

#529 feat: #36 smb create home page
  packages/elements/src/components/HelpGuide/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/HelpGuide/index.tsx
  packages/marketplace/src/styles/pages/developer-welcome.scss
  packages/smb/src/components/pages/get-started/__styles__/styles.tsx
  packages/smb/src/components/pages/get-started/__tests__/__snapshots__/get-started.tsx.snap
  packages/smb/src/components/pages/get-started/__tests__/get-started.tsx
  packages/smb/src/components/pages/get-started/get-started.tsx
  packages/smb/src/components/pages/get-started/index.ts
  packages/smb/src/components/pages/home/home.tsx
  packages/smb/src/components/ui/__tests__/__snapshots__/areas-tab.test.tsx.snap
  packages/smb/src/components/ui/__tests__/__snapshots__/global-settings-tab.test.tsx.snap
  packages/smb/src/components/ui/__tests__/__snapshots__/integration-tab.test.tsx.snap
  packages/smb/src/components/ui/__tests__/__snapshots__/menu.test.tsx.snap
  packages/smb/src/components/ui/__tests__/areas-tab.test.tsx
  packages/smb/src/components/ui/__tests__/global-settings-tab.test.tsx
  packages/smb/src/components/ui/__tests__/integration-tab.test.tsx
  packages/smb/src/components/ui/__tests__/menu.test.tsx
  packages/smb/src/components/ui/menu.tsx
  packages/smb/src/constants/routes.ts
  packages/smb/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/smb/src/core/private-route-wrapper.tsx
  packages/smb/src/core/router.tsx
  packages/smb/src/hooks/use-auth.ts
  packages/smb/src/tests/badges/badge-branches.svg
  packages/smb/src/tests/badges/badge-functions.svg
  packages/smb/src/tests/badges/badge-lines.svg
  packages/smb/src/tests/badges/badge-statements.svg
Labels: elements, marketplace, smb

#555 fix: cors on apollo-server
  packages/graphql-server/src/index.ts
Labels: graphql-server

#564 chore: #516 fix smb app to structure as convention
  packages/smb/src/constants/__tests__/error-messages.test.ts
Labels: smb

#565 fix: Update the return data of update mutations
  packages/graphql-server/src/resolvers/appointments/api.ts
  packages/graphql-server/src/resolvers/appointments/appointments.d.ts
  packages/graphql-server/src/resolvers/appointments/types.graphql
  packages/graphql-server/src/resolvers/areas/api.ts
  packages/graphql-server/src/resolvers/areas/areas.d.ts
  packages/graphql-server/src/resolvers/areas/types.graphql
  packages/graphql-server/src/resolvers/contacts/api.ts
  packages/graphql-server/src/resolvers/contacts/contacts.d.ts
  packages/graphql-server/src/resolvers/contacts/types.graphql
  packages/graphql-server/src/resolvers/identity-checks/api.ts
  packages/graphql-server/src/resolvers/identity-checks/identity-checks.d.ts
  packages/graphql-server/src/resolvers/identity-checks/types.graphql
  packages/graphql-server/src/resolvers/negotiators/api.ts
  packages/graphql-server/src/resolvers/negotiators/negotiators.d.ts
  packages/graphql-server/src/resolvers/negotiators/types.graphql
  packages/graphql-server/src/resolvers/offices/api.ts
  packages/graphql-server/src/resolvers/offices/offices.d.ts
  packages/graphql-server/src/resolvers/offices/types.graphql
  packages/graphql-server/src/schema.graphql
Labels: graphql-server

#566 refactor: #535 get token from authorization
  package.json
  packages/smb/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/smb/src/components/pages/login/__tests__/login.test.tsx
  packages/smb/src/components/pages/login/login.tsx
  packages/smb/src/components/ui/__tests__/__snapshots__/menu.test.tsx.snap
  packages/smb/src/components/ui/__tests__/menu.test.tsx
  packages/smb/src/components/ui/menu.tsx
  packages/smb/src/core/__mocks__/mock-context.ts
  packages/smb/src/core/__tests__/__snapshots__/index.tsx.snap
  packages/smb/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/smb/src/core/__tests__/private-route-wrapper.tsx
  packages/smb/src/core/index.tsx
  packages/smb/src/core/private-route-wrapper.tsx
  packages/smb/src/hooks/__tests__/use-auth.test.tsx
  packages/smb/src/hooks/index.ts
  packages/smb/src/hooks/use-auth.ts
  packages/smb/src/tests/badges/badge-branches.svg
  packages/smb/src/tests/badges/badge-functions.svg
  packages/smb/src/tests/badges/badge-lines.svg
  packages/smb/src/tests/badges/badge-statements.svg
  packages/smb/src/utils/auth.ts
  yarn.lock
Labels: smb

#575 fix: #574 - Add appIds when requesting app statistics
  packages/marketplace/src/components/pages/analytics.tsx
Labels: marketplace

#580 fix: correct graphql build:prod
  packages/graphql-server/package.json
Labels: graphql-server

#588 chore: bump elements version
  packages/elements/package.json
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: elements, marketplace

#570 #73: Create query to populate users table smb
  packages/elements/src/styles/components/checkbox.scss
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/schema.graphql
  packages/smb/src/components/pages/negotiators/__tests__/__snapshots__/negotiators.test.tsx.snap
  packages/smb/src/components/pages/negotiators/__tests__/negotiators.test.tsx
  packages/smb/src/components/pages/negotiators/index.ts
  packages/smb/src/components/pages/negotiators/negotiators.tsx
  packages/smb/src/components/ui/negotiators-list/__mocks__/negotiators.ts
  packages/smb/src/components/ui/negotiators-list/__tests__/__snapshots__/negotiators-list.test.tsx.snap
  packages/smb/src/components/ui/negotiators-list/__tests__/negotiators-list.test.tsx
  packages/smb/src/components/ui/negotiators-list/index.ts
  packages/smb/src/components/ui/negotiators-list/negotiators-list.graphql
  packages/smb/src/components/ui/negotiators-list/negotiators-list.tsx
  packages/smb/src/constants/paginators.ts
  packages/smb/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/smb/src/core/router.tsx
  packages/smb/src/graphql/fragments/negotiator.graphql
Labels: elements, graphql-server, smb

#589 feat: #557 add direct link to specific section in document
  packages/graphql-server/src/schema.graphql
  packages/marketplace/src/components/pages/__tests__/__snapshots__/api-docs.tsx.snap
  packages/marketplace/src/components/pages/__tests__/api-docs.tsx
  packages/marketplace/src/components/pages/api-docs.tsx
  packages/marketplace/src/constants/iframe-urls.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: graphql-server, marketplace

#590 chore: graphql server prettier after build:schema
  packages/graphql-server/package.json
Labels: graphql-server

#604 feat: #567 create mutation should return object instead of true or false and add handleError to return correctly
  packages/graphql-server/nodemon.json
  packages/graphql-server/package.json
  packages/graphql-server/src/__tests__/app.test.ts
  packages/graphql-server/src/app.ts
  packages/graphql-server/src/errors/__tests__/errors.test.ts
  packages/graphql-server/src/errors/errors.ts
  packages/graphql-server/src/index.ts
  packages/graphql-server/src/resolvers/appointments/api.ts
  packages/graphql-server/src/resolvers/appointments/appointments.d.ts
  packages/graphql-server/src/resolvers/areas/api.ts
  packages/graphql-server/src/resolvers/areas/areas.d.ts
  packages/graphql-server/src/resolvers/contacts/api.ts
  packages/graphql-server/src/resolvers/contacts/contacts.d.ts
  packages/graphql-server/src/resolvers/identity-checks/api.ts
  packages/graphql-server/src/resolvers/identity-checks/identity-checks.d.ts
  packages/graphql-server/src/resolvers/negotiators/api.ts
  packages/graphql-server/src/resolvers/negotiators/negotiators.d.ts
  packages/graphql-server/src/resolvers/offices/api.ts
  packages/graphql-server/src/resolvers/offices/offices.d.ts
  packages/graphql-server/src/utils/__tests__/axios-instances.test.ts
  packages/graphql-server/src/utils/__tests__/get-id-from-create-headers.test.ts
  packages/graphql-server/src/utils/__tests__/handle-error.test.ts
  packages/graphql-server/src/utils/axios-instances.ts
  packages/graphql-server/src/utils/get-id-from-create-headers.ts
  packages/graphql-server/src/utils/handle-error.ts
  packages/graphql-server/tsconfig.json
  yarn.lock
Labels: graphql-server

#606 feat: #558: - Migrate code for polygon filter to map component
  packages/elements/src/components/Map/__tests__/index.tsx
  packages/elements/src/components/Map/index.tsx
  packages/elements/src/components/Map/map.stories.tsx
Labels: elements

#607 fix: #557 fix typo for packages on direct link of api doc
  packages/marketplace/src/components/pages/__tests__/api-docs.tsx
  packages/marketplace/src/components/pages/api-docs.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
Labels: marketplace

#611 fix: #537: Documentation page does not work well on Safari
  packages/elements/src/styles/components/layout.scss
  packages/marketplace/src/components/pages/api-docs.tsx
Labels: elements, marketplace

#591 fixes: #544 Update the URL to reflect the page the 'User' is on and remove spreadsheet for additional pages
  packages/smb/src/components/pages/offices/__tests__/__snapshots__/offices.tsx.snap
  packages/smb/src/components/pages/offices/__tests__/offices.tsx
  packages/smb/src/components/pages/offices/offices.tsx
  packages/smb/src/components/ui/__tests__/__snapshots__/areas-tab.test.tsx.snap
  packages/smb/src/components/ui/__tests__/__snapshots__/global-settings-tab.test.tsx.snap
  packages/smb/src/components/ui/__tests__/__snapshots__/integration-tab.test.tsx.snap
  packages/smb/src/components/ui/areas-tab.tsx
  packages/smb/src/components/ui/global-settings-tab.tsx
  packages/smb/src/components/ui/integration-tab.tsx
  packages/smb/src/tests/badges/badge-branches.svg
  packages/smb/src/tests/badges/badge-functions.svg
  packages/smb/src/tests/badges/badge-lines.svg
  packages/smb/src/tests/badges/badge-statements.svg
Labels: smb

#612 fix: #592 spreadsheet fixes for better usability
  packages/elements/src/components/Spreadsheet/__stubs__/index.tsx
  packages/elements/src/components/Spreadsheet/__tests__/__snapshots__/context-menu.tsx.snap
  packages/elements/src/components/Spreadsheet/__tests__/__snapshots__/handlers.tsx.snap
  packages/elements/src/components/Spreadsheet/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Spreadsheet/__tests__/context-menu.tsx
  packages/elements/src/components/Spreadsheet/__tests__/handlers.tsx
  packages/elements/src/components/Spreadsheet/context-menu.tsx
  packages/elements/src/components/Spreadsheet/handlers.tsx
  packages/elements/src/components/Spreadsheet/index.tsx
  packages/elements/src/components/Spreadsheet/spreadsheet.stories.tsx
  packages/elements/src/components/Spreadsheet/types.tsx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
Labels: elements, smb

#614 fix: #603 update API Explorer to use api 2020-01-31
  packages/marketplace/src/components/pages/__tests__/swagger.tsx
  packages/marketplace/src/components/pages/swagger.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
Labels: marketplace

#623 fix: graphql server not detect process.env in local
  packages/graphql-server/package.json
Labels: graphql-server

#620 fix: #572 Incorrectly sending the DOB when updating the Address History
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/aml-checklist/src/utils/__tests__/datetime.ts
  packages/aml-checklist/src/utils/datetime.ts
  packages/lifetime-legal/src/tests/badges/badge-branches.svg
  packages/lifetime-legal/src/tests/badges/badge-lines.svg
  packages/lifetime-legal/src/tests/badges/badge-statements.svg
  packages/lifetime-legal/src/utils/__tests__/datetime.ts
  packages/lifetime-legal/src/utils/datetime.ts
Labels: aml-checklist, lifetime-legal

#621 fix: #573 - Update the CSS to address header issue in AML
  packages/aml-checklist/src/components/ui/__tests__/__snapshots__/aml-progressbar.tsx.snap
  packages/aml-checklist/src/components/ui/aml-progressbar.tsx
Labels: aml-checklist

#626 chore: bump elements version 0.5.42
  packages/elements/package.json
Labels: elements

#636 fix: #609 unable to select mutiple checkbox
  packages/elements/src/components/Checkbox/checkbox.stories.tsx
Labels: elements

#624 fix: #601 invalidate chunk when deploying to dev/prod
  package.json
  packages/aml-checklist/src/core/index.tsx
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/core/index.tsx
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/lifetime-legal/src/core/index.tsx
  packages/lifetime-legal/src/tests/badges/badge-lines.svg
  packages/lifetime-legal/src/tests/badges/badge-statements.svg
  packages/marketplace/src/core/index.tsx
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/smb/src/core/index.tsx
  scripts/webpack/webpack.base.prod.js
  yarn.lock
Labels: aml-checklist, geo-diary, lifetime-legal, marketplace, smb

#646 fix: #597 updates to desktop interaction for cloud apps
  packages/aml-checklist/src/core/private-route.tsx
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/cognito-auth/src/tests/badges/badge-branches.svg
  packages/cognito-auth/src/tests/badges/badge-lines.svg
  packages/cognito-auth/src/tests/badges/badge-statements.svg
  packages/cognito-auth/src/utils/cognito.test.ts
  packages/cognito-auth/src/utils/cognito.ts
  packages/elements/package.json
  packages/elements/src/components/DynamicLinks/__tests__/utils.ts
  packages/elements/src/components/DynamicLinks/index.tsx
  packages/elements/src/components/DynamicLinks/utils.ts
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/lifetime-legal/src/core/private-route.tsx
  packages/lifetime-legal/src/tests/badges/badge-branches.svg
  packages/smb/src/hooks/use-auth.ts
  packages/smb/src/tests/badges/badge-branches.svg
  packages/smb/src/tests/badges/badge-functions.svg
  packages/smb/src/tests/badges/badge-lines.svg
  packages/smb/src/tests/badges/badge-statements.svg
Labels: aml-checklist, cognito-auth, elements, geo-diary, lifetime-legal, marketplace, smb

#645 fix: #422 - Re-add internal scaffold option on CLI to App Scaffolder
  packages/react-app-scaffolder/app/templates/_package.json
  packages/react-app-scaffolder/app/templates/base-is-foundation/tsconfig.json
  packages/react-app-scaffolder/app/templates/base/src/core/index.tsx
  packages/smb/src/core/index.tsx
  packages/smb/tsconfig.json
Labels: react-app-scaffolder, smb

#657 feat: #643 - add help route to client page
  packages/marketplace/src/components/pages/__tests__/__snapshots__/client-help.tsx.snap
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-help.tsx.snap
  packages/marketplace/src/components/pages/__tests__/__snapshots__/help.tsx.snap
  packages/marketplace/src/components/pages/__tests__/client-help.tsx
  packages/marketplace/src/components/pages/__tests__/developer-help.tsx
  packages/marketplace/src/components/pages/client-help.tsx
  packages/marketplace/src/components/pages/developer-help.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/help-item-list.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/menu.tsx.snap
  packages/marketplace/src/components/ui/__tests__/help-item-list.tsx
  packages/marketplace/src/components/ui/help-item-list.tsx
  packages/marketplace/src/components/ui/menu.tsx
  packages/marketplace/src/constants/developer-help-links.ts
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
Labels: marketplace

#658 chore: #649 export alerttype from elements
  packages/elements/src/components/Alert/index.tsx
Labels: elements

#650 Feat: #72 create insert data react table into users page smb
  packages/elements/src/styles/components/spreadsheet.scss
  packages/elements/src/utils/validators/__tests__/validate-number.ts
  packages/elements/src/utils/validators/index.ts
  packages/elements/src/utils/validators/validate-number.ts
  packages/graphql-server/src/resolvers/negotiators/api.ts
  packages/graphql-server/src/resolvers/negotiators/negotiators.d.ts
  packages/smb/src/components/pages/negotiators/__tests__/__snapshots__/negotiators.test.tsx.snap
  packages/smb/src/components/ui/negotiators-list/__mocks__/negotiators.ts
  packages/smb/src/components/ui/negotiators-list/__tests__/__snapshots__/negotiator-office-selectbox.test.tsx.snap
  packages/smb/src/components/ui/negotiators-list/__tests__/__snapshots__/negotiator-status-checkbox.test.tsx.snap
  packages/smb/src/components/ui/negotiators-list/__tests__/__snapshots__/negotiators-list.test.tsx.snap
  packages/smb/src/components/ui/negotiators-list/__tests__/negotiator-office-selectbox.test.tsx
  packages/smb/src/components/ui/negotiators-list/__tests__/negotiator-status-checkbox.test.tsx
  packages/smb/src/components/ui/negotiators-list/__tests__/negotiators-list.test.tsx
  packages/smb/src/components/ui/negotiators-list/negotiator-office-selectbox.tsx
  packages/smb/src/components/ui/negotiators-list/negotiator-status-checkbox.tsx
  packages/smb/src/components/ui/negotiators-list/negotiators-list.graphql
  packages/smb/src/components/ui/negotiators-list/negotiators-list.tsx
  packages/smb/src/components/ui/negotiators-list/negotiators.graphql
  packages/smb/src/constants/paginators.ts
Labels: elements, graphql-server, smb

#659 feat: #63 Insert, update data into offices table
  packages/smb/src/components/ui/offices-tab/__mocks__/offices.ts
  packages/smb/src/components/ui/offices-tab/__tests__/__snapshots__/offices-tab.tsx.snap
  packages/smb/src/components/ui/offices-tab/__tests__/offices-tab.tsx
  packages/smb/src/components/ui/offices-tab/offices-tab.graphql
  packages/smb/src/components/ui/offices-tab/offices-tab.tsx
  packages/smb/src/core/__tests__/__snapshots__/index.tsx.snap
  packages/smb/src/core/index.tsx
  packages/smb/src/graphql/schema.graphql
  packages/smb/src/utils/__tests__/validators.ts
  packages/smb/src/utils/validators.ts
Labels: smb

#671 chore: #625 fix security vulnerabilities
  package.json
  packages/react-app-scaffolder/yarn.lock
  yarn.lock
Labels: react-app-scaffolder

#673 chore: #629 migrate to config of json
  package.json
  packages/cognito-auth/src/utils/cognito.test.ts
  packages/cognito-custom-mail-lambda/config.example.json
  packages/cognito-custom-mail-lambda/package.json
  packages/cognito-custom-mail-lambda/serverless.yml
  packages/cognito-custom-mail-lambda/yml-helpers.js
  packages/elements/.storybook/webpack.config.js
  packages/elements/config.example.json
  packages/elements/package.json
  packages/elements/src/components/Map/map.stories.tsx
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/graphql-server/config.example.json
  packages/graphql-server/package.json
  packages/graphql-server/serverless.yml
  packages/graphql-server/src/app.ts
  packages/graphql-server/yml-helpers.js
  packages/marketplace/src/tests/cypress/plugins/index.js
  packages/smb/src/tests/badges/badge-lines.svg
  packages/smb/src/tests/badges/badge-statements.svg
  packages/smb/src/tests/cypress/plugins/index.js
  packages/web-components/config.example.json
  packages/web-components/package.json
  packages/web-components/serverless.yml
  packages/web-components/src/common/utils/__tests__/get-server-headers.ts
  packages/web-components/src/common/utils/get-server-headers.ts
  packages/web-components/src/scripts/build-prod.js
  packages/web-components/src/scripts/get-env.js
  packages/web-components/src/scripts/rollup.config.search-widget.js
  packages/web-components/src/scripts/start-dev.js
  packages/web-components/yml-helpers.js
  scripts/webpack/constants.js
  scripts/webpack/webpack.basic.js
Labels: cognito-auth, cognito-custom-mail-lambda, elements, graphql-server, marketplace, smb, web-components

#672 fix: #596 condition to check completed status
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/elements/src/utils/completed-section/__tests__/completed-sections.ts
  packages/elements/src/utils/completed-section/completed-sections.ts
  packages/lifetime-legal/src/tests/badges/badge-branches.svg
Labels: aml-checklist, elements, lifetime-legal

#670 feat: #70 - Clean up forgotten password flow
  packages/marketplace/src/actions/__tests__/forgot-password.ts
  packages/marketplace/src/actions/__tests__/reset-password.ts
  packages/marketplace/src/actions/forgot-password.ts
  packages/marketplace/src/actions/reset-password.ts
  packages/marketplace/src/components/pages/forgot-password/__tests__/__snapshots__/forgot-password-form.tsx.snap
  packages/marketplace/src/components/pages/forgot-password/__tests__/__snapshots__/forgot-password.tsx.snap
  packages/marketplace/src/components/pages/forgot-password/__tests__/forgot-password-form.tsx
  packages/marketplace/src/components/pages/forgot-password/__tests__/forgot-password.tsx
  packages/marketplace/src/components/pages/forgot-password/forgot-password-form.tsx
  packages/marketplace/src/components/pages/forgot-password/forgot-password.tsx
  packages/marketplace/src/components/pages/reset-password/__tests__/__snapshots__/reset-password-form.tsx.snap
  packages/marketplace/src/components/pages/reset-password/__tests__/__snapshots__/reset-password.tsx.snap
  packages/marketplace/src/components/pages/reset-password/__tests__/reset-password-form.tsx
  packages/marketplace/src/components/pages/reset-password/__tests__/reset-password.tsx
  packages/marketplace/src/components/pages/reset-password/index.tsx
  packages/marketplace/src/components/pages/reset-password/reset-password-form.tsx
  packages/marketplace/src/components/pages/reset-password/reset-password.tsx
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/reducers/__tests__/forgot-password.ts
  packages/marketplace/src/reducers/__tests__/reset-password.ts
  packages/marketplace/src/reducers/forgot-password.ts
  packages/marketplace/src/reducers/reset-password.ts
  packages/marketplace/src/sagas/__tests__/forgot-password.ts
  packages/marketplace/src/sagas/__tests__/reset-password.ts
  packages/marketplace/src/sagas/forgot-password.ts
  packages/marketplace/src/sagas/reset-password.ts
  packages/marketplace/src/types/core.ts
  packages/marketplace/src/utils/form/__tests__/reset-password.ts
  packages/marketplace/src/utils/form/reset-password.ts
Labels: marketplace

#695 fix: #568 fix react scaffolder bug
  packages/cognito-auth/package.json
  packages/react-app-scaffolder/app/templates/_package.json
Labels: cognito-auth, react-app-scaffolder

#694 fix: #641 #642
  packages/marketplace/src/actions/__tests__/auth.ts
  packages/marketplace/src/actions/auth.ts
  packages/marketplace/src/components/pages/__tests__/__snapshots__/client-welcome.tsx.snap
  packages/marketplace/src/components/pages/__tests__/__snapshots__/client.tsx.snap
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-welcome.tsx.snap
  packages/marketplace/src/components/pages/__tests__/client-welcome.tsx
  packages/marketplace/src/components/pages/__tests__/client.tsx
  packages/marketplace/src/components/pages/__tests__/developer-welcome.tsx
  packages/marketplace/src/components/pages/client-welcome.tsx
  packages/marketplace/src/components/pages/client.tsx
  packages/marketplace/src/components/pages/developer-welcome.tsx
  packages/marketplace/src/components/pages/login.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/__tests__/private-route-wrapper.tsx
  packages/marketplace/src/core/private-route-wrapper.tsx
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/reducers/__tests__/auth.ts
  packages/marketplace/src/reducers/auth.ts
  packages/marketplace/src/sagas/__tests__/auth.ts
  packages/marketplace/src/sagas/auth.ts
  packages/marketplace/src/utils/__tests__/auth-route.ts
  packages/marketplace/src/utils/__tests__/cookie.ts
  packages/marketplace/src/utils/auth-route.ts
  packages/marketplace/src/utils/cookie.ts
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: marketplace

#696 fix: #681 bug after migrate config marketplace
  .eslintrc.js
  packages/marketplace/src/core/index.tsx
  packages/marketplace/src/scripts/chat-bot.js
  packages/marketplace/src/types/global.d.ts
Labels: cognito-auth, marketplace, react-app-scaffolder

#703 feat: #654 Implement Toast component
  packages/elements/package.json
  packages/elements/src/components/Notification/__tests__/index.tsx
  packages/elements/src/components/Notification/__tests__/useNotification.tsx
  packages/elements/src/components/Notification/index.tsx
  packages/elements/src/components/Notification/notification.stories.tsx
  packages/elements/src/components/Notification/useNotification.tsx
  packages/elements/src/index.tsx
  packages/elements/src/styles/components/notification.scss
  packages/elements/src/styles/index.scss
  yarn.lock
Labels: elements

#704 Feat: #635 developers can review and cancel pending revision
  packages/marketplace/src/actions/__tests__/revisions.ts
  packages/marketplace/src/actions/revisions.ts
  packages/marketplace/src/components/ui/__tests__/__snapshots__/admin-approval-modal.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/developer-app-modal.tsx.snap
  packages/marketplace/src/components/ui/__tests__/admin-approval-modal.tsx
  packages/marketplace/src/components/ui/admin-approval-modal.tsx
  packages/marketplace/src/components/ui/app-revision-comparision/__tests__/__snapshots__/app-revision-comparision.tsx.snap
  packages/marketplace/src/components/ui/app-revision-comparision/__tests__/app-revision-comparision.tsx
  packages/marketplace/src/components/ui/app-revision-comparision/app-revision-comparision.tsx
  packages/marketplace/src/components/ui/app-revision-comparision/index.ts
  packages/marketplace/src/components/ui/developer-app-modal.tsx
  packages/marketplace/src/components/ui/developer-app-revision-modal/__test__/__snapshots__/developer-app-revision-modal.test.tsx.snap
  packages/marketplace/src/components/ui/developer-app-revision-modal/__test__/developer-app-revision-modal.test.tsx
  packages/marketplace/src/components/ui/developer-app-revision-modal/developer-app-revision-modal.tsx
  packages/marketplace/src/components/ui/developer-app-revision-modal/index.ts
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/reducers/__tests__/revision-detail.ts
  packages/marketplace/src/reducers/__tests__/revisions.ts
  packages/marketplace/src/reducers/revision-detail.ts
  packages/marketplace/src/reducers/revisions.ts
  packages/marketplace/src/sagas/__stubs__/revisions.ts
  packages/marketplace/src/sagas/__tests__/revisions.ts
  packages/marketplace/src/sagas/api.ts
  packages/marketplace/src/sagas/revisions.ts
  packages/marketplace/src/types/core.ts
Labels: marketplace

#705 feat: #124 pipeline web components
  packages/web-components/package.json
  packages/web-components/serverless.yml
  packages/web-components/src/scripts/build-prod.js
  packages/web-components/src/scripts/rollup.config.search-widget.js
  packages/web-components/webpack.config.js
Labels: web-components

#715 feat: #678: Update URL for whats new new section in marketplace
  packages/marketplace/src/constants/developer-help-links.ts
Labels: marketplace

#716 feat: #653 Upload Progress
  packages/elements/src/components/UploadProgress/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/UploadProgress/__tests__/index.tsx
  packages/elements/src/components/UploadProgress/index.tsx
  packages/elements/src/components/UploadProgress/upload-progress.stories.tsx
  packages/elements/src/styles/components/upload-progress.scss
  packages/elements/src/styles/index.scss
Labels: elements

#720 fix: #124 script for run web components in local
  packages/web-components/public/index.html
Labels: web-components

#717 feat: #697: Update urls for desktop to use agency
  packages/marketplace/src/utils/launch-app.ts
Labels: marketplace

#724 fix: #698 issue appointment does not have propertyId
  packages/geo-diary/src/sagas/api.ts
Labels: geo-diary

#726 chore: chore office response in graphql server
  packages/graphql-server/src/resolvers/offices/api.ts
  packages/graphql-server/src/resolvers/offices/types.graphql
  packages/graphql-server/src/schema.graphql
Labels: graphql-server

#730 chore: bump elements version 0.5.44
  packages/elements/package.json
Labels: elements

#622 feat: #560 google map web component
  .eslintrc.js
  package.json
  packages/react-app-scaffolder/app/templates/_package.json
  packages/web-components/config.example.json
  packages/web-components/jest.config.js
  packages/web-components/package.json
  packages/web-components/public/index.html
  packages/web-components/src/common/utils/__tests__/loader.ts
  packages/web-components/src/common/utils/constants.ts
  packages/web-components/src/common/utils/loader.ts
  packages/web-components/src/scripts/rollup.config.search-widget.js
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/google-map.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/marker.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/search-form.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/search-result.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/search-widget.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/window-info.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/google-map.ts
  packages/web-components/src/search-widget/client/components/__tests__/marker.ts
  packages/web-components/src/search-widget/client/components/__tests__/search-form.ts
  packages/web-components/src/search-widget/client/components/__tests__/search-result.ts
  packages/web-components/src/search-widget/client/components/__tests__/search-widget.ts
  packages/web-components/src/search-widget/client/components/__tests__/window-info.ts
  packages/web-components/src/search-widget/client/components/google-map.svelte
  packages/web-components/src/search-widget/client/components/marker.svelte
  packages/web-components/src/search-widget/client/components/search-form.svelte
  packages/web-components/src/search-widget/client/components/search-result.svelte
  packages/web-components/src/search-widget/client/components/search-widget.svelte
  packages/web-components/src/search-widget/client/components/window-info.svelte
  packages/web-components/src/search-widget/client/core/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/search-widget/client/core/__tests__/store.ts
  packages/web-components/src/search-widget/client/core/store.ts
  packages/web-components/src/search-widget/client/utils/__mocks__/mock-google-map.ts
  packages/web-components/src/search-widget/client/utils/__mocks__/property.ts
  packages/web-components/src/search-widget/client/utils/__tests__/map-helpers.ts
  packages/web-components/src/search-widget/client/utils/__tests__/results-helpers.ts
  packages/web-components/src/search-widget/client/utils/map-helpers.ts
  packages/web-components/src/search-widget/client/utils/results-helpers.ts
  packages/web-components/svelte.config.js
  packages/web-components/tsconfig.json
  yarn.lock
Labels: aml-checklist, cognito-auth, cognito-custom-mail-lambda, elements, geo-diary, graphql-server, lifetime-legal, marketplace, react-app-scaffolder, smb, web-components

#727 fix: #700 - Update the 'Desktop Search' URL to use the correct App ID
  packages/aml-checklist/src/components/pages/__tests__/__snapshots__/client-search.tsx.snap
  packages/aml-checklist/src/components/pages/client-search.tsx
  packages/aml-checklist/src/core/index.tsx
  packages/aml-checklist/src/types/global.d.ts
Labels: aml-checklist

#744 Feat/729 search widget should fetch property images
  packages/web-components/serverless.yml
  packages/web-components/src/search-widget/client/api/__tests__/property-images.ts
  packages/web-components/src/search-widget/client/api/property-images.ts
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/search-form.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/search-result.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/search-widget.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/search-form.ts
  packages/web-components/src/search-widget/client/components/search-form.svelte
  packages/web-components/src/search-widget/client/components/search-result.svelte
  packages/web-components/src/search-widget/server/api/get-property-images.ts
  packages/web-components/src/search-widget/server/core/__tests__/router.ts
  packages/web-components/src/search-widget/server/core/router.ts
Labels: web-components

#748 feat: #710: Add additional tab option on analytics page
  packages/marketplace/src/components/pages/__tests__/__snapshots__/analytics.tsx.snap
  packages/marketplace/src/components/pages/__tests__/analytics.tsx
  packages/marketplace/src/components/pages/analytics.tsx
  packages/marketplace/src/components/ui/__stubs__/developer-installations-chart-data.ts
  packages/marketplace/src/components/ui/analytics/billing/__test__/__snapshots__/billing-tab.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/__test__/billing-tab.test.tsx
  packages/marketplace/src/components/ui/analytics/billing/billing-tab.tsx
  packages/marketplace/src/components/ui/analytics/billing/index.ts
  packages/marketplace/src/components/ui/analytics/detailed/__test__/__snapshots__/detailed-tab.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/detailed/__test__/detailed-tab.test.tsx
  packages/marketplace/src/components/ui/analytics/detailed/detailed-tab.tsx
  packages/marketplace/src/components/ui/analytics/detailed/index.ts
  packages/marketplace/src/components/ui/developer-installations-chart.tsx
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/utils/__tests__/route-dispatcher.ts
  packages/marketplace/src/utils/developer-analytics.ts
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: marketplace

#756 chore: Bump elements vesion 0.5.45
  packages/elements/package.json
Labels: elements

#758 fix: #701 refresh link incorrect, add param in navigateDynamicApp
  packages/elements/config.example.json
  packages/elements/package.json
  packages/elements/src/components/DynamicLinks/__tests__/index.tsx
  packages/elements/src/components/DynamicLinks/dynamic-link-gen.ts
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/marketplace/config.example.json
  packages/marketplace/src/components/ui/app-detail-modal/app-detail-inner.tsx
  packages/marketplace/src/core/index.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/types/global.d.ts
Labels: elements, marketplace

#762 chore: fix edit release not trigger github action
  .github/workflows/release-production.yml
  package.json
  packages/elements/package.json
  scripts/release/release-npm.js
  scripts/release/utils.js
  yarn.lock
Labels: elements

#763 fix: #701 use window.location.href instead of navigateDynamicApp
  packages/marketplace/src/components/ui/app-detail-modal/app-detail-inner.tsx
  packages/marketplace/src/constants/desktop-urls.ts
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace
