Repository reapit/foundations, pull requests merged in 2020-05, with the labels that each got.

#1132 feat: #1120 elements headings font default fallback to roboto
  packages/elements/src/styles/vendor/bulma.scss
Labels: elements

#1141 Feat: #1104 - Update billing tab UI
  packages/marketplace/src/components/ui/analytics/billing/__test__/__snapshots__/billing-tab.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/billing-tab.tsx
  packages/marketplace/src/components/ui/analytics/billing/cost-calculator/__test__/__snapshots__/cost-calculator.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/cost-calculator/cost-calculator.tsx
  packages/marketplace/src/components/ui/analytics/billing/cost-explorer/__test__/__snapshots__/cost-explorer.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/cost-explorer/cost-explorer.tsx
  packages/marketplace/src/components/ui/analytics/billing/transaction-history/__test__/__snapshots__/transaction-history.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/transaction-history/transaction-history.tsx
  packages/marketplace/src/styles/pages/analytics.scss
Labels: marketplace

#1135 fix: #1121 remove login type tab from marketplace's login page
  packages/marketplace/src/components/pages/__tests__/__snapshots__/login.tsx.snap
  packages/marketplace/src/components/pages/login.tsx
Labels: marketplace

#1137 fix #1052: both select appointment on demo-site opens books a valuation
  packages/demo-site/index.ejs
  packages/demo-site/package.json
  packages/demo-site/scripts/build.js
  packages/web-components/package.json
  packages/web-components/src/scripts/build-prod.js
  packages/web-components/src/search-widget/client/components/property-detail.svelte
  packages/web-components/src/viewing-booking/client/components/__tests__/__snapshots__/viewing-booking.ts.snap
  packages/web-components/src/viewing-booking/client/components/viewing-booking.svelte
  packages/web-components/src/viewing-booking/client/core/__tests__/__snapshots__/index.ts.snap
Labels: demo-site, web-components

#1136 chore: add sentry cli to push source map to sentry.io
  .github/workflows/pull-request-ci.yml
  .github/workflows/release-develop.yml
  .github/workflows/release-production.yml
  packages/aml-checklist/.sentryclirc
  packages/aml-checklist/package.json
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/geo-diary/.sentryclirc
  packages/geo-diary/package.json
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/lifetime-legal/.sentryclirc
  packages/lifetime-legal/package.json
  packages/lifetime-legal/src/tests/badges/badge-branches.svg
  packages/lifetime-legal/src/tests/badges/badge-functions.svg
  packages/lifetime-legal/src/tests/badges/badge-lines.svg
  packages/lifetime-legal/src/tests/badges/badge-statements.svg
  packages/marketplace/.sentryclirc
  packages/marketplace/package.json
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/smb-onboarder/.sentryclirc
  packages/smb-onboarder/package.json
  packages/smb-onboarder/src/tests/badges/badge-branches.svg
  packages/smb-onboarder/src/tests/badges/badge-functions.svg
  packages/smb-onboarder/src/tests/badges/badge-lines.svg
  packages/smb-onboarder/src/tests/badges/badge-statements.svg
  scripts/release/release-dev.js
  scripts/release/release-prod.js
  scripts/webpack/webpack.base.dev.js
  scripts/webpack/webpack.base.prod.js
  tsconfig.json
Labels: aml-checklist, geo-diary, lifetime-legal, marketplace, smb-onboarder

#1147 feat: #1062 Include date Created as a column on the Apps and Devs
  packages/marketplace/src/components/pages/__tests__/__snapshots__/admin-apps.tsx.snap
  packages/marketplace/src/components/pages/__tests__/__snapshots__/admin-dev-management.tsx.snap
  packages/marketplace/src/components/pages/admin-apps.tsx
  packages/marketplace/src/components/pages/admin-dev-management.tsx
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1152 feat: #1123 render html for app detail
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-detail.tsx.snap
  packages/marketplace/src/components/ui/app-detail.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1153 feat: #1123 render renderHTML for diff compare of approval modal
  packages/cognito-auth/src/tests/badges/badge-branches.svg
  packages/cognito-auth/src/tests/badges/badge-functions.svg
  packages/cognito-auth/src/tests/badges/badge-lines.svg
  packages/cognito-auth/src/tests/badges/badge-statements.svg
  packages/elements/src/components/HtmlRender/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/HtmlRender/index.tsx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/marketplace/src/components/ui/__tests__/__snapshots__/diff-render-html.tsx.snap
  packages/marketplace/src/components/ui/__tests__/diff-render-html.tsx
  packages/marketplace/src/components/ui/app-revision-comparision/__tests__/__snapshots__/app-revision-comparision.tsx.snap
  packages/marketplace/src/components/ui/app-revision-comparision/app-revision-comparision.tsx
  packages/marketplace/src/components/ui/diff-render-html.tsx
  packages/marketplace/src/styles/blocks/diff-render-html.scss
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: cognito-auth, elements, marketplace

#1151 feat: #1123 render text editor instead of textarea for submit app
  packages/elements/src/components/Editor/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Editor/index.tsx
  packages/elements/src/components/TextAreaEditor/__tests__/index.tsx
  packages/elements/src/components/TextAreaEditor/index.tsx
  packages/marketplace/src/components/pages/developer-submit-app.tsx
Labels: cognito-auth, elements, marketplace

#1140 feat: #1006 #979 create/edit webhook modal
  packages/elements/src/components/DropdownSelect/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/DropdownSelect/index.tsx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/elements/src/utils/validators/__tests__/validate-require.ts
  packages/elements/src/utils/validators/index.ts
  packages/elements/src/utils/validators/validate-require.ts
  packages/marketplace/src/actions/__tests__/webhook-edit-modal.ts
  packages/marketplace/src/actions/webhook-edit-modal.ts
  packages/marketplace/src/actions/webhook-subscriptions.ts
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-webhooks.tsx.snap
  packages/marketplace/src/components/pages/__tests__/developer-webhooks.tsx
  packages/marketplace/src/components/pages/developer-webhooks.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/webhook-edit-modal.tsx.snap
  packages/marketplace/src/components/ui/__tests__/webhook-edit-modal.tsx
  packages/marketplace/src/components/ui/webhook-edit-modal.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/constants/api.ts
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/reducers/__tests__/webhook-edit-modal.ts
  packages/marketplace/src/reducers/__tests__/webhook-subscriptions.ts
  packages/marketplace/src/reducers/webhook-edit-modal.ts
  packages/marketplace/src/reducers/webhook-subscriptions.ts
  packages/marketplace/src/sagas/__stubs__/webhook-edit.ts
  packages/marketplace/src/sagas/__tests__/webhook-edit-modal.ts
  packages/marketplace/src/sagas/__tests__/webhook-subscriptions.ts
  packages/marketplace/src/sagas/webhook-edit-modal.ts
  packages/marketplace/src/sagas/webhook-subscriptions.ts
  packages/marketplace/src/selector/__tests__/webhook-edit.ts
  packages/marketplace/src/selector/developer.ts
  packages/marketplace/src/selector/webhook-edit.ts
  packages/marketplace/src/selector/wehooks.ts
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/types/core.ts
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: aml-checklist, cognito-auth, elements, geo-diary, lifetime-legal, marketplace

#1155 chore: update search form
  packages/web-components/src/search-widget/client/components/search-form.svelte
  packages/web-components/src/search-widget/client/utils/__tests__/search-helper.ts
  packages/web-components/src/search-widget/client/utils/search-helper.ts
Labels: web-components

#1156 feat: #1122 redirect to the browse apps page if I have no installations
  packages/marketplace/src/components/pages/__tests__/installed-apps.tsx
  packages/marketplace/src/components/pages/installed-apps.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1168 feat: #1145 integrate api for billing bar chart
  packages/marketplace/src/actions/__tests__/developer.ts
  packages/marketplace/src/actions/developer.ts
  packages/marketplace/src/components/pages/__tests__/developer-home.tsx
  packages/marketplace/src/components/ui/developer-analytics/billing/service-chart/__mocks__/billing.ts
  packages/marketplace/src/components/ui/developer-analytics/billing/service-chart/__tests__/__snapshots__/service-chart.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/billing/service-chart/__tests__/service-chart.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/billing/service-chart/service-chart.tsx
  packages/marketplace/src/components/ui/developer-analytics/detailed/detailed-tab.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/reducers/__tests__/developer.ts
  packages/marketplace/src/reducers/developer.ts
  packages/marketplace/src/sagas/__stubs__/billing.ts
  packages/marketplace/src/sagas/__stubs__/developer-identity.ts
  packages/marketplace/src/sagas/__stubs__/developer.ts
  packages/marketplace/src/sagas/__tests__/developer.ts
  packages/marketplace/src/sagas/api.ts
  packages/marketplace/src/sagas/developer.ts
  packages/marketplace/src/selector/__tests__/developer.ts
  packages/marketplace/src/selector/developer.ts
  packages/marketplace/src/selector/index.ts
  packages/marketplace/src/utils/__tests__/route-dispatcher.ts
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: marketplace

#1172 feat: #1164 add SBOX to customer of subscription drop down
  packages/marketplace/src/components/ui/__tests__/__snapshots__/webhook-edit-modal.tsx.snap
  packages/marketplace/src/components/ui/__tests__/webhook-edit-modal.tsx
  packages/marketplace/src/components/ui/webhook-edit-modal.tsx
Labels: marketplace

#1157 feat: #1106 web component config update
  packages/demo-site/config.example.json
  packages/demo-site/index.ejs
  packages/demo-site/scripts/build.js
  packages/web-components/src/appointment-bookings/client/components/appointment-bookings.svelte
  packages/web-components/src/appointment-bookings/client/core/index.ts
  packages/web-components/src/appointment-bookings/client/index.html
  packages/web-components/src/common/utils/__tests__/get-client-headers.ts
  packages/web-components/src/common/utils/fetcher-client.ts
  packages/web-components/src/common/utils/get-client-headers.ts
  packages/web-components/src/scripts/start-dev.js
  packages/web-components/src/search-widget/client/api/__tests__/properties.ts
  packages/web-components/src/search-widget/client/api/__tests__/property-images.ts
  packages/web-components/src/search-widget/client/api/__tests__/property.ts
  packages/web-components/src/search-widget/client/api/properties.ts
  packages/web-components/src/search-widget/client/api/property-images.ts
  packages/web-components/src/search-widget/client/api/property.ts
  packages/web-components/src/search-widget/client/components/__tests__/search-widget.ts
  packages/web-components/src/search-widget/client/components/property-detail.svelte
  packages/web-components/src/search-widget/client/components/search-form.svelte
  packages/web-components/src/search-widget/client/components/search-widget.svelte
  packages/web-components/src/search-widget/client/core/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/search-widget/client/core/__tests__/app.ts
  packages/web-components/src/search-widget/client/core/__tests__/index.ts
  packages/web-components/src/search-widget/client/core/__tests__/store.ts
  packages/web-components/src/search-widget/client/core/app.svelte
  packages/web-components/src/search-widget/client/core/index.ts
  packages/web-components/src/search-widget/client/core/store.ts
  packages/web-components/src/search-widget/client/index.html
  packages/web-components/src/viewing-booking/client/components/viewing-booking.svelte
  packages/web-components/src/viewing-booking/client/core/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/viewing-booking/client/core/__tests__/index.ts
  packages/web-components/src/viewing-booking/client/core/__tests__/store.ts
  packages/web-components/src/viewing-booking/client/core/index.ts
  packages/web-components/src/viewing-booking/client/core/store.ts
  packages/web-components/src/viewing-booking/client/index.html
Labels: demo-site, web-components

#1169 feat: #1159 Updates required to the Webhooks page in the Developers Portal
  packages/marketplace/src/actions/__tests__/webhook-edit-modal.ts
  packages/marketplace/src/actions/webhook-edit-modal.ts
  packages/marketplace/src/actions/webhook-subscriptions.ts
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-webhooks.tsx.snap
  packages/marketplace/src/components/pages/__tests__/developer-webhooks.tsx
  packages/marketplace/src/components/pages/developer-webhooks.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/webhook-edit-modal.tsx.snap
  packages/marketplace/src/components/ui/__tests__/webhook-edit-modal.tsx
  packages/marketplace/src/components/ui/webhook-edit-modal.tsx
  packages/marketplace/src/reducers/__tests__/webhook-edit-modal.ts
  packages/marketplace/src/reducers/webhook-edit-modal.ts
  packages/marketplace/src/sagas/__tests__/webhook-edit-modal.ts
  packages/marketplace/src/sagas/__tests__/webhook-subscriptions.ts
  packages/marketplace/src/sagas/webhook-edit-modal.ts
  packages/marketplace/src/sagas/webhook-subscriptions.ts
  packages/marketplace/src/services/__tests__/topics.ts
  packages/marketplace/src/services/topics.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: marketplace

#1158 feat: #1150 Served web component themes over CDN
  packages/demo-site/index.ejs
  packages/web-components/src/appointment-bookings/client/index.html
  packages/web-components/src/common/styles/__themes__/appointment-bookings.js
  packages/web-components/src/common/styles/__themes__/themes.js
  packages/web-components/src/common/styles/__themes__/viewing-booking.js
  packages/web-components/src/scripts/build-prod.js
  packages/web-components/src/scripts/rollup.config.themes.js
  packages/web-components/src/scripts/start-dev.js
  packages/web-components/src/search-widget/client/index.html
  packages/web-components/src/viewing-booking/client/index.html
Labels: demo-site, web-components

#1184 fix: #1138 Search widget is not returning results on Demo Site
  packages/web-components/src/search-widget/client/components/search-widget.svelte
  packages/web-components/src/search-widget/client/utils/__tests__/search-helper.ts
  packages/web-components/src/search-widget/client/utils/search-helper.ts
Labels: web-components

#1187 fix: #1171 pagination rps issue
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-list.tsx.snap
  packages/marketplace/src/components/ui/app-list.tsx
  packages/marketplace/src/styles/blocks/app-list.scss
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1180 feat: #1166 Cost Explorer (Usage and Cost) update
  packages/marketplace/src/actions/__tests__/developer.ts
  packages/marketplace/src/actions/developer.ts
  packages/marketplace/src/components/pages/__tests__/developer-home.tsx
  packages/marketplace/src/components/ui/developer-analytics/billing/cost-explorer/__test__/__snapshots__/cost-explorer-table.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/billing/cost-explorer/__test__/__snapshots__/cost-explorer.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/billing/cost-explorer/__test__/__snapshots__/cost-filter-form.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/billing/cost-explorer/__test__/cost-explorer-table.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/billing/cost-explorer/__test__/cost-explorer.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/billing/cost-explorer/__test__/cost-filter-form.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/billing/cost-explorer/cost-explorer-table.tsx
  packages/marketplace/src/components/ui/developer-analytics/billing/cost-explorer/cost-explorer.tsx
  packages/marketplace/src/components/ui/developer-analytics/billing/cost-explorer/cost-filter-form.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/reducers/__tests__/developer.ts
  packages/marketplace/src/reducers/developer.ts
  packages/marketplace/src/sagas/__stubs__/developer.ts
  packages/marketplace/src/sagas/__stubs__/monthly-billing.ts
  packages/marketplace/src/sagas/__tests__/developer.ts
  packages/marketplace/src/sagas/developer.ts
  packages/marketplace/src/selector/__tests__/developer.ts
  packages/marketplace/src/selector/developer.ts
  packages/marketplace/src/services/__tests__/billings.ts
  packages/marketplace/src/services/billings.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1190 fix: #1189 fix desktop integration type dropdown spacing
  packages/elements/src/styles/components/dropdown-select.scss
Labels: elements

#1191 chore: #1159 update webhook page
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-webhooks.tsx.snap
  packages/marketplace/src/components/pages/__tests__/developer-webhooks.tsx
  packages/marketplace/src/components/pages/developer-webhooks.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/webhook-edit-modal.tsx.snap
  packages/marketplace/src/components/ui/webhook-edit-modal.tsx
  packages/marketplace/src/tests/badges/badge-functions.svg
Labels: marketplace

#1213 chore: bump elements version 0.5.56
  packages/elements/package.json
Labels: elements

#1194 fix: #1160 fix placeholder color, change H6 to H5
  packages/elements/src/components/HtmlRender/utils.tsx
  packages/elements/src/styles/vendor/pell.scss
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/marketplace/src/components/pages/developer-submit-app.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: elements, marketplace

#1211 fix: #1036 template serverless
  package.json
  packages/cognito-custom-mail-lambda/package.json
  packages/cognito-custom-mail-lambda/src/tests/badges/badge-branches.svg
  packages/cognito-custom-mail-lambda/src/tests/badges/badge-functions.svg
  packages/cognito-custom-mail-lambda/src/tests/badges/badge-lines.svg
  packages/cognito-custom-mail-lambda/src/tests/badges/badge-statements.svg
  packages/geo-diary-v2/serverless.yml
  packages/graphql-server/package.json
  packages/web-components-config-server/package.json
  scripts/serverless-template-generator/webapp.ejs
  yarn.lock
Labels: cognito-custom-mail-lambda, graphql-server

#1167 feat: #143 - Transaction History Update (Billing/Analytics)
  packages/elements/src/components/Table/__tests__/index.tsx
  packages/elements/src/components/Table/index.tsx
  packages/elements/src/utils/fetcher/__tests__/fetcher.ts
  packages/elements/src/utils/fetcher/fetcher.ts
  packages/marketplace/src/components/ui/developer-analytics/billing/transaction-history/__test__/__snapshots__/transaction-history.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/billing/transaction-history/__test__/transaction-history.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/billing/transaction-history/__test__/utils.test.ts
  packages/marketplace/src/components/ui/developer-analytics/billing/transaction-history/transaction-history.tsx
  packages/marketplace/src/components/ui/developer-analytics/billing/transaction-history/utils.ts
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/constants/api.ts
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/constants/time.ts
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/selector/developer-detail.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/smb-onboarder/src/components/ui/negotiators-list/__mocks__/negotiators.ts
Labels: elements, marketplace, smb-onboarder

#1216 fix: #1145 minor fix for Y axis's legend of bar chart and change to netAmount instead of grossAmount
  packages/marketplace/src/components/ui/developer-analytics/billing/service-chart/__tests__/__snapshots__/service-chart.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/billing/service-chart/__tests__/service-chart.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/billing/service-chart/service-chart.tsx
  packages/web-components/src/scripts/start-search-widget.js
Labels: marketplace, web-components

#1233 fix: Error when loading the billings page in the Developers Portal
  packages/marketplace/src/actions/__tests__/developer.ts
  packages/marketplace/src/components/ui/developer-analytics/billing/cost-explorer/__test__/cost-explorer.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/billing/cost-explorer/cost-explorer.tsx
  packages/marketplace/src/components/ui/developer-analytics/detailed/filter-bar/__test__/__snapshots__/default-filter-group.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/detailed/filter-bar/default-filter-group.tsx
  packages/marketplace/src/sagas/__tests__/developer.ts
  packages/marketplace/src/services/__tests__/billings.ts
  packages/marketplace/src/services/billings.ts
Labels: marketplace

#1236 chore: #1159 add URL validate before submit webhook edit form
  packages/elements/src/components/Input/index.tsx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/marketplace/src/components/ui/__tests__/webhook-edit-modal.tsx
  packages/marketplace/src/components/ui/webhook-edit-modal.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: elements, marketplace

#1235 feat: #1185 Add a 'Ping' feature to the Webhook Subscriptions
  packages/marketplace/src/actions/__tests__/developer.ts
  packages/marketplace/src/actions/developer.ts
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-webhooks.tsx.snap
  packages/marketplace/src/components/pages/__tests__/developer-home.tsx
  packages/marketplace/src/components/pages/__tests__/developer-webhooks.tsx
  packages/marketplace/src/components/pages/developer-webhooks.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/webhook-test-modal.tsx.snap
  packages/marketplace/src/components/ui/__tests__/webhook-test-modal.tsx
  packages/marketplace/src/components/ui/webhook-test-modal.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/reducers/__tests__/developer.ts
  packages/marketplace/src/reducers/__tests__/webhook-edit-modal.ts
  packages/marketplace/src/reducers/developer.ts
  packages/marketplace/src/sagas/__stubs__/developer.ts
  packages/marketplace/src/sagas/__tests__/developer.ts
  packages/marketplace/src/sagas/__tests__/webhook-edit-modal.ts
  packages/marketplace/src/sagas/developer.ts
  packages/marketplace/src/selector/__tests__/developer.ts
  packages/marketplace/src/selector/__tests__/webhook-edit.ts
  packages/marketplace/src/selector/developer.ts
  packages/marketplace/src/selector/webhook-edit.ts
  packages/marketplace/src/services/__tests__/billings.ts
  packages/marketplace/src/services/__tests__/subcriptions.ts
  packages/marketplace/src/services/__tests__/topics.ts
  packages/marketplace/src/services/subscriptions.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1237 chore: #1232 add line text to cost explorer
  packages/marketplace/src/components/ui/developer-analytics/billing/cost-explorer/cost-explorer-table.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
Labels: marketplace

#1241 fix: css issue in client manage app
  packages/marketplace/src/styles/blocks/app-list.scss
Labels: marketplace

#1247 fix: #1160 strip out HTML when pasting
  packages/elements/src/components/Editor/index.tsx
  packages/elements/src/components/TextAreaEditor/__tests__/index.tsx
  packages/elements/src/components/TextAreaEditor/index.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  scripts/jest/jest-setup.js
Labels: elements, marketplace

#1244 fix: #1143 transaction history billing csv download link format is incorrect
  packages/marketplace/src/components/ui/developer-analytics/billing/transaction-history/__test__/__snapshots__/transaction-history.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/billing/transaction-history/__test__/transaction-history.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/billing/transaction-history/transaction-history.tsx
Labels: marketplace

#1250 chore: #1185 update "Ping" style to hyperlinked in Webhook list
  packages/marketplace/src/components/pages/developer-webhooks.tsx
  packages/marketplace/src/styles/elements/link.scss
Labels: marketplace

#1251 fix: fix web component cors headers
  packages/web-components/serverless.yml
Labels: web-components

#1254 fix: update placeholder html description
  packages/marketplace/src/components/pages/developer-submit-app.tsx
Labels: marketplace

#1252 feat: #1231 Add pagination for transaction history
  packages/marketplace/src/components/ui/developer-analytics/billing/transaction-history/__test__/__snapshots__/transaction-history.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/billing/transaction-history/__test__/transaction-history.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/billing/transaction-history/transaction-history.tsx
  packages/marketplace/src/components/ui/developer-analytics/billing/transaction-history/utils.ts
  packages/marketplace/src/styles/pages/developer-analytics.scss
Labels: marketplace

#1253 feat: #1248 Remove submit app menu item. Create new app button in my …
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-home.tsx.snap
  packages/marketplace/src/components/pages/developer-home.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-list.tsx.snap
  packages/marketplace/src/components/ui/__tests__/app-list.tsx
  packages/marketplace/src/components/ui/app-list.tsx
  packages/marketplace/src/components/ui/menu.tsx
  packages/marketplace/src/styles/blocks/app-list.scss
Labels: marketplace

#1259 fix: #1258 - react scaffolder fail to compile
  packages/react-app-scaffolder/app/templates/_package.json
  packages/react-app-scaffolder/package.json
Labels: react-app-scaffolder

#1255 chore: #1223 Update T&C developer register
  packages/marketplace/src/components/pages/developer-analytics/__tests__/__snapshots__/developer-analytics.tsx.snap
  packages/marketplace/src/components/pages/developer-analytics/__tests__/developer-analytics.tsx
  packages/marketplace/src/components/pages/developer-analytics/developer-analytics.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/index.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/terms-and-conditions-modal.tsx.snap
  packages/marketplace/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/consumption-cost-methodology-table.tsx.snap
  packages/marketplace/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/schedule2.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/billing/__test__/__snapshots__/billing-tab.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/billing/__test__/billing-tab.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/billing/index.ts
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/__test__/cost-explore.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-calculator/__test__/__snapshots__/cost-calculator-form.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-calculator/__test__/__snapshots__/cost-calculator.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-calculator/__test__/__snapshots__/total-cost-table.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-calculator/__test__/cost-calculator-form.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-calculator/__test__/cost-calculator.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-calculator/__test__/total-cost-table.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-calculator/cost-calculator-form.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-calculator/cost-calculator.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-calculator/index.ts
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-calculator/total-cost-table.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/__test__/__snapshots__/cost-explorer-table.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/__test__/__snapshots__/cost-explorer.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/__test__/__snapshots__/cost-filter-form.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/__test__/cost-explorer-table.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/__test__/cost-explorer.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/__test__/cost-filter-form.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/cost-explorer-table.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/cost-explorer.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/cost-filter-form.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/index.ts
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/index.ts
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/service-chart/__mocks__/billing.ts
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/service-chart/__tests__/__snapshots__/service-chart.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/service-chart/__tests__/service-chart.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/service-chart/index.ts
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/service-chart/service-chart.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/transaction-history/__test__/__snapshots__/transaction-history.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/transaction-history/__test__/transaction-history.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/transaction-history/__test__/utils.test.ts
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/transaction-history/index.ts
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/transaction-history/transaction-history.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/transaction-history/utils.ts
  packages/marketplace/src/components/ui/terms-and-conditions-modal/consumption-cost-methodology-table.tsx
  packages/marketplace/src/components/ui/terms-and-conditions-modal/index.tsx
  packages/marketplace/src/components/ui/terms-and-conditions-modal/term-and-conditions.tsx
  packages/marketplace/src/styles/blocks/consumption-cost-methodology-table.scss
Labels: marketplace

#1261 feat: #1011 As a client who is not an admin, I should not see certain tabs in the marketplace
  packages/cognito-auth/src/__mocks__/cognito-session.ts
  packages/cognito-auth/src/core/types.ts
  packages/cognito-auth/src/tests/badges/badge-branches.svg
  packages/cognito-auth/src/utils/cognito.test.ts
  packages/cognito-auth/src/utils/cognito.ts
  packages/elements/src/components/Menu/Menu.tsx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/marketplace/src/components/pages/__tests__/__snapshots__/my-apps.tsx.snap
  packages/marketplace/src/components/pages/__tests__/my-apps.tsx
  packages/marketplace/src/components/pages/my-apps.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/menu.tsx.snap
  packages/marketplace/src/components/ui/__tests__/menu.tsx
  packages/marketplace/src/components/ui/developer-app-revision-modal/__test__/developer-app-revision-modal.test.tsx
  packages/marketplace/src/components/ui/menu.tsx
  packages/marketplace/src/core/__mocks__/store.ts
  packages/marketplace/src/reducers/__stubs__/app-state.ts
  packages/marketplace/src/selector/auth.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/smb-onboarder/src/context/__mocks__/mock-context.ts
Labels: cognito-auth, elements, marketplace, smb-onboarder

#1257 fix: #768 - fix smb app - page: office, negotiator
  packages/elements/src/components/Spreadsheet/__tests__/generate-data-with-read-only-and-is-validated.ts
  packages/elements/src/components/Spreadsheet/__tests__/handlers.tsx
  packages/elements/src/components/Spreadsheet/__tests__/utils.ts
  packages/elements/src/components/Spreadsheet/handlers.tsx
  packages/elements/src/components/Spreadsheet/index.tsx
  packages/elements/src/components/Spreadsheet/types.tsx
  packages/elements/src/components/Spreadsheet/utils.tsx
  packages/elements/src/styles/components/spreadsheet.scss
  packages/smb-onboarder/src/components/pages/negotiators/__tests__/__snapshots__/negotiators.test.tsx.snap
  packages/smb-onboarder/src/components/ui/negotiators-list/__mocks__/negotiators.ts
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/__snapshots__/negotiators-list.test.tsx.snap
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/negotiators-list.test.tsx
  packages/smb-onboarder/src/components/ui/negotiators-list/negotiators-list.tsx
  packages/smb-onboarder/src/components/ui/offices-tab/__tests__/__snapshots__/offices-tab.tsx.snap
  packages/smb-onboarder/src/components/ui/offices-tab/__tests__/offices-tab.tsx
  packages/smb-onboarder/src/components/ui/offices-tab/offices-tab.tsx
  packages/smb-onboarder/src/constants/paginators.ts
Labels: elements, smb-onboarder

#1268 feat: #1012 Client without admin permissions should not install app
  packages/marketplace/src/components/ui/app-detail-modal/__tests__/__snapshots__/app-detail-inner.tsx.snap
  packages/marketplace/src/components/ui/app-detail-modal/__tests__/app-detail-inner.tsx
  packages/marketplace/src/components/ui/app-detail-modal/app-detail-inner.tsx
  packages/marketplace/src/services/__tests__/apps.test.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
Labels: marketplace

#1269 feat: #1118 As a client I should see a permission appropriate welcome wizard on first login
  packages/marketplace/src/components/pages/__tests__/__snapshots__/client-welcome.tsx.snap
  packages/marketplace/src/components/pages/__tests__/client-welcome.tsx
  packages/marketplace/src/components/pages/client-welcome.tsx
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/selector/__tests__/auth.ts
  packages/marketplace/src/selector/auth.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/__tests__/auth-route.ts
  packages/marketplace/src/utils/auth-route.ts
Labels: marketplace

#1179 feat: #1107 web components should be deployed to NPM
  packages/demo-site/detail.ejs
  packages/demo-site/package.json
  packages/demo-site/scripts/README.md
  packages/demo-site/scripts/build.js
  packages/demo-site/scripts/start-dev.js
  packages/demo-site/tpls/detail.ejs
  packages/demo-site/tpls/index.ejs
  packages/foundations-ts-definitions/package.json
  packages/foundations-ts-definitions/scripts/format-code.js
  packages/web-components/package.json
  packages/web-components/src/appointment-bookings/client/index.html
  packages/web-components/src/property-detail/client/components/__tests__/__snapshots__/property-detail.ts.snap
  packages/web-components/src/property-detail/client/components/property-detail.svelte
  packages/web-components/src/property-detail/client/core/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/property-detail/client/detail.html
  packages/web-components/src/scripts/README.md
  packages/web-components/src/scripts/build-prod.js
  packages/web-components/src/scripts/format-code.js
  packages/web-components/src/scripts/generate-css-output.js
  packages/web-components/src/scripts/generate-rollup-output.js
  packages/web-components/src/scripts/minify-code.js
  packages/web-components/src/scripts/rollup.config.appointment-bookings.js
  packages/web-components/src/scripts/rollup.config.demo-site.js
  packages/web-components/src/scripts/rollup.config.property-detail.js
  packages/web-components/src/scripts/rollup.config.search-widget-extended.js
  packages/web-components/src/scripts/rollup.config.search-widget.js
  packages/web-components/src/scripts/rollup.config.themes.js
  packages/web-components/src/scripts/rollup.config.viewing-booking.js
  packages/web-components/src/scripts/start-dev.js
  packages/web-components/src/scripts/start-search-widget.js
  packages/web-components/src/scripts/tpls/index.cjs.ejs
  packages/web-components/src/scripts/tpls/index.d.ts.ejs
  packages/web-components/src/scripts/tpls/index.esm.ejs
  packages/web-components/src/search-widget/client/index.html
  packages/web-components/src/viewing-booking/client/core/index.ts
  packages/web-components/src/viewing-booking/client/index.html
  packages/web-components/tsconfig.json
  scripts/release/release-serverless.js
  yarn.lock
Labels: demo-site, web-components

#1273 feat: #1221 add cloud alert for production env web apps
  .github/workflows/check-production-alive-cronjob.yml
  .github/workflows/pull-request-ci.yml
  package.json
  packages/aml-checklist/package.json
  packages/cloud-alert/cypress.json
  packages/cloud-alert/cypress/fixtures/data.json
  packages/cloud-alert/cypress/integration/__snapshots__/marketplace.test.ts.snap
  packages/cloud-alert/cypress/integration/aml-checklist.test.ts
  packages/cloud-alert/cypress/integration/geo-diary.test.ts
  packages/cloud-alert/cypress/integration/life-time-legal.test.ts
  packages/cloud-alert/cypress/integration/marketplace.test.ts
  packages/cloud-alert/cypress/plugins/cy-ts-preprocessor.js
  packages/cloud-alert/cypress/plugins/index.js
  packages/cloud-alert/cypress/support/commands.ts
  packages/cloud-alert/cypress/support/constants.ts
  packages/cloud-alert/cypress/support/index.d.ts
  packages/cloud-alert/cypress/support/index.ts
  packages/cloud-alert/cypress/tsconfig.json
  packages/cloud-alert/package.json
  packages/cloud-alert/tsconfig.json
  packages/geo-diary/package.json
  packages/lifetime-legal/package.json
  packages/marketplace/package.json
  packages/smb-onboarder/package.json
  yarn.lock
Labels: aml-checklist, geo-diary, lifetime-legal, marketplace, smb-onboarder

#1281 chore: #1011 bump cognito-auth 2.1.5
  packages/cognito-auth/package.json
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/smb-onboarder/src/tests/badges/badge-branches.svg
  packages/smb-onboarder/src/tests/badges/badge-functions.svg
  packages/smb-onboarder/src/tests/badges/badge-lines.svg
  packages/smb-onboarder/src/tests/badges/badge-statements.svg
Labels: cognito-auth, marketplace, smb-onboarder

#1279 chore: #1277 Update wording on the Webhooks page in the Developers Portal
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-webhooks.tsx.snap
  packages/marketplace/src/components/pages/developer-webhooks.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/webhook-test-modal.tsx.snap
  packages/marketplace/src/components/ui/webhook-edit-modal.tsx
  packages/marketplace/src/components/ui/webhook-test-modal.tsx
Labels: marketplace

#1280 chore: #1012 hide install app button in app detail standalone page
  packages/marketplace/src/components/pages/client-app-detail/__test__/client-app-detail.test.tsx
  packages/marketplace/src/components/pages/client-app-detail/client-app-detail.tsx
  packages/marketplace/src/components/ui/app-detail-modal/__tests__/__snapshots__/app-detail-inner.tsx.snap
  packages/marketplace/src/components/ui/app-detail-modal/__tests__/app-detail-inner.tsx
  packages/marketplace/src/components/ui/app-detail-modal/app-detail-inner.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1270 feat: #101 Developers should be directed to information if trying to access the marketplace without a client Id
  packages/elements/src/components/Button/index.tsx
  packages/marketplace/src/components/pages/authentication/__test__/__snapshots__/authentication.test.tsx.snap
  packages/marketplace/src/components/pages/authentication/__test__/authentication.test.tsx
  packages/marketplace/src/components/pages/authentication/authentication.tsx
  packages/marketplace/src/components/pages/authentication/index.ts
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/__tests__/__snapshots__/private-route.tsx.snap
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/__tests__/private-route.tsx
  packages/marketplace/src/core/private-route.tsx
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/sagas/client.ts
  packages/marketplace/src/sagas/developer.ts
  packages/marketplace/src/sagas/installed-apps.ts
  packages/marketplace/src/sagas/my-apps.ts
  packages/marketplace/src/selector/auth.ts
Labels: elements, marketplace

#1283 chore: #964 Update file input component to make filename clickable
  packages/elements/src/components/CameraImageInput/index.tsx
  packages/elements/src/components/FileInput/file-input.stories.tsx
  packages/elements/src/components/FileInput/index.tsx
Labels: elements

#1288 fix: #768 - add spreadsheet classes to purify-css whitelist
  packages/elements/purify-options.js
Labels: elements

#1271 fix: #1225 ui for mobile client side app
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/app-content.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/client-app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/__test__/app-content.test.tsx
  packages/marketplace/src/components/pages/client-app-detail/__test__/app-header.text.tsx
  packages/marketplace/src/components/pages/client-app-detail/__test__/client-app-detail.test.tsx
  packages/marketplace/src/components/pages/client-app-detail/app-content.tsx
  packages/marketplace/src/components/pages/client-app-detail/app-header.tsx
  packages/marketplace/src/components/pages/client-app-detail/client-app-detail.tsx
  packages/marketplace/src/components/ui/client-app-detail/__test__/__snapshots__/client-app-uninstall-confirmation.test.tsx.snap
  packages/marketplace/src/components/ui/client-app-detail/client-app-uninstall-confirmation.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/cost-explorer.tsx
  packages/marketplace/src/reducers/client/app-detail.ts
  packages/marketplace/src/sagas/apps/__test__/apps.test.ts
  packages/marketplace/src/sagas/apps/apps.ts
  packages/marketplace/src/services/__tests__/apps.test.ts
  packages/marketplace/src/services/apps.ts
  packages/marketplace/src/styles/pages/client-app-detail.scss
Labels: marketplace

#1293 feat: #1174 Refactor login page to use useSelector instead of mapStateToProps
  packages/marketplace/src/components/pages/__tests__/__snapshots__/login.test.tsx.snap
  packages/marketplace/src/components/pages/__tests__/__snapshots__/login.tsx.snap
  packages/marketplace/src/components/pages/__tests__/login.test.tsx
  packages/marketplace/src/components/pages/__tests__/login.tsx
  packages/marketplace/src/components/pages/login.tsx
  packages/marketplace/src/selector/__tests__/auth.ts
  packages/marketplace/src/selector/auth.ts
Labels: marketplace

#1297 chore: bump elements version 0.5.57
  packages/elements/package.json
Labels: elements

#1302 fix: #1300 Update text and links on developer webhooks page
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-webhooks.tsx.snap
  packages/marketplace/src/components/pages/developer-webhooks.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/webhook-test-modal.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/cost-explorer-table.tsx
  packages/marketplace/src/components/ui/webhook-edit-modal.tsx
  packages/marketplace/src/components/ui/webhook-test-modal.tsx
Labels: marketplace

#1286 fix: #964 fix unable to view an uploaded file in AML
  packages/aml-checklist/src/components/pages/__tests__/__snapshots__/checklist-detail.tsx.snap
  packages/aml-checklist/src/components/ui/forms/__tests__/__snapshots__/identification.tsx.snap
  packages/aml-checklist/src/components/ui/forms/identification.tsx
  packages/aml-checklist/src/components/ui/modal/index.tsx
  packages/aml-checklist/src/constants/api.ts
  packages/aml-checklist/src/reducers/checklist-detail.ts
  packages/aml-checklist/src/services/__tests__/documents.ts
  packages/aml-checklist/src/services/documents.ts
Labels: aml-checklist

#1301 fix: #1290 Fix issues with logging into dev and client portal
  packages/elements/src/styles/vendor/bulma-overrides.scss
  packages/marketplace/src/components/pages/authentication/__test__/__snapshots__/authentication.test.tsx.snap
  packages/marketplace/src/components/pages/authentication/authentication.tsx
  packages/marketplace/src/components/pages/login.tsx
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/__tests__/private-route.tsx
  packages/marketplace/src/core/private-route.tsx
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/sagas/developer.ts
  packages/marketplace/src/utils/__tests__/auth-route.ts
  packages/marketplace/src/utils/__tests__/route-dispatcher.ts
  packages/marketplace/src/utils/auth-route.ts
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: elements, marketplace

#1305 feat: #1218 address confusing structure in web components
  packages/web-components/jest.config.js
  packages/web-components/package.json
  packages/web-components/scripts/README.md
  packages/web-components/scripts/build-prod.js
  packages/web-components/scripts/build-serverless.js
  packages/web-components/scripts/format-code.js
  packages/web-components/scripts/generate-css-output.js
  packages/web-components/scripts/generate-rollup-output.js
  packages/web-components/scripts/get-env.js
  packages/web-components/scripts/jest-setup.js
  packages/web-components/scripts/minify-code.js
  packages/web-components/scripts/release-serverless.js
  packages/web-components/scripts/rollup.config.appointment-bookings.js
  packages/web-components/scripts/rollup.config.base.js
  packages/web-components/scripts/rollup.config.demo-site.js
  packages/web-components/scripts/rollup.config.property-detail.js
  packages/web-components/scripts/rollup.config.search-widget.js
  packages/web-components/scripts/rollup.config.themes.js
  packages/web-components/scripts/rollup.config.viewing-booking.js
  packages/web-components/scripts/start-dev.js
  packages/web-components/scripts/tpls/index.cjs.ejs
  packages/web-components/scripts/tpls/index.d.ts.ejs
  packages/web-components/scripts/tpls/index.esm.ejs
  packages/web-components/serverless.example.yml
  packages/web-components/src/appointment-bookings/client/components/appointment-bookings.svelte
  packages/web-components/src/appointment-bookings/client/components/time-cell.svelte
  packages/web-components/src/appointment-bookings/client/core/__tests__/__snapshots__/index.test.ts.snap
  packages/web-components/src/appointment-bookings/client/core/index.ts
  packages/web-components/src/appointment-bookings/client/handlers/__tests__/submit-form-step2.test.ts
  packages/web-components/src/appointment-bookings/client/handlers/submit-form-step2.ts
  packages/web-components/src/appointment-bookings/server/index.ts
  packages/web-components/src/appointment-planner/client/components/__tests__/__snapshots__/appointment-planner.test.ts.snap
  packages/web-components/src/appointment-planner/client/components/__tests__/__snapshots__/date-cell.test.ts.snap
  packages/web-components/src/appointment-planner/client/components/__tests__/__snapshots__/date-time-picker.test.ts.snap
  packages/web-components/src/appointment-planner/client/components/__tests__/__snapshots__/time-cell.test.ts.snap
  packages/web-components/src/appointment-planner/client/components/__tests__/appointment-planner.test.ts
  packages/web-components/src/appointment-planner/client/components/__tests__/date-cell.test.ts
  packages/web-components/src/appointment-planner/client/components/__tests__/date-time-picker.test.ts
  packages/web-components/src/appointment-planner/client/components/__tests__/time-cell.test.ts
  packages/web-components/src/appointment-planner/client/components/appointment-planner.svelte
  packages/web-components/src/appointment-planner/client/components/date-cell.svelte
  packages/web-components/src/appointment-planner/client/components/date-time-picker.svelte
  packages/web-components/src/appointment-planner/client/components/time-cell.svelte
  packages/web-components/src/appointment-planner/client/core/store/week-store/__tests__/derrived.test.ts
  packages/web-components/src/appointment-planner/client/core/store/week-store/__tests__/store.test.ts
  packages/web-components/src/appointment-planner/client/core/store/week-store/derrived.ts
  packages/web-components/src/appointment-planner/client/core/store/week-store/index.ts
  packages/web-components/src/appointment-planner/client/core/store/week-store/store.ts
  packages/web-components/src/appointment-planner/server/index.ts
  packages/web-components/src/property-detail/server/index.ts
  packages/web-components/src/search-widget/server/serverless.yml
  packages/web-components/src/viewing-booking/server/index.ts
Labels: web-components

#1295 feat: #1256 Implement LoginWithReapit widget
  packages/web-components/scripts/build-prod.js
  packages/web-components/scripts/start-dev.js
  packages/web-components/src/login/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/login/__tests__/__snapshots__/login-with-reapit.ts.snap
  packages/web-components/src/login/__tests__/index.ts
  packages/web-components/src/login/__tests__/login-with-reapit.ts
  packages/web-components/src/login/index.html
  packages/web-components/src/login/index.ts
  packages/web-components/src/login/login-with-reapit.svelte
  packages/web-components/src/scripts/rollup.config.login.js
Labels: web-components

#1311 fix: #1300 Update text and links on developer webhooks page
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-webhooks.tsx.snap
  packages/marketplace/src/components/pages/developer-webhooks.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/webhook-test-modal.tsx.snap
  packages/marketplace/src/components/ui/webhook-test-modal.tsx
Labels: marketplace

#1312 fix: #1290 Update login link in case clientId is existed
  packages/marketplace/src/components/pages/__tests__/register.tsx
  packages/marketplace/src/components/pages/register.tsx
Labels: marketplace

#1306 fix: #1292 fix Toast should be full width in desktop mode
  packages/marketplace/src/components/ui/__tests__/__snapshots__/sandbox-pop-up.tsx.snap
  packages/marketplace/src/components/ui/__tests__/sandbox-pop-up.tsx
  packages/marketplace/src/components/ui/sandbox-pop-up.tsx
  packages/marketplace/src/styles/blocks/sandbox-pop-up.scss
Labels: marketplace

#1304 feat: #1210 #1026 ui for developer/client side standalone
  packages/marketplace/src/components/pages/client-app-detail-manage/client-app-detail-manage.tsx
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/app-content.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/aside.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/client-app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/__test__/app-content.test.tsx
  packages/marketplace/src/components/pages/client-app-detail/__test__/app-header.text.tsx
  packages/marketplace/src/components/pages/client-app-detail/__test__/aside.test.tsx
  packages/marketplace/src/components/pages/client-app-detail/app-content.tsx
  packages/marketplace/src/components/pages/client-app-detail/app-header.tsx
  packages/marketplace/src/components/pages/client-app-detail/aside.tsx
  packages/marketplace/src/components/pages/client-app-detail/client-app-detail.tsx
  packages/marketplace/src/components/pages/client-app-detail/reuse.tsx
  packages/marketplace/src/components/pages/developer-app-detail/__test__/__snapshots__/aside.test.tsx.snap
  packages/marketplace/src/components/pages/developer-app-detail/__test__/__snapshots__/developer-app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/developer-app-detail/__test__/aside.test.tsx
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/__test__/__snapshots__/app-content.test.tsx.snap
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/__test__/__snapshots__/render-with-header.test.tsx.snap
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/__test__/app-content.test.tsx
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/__test__/render-with-header.test.tsx
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/__test__/tag.tsx
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/app-content/app-content.tsx
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/app-content/index.ts
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/render-with-header.tsx
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/tag.tsx
  packages/marketplace/src/components/pages/developer-app-detail/aside.tsx
  packages/marketplace/src/components/pages/developer-app-detail/developer-app-detail.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-authentication-detail.tsx.snap
  packages/marketplace/src/components/ui/app-authentication-detail.tsx
  packages/marketplace/src/components/ui/app-installations/__tests__/__snapshots__/confirm-uninstall.tsx.snap
  packages/marketplace/src/components/ui/app-installations/__tests__/confirm-uninstall.tsx
  packages/marketplace/src/components/ui/app-installations/app-installations-modal.tsx
  packages/marketplace/src/components/ui/app-installations/confirm-uninstall.tsx
  packages/marketplace/src/components/ui/app-installations/installations.tsx
  packages/marketplace/src/components/ui/app-revision-comparision/app-revision-comparision.tsx
  packages/marketplace/src/components/ui/developer-app-revision-modal/__test__/developer-app-revision-modal.test.tsx
  packages/marketplace/src/components/ui/developer-app-revision-modal/developer-app-revision-modal.tsx
  packages/marketplace/src/components/ui/standalone-app-detail/__tests__/__snapshots__/app-header.test.tsx.snap
  packages/marketplace/src/components/ui/standalone-app-detail/__tests__/app-header.test.tsx
  packages/marketplace/src/components/ui/standalone-app-detail/app-header.tsx
  packages/marketplace/src/sagas/apps/__test__/apps.test.ts
  packages/marketplace/src/sagas/apps/apps.ts
  packages/marketplace/src/selector/installations.ts
  packages/marketplace/src/styles/base/colors.scss
  packages/marketplace/src/styles/blocks/app-detail.scss
  packages/marketplace/src/styles/blocks/developer-app-detail.scss
  packages/marketplace/src/styles/blocks/standalone-app-detail.scss
  packages/marketplace/src/styles/pages/client-app-detail-manage.scss
  packages/marketplace/src/styles/pages/client-app-detail.scss
  packages/marketplace/src/styles/pages/developer-app-detail.scss
  packages/marketplace/src/utils/__tests__/boolean-to-yes-no-string.test.ts
  packages/marketplace/src/utils/boolean-to-yes-no-string.tsx
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: marketplace

#1307 fix: #1218 fix service name not valid
  packages/web-components/package.json
  packages/web-components/scripts/start-dev.js
  packages/web-components/src/search-widget/server/serverless.yml
Labels: web-components

#1314 refactor: #1174 Refactor register page using new react-redux hooks
  packages/marketplace/src/components/pages/__tests__/__snapshots__/register.test.tsx.snap
  packages/marketplace/src/components/pages/__tests__/__snapshots__/register.tsx.snap
  packages/marketplace/src/components/pages/__tests__/register.test.tsx
  packages/marketplace/src/components/pages/__tests__/register.tsx
  packages/marketplace/src/components/pages/register.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/index.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/terms-and-conditions-modal.tsx.snap
  packages/marketplace/src/components/ui/terms-and-conditions-modal/index.tsx
  packages/marketplace/src/selector/developer.ts
  packages/marketplace/src/utils/form/__tests__/register.ts
  packages/marketplace/src/utils/form/register.ts
Labels: marketplace

#1303 feat: #1274 create breadcrumb components
  .gitignore
  package.json
  packages/elements/.storybook/webpack.config.js
  packages/elements/linaria.config.js
  packages/elements/package.json
  packages/elements/rollup.config.js
  packages/elements/src/components/Breadcrumb/breadcrumb.stories.tsx
  packages/elements/src/components/Breadcrumb/index.ts
  packages/elements/src/v2/src/components/breadcrumb/__styles__/styles.ts
  packages/elements/src/v2/src/components/breadcrumb/__tests__/__snapshots__/breadcrumb-item.test.tsx.snap
  packages/elements/src/v2/src/components/breadcrumb/__tests__/__snapshots__/breadcrumb-separator.test.tsx.snap
  packages/elements/src/v2/src/components/breadcrumb/__tests__/__snapshots__/breadcrumb.test.tsx.snap
  packages/elements/src/v2/src/components/breadcrumb/__tests__/breadcrumb-item.test.tsx
  packages/elements/src/v2/src/components/breadcrumb/__tests__/breadcrumb-separator.test.tsx
  packages/elements/src/v2/src/components/breadcrumb/__tests__/breadcrumb.test.tsx
  packages/elements/src/v2/src/components/breadcrumb/breadcrumb-item.tsx
  packages/elements/src/v2/src/components/breadcrumb/breadcrumb-separator.tsx
  packages/elements/src/v2/src/components/breadcrumb/breadcrumb.tsx
  packages/elements/src/v2/src/components/breadcrumb/index.ts
  packages/elements/src/v2/src/components/index.ts
  scripts/jest/jest-setup.js
  yarn.lock
Labels: aml-checklist, cognito-auth, cognito-custom-mail-lambda, config-manager, demo-site, elements

#1323 fix: #1274 adds plugin to ensure css lib can be parsed and fix dev. Removed…
  packages/marketplace/linaria.config.js
  packages/marketplace/src/components/pages/developer-analytics/developer-analytics.tsx
  scripts/webpack/webpack.base.dev.js
  scripts/webpack/webpack.base.prod.js
  yarn.lock
Labels: marketplace

#1324 chore: #1274 add MiniCssExtractPlugin to prod and dev webpack
  packages/elements/src/v2/src/components/breadcrumb/__styles__/styles.ts
  packages/elements/src/v2/src/components/breadcrumb/__tests__/__snapshots__/breadcrumb-item.test.tsx.snap
  packages/elements/src/v2/src/components/breadcrumb/__tests__/__snapshots__/breadcrumb.test.tsx.snap
  packages/elements/src/v2/src/components/breadcrumb/__tests__/breadcrumb-item.test.tsx
  packages/elements/src/v2/src/components/breadcrumb/breadcrumb-item.tsx
  packages/elements/src/v2/src/components/breadcrumb/breadcrumb.tsx
  scripts/webpack/webpack.base.dev.js
  scripts/webpack/webpack.base.prod.js
  scripts/webpack/webpack.sass.dev.js
Labels: elements

#1321 refactor: #1174 Refactor developer home page using new react-redux hooks
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-home.test.tsx.snap
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-home.tsx.snap
  packages/marketplace/src/components/pages/__tests__/developer-home.test.tsx
  packages/marketplace/src/components/pages/__tests__/developer-home.tsx
  packages/marketplace/src/components/pages/developer-home.tsx
  packages/marketplace/src/selector/app-detail.ts
  packages/marketplace/src/selector/developer.ts
Labels: marketplace

#1320 chore: Add loginWithReapit button rollup config
  packages/web-components/scripts/rollup.config.login.js
Labels: web-components

#1318 fix: #964 add extension for download file
  packages/aml-checklist/src/services/__tests__/documents.ts
  packages/aml-checklist/src/services/documents.ts
Labels: aml-checklist

#1329 refactor: #1325 Refactor developer help page using react-redux hooks
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-help.test.tsx.snap
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-help.tsx.snap
  packages/marketplace/src/components/pages/__tests__/developer-help.test.tsx
  packages/marketplace/src/components/pages/developer-help.tsx
Labels: marketplace

#1332 fix: #1275 layout issue on mobile
  packages/aml-checklist/src/styles/index.scss
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/elements/src/styles/components/layout.scss
  packages/elements/src/styles/components/menu.scss
  packages/elements/src/styles/vendor/normalize.scss
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/geo-diary-v2/src/styles/index.scss
  packages/geo-diary/src/styles/index.scss
  packages/lifetime-legal/src/styles/index.scss
  packages/marketplace/src/styles/index.scss
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: aml-checklist, elements, geo-diary, lifetime-legal, marketplace

#1335 fix: #1206 #1210 tweak standalone page css
  packages/elements/src/styles/base/utilities.scss
  packages/lifetime-legal/src/styles/pages/checklist-detail.scss
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/app-content.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/aside.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/client-app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/app-content.tsx
  packages/marketplace/src/components/pages/client-app-detail/aside.tsx
  packages/marketplace/src/components/pages/client-app-detail/reuse.tsx
  packages/marketplace/src/components/pages/developer-app-detail/__test__/__snapshots__/aside.test.tsx.snap
  packages/marketplace/src/components/pages/developer-app-detail/__test__/aside.test.tsx
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/__test__/__snapshots__/app-content.test.tsx.snap
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/app-content/app-content.tsx
  packages/marketplace/src/components/pages/developer-app-detail/aside.tsx
  packages/marketplace/src/components/ui/app-installations/installations.tsx
  packages/marketplace/src/components/ui/developer-app-revision-modal/developer-app-revision-modal.tsx
  packages/marketplace/src/components/ui/standalone-app-detail/__tests__/__snapshots__/app-header.test.tsx.snap
  packages/marketplace/src/components/ui/standalone-app-detail/app-header.tsx
  packages/marketplace/src/styles/base/screen-size.scss
  packages/marketplace/src/styles/blocks/app-detail.scss
  packages/marketplace/src/styles/blocks/developer-app-detail.scss
  packages/marketplace/src/styles/blocks/standalone-app-detail.scss
  packages/marketplace/src/styles/pages/client-app-detail.scss
  packages/marketplace/src/styles/pages/developer-app-detail.scss
Labels: elements, lifetime-legal, marketplace

#1317 feat: #1222 create infra for appointment planner api
  packages/web-components/scripts/build-serverless.js
  packages/web-components/src/appointment-planner/server/api/__stubs__/appointments.ts
  packages/web-components/src/appointment-planner/server/api/__tests__/get-appointment-slots.ts
  packages/web-components/src/appointment-planner/server/api/__tests__/ping.ts
  packages/web-components/src/appointment-planner/server/api/get-appointment-slots.ts
  packages/web-components/src/appointment-planner/server/api/ping.ts
  packages/web-components/src/appointment-planner/server/core/__tests__/index.ts
  packages/web-components/src/appointment-planner/server/core/__tests__/routes.ts
  packages/web-components/src/appointment-planner/server/core/index.ts
  packages/web-components/src/appointment-planner/server/core/routers.ts
  packages/web-components/src/appointment-planner/server/index.ts
  packages/web-components/src/appointment-planner/server/serverless.yml
  packages/web-components/src/common/utils/constants.ts
Labels: web-components

#1339 fix: fix client app page css issue
  packages/elements/src/styles/components/layout.scss
Labels: elements

#1341 chore: Update build script for appointment planner
  packages/web-components/scripts/release-serverless.js
  packages/web-components/src/scripts/rollup.config.login.js
Labels: web-components

#1337 refactor: #1328 remove mapStateToProps and change to hooks
  packages/marketplace/src/components/pages/__tests__/__snapshots__/admin-approvals.tsx.snap
  packages/marketplace/src/components/pages/__tests__/admin-approvals.tsx
  packages/marketplace/src/components/pages/admin-approvals.tsx
  packages/marketplace/src/components/pages/admin-approvals/__tests__/__snapshots__/admin-approvals.test.tsx.snap
  packages/marketplace/src/components/pages/admin-approvals/__tests__/admin-approvals.test.tsx
  packages/marketplace/src/components/pages/admin-approvals/admin-approvals.tsx
  packages/marketplace/src/components/pages/admin-approvals/index.ts
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/selector/__tests__/admin.ts
  packages/marketplace/src/selector/__tests__/app-detail.ts
  packages/marketplace/src/selector/__tests__/app-revision.ts
  packages/marketplace/src/selector/admin.ts
  packages/marketplace/src/selector/app-detail.ts
  packages/marketplace/src/selector/app-revisions.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/__tests__/route-dispatcher.ts
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: marketplace

#1344 chore: Update planner bucket name
  packages/web-components/src/appointment-planner/server/serverless.yml
Labels: web-components

#1334 refactor: #1326 Refactor client apps page using new react-redux hooks
  packages/marketplace/src/components/pages/__tests__/__snapshots__/client.tsx.snap
  packages/marketplace/src/components/pages/__tests__/client.tsx
  packages/marketplace/src/components/pages/client/__tests__/__snapshots__/client.test.tsx.snap
  packages/marketplace/src/components/pages/client/__tests__/client.test.tsx
  packages/marketplace/src/components/pages/client/client.tsx
  packages/marketplace/src/components/pages/client/index.ts
  packages/marketplace/src/selector/__tests__/client.ts
  packages/marketplace/src/selector/client.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1345 fix: fix element page on mobile
  packages/elements/src/components/Layout/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Layout/index.tsx
  packages/marketplace/src/components/pages/__tests__/__snapshots__/client-welcome.tsx.snap
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-help.test.tsx.snap
  packages/marketplace/src/components/pages/__tests__/__snapshots__/elements.tsx.snap
  packages/marketplace/src/components/pages/__tests__/__snapshots__/login.test.tsx.snap
  packages/marketplace/src/components/pages/admin-approvals/__tests__/__snapshots__/admin-approvals.test.tsx.snap
  packages/marketplace/src/components/pages/elements.tsx
  packages/smb-onboarder/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/smb-onboarder/src/components/pages/negotiators/__tests__/__snapshots__/negotiators.test.tsx.snap
  packages/smb-onboarder/src/components/pages/offices/__tests__/__snapshots__/offices.tsx.snap
  packages/smb-onboarder/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
Labels: elements, marketplace, smb-onboarder

#1348 chore: update snapshot to fix CI
  packages/marketplace/src/components/pages/client/__tests__/__snapshots__/client.test.tsx.snap
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1313 feat: #1033 configure my web component installations in the Marketplace
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/elements/src/components/Checkbox/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Checkbox/index.tsx
  packages/elements/src/components/DropdownSelect/index.tsx
  packages/elements/src/components/RadioSelect/index.tsx
  packages/elements/src/styles/components/checkbox.scss
  packages/elements/src/styles/components/layout.scss
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/marketplace/src/actions/__tests__/client.ts
  packages/marketplace/src/actions/client.ts
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/aside.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/__test__/aside.test.tsx
  packages/marketplace/src/components/pages/client-app-detail/aside.tsx
  packages/marketplace/src/components/pages/client/__tests__/__snapshots__/client.test.tsx.snap
  packages/marketplace/src/components/ui/app-detail/app-header/__test__/app-header.test.tsx
  packages/marketplace/src/components/ui/app-detail/app-header/app-header.tsx
  packages/marketplace/src/components/ui/web-component-config-modal/__stubs__/web-component-config.ts
  packages/marketplace/src/components/ui/web-component-config-modal/__test__/__snapshots__/config-modal-inner.test.tsx.snap
  packages/marketplace/src/components/ui/web-component-config-modal/__test__/__snapshots__/config-modal.test.tsx.snap
  packages/marketplace/src/components/ui/web-component-config-modal/__test__/config-modal-inner.test.tsx
  packages/marketplace/src/components/ui/web-component-config-modal/__test__/config-modal.test.tsx
  packages/marketplace/src/components/ui/web-component-config-modal/config-modal-inner.tsx
  packages/marketplace/src/components/ui/web-component-config-modal/config-modal.tsx
  packages/marketplace/src/components/ui/web-component-config-modal/index.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/core/index.tsx
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/reducers/__stubs__/app-state.ts
  packages/marketplace/src/reducers/client/__test__/web-component.test.ts
  packages/marketplace/src/reducers/client/index.ts
  packages/marketplace/src/reducers/client/web-component.ts
  packages/marketplace/src/sagas/__tests__/web-component.ts
  packages/marketplace/src/sagas/web-component.ts
  packages/marketplace/src/selector/__tests__/auth.ts
  packages/marketplace/src/selector/__tests__/client.ts
  packages/marketplace/src/selector/client.ts
  packages/marketplace/src/services/constants.ts
  packages/marketplace/src/services/negotiators.ts
  packages/marketplace/src/services/web-component.ts
  packages/marketplace/src/styles/elements/radioselect.scss
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/types/global.d.ts
Labels: aml-checklist, elements, marketplace

#1351 fix: #1274 breadcrumb style in elements storybook
  packages/elements/src/components/Breadcrumb/breadcrumb.stories.tsx
Labels: elements

#1338 refactor: #1326 refactor client installed apps page using new react-redux hooks
  packages/marketplace/src/components/pages/__tests__/__snapshots__/installed-apps.tsx.snap
  packages/marketplace/src/components/pages/__tests__/installed-apps.tsx
  packages/marketplace/src/components/pages/installed-apps/__tests__/__snapshots__/installed-apps.test.tsx.snap
  packages/marketplace/src/components/pages/installed-apps/__tests__/installed-apps.test.tsx
  packages/marketplace/src/components/pages/installed-apps/index.ts
  packages/marketplace/src/components/pages/installed-apps/installed-apps.tsx
  packages/marketplace/src/selector/__tests__/client.ts
  packages/marketplace/src/selector/client.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1352 fix: #1217 chunk cache error
  packages/marketplace/src/core/__tests__/router.tsx
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  scripts/jest/jest-setup.js
Labels: marketplace

#1357 fix: fix cypress auth
  .github/workflows/release-develop.yml
  .github/workflows/release-production.yml
  packages/marketplace/config.example.json
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/tests/cypress/plugins/index.js
Labels: marketplace

#1360 chore: remove offline plugin + offline service worker of marketplace
  packages/marketplace/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/marketplace/src/core/app.tsx
  scripts/webpack/webpack.base.prod.js
Labels: marketplace

#1364 fix: #1206 install uninstall button
  packages/marketplace/src/components/pages/client-app-detail/client-app-detail.tsx
Labels: marketplace

#1356 refactor:#1325 Refactor developer submit app page using react-redux hooks
  packages/marketplace/src/actions/submit-app.ts
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-submit-app.tsx.snap
  packages/marketplace/src/components/pages/__tests__/developer-submit-app.tsx
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/app-content.test.tsx.snap
  packages/marketplace/src/components/pages/developer-app-detail/__test__/__snapshots__/aside.test.tsx.snap
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/__test__/__snapshots__/app-content.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app.tsx
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/agency-cloud-integration-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/authentication-flow-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/general-information-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/marketplace-status-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/permission-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/redirect-uri-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/upload-image-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/agency-cloud-integration-section.test.tsx
  packages/marketplace/src/components/pages/developer-submit-app/__test__/authentication-flow-section.test.tsx
  packages/marketplace/src/components/pages/developer-submit-app/__test__/developer-submit-app.test.tsx
  packages/marketplace/src/components/pages/developer-submit-app/__test__/general-information-section.test.tsx
  packages/marketplace/src/components/pages/developer-submit-app/__test__/marketplace-status-section.test.tsx
  packages/marketplace/src/components/pages/developer-submit-app/__test__/permission-section.test.tsx
  packages/marketplace/src/components/pages/developer-submit-app/__test__/redirect-uri-section.test.tsx
  packages/marketplace/src/components/pages/developer-submit-app/__test__/upload-image-section.test.tsx
  packages/marketplace/src/components/pages/developer-submit-app/agency-cloud-integration-section.tsx
  packages/marketplace/src/components/pages/developer-submit-app/authentication-flow-section.tsx
  packages/marketplace/src/components/pages/developer-submit-app/developer-submit-app.tsx
  packages/marketplace/src/components/pages/developer-submit-app/general-information-section.tsx
  packages/marketplace/src/components/pages/developer-submit-app/index.ts
  packages/marketplace/src/components/pages/developer-submit-app/marketplace-status-section.tsx
  packages/marketplace/src/components/pages/developer-submit-app/permission-section.tsx
  packages/marketplace/src/components/pages/developer-submit-app/redirect-uri-section.tsx
  packages/marketplace/src/components/pages/developer-submit-app/upload-image-section.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/admin-approval-modal.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/developer-app-modal.tsx.snap
  packages/marketplace/src/components/ui/app-detail-modal/__tests__/__snapshots__/app-detail-inner.tsx.snap
  packages/marketplace/src/components/ui/app-detail/app-content/__test__/__snapshots__/app-content.test.tsx.snap
  packages/marketplace/src/components/ui/app-revision-comparision/__tests__/__snapshots__/app-revision-comparision.tsx.snap
  packages/marketplace/src/components/ui/client-app-detail/__test__/__snapshots__/client-app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/ui/client-app-detail/__test__/__snapshots__/client-app-uninstall-confirmation.test.tsx.snap
  packages/marketplace/src/components/ui/developer-app-detail/__test__/__snapshots__/app-revision-comparision.test.tsx.snap
  packages/marketplace/src/components/ui/developer-app-detail/__test__/__snapshots__/app-revision-modal.test.tsx.snap
  packages/marketplace/src/components/ui/developer-app-detail/__test__/__snapshots__/developer-app-detail-button-group.test.tsx.snap
  packages/marketplace/src/components/ui/developer-app-revision-modal/__test__/__snapshots__/developer-app-revision-modal.test.tsx.snap
  packages/marketplace/src/sagas/__stubs__/app-detail.ts
  packages/marketplace/src/selector/__tests__/submit-app.test.ts
  packages/marketplace/src/selector/submit-app.ts
  packages/marketplace/src/utils/form/__tests__/submit-app.ts
  packages/marketplace/src/utils/form/submit-app.ts
Labels: marketplace

#1365 fix: #1033 update config web component button
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/aside.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/aside.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1358 refactor: #1326 refactor Client MyApps page using new redux-react hooks
  packages/marketplace/src/components/pages/__tests__/__snapshots__/my-apps.tsx.snap
  packages/marketplace/src/components/pages/__tests__/my-apps.tsx
  packages/marketplace/src/components/pages/client-app-management/__tests__/__snapshots__/client-apps-management.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-management/__tests__/client-apps-management.test.tsx
  packages/marketplace/src/components/pages/client-app-management/client-apps-management.tsx
  packages/marketplace/src/components/pages/client-app-management/index.ts
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/selector/__tests__/client.ts
  packages/marketplace/src/selector/client.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1363 refactor: #1336 refactor private-route-wrapper
  packages/marketplace/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/__tests__/private-route-wrapper.tsx
  packages/marketplace/src/core/private-route-wrapper.tsx
  packages/marketplace/src/selector/__tests__/auth.ts
  packages/marketplace/src/selector/auth.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  scripts/jest/jest-setup.js
Labels: marketplace

#1381 fix: hot fix for private route
  packages/cognito-auth/src/session/remove-session.test.ts
  packages/cognito-auth/src/session/remove-session.ts
  packages/cognito-auth/src/utils/cognito.test.ts
  packages/cognito-auth/src/utils/cognito.ts
  packages/marketplace/src/core/__tests__/__snapshots__/private-route.tsx.snap
  packages/marketplace/src/core/__tests__/private-route.tsx
  packages/marketplace/src/core/private-route.tsx
  scripts/jest/jest.config.js
Labels: cognito-auth, marketplace

#1361 refactor: #1327 refactor admin apps page
  packages/marketplace/src/components/pages/__tests__/__snapshots__/admin-apps.tsx.snap
  packages/marketplace/src/components/pages/__tests__/admin-apps.tsx
  packages/marketplace/src/components/pages/admin-apps.tsx
  packages/marketplace/src/components/pages/admin-apps/__tests__/__snapshots__/admin-apps.test.tsx.snap
  packages/marketplace/src/components/pages/admin-apps/__tests__/admin-apps.test.tsx
  packages/marketplace/src/components/pages/admin-apps/admin-apps.tsx
  packages/marketplace/src/components/pages/admin-apps/index.ts
  packages/marketplace/src/selector/__tests__/admin.ts
  packages/marketplace/src/selector/admin.ts
Labels: marketplace, web-components

#1394 chore: bump version cognito auth
  packages/cognito-auth/package.json
Labels: cognito-auth

#1398 fix: #1392 Hide loader after finishing fetching data in analytics page
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/cost-explorer-table.tsx
  packages/marketplace/src/reducers/developer.ts
Labels: marketplace

#1400 fix: #1389 dead link search widget in elements
  packages/cognito-auth/src/tests/badges/badge-lines.svg
  packages/cognito-auth/src/tests/badges/badge-statements.svg
  packages/elements/.storybook/preview-head.html
  packages/elements/src/components/SearchComponent/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/SearchComponent/__tests__/index.tsx
  packages/elements/src/components/SearchComponent/index.stories.tsx
  packages/elements/src/components/SearchComponent/index.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: cognito-auth, elements, marketplace

#1404 fix: #1392 endless loading spinner on cost explorer page
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/cost-explorer-table.tsx
Labels: marketplace

#1387 chore: remove offline plugin
  package.json
  packages/aml-checklist/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/aml-checklist/src/core/app.tsx
  packages/elements/src/hooks/use-offline-plugin/__tests__/use-offline-plugin.tsx
  packages/elements/src/hooks/use-offline-plugin/index.ts
  packages/elements/src/hooks/use-offline-plugin/use-offline-plugin.tsx
  packages/elements/src/index.tsx
  packages/geo-diary-v2/src/core/app.tsx
  packages/geo-diary/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/geo-diary/src/core/app.tsx
  packages/lifetime-legal/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/lifetime-legal/src/core/app.tsx
  packages/site-builder/src/core/app.tsx
  packages/smb-onboarder/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/smb-onboarder/src/core/app.tsx
Labels: aml-checklist, elements, geo-diary, lifetime-legal, smb-onboarder

#1405 fix: #1391 Fix warning error which display in marketplace
  packages/elements/src/components/DatePicker/index.tsx
  packages/elements/src/components/Table/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Table/index.tsx
  packages/elements/src/components/ToastMessage/__tests__/index.tsx
  packages/elements/src/components/ToastMessage/index.tsx
  packages/marketplace/src/components/pages/admin-apps/__tests__/__snapshots__/admin-apps.test.tsx.snap
Labels: elements, marketplace

#1362 refactor: #1326 refactor Client Settings page using react-redux hooks
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/client-setting.tsx.snap
  packages/marketplace/src/components/pages/settings/__tests__/client-setting.tsx
  packages/marketplace/src/components/pages/settings/client-setting.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1432 fix: ltl-app layout issue
  packages/lifetime-legal/src/styles/index.scss
  packages/lifetime-legal/src/tests/badges/badge-functions.svg
  packages/lifetime-legal/src/tests/badges/badge-lines.svg
  packages/lifetime-legal/src/tests/badges/badge-statements.svg
Labels: lifetime-legal

#1366 fix: #1210 #1206 - update render 'category', 'Desktop Integration Types', 'Private App'
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/app-content.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/aside.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/client-app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/app-content.tsx
  packages/marketplace/src/components/pages/client-app-detail/client-app-detail.tsx
  packages/marketplace/src/components/pages/developer-app-detail/__test__/__snapshots__/aside.test.tsx.snap
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/app-content/app-content.tsx
  packages/marketplace/src/components/pages/developer-app-detail/aside.tsx
  packages/marketplace/src/components/pages/developer-app-detail/developer-app-detail.tsx
  packages/marketplace/src/styles/base/screen-size.scss
  packages/marketplace/src/styles/blocks/standalone-app-detail.scss
  packages/marketplace/src/styles/pages/client-app-detail.scss
  packages/marketplace/src/utils/__tests__/get-desktop-integration-types.test.ts
  packages/marketplace/src/utils/get-desktop-integration-types.ts
Labels: marketplace
