Repository reapit/foundations, pull requests merged in 2020-04, with the labels that each got.

#775 fix: #568 add more config to scaffolder and fix private route wrapper for check isFetching or not
  packages/react-app-scaffolder/app/index.js
  packages/react-app-scaffolder/app/templates/_config.example.json
  packages/react-app-scaffolder/app/templates/_config.json
  packages/react-app-scaffolder/app/templates/base-is-not-sass/src/scripts/webpack-dev.js
  packages/react-app-scaffolder/app/templates/base-is-sass/src/scripts/webpack-dev.js
  packages/react-app-scaffolder/app/templates/base/src/core/app.tsx
  packages/react-app-scaffolder/app/templates/no-redux/src/context/__mocks__/mock-context.tsx
  packages/react-app-scaffolder/app/templates/no-redux/src/core/private-route-wrapper.tsx
  packages/react-app-scaffolder/app/templates/no-redux/src/hooks/use-auth.ts
Labels: react-app-scaffolder

#776 fix: #655 serverless web component config deployment
  packages/web-components-config-server/serverless.yml
Labels: demo-site

#780 chore: export upload progress component
  packages/elements/src/index.tsx
  packages/elements/src/styles/components/upload-progress.scss
Labels: elements

#789 fix: aml app should not redirect if already on correct route
  packages/aml-checklist/src/core/private-route.tsx
Labels: aml-checklist

#784 feat: #739 The Cloud Apps should be testable in "Desktop Mode"
  packages/aml-checklist/src/core/store.ts
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/cognito-auth/src/tests/badges/badge-branches.svg
  packages/cognito-auth/src/tests/badges/badge-lines.svg
  packages/cognito-auth/src/tests/badges/badge-statements.svg
  packages/cognito-auth/src/utils/cognito.test.ts
  packages/cognito-auth/src/utils/cognito.ts
  packages/elements/src/components/DynamicLinks/__tests__/utils.ts
  packages/elements/src/components/DynamicLinks/utils.ts
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/elements/src/utils/local-storage/local-storage-check.ts
  packages/geo-diary/src/actions/auth.ts
  packages/geo-diary/src/constants/action-types.ts
  packages/geo-diary/src/core/store.ts
  packages/geo-diary/src/reducers/auth.ts
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/lifetime-legal/src/core/store.ts
  packages/lifetime-legal/src/tests/badges/badge-lines.svg
  packages/lifetime-legal/src/tests/badges/badge-statements.svg
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/smb/src/core/index.tsx
  scripts/jest/jest-setup.js
Labels: aml-checklist, cognito-auth, elements, geo-diary, lifetime-legal, marketplace, smb

#800 fix: #739 cannot assign to readonly window.__REAPIT_MARKETPLACE_GLOBALS__
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/elements/src/components/DynamicLinks/__tests__/utils.ts
  packages/elements/src/components/DynamicLinks/utils.ts
  packages/elements/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: aml-checklist, elements, marketplace

#809 fix: #739 correct logic
  packages/elements/src/components/DynamicLinks/utils.ts
Labels: elements

#810 chore: bump elements version 0.5.49
  packages/elements/package.json
Labels: elements

#808 Feat/755 developers can specify who can see their apps
  packages/marketplace/package.json
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-submit-app.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app.tsx
  packages/marketplace/src/components/ui/app-revision-comparision/__tests__/__snapshots__/app-revision-comparision.tsx.snap
  packages/marketplace/src/components/ui/app-revision-comparision/app-revision-comparision.tsx
  packages/marketplace/src/utils/__tests__/validate.ts
  packages/marketplace/src/utils/form/submit-app.ts
  packages/marketplace/src/utils/validate.ts
Labels: marketplace

#813 feat: #741 ui for view api key of web componentts
  packages/marketplace/package.json
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-detail.tsx.snap
  packages/marketplace/src/components/ui/__tests__/app-detail.tsx
  packages/marketplace/src/components/ui/app-detail.tsx
  yarn.lock
Labels: marketplace

#793 feat: #745 Add Settings menu for client
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/client-setting.tsx.snap
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/developer-settings.tsx.snap
  packages/marketplace/src/components/pages/settings/__tests__/client-setting.tsx
  packages/marketplace/src/components/pages/settings/__tests__/developer-settings.tsx
  packages/marketplace/src/components/pages/settings/client-setting.tsx
  packages/marketplace/src/components/pages/settings/developer-settings.tsx
  packages/marketplace/src/components/pages/settings/index.ts
  packages/marketplace/src/components/ui/__tests__/__snapshots__/menu.tsx.snap
  packages/marketplace/src/components/ui/menu.tsx
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
Labels: marketplace

#824 feat: #741 integrate api for view api key when app installed
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-submit-app.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/admin-approval-modal.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-detail.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/developer-app-modal.tsx.snap
  packages/marketplace/src/components/ui/__tests__/app-detail.tsx
  packages/marketplace/src/components/ui/app-detail-modal/__tests__/__snapshots__/app-detail-inner.tsx.snap
  packages/marketplace/src/components/ui/app-detail.tsx
  packages/marketplace/src/components/ui/app-revision-comparision/__tests__/__snapshots__/app-revision-comparision.tsx.snap
  packages/marketplace/src/components/ui/developer-app-revision-modal/__test__/__snapshots__/developer-app-revision-modal.test.tsx.snap
  packages/marketplace/src/reducers/app-detail.ts
  packages/marketplace/src/sagas/__stubs__/app-detail.ts
  packages/marketplace/src/sagas/__tests__/app-detail.ts
  packages/marketplace/src/sagas/app-detail.ts
Labels: marketplace

#827 Feat/755 developers can specify who can see their apps
  packages/marketplace/src/components/pages/developer-submit-app.tsx
  packages/marketplace/src/utils/form/submit-app.ts
Labels: marketplace

#826 feat: #728 The search widget back end should return a sub-set of properties data
  packages/web-components/jest.config.js
  packages/web-components/package.json
  packages/web-components/src/search-widget/client/api/__tests__/property-images.ts
  packages/web-components/src/search-widget/client/api/properties.ts
  packages/web-components/src/search-widget/client/api/property-images.ts
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/search-result.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/search-form.ts
  packages/web-components/src/search-widget/client/core/store.ts
  packages/web-components/src/search-widget/client/utils/__stubs__/property.ts
  packages/web-components/src/search-widget/client/utils/__tests__/map-helpers.ts
  packages/web-components/src/search-widget/client/utils/map-helpers.ts
  packages/web-components/src/search-widget/client/utils/results-helpers.ts
  packages/web-components/src/search-widget/server/api/__stubs__/properties.ts
  packages/web-components/src/search-widget/server/api/__stubs__/property-images.ts
  packages/web-components/src/search-widget/server/api/__tests__/get-properties.ts
  packages/web-components/src/search-widget/server/api/__tests__/get-property-images.ts
  packages/web-components/src/search-widget/server/api/get-properties.ts
  packages/web-components/src/search-widget/server/api/get-property-images.ts
  packages/web-components/src/search-widget/server/constants/api.ts
  packages/web-components/src/search-widget/server/utils/__tests__/map-minimal-properties.ts
  packages/web-components/src/search-widget/server/utils/map-minimal-properties.ts
  packages/web-components/src/search-widget/types/index.d.ts
  packages/web-components/src/search-widget/types/picked-properties.d.ts
  packages/web-components/src/search-widget/types/picked-property-image.d.ts
  yarn.lock
Labels: web-components

#778 Feature/651 upload table data on worker queue
  packages/smb/package.json
  packages/smb/src/actions/__tests__/update-provider.ts
  packages/smb/src/actions/update-provider.ts
  packages/smb/src/components/providers/__tests__/__snapshots__/upload-provider.tsx.snap
  packages/smb/src/components/providers/__tests__/upload-provider.tsx
  packages/smb/src/components/providers/upload-provider.tsx
  packages/smb/src/components/ui/__tests__/__snapshots__/upload-result-modal.tsx.snap
  packages/smb/src/components/ui/__tests__/upload-result-modal.tsx
  packages/smb/src/components/ui/offices-tab/__tests__/__snapshots__/offices-tab.tsx.snap
  packages/smb/src/components/ui/offices-tab/__tests__/offices-tab.tsx
  packages/smb/src/components/ui/offices-tab/offices-tab.tsx
  packages/smb/src/components/ui/upload-result-modal.tsx
  packages/smb/src/constants/paginators.ts
  packages/smb/src/context/__mocks__/mock-upload-context.ts
  packages/smb/src/context/__tests__/__snapshots__/upload-context.tsx.snap
  packages/smb/src/context/__tests__/upload-context.tsx
  packages/smb/src/context/index.ts
  packages/smb/src/context/upload-context.ts
  packages/smb/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/smb/src/core/app.tsx
  packages/smb/src/core/index.tsx
  packages/smb/src/hooks/__tests__/use-upload.tsx
  packages/smb/src/hooks/use-upload.ts
  packages/smb/src/reducers/__tests__/update-provider.ts
  packages/smb/src/reducers/update-provider.ts
  packages/smb/src/types/global.d.ts
  packages/smb/src/types/index.d.ts
  packages/smb/src/utils/__tests__/worker-upload-helper.ts
  packages/smb/src/utils/worker-upload-helper.ts
  packages/smb/src/worker/csv-upload.worker.ts
  scripts/jest/jest.config.js
  yarn.lock
Labels: smb

#836 Feat #712 + #711 : Developer can see a list of enpoints and a graph showing my ‘Hits per Day’
  packages/elements/package.json
  packages/elements/src/components/Table/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Table/index.tsx
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/marketplace/package.json
  packages/marketplace/src/actions/__tests__/app-http-traffic-event.ts
  packages/marketplace/src/actions/app-http-traffic-event.ts
  packages/marketplace/src/components/pages/__tests__/__snapshots__/admin-dev-management.tsx.snap
  packages/marketplace/src/components/pages/admin-dev-management.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/developer-hits-per-day-chart.tsx.snap
  packages/marketplace/src/components/ui/__tests__/developer-hits-per-day-chart.tsx
  packages/marketplace/src/components/ui/analytics/detailed/__test__/__snapshots__/traffic-event-table.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/detailed/__test__/detailed-tab.test.tsx
  packages/marketplace/src/components/ui/analytics/detailed/__test__/traffic-event-table.test.tsx
  packages/marketplace/src/components/ui/analytics/detailed/detailed-tab.tsx
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/__test__/default-filter-group.test.tsx
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/__test__/filter-form.test.tsx
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/default-filter-group.tsx
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/filter-form.tsx
  packages/marketplace/src/components/ui/analytics/detailed/traffic-event-table.tsx
  packages/marketplace/src/components/ui/developer-hits-per-day-chart.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/constants/api.ts
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/reducers/__tests__/app-http-traffic-event.ts
  packages/marketplace/src/reducers/app-http-traffic-event.ts
  packages/marketplace/src/sagas/__stubs__/app-http-traffic-event.ts
  packages/marketplace/src/sagas/__tests__/app-http-traffic-event.ts
  packages/marketplace/src/sagas/app-http-trafic-event.ts
  packages/marketplace/src/selector/analytics.ts
  packages/marketplace/src/types/core.ts
  packages/marketplace/src/utils/__tests__/app-http-traffic.ts
  packages/marketplace/src/utils/app-http-traffic.ts
  yarn.lock
Labels: elements, marketplace

#839 feat: #838: Fix private apps validation
  packages/marketplace/src/utils/form/submit-app.ts
Labels: marketplace

#782 Feat 631 create an interactive planner component
  packages/demo-site/public/scripts/theme.js
  packages/web-components/jest.config.js
  packages/web-components/package.json
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/appointment-planner.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/date-cell.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/date-time-picker.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/time-cell.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/appointment-planner.test.ts
  packages/web-components/src/appointment-bookings/client/components/__tests__/date-cell.test.ts
  packages/web-components/src/appointment-bookings/client/components/__tests__/date-time-picker.test.ts
  packages/web-components/src/appointment-bookings/client/components/__tests__/time-cell.test.ts
  packages/web-components/src/appointment-bookings/client/components/appointment-bookings.svelte
  packages/web-components/src/appointment-bookings/client/components/click-out-side.svelte
  packages/web-components/src/appointment-bookings/client/components/date-cell.svelte
  packages/web-components/src/appointment-bookings/client/components/date-time-picker.svelte
  packages/web-components/src/appointment-bookings/client/components/time-cell.svelte
  packages/web-components/src/appointment-bookings/client/core/__tests__/__snapshots__/index.test.ts.snap
  packages/web-components/src/appointment-bookings/client/core/__tests__/index.test.ts
  packages/web-components/src/appointment-bookings/client/core/index.ts
  packages/web-components/src/appointment-bookings/client/core/store/theme-store.ts
  packages/web-components/src/appointment-bookings/client/core/store/week-store/__tests__/derrived.test.ts
  packages/web-components/src/appointment-bookings/client/core/store/week-store/__tests__/store.test.ts
  packages/web-components/src/appointment-bookings/client/core/store/week-store/derrived.ts
  packages/web-components/src/appointment-bookings/client/core/store/week-store/index.ts
  packages/web-components/src/appointment-bookings/client/core/store/week-store/store.ts
  packages/web-components/src/appointment-bookings/client/core/theme.ts
  packages/web-components/src/appointment-bookings/client/index.html
  packages/web-components/src/common/styles/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/common/styles/__themes__/appointment-bookings.js
  packages/web-components/src/common/styles/theme.ts
  packages/web-components/src/scripts/build-prod.js
  packages/web-components/src/scripts/rollup.config.appointment-bookings.js
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/search-widget.ts.snap
  packages/web-components/src/search-widget/client/core/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/search-widget/client/index.html
  packages/web-components/src/search-widget/client/utils/__tests__/map-helpers.ts
  packages/web-components/src/search-widget/client/utils/__tests__/results-helpers.ts
  packages/web-components/src/search-widget/client/utils/results-helpers.ts
  yarn.lock
Labels: demo-site, web-components

#845 fix: #837 the react scaffolder extremely slow to compile
  packages/react-app-scaffolder/app/templates/_package.json
  packages/react-app-scaffolder/app/templates/base-is-not-sass/src/scripts/webpack-dev.js
  packages/react-app-scaffolder/app/templates/base-is-not-sass/src/scripts/webpack-prod.js
  packages/react-app-scaffolder/app/templates/base/src/core/app.tsx
  packages/react-app-scaffolder/package.json
  packages/web-components/src/search-widget/client/utils/__tests__/results-helpers.ts
Labels: react-app-scaffolder, web-components

#857 feat: add question template
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/question.md
  packages/marketplace/src/constants/developer-help-links.ts
Labels: marketplace

#861 Fix: #840 updates required to analytics tab
  packages/elements/src/styles/vendor/bulma-overrides.scss
  packages/marketplace/src/actions/__tests__/app-installations.ts
  packages/marketplace/src/actions/app-installations.ts
  packages/marketplace/src/components/pages/__tests__/__snapshots__/analytics.tsx.snap
  packages/marketplace/src/components/pages/__tests__/analytics.tsx
  packages/marketplace/src/components/pages/analytics.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/developer-hits-per-day-chart.tsx.snap
  packages/marketplace/src/components/ui/analytics/detailed/__test__/__snapshots__/installation-table.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/detailed/__test__/__snapshots__/traffic-event-table.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/detailed/__test__/detailed-tab.test.tsx
  packages/marketplace/src/components/ui/analytics/detailed/__test__/installation-table.test.tsx
  packages/marketplace/src/components/ui/analytics/detailed/__test__/traffic-event-table.test.tsx
  packages/marketplace/src/components/ui/analytics/detailed/detailed-tab.tsx
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/__test__/__snapshots__/default-filter-group.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/__test__/default-filter-group.test.tsx
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/__test__/filter-form.test.tsx
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/default-filter-group.tsx
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/filter-form.tsx
  packages/marketplace/src/components/ui/analytics/detailed/installation-table.tsx
  packages/marketplace/src/components/ui/analytics/detailed/traffic-event-table.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/reducers/__tests__/app-installations.ts
  packages/marketplace/src/reducers/app-installations.ts
  packages/marketplace/src/sagas/__tests__/app-installations.ts
  packages/marketplace/src/sagas/app-installations.ts
  packages/marketplace/src/utils/app-http-traffic.ts
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/date-cell.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/date-cell.test.ts
Labels: elements, marketplace, web-components

#860 feat: #849 link valid foundations-doc url via the iframe
  packages/marketplace/src/components/pages/__tests__/api-docs.tsx
  packages/marketplace/src/components/pages/api-docs.tsx
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
Labels: marketplace, web-components

#866 Feat/828 create tag component in elements
  packages/elements/package.json
  packages/elements/src/components/DropdownSelect/__test__/__snapshots__/index.tsx.snap
  packages/elements/src/components/DropdownSelect/__test__/index.tsx
  packages/elements/src/components/DropdownSelect/dropdown-select.stories.tsx
  packages/elements/src/components/DropdownSelect/index.scss
  packages/elements/src/components/DropdownSelect/index.tsx
  yarn.lock
Labels: elements

#876 feat: #833 move search widget backend behind api gateway
  packages/web-components/config.example.json
  packages/web-components/serverless.yml
Labels: web-components

#878 fix: adds sandbox as filter to analytics
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/__test__/__snapshots__/filter-bar.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/__test__/filter-bar.test.tsx
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/filter-bar.tsx
  packages/marketplace/src/constants/api.ts
  yarn.lock
Labels: marketplace

#880 fix: #792 update snapshot
  packages/marketplace/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/consumption-cost-types-table.tsx.snap
  packages/marketplace/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/schedule2.tsx.snap
Labels: marketplace

#879 chore: Add tooltip which display when user hover in tag
  packages/elements/package.json
  packages/elements/src/components/DropdownSelect/__stubs__/options.ts
  packages/elements/src/components/DropdownSelect/__test__/index.tsx
  packages/elements/src/components/DropdownSelect/__tests__/__snapshots__/custom-tag.tsx.snap
  packages/elements/src/components/DropdownSelect/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/DropdownSelect/__tests__/custom-tag.tsx
  packages/elements/src/components/DropdownSelect/__tests__/index.tsx
  packages/elements/src/components/DropdownSelect/custom-tag.tsx
  packages/elements/src/components/DropdownSelect/dropdown-select.stories.tsx
  packages/elements/src/components/DropdownSelect/index.tsx
  packages/elements/src/index.tsx
  packages/elements/src/styles/components/dropdown-select.scss
  packages/elements/src/styles/index.scss
  yarn.lock
Labels: elements

#882 fix: #732 Filtering should apply to all apps not just those on curr page
  packages/marketplace/src/components/ui/__tests__/app-sidebar.tsx
  packages/marketplace/src/components/ui/app-sidebar.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#881 feat: #630 Step 1 book a valuation form
  .eslintrc.js
  package.json
  packages/web-components/package.json
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/appointment-bookings.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/appointment-planner.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/form-step1.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/planner-step2.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/time-cell.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/appointment-bookings.test.ts
  packages/web-components/src/appointment-bookings/client/components/__tests__/appointment-planner.test.ts
  packages/web-components/src/appointment-bookings/client/components/__tests__/date-time-picker.test.ts
  packages/web-components/src/appointment-bookings/client/components/__tests__/form-step1.test.ts
  packages/web-components/src/appointment-bookings/client/components/__tests__/planner-step2.test.ts
  packages/web-components/src/appointment-bookings/client/components/__tests__/time-cell.test.ts
  packages/web-components/src/appointment-bookings/client/components/appointment-bookings.svelte
  packages/web-components/src/appointment-bookings/client/components/click-out-side.svelte
  packages/web-components/src/appointment-bookings/client/components/date-cell.svelte
  packages/web-components/src/appointment-bookings/client/components/form-step1.svelte
  packages/web-components/src/appointment-bookings/client/components/planner-step2.svelte
  packages/web-components/src/appointment-bookings/client/core/__tests__/index.test.ts
  packages/web-components/src/appointment-bookings/client/core/store/form-store.ts
  packages/web-components/src/appointment-bookings/client/core/store/theme-store.ts
  packages/web-components/src/appointment-bookings/client/core/theme.ts
  packages/web-components/src/appointment-bookings/client/handlers/__tests__/submit-form-step1.test.ts
  packages/web-components/src/appointment-bookings/client/handlers/submit-form-step1.ts
  packages/web-components/src/appointment-bookings/client/utils/__tests__/email-verify.test.ts
  packages/web-components/src/appointment-bookings/client/utils/email-verify.ts
  packages/web-components/src/common/styles/__themes__/appointment-bookings.js
  packages/web-components/src/search-widget/client/components/google-map.svelte
  packages/web-components/src/search-widget/client/components/marker.svelte
  packages/web-components/src/search-widget/client/components/property-detail.svelte
  packages/web-components/src/search-widget/client/components/search-form.svelte
  packages/web-components/src/search-widget/client/components/search-result.svelte
  packages/web-components/src/search-widget/client/components/search-widget.svelte
  packages/web-components/src/search-widget/client/components/window-info.svelte
  packages/web-components/tsconfig.json
  yarn.lock
Labels: web-components

#886 chore: bump elements version 0.5.51
  packages/elements/package.json
Labels: elements

#885 chore: #883 remove text from submit & edit form
  packages/marketplace/src/components/pages/developer-submit-app.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#888 fix: deploy demo-site
  packages/demo-site/package.json
  packages/demo-site/public/index.html
  packages/demo-site/public/scripts/theme.js
  packages/demo-site/scripts/build.js
Labels: demo-site

#892 chore: Update dropdown select component
  packages/elements/src/components/DropdownSelect/__tests__/index.tsx
  packages/elements/src/components/DropdownSelect/dropdown-select.stories.tsx
  packages/elements/src/components/DropdownSelect/index.tsx
Labels: elements

#893 chore: bump @reapit/elements version 0.5.52
  packages/elements/package.json
Labels: elements

#891 feat: map slider
  packages/web-components/package.json
  packages/web-components/src/appointment-bookings/client/components/appointment-bookings.svelte
  packages/web-components/src/appointment-bookings/client/core/index.ts
  packages/web-components/src/common/styles/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/common/styles/theme.ts
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/google-map.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/property-detail.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/search-widget.ts.snap
  packages/web-components/src/search-widget/client/components/google-map.svelte
  packages/web-components/src/search-widget/client/components/property-detail.svelte
  packages/web-components/src/search-widget/client/components/search-widget.svelte
  packages/web-components/src/search-widget/client/core/__tests__/__snapshots__/index.ts.snap
Labels: web-components

#897 fix: #792 remove developer term and condition modal from private-router-wrapper
  packages/marketplace/src/core/__tests__/private-route-wrapper.tsx
  packages/marketplace/src/core/private-route-wrapper.tsx
Labels: marketplace

#887 feat: #864 pagination for search widget
  packages/web-components/src/common/styles/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/common/styles/theme.ts
  packages/web-components/src/common/utils/__tests__/get-client-headers.ts
  packages/web-components/src/common/utils/get-client-headers.ts
  packages/web-components/src/search-widget/client/api/__tests__/properties.ts
  packages/web-components/src/search-widget/client/api/properties.ts
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/pagination.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/search-widget.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/pagination.ts
  packages/web-components/src/search-widget/client/components/__tests__/search-form.ts
  packages/web-components/src/search-widget/client/components/pagination.svelte
  packages/web-components/src/search-widget/client/components/search-form.svelte
  packages/web-components/src/search-widget/client/components/search-widget.svelte
  packages/web-components/src/search-widget/client/core/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/search-widget/client/core/__tests__/store.ts
  packages/web-components/src/search-widget/client/core/store.ts
  packages/web-components/src/search-widget/client/utils/__tests__/results-helpers.ts
  packages/web-components/src/search-widget/client/utils/map-helpers.ts
  packages/web-components/src/search-widget/client/utils/results-helpers.ts
  yarn.lock
Labels: web-components

#898 chore: bump version for demo site and search widget
  packages/demo-site/package.json
  packages/web-components/package.json
Labels: demo-site, web-components

#903 fix: #902 Issue with text on after registering as a Developer
  packages/marketplace/src/components/pages/__tests__/__snapshots__/register.tsx.snap
  packages/marketplace/src/components/pages/register.tsx
Labels: marketplace

#907 fix: t and c update
  packages/marketplace/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/schedule2.tsx.snap
  packages/marketplace/src/components/ui/terms-and-conditions-modal/schedule2.tsx
  packages/marketplace/src/components/ui/terms-and-conditions-modal/term-and-conditions.tsx
  packages/marketplace/src/styles/blocks/term-and-conditions-modal.scss
Labels: marketplace

#909 fix: cognito auth readme
  packages/cognito-auth/README.md
Labels: cognito-auth

#899 Feat 631 create an interactive planner component
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/booking-confirmation-step3.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/date-time-picker.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/planner-step2.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/time-cell.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/booking-confirmation-step3.test.ts
  packages/web-components/src/appointment-bookings/client/components/appointment-bookings.svelte
  packages/web-components/src/appointment-bookings/client/components/booking-confirmation-step3.svelte
  packages/web-components/src/appointment-bookings/client/components/date-cell.svelte
  packages/web-components/src/appointment-bookings/client/components/date-time-picker.svelte
  packages/web-components/src/appointment-bookings/client/components/form-step1.svelte
  packages/web-components/src/appointment-bookings/client/components/planner-step2.svelte
  packages/web-components/src/appointment-bookings/client/components/time-cell.svelte
  packages/web-components/src/appointment-bookings/client/core/store/form-store.ts
  packages/web-components/src/appointment-bookings/client/core/theme.ts
  packages/web-components/src/appointment-bookings/client/handlers/__tests__/submit-form-step2.test.ts
  packages/web-components/src/appointment-bookings/client/handlers/__tests__/submit-form-step3.test.ts
  packages/web-components/src/appointment-bookings/client/handlers/submit-form-step1.ts
  packages/web-components/src/appointment-bookings/client/handlers/submit-form-step2.ts
  packages/web-components/src/appointment-bookings/client/handlers/submit-form-step3.ts
  packages/web-components/src/appointment-bookings/client/styles/appointment-bookings.styles.ts
  packages/web-components/src/appointment-bookings/client/utils/__tests__/email-verify.test.ts
  packages/web-components/src/appointment-bookings/client/utils/__tests__/validator.test.ts
  packages/web-components/src/appointment-bookings/client/utils/validator.ts
  packages/web-components/src/common/styles/theme.ts
Labels: web-components

#895 feat: #830 submit app with desktop integration types
  packages/marketplace/src/actions/__tests__/app-integration-types.ts
  packages/marketplace/src/actions/app-integration-types.ts
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-submit-app.tsx.snap
  packages/marketplace/src/components/pages/__tests__/developer-submit-app.tsx
  packages/marketplace/src/components/pages/developer-submit-app.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/constants/api.ts
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/reducers/__tests__/app-integration-types.ts
  packages/marketplace/src/reducers/app-integration-types.ts
  packages/marketplace/src/sagas/__stubs__/integration-types.ts
  packages/marketplace/src/sagas/__tests__/submit-app.ts
  packages/marketplace/src/sagas/submit-app.ts
  packages/marketplace/src/selector/__tests__/integration-types.ts
  packages/marketplace/src/selector/integration-types.ts
  packages/marketplace/src/types/core.ts
Labels: marketplace

#906 fix: deploy pipeline release prod for web-components
  packages/web-components/package.json
Labels: web-components

#912 feat: #890 display html version of elements components
  packages/elements/.storybook/addons.js
  packages/elements/.storybook/config.js
  packages/elements/.storybook/webpack.config.js
  packages/elements/package.json
  yarn.lock
Labels: elements

#913 feat: #908 - Fix analytics page filter issues
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/filter-form.tsx
Labels: marketplace

#914 Fix/905 update date filtering in analytics page
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/filter-form.tsx
  yarn.lock
Labels: marketplace

#915 chore: bump @reapit/elements version 0.5.53
  packages/elements/package.json
Labels: elements

#919 fix: add api-version to earch widget components headers
  packages/web-components/src/common/utils/__tests__/get-server-headers.ts
  packages/web-components/src/common/utils/get-server-headers.ts
Labels: web-components

#920 fix: pipeline deploy demo-site
  packages/demo-site/package.json
Labels: demo-site

#925 fix: move api behind authorizers for web-components
  packages/web-components/serverless.yml
Labels: smb, web-components

#927 fix: deploy behind api gateway for demo-site
  packages/web-components/serverless.yml
Labels: web-components

#929 feat: #923: Fix analytic filter date params
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/__test__/default-filter-group.test.tsx
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/__test__/filter-form.test.tsx
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/default-filter-group.tsx
  packages/marketplace/src/components/ui/analytics/detailed/filter-bar/filter-form.tsx
Labels: marketplace

#926 feat: #910: Fix whats new link in Help page
  packages/marketplace/src/constants/developer-help-links.ts
Labels: marketplace

#936 chore: deploy search widget behind gateway
  packages/web-components/serverless.yml
Labels: web-components

#924 chore: #122 Integrate E2E tests
  .github/workflows/release-develop.yml
  .github/workflows/release-production.yml
  package.json
  packages/cognito-auth/src/core/types.ts
  packages/cognito-auth/src/services/session/login-user-session.ts
  packages/cognito-auth/src/session/login-user-session.ts
  packages/cognito-auth/src/tests/badges/badge-branches.svg
  packages/cognito-auth/src/utils/cognito.ts
  packages/marketplace/config.example.json
  packages/marketplace/package.json
  packages/marketplace/src/components/pages/__tests__/__snapshots__/login.tsx.snap
  packages/marketplace/src/components/pages/__tests__/__snapshots__/register.tsx.snap
  packages/marketplace/src/components/pages/login.tsx
  packages/marketplace/src/components/pages/register.tsx
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/tests/cypress/fixtures/routes.ts
  packages/marketplace/src/tests/cypress/hooks/login.ts
  packages/marketplace/src/tests/cypress/integration/flow-admin-search-app.test.ts
  packages/marketplace/src/tests/cypress/integration/flow-filter-app-by-name-and-category.test.ts
  packages/marketplace/src/tests/cypress/integration/flow-install-app-happy-path.test.ts
  packages/marketplace/src/tests/cypress/integration/flow-login-happy-path.test.ts
  packages/marketplace/src/tests/cypress/integration/flow-register-happy-path.test.ts
  packages/marketplace/src/tests/cypress/integration/flow-submit-app-happy-path.test.ts
  packages/marketplace/src/tests/cypress/integration/flow-update-app-and-delist-path.test.ts
  packages/marketplace/src/tests/cypress/integration/flow-update-developer-contact-info.test.ts
  packages/marketplace/src/tests/cypress/pages/developer-apps-page.ts
  packages/marketplace/src/tests/cypress/pages/developer-submit-app-page.ts
  packages/marketplace/src/tests/cypress/pages/login-page.ts
  packages/marketplace/src/tests/cypress/pages/register-page.ts
  packages/marketplace/src/tests/cypress/plugins/index.js
  packages/marketplace/src/tests/cypress/requests/app.ts
  packages/marketplace/src/tests/cypress/support/index.ts
  packages/marketplace/src/tests/tsconfig.json
  packages/marketplace/src/types/global.d.ts
  packages/smb/package.json
  packages/smb/src/tests/badges/badge-branches.svg
  packages/smb/src/tests/badges/badge-functions.svg
  packages/smb/src/tests/badges/badge-lines.svg
  packages/smb/src/tests/badges/badge-statements.svg
  scripts/webpack/webpack.cypress.js
  yarn.lock
Labels: cognito-auth, marketplace

#928 chore: #830 Update tag link component and option font size
  packages/elements/src/components/DropdownSelect/__stubs__/options.ts
  packages/elements/src/components/DropdownSelect/__tests__/__snapshots__/custom-tag.tsx.snap
  packages/elements/src/components/DropdownSelect/custom-tag.tsx
  packages/elements/src/styles/components/dropdown-select.scss
Labels: elements

#940 fix: fix e2e test fail
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/tests/cypress/integration/flow-admin-search-app.test.ts
Labels: marketplace

#937 feat: #863 - lightbox component for search widget
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/appointment-bookings.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/appointment-bookings.svelte
  packages/web-components/src/common/components/click-out-side.svelte
  packages/web-components/src/common/components/modal.svelte
  packages/web-components/src/search-widget/client/api/__tests__/property-images.ts
  packages/web-components/src/search-widget/client/api/property-images.ts
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/property-detail.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/light-box/__snapshots__/carousel.test.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/light-box/__snapshots__/enlarge-image-modal.test.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/light-box/__snapshots__/light-box.test.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/light-box/__snapshots__/widget.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/light-box/carousel.test.ts
  packages/web-components/src/search-widget/client/components/__tests__/light-box/enlarge-image-modal.test.ts
  packages/web-components/src/search-widget/client/components/__tests__/light-box/light-box.test.ts
  packages/web-components/src/search-widget/client/components/__tests__/light-box/widget.ts
  packages/web-components/src/search-widget/client/components/__tests__/search-form.ts
  packages/web-components/src/search-widget/client/components/google-map.svelte
  packages/web-components/src/search-widget/client/components/light-box/carousel.svelte
  packages/web-components/src/search-widget/client/components/light-box/enlarge-image-modal.svelte
  packages/web-components/src/search-widget/client/components/light-box/light-box.svelte
  packages/web-components/src/search-widget/client/components/light-box/widget.svelte
  packages/web-components/src/search-widget/client/components/property-detail.svelte
  packages/web-components/src/search-widget/client/components/search-form.svelte
  packages/web-components/src/search-widget/client/core/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/search-widget/client/core/__tests__/store.ts
  packages/web-components/src/search-widget/client/core/store.ts
Labels: marketplace, web-components

#930 feat: #798 add serverless to deploy s3 cloudfont
  packages/smb/package.json
  packages/smb/serverless.yml
  yarn.lock
Labels: smb

#944 chore: add logger for search widget api
  packages/web-components/src/search-widget/server/api/get-properties.ts
  packages/web-components/src/search-widget/server/api/get-property-images.ts
Labels: web-components

#941 feat: #917 Desktop Integration in revision modal & Stabilize E2E tests
  packages/marketplace/src/components/ui/__tests__/__snapshots__/admin-approval-modal.tsx.snap
  packages/marketplace/src/components/ui/__tests__/admin-approval-modal.tsx
  packages/marketplace/src/components/ui/__tests__/approve-revision-modal.tsx
  packages/marketplace/src/components/ui/__tests__/decline-revision-modal.tsx
  packages/marketplace/src/components/ui/app-revision-comparision/__tests__/__snapshots__/app-revision-comparision.tsx.snap
  packages/marketplace/src/components/ui/app-revision-comparision/__tests__/app-revision-comparision.tsx
  packages/marketplace/src/components/ui/app-revision-comparision/app-revision-comparision.tsx
  packages/marketplace/src/components/ui/developer-app-revision-modal/__test__/__snapshots__/developer-app-revision-modal.test.tsx.snap
  packages/marketplace/src/components/ui/developer-app-revision-modal/__test__/developer-app-revision-modal.test.tsx
  packages/marketplace/src/reducers/revision-detail.ts
  packages/marketplace/src/sagas/__stubs__/integration-types.ts
  packages/marketplace/src/sagas/__stubs__/revision-detail.ts
  packages/marketplace/src/sagas/__tests__/revision-detail.ts
  packages/marketplace/src/sagas/revision-detail.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/tests/cypress/hooks/login.ts
  packages/marketplace/src/tests/cypress/integration/flow-admin-search-app.test.ts
  packages/marketplace/src/tests/cypress/integration/flow-install-app-happy-path.test.ts
Labels: marketplace

#947 chore: add env SLS_DEBUG for serverless debugging
  .github/workflows/release-develop.yml
  .github/workflows/release-production.yml
  packages/web-components-config-server/serverless.yml
  packages/web-components/serverless.yml
Labels: web-components

#948 chore: revert back to correct bucket of web-components
  packages/web-components-config-server/serverless.yml
  packages/web-components/serverless.yml
Labels: web-components

#946 fix: #122 Admin login e2e test
  package.json
  packages/marketplace/src/tests/cypress/fixtures/routes.ts
  packages/marketplace/src/tests/cypress/hooks/login.ts
  packages/marketplace/src/tests/cypress/integration/flow-admin-search-app.test.ts
  packages/marketplace/src/tests/cypress/integration/flow-filter-app-by-name-and-category.test.ts
  packages/marketplace/src/tests/cypress/integration/flow-submit-app-happy-path.test.ts
  yarn.lock
Labels: marketplace

#949 fix: e2e fix filter app flow add delay
  packages/marketplace/src/tests/cypress/fixtures/routes.ts
  packages/marketplace/src/tests/cypress/integration/flow-filter-app-by-name-and-category.test.ts
Labels: marketplace

#931 feat: #781 Book a viewing
  packages/web-components/src/common/components/modal.svelte
  packages/web-components/src/common/styles/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/common/styles/__themes__/viewing-booking.js
  packages/web-components/src/common/styles/theme.ts
  packages/web-components/src/common/utils/__tests__/validate.ts
  packages/web-components/src/common/utils/validate.ts
  packages/web-components/src/scripts/rollup.config.viewing-booking.js
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/search-widget.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/light-box/__snapshots__/enlarge-image-modal.test.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/light-box/__snapshots__/widget.ts.snap
  packages/web-components/src/search-widget/client/core/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/viewing-booking/client/api/property.ts
  packages/web-components/src/viewing-booking/client/components/__tests__/__snapshots__/viewing-booking.ts.snap
  packages/web-components/src/viewing-booking/client/components/__tests__/viewing-booking.ts
  packages/web-components/src/viewing-booking/client/components/viewing-booking.svelte
  packages/web-components/src/viewing-booking/client/core/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/viewing-booking/client/core/__tests__/index.ts
  packages/web-components/src/viewing-booking/client/core/__tests__/store.ts
  packages/web-components/src/viewing-booking/client/core/index.ts
  packages/web-components/src/viewing-booking/client/core/store.ts
  packages/web-components/src/viewing-booking/client/index.html
Labels: web-components

#955 chore: #830 Add space between texts in tag component
  packages/elements/.storybook/webpack.config.js
  packages/elements/src/components/DropdownSelect/__tests__/__snapshots__/custom-tag.tsx.snap
  packages/elements/src/components/DropdownSelect/custom-tag.tsx
Labels: elements

#960 fix: revert web-component common modal
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/date-time-picker.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/planner-step2.test.ts.snap
  packages/web-components/src/common/components/modal.svelte
  packages/web-components/src/search-widget/client/components/__tests__/light-box/__snapshots__/enlarge-image-modal.test.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/light-box/__snapshots__/widget.ts.snap
  packages/web-components/src/viewing-booking/client/components/modal.svelte
  packages/web-components/src/viewing-booking/client/components/viewing-booking.svelte
Labels: web-components

#961 fix: map headers for requestContext from authorizer to header of lambda function
  packages/web-components/serverless.yml
  packages/web-components/src/common/utils/__tests__/get-server-headers.ts
  packages/web-components/src/common/utils/fetcher-server.ts
  packages/web-components/src/common/utils/get-server-headers.ts
  packages/web-components/src/search-widget/server/core/__tests__/index.ts
  packages/web-components/src/search-widget/server/core/index.ts
Labels: web-components

#976 chore: #830 Update description text
  packages/elements/src/components/DropdownSelect/__stubs__/options.ts
  packages/elements/src/components/DropdownSelect/__tests__/__snapshots__/custom-tag.tsx.snap
  packages/elements/src/components/DropdownSelect/custom-tag.tsx
Labels: elements

#967 fix: #932 Client ID not displaying on first page load - Client Portal
  packages/marketplace/src/components/pages/settings/client-setting.tsx
Labels: marketplace

#977 Feat: #935 create graphql server for properties
  packages/graphql-server/src/constants/api.ts
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/resolvers/properties/__mocks__/create-property.ts
  packages/graphql-server/src/resolvers/properties/__mocks__/properties.ts
  packages/graphql-server/src/resolvers/properties/__mocks__/property.ts
  packages/graphql-server/src/resolvers/properties/__mocks__/update-property.ts
  packages/graphql-server/src/resolvers/properties/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/properties/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/properties/api.ts
  packages/graphql-server/src/resolvers/properties/properties.d.ts
  packages/graphql-server/src/resolvers/properties/resolvers.ts
  packages/graphql-server/src/resolvers/properties/services.ts
  packages/graphql-server/src/resolvers/properties/types.graphql
  packages/graphql-server/src/schema.graphql
Labels: graphql-server

#978 fix: adjust access token expiry to 5 minutes
  packages/cognito-auth/package.json
  packages/cognito-auth/src/session/get-session.test.ts
  packages/cognito-auth/src/utils/cognito.test.ts
  packages/cognito-auth/src/utils/cognito.ts
Labels: cognito-auth

#1004 fix: Appointment booking modal styles
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/appointment-bookings.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/appointment-bookings.svelte
Labels: web-components

#1005 fix: #965 fix geo-diary cannot refresh token
  packages/geo-diary/package.json
  packages/geo-diary/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/geo-diary/src/core/app.tsx
  packages/geo-diary/src/core/store.ts
  packages/geo-diary/src/sagas/__tests__/auth.ts
  packages/geo-diary/src/sagas/auth.ts
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/utils/__tests__/session.ts
  packages/geo-diary/src/utils/session.ts
  yarn.lock
Labels: geo-diary

#1007 feat: #957 search App Registrations by date in the Admin Portal
  packages/marketplace/src/components/pages/__tests__/__snapshots__/admin-apps.tsx.snap
  packages/marketplace/src/components/pages/admin-apps.tsx
Labels: marketplace

#1048 fix: #939 fix e2e tests
  packages/marketplace/src/tests/cypress/integration/flow-filter-app-by-name-and-category.test.ts
Labels: marketplace

#1045 fix: #1035 swagger link color
  packages/marketplace/src/styles/vendor/swagger.scss
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1053 chore: bump cognito-auth 2.1.3
  packages/cognito-auth/package.json
Labels: cognito-auth

#1041 chore: #957 marketplace can search just with date range
  packages/marketplace/src/components/pages/admin-apps.tsx
Labels: marketplace

#962 feat: #934 - Create GraphQL resolver for PropertyTypes in GraphQL Server
  packages/graphql-server/src/app.ts
  packages/graphql-server/src/constants/api.ts
  packages/graphql-server/src/resolvers/configurations/__mocks__/appointmentTypes.ts
  packages/graphql-server/src/resolvers/configurations/__tests__/resolver.test.ts
  packages/graphql-server/src/resolvers/configurations/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/configurations/api.ts
  packages/graphql-server/src/resolvers/configurations/configurations.d.ts
  packages/graphql-server/src/resolvers/configurations/resolver.ts
  packages/graphql-server/src/resolvers/configurations/services.ts
  packages/graphql-server/src/resolvers/configurations/types.graphql
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/schema.graphql
Labels: graphql-server

#1044 Feat/956 search developer registrations by date
  packages/elements/package.json
  packages/elements/src/components/Table/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Table/index.tsx
  packages/marketplace/src/components/pages/__tests__/__snapshots__/admin-dev-management.tsx.snap
  packages/marketplace/src/components/pages/__tests__/admin-dev-management.tsx
  packages/marketplace/src/components/pages/admin-dev-management.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/admin-dev-management-filter-form.tsx.snap
  packages/marketplace/src/components/ui/__tests__/admin-dev-management-filter-form.tsx
  packages/marketplace/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/consumption-cost-types-table.tsx.snap
  packages/marketplace/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/schedule2.tsx.snap
  packages/marketplace/src/components/ui/admin-dev-management-filter-form.tsx
  packages/marketplace/src/sagas/__tests__/admin-dev-management.ts
  packages/marketplace/src/sagas/admin-dev-management.ts
  packages/marketplace/src/styles/pages/admin-apps.scss
Labels: elements, marketplace

#1047 chore: Update agency integration type section text
  packages/cognito-auth/package.json
  packages/marketplace/src/components/pages/developer-submit-app.tsx
Labels: cognito-auth, marketplace

#1060 fix: #1040 fix pending revision image missing
  packages/marketplace/src/components/pages/admin-apps.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/diff-media.tsx.snap
  packages/marketplace/src/components/ui/diff-media.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1049 Feat #963: Implement Developer Webhooks page
  packages/elements/src/components/SelectBox/__tests__/index.tsx
  packages/elements/src/components/SelectBox/index.tsx
  packages/elements/src/components/SelectBox/select-box.stories.tsx
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-webhooks.tsx.snap
  packages/marketplace/src/components/pages/__tests__/developer-webhooks.tsx
  packages/marketplace/src/components/pages/developer-webhooks.tsx
  packages/marketplace/src/components/ui/menu.tsx
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
Labels: elements, marketplace

#1059 chore: #1008 serverless framework template apply to smb
  packages/smb-onboarder/public/index.html
  packages/smb-onboarder/serverless.yml
  packages/smb-onboarder/src/tests/badges/badge-branches.svg
  packages/smb-onboarder/src/tests/badges/badge-functions.svg
  packages/smb-onboarder/src/tests/badges/badge-lines.svg
  packages/smb-onboarder/src/tests/badges/badge-statements.svg
Labels: smb-onboarder

#1058 chore: #1055 Temporary hide client T&C modal
  packages/marketplace/src/core/private-route-wrapper.tsx
  packages/marketplace/src/utils/__tests__/auth-route.ts
  packages/marketplace/src/utils/auth-route.ts
Labels: marketplace

#1080 feat: #1068 update calculation total cost table in term and condition
  packages/marketplace/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/consumption-cost-methodology-table.tsx.snap
  packages/marketplace/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/schedule2.tsx.snap
  packages/marketplace/src/components/ui/terms-and-conditions-modal/consumption-cost-methodology-table.tsx
  packages/web-components/jest.config.js
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/date-time-picker.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/planner-step2.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/time-cell.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/date-time-picker.test.ts
  packages/web-components/src/appointment-bookings/client/components/__tests__/time-cell.test.ts
  packages/web-components/src/scripts/jest-setup.js
Labels: marketplace, web-components

#1079 Feat: #714 - Create cost calculator on analytics billing tab
  packages/elements/src/components/Input/index.tsx
  packages/elements/src/components/SelectBox/index.tsx
  packages/marketplace/src/components/pages/__tests__/__snapshots__/analytics.tsx.snap
  packages/marketplace/src/components/pages/__tests__/analytics.tsx
  packages/marketplace/src/components/pages/analytics.tsx
  packages/marketplace/src/components/ui/analytics/billing/__test__/__snapshots__/billing-tab.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/billing-tab.tsx
  packages/marketplace/src/components/ui/analytics/billing/cost-calculator/__test__/__snapshots__/cost-calculator-form.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/cost-calculator/__test__/__snapshots__/cost-calculator.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/cost-calculator/__test__/__snapshots__/total-cost-table.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/cost-calculator/__test__/cost-calculator-form.test.tsx
  packages/marketplace/src/components/ui/analytics/billing/cost-calculator/__test__/cost-calculator.test.tsx
  packages/marketplace/src/components/ui/analytics/billing/cost-calculator/__test__/total-cost-table.test.tsx
  packages/marketplace/src/components/ui/analytics/billing/cost-calculator/cost-calculator-form.tsx
  packages/marketplace/src/components/ui/analytics/billing/cost-calculator/cost-calculator.tsx
  packages/marketplace/src/components/ui/analytics/billing/cost-calculator/index.ts
  packages/marketplace/src/components/ui/analytics/billing/cost-calculator/total-cost-table.tsx
  packages/marketplace/src/styles/pages/analytics.scss
  packages/marketplace/src/utils/__tests__/number-formatter.ts
  packages/marketplace/src/utils/number-formatter.ts
Labels: elements, marketplace

#1084 fix: #1071 change api-version to correct one 2020-01-31
  packages/geo-diary/src/constants/api.ts
Labels: geo-diary

#1090 feat: #1073 create bar chart developer portal
  packages/marketplace/src/components/ui/analytics/billing/__test__/__snapshots__/billing-tab.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/billing-tab.tsx
  packages/marketplace/src/components/ui/analytics/billing/service-chart/__tests__/__snapshots__/service-chart.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/service-chart/__tests__/service-chart.test.tsx
  packages/marketplace/src/components/ui/analytics/billing/service-chart/index.ts
  packages/marketplace/src/components/ui/analytics/billing/service-chart/service-chart.tsx
  packages/marketplace/src/styles/pages/analytics.scss
Labels: marketplace

#1087 feat: #1077 - Add Transaction History section to billing tab
  packages/marketplace/src/components/ui/analytics/billing/__test__/__snapshots__/billing-tab.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/billing-tab.tsx
  packages/marketplace/src/components/ui/analytics/billing/service-chart/__tests__/__snapshots__/service-chart.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/service-chart/service-chart.tsx
  packages/marketplace/src/components/ui/analytics/billing/transaction-history/__test__/__snapshots__/transaction-history.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/transaction-history/__test__/transaction-history.test.tsx
  packages/marketplace/src/components/ui/analytics/billing/transaction-history/index.ts
  packages/marketplace/src/components/ui/analytics/billing/transaction-history/transaction-history.tsx
  packages/marketplace/src/styles/pages/analytics.scss
Labels: marketplace

#1093 feat: #1073 add axis label for service chart
  packages/marketplace/src/components/ui/analytics/billing/service-chart/__tests__/__snapshots__/service-chart.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/service-chart/service-chart.tsx
Labels: marketplace

#1081 feat: #973 implement developer list webhooks
  packages/marketplace/src/actions/__tests__/webhook-subscriptions.ts
  packages/marketplace/src/actions/webhook-subscriptions.ts
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-webhooks.tsx.snap
  packages/marketplace/src/components/pages/__tests__/developer-webhooks.tsx
  packages/marketplace/src/components/pages/developer-webhooks.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/constants/api.ts
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/index.tsx
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/reducers/__tests__/webhook-subscriptions.ts
  packages/marketplace/src/reducers/webhook-subscriptions.ts
  packages/marketplace/src/sagas/__stubs__/webhooks.ts
  packages/marketplace/src/sagas/__tests__/webhook-subscriptions.ts
  packages/marketplace/src/sagas/webhook-subscriptions.ts
  packages/marketplace/src/selector/__tests__/webhooks.ts
  packages/marketplace/src/selector/wehooks.ts
  packages/marketplace/src/types/core.ts
  packages/marketplace/src/types/global.d.ts
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: marketplace

#1096 feat: #1089 Update cost calculator table UI
  packages/marketplace/src/components/pages/__tests__/__snapshots__/analytics.tsx.snap
  packages/marketplace/src/components/pages/__tests__/analytics.tsx
  packages/marketplace/src/components/pages/analytics.tsx
  packages/marketplace/src/components/ui/analytics/billing/cost-calculator/__test__/__snapshots__/total-cost-table.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/cost-calculator/__test__/total-cost-table.test.tsx
  packages/marketplace/src/components/ui/analytics/billing/cost-calculator/total-cost-table.tsx
  packages/marketplace/src/styles/pages/analytics.scss
Labels: marketplace

#1094 chore: #1085 update search widget query
  packages/demo-site/index.ejs
  packages/web-components/src/appointment-bookings/client/core/__tests__/index.test.ts
  packages/web-components/src/common/styles/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/common/styles/__themes__/search-widget.js
  packages/web-components/src/common/styles/theme.ts
  packages/web-components/src/search-widget/client/api/__tests__/properties.ts
  packages/web-components/src/search-widget/client/api/properties.ts
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/search-form.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/search-widget.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/search-form.ts
  packages/web-components/src/search-widget/client/components/search-form.svelte
  packages/web-components/src/search-widget/client/core/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/search-widget/client/core/__tests__/store.ts
  packages/web-components/src/search-widget/client/core/store.ts
  packages/web-components/src/search-widget/client/utils/__stubs__/theme.ts
  packages/web-components/src/search-widget/client/utils/__tests__/search-helper.ts
  packages/web-components/src/search-widget/client/utils/search-helper.ts
  packages/web-components/src/search-widget/server/api/get-properties.ts
  packages/web-components/src/viewing-booking/client/core/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/viewing-booking/client/core/__tests__/store.ts
  packages/web-components/src/viewing-booking/client/core/store.ts
Labels: demo-site, web-components

#1092 fix: #1065 fix loading chunk fail
  .github/workflows/purge-unused-assets-cronjob.yml
  package.json
  packages/aml-checklist/package.json
  packages/aml-checklist/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/aml-checklist/src/core/app.tsx
  packages/aml-checklist/src/core/index.tsx
  packages/elements/src/components/ToastMessage/index.tsx
  packages/elements/src/hooks/use-offline-plugin/__tests__/use-offline-plugin.tsx
  packages/elements/src/hooks/use-offline-plugin/index.ts
  packages/elements/src/hooks/use-offline-plugin/use-offline-plugin.tsx
  packages/elements/src/index.tsx
  packages/geo-diary/package.json
  packages/geo-diary/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/geo-diary/src/core/app.tsx
  packages/geo-diary/src/core/index.tsx
  packages/lifetime-legal/package.json
  packages/lifetime-legal/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/lifetime-legal/src/core/app.tsx
  packages/lifetime-legal/src/core/index.tsx
  packages/marketplace/package.json
  packages/marketplace/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/marketplace/src/core/app.tsx
  packages/marketplace/src/core/index.tsx
  packages/react-app-scaffolder/app/templates/base-is-not-sass/src/scripts/webpack-prod.js
  packages/react-app-scaffolder/app/templates/base-is-sass/src/scripts/webpack-prod.js
  packages/smb-onboarder/package.json
  packages/smb-onboarder/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/smb-onboarder/src/core/app.tsx
  packages/smb-onboarder/src/core/index.tsx
  scripts/s3/purge-unused-assets-from-s3.js
  scripts/webpack/webpack.base.prod.js
  yarn.lock
Labels: aml-checklist, elements, geo-diary, lifetime-legal, marketplace, react-app-scaffolder, smb-onboarder

#1095 fix: #693 - increase webhooks page dropdown size, and load developer apps data
  packages/elements/src/components/SelectBox/index.tsx
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-webhooks.tsx.snap
  packages/marketplace/src/components/pages/__tests__/developer-webhooks.tsx
  packages/marketplace/src/components/pages/developer-webhooks.tsx
  packages/marketplace/src/utils/route-dispatcher.ts
  packages/web-components/src/appointment-bookings/client/components/appointment-bookings.svelte
  packages/web-components/src/appointment-bookings/client/core/index.ts
Labels: elements, marketplace, web-components

#1101 fix: #1066 show image 5 for app revision submit
  packages/marketplace/src/sagas/__tests__/submit-revision.ts
  packages/marketplace/src/sagas/submit-revision.ts
Labels: marketplace

#1108 fix: #639 - selectbox styles
  packages/elements/src/components/SelectBox/index.tsx
Labels: elements

#1100 fix: #1051 remove agencycloud link geo-diary
  packages/geo-diary/src/components/common/appointment-detail/appointment-detail.tsx
Labels: geo-diary

#1099 fix: #1046 Updates required to the Book a Valuation first step modal
  packages/graphql-server/src/schema.graphql
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/appointment-bookings.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/__tests__/__snapshots__/form-step1.test.ts.snap
  packages/web-components/src/appointment-bookings/client/components/appointment-bookings.svelte
  packages/web-components/src/appointment-bookings/client/components/form-step1.svelte
  packages/web-components/src/appointment-bookings/client/core/store/form-store.ts
  packages/web-components/src/appointment-bookings/client/core/theme.ts
Labels: graphql-server, web-components

#1097 fix: #1072 react scaffolder should use correct api version
  packages/react-app-scaffolder/app/templates/base/src/constants/api.ts
  packages/react-app-scaffolder/package.json
Labels: react-app-scaffolder

#1111 fix: #1067 fix double scroll bar issue
  packages/elements/src/styles/components/layout.scss
  packages/elements/src/styles/vendor/bulma-overrides.scss
Labels: elements

#1115 Feat/1078 create cost explorer section on billing tab
  packages/elements/package.json
  packages/elements/src/components/DatePicker/index.tsx
  packages/elements/src/components/Table/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Table/index.tsx
  packages/elements/src/components/Table/table.stories.tsx
  packages/elements/src/styles/components/table.scss
  packages/elements/src/utils/datetime/datetime.ts
  packages/marketplace/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/consumption-cost-types-table.tsx.snap
  packages/marketplace/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/schedule2.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/__test__/__snapshots__/billing-tab.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/billing-tab.tsx
  packages/marketplace/src/components/ui/analytics/billing/cost-explorer/__test__/__snapshots__/cost-explorer-table.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/cost-explorer/__test__/__snapshots__/cost-explorer.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/cost-explorer/__test__/__snapshots__/cost-filter-form.test.tsx.snap
  packages/marketplace/src/components/ui/analytics/billing/cost-explorer/__test__/cost-explorer-table.test.tsx
  packages/marketplace/src/components/ui/analytics/billing/cost-explorer/__test__/cost-explorer.test.tsx
  packages/marketplace/src/components/ui/analytics/billing/cost-explorer/__test__/cost-filter-form.test.tsx
  packages/marketplace/src/components/ui/analytics/billing/cost-explorer/cost-explorer-table.tsx
  packages/marketplace/src/components/ui/analytics/billing/cost-explorer/cost-explorer.tsx
  packages/marketplace/src/components/ui/analytics/billing/cost-explorer/cost-filter-form.tsx
  packages/marketplace/src/components/ui/analytics/billing/cost-explorer/index.ts
Labels: elements, marketplace, web-components
