Repository reapit/foundations, pull requests merged in 2020-06, with the labels that each got.

#1449 fix: #1381 hotfix on admin routing
  packages/marketplace/src/core/__tests__/private-route.tsx
  packages/marketplace/src/core/private-route.tsx
Labels: marketplace

#1445 fix: #1424 Admin Portal landing page issue
  packages/marketplace/src/components/pages/login.tsx
Labels: marketplace

#1460 chore: #1412 clean up Marketplace jest errors, warnings
  packages/marketplace/src/components/pages/__tests__/register.test.tsx
  packages/marketplace/src/services/__tests__/apps.test.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1399 refactor: #1325 Refactor developer web hooks page using new react-redux hooks
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-webhooks.tsx.snap
  packages/marketplace/src/components/pages/__tests__/developer-webhooks.tsx
  packages/marketplace/src/components/pages/developer-webhooks/__test__/__snapshots__/developer-webhooks.test.tsx.snap
  packages/marketplace/src/components/pages/developer-webhooks/__test__/developer-webhooks.test.tsx
  packages/marketplace/src/components/pages/developer-webhooks/developer-webhooks.tsx
  packages/marketplace/src/components/pages/developer-webhooks/index.ts
  packages/marketplace/src/components/ui/__tests__/__snapshots__/webhook-edit-modal.tsx.snap
  packages/marketplace/src/components/ui/developer-webhooks/__test__/__snapshots__/webhook-edit-modal.test.tsx.snap
  packages/marketplace/src/components/ui/developer-webhooks/__test__/__snapshots__/webhook-test-modal.test.tsx.snap
  packages/marketplace/src/components/ui/developer-webhooks/__test__/webhook-edit-modal.test.tsx
  packages/marketplace/src/components/ui/developer-webhooks/__test__/webhook-test-modal.test.tsx
  packages/marketplace/src/components/ui/developer-webhooks/webhook-edit-modal.tsx
  packages/marketplace/src/components/ui/developer-webhooks/webhook-test-modal.tsx
  packages/marketplace/src/components/ui/webhook-edit-modal.tsx
  packages/marketplace/src/selector/wehooks.ts
Labels: marketplace

#1406 fix: #1391 fix marketplace warning error
  packages/marketplace/src/components/hocs/__tests__/route-fetcher.tsx
  packages/marketplace/src/components/hocs/route-fetcher.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/transaction-history/__test__/__snapshots__/transaction-history.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/transaction-history/transaction-history.tsx
  packages/marketplace/src/components/ui/sandbox-pop-up.tsx
Labels: elements, marketplace

#1469 chore: #1222 Update env variables for appointment planner
  packages/web-components/scripts/start-dev.js
  packages/web-components/src/appointment-planner-component/server/api/__tests__/get-appointment-slots.ts
  packages/web-components/src/appointment-planner-component/server/api/get-appointment-slots.ts
  packages/web-components/src/appointment-planner-component/server/serverless.yml
Labels: web-components

#1473 chore: #1256 Update login with reapit button style
  packages/web-components/src/login-reapit-component/__tests__/__snapshots__/login-reapit-component.test.ts.snap
  packages/web-components/src/login-reapit-component/login-reapit-component.svelte
Labels: web-components

#1470 chore: #1354 Update the confirm uninstall modal style
  packages/marketplace/src/components/ui/app-installations/__tests__/__snapshots__/confirm-uninstall.tsx.snap
  packages/marketplace/src/components/ui/app-installations/confirm-uninstall.tsx
Labels: marketplace

#1386 refactor: #1327 Refactor Admin Dev Management using react-redux hooks
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/elements/src/utils/query-params/query-params.ts
  packages/elements/src/utils/validators/__tests__/validate-object.ts
  packages/elements/src/utils/validators/index.ts
  packages/elements/src/utils/validators/validate-object.ts
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/marketplace/src/components/pages/__tests__/__snapshots__/admin-dev-management.tsx.snap
  packages/marketplace/src/components/pages/__tests__/admin-dev-management.tsx
  packages/marketplace/src/components/pages/admin-dev-management/__tests__/__snapshots__/admin-dev-management.test.tsx.snap
  packages/marketplace/src/components/pages/admin-dev-management/__tests__/admin-dev-management.test.tsx
  packages/marketplace/src/components/pages/admin-dev-management/admin-dev-management.tsx
  packages/marketplace/src/components/pages/admin-dev-management/index.ts
  packages/marketplace/src/selector/__tests__/admin.ts
  packages/marketplace/src/selector/admin.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/smb-onboarder/src/tests/badges/badge-functions.svg
  packages/smb-onboarder/src/tests/badges/badge-lines.svg
  packages/smb-onboarder/src/tests/badges/badge-statements.svg
Labels: aml-checklist, elements, geo-diary, lifetime-legal, marketplace, smb-onboarder

#1433 fix: #1371 filtering-mobile-and-ui-issues-on-browse-apps
  packages/marketplace/src/styles/blocks/categories-list.scss
Labels: marketplace

#1471 fix: #1422 IE bugs fix client portal
  packages/elements/src/components/Tile/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Tile/index.tsx
  packages/marketplace/src/components/pages/installed-apps/__tests__/__snapshots__/installed-apps.test.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-list.tsx.snap
  packages/marketplace/src/components/ui/app-list.tsx
Labels: elements, marketplace

#1407 feat: #1343 invite member via email UI
  packages/marketplace/src/components/ui/developer-invite-member-modal/__tests__/__snapshots__/developer-invite-member-footer.test.tsx.snap
  packages/marketplace/src/components/ui/developer-invite-member-modal/__tests__/__snapshots__/developer-invite-member-modal-input.test.tsx.snap
  packages/marketplace/src/components/ui/developer-invite-member-modal/__tests__/__snapshots__/developer-invite-member-modal.test.tsx.snap
  packages/marketplace/src/components/ui/developer-invite-member-modal/__tests__/developer-invite-member-footer.test.tsx
  packages/marketplace/src/components/ui/developer-invite-member-modal/__tests__/developer-invite-member-modal-input.test.tsx
  packages/marketplace/src/components/ui/developer-invite-member-modal/__tests__/developer-invite-member-modal.test.tsx
  packages/marketplace/src/components/ui/developer-invite-member-modal/__tests__/handlers.test.ts
  packages/marketplace/src/components/ui/developer-invite-member-modal/constants.ts
  packages/marketplace/src/components/ui/developer-invite-member-modal/developer-invite-member-footer.tsx
  packages/marketplace/src/components/ui/developer-invite-member-modal/developer-invite-member-modal-input.tsx
  packages/marketplace/src/components/ui/developer-invite-member-modal/developer-invite-member-modal.tsx
  packages/marketplace/src/components/ui/developer-invite-member-modal/handlers.ts
  packages/marketplace/src/components/ui/developer-invite-member-modal/index.ts
  packages/marketplace/src/styles/blocks/developer-invite-member.scss
  packages/marketplace/src/tests/badges/badge-lines.svg
Labels: marketplace

#1484 fix: #1474 fix Route Fetcher not fetch when switch page
  packages/marketplace/src/components/hocs/route-fetcher.tsx
Labels: marketplace

#1478 chore: #1343 Update confirm uninstall modal style
  packages/marketplace/src/components/ui/app-installations/__tests__/__snapshots__/confirm-uninstall.tsx.snap
  packages/marketplace/src/components/ui/app-installations/confirm-uninstall.tsx
Labels: marketplace

#1462 fix: #1444 - web components coverage badges are broken
  packages/web-components/src/tests/badges/badge-branches.svg
  packages/web-components/src/tests/badges/badge-functions.svg
  packages/web-components/src/tests/badges/badge-lines.svg
  packages/web-components/src/tests/badges/badge-statements.svg
Labels: web-components

#1485 feat: #1416 Create central rest and graphql server client
  packages/graphql-server/src/resolvers/appointments/api.ts
  packages/graphql-server/src/resolvers/areas/api.ts
  packages/graphql-server/src/resolvers/contacts/api.ts
  packages/graphql-server/src/resolvers/identity-checks/api.ts
  packages/graphql-server/src/resolvers/identity-checks/types.graphql
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/schema.graphql
  scripts/api-documentation/api-doc-config.json
Labels: aml-checklist, graphql-server, marketplace, web-components

#1368 feat: #1126 Route to the new standalone app page
  packages/marketplace/src/components/pages/__tests__/developer-home.test.tsx
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/client-app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/client-app-detail.tsx
  packages/marketplace/src/components/pages/client-app-management/__tests__/client-apps-management.test.tsx
  packages/marketplace/src/components/pages/client-app-management/client-apps-management.tsx
  packages/marketplace/src/components/pages/client/__tests__/__snapshots__/client.test.tsx.snap
  packages/marketplace/src/components/pages/client/__tests__/client.test.tsx
  packages/marketplace/src/components/pages/client/client.tsx
  packages/marketplace/src/components/pages/developer-app-detail/developer-app-detail.tsx
  packages/marketplace/src/components/pages/developer-home.tsx
  packages/marketplace/src/styles/pages/client-app-detail.scss
  packages/marketplace/src/styles/pages/developer-app-detail.scss
Labels: aml-checklist, marketplace, web-components

#1490 fix: #1333 create tag and release note dependencies
  .github/workflows/release-note.yml
  .github/workflows/release.yml
  packages/web-components/package.json
  packages/web-components/scripts/release-serverless.js
  scripts/release/release.js
  scripts/release/utils.js
Labels: web-components

#1442 refactor: #1327 refactor Admin Stats using new react-redux hooks
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/geo-diary-v2/src/tests/badges/badge-functions.svg
  packages/geo-diary-v2/src/tests/badges/badge-lines.svg
  packages/geo-diary-v2/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/lifetime-legal/src/tests/badges/badge-functions.svg
  packages/lifetime-legal/src/tests/badges/badge-lines.svg
  packages/lifetime-legal/src/tests/badges/badge-statements.svg
  packages/marketplace/src/actions/admin-stats.ts
  packages/marketplace/src/components/pages/__tests__/__snapshots__/admin-stats.tsx.snap
  packages/marketplace/src/components/pages/__tests__/admin-stats.tsx
  packages/marketplace/src/components/pages/admin-stats/__tests__/__snapshots__/admin-stats.test.tsx.snap
  packages/marketplace/src/components/pages/admin-stats/__tests__/admin-stats.test.tsx
  packages/marketplace/src/components/pages/admin-stats/admin-stats.tsx
  packages/marketplace/src/components/pages/admin-stats/index.ts
  packages/marketplace/src/selector/__tests__/admin.ts
  packages/marketplace/src/selector/admin.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/__tests__/admin-stats.ts
  packages/marketplace/src/utils/admin-stats.ts
  packages/site-builder/src/tests/badges/badge-lines.svg
  packages/site-builder/src/tests/badges/badge-statements.svg
  packages/smb-onboarder/src/tests/badges/badge-functions.svg
  packages/smb-onboarder/src/tests/badges/badge-lines.svg
  packages/smb-onboarder/src/tests/badges/badge-statements.svg
Labels: aml-checklist, geo-diary, lifetime-legal, marketplace

#1513 fix: #1506 pagination for developer management
  packages/marketplace/src/components/pages/admin-dev-management/__tests__/admin-dev-management.test.tsx
  packages/marketplace/src/components/pages/admin-dev-management/admin-dev-management.tsx
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: marketplace

#1431 feat: #1127 As a developer, I should be able to see a preview of my app
  packages/marketplace/src/actions/__tests__/developer.ts
  packages/marketplace/src/actions/developer.ts
  packages/marketplace/src/components/pages/client-app-detail/__test__/client-app-detail.test.tsx
  packages/marketplace/src/components/pages/client-app-detail/client-app-detail.tsx
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/developer-submit-app.test.tsx
  packages/marketplace/src/components/pages/developer-submit-app/developer-submit-app.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/sagas/apps/__test__/apps.test.ts
  packages/marketplace/src/sagas/apps/apps.ts
  packages/marketplace/src/selector/client-app-detail.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: aml-checklist, geo-diary, lifetime-legal, marketplace

#1519 fix: #1422 Fix IE crashing issues due to google-maps-loader
  packages/aml-checklist/src/components/ui/modal/__tests__/__snapshots__/report.tsx.snap
  packages/elements/package.json
  yarn.lock
Labels: aml-checklist, elements

#1498 feat: #1126 Remove old app detail modal code
  package.json
  packages/elements/src/scripts/jest-setup.js
  packages/marketplace/package.json
  packages/marketplace/src/components/pages/client-app-detail-manage/__test__/__snapshots__/client-app-detail-manage.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail-manage/__test__/client-app-detail-manage.test.tsx
  packages/marketplace/src/components/pages/client-app-detail-manage/client-app-detail-manage.tsx
  packages/marketplace/src/components/pages/client-app-detail-manage/index.ts
  packages/marketplace/src/components/pages/client-app-detail/__test__/client-app-detail.test.tsx
  packages/marketplace/src/components/pages/client-app-detail/app-content.tsx
  packages/marketplace/src/components/pages/client-app-detail/client-app-detail.tsx
  packages/marketplace/src/components/pages/client-app-management/__tests__/__snapshots__/client-apps-management.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-management/client-apps-management.tsx
  packages/marketplace/src/components/pages/developer-app-detail/__test__/__snapshots__/aside.test.tsx.snap
  packages/marketplace/src/components/pages/developer-app-detail/__test__/aside.test.tsx
  packages/marketplace/src/components/pages/developer-app-detail/__test__/developer-app-detail.test.tsx
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/app-content/app-content.tsx
  packages/marketplace/src/components/pages/developer-app-detail/aside.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-detail.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/developer-app-modal.tsx.snap
  packages/marketplace/src/components/ui/__tests__/app-detail.tsx
  packages/marketplace/src/components/ui/__tests__/developer-app-modal.tsx
  packages/marketplace/src/components/ui/app-detail-modal/__tests__/__snapshots__/app-detail-inner.tsx.snap
  packages/marketplace/src/components/ui/app-detail-modal/__tests__/__snapshots__/app-detail-modal.tsx.snap
  packages/marketplace/src/components/ui/app-detail-modal/__tests__/app-detail-async-container.tsx
  packages/marketplace/src/components/ui/app-detail-modal/__tests__/app-detail-inner.tsx
  packages/marketplace/src/components/ui/app-detail-modal/__tests__/app-detail-modal.tsx
  packages/marketplace/src/components/ui/app-detail-modal/app-detail-async-container.tsx
  packages/marketplace/src/components/ui/app-detail-modal/app-detail-inner.tsx
  packages/marketplace/src/components/ui/app-detail-modal/app-detail-modal.tsx
  packages/marketplace/src/components/ui/app-detail-modal/index.ts
  packages/marketplace/src/components/ui/app-detail.tsx
  packages/marketplace/src/components/ui/app-detail/app-content/__test__/__snapshots__/app-content.test.tsx.snap
  packages/marketplace/src/components/ui/app-detail/app-content/__test__/app-content.test.tsx
  packages/marketplace/src/components/ui/app-detail/app-content/app-content.tsx
  packages/marketplace/src/components/ui/app-detail/app-content/index.ts
  packages/marketplace/src/components/ui/app-detail/app-header/__test__/__snapshots__/app-header.test.tsx.snap
  packages/marketplace/src/components/ui/app-detail/app-header/__test__/app-header.test.tsx
  packages/marketplace/src/components/ui/app-detail/app-header/app-header.tsx
  packages/marketplace/src/components/ui/app-detail/app-header/index.ts
  packages/marketplace/src/components/ui/developer-app-modal.tsx
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/styles/elements/carousel.scss
  packages/marketplace/src/styles/vendor/slick.scss
  yarn.lock
Labels: elements, marketplace

#1510 fix: #1493 All apps are duplicated in many pages
  packages/marketplace/src/sagas/__tests__/admin-apps.ts
  packages/marketplace/src/sagas/admin-apps.ts
  packages/marketplace/src/tests/badges/badge-lines.svg
Labels: marketplace

#1501 fix: #1393 fixes rollup config for elements so linaria styles are exported
  packages/cognito-auth/jest.config.js
  packages/cognito-auth/package.json
  packages/cognito-auth/tsdx.config.js
  packages/elements/jest.config.js
  packages/elements/package.json
  packages/elements/rollup.config.js
  packages/elements/src/index.tsx
  packages/elements/tsdx.config.js
  yarn.lock
Labels: cognito-auth, elements

#1522 fix: #1425 AML App mobile and IE fixing
  packages/aml-checklist/src/styles/pages/checklist-detail.scss
  packages/elements/src/styles/components/table.scss
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: aml-checklist, elements, marketplace

#1461 fix: #1316 Update to Demo Site Search Widget
  packages/elements/src/styles/components/form.scss
  packages/web-components/src/book-valuation-widget/client/components/__tests__/__snapshots__/book-valuation-widget.test.ts.snap
  packages/web-components/src/book-valuation-widget/client/components/book-valuation-widget.svelte
  packages/web-components/src/book-valuation-widget/client/core/__tests__/__snapshots__/index.test.ts.snap
  packages/web-components/src/book-viewing-widget/client/core/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/book-viewing-widget/client/core/__tests__/store.ts
  packages/web-components/src/book-viewing-widget/client/core/store.ts
  packages/web-components/src/common/styles/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/common/styles/theme.ts
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/search-form.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/search-widget.ts.snap
  packages/web-components/src/search-widget/client/components/search-form.svelte
  packages/web-components/src/search-widget/client/core/__tests__/__snapshots__/index.ts.snap
  packages/web-components/src/search-widget/client/core/__tests__/store.ts
  packages/web-components/src/search-widget/client/core/store.ts
Labels: elements, web-components

#1530 chore: #1393 bump elements version to release
  packages/elements/package.json
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: elements, marketplace

#1521 fix: #1494 #1497 fix some validate bugs on submit app page
  packages/elements/src/components/ImageInput/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/ImageInput/index.tsx
  packages/elements/src/utils/validators/validate-require.ts
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/general-information-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/general-information-section.tsx
Labels: elements, marketplace

#1515 fix: #1491 Should have a clear message when cannot create a new app
  packages/marketplace/src/services/apps.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1548 chore: #1127 disabled preview button when submit new app
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/developer-submit-app.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/web-components/src/common/styles/theme.ts
Labels: marketplace, web-components

#1525 feat: #1463 Create modal to display App contact details
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/app-content.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/aside.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/client-app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/contact-developer-section.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/__test__/contact-developer-section.tsx
  packages/marketplace/src/components/pages/client-app-detail/app-content.tsx
  packages/marketplace/src/components/pages/client-app-detail/aside.tsx
  packages/marketplace/src/components/pages/client-app-detail/client-app-detail.tsx
  packages/marketplace/src/components/pages/client-app-detail/contact-developer-section.tsx
  packages/marketplace/src/components/pages/client-app-detail/reuse.tsx
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/render-with-header.tsx
  packages/marketplace/src/styles/pages/client-app-detail.scss
Labels: marketplace

#1535 chore: #1414 #1488 #1413 #1412 tidy app errors
  packages/aml-checklist/src/sagas/__tests__/checklist-detail.ts
  packages/aml-checklist/src/sagas/__tests__/identity-types.ts
  packages/aml-checklist/src/sagas/__tests__/result.ts
  packages/elements/src/components/FileInput/__tests__/index.tsx
  packages/geo-diary/src/components/common/appointment-detail/__tests__/__snapshots__/appointment-detail.tsx.snap
  packages/geo-diary/src/components/common/appointment-detail/appointment-detail.tsx
  packages/geo-diary/src/sagas/__tests__/appointment-detail.ts
  packages/geo-diary/src/sagas/__tests__/appointments.ts
  packages/geo-diary/src/sagas/__tests__/auth.ts
  packages/geo-diary/src/sagas/__tests__/home.ts
  packages/geo-diary/src/sagas/next-appointment.ts
  packages/marketplace/src/sagas/__tests__/admin-approvals.ts
  packages/marketplace/src/sagas/__tests__/admin-apps.ts
  packages/marketplace/src/sagas/__tests__/admin-stats.ts
  packages/marketplace/src/sagas/__tests__/app-delete.ts
  packages/marketplace/src/sagas/__tests__/app-detail.ts
  packages/marketplace/src/sagas/__tests__/app-http-traffic-event.ts
  packages/marketplace/src/sagas/__tests__/app-installations.ts
  packages/marketplace/src/sagas/__tests__/app-usage-stats.ts
  packages/marketplace/src/sagas/__tests__/client.ts
  packages/marketplace/src/sagas/__tests__/developer.ts
  packages/marketplace/src/sagas/__tests__/installed-apps.ts
  packages/marketplace/src/sagas/__tests__/my-apps.ts
  packages/marketplace/src/sagas/__tests__/revision-detail.ts
  packages/marketplace/src/sagas/__tests__/revisions.ts
  packages/marketplace/src/sagas/__tests__/settings.ts
  packages/marketplace/src/sagas/__tests__/submit-app.ts
  packages/marketplace/src/sagas/__tests__/web-component.ts
  packages/marketplace/src/sagas/__tests__/webhook-edit-modal.ts
  packages/marketplace/src/sagas/__tests__/webhook-subscriptions.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: aml-checklist, elements, geo-diary, marketplace

#1556 feat: #1509 Remove params on pagination
  packages/marketplace/src/components/pages/client-app-management/__tests__/client-apps-management.test.tsx
  packages/marketplace/src/components/pages/client-app-management/client-apps-management.tsx
  packages/marketplace/src/components/pages/installed-apps/__tests__/installed-apps.test.tsx
  packages/marketplace/src/components/pages/installed-apps/installed-apps.tsx
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/utils/__tests__/route-dispatcher.ts
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: marketplace

#1558 fix: #1467 Developer standalone apps should be mobile responsive
  packages/marketplace/package.json
  packages/marketplace/src/components/hooks/useReactResponsive.tsx
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/client-app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/client-app-detail.tsx
  packages/marketplace/src/components/pages/developer-app-detail/__test__/__snapshots__/aside.test.tsx.snap
  packages/marketplace/src/components/pages/developer-app-detail/__test__/aside.test.tsx
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/__test__/__snapshots__/app-content.test.tsx.snap
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/__test__/app-content.test.tsx
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/app-content/app-content.tsx
  packages/marketplace/src/components/pages/developer-app-detail/aside.tsx
  packages/marketplace/src/components/pages/developer-app-detail/developer-app-detail.tsx
  packages/marketplace/src/components/ui/developer-app-detail/__test__/__snapshots__/app-header.test.tsx.snap
  packages/marketplace/src/components/ui/developer-app-detail/__test__/app-header.test.tsx
  packages/marketplace/src/components/ui/developer-app-detail/app-header.tsx
  packages/marketplace/src/styles/base/screen-size.scss
  packages/marketplace/src/styles/blocks/standalone-app-detail.scss
  packages/marketplace/src/styles/pages/client-app-detail.scss
  packages/marketplace/src/styles/pages/developer-app-detail.scss
  yarn.lock
Labels: marketplace

#1559 fix: #1421 fix developer portal UI bugs
  packages/elements/src/styles/vendor/bulma-overrides.scss
  packages/marketplace/src/components/pages/api-docs.tsx
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/developer-submit-app.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/unsupport-brower.tsx.snap
  packages/marketplace/src/components/ui/__tests__/unsupport-brower.tsx
  packages/marketplace/src/components/ui/unsupport-brower.tsx
  packages/marketplace/src/styles/pages/developer-submit-app.scss
  packages/marketplace/src/utils/__tests__/brower.ts
  packages/marketplace/src/utils/brower.ts
Labels: elements, marketplace

#1563 fix: #1562 ties swagger ui to 3.24.3 to fix broken dev
  packages/marketplace/package.json
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  yarn.lock
Labels: marketplace

#1564 fix: #1425 update button in mobile
  packages/aml-checklist/src/components/ui/modal/__tests__/__snapshots__/update-status.tsx.snap
  packages/aml-checklist/src/components/ui/modal/update-status.tsx
  packages/aml-checklist/src/styles/pages/checklist-detail.scss
Labels: aml-checklist

#1568 chore: hide web-component config button
  packages/marketplace/src/components/pages/client-app-detail/aside.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
Labels: marketplace

#1566 chore: #1504 update T&C text
  packages/marketplace/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/consumption-cost-types-table.tsx.snap
  packages/marketplace/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/schedule2.tsx.snap
  packages/marketplace/src/components/ui/terms-and-conditions-modal/consumption-cost-types-table.tsx
Labels: marketplace

#1569 fix: #1333 remove delete script in pipeline
  packages/graphql-server/package.json
  scripts/release/release-dev.js
  scripts/release/utils.js
Labels: graphql-server

#1571 fix: #1467 Update standalone apps mobile layout for developer and client portal
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/client-app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/client-app-detail.tsx
  packages/marketplace/src/components/ui/client-app-detail/__test__/__snapshots__/client-app-header.test.tsx.snap
  packages/marketplace/src/components/ui/client-app-detail/client-app-header.tsx
  packages/marketplace/src/components/ui/developer-app-detail/__test__/__snapshots__/app-header.test.tsx.snap
  packages/marketplace/src/components/ui/developer-app-detail/app-header.tsx
  packages/marketplace/src/styles/blocks/client-app-header.scss
  packages/marketplace/src/styles/blocks/standalone-app-detail.scss
  packages/marketplace/src/styles/pages/client-app-detail.scss
  packages/marketplace/src/styles/pages/developer-app-detail.scss
Labels: marketplace

#1567 fix: #1509 pagination problem on developer app page
  packages/marketplace/src/components/pages/__tests__/developer-home.test.tsx
  packages/marketplace/src/components/pages/developer-home.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: marketplace

#1573 feat: #1127 preview app from app details page
  packages/marketplace/src/components/pages/client-app-detail/__test__/client-app-detail.test.tsx
  packages/marketplace/src/components/pages/client-app-detail/client-app-detail.tsx
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/__test__/__snapshots__/app-content.test.tsx.snap
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/__test__/app-content.test.tsx
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/app-content/app-content.tsx
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
Labels: marketplace

#1574 fix: #1343 integrate invite new member UI into developer setting tab
  packages/marketplace/src/components/pages/settings/developer-settings-organisation-tab/__tests__/__snapshots__/developer-settings-organisation-tab.tsx.snap
  packages/marketplace/src/components/pages/settings/developer-settings-organisation-tab/__tests__/developer-settings-organisation-tab.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-organisation-tab/developer-settings-organisation-tab.tsx
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1576 fix: #1468 Fix client standalone app page title issues
  packages/marketplace/src/styles/blocks/client-app-header.scss
Labels: marketplace

#1572 chore: #1499 Move contact developer button above back to apps button
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/app-content.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/client-app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/app-content.tsx
  packages/marketplace/src/components/pages/client-app-detail/client-app-detail.tsx
Labels: marketplace

#1589 fix: #1518 description stretching with long text
  packages/elements/src/styles/vendor/pell.scss
  packages/marketplace/src/components/pages/developer-submit-app/general-information-section.tsx
  packages/marketplace/src/styles/pages/developer-submit-app.scss
Labels: elements, marketplace

#1583 fix: #1554 app name missing on delete modal
  packages/marketplace/src/components/pages/developer-app-detail/__test__/__snapshots__/aside.test.tsx.snap
  packages/marketplace/src/components/pages/developer-app-detail/__test__/aside.test.tsx
  packages/marketplace/src/components/pages/developer-app-detail/app-detail/app-content/app-content.tsx
  packages/marketplace/src/components/pages/developer-app-detail/aside.tsx
  packages/marketplace/src/components/pages/developer-app-detail/developer-app-detail.tsx
Labels: marketplace

#1610 fix: #1127 add categories data to preview
  packages/marketplace/src/components/pages/developer-submit-app/__test__/developer-submit-app.test.tsx
  packages/marketplace/src/components/pages/developer-submit-app/developer-submit-app.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1590 fix: widget search css
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/search-form.ts.snap
  packages/web-components/src/search-widget/client/components/__tests__/__snapshots__/search-widget.ts.snap
  packages/web-components/src/search-widget/client/components/search-form.svelte
Labels: web-components

#1607 fix: #1592 - page register on field fullname validate
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/utils/form/__tests__/register.ts
  packages/marketplace/src/utils/form/register.ts
Labels: marketplace

#1611 chore: #1496 validate telephone field
  packages/marketplace/src/utils/__tests__/validate.ts
  packages/marketplace/src/utils/form/__tests__/submit-app.ts
  packages/marketplace/src/utils/form/submit-app.ts
  packages/marketplace/src/utils/validate.ts
Labels: marketplace

#1587 fix: #1516 - description field in diff editor
  packages/marketplace/src/styles/blocks/diff-render-html.scss
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1613 chore: #1553 number order column should display on one line
  packages/marketplace/src/components/pages/admin-dev-management/admin-dev-management.tsx
Labels: marketplace

#1612 fix: #1579 Desktop bugs on standalone app page
  packages/marketplace/src/components/pages/client-app-detail/__test__/__snapshots__/client-app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/client-app-detail/client-app-detail.tsx
  packages/marketplace/src/components/pages/login.tsx
  packages/marketplace/src/components/ui/client-app-detail/__test__/client-app-install-confirmation.test.tsx
  packages/marketplace/src/components/ui/client-app-detail/__test__/client-app-uninstall-confirmation.test.tsx
  packages/marketplace/src/components/ui/client-app-detail/client-app-install-confirmation.tsx
  packages/marketplace/src/components/ui/client-app-detail/client-app-uninstall-confirmation.tsx
  packages/marketplace/src/selector/__tests__/auth.ts
  packages/marketplace/src/selector/auth.ts
  packages/marketplace/src/utils/__tests__/router-helper.test.ts
  packages/marketplace/src/utils/auth-route.ts
  packages/marketplace/src/utils/mock-helper.ts
  packages/marketplace/src/utils/router-helper.ts
Labels: marketplace

#1615 fix: #1595 - bug select field type integration page app submit developer
  packages/elements/src/components/DropdownSelect/index.tsx
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/agency-cloud-integration-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/agency-cloud-integration-section.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: elements, marketplace

#1617 fix: #1593 register full name should be filter input values
  packages/marketplace/src/utils/__tests__/validate.ts
  packages/marketplace/src/utils/form/__tests__/register.ts
  packages/marketplace/src/utils/form/register.ts
  packages/marketplace/src/utils/validate.ts
Labels: marketplace

#1618 chore: #1343 update subtitle - developer invite modal
  packages/marketplace/src/components/ui/developer-invite-member-modal/developer-invite-member-modal.tsx
  packages/marketplace/src/styles/blocks/developer-invite-member.scss
Labels: marketplace

#1622 fix: #1587 - list white css purify to class render diff add
  packages/elements/purify-options.js
  packages/marketplace/src/components/ui/diff-render-html.tsx
  packages/marketplace/src/styles/blocks/diff-render-html.scss
Labels: elements, marketplace

#1570 feat: #1420 - applications node for reporting error and logging
  package.json
  packages/graphql-server/.sentryclirc
  packages/graphql-server/jest.config.js
  packages/graphql-server/package.json
  packages/graphql-server/serverless.yml
  packages/graphql-server/src/app.ts
  packages/graphql-server/src/index.ts
  packages/graphql-server/src/logger/logger.ts
  packages/graphql-server/src/tests/badges/badge-branches.svg
  packages/graphql-server/src/tests/badges/badge-functions.svg
  packages/graphql-server/src/tests/badges/badge-lines.svg
  packages/graphql-server/src/tests/badges/badge-statements.svg
  packages/graphql-server/src/utils/handle-error.ts
  packages/graphql-server/tsconfig.json
  packages/graphql-server/webpack.config.js
  packages/utils/src/node/__tests__/logger.test.ts
  packages/utils/src/node/__tests__/sentry-logger.test.ts
  packages/utils/src/node/index.ts
  packages/utils/src/node/logger.ts
  packages/utils/src/node/sentry-logger.ts
  packages/web-components-config-server/.sentryclirc
  packages/web-components-config-server/jest.config.js
  packages/web-components-config-server/package.json
  packages/web-components-config-server/serverless.yml
  packages/web-components-config-server/src/app.ts
  packages/web-components-config-server/src/logger/logger.ts
  packages/web-components-config-server/src/routes/web-components-config/api.ts
  packages/web-components-config-server/src/routes/web-components-config/web-components-config.ts
  packages/web-components-config-server/src/tests/badges/badge-branches.svg
  packages/web-components-config-server/src/tests/badges/badge-functions.svg
  packages/web-components-config-server/src/tests/badges/badge-lines.svg
  packages/web-components-config-server/src/tests/badges/badge-statements.svg
  packages/web-components-config-server/tsconfig.json
  packages/web-components-config-server/webpack.config.js
  packages/web-components/.sentryclirc
  packages/web-components/jest.config.js
  packages/web-components/package.json
  packages/web-components/scripts/release-serverless.js
  packages/web-components/scripts/start-dev.js
  packages/web-components/src/appointment-planner-component/client/core/store/week-store/__tests__/derrived.test.ts
  packages/web-components/src/appointment-planner-component/server/core/index.ts
  packages/web-components/src/appointment-planner-component/server/core/logger.ts
  packages/web-components/src/appointment-planner-component/server/serverless.yml
  packages/web-components/src/common/utils/__tests__/error-handler.ts
  packages/web-components/src/common/utils/error-handler.ts
  packages/web-components/src/search-widget/client/utils/search-helper.ts
  packages/web-components/src/search-widget/server/api/__tests__/get-properties.ts
  packages/web-components/src/search-widget/server/api/__tests__/get-property-images.ts
  packages/web-components/src/search-widget/server/api/__tests__/get-property.ts
  packages/web-components/src/search-widget/server/api/get-properties.ts
  packages/web-components/src/search-widget/server/api/get-property-images.ts
  packages/web-components/src/search-widget/server/api/get-property.ts
  packages/web-components/src/search-widget/server/core/index.ts
  packages/web-components/src/search-widget/server/core/logger.ts
  packages/web-components/src/search-widget/server/serverless.yml
  packages/web-components/tsconfig.json
  packages/web-components/webpack.config.js
  scripts/release/utils.js
  scripts/utils/get-serverless-env-plugins.js
  yarn.lock
Labels: graphql-server

#1619 fix: #1127 enable preview button from submit app page
  packages/marketplace/src/components/pages/client-app-detail/client-app-detail.tsx
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/developer-submit-app.test.tsx
  packages/marketplace/src/components/pages/developer-submit-app/developer-submit-app.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1614 fix: #1385 apply manage route to client standalone page opened by cli…
  packages/marketplace/src/components/pages/client-app-management/__tests__/client-apps-management.test.tsx
  packages/marketplace/src/components/pages/client-app-management/client-apps-management.tsx
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
Labels: do not merge, marketplace

#1581 fix: #1517 #1495 Should be displayed warning message when enters the space in all search fields
  packages/marketplace/src/components/pages/admin-apps/__tests__/__snapshots__/admin-apps.test.tsx.snap
  packages/marketplace/src/components/pages/admin-apps/__tests__/admin-apps.test.tsx
  packages/marketplace/src/components/pages/admin-apps/admin-apps.tsx
  packages/marketplace/src/components/pages/admin-dev-management/__tests__/admin-dev-management.test.tsx
  packages/marketplace/src/components/pages/admin-dev-management/admin-dev-management.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/admin-dev-management-filter-form.tsx.snap
  packages/marketplace/src/components/ui/admin-dev-management-filter-form.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/__tests__/object.ts
  packages/marketplace/src/utils/object.ts
Labels: marketplace

#1620 fix: #1579 Desktop bugs on standalone app page
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/client-app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/client-app-install-confirmation.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/__tests__/client-app-uninstall-confirmation.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/client-app-detail.tsx
  packages/marketplace/src/components/pages/app-detail/client/client-app-install-confirmation.tsx
  packages/marketplace/src/components/pages/app-detail/client/client-app-uninstall-confirmation.tsx
Labels: marketplace

#1631 fix: #1632 toast doesn't display on IE
  packages/elements/src/styles/components/toast.scss
Labels: elements

#1633 fix: #1393 resolve problem on elements
  packages/elements/src/components/Breadcrumb/index.ts
  packages/elements/src/index.tsx
Labels: elements

#1630 fix: #1520 - field value overflow on marketplace diff viewer
  packages/marketplace/src/styles/blocks/diff-render-html.scss
  packages/marketplace/src/styles/blocks/diff-viewer.scss
Labels: marketplace

#1635 fix: #1421 update unsupported browser popup
  packages/marketplace/src/components/pages/api-docs.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/unsupport-brower-pop-up.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/unsupport-brower.tsx.snap
  packages/marketplace/src/components/ui/__tests__/unsupport-brower-pop-up.tsx
  packages/marketplace/src/components/ui/__tests__/unsupport-brower.tsx
  packages/marketplace/src/components/ui/unsupport-brower-pop-up.tsx
  packages/marketplace/src/components/ui/unsupport-brower.tsx
Labels: marketplace

#1637 fix: #1243 Show email address has already been registered on register…
  packages/marketplace/src/sagas/developer.ts
  packages/marketplace/src/services/developers.ts
Labels: marketplace

#1634 fix: #1627 - trim text before validate empty for fields company name, telephone in register page
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/form/__tests__/register.ts
  packages/marketplace/src/utils/form/register.ts
Labels: marketplace

#1638 fix: #1585 fixed integration types
  packages/elements/src/components/DropdownSelect/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/DropdownSelect/index.tsx
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/agency-cloud-integration-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/agency-cloud-integration-section.tsx
  packages/marketplace/src/components/ui/web-component-config-modal/__test__/__snapshots__/config-modal-inner.test.tsx.snap
Labels: elements, marketplace

#1639 fix: #1554 app name missing on delete modal
  packages/marketplace/src/components/pages/app-detail/developer/developer-manage-app.tsx
Labels: marketplace

#1643 fix: #1421 Developer Portal Browser Testing
  packages/marketplace/src/components/pages/api-docs.tsx
  packages/marketplace/src/components/ui/__tests__/unsupport-brower-pop-up.tsx
  packages/marketplace/src/components/ui/unsupport-brower-pop-up.tsx
  packages/marketplace/src/components/ui/unsupport-browser-pop-up.tsx
  packages/marketplace/src/styles/blocks/sandbox-pop-up.scss
  packages/marketplace/src/utils/__tests__/browser.ts
  packages/marketplace/src/utils/browser.ts
Labels: marketplace

#1625 fix: #1287 migrate to serverless offline for graphql server and add automation for graphql server
  package.json
  packages/cloud-alert/cypress.json
  packages/cloud-alert/cypress/integration/appointment-planner-component.test.ts
  packages/cloud-alert/cypress/integration/graphql-server.test.ts
  packages/cloud-alert/cypress/integration/search-widget.test.ts
  packages/cloud-alert/cypress/integration/web-components-config-server.test.ts
  packages/graphql-server/nodemon.json
  packages/graphql-server/package.json
  packages/graphql-server/serverless.yml
  packages/graphql-server/src/__mocks__/context.ts
  packages/graphql-server/src/__tests__/app.test.ts
  packages/graphql-server/src/__tests__/index.test.ts
  packages/graphql-server/src/app.ts
  packages/graphql-server/src/errors/__tests__/errors.test.ts
  packages/graphql-server/src/errors/errors.ts
  packages/graphql-server/src/index.ts
  packages/graphql-server/src/logger/logger.ts
  packages/graphql-server/src/resolvers/appointments/api.ts
  packages/graphql-server/src/resolvers/appointments/appointments.d.ts
  packages/graphql-server/src/resolvers/appointments/resolvers.ts
  packages/graphql-server/src/resolvers/appointments/services.ts
  packages/graphql-server/src/resolvers/areas/api.ts
  packages/graphql-server/src/resolvers/areas/areas.d.ts
  packages/graphql-server/src/resolvers/areas/resolvers.ts
  packages/graphql-server/src/resolvers/areas/services.ts
  packages/graphql-server/src/resolvers/configurations/api.ts
  packages/graphql-server/src/resolvers/configurations/configurations.d.ts
  packages/graphql-server/src/resolvers/configurations/resolver.ts
  packages/graphql-server/src/resolvers/configurations/services.ts
  packages/graphql-server/src/resolvers/contacts/api.ts
  packages/graphql-server/src/resolvers/contacts/contacts.d.ts
  packages/graphql-server/src/resolvers/contacts/resolvers.ts
  packages/graphql-server/src/resolvers/contacts/services.ts
  packages/graphql-server/src/resolvers/identity-checks/api.ts
  packages/graphql-server/src/resolvers/identity-checks/identity-checks.d.ts
  packages/graphql-server/src/resolvers/identity-checks/resolvers.ts
  packages/graphql-server/src/resolvers/identity-checks/services.ts
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/resolvers/negotiators/api.ts
  packages/graphql-server/src/resolvers/negotiators/negotiators.d.ts
  packages/graphql-server/src/resolvers/negotiators/resolvers.ts
  packages/graphql-server/src/resolvers/negotiators/services.ts
  packages/graphql-server/src/resolvers/offices/api.ts
  packages/graphql-server/src/resolvers/offices/offices.d.ts
  packages/graphql-server/src/resolvers/offices/resolvers.ts
  packages/graphql-server/src/resolvers/offices/services.ts
  packages/graphql-server/src/resolvers/properties/api.ts
  packages/graphql-server/src/resolvers/properties/properties.d.ts
  packages/graphql-server/src/resolvers/properties/resolvers.ts
  packages/graphql-server/src/resolvers/properties/services.ts
  packages/graphql-server/src/utils/check-permission.ts
  packages/graphql-server/src/utils/handle-error.ts
  packages/graphql-server/webpack.config.js
  packages/web-components-config-server/package.json
  scripts/api-documentation/api-doc-config.json
  yarn.lock
Labels: graphql-server

#1647 fix: #1641 display all apps infomation in admin apps
  packages/marketplace/src/components/pages/admin-apps/__tests__/__snapshots__/admin-apps.test.tsx.snap
  packages/marketplace/src/components/pages/admin-apps/__tests__/admin-apps.test.tsx
  packages/marketplace/src/components/pages/admin-apps/admin-apps.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1651 fix: #1628 validate telephone number for developer register form
  packages/marketplace/src/utils/form/__tests__/register.ts
  packages/marketplace/src/utils/form/register.ts
Labels: marketplace

#1650 fix: #1528 unable to submit private app without customer id
  packages/marketplace/src/utils/form/submit-app.ts
Labels: marketplace

#1655 fix: #1580 add required label for text area and text description
  packages/elements/src/components/TextArea/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/TextArea/__tests__/index.tsx
  packages/elements/src/components/TextArea/index.tsx
  packages/elements/src/components/TextAreaEditor/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/TextAreaEditor/__tests__/index.tsx
  packages/elements/src/components/TextAreaEditor/index.tsx
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/general-information-section.test.tsx.snap
Labels: elements, marketplace

#1656 fix: #1580 submit app should have asterisk required field
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/authentication-flow-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/general-information-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/permission-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/redirect-uri-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/upload-image-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/authentication-flow-section.tsx
  packages/marketplace/src/components/pages/developer-submit-app/general-information-section.tsx
  packages/marketplace/src/components/pages/developer-submit-app/permission-section.tsx
  packages/marketplace/src/components/pages/developer-submit-app/redirect-uri-section.tsx
  packages/marketplace/src/components/pages/developer-submit-app/upload-image-section.tsx
Labels: marketplace

#1658 fix: #1649 App preview should have default placeholder for App Icon
  packages/marketplace/src/assets/images/default-app-icon.jpg
  packages/marketplace/src/assets/images/default-feature-image.jpg
  packages/marketplace/src/components/pages/app-detail/common/ui-app-header.tsx
  packages/marketplace/src/tests/badges/badge-lines.svg
Labels: marketplace

#1664 fix: #1594 avoid click outside label to focus input
  packages/elements/src/components/Input/index.tsx
  packages/elements/src/styles/base/utilities.scss
  packages/marketplace/src/components/pages/__tests__/__snapshots__/register.test.tsx.snap
  packages/marketplace/src/components/pages/admin-apps/__tests__/__snapshots__/admin-apps.test.tsx.snap
  packages/marketplace/src/components/pages/admin-dev-management/__tests__/__snapshots__/admin-dev-management.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/general-information-section.test.tsx.snap
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: elements, marketplace

#1659 fix: #1421 fix logout button doesnt display in IE
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/client-setting.tsx.snap
  packages/marketplace/src/components/pages/settings/client-setting.tsx
  packages/marketplace/src/components/pages/settings/developer-settings/forms/forms.tsx
Labels: marketplace

#1667 chore: #1393 bump version numbers of NPM packages to release
  packages/cognito-auth/package.json
  packages/elements/package.json
  packages/react-app-scaffolder/package.json
  packages/web-components/package.json
Labels: cognito-auth, elements, react-app-scaffolder, web-components

#1673 fix: #1584 result must return correctly
  package.json
  packages/aml-checklist/src/components/pages/__tests__/__snapshots__/client-search.tsx.snap
  packages/aml-checklist/src/components/pages/client-search.tsx
  packages/aml-checklist/src/sagas/__tests__/result.ts
  packages/aml-checklist/src/sagas/result.ts
  packages/aml-checklist/src/utils/__tests__/query-params.ts
  packages/aml-checklist/src/utils/query-params.ts
  packages/deploy-slack-bot/src/index.ts
  packages/elements/src/utils/validators/__tests__/validate-text-and-number-only.ts
  packages/elements/src/utils/validators/index.ts
  packages/elements/src/utils/validators/validate-text-and-number.ts
  yarn.lock
Labels: aml-checklist, elements

#1671 fix: #1657 Standalone apps pages ui broken on ie11
  packages/elements/src/styles/base/browser.scss
  packages/elements/src/styles/base/global.scss
  packages/elements/src/styles/components/help-guide.scss
  packages/elements/src/styles/vendor/bulma-overrides.scss
  packages/marketplace/src/components/pages/app-detail/common/__tests__/__snapshots__/ui-app-header.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/common/__tests__/__snapshots__/ui-sections.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/common/ui-app-header.tsx
  packages/marketplace/src/components/pages/app-detail/common/ui-sections.tsx
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/client-setting.tsx.snap
  packages/marketplace/src/components/pages/settings/client-setting.tsx
  packages/marketplace/src/components/pages/settings/developer-settings/forms/forms.tsx
  packages/marketplace/src/styles/base/browser.scss
  packages/marketplace/src/styles/blocks/standalone-app-detail.scss
  packages/marketplace/src/styles/pages/help.scss
Labels: elements, marketplace

#1678 chore: update yarn lock
  packages/elements/src/components/Spreadsheet/utils.tsx
  yarn.lock
Labels: elements

#1648 chore: #1646 admin portal update
  packages/marketplace/src/components/pages/admin-apps/admin-apps.tsx
  packages/marketplace/src/components/pages/admin-dev-management/admin-dev-management.tsx
Labels: do not merge, marketplace

#1675 fix: #1628 should not allow fill text in telephone field
  packages/marketplace/src/components/pages/settings/developer-settings/forms/__tests__/contact-information-form.test.tsx
  packages/marketplace/src/components/pages/settings/developer-settings/forms/contact-information-form.tsx
Labels: marketplace

#1688 fix: #1580 remove validate required for category field in submit app
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/general-information-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/general-information-section.tsx
Labels: marketplace

#1674 fix: #1591 Upload file button issues in AML checklist
  packages/aml-checklist/src/components/ui/forms/__tests__/__snapshots__/identification.tsx.snap
  packages/aml-checklist/src/components/ui/forms/identification.tsx
  packages/elements/src/components/CameraImageInput/index.tsx
  packages/elements/src/components/FileInput/index.tsx
  packages/elements/src/styles/vendor/bulma-overrides.scss
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
Labels: aml-checklist, elements, marketplace

#1677 fix: #1555 - input space at first and last position when searching on marketplace
  packages/marketplace/src/components/pages/admin-dev-management/admin-dev-management.tsx
  packages/marketplace/src/components/ui/app-sidebar.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1652 fix: #1420 - flush sentry events of serverless apps
  packages/graphql-server/src/resolvers/appointments/api.ts
  packages/graphql-server/src/resolvers/areas/api.ts
  packages/graphql-server/src/resolvers/configurations/api.ts
  packages/graphql-server/src/resolvers/contacts/api.ts
  packages/graphql-server/src/resolvers/identity-checks/api.ts
  packages/graphql-server/src/resolvers/negotiators/api.ts
  packages/graphql-server/src/resolvers/offices/api.ts
  packages/graphql-server/src/resolvers/properties/api.ts
  packages/graphql-server/src/tests/badges/badge-branches.svg
  packages/graphql-server/src/tests/badges/badge-lines.svg
  packages/graphql-server/src/tests/badges/badge-statements.svg
  packages/graphql-server/src/utils/__tests__/handle-error.test.ts
  packages/graphql-server/src/utils/handle-error.ts
  packages/react-app-scaffolder/app/templates/_package.json
  packages/utils/src/node/__tests__/sentry-logger.test.ts
  packages/utils/src/node/sentry-logger.ts
  packages/utils/src/object.ts
  packages/web-components-config-server/src/app.ts
  packages/web-components-config-server/src/routes/web-components-config/api.ts
  packages/web-components-config-server/src/routes/web-components-config/web-components-config.ts
  packages/web-components-config-server/src/tests/badges/badge-lines.svg
  packages/web-components-config-server/src/tests/badges/badge-statements.svg
  packages/web-components/scripts/release-serverless.js
  packages/web-components/src/appointment-planner-component/server/api/get-appointment-slots.ts
  packages/web-components/src/appointment-planner-component/server/core/index.ts
  packages/web-components/src/common/utils/__tests__/error-handler.ts
  packages/web-components/src/common/utils/error-handler.ts
  packages/web-components/src/search-widget/server/api/get-properties.ts
  packages/web-components/src/search-widget/server/api/get-property-images.ts
  packages/web-components/src/search-widget/server/api/get-property.ts
  packages/web-components/src/search-widget/server/core/index.ts
Labels: graphql-server, marketplace, react-app-scaffolder, web-components

#1636 feat: #1383 - create a new section in the admin portal billing
  packages/marketplace/src/components/pages/admin-billing/__tests__/__snapshots__/admin-billing.test.tsx.snap
  packages/marketplace/src/components/pages/admin-billing/__tests__/admin-billing.test.tsx
  packages/marketplace/src/components/pages/admin-billing/admin-billing.tsx
  packages/marketplace/src/components/pages/admin-billing/index.ts
  packages/marketplace/src/components/ui/menu.tsx
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
Labels: marketplace

#1681 fix: #1577 - geo diary map control displayed incorectly
  packages/geo-diary/src/styles/pages/map.scss
Labels: geo-diary

#1689 fix: #1528 add more description for customer id field
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/redirect-uri-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/redirect-uri-section.tsx
Labels: marketplace

#1691 fix: #1393 ie linaria bug
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/elements/src/v2/src/components/breadcrumb/__tests__/__snapshots__/breadcrumb-item.test.tsx.snap
  packages/elements/src/v2/src/components/breadcrumb/__tests__/__snapshots__/breadcrumb-separator.test.tsx.snap
  packages/elements/src/v2/src/components/breadcrumb/breadcrumb-item.tsx
  packages/elements/src/v2/src/components/breadcrumb/breadcrumb-separator.tsx
  packages/elements/src/v2/src/components/breadcrumb/breadcrumb.tsx
  packages/marketplace/src/constants/iframe-urls.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: aml-checklist, elements, marketplace

#1699 fix: #1629 geo-diary should not zoom to low when no markers
  packages/elements/src/components/Map/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Map/__tests__/index.tsx
  packages/elements/src/components/Map/index.tsx
Labels: elements

#1701 fix: #1676 update web components readme add token to html after start dev
  packages/web-components/scripts/README.md
Labels: web-components

#1654 fix: #1340 - temp fix for developer billing and organisation page navbar type
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/__tests__/__snapshots__/developer-settings-billing-tab.tsx.snap
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/__tests__/developer-settings-billing-tab.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/developer-settings-billing-tab.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-organisation-tab/__tests__/__snapshots__/developer-settings-organisation-tab.tsx.snap
  packages/marketplace/src/components/pages/settings/developer-settings-organisation-tab/__tests__/developer-settings-organisation-tab.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-organisation-tab/developer-settings-organisation-tab.tsx
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1687 fix: #1624 Fix phone number field validation in AML profile modal
  package.json
  packages/aml-checklist/src/components/ui/modal/__tests__/__snapshots__/profile.tsx.snap
  packages/aml-checklist/src/components/ui/modal/profile/__tests__/__snapshots__/profile.tsx.snap
  packages/aml-checklist/src/components/ui/modal/profile/__tests__/profile.tsx
  packages/aml-checklist/src/components/ui/modal/profile/form-schema/form-fields.ts
  packages/aml-checklist/src/components/ui/modal/profile/form-schema/validation-schema.ts
  packages/aml-checklist/src/components/ui/modal/profile/index.ts
  packages/aml-checklist/src/components/ui/modal/profile/profile.tsx
  packages/aml-checklist/src/utils/__tests__/pep-search.ts
  packages/elements/src/index.tsx
  packages/elements/src/types/core.ts
  packages/elements/src/utils/validators/index.ts
  packages/elements/src/utils/validators/regex.ts
  yarn.lock
Labels: aml-checklist, elements

#1707 fix: #1629 set default zoom for maps
  packages/elements/src/components/Map/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Map/__tests__/index.tsx
  packages/elements/src/components/Map/index.tsx
Labels: elements

#1672 fix: #1588 & #1586 AML APP validate check length & valid values
  packages/aml-checklist/package.json
  packages/aml-checklist/src/components/pages/client-search/__tests__/__snapshots__/client-search.tsx.snap
  packages/aml-checklist/src/components/pages/client-search/__tests__/client-search.tsx
  packages/aml-checklist/src/components/pages/client-search/client-search.tsx
  packages/aml-checklist/src/components/pages/client-search/form-schema/form-fields.ts
  packages/aml-checklist/src/components/pages/client-search/form-schema/validation-schema.ts
  packages/aml-checklist/src/components/pages/client-search/index.ts
  packages/aml-checklist/src/components/ui/modal/profile/form-schema/validation-schema.ts
  packages/aml-checklist/src/constants/error-messages.ts
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/elements/src/types/core.ts
  packages/elements/src/utils/validators/regex.ts
Labels: aml-checklist, elements

#1713 fix: #1393 linaria issue on cx
  packages/elements/tsdx.config.js
  packages/marketplace/package.json
  scripts/webpack/exclude-packages.js
  scripts/webpack/webpack.base.prod.js
Labels: elements, marketplace

#1692 fix: #1565 tiny css tweak
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/elements/src/components/Modal/index.tsx
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/client-app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/client-app-uninstall-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/client-contact-developer-modal.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/client-app-install-confirmation.tsx
  packages/marketplace/src/components/pages/app-detail/client/client-app-uninstall-confirmation.tsx
  packages/marketplace/src/components/pages/app-detail/client/client-contact-developer-modal.tsx
  packages/marketplace/src/components/pages/app-detail/common/__tests__/__snapshots__/ui-app-header.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/common/__tests__/__snapshots__/ui-helpers.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/common/__tests__/__snapshots__/ui-sections.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/common/ui-app-header.tsx
  packages/marketplace/src/components/pages/app-detail/common/ui-helpers.tsx
  packages/marketplace/src/components/pages/app-detail/common/ui-sections.tsx
  packages/marketplace/src/components/pages/app-detail/developer/__tests__/__snapshots__/developer-app-content.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/developer/developer-manage-app.tsx
  packages/marketplace/src/styles/blocks/app-authentication-detail.scss
  packages/marketplace/src/styles/blocks/standalone-app-detail.scss
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: aml-checklist, elements, marketplace

#1720 fix: #1624 Only one telephone number is required to save in Profile form
  packages/aml-checklist/src/components/ui/modal/profile/__tests__/__snapshots__/profile.tsx.snap
  packages/aml-checklist/src/components/ui/modal/profile/form-schema/validation-schema.ts
Labels: aml-checklist

#1723 fix: #1657 Fix standalone apps page container position on IE1
  packages/marketplace/src/components/pages/app-detail/client/client-app-detail.tsx
  packages/marketplace/src/components/pages/app-detail/developer/developer-app-detail.tsx
  packages/marketplace/src/styles/blocks/standalone-app-detail.scss
Labels: marketplace

#1696 fix: #1621 upload file should only accept image
  packages/aml-checklist/src/components/ui/forms/__tests__/__snapshots__/identification.tsx.snap
  packages/aml-checklist/src/components/ui/forms/form-schema/form-fields.ts
  packages/aml-checklist/src/components/ui/forms/form-schema/validation-schema.ts
  packages/aml-checklist/src/components/ui/forms/identification.tsx
  packages/aml-checklist/src/components/ui/modal/__tests__/__snapshots__/declaration-and-risk-assessment.tsx.snap
  packages/aml-checklist/src/components/ui/modal/address-information/__tests__/__snapshots__/address-information.tsx.snap
  packages/aml-checklist/src/components/ui/modal/address-information/__tests__/address-information.tsx
  packages/aml-checklist/src/components/ui/modal/address-information/address-information.tsx
  packages/aml-checklist/src/components/ui/modal/address-information/form-schema/form-fields.ts
  packages/aml-checklist/src/components/ui/modal/address-information/form-schema/validation-schema.ts
  packages/aml-checklist/src/components/ui/modal/address-information/index.tsx
  packages/aml-checklist/src/components/ui/modal/declaration-and-risk-assessment/__tests__/__snapshots__/declaration-and-risk-assessment.tsx.snap
  packages/aml-checklist/src/components/ui/modal/declaration-and-risk-assessment/__tests__/declaration-and-risk-assessment.tsx
  packages/aml-checklist/src/components/ui/modal/declaration-and-risk-assessment/declaration-and-risk-assessment.tsx
  packages/aml-checklist/src/components/ui/modal/declaration-and-risk-assessment/form-schema/form-fields.ts
  packages/aml-checklist/src/components/ui/modal/declaration-and-risk-assessment/form-schema/validation-schema.ts
  packages/aml-checklist/src/components/ui/modal/declaration-and-risk-assessment/index.ts
  packages/aml-checklist/src/constants/error-messages.ts
  packages/aml-checklist/src/utils/__tests__/validates.ts
  packages/aml-checklist/src/utils/validates.ts
  packages/elements/src/utils/is-base64/index.ts
Labels: aml-checklist, elements

#1728 fix: #1727 fix Expiry Date field is showed error message when having data in it
  packages/elements/src/utils/validators/validate-require.ts
Labels: elements

#1736 feat: #1703 adds lambda to proxy gitbook
  packages/api-docs-lamda/README.md
  packages/api-docs-lamda/jest.config.js
  packages/api-docs-lamda/package.json
  packages/api-docs-lamda/serverless.yml
  packages/api-docs-lamda/src/__tests__/index.test.ts
  packages/api-docs-lamda/src/index.ts
  packages/api-docs-lamda/tsconfig.json
  packages/api-docs-lamda/webpack.config.js
  packages/marketplace/src/constants/iframe-urls.ts
Labels: marketplace

#1721 feat: #1660 update cost explorer table header text
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/cost-explorer-table.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1722 fix: #1714 update developer registration t and c
  packages/marketplace/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/consumption-cost-types-table.tsx.snap
  packages/marketplace/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/schedule2.tsx.snap
  packages/marketplace/src/components/ui/terms-and-conditions-modal/consumption-cost-types-table.tsx
  packages/marketplace/src/components/ui/terms-and-conditions-modal/term-and-conditions.tsx
Labels: marketplace

#1738 fix: #1727 fix birthday field validation
  packages/aml-checklist/src/components/ui/modal/profile/__tests__/__snapshots__/profile.tsx.snap
  packages/aml-checklist/src/components/ui/modal/profile/form-schema/validation-schema.ts
Labels: aml-checklist

#1725 fix: #1657 preview apps pages UI broken on ie11
  packages/marketplace/src/styles/blocks/standalone-app-detail.scss
Labels: marketplace

#1724 feat: #1715 & #1716 Add "Desktop" to NavBar & Add Developer Edition Modal
  packages/elements/src/components/DropdownSelect/index.tsx
  packages/marketplace/src/components/pages/__tests__/__snapshots__/elements.tsx.snap
  packages/marketplace/src/components/pages/__tests__/elements.tsx
  packages/marketplace/src/components/pages/developer-desktop/__tests__/__snapshots__/developer-desktop.tsx.snap
  packages/marketplace/src/components/pages/developer-desktop/__tests__/developer-desktop.tsx
  packages/marketplace/src/components/pages/developer-desktop/developer-desktop.tsx
  packages/marketplace/src/components/pages/developer-desktop/index.ts
  packages/marketplace/src/components/pages/elements.tsx
  packages/marketplace/src/components/ui/developer-edition-modal/__tests__/__snapshots__/developer-edition-modal-form-content.tsx.snap
  packages/marketplace/src/components/ui/developer-edition-modal/__tests__/__snapshots__/developer-edition-modal-sub-title.tsx.snap
  packages/marketplace/src/components/ui/developer-edition-modal/__tests__/__snapshots__/developer-edition-modal.tsx.snap
  packages/marketplace/src/components/ui/developer-edition-modal/__tests__/developer-edition-modal-form-content.tsx
  packages/marketplace/src/components/ui/developer-edition-modal/__tests__/developer-edition-modal-sub-title.tsx
  packages/marketplace/src/components/ui/developer-edition-modal/__tests__/developer-edition-modal.tsx
  packages/marketplace/src/components/ui/developer-edition-modal/developer-edition-modal-form-content.tsx
  packages/marketplace/src/components/ui/developer-edition-modal/developer-edition-modal-sub-title.tsx
  packages/marketplace/src/components/ui/developer-edition-modal/developer-edition-modal.tsx
  packages/marketplace/src/components/ui/developer-edition-modal/form-fields.ts
  packages/marketplace/src/components/ui/developer-edition-modal/handlers.ts
  packages/marketplace/src/components/ui/developer-edition-modal/index.ts
  packages/marketplace/src/components/ui/menu.tsx
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/styles/blocks/developer-edition-modal.scss
  packages/marketplace/src/styles/pages/developer-desktop.scss
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: elements, marketplace

#1745 feat: #1349 Create UI for billing tab in settings page
  packages/elements/package.json
  packages/elements/src/components/RadioSelect/index.stories.tsx
  packages/elements/src/components/RadioSelect/index.tsx
  packages/elements/src/types/core.ts
  packages/marketplace/src/components/pages/client/__tests__/__snapshots__/client.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/__tests__/__snapshots__/developer-settings-billing-tab.tsx.snap
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/__tests__/__snapshots__/accounts-information-form.test.tsx.snap
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/__tests__/__snapshots__/contact-information-section.test.tsx.snap
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/__tests__/__snapshots__/direct-debit-section.test.tsx.snap
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/__tests__/__snapshots__/reapit-reference-section.test.tsx.snap
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/__tests__/accounts-information-form.test.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/__tests__/contact-information-section.test.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/__tests__/direct-debit-section.test.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/__tests__/reapit-reference-section.test.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/accounts-information-form.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/contact-information-section.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/direct-debit-section.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/form-schema/form-fields.ts
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/form-schema/validation-schema.ts
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/index.ts
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/reapit-reference-section.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/developer-settings-billing-tab.tsx
  packages/marketplace/src/components/ui/web-component-config-modal/__test__/__snapshots__/config-modal-inner.test.tsx.snap
Labels: elements, marketplace

#1726 fix: #1591 Fix upload button width in address information & declaration risk assessment form
  packages/aml-checklist/src/components/ui/modal/address-information/__tests__/__snapshots__/address-information.tsx.snap
  packages/aml-checklist/src/components/ui/modal/address-information/address-information.tsx
  packages/aml-checklist/src/components/ui/modal/declaration-and-risk-assessment/declaration-and-risk-assessment.tsx
Labels: aml-checklist

#1752 fix: #1751 hotfix to re-add client id on prod
  packages/marketplace/src/components/pages/app-detail/common/__tests__/__snapshots__/ui-sections.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/common/ui-sections.tsx
  packages/marketplace/src/components/pages/app-detail/developer/__tests__/__snapshots__/developer-app-content.test.tsx.snap
  packages/marketplace/src/tests/badges/badge-branches.svg
Labels: marketplace

#1756 fix: #1494 not trim string before validate
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/utils/validators/validate-require.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: aml-checklist, elements, marketplace

#1758 fix: #1593 fix fullname field validation
  packages/marketplace/src/components/pages/settings/developer-settings/forms/__tests__/contact-information-form.test.tsx
  packages/marketplace/src/components/pages/settings/developer-settings/forms/contact-information-form.tsx
  packages/marketplace/src/constants/error-messages.ts
  packages/marketplace/src/utils/form/__tests__/developer-settings-contact-information.ts
  packages/marketplace/src/utils/form/__tests__/register.ts
  packages/marketplace/src/utils/form/developer-settings-contact-information.ts
  packages/marketplace/src/utils/form/register.ts
Labels: marketplace

#1755 refactor: #11325 Refactor admin approval modal using react-redux hooks
  packages/marketplace/src/components/ui/__tests__/__snapshots__/admin-approval-modal.tsx.snap
  packages/marketplace/src/components/ui/__tests__/admin-approval-modal.tsx
  packages/marketplace/src/components/ui/admin-approval-modal.tsx
Labels: marketplace

#1757 feat: #1742 update term and condition tables
  packages/marketplace/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/consumption-cost-methodology-table.tsx.snap
  packages/marketplace/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/schedule2.tsx.snap
  packages/marketplace/src/components/ui/terms-and-conditions-modal/consumption-cost-methodology-table.tsx
  packages/marketplace/src/styles/blocks/consumption-cost-methodology-table.scss
Labels: marketplace

#1764 ci: #1748 improve speed for pipeline
  .github/workflows/check-production-alive-cronjob.yml
  .github/workflows/foundation-ts-definition-cronjob.yml
  .github/workflows/pr-ci.yml
  .github/workflows/release-dev.yml
  .github/workflows/release-note-update.yml
  .github/workflows/release-note.yml
  .github/workflows/release-tag.yml
  .github/workflows/release.yml
  package.json
  packages/aml-checklist/package.json
  packages/cognito-auth/package.json
  packages/cognito-custom-mail-lambda/package.json
  packages/elements/package.json
  packages/geo-diary-v2/package.json
  packages/geo-diary/package.json
  packages/graphql-server/package.json
  packages/lifetime-legal/package.json
  packages/marketplace/package.json
  packages/smb-onboarder/package.json
  packages/utils/package.json
  packages/web-components-config-server/package.json
  packages/web-components/package.json
Labels: aml-checklist, cognito-auth, cognito-custom-mail-lambda, elements, geo-diary, graphql-server, lifetime-legal, marketplace, smb-onboarder, web-components

#1739 feat: #1718 Add a ‘Subscriptions’ table on the ‘Billing’ tab in developers portal
  packages/marketplace/src/actions/developer.ts
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/__tests__/__snapshots__/developer-settings-billing-tab.tsx.snap
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/developer-settings-billing-tab.tsx
  packages/marketplace/src/components/ui/developer-settings/billing/__tests__/__snapshots__/delete-confirm.test.tsx.snap
  packages/marketplace/src/components/ui/developer-settings/billing/__tests__/__snapshots__/subscriptions.test.tsx.snap
  packages/marketplace/src/components/ui/developer-settings/billing/__tests__/delete-confirm.test.tsx
  packages/marketplace/src/components/ui/developer-settings/billing/__tests__/subscriptions.test.tsx
  packages/marketplace/src/components/ui/developer-settings/billing/delete-confirm.tsx
  packages/marketplace/src/components/ui/developer-settings/billing/subscriptions.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/reducers/__stubs__/app-state.ts
  packages/marketplace/src/reducers/__tests__/developer.ts
  packages/marketplace/src/reducers/developer.ts
  packages/marketplace/src/sagas/__stubs__/developer.ts
  packages/marketplace/src/sagas/__tests__/developer-subscriptions.ts
  packages/marketplace/src/sagas/developer-subscriptions.ts
  packages/marketplace/src/selector/__tests__/developer.ts
  packages/marketplace/src/selector/developer.ts
  packages/marketplace/src/services/constants.ts
  packages/marketplace/src/services/subscriptions.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1772 refactor: #1325 Refactor app confirm install using react-redux hooks
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-confirm-install.tsx.snap
  packages/marketplace/src/components/ui/__tests__/app-confirm-install.tsx
  packages/marketplace/src/components/ui/app-confirm-install.tsx
Labels: marketplace

#1773 chore: #1718 update Confirm Cancellation modal title, subtext
  packages/marketplace/src/components/ui/developer-settings/billing/__tests__/__snapshots__/delete-confirm.test.tsx.snap
  packages/marketplace/src/components/ui/developer-settings/billing/__tests__/__snapshots__/subscriptions.test.tsx.snap
  packages/marketplace/src/components/ui/developer-settings/billing/delete-confirm.tsx
  packages/marketplace/src/components/ui/developer-settings/billing/subscriptions.tsx
Labels: marketplace

#1771 refactor: #1325 Refactor app authentication detail using react-redux hooks
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-authentication-detail.test.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-authentication-detail.tsx.snap
  packages/marketplace/src/components/ui/__tests__/app-authentication-detail.test.tsx
  packages/marketplace/src/components/ui/__tests__/app-authentication-detail.tsx
  packages/marketplace/src/components/ui/app-authentication-detail.tsx
  packages/marketplace/src/sagas/__stubs__/app-detail.ts
  packages/marketplace/src/selector/__tests__/app-detail.ts
  packages/marketplace/src/selector/app-detail.ts
Labels: marketplace

#1775 fix: #1748 remove unuse dependencies and add use dependencies to package.json
  packages/aml-checklist/package.json
  packages/api-docs-lamda/package.json
  packages/cognito-auth/package.json
  packages/geo-diary-v2/package.json
  packages/geo-diary/package.json
  packages/graphql-server/package.json
  packages/graphql-server/tsconfig.json
  packages/lifetime-legal/package.json
  packages/marketplace/package.json
  packages/site-builder/package.json
  packages/smb-onboarder/package.json
  packages/web-components-config-server/package.json
  packages/web-components-config-server/tsconfig.json
  packages/web-components/package.json
  packages/web-components/tsconfig.json
  yarn.lock
Labels: aml-checklist, cognito-auth, geo-diary, graphql-server, lifetime-legal, marketplace, smb-onboarder, web-components

#1774 refactor: #1325 Refactor app confirm uninstall using react-redux hooks
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-confirm-uninstall.test.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-confirm-uninstall.tsx.snap
  packages/marketplace/src/components/ui/__tests__/app-confirm-uninstall.test.tsx
  packages/marketplace/src/components/ui/__tests__/app-confirm-uninstall.tsx
  packages/marketplace/src/components/ui/app-confirm-uninstall.tsx
Labels: marketplace

#1781 refactor: #1325 Refactor app delete using react-redux hooks
  packages/marketplace/src/components/pages/admin-apps/__tests__/__snapshots__/admin-apps.test.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-delete.tsx.snap
  packages/marketplace/src/components/ui/__tests__/app-delete.tsx
  packages/marketplace/src/components/ui/app-delete.tsx
  packages/marketplace/src/selector/__tests__/app-delete.test.ts
  packages/marketplace/src/selector/app-delete.ts
Labels: marketplace

#1789 refactor: #1325 Refactor approve revision modal using react-redux hooks
  packages/marketplace/src/components/pages/admin-approvals/__tests__/__snapshots__/admin-approvals.test.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/approve-revision-modal.tsx.snap
  packages/marketplace/src/components/ui/__tests__/approve-revision-modal.tsx
  packages/marketplace/src/components/ui/approve-revision-modal.tsx
  packages/marketplace/src/services/apps.ts
Labels: marketplace

#1793 fix: failing pipeline
  .github/workflows/check-production-alive-cronjob.yml
  .github/workflows/foundation-ts-definition-cronjob.yml
  .github/workflows/pr-ci.yml
  .github/workflows/release-dev.yml
  .github/workflows/release-note-update.yml
  .github/workflows/release-tag.yml
  packages/geo-diary-v2/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/graphql-server/package.json
  packages/smb-onboarder/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/smb-onboarder/src/components/pages/login/__tests__/__snapshots__/style.test.tsx.snap
  packages/smb-onboarder/src/components/pages/negotiators/__tests__/__snapshots__/negotiators.test.tsx.snap
  packages/smb-onboarder/src/components/pages/offices/__tests__/__snapshots__/offices.tsx.snap
  packages/smb-onboarder/src/components/ui/__tests__/__snapshots__/upload-result-modal.tsx.snap
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/__snapshots__/negotiators-list.test.tsx.snap
  packages/smb-onboarder/src/components/ui/offices-tab/__tests__/__snapshots__/offices-tab.tsx.snap
  packages/smb-onboarder/src/core/__tests__/__snapshots__/app.tsx.snap
  yarn.lock
Labels: graphql-server, smb-onboarder

#1795 refactor: #1325 Refactor decline revision modal using react-redux hooks
  packages/marketplace/src/components/pages/admin-approvals/__tests__/__snapshots__/admin-approvals.test.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/decline-revision-modal.tsx.snap
  packages/marketplace/src/components/ui/__tests__/decline-revision-modal.tsx
  packages/marketplace/src/components/ui/decline-revision-modal.tsx
Labels: marketplace

#1796 fix: #1743 responsive error on wizard
  packages/elements/src/components/HelpGuide/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/HelpGuide/__tests__/index.tsx
  packages/elements/src/components/HelpGuide/context.tsx
  packages/elements/src/components/HelpGuide/index.tsx
  packages/marketplace/src/components/pages/__tests__/__snapshots__/client-welcome.tsx.snap
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-welcome.tsx.snap
Labels: elements, marketplace

#1792 chore: #1776 Update Installations Graph and Current Installations list
  packages/marketplace/src/components/ui/__stubs__/developer-installations-chart-data.ts
  packages/marketplace/src/components/ui/developer-analytics/detailed/__test__/__snapshots__/installation-app-section.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/detailed/__test__/installation-app-section.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/detailed/detailed-tab.tsx
  packages/marketplace/src/components/ui/developer-analytics/detailed/installation-app-section.tsx
  packages/marketplace/src/components/ui/developer-installations-chart.tsx
  packages/marketplace/src/utils/developer-analytics.ts
Labels: marketplace

#1788 feat: #1740 image cropping component
  package.json
  packages/elements/package.json
  packages/elements/src/components/FileInput/__tests__/index.tsx
  packages/elements/src/components/FileInput/index.tsx
  packages/elements/src/components/ImageCropper/image-cropper.stories.tsx
  packages/elements/src/components/ImageCropper/index.tsx
  packages/elements/src/components/ImageInput/index.tsx
  packages/elements/src/index.tsx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/elements/src/v2/src/components/image-cropper/__styles__/styles.ts
  packages/elements/src/v2/src/components/image-cropper/__tests__/__snapshots__/image-cropper.test.tsx.snap
  packages/elements/src/v2/src/components/image-cropper/__tests__/handlers.test.ts
  packages/elements/src/v2/src/components/image-cropper/__tests__/image-cropper.test.tsx
  packages/elements/src/v2/src/components/image-cropper/__tests__/integration-helpers.test.ts
  packages/elements/src/v2/src/components/image-cropper/__tests__/utils.test.ts
  packages/elements/src/v2/src/components/image-cropper/handlers.ts
  packages/elements/src/v2/src/components/image-cropper/image-cropper.tsx
  packages/elements/src/v2/src/components/image-cropper/index.tsx
  packages/elements/src/v2/src/components/image-cropper/integration-helpers.ts
  packages/elements/src/v2/src/components/image-cropper/types.d.ts
  packages/elements/src/v2/src/components/image-cropper/utils.ts
  packages/elements/src/v2/src/components/index.ts
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  yarn.lock
Labels: elements, marketplace

#1798 refactor: #1325 Refactor developer set status using react-redux hooks
  packages/marketplace/src/components/pages/admin-dev-management/__tests__/__snapshots__/admin-dev-management.test.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/developer-set-status.tsx.snap
  packages/marketplace/src/components/ui/__tests__/developer-set-status.tsx
  packages/marketplace/src/components/ui/developer-set-status.tsx
  packages/marketplace/src/selector/__tests__/developer-set-status.test.ts
  packages/marketplace/src/selector/developer-set-status.ts
Labels: marketplace

#1791 feat: #1765 Updates to the ‘Account Information’ section (Billing Tab)
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/__tests__/__snapshots__/accounts-information-form.test.tsx.snap
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/__tests__/__snapshots__/direct-debit-section.test.tsx.snap
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/__tests__/direct-debit-section.test.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/accounts-information-form.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-billing-tab/accounts-information-form/direct-debit-section.tsx
Labels: marketplace

#1797 feat: #1746 <Menu /> component now can auto-detect mode
  packages/aml-checklist/package.json
  packages/aml-checklist/src/components/ui/__tests__/__snapshots__/menu.tsx.snap
  packages/aml-checklist/src/components/ui/__tests__/menu.tsx
  packages/aml-checklist/src/components/ui/menu.tsx
  packages/aml-checklist/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/elements/src/components/Menu/Menu.stories.tsx
  packages/elements/src/components/Menu/Menu.tsx
  packages/elements/src/components/Menu/__tests__/Menu.tsx
  packages/elements/src/components/Menu/__tests__/__snapshots__/Menu.tsx.snap
  packages/geo-diary-v2/src/components/ui/__tests__/__snapshots__/menu.tsx.snap
  packages/geo-diary-v2/src/components/ui/__tests__/menu.tsx
  packages/geo-diary-v2/src/components/ui/menu.tsx
  packages/geo-diary/package.json
  packages/geo-diary/src/components/ui/__tests__/__snapshots__/menu.tsx.snap
  packages/geo-diary/src/components/ui/__tests__/menu.tsx
  packages/geo-diary/src/components/ui/menu.tsx
  packages/geo-diary/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/lifetime-legal/package.json
  packages/lifetime-legal/src/components/ui/__tests__/__snapshots__/menu.tsx.snap
  packages/lifetime-legal/src/components/ui/__tests__/menu.tsx
  packages/lifetime-legal/src/components/ui/menu.tsx
  packages/lifetime-legal/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/lifetime-legal/src/tests/badges/badge-branches.svg
  packages/lifetime-legal/src/tests/badges/badge-functions.svg
  packages/lifetime-legal/src/tests/badges/badge-lines.svg
  packages/lifetime-legal/src/tests/badges/badge-statements.svg
  packages/marketplace/package.json
  packages/marketplace/src/components/ui/__tests__/__snapshots__/menu.tsx.snap
  packages/marketplace/src/components/ui/__tests__/menu.tsx
  packages/marketplace/src/components/ui/menu.tsx
  packages/marketplace/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/smb-onboarder/package.json
  packages/smb-onboarder/src/components/ui/__tests__/menu.test.tsx
  packages/smb-onboarder/src/components/ui/menu.tsx
  packages/smb-onboarder/src/tests/badges/badge-branches.svg
Labels: aml-checklist, elements, geo-diary, lifetime-legal, marketplace, smb-onboarder

#1803 refactor: #1325 Refactor toast messages using react-redux hooks
  packages/marketplace/src/components/ui/__tests__/__snapshots__/toast-message.test.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/toast.test.tsx.snap
  packages/marketplace/src/components/ui/__tests__/toast-message.test.tsx
  packages/marketplace/src/components/ui/__tests__/toast.test.tsx
  packages/marketplace/src/components/ui/toast-message.tsx
  packages/marketplace/src/components/ui/toast.tsx
  packages/marketplace/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/marketplace/src/selector/__tests__/error.test.ts
  packages/marketplace/src/selector/__tests__/notification-message.ts
  packages/marketplace/src/selector/error.ts
  packages/marketplace/src/selector/notification-message.ts
Labels: marketplace

#1802 feat: #1033 update web component config
  packages/marketplace/src/actions/__tests__/client.ts
  packages/marketplace/src/actions/client.ts
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/client-web-component-config.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/client-web-component-config.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/client-web-component-config.tsx
  packages/marketplace/src/components/ui/web-component-config-modal/__test__/__snapshots__/config-modal-inner.test.tsx.snap
  packages/marketplace/src/components/ui/web-component-config-modal/__test__/__snapshots__/config-modal.test.tsx.snap
  packages/marketplace/src/components/ui/web-component-config-modal/__test__/config-modal-inner.test.tsx
  packages/marketplace/src/components/ui/web-component-config-modal/config-modal-inner.tsx
  packages/marketplace/src/components/ui/web-component-config-modal/config-modal.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/reducers/client/__test__/web-component.test.ts
  packages/marketplace/src/reducers/client/web-component.ts
  packages/marketplace/src/sagas/__tests__/web-component.ts
  packages/marketplace/src/sagas/web-component.ts
  packages/marketplace/src/selector/__tests__/client.ts
  packages/marketplace/src/selector/client.ts
  packages/marketplace/src/services/web-component.ts
Labels: marketplace

#1808 fix: #1743 add animation for helper guide
  packages/elements/package.json
  packages/elements/src/components/HelpGuide/__styles__/styles.ts
  packages/elements/src/components/HelpGuide/__tests__/__snapshots__/fade.test.tsx.snap
  packages/elements/src/components/HelpGuide/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/HelpGuide/__tests__/fade.test.tsx
  packages/elements/src/components/HelpGuide/__tests__/index.tsx
  packages/elements/src/components/HelpGuide/fade.tsx
  packages/elements/src/components/HelpGuide/index.tsx
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/marketplace/src/components/pages/__tests__/__snapshots__/client-welcome.tsx.snap
  packages/marketplace/src/components/pages/__tests__/__snapshots__/developer-welcome.tsx.snap
  packages/marketplace/src/components/pages/client-welcome.tsx
  packages/marketplace/src/styles/pages/developer-welcome.scss
  scripts/webpack/webpack.config.dev.js
  yarn.lock
Labels: elements, marketplace

#1807 feat: #1660 Update the "Cost Explorer: Usage and Cost" to API v2
  packages/marketplace/package.json
  packages/marketplace/src/actions/developer.ts
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/__test__/cost-explorer-table.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/cost-explorer-component/cost-explorer-table.tsx
  packages/marketplace/src/reducers/developer.ts
  packages/marketplace/src/sagas/__stubs__/monthly-billing.ts
  packages/marketplace/src/selector/__tests__/developer.ts
  packages/marketplace/src/selector/developer.ts
  packages/marketplace/src/services/traffic-events.ts
  packages/marketplace/src/services/utils.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  yarn.lock
Labels: marketplace

#1810 feat: #1801 Apply Image Cropper to marketplace
  packages/elements/src/components/FileInput/__tests__/index.tsx
  packages/elements/src/components/FileInput/index.tsx
  packages/elements/src/components/ImageCropper/image-cropper.stories.tsx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/elements/src/v2/src/components/image-cropper/__tests__/__snapshots__/image-cropper.test.tsx.snap
  packages/elements/src/v2/src/components/image-cropper/__tests__/handlers.test.ts
  packages/elements/src/v2/src/components/image-cropper/__tests__/utils.test.ts
  packages/elements/src/v2/src/components/image-cropper/handlers.ts
  packages/elements/src/v2/src/components/image-cropper/image-cropper.tsx
  packages/elements/src/v2/src/components/image-cropper/index.tsx
  packages/elements/src/v2/src/components/image-cropper/integration-helpers.ts
  packages/elements/src/v2/src/components/image-cropper/types.ts
  packages/elements/src/v2/src/components/image-cropper/utils.ts
  packages/geo-diary-v2/src/tests/badges/badge-branches.svg
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/upload-image-section.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/upload-image-section.tsx
  packages/marketplace/src/components/ui/developer-webhooks/form-fields.ts
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: elements, marketplace

#1813 fix: #1769 app name should not allow special char
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/developer-submit-app.tsx
  packages/marketplace/src/components/pages/developer-submit-app/form-schema/form-fields.ts
  packages/marketplace/src/components/pages/developer-submit-app/form-schema/validation-schema.ts
Labels: marketplace

#1783 feat: #1661 update service bar char
  packages/marketplace/src/actions/developer.ts
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/service-chart/__mocks__/billing.ts
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/service-chart/__tests__/__snapshots__/service-chart.test.tsx.snap
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/service-chart/__tests__/service-chart.test.tsx
  packages/marketplace/src/components/ui/developer-analytics/cost-explorer/service-chart/service-chart.tsx
  packages/marketplace/src/reducers/developer.ts
  packages/marketplace/src/sagas/__stubs__/billing.ts
  packages/marketplace/src/selector/developer.ts
  packages/marketplace/src/services/constants.ts
  packages/marketplace/src/services/traffic-events.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#1809 refactor: #1325 Refactor confirm uninstall app using react-redux hooks
  packages/elements/src/components/FileInput/index.tsx
  packages/elements/src/components/RadioSelect/index.tsx
  packages/elements/src/components/TextArea/index.tsx
  packages/elements/src/v2/src/components/breadcrumb/__tests__/__snapshots__/breadcrumb-item.test.tsx.snap
  packages/elements/src/v2/src/components/breadcrumb/__tests__/__snapshots__/breadcrumb-separator.test.tsx.snap
  packages/elements/src/v2/src/components/breadcrumb/breadcrumb-item.tsx
  packages/elements/src/v2/src/components/breadcrumb/breadcrumb-separator.tsx
  packages/marketplace/src/components/pages/app-detail/developer/developer-app-content.tsx
  packages/marketplace/src/components/pages/client/__tests__/__snapshots__/client.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/general-information-section.test.tsx.snap
  packages/marketplace/src/components/ui/app-installations/__tests__/__snapshots__/confirm-uninstall.tsx.snap
  packages/marketplace/src/components/ui/app-installations/__tests__/confirm-uninstall.tsx
  packages/marketplace/src/components/ui/app-installations/confirm-uninstall.tsx
  packages/marketplace/src/components/ui/app-installations/confirm-uninstall/__tests__/__snapshots__/confirm-uninstall.test.tsx.snap
  packages/marketplace/src/components/ui/app-installations/confirm-uninstall/__tests__/confirm-uninstall.test.tsx
  packages/marketplace/src/components/ui/app-installations/confirm-uninstall/confirm-uninstall.tsx
  packages/marketplace/src/components/ui/app-installations/confirm-uninstall/form-schema/form-fields.ts
  packages/marketplace/src/components/ui/app-installations/confirm-uninstall/form-schema/validation-schema.ts
  packages/marketplace/src/components/ui/app-installations/confirm-uninstall/index.ts
  packages/marketplace/src/components/ui/web-component-config-modal/__test__/__snapshots__/config-modal-inner.test.tsx.snap
Labels: elements, marketplace

#1814 fix: #1770 submit app should limit number char fields
  packages/marketplace/src/components/pages/developer-submit-app/__test__/__snapshots__/developer-submit-app.test.tsx.snap
  packages/marketplace/src/components/pages/developer-submit-app/form-schema/form-fields.ts
  packages/marketplace/src/components/pages/developer-submit-app/form-schema/validation-schema.ts
Labels: marketplace

#1749 feat: #1342 ui page organisation admin
  packages/elements/src/styles/base/utilities.scss
  packages/marketplace/src/components/pages/settings/developer-settings-organisation-tab/__tests__/__snapshots__/company-information.test.tsx.snap
  packages/marketplace/src/components/pages/settings/developer-settings-organisation-tab/__tests__/__snapshots__/developer-settings-organisation-tab.tsx.snap
  packages/marketplace/src/components/pages/settings/developer-settings-organisation-tab/__tests__/__snapshots__/members.test.tsx.snap
  packages/marketplace/src/components/pages/settings/developer-settings-organisation-tab/__tests__/company-information.test.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-organisation-tab/__tests__/members.test.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-organisation-tab/company-information.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-organisation-tab/developer-settings-organisation-tab.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-organisation-tab/form-fields.ts
  packages/marketplace/src/components/pages/settings/developer-settings-organisation-tab/members.tsx
  packages/marketplace/src/components/pages/settings/developer-settings-organisation-tab/validation-schema.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: elements, marketplace

#1815 refactor: #1325 Refactor installations using react-redux hooks
  packages/marketplace/src/components/pages/app-detail/developer/__tests__/__snapshots__/developer-app-content.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/developer/__tests__/developer-app-content.test.tsx
  packages/marketplace/src/components/pages/app-detail/developer/developer-app-content.tsx
  packages/marketplace/src/components/pages/app-detail/developer/developer-app-detail.tsx
  packages/marketplace/src/components/ui/app-installations/__tests__/__snapshots__/app-installations-modal.tsx.snap
  packages/marketplace/src/components/ui/app-installations/__tests__/__snapshots__/installations.tsx.snap
  packages/marketplace/src/components/ui/app-installations/__tests__/installations.tsx
  packages/marketplace/src/components/ui/app-installations/app-installations-modal.tsx
  packages/marketplace/src/components/ui/app-installations/installations.tsx
Labels: marketplace
