Repository reapit/foundations, pull requests merged in 2020-08, with the labels that each got.

#2247 fix: feature apps, main apps spacing fix
  packages/marketplace/src/styles/blocks/featured-app.scss
Labels: marketplace

#2238 feat: #2216 non admins should see the install/uninstall buttons
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-button-group.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/non-admin-modal.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/app-button-group.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/__tests__/app-detail.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/__tests__/non-admin-modal.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-detail-button-group.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-detail.tsx
  packages/marketplace/src/components/pages/app-detail/client/non-admin-modal.tsx
Labels: marketplace

#2265 fix: #2257 Marketplace throws and invariant error when logging in as a developer without a client id
  packages/marketplace/src/sagas/apps/apps.ts
  packages/marketplace/src/sagas/installations/installations.ts
Labels: marketplace

#2272 fix: #2257 remove unnecessary error alert
  packages/marketplace/src/sagas/apps/apps.ts
  packages/marketplace/src/sagas/installations/installations.ts
Labels: marketplace

#2275 feat: #2215 download CSV in cost explorer
  package.json
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer-component/__test__/__snapshots__/cost-explorer-table.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer-component/__test__/cost-explorer-table.test.tsx
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer-component/__test__/cost-explorer.test.tsx
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer-component/cost-explorer-table.tsx
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer-component/cost-explorer.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/elements/package.json
Labels: elements

#2269 chore: #2255 the smb app should be refactored to use the new connect session auth flow
  packages/smb-onboarder/package.json
  packages/smb-onboarder/src/components/hocs/__tests__/__snapshots__/error-boundary.tsx.snap
  packages/smb-onboarder/src/components/hocs/__tests__/error-boundary.tsx
  packages/smb-onboarder/src/components/pages/get-started/__tests__/get-started.tsx
  packages/smb-onboarder/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/smb-onboarder/src/components/pages/login/__tests__/login.test.tsx
  packages/smb-onboarder/src/components/pages/login/login.tsx
  packages/smb-onboarder/src/components/ui/__tests__/__snapshots__/menu.test.tsx.snap
  packages/smb-onboarder/src/components/ui/__tests__/menu.test.tsx
  packages/smb-onboarder/src/components/ui/menu.tsx
  packages/smb-onboarder/src/constants/api.ts
  packages/smb-onboarder/src/context/__mocks__/mock-context.ts
  packages/smb-onboarder/src/context/__tests__/__snapshots__/auth-context.test.tsx.snap
  packages/smb-onboarder/src/context/__tests__/auth-context.test.tsx
  packages/smb-onboarder/src/context/auth-context.ts
  packages/smb-onboarder/src/context/index.ts
  packages/smb-onboarder/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/smb-onboarder/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/smb-onboarder/src/core/__tests__/__snapshots__/private-route.tsx.snap
  packages/smb-onboarder/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/smb-onboarder/src/core/__tests__/private-route-wrapper.tsx
  packages/smb-onboarder/src/core/__tests__/private-route.tsx
  packages/smb-onboarder/src/core/app.tsx
  packages/smb-onboarder/src/core/connect-session.ts
  packages/smb-onboarder/src/core/index.tsx
  packages/smb-onboarder/src/core/private-route-wrapper.tsx
  packages/smb-onboarder/src/core/private-route.tsx
  packages/smb-onboarder/src/core/router.tsx
  packages/smb-onboarder/src/graphql/__mocks__/token.ts
  packages/smb-onboarder/src/hooks/__tests__/__snapshots__/use-auth.test.tsx.snap
  packages/smb-onboarder/src/hooks/__tests__/use-auth.test.tsx
  packages/smb-onboarder/src/hooks/use-auth.ts
  packages/smb-onboarder/src/tests/badges/badge-branches.svg
  packages/smb-onboarder/src/tests/badges/badge-functions.svg
  packages/smb-onboarder/src/tests/badges/badge-lines.svg
  packages/smb-onboarder/src/tests/badges/badge-statements.svg
  packages/smb-onboarder/tsconfig.json
  packages/utils/src/get-default-value.ts
Labels: elements, smb-onboarder

#2280 chore: #2250 pipeline maintenance
  .github/labeler.yml
  .github/workflows/pr-ci.yml
  .github/workflows/release-dev.yml
  package.json
Labels: admin-portal, aml-checklist, cognito-auth, cognito-custom-mail-lambda, config-manager, connect-session, demo-site, developer-portal, elements, geo-diary, graphql-server, lifetime-legal, marketplace, react-app-scaffolder, reapit-connect-welcome, smb-onboarder, web-components, web-components-config-server

#2286 fix: #2261 update close button style
  packages/elements/src/components/ModalV2/__styles__/index.ts
  packages/elements/src/components/ModalV2/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/ModalV2/index.tsx
Labels: elements

#2288 fix: #2284 marketplace register redrect to dev
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: marketplace

#2282 chore: #2253 smb ui tidy up
  packages/elements/src/styles/components/spreadsheet.scss
  packages/smb-onboarder/src/assets/images/get-started.png
  packages/smb-onboarder/src/assets/images/install.png
  packages/smb-onboarder/src/assets/images/support.png
  packages/smb-onboarder/src/components/pages/get-started/index.ts
  packages/smb-onboarder/src/components/pages/help/__styles__/index.ts
  packages/smb-onboarder/src/components/pages/help/__tests__/__snapshots__/help.tsx.snap
  packages/smb-onboarder/src/components/pages/help/__tests__/help.tsx
  packages/smb-onboarder/src/components/pages/help/help.tsx
  packages/smb-onboarder/src/components/pages/help/index.ts
  packages/smb-onboarder/src/components/pages/home/__styles__/index.ts
  packages/smb-onboarder/src/components/pages/home/__tests__/__snapshots__/home.test.tsx.snap
  packages/smb-onboarder/src/components/pages/home/__tests__/home.test.tsx
  packages/smb-onboarder/src/components/pages/home/home.tsx
  packages/smb-onboarder/src/components/pages/home/index.ts
  packages/smb-onboarder/src/components/pages/negotiators/__tests__/__snapshots__/negotiators.test.tsx.snap
  packages/smb-onboarder/src/components/pages/negotiators/negotiators.tsx
  packages/smb-onboarder/src/components/pages/offices/__tests__/__snapshots__/offices.tsx.snap
  packages/smb-onboarder/src/components/pages/offices/__tests__/offices.tsx
  packages/smb-onboarder/src/components/pages/offices/offices.tsx
  packages/smb-onboarder/src/components/providers/__tests__/upload-provider.tsx
  packages/smb-onboarder/src/components/providers/upload-provider.tsx
  packages/smb-onboarder/src/components/ui/__tests__/__snapshots__/areas-tab.test.tsx.snap
  packages/smb-onboarder/src/components/ui/__tests__/__snapshots__/global-settings-tab.test.tsx.snap
  packages/smb-onboarder/src/components/ui/__tests__/__snapshots__/integration-tab.test.tsx.snap
  packages/smb-onboarder/src/components/ui/__tests__/__snapshots__/menu.test.tsx.snap
  packages/smb-onboarder/src/components/ui/__tests__/areas-tab.test.tsx
  packages/smb-onboarder/src/components/ui/__tests__/global-settings-tab.test.tsx
  packages/smb-onboarder/src/components/ui/__tests__/integration-tab.test.tsx
  packages/smb-onboarder/src/components/ui/areas-tab.tsx
  packages/smb-onboarder/src/components/ui/global-settings-tab.tsx
  packages/smb-onboarder/src/components/ui/integration-tab.tsx
  packages/smb-onboarder/src/components/ui/menu.tsx
  packages/smb-onboarder/src/components/ui/negotiators-list/__styles__/negotiator-status-checkbox.ts
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/__snapshots__/negotiator-status-checkbox.test.tsx.snap
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/__snapshots__/negotiators-list.test.tsx.snap
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/negotiator-status-checkbox.test.tsx
  packages/smb-onboarder/src/components/ui/negotiators-list/negotiator-status-checkbox.tsx
  packages/smb-onboarder/src/components/ui/negotiators-list/negotiators-list.tsx
  packages/smb-onboarder/src/components/ui/offices-tab/__tests__/__snapshots__/offices-tab.tsx.snap
  packages/smb-onboarder/src/components/ui/offices-tab/offices-tab.tsx
  packages/smb-onboarder/src/constants/api.ts
  packages/smb-onboarder/src/constants/routes.ts
  packages/smb-onboarder/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/smb-onboarder/src/core/app.tsx
  packages/smb-onboarder/src/core/index.tsx
  packages/smb-onboarder/src/core/private-route-wrapper.tsx
  packages/smb-onboarder/src/core/router.tsx
  packages/smb-onboarder/src/hooks/__tests__/use-upload.tsx
  packages/smb-onboarder/src/tests/badges/badge-branches.svg
  packages/smb-onboarder/src/tests/badges/badge-functions.svg
  packages/smb-onboarder/src/tests/badges/badge-lines.svg
  packages/smb-onboarder/src/tests/badges/badge-statements.svg
Labels: elements, smb-onboarder

#2290 chore: update snapshot
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-uninstall-confirmation.test.tsx.snap
Labels: marketplace

#2299 feat: #2260 billing and organisation only show admin
  packages/developer-portal/src/components/pages/settings/__tests__/settings.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/settings-billing-tab.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/settings-organisation-tab.tsx
  packages/developer-portal/src/components/pages/settings/settings.tsx
Labels: developer-portal

#2304 fix: #2298 fix 768px screen content not showing
  packages/elements/src/styles/components/layout.scss
Labels: elements

#2301 fix: #2287 Update App listing header for marketplace & dev
  packages/developer-portal/src/components/pages/app-detail-preview/common/__tests__/__snapshots__/ui-app-header.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail-preview/common/ui-app-header.tsx
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/app-header.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/app-header.tsx
  packages/developer-portal/src/styles/blocks/standalone-app-detail.scss
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/marketplace/src/components/pages/app-detail/common/__tests__/__snapshots__/ui-app-header.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/common/ui-app-header.tsx
  packages/marketplace/src/styles/blocks/standalone-app-detail.scss
Labels: developer-portal, marketplace

#2305 fix: #2189: UI tweaks for geo diary v2
  packages/elements/src/utils/device-detection/device-detection.stories.tsx
  packages/elements/src/utils/device-detection/device-detection.ts
  packages/geo-diary-v2/package.json
  packages/geo-diary-v2/src/components/ui/map/__test__/__snapshots__/map.test.tsx.snap
  packages/geo-diary-v2/src/components/ui/map/__test__/gmaps.test.tsx
  packages/geo-diary-v2/src/components/ui/map/__test__/map.test.tsx
  packages/geo-diary-v2/src/components/ui/map/gmaps.tsx
  packages/geo-diary-v2/src/components/ui/map/map.tsx
  packages/geo-diary-v2/src/core/service-worker.ts
Labels: elements, geo-diary

#2303 fix: #2296 Admin portal title of page need to change from Developers to Admin Portal
  packages/admin-portal/src/core/index.tsx
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
Labels: admin-portal

#2302 fix: #2293 Pending revision modal should loading when open
  packages/developer-portal/src/components/pages/app-detail/app-revision-modal/app-revision-modal.tsx
Labels: developer-portal

#2310 fix: #2292 bug on create new app
  packages/developer-portal/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/developer-portal/src/components/ui/submit-app-wizard/__tests__/__snapshots__/submit-app-wizard-modal.test.tsx.snap
  packages/developer-portal/src/components/ui/submit-app-wizard/__tests__/__snapshots__/submit-app-wizard.test.tsx.snap
  packages/developer-portal/src/components/ui/submit-app-wizard/__tests__/submit-app-wizard.test.tsx
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-submit-app-success.test.tsx.snap
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/__tests__/step-submit-app-success.test.tsx
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/step-submit-app-success.tsx
  packages/developer-portal/src/components/ui/submit-app-wizard/submit-app-wizard-modal.tsx
  packages/developer-portal/src/components/ui/submit-app-wizard/submit-app-wizard.tsx
  packages/developer-portal/src/components/ui/submit-app-wizard/types.ts
Labels: developer-portal

#2308 fix: #2297 enhancement for loading of analytics pages
  packages/developer-portal/src/components/pages/analytics/detailed/__test__/__snapshots__/installation-app-section.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics/detailed/__test__/__snapshots__/traffic-event-table.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics/detailed/__test__/installations-chart.tsx
  packages/developer-portal/src/components/pages/analytics/detailed/installation-app-section.tsx
  packages/developer-portal/src/components/pages/analytics/detailed/installations-chart.tsx
  packages/developer-portal/src/components/pages/analytics/detailed/traffic-event-table.tsx
  packages/developer-portal/src/selector/installations/__tests__/installations.test.ts
  packages/developer-portal/src/selector/installations/installations.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#2311 fix: #2294 change password error notification
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/components/pages/settings/forms/__tests__/__snapshots__/change-password-form.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/forms/__tests__/change-password-form.test.tsx
  packages/developer-portal/src/components/pages/settings/forms/change-password-form.tsx
  packages/developer-portal/src/components/pages/settings/forms/contact-information-form.tsx
  packages/developer-portal/src/components/pages/settings/forms/form-schema/form-fields.ts
  packages/developer-portal/src/components/pages/settings/forms/form-schema/validation-schema.ts
  packages/developer-portal/src/components/pages/settings/forms/forms.tsx
  packages/developer-portal/src/sagas/__tests__/settings.ts
  packages/developer-portal/src/sagas/settings.ts
  packages/developer-portal/src/services/cognito-identity.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/utils/form/__tests__/change-password.ts
  packages/developer-portal/src/utils/form/change-password.ts
  packages/geo-diary-v2/src/tests/badges/badge-branches.svg
  packages/geo-diary-v2/src/tests/badges/badge-functions.svg
  packages/geo-diary-v2/src/tests/badges/badge-lines.svg
  packages/geo-diary-v2/src/tests/badges/badge-statements.svg
  packages/utils/src/form/regexs.ts
Labels: admin-portal, aml-checklist, developer-portal, geo-diary

#2313 fix: #2295: Fix create app wizard modal's issues when closing
  packages/developer-portal/src/components/ui/submit-app-wizard/__tests__/__snapshots__/submit-app-wizard.test.tsx.snap
  packages/developer-portal/src/components/ui/submit-app-wizard/__tests__/submit-app-wizard.test.tsx
  packages/developer-portal/src/components/ui/submit-app-wizard/submit-app-wizard.tsx
Labels: developer-portal

#2312 fix: #2254 The SMB onboarder is throwing a GraphQL authorization error
  packages/elements/src/components/Spreadsheet/handlers.tsx
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/negotiator-office-selectbox.test.tsx
  packages/smb-onboarder/src/components/ui/negotiators-list/negotiator-office-selectbox.tsx
  packages/smb-onboarder/src/components/ui/offices-tab/offices-tab.tsx
  packages/smb-onboarder/src/constants/paginators.ts
  packages/smb-onboarder/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/smb-onboarder/src/core/app.tsx
  packages/smb-onboarder/src/utils/__tests__/validators.ts
  packages/smb-onboarder/src/utils/validators.ts
Labels: elements, smb-onboarder

#2317 fix: #2314: Fix app container misaligned issue
  packages/marketplace/src/styles/pages/apps.scss
Labels: marketplace

#2300 feat: #2256 SMB app should show user friendly errors and validation issues
  packages/admin-portal/src/components/pages/approvals/__tests__/__snapshots__/approvals.test.tsx.snap
  packages/admin-portal/src/components/pages/apps-management/__tests__/__snapshots__/apps-management.test.tsx.snap
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/elements/src/components/Pagination/index.tsx
  packages/elements/src/components/Spreadsheet/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Spreadsheet/__tests__/index.tsx
  packages/elements/src/components/Spreadsheet/index.tsx
  packages/elements/src/components/Spreadsheet/types.tsx
  packages/elements/src/components/Spreadsheet/utils.tsx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/graphql-server/src/errors/errors.ts
  packages/graphql-server/src/utils/__tests__/handle-error.test.ts
  packages/graphql-server/src/utils/handle-error.ts
  packages/smb-onboarder/src/components/pages/negotiators/__tests__/__snapshots__/negotiators.test.tsx.snap
  packages/smb-onboarder/src/components/pages/offices/__tests__/__snapshots__/offices.tsx.snap
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/__snapshots__/negotiators-list.test.tsx.snap
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/negotiators-list.test.tsx
  packages/smb-onboarder/src/components/ui/negotiators-list/negotiators-list.tsx
  packages/smb-onboarder/src/components/ui/offices-tab/__tests__/__snapshots__/offices-tab.tsx.snap
  packages/smb-onboarder/src/components/ui/offices-tab/__tests__/offices-tab.tsx
  packages/smb-onboarder/src/components/ui/offices-tab/offices-tab.tsx
  packages/smb-onboarder/src/constants/error-messages.ts
  packages/smb-onboarder/src/graphql/client.ts
  packages/smb-onboarder/src/tests/badges/badge-branches.svg
  packages/smb-onboarder/src/tests/badges/badge-lines.svg
  packages/smb-onboarder/src/tests/badges/badge-statements.svg
Labels: admin-portal, developer-portal, elements, geo-diary, graphql-server, smb-onboarder

#2316 fix: #2315 add notification error for geo-diary-v2
  packages/geo-diary-v2/src/graphql/client.ts
Labels: geo-diary

#2318 fix: fix sentry Non-Error exception
  packages/developer-portal/src/services/cognito-identity.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#2321 fix: #2189: Apply notifications for geo-diary-v2
  packages/elements/src/components/Map/__tests__/index.tsx
  packages/elements/src/components/Map/index.tsx
  packages/elements/src/styles/components/notification.scss
  packages/geo-diary-v2/src/components/ui/map/__test__/gmaps.test.tsx
  packages/geo-diary-v2/src/components/ui/map/gmaps.tsx
Labels: elements, geo-diary

#2335 feat: #2260 change method to check role by email
  packages/developer-portal/src/components/pages/settings/settings.tsx
Labels: developer-portal

#2323 fix: #2252 developers should redirect to developer portal when landing on the reapit connect splash page
  packages/reapit-connect/src/core/__tests__/app.test.tsx
  packages/reapit-connect/src/core/app.tsx
  packages/reapit-connect/src/tests/badges/badge-branches.svg
  packages/reapit-connect/src/tests/badges/badge-functions.svg
  packages/reapit-connect/src/tests/badges/badge-lines.svg
  packages/reapit-connect/src/tests/badges/badge-statements.svg
Labels: reapit-connect-welcome

#2336 fix: #2202 fix linaria styles isn't consistent between dev and prod
  packages/reapit-connect/src/components/pages/welcome/welcome.tsx
  packages/reapit-connect/src/components/ui/section/__styles__/index.ts
  scripts/webpack/webpack.config.prod.js
Labels: reapit-connect-welcome

#2338 feat: #2139 Expand graphql for property images entity
  packages/graphql-server/src/constants/api.ts
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/resolvers/propertyImages/__mocks__/create-property-image.ts
  packages/graphql-server/src/resolvers/propertyImages/__mocks__/delete-property-image.ts
  packages/graphql-server/src/resolvers/propertyImages/__mocks__/propertyImage.ts
  packages/graphql-server/src/resolvers/propertyImages/__mocks__/propertyImages.ts
  packages/graphql-server/src/resolvers/propertyImages/__mocks__/update-property-image.ts
  packages/graphql-server/src/resolvers/propertyImages/__tests__/dataloader.test.ts
  packages/graphql-server/src/resolvers/propertyImages/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/propertyImages/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/propertyImages/api.ts
  packages/graphql-server/src/resolvers/propertyImages/dataloader.ts
  packages/graphql-server/src/resolvers/propertyImages/propertyImages.d.ts
  packages/graphql-server/src/resolvers/propertyImages/resolvers.ts
  packages/graphql-server/src/resolvers/propertyImages/services.ts
  packages/graphql-server/src/resolvers/propertyImages/types.graphql
  packages/graphql-server/src/schema.graphql
  scripts/api-documentation/api-doc-config.json
Labels: graphql-server

#2327 feat: #2214 add show the about developer section
  packages/marketplace/package.json
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/aside.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/aside.tsx
  packages/marketplace/src/components/pages/app-detail/common/ui-sections.tsx
  yarn.lock
Labels: marketplace

#2337 feat: #2142 graphql tenancies entity
  packages/graphql-server/src/constants/api.ts
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/resolvers/tenancies/__mocks__/tenancy-mutation.ts
  packages/graphql-server/src/resolvers/tenancies/__mocks__/tenancy-query.ts
  packages/graphql-server/src/resolvers/tenancies/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/tenancies/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/tenancies/api.ts
  packages/graphql-server/src/resolvers/tenancies/resolvers.ts
  packages/graphql-server/src/resolvers/tenancies/services.ts
  packages/graphql-server/src/resolvers/tenancies/tenancies.d.ts
  packages/graphql-server/src/resolvers/tenancies/types.graphql
  packages/graphql-server/src/schema.graphql
  packages/graphql-server/src/types/platform-schema.ts
Labels: graphql-server

#2322 feat: #2132 graphql for applicants
  packages/graphql-server/package.json
  packages/graphql-server/src/constants/api.ts
  packages/graphql-server/src/resolvers/applicants/__mocks__/applicant.ts
  packages/graphql-server/src/resolvers/applicants/__mocks__/applicants.ts
  packages/graphql-server/src/resolvers/applicants/__mocks__/create-applicant.ts
  packages/graphql-server/src/resolvers/applicants/__mocks__/create-relationships.ts
  packages/graphql-server/src/resolvers/applicants/__mocks__/delete-relatationships.ts
  packages/graphql-server/src/resolvers/applicants/__mocks__/relationship.ts
  packages/graphql-server/src/resolvers/applicants/__mocks__/relationships.ts
  packages/graphql-server/src/resolvers/applicants/__mocks__/update-applicant.ts
  packages/graphql-server/src/resolvers/applicants/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/applicants/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/applicants/api.ts
  packages/graphql-server/src/resolvers/applicants/applicants.d.ts
  packages/graphql-server/src/resolvers/applicants/resolvers.ts
  packages/graphql-server/src/resolvers/applicants/services.ts
  packages/graphql-server/src/resolvers/applicants/types.graphql
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/schema.graphql
  scripts/api-documentation/api-doc-config.json
Labels: graphql-server

#2334 feat: #2138 Expand GraphQL Service service for Offers entity
  packages/graphql-server/src/constants/api.ts
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/resolvers/offers/__mocks__/create-offer.ts
  packages/graphql-server/src/resolvers/offers/__mocks__/offer.ts
  packages/graphql-server/src/resolvers/offers/__mocks__/offers.ts
  packages/graphql-server/src/resolvers/offers/__mocks__/update-offer.ts
  packages/graphql-server/src/resolvers/offers/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/offers/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/offers/api.ts
  packages/graphql-server/src/resolvers/offers/offers.d.ts
  packages/graphql-server/src/resolvers/offers/resolvers.ts
  packages/graphql-server/src/resolvers/offers/services.ts
  packages/graphql-server/src/resolvers/offers/types.graphql
  packages/graphql-server/src/schema.graphql
  scripts/api-documentation/api-doc-config.json
Labels: graphql-server

#2326 fix: #2255 the smb app should be refactored to use the new connect session
  packages/smb-onboarder/src/components/pages/login/__styles__/index.ts
  packages/smb-onboarder/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/smb-onboarder/src/core/app.tsx
  packages/smb-onboarder/src/core/private-route-wrapper.tsx
  packages/smb-onboarder/src/tests/badges/badge-branches.svg
  packages/smb-onboarder/src/tests/badges/badge-functions.svg
  packages/smb-onboarder/src/tests/badges/badge-lines.svg
  packages/smb-onboarder/src/tests/badges/badge-statements.svg
Labels: smb-onboarder

#2343 fix: #2142 Add insomnia file and fix type
  packages/graphql-server/src/resolvers/applicants/types.graphql
  packages/graphql-server/src/resolvers/propertyImages/types.graphql
  packages/graphql-server/src/resolvers/tenancies/api.ts
  packages/graphql-server/src/resolvers/tenancies/types.graphql
  packages/graphql-server/src/schema.graphql
  scripts/api-documentation/api-doc-config.json
Labels: graphql-server

#2339 fix: #2254 fix upload offices csv error
  packages/elements/src/components/Spreadsheet/utils.tsx
  packages/smb-onboarder/src/components/ui/offices-tab/offices-tab.tsx
  packages/smb-onboarder/src/worker/csv-upload.worker.ts
Labels: elements, smb-onboarder

#2342 feat: #2248 update parameter store
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/cloud--internal-.md
  .github/workflows/foundation-ts-definition-cronjob.yml
  .github/workflows/pr-ci.yml
  .github/workflows/release-dev.yml
  .gitignore
  packages/admin-portal/package.json
  packages/aml-checklist/package.json
  packages/cognito-custom-mail-lambda/package.json
  packages/config-manager/README.md
  packages/config-manager/package.json
  packages/config-manager/reapit-config.example.json
  packages/config-manager/src/cli.js
  packages/config-manager/src/create-param.js
  packages/config-manager/src/delete-param.js
  packages/config-manager/src/fetch-param.js
  packages/config-manager/src/index.js
  packages/config-manager/src/load-cli.js
  packages/config-manager/src/paths.js
  packages/config-manager/src/update-param.js
  packages/config-manager/src/utils.js
  packages/config-manager/src/utils/generate-config-ts-def.js
  packages/config-manager/src/utils/handle-fetching-secret-fail.js
  packages/config-manager/src/utils/write-config-in-cwd.js
  packages/demo-site/package.json
  packages/deploy-slack-bot/package.json
  packages/developer-portal/package.json
  packages/elements-next/package.json
  packages/elements/package.json
  packages/foundations-ts-definitions/package.json
  packages/geo-diary-v2/package.json
  packages/geo-diary/package.json
  packages/graphql-server/package.json
  packages/lifetime-legal/package.json
  packages/marketplace/package.json
  packages/reapit-connect/package.json
  packages/site-builder/package.json
  packages/smb-onboarder/package.json
  packages/web-components-config-server/package.json
  packages/web-components/package.json
  yarn.lock
Labels: admin-portal, aml-checklist, cognito-custom-mail-lambda, config-manager, demo-site, developer-portal, elements

#2347 chore: #2330 update billing tab, add helper text
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__tests__/__snapshots__/account-status-section.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/account-status-section.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/accounts-information-form.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/direct-debit-section.tsx
Labels: developer-portal

#2352 fix: #2346 transaction history bug
  packages/developer-portal/src/components/pages/analytics/cost-explorer/transaction-history/__test__/utils.test.ts
  packages/developer-portal/src/components/pages/analytics/cost-explorer/transaction-history/utils.ts
Labels: developer-portal

#2349 feat: #2328 update organisation tab ui
  packages/admin-portal/src/components/pages/devs-management/set-status-modal/__tests__/__snapshots__/status-modal.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/developer-portal/src/components/pages/invite/__tests__/__snapshots__/invite.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/__tests__/__snapshots__/company-address-section.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/__tests__/__snapshots__/company-information.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/__tests__/organisation-form.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/company-information-section.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/form-schema/form-fields.ts
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/form-schema/validation-schema.ts
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/organisation-form.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/settings-organisation-tab.tsx
  packages/developer-portal/src/components/ui/developer-invite-member-modal/__tests__/__snapshots__/developer-invite-member-modal.test.tsx.snap
  packages/elements/src/components/ModalV2/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/ModalV2/index.tsx
  packages/geo-diary-v2/src/components/ui/appointment-detail-modal/__tests__/__snapshots__/appointment-detail-modal.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-uninstall-confirmation.test.tsx.snap
Labels: admin-portal, developer-portal, elements, geo-diary, marketplace

#2351 fix: #1987 hide direct debit helper text when status is pending
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__tests__/__snapshots__/account-status-section.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/account-status-section.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/direct-debit-section.tsx
Labels: developer-portal

#2353 fix: #2325 Developer's profile page show wrong information
  packages/developer-portal/src/actions/__tests__/current-member.test.ts
  packages/developer-portal/src/actions/current-member.ts
  packages/developer-portal/src/components/pages/settings/forms/__tests__/__snapshots__/contact-information-form.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/forms/__tests__/__snapshots__/forms.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/forms/__tests__/contact-information-form.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/__snapshots__/change-password-form.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/__snapshots__/contact-information-form.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/__snapshots__/forms.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/change-password-form.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/contact-information-form.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/forms.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/change-password-form.tsx
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/contact-information-form.tsx
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/form-schema/form-fields.ts
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/form-schema/validation-schema.ts
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/forms.tsx
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/index.ts
  packages/developer-portal/src/components/pages/settings/settings.tsx
  packages/developer-portal/src/constants/action-types.ts
  packages/developer-portal/src/core/store.ts
  packages/developer-portal/src/reducers/__stubs__/app-state.ts
  packages/developer-portal/src/reducers/__tests__/current-member.test.ts
  packages/developer-portal/src/reducers/current-member.ts
  packages/developer-portal/src/sagas/__tests__/current-member.test.ts
  packages/developer-portal/src/sagas/current-member.ts
  packages/developer-portal/src/selector/__tests__/current-member.ts
  packages/developer-portal/src/selector/current-member.ts
  packages/developer-portal/src/services/developers.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/types/core.ts
  packages/developer-portal/src/utils/__tests__/route-dispatcher.ts
  packages/developer-portal/src/utils/route-dispatcher.ts
Labels: developer-portal

#2360 chore: #2202 Update component style
  packages/reapit-connect/src/components/pages/welcome/__styles__/index.ts
  packages/reapit-connect/src/components/pages/welcome/welcome.tsx
  packages/reapit-connect/src/components/ui/section/__styles__/index.ts
  packages/reapit-connect/src/components/ui/section/__tests__/__snapshots__/section.test.tsx.snap
  packages/reapit-connect/src/components/ui/section/section.tsx
Labels: reapit-connect-welcome

#2350 chore: #2333 add change password to setting page on marketplace
  packages/marketplace/src/actions/cognito-identity/__tests__/cognito-identity.test.ts
  packages/marketplace/src/actions/cognito-identity/cognito-identity.ts
  packages/marketplace/src/actions/cognito-identity/index.ts
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/change-password-form.test.tsx.snap
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/setting.test.tsx.snap
  packages/marketplace/src/components/pages/settings/__tests__/change-password-form.test.tsx
  packages/marketplace/src/components/pages/settings/__tests__/setting.test.tsx
  packages/marketplace/src/components/pages/settings/change-password-form.tsx
  packages/marketplace/src/components/pages/settings/form-schema/form-fields.ts
  packages/marketplace/src/components/pages/settings/form-schema/validation-schema.ts
  packages/marketplace/src/components/pages/settings/setting.tsx
  packages/marketplace/src/constants/action-types.ts
  packages/marketplace/src/core/store.ts
  packages/marketplace/src/reducers/__stubs__/app-state.ts
  packages/marketplace/src/reducers/cognito-identity/__tests__/update-password.test.ts
  packages/marketplace/src/reducers/cognito-identity/index.ts
  packages/marketplace/src/reducers/cognito-identity/update-password.ts
  packages/marketplace/src/sagas/cognito-identity/__tests__/cognito-identity.ts
  packages/marketplace/src/sagas/cognito-identity/cognito-identity.ts
  packages/marketplace/src/sagas/cognito-identity/index.ts
  packages/marketplace/src/selector/cognito-identity/__tests__/cognito-identity.test.ts
  packages/marketplace/src/selector/cognito-identity/cognito-identity.ts
  packages/marketplace/src/selector/cognito-identity/index.ts
  packages/marketplace/src/services/cognito-identity.ts
  packages/marketplace/src/types/core.ts
Labels: marketplace

#2348 feat: #2144 Expand GraphQL Service service for Vendors entity
  packages/graphql-server/src/constants/api.ts
  packages/graphql-server/src/resolvers/companies/types.graphql
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/resolvers/vendors/__stubs__/update-vendor.ts
  packages/graphql-server/src/resolvers/vendors/__stubs__/vendor.ts
  packages/graphql-server/src/resolvers/vendors/__stubs__/vendors.ts
  packages/graphql-server/src/resolvers/vendors/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/vendors/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/vendors/api.ts
  packages/graphql-server/src/resolvers/vendors/resolvers.ts
  packages/graphql-server/src/resolvers/vendors/services.ts
  packages/graphql-server/src/resolvers/vendors/types.graphql
  packages/graphql-server/src/resolvers/vendors/vendors.d.ts
  packages/graphql-server/src/schema.graphql
  scripts/api-documentation/api-doc-config.json
Labels: graphql-server

#2364 chore: #2202 update image size
  packages/reapit-connect/src/components/ui/section/__styles__/index.ts
Labels: reapit-connect-welcome

#2361 feat: #2346 hide transaction history if there is no transactions
  packages/developer-portal/src/components/pages/analytics/cost-explorer/transaction-history/__test__/__snapshots__/transaction-history.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics/cost-explorer/transaction-history/transaction-history.tsx
Labels: developer-portal

#2344 feat: #2331 add notification for developer list an app
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/developer-edit-app.test.tsx
  packages/developer-portal/src/components/pages/edit-app/developer-edit-app.tsx
  packages/developer-portal/src/components/pages/settings/__tests__/settings.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/__tests__/__snapshots__/settings-billing-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/__tests__/settings-billing-tab.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/settings-billing-tab.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/__tests__/__snapshots__/settings-organisation-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/__tests__/settings-organisation-tab.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/settings-organisation-tab.tsx
  packages/developer-portal/src/components/pages/settings/settings.tsx
  packages/developer-portal/src/core/store.ts
  packages/developer-portal/src/reducers/current-member/__tests__/current-member.test.ts
  packages/developer-portal/src/reducers/current-member/current-member.ts
  packages/developer-portal/src/reducers/current-member/index.ts
  packages/developer-portal/src/selector/current-member.ts
  packages/developer-portal/src/selector/current-member/__tests__/current-member.test.ts
  packages/developer-portal/src/selector/current-member/current-member.ts
  packages/developer-portal/src/selector/current-member/index.ts
  packages/developer-portal/src/selector/settings.ts
  packages/developer-portal/src/utils/route-dispatcher.ts
Labels: developer-portal

#2368 fix: #2260 show the organisation billing tab
  packages/developer-portal/src/utils/route-dispatcher.ts
Labels: developer-portal

#2369 chore: #2254 update upload csv workflow. Add meaningful errors
  packages/elements/src/components/Spreadsheet/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Spreadsheet/__tests__/__snapshots__/modal-upload.tsx.snap
  packages/elements/src/components/Spreadsheet/__tests__/handlers.tsx
  packages/elements/src/components/Spreadsheet/__tests__/modal-upload.tsx
  packages/elements/src/components/Spreadsheet/handlers.tsx
  packages/elements/src/components/Spreadsheet/index.tsx
  packages/elements/src/components/Spreadsheet/modal-upload.tsx
  packages/elements/src/components/Spreadsheet/types.tsx
  packages/elements/src/components/Spreadsheet/utils.tsx
  packages/smb-onboarder/src/components/ui/offices-tab/__tests__/offices-tab.tsx
  packages/smb-onboarder/src/components/ui/offices-tab/offices-tab.tsx
  packages/smb-onboarder/src/utils/worker-upload-helper.ts
  packages/smb-onboarder/src/worker/csv-upload.worker.ts
Labels: elements, smb-onboarder

#2370 feat: #2137 graphql landlords entity
  packages/graphql-server/src/constants/api.ts
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/resolvers/landlords/__stubs__/landlord-mutation.ts
  packages/graphql-server/src/resolvers/landlords/__stubs__/landlord-query.ts
  packages/graphql-server/src/resolvers/landlords/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/landlords/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/landlords/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/landlords/api.ts
  packages/graphql-server/src/resolvers/landlords/landlords.d.ts
  packages/graphql-server/src/resolvers/landlords/resolvers.ts
  packages/graphql-server/src/resolvers/landlords/services.ts
  packages/graphql-server/src/resolvers/landlords/types.graphql
  packages/graphql-server/src/schema.graphql
  packages/graphql-server/src/types/platform-schema.ts
  scripts/api-documentation/api-doc-config.json
Labels: graphql-server

#2377 feat: #2141 expand graphql service task
  packages/graphql-server/src/constants/api.ts
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/resolvers/tasks/__stubs__/create-task.ts
  packages/graphql-server/src/resolvers/tasks/__stubs__/task.ts
  packages/graphql-server/src/resolvers/tasks/__stubs__/tasks.ts
  packages/graphql-server/src/resolvers/tasks/__stubs__/update-task.ts
  packages/graphql-server/src/resolvers/tasks/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/tasks/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/tasks/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/tasks/api.ts
  packages/graphql-server/src/resolvers/tasks/resolvers.ts
  packages/graphql-server/src/resolvers/tasks/services.ts
  packages/graphql-server/src/resolvers/tasks/tasks.d.ts
  packages/graphql-server/src/resolvers/tasks/types.graphql
  packages/graphql-server/src/schema.graphql
  scripts/api-documentation/api-doc-config.json
Labels: graphql-server

#2375 feat: #2274 verify id token
  packages/admin-portal/src/core/connect-session.ts
  packages/admin-portal/src/core/index.tsx
  packages/admin-portal/src/types/global.d.ts
  packages/aml-checklist/src/core/__tests__/app.tsx
  packages/aml-checklist/src/core/connect-session.ts
  packages/aml-checklist/src/core/index.tsx
  packages/aml-checklist/src/types/global.d.ts
  packages/connect-session/README.md
  packages/connect-session/jest.config.js
  packages/connect-session/package.json
  packages/connect-session/src/__mocks__/session.ts
  packages/connect-session/src/browser/__tests__/index.test.ts
  packages/connect-session/src/browser/index.ts
  packages/connect-session/src/react/__tests__/index.test.tsx
  packages/connect-session/src/server/__tests__/index.test.ts
  packages/connect-session/src/server/index.ts
  packages/connect-session/src/types.ts
  packages/connect-session/src/utils/__mocks__/verify-decode-id-token.ts
  packages/connect-session/src/utils/verify-decode-id-token.ts
  packages/cra-template-foundations/package.json
  packages/cra-template-foundations/template/src/core/connect-session.tsx
  packages/cra-template-foundations/template/src/index.tsx
  packages/cra-template-foundations/template/src/types/global.d.ts
  packages/developer-portal/src/core/connect-session.ts
  packages/geo-diary-v2/src/core/connect-session.ts
  packages/marketplace/src/core/connect-session.ts
  packages/react-app-scaffolder/app/templates/hooks/src/core/connect-session.tsx
  packages/react-app-scaffolder/app/templates/hooks/src/core/index.tsx
  packages/react-app-scaffolder/app/templates/hooks/src/types/global.d.ts
  packages/react-app-scaffolder/app/templates/redux/src/core/connect-session.tsx
  packages/react-app-scaffolder/app/templates/redux/src/core/index.tsx
  packages/react-app-scaffolder/app/templates/redux/src/types/global.d.ts
  packages/reapit-connect/src/core/connect-session.ts
  packages/reapit-connect/src/core/index.tsx
  packages/reapit-connect/src/types/global.d.ts
  packages/smb-onboarder/src/core/connect-session.ts
  packages/web-components/src/reapit-connect-component/__tests__/__snapshots__/index.test.ts.snap
  packages/web-components/src/reapit-connect-component/__tests__/index.test.ts
  packages/web-components/src/reapit-connect-component/index.ts
  yarn.lock
Labels: admin-portal, aml-checklist, connect-session, developer-portal, geo-diary, marketplace, react-app-scaffolder

#2379 feat: #2133 Expand graphql for conveyancing entity
  packages/graphql-server/src/constants/api.ts
  packages/graphql-server/src/resolvers/companies/companies.d.ts
  packages/graphql-server/src/resolvers/conveyancing/__stubs__/conveyancing-chain.ts
  packages/graphql-server/src/resolvers/conveyancing/__stubs__/conveyancing-detail.ts
  packages/graphql-server/src/resolvers/conveyancing/__stubs__/conveyancing.ts
  packages/graphql-server/src/resolvers/conveyancing/__stubs__/create-downward-link-model.ts
  packages/graphql-server/src/resolvers/conveyancing/__stubs__/create-upward-link-model.ts
  packages/graphql-server/src/resolvers/conveyancing/__stubs__/delete-downward-link-model.ts
  packages/graphql-server/src/resolvers/conveyancing/__stubs__/delete-upward-link-model.ts
  packages/graphql-server/src/resolvers/conveyancing/__stubs__/update-conveyancing.ts
  packages/graphql-server/src/resolvers/conveyancing/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/conveyancing/__tests__/dataloader.test.ts
  packages/graphql-server/src/resolvers/conveyancing/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/conveyancing/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/conveyancing/api.ts
  packages/graphql-server/src/resolvers/conveyancing/conveyancing.d.ts
  packages/graphql-server/src/resolvers/conveyancing/dataloader.ts
  packages/graphql-server/src/resolvers/conveyancing/resolvers.ts
  packages/graphql-server/src/resolvers/conveyancing/services.ts
  packages/graphql-server/src/resolvers/conveyancing/types.graphql
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/schema.graphql
  packages/graphql-server/src/types/platform-schema.ts
  scripts/api-documentation/api-doc-config.json
Labels: graphql-server

#2378 feat: #2332 Update settings page in marketplace
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/setting.test.tsx.snap
  packages/marketplace/src/components/pages/settings/setting.tsx
  packages/marketplace/src/components/ui/menu.tsx
Labels: marketplace

#2382 fix: #2274 fixed passing state when refreshing and when query exists …
  packages/admin-portal/src/core/__tests__/private-route-wrapper.tsx
  packages/admin-portal/src/core/private-route-wrapper.tsx
  packages/aml-checklist/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/aml-checklist/src/core/__tests__/private-route-wrapper.tsx
  packages/aml-checklist/src/core/private-route-wrapper.tsx
  packages/connect-session/README.md
  packages/connect-session/jest.config.js
  packages/connect-session/src/browser/__tests__/index.test.ts
  packages/connect-session/src/browser/index.ts
  packages/connect-session/src/react/__tests__/index.test.tsx
  packages/connect-session/src/react/index.ts
  packages/connect-session/src/types.ts
  packages/cra-template-foundations/template.json
  packages/cra-template-foundations/template/src/core/__tests__/private-route-wrapper.test.tsx
  packages/cra-template-foundations/template/src/core/private-route-wrapper.tsx
  packages/developer-portal/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/developer-portal/src/core/__tests__/private-route-wrapper.tsx
  packages/developer-portal/src/core/private-route-wrapper.tsx
  packages/geo-diary-v2/src/core/__tests__/private-route-wrapper.test.tsx
  packages/geo-diary-v2/src/core/private-route-wrapper.tsx
  packages/graphql-server/src/resolvers/conveyancing/types.graphql
  packages/graphql-server/src/resolvers/tasks/types.graphql
  packages/marketplace/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/marketplace/src/core/__tests__/private-route-wrapper.tsx
  packages/marketplace/src/core/private-route-wrapper.tsx
  packages/react-app-scaffolder/app/templates/hooks/src/core/__tests__/private-route-wrapper.test.tsx
  packages/react-app-scaffolder/app/templates/hooks/src/core/private-route-wrapper.tsx
  packages/react-app-scaffolder/app/templates/redux/src/core/__tests__/private-route-wrapper.test.tsx
  packages/react-app-scaffolder/app/templates/redux/src/core/private-route-wrapper.tsx
  packages/reapit-connect/src/core/connect-session.ts
  packages/smb-onboarder/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/smb-onboarder/src/core/__tests__/private-route-wrapper.tsx
  packages/smb-onboarder/src/core/private-route-wrapper.tsx
Labels: admin-portal, aml-checklist, connect-session, developer-portal, geo-diary, graphql-server, marketplace, react-app-scaffolder, reapit-connect-welcome, smb-onboarder

#2381 fix: #2371 bug on infinity scroll
  packages/marketplace/src/components/pages/apps/__tests__/apps.test.tsx
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: marketplace

#2365 feat: add show the about developer section developer preview page
  packages/developer-portal/src/components/pages/app-detail-preview/client/aside.tsx
  packages/developer-portal/src/components/pages/app-detail/app-sections.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#2380 feat: #2140 Expand GraphQL Service service for Sources entity
  packages/graphql-server/src/constants/api.ts
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/resolvers/sources/__stubs__/create-source.ts
  packages/graphql-server/src/resolvers/sources/__stubs__/source.ts
  packages/graphql-server/src/resolvers/sources/__stubs__/sources.ts
  packages/graphql-server/src/resolvers/sources/__stubs__/update-source.ts
  packages/graphql-server/src/resolvers/sources/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/sources/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/sources/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/sources/api.ts
  packages/graphql-server/src/resolvers/sources/resolvers.ts
  packages/graphql-server/src/resolvers/sources/services.ts
  packages/graphql-server/src/resolvers/sources/sources.d.ts
  packages/graphql-server/src/resolvers/sources/types.graphql
  packages/graphql-server/src/schema.graphql
  scripts/api-documentation/api-doc-config.json
Labels: graphql-server

#2376 feat: #2256 update spreadsheet
  packages/elements/src/components/Spreadsheet/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Spreadsheet/__tests__/handlers.tsx
  packages/elements/src/components/Spreadsheet/__tests__/index.tsx
  packages/elements/src/components/Spreadsheet/__tests__/utils.ts
  packages/elements/src/components/Spreadsheet/handlers.tsx
  packages/elements/src/components/Spreadsheet/index.tsx
  packages/elements/src/components/Spreadsheet/types.tsx
  packages/elements/src/components/Spreadsheet/utils.tsx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/smb-onboarder/src/components/ui/__tests__/__snapshots__/upload-result-modal.tsx.snap
  packages/smb-onboarder/src/components/ui/__tests__/upload-result-modal.tsx
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/__snapshots__/negotiator-office-selectbox.test.tsx.snap
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/negotiator-office-selectbox.test.tsx
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/negotiator-status-checkbox.test.tsx
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/negotiators-list.test.tsx
  packages/smb-onboarder/src/components/ui/negotiators-list/negotiator-office-selectbox.tsx
  packages/smb-onboarder/src/components/ui/negotiators-list/negotiator-status-checkbox.tsx
  packages/smb-onboarder/src/components/ui/negotiators-list/negotiators-list.tsx
  packages/smb-onboarder/src/components/ui/offices-tab/__tests__/offices-tab.tsx
  packages/smb-onboarder/src/components/ui/offices-tab/offices-tab.tsx
  packages/smb-onboarder/src/tests/badges/badge-branches.svg
  packages/smb-onboarder/src/tests/badges/badge-functions.svg
  packages/smb-onboarder/src/tests/badges/badge-lines.svg
  packages/smb-onboarder/src/tests/badges/badge-statements.svg
Labels: elements, graphql-server, smb-onboarder

#2386 feat: #2134 Expand graphql for departments entity
  packages/graphql-server/src/constants/api.ts
  packages/graphql-server/src/resolvers/departments/__stubs__/department.ts
  packages/graphql-server/src/resolvers/departments/__stubs__/departments.ts
  packages/graphql-server/src/resolvers/departments/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/departments/__tests__/dataloader.test.ts
  packages/graphql-server/src/resolvers/departments/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/departments/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/departments/api.ts
  packages/graphql-server/src/resolvers/departments/dataloader.ts
  packages/graphql-server/src/resolvers/departments/departments.d.ts
  packages/graphql-server/src/resolvers/departments/resolvers.ts
  packages/graphql-server/src/resolvers/departments/services.ts
  packages/graphql-server/src/resolvers/departments/types.graphql
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/schema.graphql
  scripts/api-documentation/api-doc-config.json
Labels: graphql-server

#2363 chore: #2329 add a helper notification on the billing page and disable fields until organisation have been complete
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/accounts-information-form.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/contact-information-section.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/direct-debit-section.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/reapit-reference-section.tsx
  packages/developer-portal/src/selector/__tests__/billing.ts
  packages/developer-portal/src/selector/billing.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/utils/__tests__/check-object-data.ts
  packages/developer-portal/src/utils/check-object-data.tsx
Labels: developer-portal

#2387 chore: #2332 Update settings page in marketplace
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/setting.test.tsx.snap
  packages/marketplace/src/components/pages/settings/setting.tsx
  packages/marketplace/src/styles/pages/settings.scss
Labels: marketplace

#2388 feat: #2366 customer area admin portal
  packages/admin-portal/src/actions/customers.ts
  packages/admin-portal/src/components/pages/customers/__tests__/__snapshots__/customers.test.tsx.snap
  packages/admin-portal/src/components/pages/customers/__tests__/customers.test.tsx
  packages/admin-portal/src/components/pages/customers/customers.tsx
  packages/admin-portal/src/components/pages/customers/index.ts
  packages/admin-portal/src/components/ui/menu.tsx
  packages/admin-portal/src/constants/action-types.ts
  packages/admin-portal/src/constants/paginator.ts
  packages/admin-portal/src/constants/routes.ts
  packages/admin-portal/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/admin-portal/src/core/router.tsx
  packages/admin-portal/src/core/store.ts
  packages/admin-portal/src/reducers/__stubs__/app-state.ts
  packages/admin-portal/src/reducers/customers/__tests__/list.ts
  packages/admin-portal/src/reducers/customers/index.ts
  packages/admin-portal/src/reducers/customers/list.ts
  packages/admin-portal/src/sagas/customers/__stubs__/customers-list.ts
  packages/admin-portal/src/sagas/customers/__tests__/customers-list.ts
  packages/admin-portal/src/sagas/customers/customers-list.ts
  packages/admin-portal/src/sagas/customers/index.ts
  packages/admin-portal/src/selector/customers.ts
  packages/admin-portal/src/services/constants.ts
  packages/admin-portal/src/services/customers.ts
  packages/admin-portal/src/types/core.ts
  packages/admin-portal/src/utils/route-dispatcher.ts
Labels: admin-portal

#2392 fix: #2274 login bug fixed
  packages/developer-portal/src/components/pages/login/__tests__/login.test.tsx
  packages/developer-portal/src/components/pages/login/login.tsx
  packages/developer-portal/src/core/private-route-wrapper.tsx
Labels: developer-portal

#2389 feat: #2135 graphql for enquiries
  packages/graphql-server/src/constants/api.ts
  packages/graphql-server/src/resolvers/enquiries/__stubs__/create-enquiry.ts
  packages/graphql-server/src/resolvers/enquiries/__stubs__/enquiries.ts
  packages/graphql-server/src/resolvers/enquiries/__stubs__/enquiry.ts
  packages/graphql-server/src/resolvers/enquiries/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/enquiries/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/enquiries/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/enquiries/api.ts
  packages/graphql-server/src/resolvers/enquiries/enquiries.d.ts
  packages/graphql-server/src/resolvers/enquiries/resolvers.ts
  packages/graphql-server/src/resolvers/enquiries/services.ts
  packages/graphql-server/src/resolvers/enquiries/types.graphql
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/schema.graphql
  packages/graphql-server/src/types/platform-schema.ts
  scripts/api-documentation/api-doc-config.json
Labels: graphql-server

#2404 fix: #2372 sentry error type error when invite member
  packages/developer-portal/src/core/private-route-wrapper.tsx
Labels: developer-portal

#2406 feat: #2384 Update ‘Set as Admin’ link on Organisations tab in Developers portal
  packages/developer-portal/src/actions/developers/developers.ts
  packages/developer-portal/src/components/pages/settings/__tests__/__snapshots__/set-as-admin-modal.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/__tests__/set-as-admin-modal.test.tsx
  packages/developer-portal/src/components/pages/settings/set-as-admin-modal.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/__tests__/__snapshots__/members.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/__tests__/__snapshots__/settings-organisation-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/members.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/set-as-admin/__tests__/__snapshots__/set-as-admin-modal.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/set-as-admin/__tests__/__snapshots__/success-modal.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/set-as-admin/__tests__/set-as-admin-modal.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/set-as-admin/__tests__/success-modal.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/set-as-admin/index.ts
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/set-as-admin/set-as-admin-modal.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/set-as-admin/success-modal.tsx
  packages/developer-portal/src/constants/action-types.ts
  packages/developer-portal/src/reducers/__stubs__/app-state.ts
  packages/developer-portal/src/reducers/developers/__tests__/members.test.ts
  packages/developer-portal/src/reducers/developers/members.ts
  packages/developer-portal/src/sagas/developers/__tests__/index.ts
  packages/developer-portal/src/sagas/developers/__tests__/set-as-admin.test.ts
  packages/developer-portal/src/sagas/developers/index.ts
  packages/developer-portal/src/sagas/developers/set-as-admin.ts
  packages/developer-portal/src/selector/developers/__tests__/developers.test.ts
  packages/developer-portal/src/selector/developers/developers.ts
Labels: developer-portal

#2403 feat: #2136 Expand graphql for journal entries entity
  packages/graphql-server/src/constants/api.ts
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/resolvers/journal-entries/__stubs__/create-journal-entry.ts
  packages/graphql-server/src/resolvers/journal-entries/__stubs__/journal-entries.ts
  packages/graphql-server/src/resolvers/journal-entries/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/journal-entries/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/journal-entries/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/journal-entries/api.ts
  packages/graphql-server/src/resolvers/journal-entries/journal-entries.ts
  packages/graphql-server/src/resolvers/journal-entries/resolvers.ts
  packages/graphql-server/src/resolvers/journal-entries/services.ts
  packages/graphql-server/src/resolvers/journal-entries/types.graphql
  packages/graphql-server/src/schema.graphql
  packages/graphql-server/src/types/platform-schema.ts
  scripts/api-documentation/api-doc-config.json
Labels: graphql-server

#2409 fix: #2391 Browse app page scrolling is disabled when not over app list
  packages/elements/src/components/Layout/index.tsx
  packages/elements/src/styles/base/utilities.scss
  packages/marketplace/package.json
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/coming-soon.test.tsx.snap
  packages/marketplace/src/components/pages/apps/__tests__/apps.test.tsx
  packages/marketplace/src/components/pages/apps/__tests__/coming-soon.test.tsx
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/app-list.tsx.snap
  packages/marketplace/src/components/ui/app-list.tsx
  packages/marketplace/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/marketplace/src/core/private-route-wrapper.tsx
  packages/marketplace/src/styles/pages/apps.scss
  yarn.lock
Labels: elements, marketplace

#2413 fix: #2391 Add default threshold for apps infinite scroll
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
Labels: marketplace

#2410 feat: #2385 Update ‘Disable’ link for members
  packages/developer-portal/src/actions/developers/__tests__/developers.test.ts
  packages/developer-portal/src/actions/developers/developers.ts
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/__tests__/__snapshots__/members.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/__tests__/__snapshots__/settings-organisation-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/__tests__/members.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/members.tsx
  packages/developer-portal/src/components/ui/__tests__/__snapshots__/disable-member-modal.tsx.snap
  packages/developer-portal/src/components/ui/__tests__/disable-member-modal.tsx
  packages/developer-portal/src/components/ui/disable-member-modal.tsx
  packages/developer-portal/src/constants/action-types.ts
  packages/developer-portal/src/reducers/__stubs__/app-state.ts
  packages/developer-portal/src/reducers/developers/__tests__/members.test.ts
  packages/developer-portal/src/reducers/developers/members.ts
  packages/developer-portal/src/sagas/developers/__tests__/members.test.ts
  packages/developer-portal/src/sagas/developers/members.ts
  packages/developer-portal/src/selector/developers/__tests__/developers.test.ts
  packages/developer-portal/src/selector/developers/developers.ts
  packages/developer-portal/src/services/developers.ts
Labels: developer-portal

#2417 chore: #2385 update condition typo
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/members.tsx
Labels: developer-portal

#2416 chore: #2397 Update 'Welcome Wizard' content in Developers Portal
  packages/developer-portal/src/components/pages/welcome/welcome.tsx
Labels: developer-portal

#2418 chore: #1970 Add helper text for the 'Cost Explorer'
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer-component/cost-explorer.tsx
Labels: developer-portal

#2419 fix: #2391 Add some logs to debug infinite scrolling issues on dev
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/coming-soon.test.tsx.snap
  packages/marketplace/src/components/pages/apps/__tests__/coming-soon.test.tsx
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
  packages/marketplace/src/styles/pages/apps.scss
Labels: marketplace

#2414 feat: #2396 deployment scripts
  .github/workflows/delete-environment.yml
  .github/workflows/release-tag.yml
  .github/workflows/release.yml
  package.json
  packages/admin-portal/package.json
  packages/admin-portal/serverless.yml
  packages/aml-checklist/package.json
  packages/aml-checklist/serverless.yml
  packages/cognito-custom-mail-lambda/package.json
  packages/deploy-slack-bot/src/index.ts
  packages/developer-portal/package.json
  packages/developer-portal/serverless.yml
  packages/geo-diary-v2/package.json
  packages/geo-diary-v2/serverless.yml
  packages/graphql-server/package.json
  packages/graphql-server/src/resolvers/departments/types.graphql
  packages/marketplace/package.json
  packages/marketplace/serverless.yml
  packages/reapit-connect/package.json
  packages/reapit-connect/serverless.yml
  packages/smb-onboarder/package.json
  packages/smb-onboarder/serverless.yml
  packages/web-components-config-server/package.json
  packages/web-components/package.json
  scripts/release/fetch-artifact.js
  scripts/release/release-dev.js
  scripts/release/release.js
  scripts/release/upload-artifact.js
  scripts/release/utils.js
  scripts/serverless-template-generator/webapp.ejs
Labels: admin-portal, aml-checklist, cognito-custom-mail-lambda, developer-portal, geo-diary, graphql-server, marketplace, reapit-connect-welcome, smb-onboarder, web-components, web-components-config-server

#2421 fix: #2391 Add some logs to debug infinite scrolling issues on dev
  packages/marketplace/src/components/pages/apps/apps.tsx
Labels: marketplace

#2428 fix: #2274 cache refresh token for better UX and don't redirect to login
  packages/connect-session/jest.config.js
  packages/connect-session/src/browser/__tests__/index.test.ts
  packages/connect-session/src/browser/index.ts
Labels: connect-session

#2425 fix: #2391 Add some logs to debug infinite scrolling issues on dev
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/coming-soon.test.tsx.snap
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
Labels: marketplace

#2433 fix: #2391 Add some logs to debug infinite scrolling issues on dev
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
Labels: marketplace

#2424 feat: #2395 update invite again
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/__tests__/__snapshots__/members.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/__tests__/__snapshots__/settings-organisation-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/__tests__/members.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/members.tsx
  packages/developer-portal/src/components/ui/developer-invite-member-modal/developer-invite-member-modal.tsx
Labels: developer-portal

#2436 fix: #2391 Add some logs to debug infinite scrolling issues on dev
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/coming-soon.test.tsx.snap
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
Labels: marketplace

#2435 chore: change-deploy-serverless-scripts
  .github/workflows/release.yml
  packages/admin-portal/serverless.yml
  packages/aml-checklist/serverless.yml
  packages/api-docs-lamda/serverless.yml
  packages/cognito-custom-mail-lambda/serverless.yml
  packages/cognito-custom-mail-lambda/webpack.config.js
  packages/demo-site/serverless.yml
  packages/deploy-slack-bot/serverless.yml
  packages/deploy-slack-bot/src/index.ts
  packages/developer-portal/serverless.yml
  packages/elements-next/serverless.yml
  packages/elements/serverless.yml
  packages/geo-diary-v2/serverless.yml
  packages/geo-diary/serverless.yml
  packages/graphql-server/serverless.yml
  packages/lifetime-legal/serverless.yml
  packages/marketplace/serverless.yml
  packages/reapit-connect/serverless.yml
  packages/site-builder/serverless.yml
  packages/smb-onboarder/serverless.yml
  packages/web-components-config-server/serverless.yml
  packages/web-components/serverless.example.yml
  packages/web-components/src/appointment-planner-component/server/serverless.yml
  packages/web-components/src/search-widget/server/serverless.yml
  scripts/release/utils.js
  scripts/serverless-template-generator/fullstack.ejs
  scripts/serverless-template-generator/lambda.ejs
  scripts/serverless-template-generator/webapp.ejs
Labels: admin-portal, aml-checklist, cognito-custom-mail-lambda, demo-site, developer-portal, elements, geo-diary, graphql-server, lifetime-legal, marketplace, reapit-connect-welcome, smb-onboarder, web-components, web-components-config-server

#2444 fix: #2391 Browse app page scrolling is disabled when not over app list
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/coming-soon.test.tsx.snap
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
Labels: marketplace

#2423 feat: #2345 coming soon app
  packages/marketplace/src/assets/images/coming-soon/1Area.jpg
  packages/marketplace/src/assets/images/coming-soon/1Yourkeys.jpeg
  packages/marketplace/src/assets/images/coming-soon/2Starberry.jpeg
  packages/marketplace/src/assets/images/coming-soon/2Starberry.jpg
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
  packages/marketplace/src/types/index.d.ts
  scripts/jest/jest.config.js
Labels: marketplace

#2449 fix: #2391 browse app page scrolling is disabled when not over app list
  packages/marketplace/package.json
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/coming-soon.test.tsx.snap
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
  yarn.lock
Labels: marketplace

#2448 fix: #2345 coming soon app
  packages/marketplace/src/assets/images/coming-soon/12Integrated.jpg
  packages/marketplace/src/assets/images/coming-soon/1Yourkeys.jpeg
  packages/marketplace/src/assets/images/coming-soon/1Yourkeys.jpg
  packages/marketplace/src/assets/images/coming-soon/2Starberry.jpeg
  packages/marketplace/src/assets/images/coming-soon/2Starberry.jpg
  packages/marketplace/src/assets/images/coming-soon/4SMS.jpg
  packages/marketplace/src/assets/images/coming-soon/SMS2.jpg
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/coming-soon.test.tsx.snap
  packages/marketplace/src/components/pages/apps/__tests__/coming-soon.test.tsx
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
  packages/marketplace/src/core/index.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/types/global.d.ts
Labels: marketplace

#2454 fix: #2391 Update tests + remove logs
  packages/marketplace/src/components/pages/apps/__tests__/coming-soon.test.tsx
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
Labels: marketplace

#2446 feat: #2401 Update the 'Client' drop down to show Customer Name & Customer ID
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/__test__/__snapshots__/filter-bar.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/__test__/__snapshots__/filter-form.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/__test__/default-filter-group.test.tsx
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/__test__/filter-bar.test.tsx
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/__test__/filter-form.test.tsx
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/default-filter-group.tsx
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/filter-bar.tsx
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/filter-form.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/webhook-edit-modal.test.tsx
  packages/developer-portal/src/components/pages/webhooks/webhook-edit-modal.tsx
  packages/developer-portal/src/reducers/webhooks-subscriptions/webhook-edit-modal.ts
Labels: developer-portal

#2456 fix: #2274 addresses small IE bug
  packages/connect-session/README.md
  packages/connect-session/jest.config.js
  packages/connect-session/package.json
  packages/connect-session/src/__mocks__/session.ts
  packages/connect-session/src/server/index.ts
  packages/connect-session/src/types.ts
  packages/connect-session/src/utils/verify-decode-id-token.ts
Labels: connect-session

#2457 fix: #2453 - Fix standalone app page scrolling issues on mobile
  packages/marketplace/src/components/pages/app-detail/common/__tests__/__snapshots__/ui-app-header.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/common/ui-app-header.tsx
  packages/marketplace/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/marketplace/src/core/private-route-wrapper.tsx
Labels: marketplace

#2465 fix: #2274 ensure old-sessions do not persist
  packages/connect-session/jest.config.js
  packages/connect-session/package.json
  packages/connect-session/src/browser/index.ts
  yarn.lock
Labels: connect-session

#2461 chore: #2450 Disable the 'Refer to Lifetime Legal' feature in AML
  packages/aml-checklist/src/components/ui/modal/__tests__/__snapshots__/update-status.tsx.snap
  packages/aml-checklist/src/components/ui/modal/update-status.tsx
Labels: aml-checklist

#2468 chore: Update geo-diary release script
  packages/geo-diary/package.json
Labels: geo-diary

#2455 feat: #2398 Apply embed returned schema for all graphql endpoints
  packages/graphql-server/src/resolvers/applicants/api.ts
  packages/graphql-server/src/resolvers/applicants/types.graphql
  packages/graphql-server/src/resolvers/appointments/api.ts
  packages/graphql-server/src/resolvers/appointments/appointments.d.ts
  packages/graphql-server/src/resolvers/appointments/types.graphql
  packages/graphql-server/src/resolvers/companies/api.ts
  packages/graphql-server/src/resolvers/companies/types.graphql
  packages/graphql-server/src/resolvers/contacts/api.ts
  packages/graphql-server/src/resolvers/contacts/contacts.d.ts
  packages/graphql-server/src/resolvers/contacts/types.graphql
  packages/graphql-server/src/resolvers/conveyancing/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/conveyancing/api.ts
  packages/graphql-server/src/resolvers/conveyancing/types.graphql
  packages/graphql-server/src/resolvers/identity-checks/api.ts
  packages/graphql-server/src/resolvers/identity-checks/types.graphql
  packages/graphql-server/src/resolvers/journal-entries/types.graphql
  packages/graphql-server/src/resolvers/landlords/types.graphql
  packages/graphql-server/src/resolvers/negotiators/types.graphql
  packages/graphql-server/src/resolvers/offers/api.ts
  packages/graphql-server/src/resolvers/offers/types.graphql
  packages/graphql-server/src/resolvers/offices/api.ts
  packages/graphql-server/src/resolvers/offices/types.graphql
  packages/graphql-server/src/resolvers/properties/api.ts
  packages/graphql-server/src/resolvers/properties/types.graphql
  packages/graphql-server/src/resolvers/propertyImages/api.ts
  packages/graphql-server/src/resolvers/propertyImages/types.graphql
  packages/graphql-server/src/resolvers/tasks/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/tasks/api.ts
  packages/graphql-server/src/resolvers/tasks/types.graphql
  packages/graphql-server/src/resolvers/tenancies/api.ts
  packages/graphql-server/src/resolvers/tenancies/types.graphql
  packages/graphql-server/src/resolvers/vendors/api.ts
  packages/graphql-server/src/resolvers/vendors/types.graphql
  packages/graphql-server/src/resolvers/works-orders/api.ts
  packages/graphql-server/src/schema.graphql
  scripts/api-documentation/api-doc-config.json
Labels: graphql-server

#2470 chore: #2401 only add SBOX if no installation
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/__test__/filter-form.test.tsx
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/filter-form.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/webhook-edit-modal.test.tsx
  packages/developer-portal/src/components/pages/webhooks/webhook-edit-modal.tsx
  packages/developer-portal/src/constants/api.ts
Labels: developer-portal

#2441 chore: #2402 ui updates tweaks to the developers portal
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/__styles__/filter-form.ts
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/filter-form.tsx
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/general-information-section.test.tsx.snap
  packages/developer-portal/src/components/pages/register/register.tsx
  packages/developer-portal/src/components/pages/settings/__tests__/__snapshots__/settings.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/__tests__/__snapshots__/tabs.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/__tests__/settings.test.tsx
  packages/developer-portal/src/components/pages/settings/billing/__tests__/__snapshots__/subscriptions.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/billing/subscriptions.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/__tests__/__snapshots__/settings-billing-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__tests__/__snapshots__/account-status-section.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/account-status-section.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/accounts-information-form.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/__tests__/__snapshots__/settings-organisation-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings.tsx
  packages/developer-portal/src/components/pages/settings/tabs.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/webhooks.tsx
  packages/developer-portal/src/components/ui/menu.tsx
  packages/developer-portal/src/constants/routes.ts
  packages/developer-portal/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/developer-portal/src/core/router.tsx
  packages/developer-portal/src/styles/blocks/app-authentication-detail.scss
  packages/developer-portal/src/styles/blocks/submit-app-wizard.scss
  packages/developer-portal/src/styles/pages/login.scss
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/utils/__tests__/route-dispatcher.ts
  packages/developer-portal/src/utils/route-dispatcher.ts
  packages/elements/src/components/DatePicker/index.tsx
  packages/elements/src/components/SelectBox/index.tsx
Labels: developer-portal

#2466 fix: #2464 - Fix registration success message styles
  packages/developer-portal/src/components/pages/register/__tests__/__snapshots__/register.test.tsx.snap
  packages/developer-portal/src/components/pages/register/register.tsx
Labels: developer-portal

#2472 feat: #1013 update prod auth flow
  packages/admin-portal/src/components/pages/apps-management/__tests__/__snapshots__/apps-management.test.tsx.snap
  packages/admin-portal/src/components/pages/billing/__tests__/__snapshots__/billing.test.tsx.snap
  packages/admin-portal/src/services/approvals.ts
  packages/admin-portal/src/services/apps.ts
  packages/admin-portal/src/services/customers.ts
  packages/admin-portal/src/services/desktop-integration-types.ts
  packages/admin-portal/src/services/developers.ts
  packages/admin-portal/src/services/installations.ts
  packages/admin-portal/src/services/scopes.ts
  packages/admin-portal/src/services/utils.ts
  packages/connect-session/jest.config.js
  packages/connect-session/package.json
  packages/connect-session/src/browser/__tests__/index.test.ts
  packages/connect-session/src/browser/index.ts
  packages/developer-portal/src/components/pages/analytics/cost-explorer/transaction-history/__test__/transaction-history.test.tsx
  packages/developer-portal/src/components/pages/analytics/cost-explorer/transaction-history/transaction-history.tsx
  packages/developer-portal/src/services/apps.ts
  packages/developer-portal/src/services/billing.ts
  packages/developer-portal/src/services/categories.ts
  packages/developer-portal/src/services/desktop-integration-types.ts
  packages/developer-portal/src/services/developer-subscriptions.ts
  packages/developer-portal/src/services/developers.ts
  packages/developer-portal/src/services/installations.ts
  packages/developer-portal/src/services/scopes.ts
  packages/developer-portal/src/services/statistics.ts
  packages/developer-portal/src/services/traffic-statistics.ts
  packages/developer-portal/src/services/upload.ts
  packages/developer-portal/src/services/utils.ts
  packages/developer-portal/src/services/web-component.ts
  packages/marketplace/src/services/apps.ts
  packages/marketplace/src/services/categories.ts
  packages/marketplace/src/services/desktop-integration-types.ts
  packages/marketplace/src/services/installations.ts
  packages/marketplace/src/services/utils.ts
  packages/marketplace/src/services/web-component.ts
Labels: admin-portal, connect-session, developer-portal, marketplace

#2473 fix: #2467 fix CPU variance issue
  packages/admin-portal/src/services/utils.ts
  packages/connect-session/src/utils/verify-decode-id-token.ts
  packages/developer-portal/src/services/utils.ts
  packages/marketplace/src/services/negotiators.ts
  packages/marketplace/src/services/utils.ts
Labels: admin-portal, connect-session, developer-portal, marketplace

#2474 fix: #2467 upped the clock drift on connect session, few other small …
  packages/api-docs-lamda/serverless.yml
  packages/api-docs-lamda/src/index.ts
  packages/api-docs-lamda/yarn.lock
  packages/connect-session/package.json
  packages/connect-session/src/utils/verify-decode-id-token.ts
  packages/developer-portal/src/components/pages/analytics/__tests__/analytics.tsx
  packages/developer-portal/src/components/pages/settings/__tests__/tabs.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/accounts-information-form.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/settings-billing-tab.tsx
  packages/developer-portal/src/components/pages/settings/tabs.tsx
  packages/developer-portal/src/services/constants.ts
Labels: connect-session, developer-portal

#2471 fix: #2345 remove border from card
  packages/elements/src/styles/base/utilities.scss
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
Labels: elements, marketplace

#2481 chore: #2401 rename SBOX client name
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/__test__/filter-form.test.tsx
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/filter-form.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/webhook-edit-modal.test.tsx
  packages/developer-portal/src/components/pages/webhooks/webhook-edit-modal.tsx
  packages/developer-portal/src/constants/api.ts
Labels: developer-portal

#2483 fix: #2451 land on page not found
  packages/admin-portal/src/core/private-route-wrapper.tsx
  packages/developer-portal/src/components/hocs/__tests__/route-fetcher.tsx
  packages/developer-portal/src/constants/routes.ts
  packages/developer-portal/src/core/__tests__/__snapshots__/private-route.tsx.snap
  packages/developer-portal/src/core/__tests__/private-route.tsx
  packages/developer-portal/src/core/private-route-wrapper.tsx
  packages/marketplace/src/core/private-route-wrapper.tsx
Labels: admin-portal, developer-portal, marketplace

#2485 fix: Admin portal login issues
  packages/admin-portal/src/core/__tests__/__snapshots__/private-route.tsx.snap
  packages/admin-portal/src/core/private-route.tsx
Labels: admin-portal

#2487 fix: #2476 fix chatbot show multiple times on developer portal
  packages/developer-portal/src/components/pages/help/__tests__/help.test.tsx
  packages/developer-portal/src/components/pages/help/help.tsx
  packages/developer-portal/src/scripts/chat-bot.js
Labels: developer-portal

#2469 feat: #2445 graphql server for documents
  packages/graphql-server/src/constants/api.ts
  packages/graphql-server/src/resolvers/applicants/types.graphql
  packages/graphql-server/src/resolvers/contacts/types.graphql
  packages/graphql-server/src/resolvers/documents/__stubs__/create-document.ts
  packages/graphql-server/src/resolvers/documents/__stubs__/delete-document.ts
  packages/graphql-server/src/resolvers/documents/__stubs__/document.ts
  packages/graphql-server/src/resolvers/documents/__stubs__/documents.ts
  packages/graphql-server/src/resolvers/documents/__stubs__/update-document.ts
  packages/graphql-server/src/resolvers/documents/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/documents/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/documents/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/documents/api.ts
  packages/graphql-server/src/resolvers/documents/documents.d.ts
  packages/graphql-server/src/resolvers/documents/resolvers.ts
  packages/graphql-server/src/resolvers/documents/services.ts
  packages/graphql-server/src/resolvers/documents/types.graphql
  packages/graphql-server/src/resolvers/identity-checks/types.graphql
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/resolvers/landlords/types.graphql
  packages/graphql-server/src/resolvers/properties/types.graphql
  packages/graphql-server/src/resolvers/tenancies/types.graphql
  packages/graphql-server/src/schema.graphql
  scripts/api-documentation/api-doc-config.json
Labels: graphql-server

#2486 chore: Update developer redirect url in reapit connect
  packages/reapit-connect/src/constants/routes.ts
  packages/reapit-connect/src/core/__tests__/app.test.tsx
  packages/reapit-connect/src/core/app.tsx
  packages/reapit-connect/src/core/index.tsx
  packages/reapit-connect/src/types/global.d.ts
Labels: reapit-connect-welcome

#2489 fix: #2479 upload image button error
  packages/developer-portal/src/components/pages/edit-app/developer-edit-app.tsx
  packages/elements/src/components/FileInput/index.tsx
Labels: developer-portal, elements

#2493 chore: #2476 identify chatlio when identity available
  packages/developer-portal/src/components/pages/help/help.tsx
Labels: developer-portal

#2491 chore: update marketplace redirect url on aml-checklist app
  packages/aml-checklist/src/components/ui/menu.tsx
  packages/aml-checklist/src/core/index.tsx
  packages/aml-checklist/src/types/global.d.ts
Labels: aml-checklist

#2496 fix: #2479 bug on upload images ui button
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/developer-edit-app.tsx
  packages/elements/src/components/FileInput/index.tsx
Labels: developer-portal, elements

#2497 fix: Geo diary login and graphql embedded issues
  packages/geo-diary/src/components/pages/appointment/__tests__/__snapshots__/appointment.test.tsx.snap
  packages/geo-diary/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/geo-diary/src/components/pages/login/login.tsx
  packages/geo-diary/src/components/ui/appointment-detail-modal/__tests__/__snapshots__/appointment-detail-modal.test.tsx.snap
  packages/geo-diary/src/core/__tests__/__snapshots__/app.test.tsx.snap
  packages/geo-diary/src/core/app.tsx
  packages/geo-diary/src/core/private-route-wrapper.tsx
  packages/geo-diary/src/graphql/fragments/appointment-model.graphql
  packages/geo-diary/src/graphql/fragments/negotiator-model.graphql
  packages/geo-diary/src/graphql/fragments/office-model.graphql
Labels: geo-diary

#2499 feat: #2396 prod tidy up
  package.json
  packages/cognito-custom-mail-lambda/package.json
  packages/cognito-custom-mail-lambda/serverless.yml
  packages/cognito-custom-mail-lambda/webpack.config.js
  packages/connect-session/package.json
  packages/connect-session/src/utils/verify-decode-id-token.ts
  packages/developer-portal/src/components/pages/analytics/cost-explorer/transaction-history/transaction-history.tsx
  packages/developer-portal/src/services/billing.ts
  packages/developer-portal/src/services/traffic-statistics.ts
  yarn.lock
Labels: cognito-custom-mail-lambda, connect-session, developer-portal

#2502 chore: temporary disabled logger for graphql
  packages/graphql-server/src/utils/__tests__/handle-error.test.ts
  packages/graphql-server/src/utils/handle-error.ts
Labels: graphql-server

#2503 feat: #2495 add * to require fields in organisation tab
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/__tests__/__snapshots__/company-address-section.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/__tests__/__snapshots__/company-information.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/form-schema/form-fields.ts
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/form-schema/validation-schema.ts
Labels: developer-portal

#2504 chore: temporary disabled errors
  packages/graphql-server/src/utils/handle-error.ts
Labels: graphql-server

#2505 chore: change log errors
  packages/graphql-server/src/utils/handle-error.ts
Labels: graphql-server

#2506 chore: remove logger for debugging
  packages/graphql-server/src/resolvers/appointments/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/appointments/api.ts
Labels: graphql-server

#2508 chore: #2494 Update the modal when the account status is not confirmed
  packages/developer-portal/src/components/pages/edit-app/developer-edit-app.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#2507 fix: #2345 update coming soon apps section
  packages/marketplace/src/assets/images/coming-soon/3IAMProperty.jpg
  packages/marketplace/src/assets/images/coming-soon/7Twentyci.jpg
  packages/marketplace/src/assets/images/coming-soon/ReapitPayments.jpg
  packages/marketplace/src/assets/images/coming-soon/SMSMobile.jpg
  packages/marketplace/src/assets/images/coming-soon/TwentyCiProspect.jpg
  packages/marketplace/src/assets/images/coming-soon/TwentyCiVMC.jpg
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
Labels: marketplace

#2509 fix: SMB graphql embedded issues
  packages/smb-onboarder/src/components/pages/negotiators/__tests__/__snapshots__/negotiators.test.tsx.snap
  packages/smb-onboarder/src/components/pages/offices/__tests__/__snapshots__/offices.tsx.snap
  packages/smb-onboarder/src/components/ui/negotiators-list/__tests__/__snapshots__/negotiators-list.test.tsx.snap
  packages/smb-onboarder/src/components/ui/negotiators-list/gql/get-negotiators.graphql
  packages/smb-onboarder/src/components/ui/offices-tab/__tests__/__snapshots__/offices-tab.tsx.snap
  packages/smb-onboarder/src/graphql/fragments/negotiator.graphql
  packages/smb-onboarder/src/graphql/fragments/office.graphql
Labels: smb-onboarder

#2510 chore: revert logger
  packages/graphql-server/src/resolvers/appointments/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/appointments/api.ts
  packages/graphql-server/src/utils/__tests__/handle-error.test.ts
  packages/graphql-server/src/utils/handle-error.ts
Labels: graphql-server

#2498 fix: #2492 disable account status checking when delisting app
  packages/developer-portal/src/components/pages/edit-app/__tests__/developer-edit-app.test.tsx
  packages/developer-portal/src/components/pages/edit-app/developer-edit-app.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/utils/__tests__/route-dispatcher.ts
  packages/developer-portal/src/utils/route-dispatcher.ts
Labels: developer-portal

#2513 fix: #2402 tweak developer portal ui
  packages/developer-portal/src/components/pages/app-detail/app-revision-modal/app-revision-modal.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__tests__/__snapshots__/account-status-section.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/account-status-section.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/accounts-information-form.tsx
  packages/developer-portal/src/styles/blocks/submit-app-wizard.scss
  packages/smb-onboarder/src/components/providers/__tests__/upload-provider.tsx
Labels: developer-portal, smb-onboarder

#2511 chore: #2501 Update the 'Settings/Profile' page in Marketplace to populate the user information
  packages/connect-session/package.json
  packages/connect-session/src/__mocks__/session.ts
  packages/connect-session/src/types.ts
  packages/connect-session/src/utils/verify-decode-id-token.ts
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/setting.test.tsx.snap
  packages/marketplace/src/components/pages/settings/setting.tsx
  packages/marketplace/src/selector/auth/__mocks__/auth.ts
  packages/marketplace/src/selector/auth/__tests__/auth.test.ts
  packages/marketplace/src/selector/auth/auth.ts
Labels: connect-session, marketplace

#2515 fix: #2514 AML queries remove unnecssary empty values
  packages/aml-checklist/src/sagas/result.ts
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
Labels: aml-checklist

#2516 fix: #2396 various tweaks for prod
  packages/aml-checklist/src/components/ui/menu.tsx
  packages/developer-portal/src/components/pages/app-detail/app-revision-modal/__test__/app-revision-modal.test.tsx
  packages/developer-portal/src/services/upload.ts
  packages/geo-diary/src/components/ui/menu/menu.tsx
  packages/marketplace/src/assets/images/Domvs.jpg
  packages/marketplace/src/components/ui/__tests__/menu.tsx
  packages/marketplace/src/components/ui/menu.tsx
  packages/marketplace/src/constants/api.ts
  packages/marketplace/src/selector/auth/__tests__/auth.test.ts
  packages/marketplace/src/selector/auth/auth.ts
Labels: aml-checklist, developer-portal, geo-diary, marketplace

#2517 fix: #2396 disable change password in desktop
  packages/marketplace/src/components/pages/settings/setting.tsx
Labels: marketplace

#2525 fix: #2512 notification for aml checklist
  packages/aml-checklist/jest.config.js
  packages/aml-checklist/src/actions/error.ts
  packages/aml-checklist/src/components/hocs/__tests__/__snapshots__/error-boundary.tsx.snap
  packages/aml-checklist/src/components/hocs/__tests__/error-boundary.tsx
  packages/aml-checklist/src/components/hocs/error-boundary.tsx
  packages/aml-checklist/src/components/pages/__tests__/__snapshots__/checklist-detail.tsx.snap
  packages/aml-checklist/src/components/pages/__tests__/__snapshots__/results.tsx.snap
  packages/aml-checklist/src/components/pages/client-search/__tests__/__snapshots__/client-search.tsx.snap
  packages/aml-checklist/src/components/pages/client-search/index.ts
  packages/aml-checklist/src/components/ui/modal/address-information/index.ts
  packages/aml-checklist/src/components/ui/modal/index.ts
  packages/aml-checklist/src/constants/auth.ts
  packages/aml-checklist/src/constants/session.ts
  packages/aml-checklist/src/core/store.ts
  packages/aml-checklist/src/reducers/__tests__/error.ts
  packages/aml-checklist/src/reducers/error.ts
  packages/aml-checklist/src/sagas/__tests__/api.test.ts
  packages/aml-checklist/src/sagas/__tests__/checklist-detail.test.ts
  packages/aml-checklist/src/sagas/__tests__/identity-types.test.ts
  packages/aml-checklist/src/sagas/__tests__/result.test.ts
  packages/aml-checklist/src/sagas/api.ts
  packages/aml-checklist/src/sagas/checklist-detail.ts
  packages/aml-checklist/src/sagas/identity-types.ts
  packages/aml-checklist/src/sagas/result.ts
  packages/aml-checklist/src/types/core.ts
Labels: aml-checklist

#2527 feat: #2396 updates coming soon apps
  packages/marketplace/src/assets/images/coming-soon/MAB.jpg
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
Labels: marketplace

#2532 chore: #2519 update dev pipeline to deploy new infra
  packages/admin-portal/package.json
  packages/aml-checklist/package.json
  packages/cognito-custom-mail-lambda/package.json
  packages/demo-site/package.json
  packages/developer-portal/package.json
  packages/elements-next/package.json
  packages/elements/package.json
  packages/geo-diary/package.json
  packages/lifetime-legal/package.json
  packages/marketplace/package.json
  packages/reapit-connect/package.json
  packages/site-builder/package.json
  packages/smb-onboarder/package.json
  packages/web-components/package.json
Labels: admin-portal, aml-checklist, cognito-custom-mail-lambda, demo-site, developer-portal, elements, geo-diary, lifetime-legal, marketplace, reapit-connect-welcome, smb-onboarder, web-components

#2533 chore: #2519 remove release:dev command
  .github/workflows/release-dev.yml
  package.json
  packages/admin-portal/package.json
  packages/aml-checklist/package.json
  packages/cognito-custom-mail-lambda/package.json
  packages/demo-site/package.json
  packages/developer-portal/package.json
  packages/elements-next/package.json
  packages/elements/package.json
  packages/geo-diary/package.json
  packages/graphql-server/package.json
  packages/lifetime-legal/package.json
  packages/marketplace/package.json
  packages/reapit-connect/package.json
  packages/site-builder/package.json
  packages/smb-onboarder/package.json
  packages/web-components-config-server/package.json
  packages/web-components/package.json
Labels: admin-portal, aml-checklist, cognito-custom-mail-lambda, demo-site, developer-portal, elements, geo-diary, graphql-server, lifetime-legal, marketplace, reapit-connect-welcome, smb-onboarder, web-components, web-components-config-server
