Repository reapit/foundations, pull requests merged in 2021-02, with the labels that each got.

#3408 feat: #3353 payments refinements
  packages/payments-client/src/services/payment.ts
Labels: payments-client

#3411 fix: #3310 #3402 show offices, fix launch link
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/app-install-confirmation.tsx
  packages/reapit-connect-management/src/components/pages/offices.tsx
  packages/reapit-connect-management/src/core/private-route-wrapper.tsx
Labels: marketplace

#3414 fix: #3353 allow non-unique transactions
  packages/payments-client/src/components/ui/payment-handlers.ts
Labels: payments-client

#3416 feat: #3353 add email button to payments page. Fix error handling whe…
  packages/payments-client/src/components/ui/payment-handlers.ts
  packages/payments-client/src/components/ui/payment-page-content.tsx
  scripts/release/utils.js
Labels: payments-client

#3421 feat: #3353 payments refinements
  packages/elements/src/components/CardInputGroup/card-helpers.ts
  packages/mailer-service/src/controllers/__tests__/create-payment-receipt-external.test.ts
  packages/mailer-service/src/controllers/__tests__/create-payment-receipt-internal.test.ts
  packages/mailer-service/src/controllers/__tests__/create-payment-request.test.ts
  packages/mailer-service/src/controllers/create-payment-receipt-external.ts
  packages/mailer-service/src/controllers/create-payment-receipt-internal.ts
  packages/mailer-service/src/controllers/create-payment-request.ts
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payments.test.tsx.snap
  packages/payments-client/src/components/pages/__tests__/payments.test.tsx
  packages/payments-client/src/components/pages/payment-page-handlers.ts
  packages/payments-client/src/components/pages/payments.tsx
  packages/payments-client/src/components/ui/__tests__/__snapshots__/payment-filter-form.test.tsx.snap
  packages/payments-client/src/components/ui/__tests__/__snapshots__/payment-request-modal.test.tsx.snap
  packages/payments-client/src/components/ui/__tests__/payment-filter-form.test.tsx
  packages/payments-client/src/components/ui/payment-form.tsx
  packages/payments-client/src/components/ui/payment-handlers.ts
  packages/payments-client/src/components/ui/payment-page-content.tsx
  packages/payments-client/src/components/ui/payment-request-modal.tsx
  packages/payments-client/src/components/ui/payments-filter-form.tsx
  packages/payments-service/serverless.yml
Labels: elements, payments-client

#3461 feat: #3425 #3437 #3436 payments prod improvements
  packages/payments-client/.sentryclirc
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payment-external.test.tsx.snap
  packages/payments-client/src/components/pages/payment-external.tsx
  packages/payments-client/src/components/ui/__tests__/payment-handlers.test.ts
  packages/payments-client/src/components/ui/payment-form.tsx
  packages/payments-client/src/components/ui/payment-handlers.ts
  packages/payments-client/src/core/index.tsx
  packages/payments-client/src/tests/badges/badge-branches.svg
  packages/payments-client/src/tests/badges/badge-functions.svg
  packages/payments-client/src/tests/badges/badge-lines.svg
  packages/payments-client/src/tests/badges/badge-statements.svg
  packages/payments-client/src/utils/fetcher.ts
  packages/payments-service/jest.config.js
  packages/payments-service/src/controllers/update-payment.ts
  packages/payments-service/src/tests/badges/badge-branches.svg
  packages/payments-service/src/tests/badges/badge-lines.svg
  packages/payments-service/src/tests/badges/badge-statements.svg
Labels: payments-client

#3499 feat: #3486 #3483 marketplace permission fixes
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/app-install-confirmation.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/__tests__/app-uninstall-confirmation.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-install-confirmation.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-uninstall-confirmation.tsx
  packages/marketplace/src/core/index.tsx
  packages/marketplace/src/selector/auth/__tests__/auth.test.ts
  packages/marketplace/src/selector/auth/auth.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/types/global.d.ts
  packages/reapit-connect-management/src/components/pages/marketplace-app.tsx
Labels: marketplace

#3519 fix: #3364 infra refactor
  .yarn/cache/serverless-s3-deploy-npm-0.10.0-c4e6549b8a-66cc193387.zip
  packages/admin-portal/package.json
  packages/admin-portal/serverless.yml
  packages/aml-checklist/package.json
  packages/cognito-custom-mail-lambda/package.json
  packages/connect-session/package.json
  packages/data-warehouse/package.json
  packages/data-warehouse/serverless.yml
  packages/developer-portal/package.json
  packages/developer-portal/serverless.yml
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/elements/package.json
  packages/elements/serverless.yml
  packages/event-status-service/package.json
  packages/geo-diary/package.json
  packages/geo-diary/serverless.yml
  packages/graphql-server/package.json
  packages/graphql-server/webpack.config.js
  packages/mailer-service/package.json
  packages/marketplace/package.json
  packages/marketplace/serverless.yml
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/payments-client/package.json
  packages/payments-client/serverless.yml
  packages/payments-service/package.json
  packages/property-projector/config.example.json
  packages/property-projector/package.json
  packages/reapit-connect-management/package.json
  packages/reapit-connect-management/serverless.yml
  packages/reapit-connect-management/src/tests/badges/badge-branches.svg
  packages/reapit-connect-management/src/tests/badges/badge-lines.svg
  packages/reapit-connect-management/src/tests/badges/badge-statements.svg
  packages/reapit-connect/package.json
  packages/reapit-connect/serverless.yml
  packages/utils/package.json
  packages/web-components-config-server/package.json
  packages/web-components/package.json
  scripts/webpack/webpack.config.node.js
  scripts/webpack/webpack.pwa.prod.js
  yarn.lock
Labels: admin-portal, aml-checklist, cognito-custom-mail-lambda, connect-session, data-warehouse, developer-portal, elements, event-status-service, geo-diary, graphql-server, infra, mailer-service, marketplace, payments-client, payments-service, reapit-connect, reapit-connect-management, utils, web-components, web-components-config-server

#3527 fix: #3503 missing return statement, tweak to build script
  .github/workflows/codeql-analysis.yml
  .github/workflows/release-prod.yml
  .github/workflows/test-pr.yml
  package.json
  packages/data-warehouse/src/components/pages/analytics/analytics-handlers.ts
Labels: data-warehouse, infra

#3528 [Snyk] Upgrade graphql from 14.5.8 to 14.7.0
  .yarn/cache/graphql-npm-14.5.8-60fbeff62e-37cab777ba.zip
  package.json
  packages/graphql-server/package.json
  yarn.lock
Labels: graphql-server

#3520 feat: #3358 - move to v3 builds
  .gitignore
  .yarn/cache/@webpack-contrib-schema-utils-npm-1.0.0-beta.0-aab79c5af9-56e3db73a8.zip
  .yarn/cache/loglevelnext-npm-1.0.5-423c9fa1e0-57492c93ff.zip
  .yarn/cache/meow-npm-7.1.1-8aa72d593e-de6d2f1533.zip
  .yarn/cache/move-file-cli-npm-2.0.0-709ec453fc-c4d156f4b7.zip
  .yarn/cache/move-file-npm-2.0.0-51b575bcf0-21b60e9a16.zip
  .yarn/cache/react-docgen-typescript-loader-npm-3.7.2-651f93b6d3-3651ba3e3c.zip
  .yarn/cache/react-docgen-typescript-npm-1.21.0-9f7a1f6871-084031f3e8.zip
  .yarn/cache/webpack-log-npm-1.2.0-bb171c2f35-e1822a5e9b.zip
  packages/elements/.storybook/main.js
  packages/elements/.storybook/manager.js
  packages/elements/.storybook/preview.js
  packages/elements/.storybook/webpack.config.js
  packages/elements/README.md
  packages/elements/jest.config.js
  packages/elements/package.json
  packages/elements/src/components-v3/Button/__styles__/index.ts
  packages/elements/src/components-v3/Button/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components-v3/Button/__tests__/index.tsx
  packages/elements/src/components-v3/Button/button.stories.tsx
  packages/elements/src/components-v3/Button/index.tsx
  packages/elements/src/components/BreadcrumbV2/breadcrumb.stories.tsx
  packages/elements/src/components/HelpGuide/help-guide.stories.tsx
  packages/elements/src/styles-v3/base/borders.ts
  packages/elements/src/styles-v3/base/box-alignment.ts
  packages/elements/src/styles-v3/base/flexbox.ts
  packages/elements/src/styles-v3/base/intent.ts
  packages/elements/src/styles-v3/base/padding.ts
  packages/elements/src/styles-v3/base/sizing.ts
  packages/elements/src/styles-v3/base/spacing.ts
  packages/elements/src/styles-v3/base/typography.ts
  packages/elements/src/styles-v3/base/variables.ts
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/elements/src/v3.tsx
  yarn.lock
Labels: elements, reapit-connect-management

#3538 [Snyk] Security upgrade yeoman-generator from 4.13.0 to 5.0.0
  packages/react-app-scaffolder/package.json
Labels: react-app-scaffolder

#3555 fix: #3505 #3547 fixes docs and dev build
  .yarn/cache/@octokit-auth-token-npm-2.4.5-91cd7149bb-4cd8ef3bc0.zip
  .yarn/cache/@octokit-core-npm-3.2.5-327441cac7-509d224696.zip
  .yarn/cache/@octokit-graphql-npm-4.6.0-dc38b04abf-fc5d1b0593.zip
  .yarn/cache/@octokit-openapi-types-npm-5.1.1-d652cff4fc-bddf08ca8c.zip
  .yarn/cache/@octokit-plugin-paginate-rest-npm-2.10.0-abf0c388bd-5af3fee3ce.zip
  .yarn/cache/@octokit-plugin-request-log-npm-1.0.3-f2ac3e7009-f858361b36.zip
  .yarn/cache/@octokit-plugin-rest-endpoint-methods-npm-4.12.0-090b7c7e6f-eea39b5c72.zip
  .yarn/cache/@octokit-request-npm-5.4.14-47e6e4e873-06aa040100.zip
  .yarn/cache/@octokit-rest-npm-18.2.0-84dfd1773f-19b7a235a1.zip
  .yarn/cache/@octokit-types-npm-6.10.0-82fccdbc1f-ba93f4f721.zip
  .yarn/cache/@snowpack-plugin-babel-npm-2.1.6-f2c6816868-018c615467.zip
  .yarn/cache/before-after-hook-npm-2.1.1-677f955eb9-07b84cf850.zip
  .yarn/cache/dargs-npm-7.0.0-62701e0c7a-ca99396d24.zip
  .yarn/cache/github-username-npm-6.0.0-6b7380ded2-e0fb936e14.zip
  .yarn/cache/is-plain-object-npm-5.0.0-285b70faa3-92bd87f095.zip
  .yarn/cache/universal-user-agent-npm-6.0.0-b148fb997a-725797ab63.zip
  .yarn/cache/workerpool-npm-6.1.0-e1ce970c3c-c4295cacc2.zip
  .yarn/cache/yeoman-generator-npm-5.0.1-21c8a51c2e-633315d007.zip
  README.md
  packages/developer-portal/package.json
  packages/developer-portal/src/assets/files/foundation-pricing-2021.pdf
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/__test__/__snapshots__/cost-calculator.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/cost-calculator.tsx
  packages/graphql-server/webpack.config.js
  scripts/webpack/webpack.config.prod.js
  yarn.lock
Labels: developer-portal, graphql-server, infra

#3565 feat: #3513 adds healthchecks for apps and services
  packages/admin-portal/src/constants/routes.ts
  packages/admin-portal/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/admin-portal/src/core/router.tsx
  packages/aml-checklist/src/constants/routes.ts
  packages/aml-checklist/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/aml-checklist/src/core/router.tsx
  packages/cloud-alert/cypress/integration/__snapshots__/marketplace.test.ts.snap
  packages/cloud-alert/cypress/integration/admin-portal.test.ts
  packages/cloud-alert/cypress/integration/aml-checklist.test.ts
  packages/cloud-alert/cypress/integration/developer-portal.test.ts
  packages/cloud-alert/cypress/integration/geo-diary.test.ts
  packages/cloud-alert/cypress/integration/graphql-server.test.ts
  packages/cloud-alert/cypress/integration/life-time-legal.test.ts
  packages/cloud-alert/cypress/integration/marketplace.test.ts
  packages/cloud-alert/cypress/integration/node-services.test.ts
  packages/cloud-alert/cypress/integration/search-widget.test.ts
  packages/cloud-alert/cypress/integration/web-apps.test.ts
  packages/cloud-alert/cypress/integration/web-components-config-server.test.ts
  packages/cloud-alert/cypress/support/constants.ts
  packages/data-warehouse/src/constants/routes.ts
  packages/data-warehouse/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/data-warehouse/src/core/router.tsx
  packages/developer-portal/src/constants/routes.ts
  packages/developer-portal/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/developer-portal/src/core/router.tsx
  packages/event-status-service/jest.config.js
  packages/event-status-service/src/core/__tests__/server.test.ts
  packages/event-status-service/src/core/server.ts
  packages/geo-diary/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/geo-diary/src/core/router.tsx
  packages/mailer-service/src/core/__tests__/server.test.ts
  packages/mailer-service/src/core/server.ts
  packages/marketplace-management/src/constants/routes.ts
  packages/marketplace-management/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/marketplace-management/src/core/router.tsx
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/marketplace/src/core/router.tsx
  packages/payments-client/src/constants/routes.ts
  packages/payments-client/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/payments-client/src/core/router.tsx
  packages/payments-service/jest.config.js
  packages/payments-service/src/core/__tests__/server.test.ts
  packages/payments-service/src/core/server.ts
  packages/reapit-connect/src/constants/routes.ts
  packages/reapit-connect/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/reapit-connect/src/core/router.tsx
  packages/utils/index.ts
  packages/utils/src/cloud-alert/__tests__/__snapshots__/ok-page.test.tsx.snap
  packages/utils/src/cloud-alert/__tests__/ok-page.test.tsx
  packages/utils/src/cloud-alert/ok-page.tsx
Labels: admin-portal, aml-checklist, cloud-alert, data-warehouse, developer-portal, event-status-service, geo-diary, mailer-service, marketplace, marketplace-management, payments-client, payments-service, reapit-connect, utils

#3569 fix: #3513 fix healthchecks
  packages/cloud-alert/cypress/integration/node-services.test.ts
  packages/cloud-alert/cypress/integration/web-apps.test.ts
  packages/cloud-alert/cypress/support/constants.ts
  packages/data-warehouse/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/data-warehouse/src/core/router.tsx
  packages/event-status-service/serverless.yml
  packages/mailer-service/serverless.yml
  packages/payments-service/serverless.yml
Labels: cloud-alert, data-warehouse, event-status-service, mailer-service, payments-service

#3570 fix: #3513 additional healthcheck fixes
  packages/cloud-alert/cypress/integration/node-services.test.ts
  packages/cloud-alert/cypress/integration/web-apps.test.ts
  packages/data-warehouse/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/data-warehouse/src/core/router.tsx
  packages/event-status-service/src/core/server.ts
  packages/reapit-connect/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/reapit-connect/src/core/index.tsx
  packages/reapit-connect/src/core/router.tsx
  scripts/webpack/webpack.config.node.js
Labels: cloud-alert, data-warehouse, event-status-service, infra, reapit-connect
