Repository reapit/foundations, pull requests merged in 2021-04, with the labels that each got.

#3877 fix: #3874 fixes spacing issue in docs
  packages/elements/package.json
  packages/elements/src/styles/vendor/bulma-overrides.scss
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
Labels: elements

#3889 fix: #3888 ts definitions cron fix
  packages/foundations-ts-definitions/package.json
  packages/foundations-ts-definitions/scripts/create-index-file.js
  packages/foundations-ts-definitions/scripts/fetch-definitions.js
  packages/foundations-ts-definitions/scripts/format-code.js
  packages/foundations-ts-definitions/scripts/get-current-time-stamp-string.js
  packages/foundations-ts-definitions/scripts/handle-cronjob.js
  packages/foundations-ts-definitions/scripts/release-github.js
  packages/foundations-ts-definitions/scripts/release-npm.js
  packages/foundations-ts-definitions/scripts/update-npm.js
  packages/foundations-ts-definitions/types/marketplace-schema.ts
  packages/foundations-ts-definitions/types/platform-schema.ts
  packages/ts-scripts/package.json
Labels: ts-scripts

#3882 feat: #54 elementsv3-input-2
  packages/elements/src/components-v3/Input/__styles__/index.tsx
  packages/elements/src/components-v3/Input/input.stories.mdx
  packages/elements/src/components-v3/InputGroup/__styles__/index.tsx
  packages/elements/src/components-v3/InputGroup/inputGroup.stories.mdx
  packages/elements/src/components-v3/Select/__styles__/index.tsx
  packages/elements/src/components-v3/Select/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components-v3/Select/__tests__/index.tsx
  packages/elements/src/components-v3/Select/index.tsx
  packages/elements/src/components-v3/Select/select.stories.mdx
  packages/elements/src/styles-v3/base/flexbox.stories.mdx
  packages/elements/src/styles-v3/base/padding.ts
  packages/elements/src/styles-v3/base/spacing.stories.mdx
  packages/elements/src/styles-v3/base/variables.ts
  packages/elements/src/v3.tsx
Labels: elements

#3896 fix: admin approval created row
  packages/admin-portal/src/components/pages/approvals/approvals.tsx
Labels: admin-portal

#3897 feat: #2636 - add Steps component for use in the wizard
  packages/elements/src/components-v3/Steps/__styles__/index.tsx
  packages/elements/src/components-v3/Steps/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components-v3/Steps/__tests__/index.tsx
  packages/elements/src/components-v3/Steps/index.tsx
  packages/elements/src/components-v3/Steps/steps.stories.mdx
  packages/elements/src/styles-v3/base/states.ts
  packages/elements/src/styles-v3/base/variables.ts
Labels: elements

#3906 fix: #3904 fix svg loading issue
  packages/ts-scripts/src/webpack/webpack.config.dev.js
  packages/ts-scripts/src/webpack/webpack.config.prod.js
Labels: ts-scripts

#3922 feat: #3689 #3812 #3913 aml app fixes
  packages/aml-checklist/src/components/ui/forms/__tests__/identification.tsx
  packages/aml-checklist/src/components/ui/forms/identification.tsx
  packages/aml-checklist/src/components/ui/modal/__tests__/__snapshots__/update-status.tsx.snap
  packages/aml-checklist/src/components/ui/modal/__tests__/primary-identification.tsx
  packages/aml-checklist/src/components/ui/modal/__tests__/secondary-identification.tsx
  packages/aml-checklist/src/components/ui/modal/__tests__/update-status.tsx
  packages/aml-checklist/src/components/ui/modal/address-information/__tests__/__snapshots__/address-information.tsx.snap
  packages/aml-checklist/src/components/ui/modal/address-information/__tests__/address-information.tsx
  packages/aml-checklist/src/components/ui/modal/address-information/address-information.tsx
  packages/aml-checklist/src/components/ui/modal/primary-identification.tsx
  packages/aml-checklist/src/components/ui/modal/profile/__tests__/__snapshots__/profile.tsx.snap
  packages/aml-checklist/src/components/ui/modal/profile/profile.tsx
  packages/aml-checklist/src/components/ui/modal/secondary-identification.tsx
  packages/aml-checklist/src/components/ui/modal/update-status.tsx
  packages/aml-checklist/src/services/documents.ts
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/elements/src/components/Input/index.tsx
  packages/elements/src/components/ModalV2/__styles__/index.ts
  packages/ts-scripts/src/webpack/webpack.config.dev.js
  packages/ts-scripts/src/webpack/webpack.config.prod.js
Labels: aml-checklist, elements, ts-scripts

#3921 feat: #2628 - add PersistantNotification component, stories and tests
  packages/elements/src/components-v3/PersistantNotification/__styles__/index.tsx
  packages/elements/src/components-v3/PersistantNotification/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components-v3/PersistantNotification/__tests__/index.tsx
  packages/elements/src/components-v3/PersistantNotification/index.tsx
  packages/elements/src/components-v3/PersistantNotification/persistantNotification.stories.mdx
  packages/elements/src/styles-v3/base/variables.ts
Labels: elements

#3929 fix: #3908 #3910 #3912 #3914 #3911 #3884 various bugfixes
  .github/workflows/release-prod.yml
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/redirect-uri-section.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/redirect-uri-section.tsx
  packages/developer-portal/src/components/pages/settings/billing/__tests__/__snapshots__/subscriptions.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/billing/subscriptions.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/__tests__/__snapshots__/settings-billing-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/welcome/welcome.tsx
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-before-you-start.test.tsx.snap
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/step-before-you-start.tsx
  packages/reapit-connect/.sentryclirc
  packages/reapit-connect/src/core/index.tsx
  packages/reapit-connect/src/types/global.d.ts
  packages/ts-scripts/src/webpack/webpack.config.prod.js
Labels: developer-portal, infra, reapit-connect, ts-scripts

#3930 fix: #3689 aml status update
  packages/aml-checklist/src/components/ui/modal/update-status.tsx
Labels: aml-checklist

#3931 fix: #3908 setting env vars prod workflow
  .github/workflows/release-prod.yml
Labels: infra

#3932 fix: #3908 setting env vars prod workflow
  .github/workflows/release-prod.yml
Labels: infra

#3933 fix: #3908 setting env vars prod workflow
  .github/workflows/release-prod.yml
Labels: infra

#3934 fix: #3908 setting env vars prod workflow
  .github/workflows/release-prod.yml
Labels: infra

#3943 feat: #2628 elementsv3 snacks
  packages/elements/src/components-v3/Snack/__styles__/index.tsx
  packages/elements/src/components-v3/Snack/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components-v3/Snack/__tests__/index.tsx
  packages/elements/src/components-v3/Snack/index.tsx
  packages/elements/src/components-v3/Snack/snack.stories.mdx
  packages/elements/src/hooks/usePortal-v3/index.tsx
  packages/elements/src/hooks/useSnack-v3/index.tsx
  packages/elements/src/styles-v3/base/variables.ts
Labels: elements

#3945 fix: #3689 #3928 #3942 aml and dev portal fixes
  packages/aml-checklist/src/components/ui/forms/__tests__/__snapshots__/identification.tsx.snap
  packages/aml-checklist/src/components/ui/forms/form-schema/validation-schema.ts
  packages/aml-checklist/src/components/ui/forms/identification.tsx
  packages/aml-checklist/src/components/ui/modal/address-information/__tests__/__snapshots__/address-information.tsx.snap
  packages/aml-checklist/src/components/ui/modal/address-information/form-schema/validation-schema.ts
  packages/aml-checklist/src/components/ui/modal/update-status.tsx
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/components/pages/webhooks/webhooks.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/elements/src/styles/vendor/bulma-overrides.scss
Labels: aml-checklist, developer-portal, elements

#3948 chore: #3947 ensure all package dependencies resolve
  packages/admin-portal/package.json
  packages/aml-checklist/package.json
  packages/api-docs-lamda/package.json
  packages/cloud-alert/package.json
  packages/cognito-custom-mail-lambda/package.json
  packages/cognito-custom-mail-lambda/src/tests/badges/badge-branches.svg
  packages/connect-session/package.json
  packages/data-warehouse/package.json
  packages/developer-portal/package.json
  packages/elements/package.json
  packages/events-service/package.json
  packages/foundations-ts-definitions/package.json
  packages/geo-diary/package.json
  packages/graphql-server/package.json
  packages/insights/package.json
  packages/login-with-reapit/jest.config.js
  packages/login-with-reapit/package.json
  packages/login-with-reapit/src/tests/badges/badge-branches.svg
  packages/login-with-reapit/src/tests/badges/badge-functions.svg
  packages/login-with-reapit/src/tests/badges/badge-lines.svg
  packages/login-with-reapit/src/tests/badges/badge-statements.svg
  packages/mailer-service/package.json
  packages/marketplace-management/package.json
  packages/marketplace/package.json
  packages/payments-client/package.json
  packages/payments-service/package.json
  packages/payments-service/src/tests/badges/badge-branches.svg
  packages/payments-service/src/tests/badges/badge-functions.svg
  packages/payments-service/src/tests/badges/badge-lines.svg
  packages/payments-service/src/tests/badges/badge-statements.svg
  packages/reapit-connect/package.json
  packages/utils/package.json
  yarn.lock
Labels: admin-portal, aml-checklist, cloud-alert, cognito-custom-mail-lambda, connect-session, data-warehouse, developer-portal, elements, geo-diary, graphql-server, insights, login-with-reapit, mailer-service, marketplace, marketplace-management, payments-client, payments-service, reapit-connect, utils

#3951 fix: stack trace bug elements
  packages/elements/package.json
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/elements/src/utils/fetcher/fetcher.ts
Labels: elements

#3952 fix: #3942 aml file size bug
  packages/aml-checklist/src/components/ui/forms/__tests__/__snapshots__/identification.tsx.snap
  packages/aml-checklist/src/components/ui/forms/form-schema/validation-schema.ts
  packages/aml-checklist/src/components/ui/modal/address-information/__tests__/__snapshots__/address-information.tsx.snap
  packages/aml-checklist/src/components/ui/modal/address-information/form-schema/validation-schema.ts
  packages/aml-checklist/src/constants/error-messages.ts
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/elements/src/components/FileInput/__tests__/index.tsx
  packages/elements/src/components/FileInput/index.tsx
Labels: aml-checklist, elements

#3962 feat: #2628 elementsv3 snack hook
  packages/elements/jest.config.js
  packages/elements/src/components-v3/Snack/__styles__/index.tsx
  packages/elements/src/components-v3/Snack/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components-v3/Snack/__tests__/index.tsx
  packages/elements/src/components-v3/Snack/index.tsx
  packages/elements/src/components-v3/Snack/snack.stories.mdx
  packages/elements/src/components-v3/Snack/useSnackHook.stories.tsx
  packages/elements/src/components-v3/SnackHolder/__styles__/index.tsx
  packages/elements/src/components-v3/SnackHolder/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components-v3/SnackHolder/__tests__/index.tsx
  packages/elements/src/components-v3/SnackHolder/index.tsx
  packages/elements/src/components-v3/SnackHolder/snackHolder.stories.mdx
  packages/elements/src/contexts/snacks.tsx
  packages/elements/src/hooks/useSnack-v3/index.tsx
  packages/elements/src/v3.tsx
Labels: elements

#3965 fix: #3691 #3964 visual regression bugs
  packages/developer-portal/src/components/pages/register/register.tsx
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/__styles__/terms-and-conditions.ts
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payment.test.tsx.snap
  packages/payments-client/src/components/pages/payment.tsx
  packages/payments-client/src/core/__styles__/styles.ts
  packages/payments-client/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/payments-client/src/core/private-route-wrapper.tsx
  packages/payments-client/src/tests/badges/badge-lines.svg
  packages/payments-client/src/tests/badges/badge-statements.svg
Labels: developer-portal, payments-client

#3970 feat: #3968 adds metabase status response handlers
  packages/insights/src/components/pages/home.tsx
  packages/insights/src/platform-api/metabase-api.ts
  packages/insights/src/tests/badges/badge-branches.svg
Labels: insights

#3989 feat: #3907 storybookhtml
  packages/elements/package.json
  packages/elements/src/components-v3/AfterInputText/afterInputText.stories.mdx
  packages/elements/src/components-v3/Button/button.stories.mdx
  packages/elements/src/components-v3/Input/input.stories.mdx
  packages/elements/src/components-v3/InputGroup/inputGroup.stories.mdx
  packages/elements/src/components-v3/Label/label.stories.mdx
  packages/elements/src/components-v3/PersistantNotification/persistantNotification.stories.mdx
  packages/elements/src/components-v3/Select/select.stories.mdx
  packages/elements/src/components-v3/Snack/snack.stories.mdx
  packages/elements/src/components-v3/SnackHolder/snackHolder.stories.mdx
  packages/elements/src/components-v3/Steps/steps.stories.mdx
  packages/elements/src/helpers/v3/render-html-markup.tsx
  yarn.lock
Labels: elements

#3996 feat: #3991 aml helper text
  packages/aml-checklist/src/components/ui/forms/identification.tsx
  packages/aml-checklist/src/components/ui/modal/address-information/address-information.tsx
Labels: aml-checklist

#3997 fix: #3978 fix website regex
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/form-schema/validation-schema.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#4009 feat: #2632 - add SecondaryNav component, styles, story and tests
  packages/elements/src/components-v3/SecondaryNav/__styles__/index.tsx
  packages/elements/src/components-v3/SecondaryNav/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components-v3/SecondaryNav/__tests__/index.tsx
  packages/elements/src/components-v3/SecondaryNav/index.tsx
  packages/elements/src/components-v3/SecondaryNav/secondaryNav.stories.mdx
  packages/elements/src/styles-v3/base/variables.ts
Labels: elements

#4017 feat: #2626 - add a loader to the elements v3 lib
  packages/elements/src/components-v3/Loader/__styles__/index.tsx
  packages/elements/src/components-v3/Loader/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components-v3/Loader/__tests__/index.tsx
  packages/elements/src/components-v3/Loader/index.tsx
  packages/elements/src/components-v3/Loader/loader.stories.mdx
  packages/elements/src/styles-v3/base/states.ts
  packages/elements/src/styles-v3/base/variables.ts
Labels: elements

#4016 feat: #3994 add logs table to developer portal webhooks
  packages/developer-portal/src/actions/webhook-logs/__tests__/webhook-logs.test.ts
  packages/developer-portal/src/actions/webhook-logs/webhook-logs.ts
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhook-logs-table.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/webhook-logs-table.test.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/webhooks.test.tsx
  packages/developer-portal/src/components/pages/webhooks/webhook-logs-table.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks.tsx
  packages/developer-portal/src/constants/action-types.ts
  packages/developer-portal/src/core/store.ts
  packages/developer-portal/src/reducers/__stubs__/app-state.ts
  packages/developer-portal/src/reducers/webhook-logs/__tests__/list.test.ts
  packages/developer-portal/src/reducers/webhook-logs/index.ts
  packages/developer-portal/src/reducers/webhook-logs/list.ts
  packages/developer-portal/src/sagas/__stubs__/webhooks.ts
  packages/developer-portal/src/sagas/webhook-logs/__tests__/webhook-logs.test.ts
  packages/developer-portal/src/sagas/webhook-logs/index.ts
  packages/developer-portal/src/sagas/webhook-logs/webhook-logs.ts
  packages/developer-portal/src/selector/webhook-logs/__tests__/webhook-logs.test.ts
  packages/developer-portal/src/selector/webhook-logs/index.ts
  packages/developer-portal/src/selector/webhook-logs/webhook-logs.ts
  packages/developer-portal/src/selector/webhooks-subscriptions/__tests__/webhooks.ts
  packages/developer-portal/src/selector/webhooks-subscriptions/webhooks-subscriptions.ts
  packages/developer-portal/src/services/__tests__/webhooks.test.tsx
  packages/developer-portal/src/services/constants.ts
  packages/developer-portal/src/services/webhooks.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/types/core.ts
Labels: developer-portal

#4018 fix: #3991 text change
  packages/aml-checklist/src/components/ui/forms/identification.tsx
  packages/aml-checklist/src/components/ui/modal/address-information/address-information.tsx
Labels: aml-checklist

#4021 feat: #2626 - loader tweaks
  packages/elements/src/components-v3/Loader/__styles__/index.tsx
  packages/elements/src/components-v3/Loader/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components-v3/Loader/index.tsx
  packages/elements/src/components-v3/Loader/loader.stories.mdx
Labels: elements

#4024 fix: #3994 webhook logs table
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/webhooks.tsx
  packages/developer-portal/src/sagas/webhook-logs/webhook-logs.ts
Labels: developer-portal

#4037 feat: #3935 - Add Typography components, stories and tests
  packages/elements/src/components-v3/Typography/__styles__/index.tsx
  packages/elements/src/components-v3/Typography/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components-v3/Typography/__tests__/index.tsx
  packages/elements/src/components-v3/Typography/index.tsx
  packages/elements/src/components-v3/Typography/typography.stories.mdx
  packages/elements/src/styles-v3/base/variables.ts
  packages/elements/src/v3.tsx
Labels: elements

#4046 feat: #2629 - modal v3
  packages/elements/src/components-v3/Modal/__styles__/index.tsx
  packages/elements/src/components-v3/Modal/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components-v3/Modal/__tests__/index.tsx
  packages/elements/src/components-v3/Modal/index.tsx
  packages/elements/src/components-v3/Modal/modal.stories.mdx
  packages/elements/src/hooks/useModal-v3/index.tsx
  packages/elements/src/v3.tsx
Labels: elements

#4053 fix: #4051 office groups fetching fix
  packages/marketplace-management/src/components/ui/offices/__stubs__/office-groups.ts
  packages/marketplace-management/src/components/ui/offices/__stubs__/offices.ts
  packages/marketplace-management/src/components/ui/offices/__tests__/__snapshots__/office-groups-content.test.tsx.snap
  packages/marketplace-management/src/components/ui/offices/__tests__/__snapshots__/office-list-cell.test.tsx.snap
  packages/marketplace-management/src/components/ui/offices/__tests__/__snapshots__/offices-groups-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/offices/__tests__/__snapshots__/offices-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/offices/__tests__/office-groups-content.test.tsx
  packages/marketplace-management/src/components/ui/offices/__tests__/office-list-cell.test.tsx
  packages/marketplace-management/src/components/ui/offices/__tests__/offices-groups-tab.test.tsx
  packages/marketplace-management/src/components/ui/offices/office-groups-content.tsx
  packages/marketplace-management/src/components/ui/offices/office-list-cell.tsx
  packages/marketplace-management/src/components/ui/offices/offices-groups-tab.tsx
  packages/marketplace-management/src/tests/badges/badge-branches.svg
  packages/marketplace-management/src/tests/badges/badge-functions.svg
  packages/marketplace-management/src/tests/badges/badge-lines.svg
  packages/marketplace-management/src/tests/badges/badge-statements.svg
Labels: marketplace-management

#4072 feat: #3916 use the client code as part of the SSM Key
  packages/config-service/serverless.yml
  packages/config-service/src/controllers/__tests__/create-config.test.ts
  packages/config-service/src/controllers/__tests__/delete-config.test.ts
  packages/config-service/src/controllers/__tests__/fetch-config.test.ts
  packages/config-service/src/controllers/create-config.ts
  packages/config-service/src/controllers/delete-config.ts
  packages/config-service/src/controllers/fetch-config.ts
  packages/config-service/src/tests/badges/badge-branches.svg
  packages/config-service/src/tests/badges/badge-lines.svg
  packages/config-service/src/tests/badges/badge-statements.svg
  packages/config-service/tsconfig.json
  packages/connect-session/src/index.ts
  packages/connect-session/src/tests/badges/badge-branches.svg
  packages/connect-session/src/tests/badges/badge-functions.svg
  packages/connect-session/src/tests/badges/badge-lines.svg
  packages/connect-session/src/tests/badges/badge-statements.svg
  packages/connect-session/src/utils/index.ts
  packages/payments-client/src/constants/api.ts
  packages/payments-client/src/core/index.tsx
  packages/payments-client/src/services/__tests__/parameter-store.test.ts
  packages/payments-client/src/services/parameter-store.ts
  packages/payments-client/src/tests/badges/badge-branches.svg
  packages/payments-client/src/tests/badges/badge-functions.svg
  packages/payments-client/src/tests/badges/badge-lines.svg
  packages/payments-client/src/tests/badges/badge-statements.svg
  packages/payments-client/src/types/global.d.ts
Labels: connect-session, payments-client
