Repository reapit/foundations, pull requests merged in 2021-08, with the labels that each got.

#4697 fix: #4693 fix ts-definitions workflow
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/foundations-ts-definitions/.eslintrc.js
  packages/foundations-ts-definitions/deployment-schema/index.ts
  packages/foundations-ts-definitions/package.json
  packages/foundations-ts-definitions/scripts/handle-cronjob.js
  packages/foundations-ts-definitions/scripts/release-github.js
  packages/foundations-ts-definitions/types/index.ts
  packages/foundations-ts-definitions/types/marketplace-schema.ts
  packages/foundations-ts-definitions/types/platform-schema.ts
  packages/utils/src/tests/badges/badge-functions.svg
  packages/utils/src/tests/badges/badge-lines.svg
  packages/utils/src/tests/badges/badge-statements.svg
Labels: developer-portal, utils

#4698 fix: #4236 api docs loading correctly without proxy
  packages/developer-portal/src/constants/iframe-urls.ts
Labels: developer-portal

#4699 chore: #4692 hide cost calculator
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer.tsx
Labels: developer-portal

#4722 feat: #4366 add polling for insights provisioning
  packages/insights/jest.config.js
  packages/insights/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/insights/src/components/pages/home.tsx
  packages/insights/src/components/ui/__tests__/__snapshots__/menu.test.tsx.snap
  packages/insights/src/components/ui/__tests__/menu.test.tsx
  packages/insights/src/components/ui/menu.tsx
  packages/insights/src/components/ui/nav/__tests__/__snapshots__/nav.test.tsx.snap
  packages/insights/src/components/ui/nav/__tests__/nav.test.tsx
  packages/insights/src/components/ui/nav/nav.tsx
  packages/insights/src/core/__tests__/__snapshots__/app.test.tsx.snap
  packages/insights/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/insights/src/core/app.tsx
  packages/insights/src/core/private-route-wrapper.tsx
  packages/insights/src/styles/index.css
  packages/insights/src/tests/badges/badge-branches.svg
  packages/insights/src/tests/badges/badge-functions.svg
  packages/insights/src/tests/badges/badge-lines.svg
  packages/insights/src/tests/badges/badge-statements.svg
Labels: insights

#4730 [WIP] feat: sqs function EFS
  packages/deployment-service-ui/src/components/pages/pipelines/show.tsx
  packages/deployment-service/serverless.yml
  packages/deployment-service/src/config/db.ts
  packages/deployment-service/src/executables/build.ts
  packages/deployment-service/src/executables/deploy-react.ts
  packages/deployment-service/src/executables/install.ts
  packages/deployment-service/src/executables/pull.ts
  packages/deployment-service/src/functions/pipeline/index.ts
  packages/deployment-service/src/functions/pipeline/pipeline-run.ts
  packages/deployment-service/src/functions/pipeline/task-runner.ts
  packages/deployment-service/src/services/pipeline-runner.ts
  packages/deployment-service/src/services/release.ts
  packages/deployment-service/src/services/sqs.ts
  packages/deployment-service/src/utils/index.ts
  packages/deployment-service/src/utils/project-dir.ts
Labels: deployment-service

#4737 feat: resolved exec methods
  packages/deployment-service/src/executables/build.ts
  packages/deployment-service/src/executables/install.ts
  packages/deployment-service/src/executables/pull.ts
Labels: deployment-service

#4746 feat: #4596 #4692 tweaks cost explorer seed data
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer.tsx
  packages/developer-portal/src/selector/__tests__/auth.ts
  packages/developer-portal/src/selector/auth.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/seed-data-workflow/src/entities/appointments-create.ts
Labels: developer-portal

#4745 refactor: #4556 api key verify invoke
  packages/api-key-service/jest.config.js
  packages/api-key-service/package.json
  packages/api-key-service/serverless.yml
  packages/api-key-service/src/functions/get-api-key.ts
  packages/api-key-service/src/services/api-key.ts
  packages/api-key-verify/package.json
  packages/api-key-verify/src/__tests__/api-key.test.ts
  packages/api-key-verify/src/api-key.ts
  packages/api-key-verify/tsconfig.json
  packages/deployment-service/package.json
  packages/deployment-service/serverless.yml
  packages/deployment-service/src/utils/resolve-developer-id.ts
  yarn.lock
Labels: api-key-service, deployment-service, api-key-verify

#4789 feat: #4767 segregated bucket deployment
  .yarn/cache/@types-rimraf-npm-3.0.1-39e5da9c58-7af952cc93.zip
  packages/api-key-verify/src/api-key.ts
  packages/deployment-service/package.json
  packages/deployment-service/serverless.yml
  packages/deployment-service/src/entities/index.ts
  packages/deployment-service/src/executables/build.ts
  packages/deployment-service/src/executables/deploy-from-store.ts
  packages/deployment-service/src/executables/deploy-react.ts
  packages/deployment-service/src/executables/install.ts
  packages/deployment-service/src/executables/pull.ts
  packages/deployment-service/src/executables/store-version.ts
  yarn.lock
Labels: deployment-service, api-key-verify

#4799 feat: #4522 adds notification email field
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/__tests__/__snapshots__/company-information.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/__tests__/organisation-form.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/company-information-section.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/form-schema/form-fields.ts
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/form-schema/validation-schema.ts
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/organisation-form.tsx
  packages/developer-portal/src/reducers/__stubs__/app-state.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#4802 feat: #4752 add custom mailer helper and styles
  packages/api-docs-lamda/.eslintrc.js
  packages/api-docs-lamda/README.md
  packages/api-docs-lamda/babel.config.js
  packages/api-docs-lamda/jest.config.js
  packages/api-docs-lamda/package.json
  packages/api-docs-lamda/serverless.yml
  packages/api-docs-lamda/src/__tests__/index.test.ts
  packages/api-docs-lamda/src/index.ts
  packages/api-docs-lamda/src/tests/badges/badge-branches.svg
  packages/api-docs-lamda/src/tests/badges/badge-functions.svg
  packages/api-docs-lamda/src/tests/badges/badge-lines.svg
  packages/api-docs-lamda/src/tests/badges/badge-statements.svg
  packages/api-docs-lamda/tsconfig.json
  packages/api-docs-lamda/webpack.config.js
  packages/cognito-custom-mail-lambda/src/mailer/templates/index.ts
  yarn.lock
Labels: cognito-custom-mail-lambda

#4816 feat: #4766 adds additional admin apps functionality
  packages/admin-portal/src/components/pages/apps-management/__tests__/__snapshots__/apps-management.test.tsx.snap
  packages/admin-portal/src/components/pages/apps-management/__tests__/__snapshots__/check-aws-button.test.tsx.snap
  packages/admin-portal/src/components/pages/apps-management/__tests__/check-aws-button.test.tsx
  packages/admin-portal/src/components/pages/apps-management/apps-management.tsx
  packages/admin-portal/src/components/pages/apps-management/check-aws-button.tsx
  packages/admin-portal/src/services/constants.ts
  packages/admin-portal/src/services/webhooks.ts
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
Labels: admin-portal

#4828 feat: #4818 marketplace updates
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
  packages/marketplace/src/core/index.tsx
  packages/marketplace/src/sagas/apps/__tests__/apps.test.ts
  packages/marketplace/src/sagas/apps/apps.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/types/global.d.ts
  packages/marketplace/src/utils/__tests__/browse-app.ts
  packages/marketplace/src/utils/browse-app.ts
Labels: marketplace

#4826 feat: #4522 #4766 admin dev fixes
  packages/admin-portal/src/components/pages/apps-management/__tests__/check-aws-button.test.tsx
  packages/admin-portal/src/components/pages/apps-management/check-aws-button.tsx
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/__tests__/__snapshots__/company-information.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/company-information-section.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/form-schema/form-fields.ts
Labels: admin-portal, developer-portal

#4827 [WIP] feat: #4767 codebuild implementation
  .yarn/cache/@types-yaml-npm-1.9.7-a7e2bbc474-d17c643192.zip
  .yarn/cache/yaml-npm-2.0.0-7-6d59e1d3a8-0d693c77c5.zip
  packages/deployment-service-ui/src/components/pages/pipelines/show.tsx
  packages/deployment-service-ui/src/components/task/index.tsx
  packages/deployment-service/migrations/1629281443118-pipeline-runner-statuses.ts
  packages/deployment-service/migrations/1629292605303-pipeline-status-column-fix.ts
  packages/deployment-service/migrations/1629377259237-pipeline-task-property-fix.ts
  packages/deployment-service/package.json
  packages/deployment-service/serverless.yml
  packages/deployment-service/src/constants.ts
  packages/deployment-service/src/entities/index.ts
  packages/deployment-service/src/executables/build.ts
  packages/deployment-service/src/executables/deploy-from-store.ts
  packages/deployment-service/src/executables/deploy-node.ts
  packages/deployment-service/src/executables/deploy-react.ts
  packages/deployment-service/src/executables/executable.ts
  packages/deployment-service/src/executables/index.ts
  packages/deployment-service/src/executables/install.ts
  packages/deployment-service/src/executables/pull.ts
  packages/deployment-service/src/functions/pipeline/codebuild-executor.ts
  packages/deployment-service/src/functions/pipeline/codebuild-pipeline-updater.ts
  packages/deployment-service/src/functions/pipeline/index.ts
  packages/deployment-service/src/functions/pipeline/pipeline-runner-create.ts
  packages/deployment-service/src/functions/pipeline/pipeline-runner-update.ts
  packages/deployment-service/src/functions/pipeline/task-population.ts
  packages/deployment-service/src/functions/pipeline/task-runner.ts
  packages/deployment-service/src/functions/pipeline/version-deploy.ts
  packages/deployment-service/src/services/pipeline-runner.ts
  packages/deployment-service/src/services/task.ts
  packages/deployment-service/src/utils/project-dir.ts
  packages/foundations-ts-definitions/deployment-schema/index.ts
  yarn.lock
Labels: deployment-service

#4824 feat: #3453 adds special char validation to inputs
  packages/admin-portal/src/components/pages/apps-management/__tests__/__snapshots__/apps-management.test.tsx.snap
  packages/admin-portal/src/components/pages/customers/__tests__/__snapshots__/customers.test.tsx.snap
  packages/admin-portal/src/components/pages/devs-management/__tests__/__snapshots__/devs-management.test.tsx.snap
  packages/admin-portal/src/components/pages/subscriptions/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/ui/__tests__/subscriptions/__snapshots__/subscriptions-filter-form.test.tsx.snap
  packages/deployment-service-ui/src/tests/badges/badge-branches.svg
  packages/deployment-service-ui/src/tests/badges/badge-functions.svg
  packages/deployment-service-ui/src/tests/badges/badge-lines.svg
  packages/deployment-service-ui/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/components/pages/app-detail/app-uninstall-modal/confirm-uninstall/__tests__/__snapshots__/confirm-uninstall.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/general-information-section.test.tsx.snap
  packages/developer-portal/src/components/pages/register/__tests__/__snapshots__/register.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/__snapshots__/contact-information-form.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/__snapshots__/forms.test.tsx.snap
  packages/developer-portal/src/components/ui/developer-invite-member-modal/__tests__/__snapshots__/developer-invite-member-modal.test.tsx.snap
  packages/elements-legacy/src/components/Input/__tests__/__snapshots__/index.tsx.snap
  packages/elements-legacy/src/components/Input/index.tsx
  packages/elements-legacy/src/components/TextArea/__tests__/__snapshots__/index.tsx.snap
  packages/elements-legacy/src/components/TextArea/index.tsx
  packages/elements-legacy/src/tests/badges/badge-branches.svg
  packages/elements-legacy/src/tests/badges/badge-functions.svg
  packages/elements-legacy/src/tests/badges/badge-lines.svg
  packages/elements-legacy/src/tests/badges/badge-statements.svg
  packages/elements-legacy/src/utils/validators/__tests__/validate-special-chars.test.ts
  packages/elements-legacy/src/utils/validators/error-messages.ts
  packages/elements-legacy/src/utils/validators/validate-special-chars.ts
  packages/elements/src/components/status-indicator/__styles__/index.ts
  packages/elements/src/components/status-indicator/status-indicator.tsx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/setting.test.tsx.snap
  packages/utils/src/tests/badges/badge-branches.svg
  packages/utils/src/tests/badges/badge-functions.svg
  packages/utils/src/tests/badges/badge-lines.svg
  packages/utils/src/tests/badges/badge-statements.svg
  packages/utils/src/validators/__tests__/string.test.ts
  packages/utils/src/validators/string.ts
Labels: marketplace, elements, admin-portal, developer-portal, utils

#4842 feat: #4823 application timeout
  packages/connect-session/package.json
  packages/connect-session/src/browser/__tests__/index.test.ts
  packages/connect-session/src/browser/index.ts
  packages/connect-session/src/tests/badges/badge-branches.svg
  packages/connect-session/src/tests/badges/badge-lines.svg
  packages/connect-session/src/tests/badges/badge-statements.svg
  packages/connect-session/src/types.ts
  packages/developer-portal/src/core/connect-session.ts
Labels: developer-portal, connect-session

#4847 feat: #4589 websockets with pusher
  .github/labeler.yml
  .yarn/cache/@harelpls-use-pusher-npm-7.2.1-4bba0161d5-d062957149.zip
  .yarn/cache/abort-controller-npm-3.0.0-2f3a9a2bcb-cc53ad8df9.zip
  .yarn/cache/event-target-shim-npm-5.0.1-cb48709025-d176477a31.zip
  .yarn/cache/is-base64-npm-1.1.0-d6a6bb7992-9cfec6bdc8.zip
  .yarn/cache/pusher-js-npm-7.0.3-2707e68c7b-87a440e931.zip
  .yarn/cache/pusher-npm-5.0.0-9a7c0e87ef-8c88d4c3a9.zip
  .yarn/cache/tweetnacl-npm-1.0.3-b7eef04660-1188f3ef85.zip
  .yarn/cache/tweetnacl-util-npm-0.15.1-1a24bc512a-d4d40600ec.zip
  packages/deployment-service-ui/package.json
  packages/deployment-service-ui/src/components/pages/pipelines/show.tsx
  packages/deployment-service-ui/src/components/task/index.tsx
  packages/deployment-service-ui/src/core/__tests__/__snapshots__/app.test.tsx.snap
  packages/deployment-service-ui/src/core/app.tsx
  packages/deployment-service-ui/src/core/index.tsx
  packages/deployment-service-ui/src/types/global.d.ts
  packages/deployment-service/package.json
  packages/deployment-service/serverless.yml
  packages/deployment-service/src/entities/index.ts
  packages/deployment-service/src/functions/pipeline/codebuild-executor.ts
  packages/deployment-service/src/functions/pipeline/codebuild-pipeline-updater.ts
  packages/deployment-service/src/functions/pipeline/version-deploy.ts
  packages/deployment-service/src/services/index.ts
  packages/deployment-service/src/services/pipeline-runner.ts
  packages/deployment-service/src/services/pusher.ts
  packages/foundations-ts-definitions/deployment-schema/index.ts
  packages/foundations-ts-definitions/package.json
  yarn.lock
Labels: infra, deployment-service, deployment-service-ui

#4849 chore: fix linting issue on release
  packages/deployment-service/src/functions/pipeline/codebuild-pipeline-updater.ts
  packages/deployment-service/src/functions/pipeline/version-deploy.ts
Labels: deployment-service

#4852 feat: #4838 admin portal access changes
  packages/admin-portal/src/components/pages/apps-management/__tests__/__snapshots__/apps-management.test.tsx.snap
  packages/admin-portal/src/components/pages/apps-management/__tests__/apps-management.test.tsx
  packages/admin-portal/src/components/pages/apps-management/apps-management.tsx
  packages/admin-portal/src/components/ui/__tests__/menu.tsx
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/admin-portal/src/utils/get-access.ts
Labels: admin-portal
