Repository reapit/foundations, pull requests merged in 2021-10, with the labels that each got.

#5142 feat: #3618 login with reapit improvements
  packages/login-with-reapit/public/index.html
  packages/login-with-reapit/src/components/close-icon.svelte
  packages/login-with-reapit/src/components/login.svelte
  packages/login-with-reapit/src/components/logout.svelte
  packages/login-with-reapit/src/components/permission.svelte
  packages/login-with-reapit/src/components/reapit-connect-component.svelte
  packages/login-with-reapit/src/index.ts
Labels: login-with-reapit

#5143 feat: enabled shadow root elements
  packages/login-with-reapit/src/index.ts
Labels: login-with-reapit

#5144 fix: design fixes
  packages/login-with-reapit/public/index.html
  packages/login-with-reapit/src/components/permission.svelte
Labels: login-with-reapit

#5145 feat: added publish command
  packages/login-with-reapit/package.json
Labels: login-with-reapit

#5135 feat: #5129 multi select restyle
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-edit-controls.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-manage-form.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-new-customers.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-new-topics.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-new.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/webhooks-manage-form.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-new-customers.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-new-topics.tsx
  packages/developer-portal/src/sagas/apps/__tests__/create-app-revision.test.ts
  packages/developer-portal/src/sagas/installations/__tests__/list-filter.test.ts
  packages/developer-portal/src/sagas/installations/__tests__/list.test.ts
  packages/developer-portal/src/sagas/installations/__tests__/management.test.ts
  packages/developer-portal/src/sagas/installations/filter-list.ts
  packages/developer-portal/src/sagas/installations/list.ts
  packages/developer-portal/src/sagas/installations/management.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/elements/assets/infographic-icons/selectInfographic.svg
  packages/elements/package.json
  packages/elements/src/components/icon/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/icon/icon.stories.mdx
  packages/elements/src/components/icon/icons/index.ts
  packages/elements/src/components/icon/icons/infographic-icons/selectInfographic.tsx
  packages/elements/src/components/multi-select/__styles__/index.ts
  packages/elements/src/components/multi-select/__tests__/__snapshots__/multi-select.test.tsx.snap
  packages/elements/src/components/multi-select/__tests__/multi-select.test.tsx
  packages/elements/src/components/multi-select/multi-select.tsx
  packages/elements/src/storybook/changelog.stories.mdx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
Labels: elements, developer-portal

#5154 fix: attempting rollup build
  .yarn/cache/@linaria-babel-preset-npm-3.0.0-beta.13-a9cef8b6a6-db1ff09504.zip
  .yarn/cache/@linaria-core-npm-3.0.0-beta.13-b557e7efd0-52f6b3849d.zip
  .yarn/cache/@linaria-rollup-npm-3.0.0-beta.13-7352727eb9-fda80c50ee.zip
  .yarn/cache/@rollup-plugin-typescript-npm-8.2.5-560cc43ae9-31e26d13f3.zip
  .yarn/cache/graceful-fs-npm-4.2.8-37c16fc3d3-b07e032c0a.zip
  .yarn/cache/rollup-npm-2.58.0-20fd603ac2-f3151d0d99.zip
  .yarn/cache/rollup-plugin-inject-npm-3.0.2-db1d368b18-c043f4eba7.zip
  .yarn/cache/rollup-plugin-node-polyfills-npm-0.2.1-d0e4f85f30-ece17e6ff9.zip
  .yarn/cache/rollup-plugin-svelte-npm-7.1.0-9400e823a7-fa19a0cbed.zip
  .yarn/cache/sander-npm-0.5.1-860361072d-68a55ccd14.zip
  .yarn/cache/sorcery-npm-0.10.0-10068608ec-21b7ee292c.zip
  .yarn/cache/svelte-preprocess-npm-4.6.9-ce530b6094-a227290640.zip
  .yarn/cache/svelte-preprocess-npm-4.9.8-6ffe2cbe8a-7f98afa2ae.zip
  packages/login-with-reapit/.npmignore
  packages/login-with-reapit/README.md
  packages/login-with-reapit/package.json
  packages/login-with-reapit/rollup.config.js
  packages/login-with-reapit/src/__tests__/index.test.ts
  packages/login-with-reapit/src/components/logout.svelte
  packages/login-with-reapit/src/components/reapit-connect-component.svelte
  packages/login-with-reapit/src/index.ts
  packages/login-with-reapit/tsconfig.cjs.json
  packages/login-with-reapit/tsconfig.esm.json
  packages/login-with-reapit/tsconfig.json
  packages/login-with-reapit/tsconfig.umd.json
  yarn.lock
Labels: login-with-reapit

#5156 fix: bump version
  packages/login-with-reapit/package.json
Labels: login-with-reapit

#5160 feat: 4912 crudable keys
  packages/app-builder-backend/src/entities/key.ts
  packages/app-builder-backend/src/get-schema.ts
  packages/app-builder-backend/src/index.ts
  packages/app-builder-backend/src/resolvers/app-resolver.ts
  packages/app-builder-backend/src/resolvers/book-resolver.ts
  packages/app-builder-backend/src/resolvers/key-resolver.ts
  packages/app-builder-backend/src/resolvers/property-resolver.ts
  packages/app-builder-backend/src/types.ts
  packages/app-builder-backend/src/utils/auth-checker.ts
  packages/app-builder-backend/src/utils/graphql-fetch.ts
  packages/app-builder/package.json
  packages/app-builder/src/components/hooks/apps/use-app.ts
  packages/app-builder/src/components/hooks/objects/use-object-get.ts
  packages/app-builder/src/components/hooks/objects/use-object-list.ts
  packages/app-builder/src/components/hooks/objects/use-object-mutate.ts
  packages/app-builder/src/components/hooks/objects/use-object-specials.ts
  packages/app-builder/src/components/hooks/objects/use-sub-objects.ts
  packages/app-builder/src/components/hooks/use-introspection/index.ts
  packages/app-builder/src/components/hooks/use-introspection/parse-introspection.ts
  packages/app-builder/src/components/hooks/use-introspection/query-generators.ts
  packages/app-builder/src/components/hooks/use-introspection/types.ts
  packages/app-builder/src/components/ui/user/ejectable/form.tsx
  packages/app-builder/src/components/ui/user/ejectable/link.tsx
  packages/app-builder/src/components/ui/user/ejectable/table.tsx
  packages/app-builder/src/components/ui/user/form.tsx
  packages/app-builder/src/components/ui/user/table.tsx
  packages/graphql-server/src/resolvers/keys/types.graphql
  packages/graphql-server/src/schema.graphql
  yarn.lock
Labels: graphql-server
