Repository reapit/foundations, pull requests merged in 2021-03, with the labels that each got.

#3619 fix: #3051 fix a couple of infra broken links
  packages/graphql-server/webpack.config.js
  packages/payments-service/webpack.config.js
Labels: graphql-server, payments-service

#3620 feat: #3599 prepare packages for publish to npm
  .github/labeler.yml
  packages/config-manager/package.json
  packages/connect-session/package.json
  packages/elements/.storybook/main.js
  packages/elements/.storybook/webpack.config.js
  packages/elements/src/components/Alert/Alert.stories.tsx
  packages/elements/src/components/BreadcrumbV2/breadcrumb.stories.tsx
  packages/elements/src/components/Button/button-group.stories.tsx
  packages/elements/src/components/Button/button.stories.tsx
  packages/elements/src/components/CameraImageInput/camera-image-input.stories.tsx
  packages/elements/src/components/CardInputGroup/card-input-group.stories.tsx
  packages/elements/src/components/Checkbox/checkbox.stories.tsx
  packages/elements/src/components/DatePicker/date-picker.stories.tsx
  packages/elements/src/components/DropdownSelect/dropdown-select.stories.tsx
  packages/elements/src/components/DynamicLinks/dynamic-links.stories.tsx
  packages/elements/src/components/Editor/editor.stories.tsx
  packages/elements/src/components/FileInput/file-input.stories.tsx
  packages/elements/src/components/Form/form.stories.tsx
  packages/elements/src/components/HelpGuide/help-guide.stories.tsx
  packages/elements/src/components/Helper/helper.stories.tsx
  packages/elements/src/components/HtmlRender/html-render.stories.tsx
  packages/elements/src/components/IconList/icon-list.stories.tsx
  packages/elements/src/components/ImageInput/image-input.stories.tsx
  packages/elements/src/components/Info/info.stories.tsx
  packages/elements/src/components/Input/input.stories.tsx
  packages/elements/src/components/Layout/layout.stories.tsx
  packages/elements/src/components/Loader/loader.stories.tsx
  packages/elements/src/components/Map/map.stories.tsx
  packages/elements/src/components/Menu/Menu.stories.tsx
  packages/elements/src/components/Modal/modal.stories.tsx
  packages/elements/src/components/Notification/notification.stories.tsx
  packages/elements/src/components/Pagination/pagination.stories.tsx
  packages/elements/src/components/ProgressBar/index.stories.tsx
  packages/elements/src/components/RadioSelect/index.stories.tsx
  packages/elements/src/components/SelectBox/select-box.stories.tsx
  packages/elements/src/components/Spreadsheet/spreadsheet.stories.tsx
  packages/elements/src/components/Table/table.stories.tsx
  packages/elements/src/components/Tabs/tabs.stories.tsx
  packages/elements/src/components/TextArea/text-area.stories.tsx
  packages/elements/src/components/TextAreaEditor/text-area-editor.stories.tsx
  packages/elements/src/components/Tile/tile.stories.tsx
  packages/elements/src/components/Toast/toast.stories.tsx
  packages/elements/src/components/ToastMessage/toastMessage.stories.tsx
  packages/elements/src/components/Typography/typography.stories.tsx
  packages/elements/src/components/UploadProgress/upload-progress.stories.tsx
  packages/elements/src/components/Wizard/wizard.stories.tsx
  packages/foundations-ts-definitions/package.json
  packages/ts-scripts/package.json
  packages/ts-types/package.json
  yarn.lock
Labels: config-manager, connect-session, elements, infra, ts-scripts, ts-types

#3623 feat: #3599 #3543 publish packages npm
  packages/cognito-custom-mail-lambda/package.json
  packages/connect-session/package.json
  packages/cra-template-foundations/README.md
  packages/cra-template-foundations/package.json
  packages/cra-template-foundations/template.json
  packages/cra-template-foundations/template/src/core/__tests__/private-route-wrapper.test.tsx
  packages/cra-template-foundations/template/src/core/private-route-wrapper.tsx
  packages/elements/package.json
  packages/foundations-ts-definitions/package.json
  yarn.lock
Labels: cognito-custom-mail-lambda, connect-session, cra-template-foundations, elements

#3626 [Snyk] Upgrade yup from 0.29.3 to 0.32.8
  packages/reapit-connect/package.json
Labels: reapit-connect

#3633 feat: #3596 add etag changed flag webhooks create
  .yarn/cache/@types-lodash-npm-4.14.168-2d65abe211-9a4e25f89f.zip
  .yarn/cache/nanoclone-npm-0.2.1-972ee958a0-f624fe5198.zip
  .yarn/cache/property-expr-npm-2.0.4-dffd410058-fffa6ba8a2.zip
  .yarn/cache/yup-npm-0.32.9-d884fe5f43-9da93a58fd.zip
  packages/developer-portal/src/actions/webhooks-subscriptions/__tests__/webhook-edit-modal.test.ts
  packages/developer-portal/src/actions/webhooks-subscriptions/webhook-edit-modal.ts
  packages/developer-portal/src/components/pages/webhooks/__tests__/webhook-edit-modal.test.tsx
  packages/developer-portal/src/components/pages/webhooks/form-schema/form-fields.ts
  packages/developer-portal/src/components/pages/webhooks/webhook-edit-modal.tsx
  packages/developer-portal/src/reducers/__stubs__/app-state.ts
  packages/developer-portal/src/reducers/webhooks-subscriptions/webhook-edit-modal.ts
  packages/developer-portal/src/sagas/__stubs__/webhook-edit.ts
  yarn.lock
Labels: developer-portal

#3635 chore: #3524 updates internal documentation
  packages/admin-portal/config.example.json
  packages/aml-checklist/config.example.json
  packages/cognito-custom-mail-lambda/config.example.json
  packages/config-manager/README.md
  packages/data-warehouse/config.example.json
  packages/developer-portal/config.example.json
  packages/elements/config.example.json
  packages/elements/package.json
  packages/event-status-service/config.example.json
  packages/geo-diary/config.example.json
  packages/graphql-server/config.example.json
  packages/mailer-service/config.example.json
  packages/marketplace-management/config.example.json
  packages/marketplace/config.example.json
  packages/payments-client/config.example.json
  packages/payments-service/config.example.json
  packages/property-projector/config.example.json
  packages/reapit-connect/config.example.json
Labels: admin-portal, aml-checklist, cognito-custom-mail-lambda, config-manager, data-warehouse, developer-portal, elements, event-status-service, geo-diary, graphql-server, mailer-service, marketplace, marketplace-management, payments-client, payments-service, reapit-connect

#3636 fix: #3596 tweak webhook etag behaviour
  packages/developer-portal/src/components/pages/webhooks/form-schema/form-fields.ts
  packages/developer-portal/src/reducers/webhooks-subscriptions/webhook-edit-modal.ts
Labels: developer-portal

#3641 feat: #3638 adds show hidden apps flag marketplace
  packages/marketplace/src/services/apps.ts
  packages/marketplace/src/utils/__tests__/route-dispatcher.ts
  packages/marketplace/src/utils/route-dispatcher.ts
Labels: marketplace

#3642 feat: #3639 data warehouse ui fixes
  packages/data-warehouse/linaria.config.js
  packages/data-warehouse/src/components/pages/__tests__/__snapshots__/login.test.tsx.snap
  packages/data-warehouse/src/components/pages/accounts/__tests__/__snapshots__/account-progress-bar.test.tsx.snap
  packages/data-warehouse/src/components/pages/analytics/__tests__/__snapshots__/analytics-cost-explorer.test.tsx.snap
  packages/data-warehouse/src/components/pages/analytics/__tests__/__snapshots__/analytics-daily-usage.test.tsx.snap
  packages/data-warehouse/src/components/pages/analytics/__tests__/__snapshots__/analytics-monthly-usage.test.tsx.snap
  packages/data-warehouse/src/components/pages/analytics/analytics-handlers.ts
  packages/data-warehouse/src/components/pages/data/__tests__/__snapshots__/shares-table.test.tsx.snap
  packages/data-warehouse/src/components/pages/subscriptions/__tests__/__snapshots__/subscriptions.test.tsx.snap
  packages/data-warehouse/src/components/pages/subscriptions/subscriptions-content.tsx
Labels: data-warehouse

#3651 feat: #3640 add insights app
  .github/labeler.yml
  package.json
  packages/data-warehouse/src/components/pages/analytics/analytics-handlers.ts
  packages/insights/.sentryclirc
  packages/insights/README.md
  packages/insights/config.example.json
  packages/insights/jest.config.js
  packages/insights/linaria.config.js
  packages/insights/package.json
  packages/insights/public/index.html
  packages/insights/public/logo.png
  packages/insights/serverless.yml
  packages/insights/src/assets/images/reapit-connect.png
  packages/insights/src/assets/images/reapit-graphic.jpg
  packages/insights/src/components/hocs/__tests__/__snapshots__/error-boundary.test.tsx.snap
  packages/insights/src/components/hocs/__tests__/error-boundary.test.tsx
  packages/insights/src/components/hocs/error-boundary.tsx
  packages/insights/src/components/pages/__styles__/styles.ts
  packages/insights/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/insights/src/components/pages/__tests__/__snapshots__/login.test.tsx.snap
  packages/insights/src/components/pages/__tests__/home.test.tsx
  packages/insights/src/components/pages/__tests__/login.test.tsx
  packages/insights/src/components/pages/home.tsx
  packages/insights/src/components/pages/login.tsx
  packages/insights/src/components/ui/__tests__/__snapshots__/menu.test.tsx.snap
  packages/insights/src/components/ui/__tests__/menu.test.tsx
  packages/insights/src/components/ui/menu.tsx
  packages/insights/src/constants/api.ts
  packages/insights/src/constants/routes.ts
  packages/insights/src/core/__mocks__/mock-router.tsx
  packages/insights/src/core/__mocks__/router.tsx
  packages/insights/src/core/__tests__/__snapshots__/app.test.tsx.snap
  packages/insights/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/insights/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/insights/src/core/__tests__/app.test.tsx
  packages/insights/src/core/__tests__/connect-session.test.tsx
  packages/insights/src/core/__tests__/private-route-wrapper.test.tsx
  packages/insights/src/core/__tests__/router.test.tsx
  packages/insights/src/core/app.tsx
  packages/insights/src/core/connect-session.tsx
  packages/insights/src/core/index.tsx
  packages/insights/src/core/private-route-wrapper.tsx
  packages/insights/src/core/router.tsx
  packages/insights/src/platform-api/__mocks__/session.ts
  packages/insights/src/platform-api/__tests__/metabase-api.test.ts
  packages/insights/src/platform-api/metabase-api.ts
  packages/insights/src/styles/index.css
  packages/insights/src/tests/badges/badge-branches.svg
  packages/insights/src/tests/badges/badge-functions.svg
  packages/insights/src/tests/badges/badge-lines.svg
  packages/insights/src/tests/badges/badge-statements.svg
  packages/insights/src/types/core.ts
  packages/insights/src/types/global.d.ts
  packages/insights/src/types/index.d.ts
  packages/insights/tsconfig.json
  packages/insights/webpack.config.js
  yarn.lock
Labels: data-warehouse, infra, insights

#3659 fix: #3645 fix compile mailer lambda
  packages/cognito-custom-mail-lambda/package.json
  packages/cognito-custom-mail-lambda/serverless.yml
  packages/cognito-custom-mail-lambda/src/mailer/custom-mailer.ts
  packages/cognito-custom-mail-lambda/src/mailer/templates/ejs/admin-user-invite.ejs
  packages/cognito-custom-mail-lambda/src/mailer/templates/ejs/confirm-registration.ejs
  packages/cognito-custom-mail-lambda/src/mailer/templates/ejs/forgotten-password.ejs
  packages/cognito-custom-mail-lambda/src/mailer/templates/ejs/index.ejs
  packages/cognito-custom-mail-lambda/src/mailer/templates/index.ts
  packages/cognito-custom-mail-lambda/tsconfig.json
  packages/cognito-custom-mail-lambda/webpack.config.js
  yarn.lock
Labels: cognito-custom-mail-lambda

#3676 feat: #3617 add gql authorizer
  packages/cloud-alert/cypress/support/constants.ts
  packages/cognito-custom-mail-lambda/src/mailer/templates/index.ts
  packages/geo-diary/src/graphql/client.ts
  packages/graphql-server/README.md
  packages/graphql-server/serverless.yml
  packages/graphql-server/src/__tests__/index.test.ts
  packages/graphql-server/src/errors/errors.ts
  packages/graphql-server/src/index.ts
  packages/graphql-server/src/utils/__tests__/handle-error.test.ts
  packages/graphql-server/src/utils/handle-error.ts
Labels: cloud-alert, cognito-custom-mail-lambda, geo-diary, graphql-server

#3681 fix: #3645 fixed template issue with mailer
  packages/cognito-custom-mail-lambda/src/mailer/templates/index.ts
Labels: cognito-custom-mail-lambda

#3706 [Snyk] Fix for 3 vulnerabilities
  packages/ts-scripts/package.json
Labels: ts-scripts

#3715 [Snyk] Upgrade copy-webpack-plugin from 6.0.0 to 6.4.1
  .yarn/cache/copy-webpack-plugin-npm-6.4.1-a690fc95f7-ed5eb2bac2.zip
  .yarn/cache/serialize-javascript-npm-5.0.1-8ffc173f09-97eef70a33.zip
  packages/ts-scripts/package.json
  yarn.lock
Labels: ts-scripts

#3716 [Snyk] Upgrade mini-css-extract-plugin from 0.7.0 to 0.12.0
  .yarn/cache/mini-css-extract-plugin-npm-0.12.0-fd8ed40e6c-bd8d5fe46f.zip
  .yarn/cache/mini-css-extract-plugin-npm-0.7.0-e5b86e3e3c-d293e7c89a.zip
  packages/ts-scripts/package.json
  yarn.lock
Labels: ts-scripts

#3717 [Snyk] Upgrade swr from 0.3.11 to 0.4.2
  .yarn/cache/swr-npm-0.3.11-5944db7f6f-cf7acc992f.zip
  .yarn/cache/swr-npm-0.4.2-7ac07842af-c3643842fc.zip
  packages/payments-client/package.json
  yarn.lock
Labels: payments-client

#3731 feat: #3653 apply elements v2
  packages/developer-portal/src/assets/images/login/step-1.svg
  packages/developer-portal/src/assets/images/login/step-2.svg
  packages/developer-portal/src/assets/images/login/step-3.svg
  packages/developer-portal/src/components/pages/desktop/__tests__/__snapshots__/desktop.test.tsx.snap
  packages/developer-portal/src/components/pages/desktop/desktop.tsx
  packages/developer-portal/src/components/pages/help/__tests__/__snapshots__/help.test.tsx.snap
  packages/developer-portal/src/components/pages/help/help.tsx
  packages/developer-portal/src/components/pages/login/__styles__/login.ts
  packages/developer-portal/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/developer-portal/src/components/pages/login/login.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__styles__/account-status-section.ts
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__tests__/__snapshots__/account-status-section.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/account-status-section.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/__tests__/__snapshots__/members.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/__tests__/__snapshots__/settings-organisation-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/members.tsx
  packages/developer-portal/src/components/ui/__tests__/__snapshots__/call-to-action.tsx.snap
  packages/developer-portal/src/components/ui/__tests__/__snapshots__/menu.tsx.snap
  packages/developer-portal/src/components/ui/call-to-action.tsx
  packages/developer-portal/src/components/ui/developer-invite-member-modal/__tests__/__snapshots__/developer-invite-member-modal.test.tsx.snap
  packages/developer-portal/src/components/ui/developer-invite-member-modal/developer-invite-member-modal.tsx
  packages/developer-portal/src/components/ui/disable-member-modal.tsx
  packages/developer-portal/src/components/ui/menu.tsx
  packages/elements/jest.config.js
  packages/elements/src/components/Icons/__tests__/__snapshots__/index.test.tsx.snap
  packages/elements/src/components/Icons/__tests__/index.test.tsx
  packages/elements/src/components/Icons/index.tsx
  packages/elements/src/components/Menu/__mocks__/menu-props.tsx
  packages/elements/src/components/Menu/__tests__/__snapshots__/Menu.tsx.snap
  packages/elements/src/components/ModalV2/__styles__/index.ts
  packages/elements/src/styles/base/global.scss
  packages/elements/src/styles/components/form.scss
  packages/elements/src/styles/components/menu.scss
  packages/graphql-server/webpack.config.js
  packages/marketplace/src/assets/images/login/step-1.svg
  packages/marketplace/src/assets/images/login/step-2.svg
  packages/marketplace/src/assets/images/login/step-3.svg
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-uninstall-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-management/__tests__/__snapshots__/apps-management.test.tsx.snap
  packages/marketplace/src/components/pages/app-management/apps-management.tsx
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/coming-soon.test.tsx.snap
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
  packages/marketplace/src/components/pages/installed-apps/__styles__/installed-app-list.ts
  packages/marketplace/src/components/pages/installed-apps/__tests__/__snapshots__/installed-apps.test.tsx.snap
  packages/marketplace/src/components/pages/installed-apps/installed-apps.tsx
  packages/marketplace/src/components/pages/login/__styles__/index.ts
  packages/marketplace/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/marketplace/src/components/pages/login/login.tsx
  packages/marketplace/src/components/pages/settings/__styles__/index.ts
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/installations-table.test.tsx.snap
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/setting.test.tsx.snap
  packages/marketplace/src/components/pages/settings/installations-table.tsx
  packages/marketplace/src/components/pages/settings/setting.tsx
  packages/marketplace/src/components/ui/__tests__/__snapshots__/call-to-action.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/menu.tsx.snap
  packages/marketplace/src/components/ui/call-to-action.tsx
  packages/marketplace/src/components/ui/menu.tsx
Labels: developer-portal, elements, graphql-server, marketplace

#3732 feat: #3653 apply styles admin portal and aml
  packages/admin-portal/src/assets/images/login/step-1.svg
  packages/admin-portal/src/assets/images/login/step-2.svg
  packages/admin-portal/src/assets/images/login/step-3.svg
  packages/admin-portal/src/components/pages/approvals/__tests__/__snapshots__/approvals.test.tsx.snap
  packages/admin-portal/src/components/pages/approvals/approvals.tsx
  packages/admin-portal/src/components/pages/apps-management/__tests__/__snapshots__/apps-management.test.tsx.snap
  packages/admin-portal/src/components/pages/apps-management/apps-management.tsx
  packages/admin-portal/src/components/pages/billing/__tests__/__snapshots__/billing.test.tsx.snap
  packages/admin-portal/src/components/pages/billing/billing.tsx
  packages/admin-portal/src/components/pages/customers/__tests__/__snapshots__/customers.test.tsx.snap
  packages/admin-portal/src/components/pages/customers/customers.tsx
  packages/admin-portal/src/components/pages/devs-management/__tests__/__snapshots__/devs-management.test.tsx.snap
  packages/admin-portal/src/components/pages/devs-management/devs-management.tsx
  packages/admin-portal/src/components/pages/login/__styles__/index.ts
  packages/admin-portal/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/admin-portal/src/components/pages/login/login.tsx
  packages/admin-portal/src/components/pages/statistics/__tests__/__snapshots__/statistics.test.tsx.snap
  packages/admin-portal/src/components/pages/statistics/statistics.tsx
  packages/admin-portal/src/components/pages/subscriptions/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/pages/subscriptions/index.tsx
  packages/admin-portal/src/components/ui/menu.tsx
  packages/aml-checklist/src/assets/images/login/step-1.svg
  packages/aml-checklist/src/assets/images/login/step-2.svg
  packages/aml-checklist/src/assets/images/login/step-3.svg
  packages/aml-checklist/src/components/pages/__tests__/__snapshots__/checklist-detail.tsx.snap
  packages/aml-checklist/src/components/pages/__tests__/__snapshots__/login.tsx.snap
  packages/aml-checklist/src/components/pages/checklist-detail.tsx
  packages/aml-checklist/src/components/pages/client-search/__tests__/__snapshots__/client-search.tsx.snap
  packages/aml-checklist/src/components/pages/client-search/client-search.tsx
  packages/aml-checklist/src/components/pages/login.tsx
  packages/aml-checklist/src/components/pages/results.tsx
  packages/aml-checklist/src/components/ui/forms/identification.tsx
  packages/aml-checklist/src/components/ui/menu.tsx
  packages/aml-checklist/src/components/ui/modal/__tests__/__snapshots__/pep-search.tsx.snap
  packages/aml-checklist/src/components/ui/modal/address-information/address-information.tsx
  packages/aml-checklist/src/components/ui/modal/declaration-and-risk-assessment/declaration-and-risk-assessment.tsx
  packages/aml-checklist/src/components/ui/modal/pep-search.tsx
  packages/aml-checklist/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/aml-checklist/src/core/private-route-wrapper.tsx
  packages/aml-checklist/src/styles/pages/login.scss
  packages/elements/src/components/ModalV2/__styles__/index.ts
Labels: admin-portal, aml-checklist, elements

#3744 feat: #3653 apply elements v2
  .husky/.gitignore
  .husky/pre-commit
  .yarn/cache/husky-npm-5.1.3-62d158903e-99baafebe7.zip
  package.json
  packages/connect-session/src/browser/__tests__/index.test.ts
  packages/connect-session/src/tests/badges/badge-branches.svg
  packages/connect-session/src/tests/badges/badge-functions.svg
  packages/connect-session/src/tests/badges/badge-lines.svg
  packages/connect-session/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/components/pages/register/__styles__/register.ts
  packages/developer-portal/src/components/pages/register/__tests__/__snapshots__/register.test.tsx.snap
  packages/developer-portal/src/components/pages/register/register.tsx
  packages/elements/src/components/Notification/index.tsx
  packages/elements/src/styles/components/notification.scss
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/graphql-server/webpack.config.js
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-uninstall-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/app-install-confirmation.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-uninstall-confirmation.tsx
  packages/marketplace/src/components/pages/installed-apps/__styles__/installed-app-card.ts
  packages/marketplace/src/components/ui/menu.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  yarn.lock
Labels: connect-session, developer-portal, elements, geo-diary, graphql-server, marketplace

#3745 fix: trigger prod release from release not tag
  .github/workflows/release-prod.yml
Labels: infra

#3748 fix: #3624 fix prod release workflow
  packages/ts-types/package.json
Labels: ts-types

#3762 feat: #3761 redirect insights app to uri
  packages/insights/jest.config.js
  packages/insights/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/insights/src/components/pages/home.tsx
  packages/insights/src/tests/badges/badge-branches.svg
  packages/insights/src/tests/badges/badge-lines.svg
  packages/insights/src/tests/badges/badge-statements.svg
Labels: insights

#3782 feat: #3628 #3629 adds create subs feature
  packages/admin-portal/src/actions/__tests__/subscriptions.ts
  packages/admin-portal/src/actions/subscriptions.ts
  packages/admin-portal/src/components/pages/apps-management/__tests__/__snapshots__/apps-management.test.tsx.snap
  packages/admin-portal/src/components/pages/apps-management/apps-management.tsx
  packages/admin-portal/src/components/pages/devs-management/devs-management.tsx
  packages/admin-portal/src/components/ui/create-subscriptions/__tests__/__snapshots__/create-subscriptions.test.tsx.snap
  packages/admin-portal/src/components/ui/create-subscriptions/__tests__/create-subscriptions.test.tsx
  packages/admin-portal/src/components/ui/create-subscriptions/create-subscriptions-button.tsx
  packages/admin-portal/src/constants/action-types.ts
  packages/admin-portal/src/reducers/__tests__/subscriptions/by-dev-and-type.test.ts
  packages/admin-portal/src/reducers/subscriptions/by-dev-and-type.ts
  packages/admin-portal/src/reducers/subscriptions/index.ts
  packages/admin-portal/src/reducers/subscriptions/list.ts
  packages/admin-portal/src/sagas/subscriptions/__tests__/index.ts
  packages/admin-portal/src/sagas/subscriptions/index.ts
  packages/admin-portal/src/selector/subscriptions.ts
  packages/admin-portal/src/services/subscriptions.ts
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
Labels: admin-portal

#3793 feat: #3680 #3675 #3736 #3777 #3737 #3780 #3220 various updates
  packages/admin-portal/src/components/pages/approvals/__tests__/__snapshots__/approvals.test.tsx.snap
  packages/admin-portal/src/components/pages/approvals/__tests__/approvals.test.tsx
  packages/admin-portal/src/components/pages/approvals/approvals.tsx
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/aml-checklist/src/components/ui/modal/address-information/__tests__/__snapshots__/address-information.tsx.snap
  packages/aml-checklist/src/components/ui/modal/address-information/address-information.tsx
  packages/aml-checklist/src/components/ui/modal/profile/__tests__/__snapshots__/profile.tsx.snap
  packages/aml-checklist/src/components/ui/modal/profile/form-schema/validation-schema.ts
  packages/aml-checklist/src/constants/appointment-detail.ts
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer-component/__test__/__snapshots__/cost-filter-form.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer-component/__test__/cost-filter-form.test.tsx
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer-component/cost-explorer.tsx
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer-component/cost-filter-form.tsx
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/general-information-section.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/permission-section.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/permission-section.test.tsx
  packages/developer-portal/src/components/pages/edit-app/developer-edit-app.tsx
  packages/developer-portal/src/components/pages/edit-app/permission-section.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/webhooks.tsx
  packages/developer-portal/src/services/billing.ts
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/elements/src/components/Checkbox/index.tsx
  packages/insights/src/tests/badges/badge-branches.svg
  packages/insights/src/tests/badges/badge-lines.svg
  packages/insights/src/tests/badges/badge-statements.svg
  packages/marketplace/src/components/pages/app-detail/client/web-component-config-modal/__test__/__snapshots__/config-modal-inner.test.tsx.snap
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
Labels: admin-portal, aml-checklist, developer-portal, elements, insights, marketplace

#3810 feat: #3755 more design review updates
  packages/data-warehouse/src/components/pages/analytics/__tests__/__snapshots__/analytics.test.tsx.snap
  packages/data-warehouse/src/components/pages/analytics/analytics.tsx
  packages/data-warehouse/src/components/pages/subscriptions/__tests__/__snapshots__/subscriptions.test.tsx.snap
  packages/data-warehouse/src/components/pages/subscriptions/subscriptions-content.tsx
  packages/developer-portal/src/components/pages/analytics/cost-explorer/service-chart/__tests__/__snapshots__/service-chart.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics/cost-explorer/service-chart/service-chart.tsx
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/app-aside.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/app-aside.tsx
  packages/developer-portal/src/components/pages/app-detail/app-detail.tsx
  packages/developer-portal/src/components/pages/login/__styles__/login.ts
  packages/developer-portal/src/components/ui/chart-legend/__tests__/__snapshots__/chart-legend.test.tsx.snap
  packages/developer-portal/src/components/ui/chart-legend/chart-legend.tsx
  packages/developer-portal/src/components/ui/submit-app-wizard/__styles__/submit-app-wizard.ts
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-before-you-start.test.tsx.snap
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-chose-auth-type.tsx.snap
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-create-new-app.test.tsx.snap
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-grant-permisions.test.tsx.snap
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-input-app-name.test.tsx.snap
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/__tests__/__snapshots__/step-input-authentication-uris.test.tsx.snap
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/step-before-you-start.tsx
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/step-chose-auth-type.tsx
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/step-create-new-app.tsx
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/step-grant-permisions.tsx
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/step-input-app-name.tsx
  packages/developer-portal/src/components/ui/submit-app-wizard/steps/step-input-authentication-uris.tsx
  packages/elements/src/components/Tile/index.tsx
  packages/elements/src/styles/components/form.scss
  packages/elements/src/styles/components/html-render.scss
  packages/elements/src/styles/components/menu.scss
  packages/marketplace/src/components/pages/app-detail/common/__tests__/__snapshots__/ui-sections.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/common/ui-sections.tsx
  packages/marketplace/src/components/pages/installed-apps/__tests__/__snapshots__/installed-apps.test.tsx.snap
  packages/marketplace/src/components/pages/installed-apps/installed-apps.tsx
Labels: data-warehouse, developer-portal, elements, marketplace

#3815 feat: #3755 more design review changes
  packages/developer-portal/src/components/ui/apps/app-card/__styles__/app-card.ts
  packages/elements/src/components/CardInputGroup/__tests__/__snapshots__/card-input-group.test.tsx.snap
  packages/elements/src/components/CardInputGroup/card-input-group.stories.tsx
  packages/elements/src/components/CardInputGroup/card-input-group.tsx
  packages/elements/src/components/Tile/__styles__/index.ts
  packages/elements/src/components/Tile/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Tile/index.tsx
  packages/elements/src/styles/vendor/bulma-overrides.scss
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/access-denied.test.tsx.snap
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/marketplace-app.test.tsx.snap
  packages/marketplace-management/src/components/pages/access-denied.tsx
  packages/marketplace-management/src/components/ui/__styles__/index.ts
  packages/marketplace-management/src/components/ui/apps/__tests__/__snapshots__/app-card.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/__tests__/__snapshots__/app-pricing-permissions-section.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/app-card.tsx
  packages/marketplace-management/src/components/ui/apps/app-pricing-permissions-section.tsx
  packages/marketplace-management/src/tests/badges/badge-lines.svg
  packages/marketplace-management/src/tests/badges/badge-statements.svg
  packages/marketplace/src/components/pages/apps/__styles__/index.ts
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/coming-soon.test.tsx.snap
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
  packages/marketplace/src/components/pages/installed-apps/__styles__/installed-app-card.ts
  packages/marketplace/src/components/ui/app-card/__styles__/index.ts
  packages/payments-client/src/components/ui/__tests__/__snapshots__/payment-request-modal.test.tsx.snap
  packages/payments-client/src/components/ui/payment-form.tsx
  packages/payments-client/src/components/ui/payment-page-content.tsx
  packages/payments-client/src/components/ui/payment-request-modal.tsx
Labels: developer-portal, elements, marketplace, marketplace-management, payments-client

#3825 feat: #3755 more elements v2 fixes
  packages/aml-checklist/src/components/pages/__tests__/__snapshots__/checklist-detail.tsx.snap
  packages/aml-checklist/src/components/pages/checklist-detail.tsx
  packages/aml-checklist/src/components/ui/__tests__/__snapshots__/aml-progressbar.tsx.snap
  packages/aml-checklist/src/components/ui/aml-progressbar.tsx
  packages/aml-checklist/src/components/ui/forms/identification.tsx
  packages/aml-checklist/src/components/ui/modal/__tests__/__snapshots__/update-status.tsx.snap
  packages/aml-checklist/src/components/ui/modal/address-information/address-information.tsx
  packages/aml-checklist/src/components/ui/modal/declaration-and-risk-assessment/declaration-and-risk-assessment.tsx
  packages/aml-checklist/src/components/ui/modal/profile/profile.tsx
  packages/aml-checklist/src/components/ui/modal/update-status.tsx
  packages/aml-checklist/src/styles/pages/checklist-detail.scss
  packages/elements/src/components/Button/button.stories.tsx
  packages/elements/src/components/Button/index.tsx
  packages/elements/src/components/Tile/__styles__/index.ts
  packages/elements/src/components/Tile/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/Tile/index.tsx
  packages/elements/src/components/Tile/tile.stories.tsx
  packages/elements/src/styles/components/layout.scss
  packages/elements/src/styles/vendor/bulma-overrides.scss
  packages/geo-diary/src/components/pages/appointment/__styles__/index.ts
  packages/geo-diary/src/components/ui/appointment-detail-modal/__tests__/__snapshots__/appointment-detail-modal.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-detail-modal/appointment-detail-modal.tsx
  packages/geo-diary/src/components/ui/appointment-detail-modal/appointment-detail-vendor.tsx
  packages/geo-diary/src/components/ui/appointment-list/__tests__/__snapshots__/appointment-list.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-list/appointment-list.tsx
  packages/geo-diary/src/components/ui/appointment-tile/__tests__/__snapshots__/appointment-tile.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-tile/appointment-tile.tsx
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
Labels: aml-checklist, elements, geo-diary

#3831 feat: #56 elements v3 spec
  packages/elements/README.md
  packages/elements/package.json
Labels: elements

#3841 feat: #3736 #3675 dev portal qa feedback
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer-component/cost-filter-form.tsx
  packages/developer-portal/src/components/pages/edit-app/permission-section.tsx
  packages/developer-portal/src/services/billing.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#3842 feat:#2616 elements v3 buttons
  packages/elements/.storybook/main.js
  packages/elements/.storybook/preview.js
  packages/elements/src/components-v3/Button/__styles__/index.ts
  packages/elements/src/components-v3/Button/__styles__/index.tsx
  packages/elements/src/components-v3/Button/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components-v3/Button/__tests__/index.tsx
  packages/elements/src/components-v3/Button/button.stories.mdx
  packages/elements/src/components-v3/Button/button.stories.tsx
  packages/elements/src/components-v3/Button/index.tsx
  packages/elements/src/helpers/v3/intent.ts
  packages/elements/src/styles-v3/base/intent.ts
  packages/elements/src/styles-v3/base/states.ts
  packages/elements/src/styles-v3/base/typography.ts
  packages/elements/src/styles-v3/base/variables.ts
Labels: elements

#3856 feat: #3774 #3836 #3775 #3834 #3850 #3833 various billing go live issues
  packages/admin-portal/src/sagas/subscriptions/__tests__/index.ts
  packages/admin-portal/src/sagas/subscriptions/index.ts
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer-component/cost-explorer.tsx
  packages/developer-portal/src/components/pages/desktop/__tests__/__snapshots__/desktop.test.tsx.snap
  packages/developer-portal/src/components/pages/desktop/desktop.tsx
  packages/developer-portal/src/components/ui/developer-edition-modal/__tests__/__snapshots__/developer-edition-content.tsx.snap
  packages/developer-portal/src/components/ui/developer-edition-modal/__tests__/__snapshots__/success-content.tsx.snap
  packages/developer-portal/src/components/ui/developer-edition-modal/__tests__/developer-edition-content.tsx
  packages/developer-portal/src/components/ui/developer-edition-modal/developer-edition-content.tsx
  packages/developer-portal/src/components/ui/developer-edition-modal/modal-content.tsx
  packages/developer-portal/src/components/ui/developer-edition-modal/success-content.tsx
  packages/developer-portal/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/developer-portal/src/core/router.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/utils/route-dispatcher.ts
  packages/marketplace-management/src/components/ui/offices/offices-groups-tab.tsx
Labels: admin-portal, developer-portal, marketplace-management

#3862 feat: #3840 final marketplace changes
  packages/developer-portal/src/components/pages/app-detail-preview/__styles__/app-detail.ts
  packages/developer-portal/src/components/pages/app-detail/__styles__/app-detail.ts
  packages/marketplace/src/components/pages/app-detail/__styles__/standalone-app-detail.ts
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/app-detail.tsx
  packages/marketplace/src/components/pages/app-detail/common/ui-app-header.tsx
  packages/marketplace/src/components/pages/app-management/__tests__/__snapshots__/apps-management.test.tsx.snap
  packages/marketplace/src/components/pages/apps/__styles__/index.ts
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/components/pages/installed-apps/__tests__/__snapshots__/installed-app-card.test.tsx.snap
  packages/marketplace/src/components/pages/installed-apps/installed-app-card.tsx
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/setting.test.tsx.snap
  packages/marketplace/src/components/pages/settings/setting.tsx
  packages/marketplace/src/components/ui/app-list/__styles__/index.ts
  packages/marketplace/src/components/ui/app-list/__tests__/__snapshots__/app-list.tsx.snap
  packages/marketplace/src/components/ui/app-list/app-list.tsx
  packages/marketplace/src/core/private-route-wrapper.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
Labels: developer-portal, marketplace

#3868 feat: #3655 cra elements 2 release
  packages/cra-template-foundations/package.json
  packages/cra-template-foundations/template.json
  packages/cra-template-foundations/template/src/assets/images/login/step-1.svg
  packages/cra-template-foundations/template/src/assets/images/login/step-2.svg
  packages/cra-template-foundations/template/src/assets/images/login/step-3.svg
  packages/cra-template-foundations/template/src/assets/images/reapit-graphic.jpg
  packages/cra-template-foundations/template/src/components/pages/__styles__/styles.ts
  packages/cra-template-foundations/template/src/components/pages/authenticated.tsx
  packages/cra-template-foundations/template/src/components/pages/login.tsx
  packages/cra-template-foundations/template/src/components/ui/menu.tsx
  packages/elements/package.json
Labels: cra-template-foundations, elements

#3871 fix: #3870 container issue
  packages/aml-checklist/src/components/pages/__tests__/__snapshots__/checklist-detail.tsx.snap
  packages/aml-checklist/src/components/pages/checklist-detail.tsx
  packages/aml-checklist/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/aml-checklist/src/core/private-route-wrapper.tsx
  packages/geo-diary/src/components/ui/appointment-time/__tests__/__snapshots__/appointment-time.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-time/appointment-time.tsx
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/app-detail.tsx
  packages/marketplace/src/components/pages/apps/__styles__/index.ts
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/setting.test.tsx.snap
  packages/marketplace/src/components/pages/settings/setting.tsx
Labels: aml-checklist, geo-diary, marketplace
