Repository reapit/foundations, pull requests merged in 2021-01, with the labels that each got.

#3252 feat: #3191 #2962 #3067 dev portal fixes
  packages/developer-portal/src/components/pages/edit-app/form-schema/form-fields.ts
  packages/developer-portal/src/sagas/__tests__/current-member.test.ts
  packages/developer-portal/src/services/developers.ts
  packages/payments-service/src/controllers/__tests__/create-api-key.test.ts
  packages/payments-service/src/controllers/create-api-key.ts
  packages/utils/src/validators/__tests__/string.test.ts
  packages/utils/src/validators/string.ts
Labels: developer-portal

#3253 fix: #3170 fix overflow issue
  packages/marketplace/src/components/pages/app-detail/__styles__/app-install-confirmation.ts
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/app-install-confirmation.tsx
Labels: marketplace

#3254 feat: #3193 #3236 #3246 various fixes
  packages/data-warehouse/.sentryclirc
  packages/geo-diary/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/geo-diary/src/core/private-route-wrapper.tsx
  packages/payments-client/src/utils/headers.ts
  packages/payments-service/README.md
  packages/payments-service/serverless.yml
  yarn.lock
Labels: geo-diary, payments-client

#3262 feat: #3259 #3251 #3249 #3258 #3246 #3261 #3250 #3260 rcm golive features
  packages/connect-session/package.json
  packages/connect-session/src/__mocks__/session.ts
  packages/connect-session/src/types.ts
  packages/connect-session/src/utils/verify-decode-id-token.ts
  packages/cra-template-foundations/template/src/platform-api/__mocks__/session.ts
  packages/data-warehouse/src/services/__mocks__/session.ts
  packages/developer-portal/src/components/pages/app-detail/app-revision-modal/__test__/app-revision-modal.test.tsx
  packages/developer-portal/src/sagas/installations/__tests__/installations.test.ts
  packages/developer-portal/src/selector/__mocks__/auth.ts
  packages/developer-portal/src/selector/auth.ts
  packages/geo-diary/src/graphql/__mocks__/session.ts
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/app-install-confirmation.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-install-confirmation.tsx
  packages/marketplace/src/components/pages/settings/setting.tsx
  packages/marketplace/src/constants/api.ts
  packages/marketplace/src/core/index.tsx
  packages/marketplace/src/sagas/apps/__tests__/apps.test.ts
  packages/marketplace/src/sagas/apps/apps.ts
  packages/marketplace/src/selector/auth/__mocks__/auth.ts
  packages/marketplace/src/selector/auth/__tests__/auth.test.ts
  packages/marketplace/src/selector/auth/auth.ts
  packages/marketplace/src/types/global.d.ts
  packages/marketplace/src/utils/__tests__/browse-app.ts
  packages/marketplace/src/utils/__tests__/route-dispatcher.ts
  packages/marketplace/src/utils/browse-app.ts
  packages/payments-client/src/platform-api/__mocks__/session.ts
  packages/payments-service/serverless.yml
  packages/property-projector/src/platform-api/__mocks__/session.ts
  packages/react-app-scaffolder/app/templates/hooks/src/platform-api/__mocks__/session.ts
  packages/reapit-connect-management/src/components/pages/__tests__/__snapshots__/access-denied.test.tsx.snap
  packages/reapit-connect-management/src/components/pages/__tests__/access-denied.test.tsx
  packages/reapit-connect-management/src/components/pages/access-denied.tsx
  packages/reapit-connect-management/src/components/ui/__styles__/index.ts
  packages/reapit-connect-management/src/components/ui/offices/__tests__/__snapshots__/create-office-group.test.tsx.snap
  packages/reapit-connect-management/src/components/ui/offices/__tests__/__snapshots__/offices-groups-tab.test.tsx.snap
  packages/reapit-connect-management/src/components/ui/offices/__tests__/__snapshots__/offices-tab.test.tsx.snap
  packages/reapit-connect-management/src/components/ui/offices/create-office-group.tsx
  packages/reapit-connect-management/src/components/ui/offices/edit-office-group.tsx
  packages/reapit-connect-management/src/components/ui/offices/offices-groups-tab.tsx
  packages/reapit-connect-management/src/components/ui/offices/offices-tab.tsx
  packages/reapit-connect-management/src/components/ui/users/__tests_/__snapshots__/user-groups-tab.test.tsx.snap
  packages/reapit-connect-management/src/components/ui/users/__tests_/__snapshots__/users-tab.test.tsx.snap
  packages/reapit-connect-management/src/components/ui/users/edit-user.tsx
  packages/reapit-connect-management/src/components/ui/users/user-groups-tab.tsx
  packages/reapit-connect-management/src/components/ui/users/users-tab.tsx
  packages/reapit-connect-management/src/constants/api.ts
  packages/reapit-connect-management/src/constants/routes.ts
  packages/reapit-connect-management/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/reapit-connect-management/src/core/__tests__/private-route-wrapper.test.tsx
  packages/reapit-connect-management/src/core/index.tsx
  packages/reapit-connect-management/src/core/private-route-wrapper.tsx
  packages/reapit-connect-management/src/core/router.tsx
  packages/reapit-connect-management/src/platform-api/__mocks__/session.ts
  packages/reapit-connect-management/src/services/__mocks__/session.ts
  packages/reapit-connect-management/src/types/global.d.ts
  packages/reapit-connect-management/src/utils/__tests__/prepare-options.test.ts
  packages/reapit-connect-management/src/utils/prepare-options.ts
Labels: connect-session, data-warehouse, developer-portal, geo-diary, marketplace, payments-client, react-app-scaffolder

#3268 feat: #3261 #3251 #3267 #3266 various rc fixes
  packages/marketplace/src/components/pages/app-detail/client/__tests__/app-install-confirmation.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-install-confirmation.tsx
  packages/marketplace/src/sagas/installations/__tests__/installations.ts
  packages/marketplace/src/sagas/installations/installations.ts
  packages/reapit-connect-management/src/components/pages/__tests__/marketplace.test.tsx
  packages/reapit-connect-management/src/components/pages/marketplace.tsx
  packages/reapit-connect-management/src/components/ui/apps/__tests__/__snapshots__/app-card.test.tsx.snap
  packages/reapit-connect-management/src/components/ui/apps/app-card.tsx
  packages/reapit-connect-management/src/components/ui/users/__tests_/__snapshots__/user-groups-tab.test.tsx.snap
  packages/reapit-connect-management/src/components/ui/users/group-members-cell.tsx
  packages/reapit-connect-management/src/components/ui/users/user-groups-tab.tsx
  packages/reapit-connect-management/src/services/__tests__/apps.test.tsx
  packages/reapit-connect-management/src/services/apps.ts
Labels: marketplace

#3273 fix: #3251 install modal fix
  packages/marketplace/src/components/pages/app-detail/client/app-install-confirmation.tsx
Labels: marketplace

#3286 feat: #2971 add customer and property section
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payment.test.tsx.snap
  packages/payments-client/src/components/pages/__tests__/payment.test.tsx
  packages/payments-client/src/components/pages/__tests__/payments/__snapshots__/index.test.tsx.snap
  packages/payments-client/src/components/pages/__tests__/payments/index.test.tsx
  packages/payments-client/src/components/pages/payment.tsx
  packages/payments-client/src/components/pages/payments/index.tsx
  packages/payments-client/src/components/ui/__stubs__/payment.ts
  packages/payments-client/src/components/ui/__stubs__/property.ts
  packages/payments-client/src/components/ui/__tests__/payments/__snapshots__/payment-custom-section.test.tsx.snap
  packages/payments-client/src/components/ui/__tests__/payments/__snapshots__/payment-filter-form.test.tsx.snap
  packages/payments-client/src/components/ui/__tests__/payments/__snapshots__/payment-request-model.test.tsx.snap
  packages/payments-client/src/components/ui/__tests__/payments/__snapshots__/property-section.test.tsx.snap
  packages/payments-client/src/components/ui/__tests__/payments/payment-custom-section.test.tsx
  packages/payments-client/src/components/ui/__tests__/payments/payment-filter-form.test.tsx
  packages/payments-client/src/components/ui/__tests__/payments/payment-request-model.test.tsx
  packages/payments-client/src/components/ui/__tests__/payments/property-section.test.tsx
  packages/payments-client/src/components/ui/payments/payment-customer-section.tsx
  packages/payments-client/src/components/ui/payments/payments-filter-form.tsx
  packages/payments-client/src/components/ui/payments/property-section.tsx
  packages/payments-client/src/tests/badges/badge-branches.svg
  packages/payments-client/src/tests/badges/badge-functions.svg
  packages/payments-client/src/tests/badges/badge-lines.svg
  packages/payments-client/src/tests/badges/badge-statements.svg
Labels: payments-client

#3297 feat: #3294 marketplace admin rcm fixes
  packages/admin-portal/src/services/approvals.ts
  packages/developer-portal/src/selector/__tests__/auth.ts
  packages/developer-portal/src/selector/auth.ts
  packages/marketplace/src/components/pages/settings/setting.tsx
  packages/marketplace/src/constants/api.ts
  packages/marketplace/src/selector/auth/__tests__/auth.test.ts
  packages/marketplace/src/selector/auth/auth.ts
  packages/marketplace/src/utils/__tests__/route-dispatcher.ts
  packages/reapit-connect-management/src/core/index.tsx
  packages/reapit-connect-management/src/services/apps.ts
  packages/reapit-connect-management/src/types/global.d.ts
Labels: admin-portal, developer-portal, marketplace

#3323 fix: #3292 fix payments service deployment
  packages/connect-session/package.json
  packages/connect-session/src/server/__tests__/index.test.ts
  packages/connect-session/src/server/index.ts
  packages/developer-portal/src/core/private-route-wrapper.tsx
  packages/payments-service/jest.config.js
  packages/payments-service/package.json
  packages/payments-service/src/controllers/__tests__/get-payment.test.ts
  packages/payments-service/src/controllers/__tests__/update-payment.test.ts
  packages/payments-service/src/controllers/get-payment.ts
  packages/payments-service/src/controllers/update-payment.ts
  packages/payments-service/src/core/server.ts
  packages/payments-service/src/services/__tests__/get-payment.test.ts
  packages/payments-service/src/services/__tests__/update-payment.test.ts
  packages/payments-service/src/services/get-payment.ts
  packages/payments-service/src/services/update-payment.ts
  yarn.lock
Labels: connect-session, developer-portal

#3327 fix: #3299 #3301 #3319 various marketplace fixes
  packages/elements/src/components/ModalV2/index.tsx
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-uninstall-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/app-uninstall-confirmation.tsx
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
Labels: elements, marketplace

#3317 feat: #3255 payment with session
  packages/payments-client/src/components/pages/__tests__/__snapshots__/paymen-session.test.tsx.snap
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payment.test.tsx.snap
  packages/payments-client/src/components/pages/__tests__/paymen-session.test.tsx
  packages/payments-client/src/components/pages/__tests__/payment.test.tsx
  packages/payments-client/src/components/pages/payment-session.tsx
  packages/payments-client/src/components/pages/payment.tsx
  packages/payments-client/src/components/ui/__stubs__/payment.ts
  packages/payments-client/src/components/ui/__tests__/payments/__snapshots__/payment-form.test.tsx.snap
  packages/payments-client/src/components/ui/__tests__/payments/payment-form.test.tsx
  packages/payments-client/src/components/ui/payments/payment-form.tsx
  packages/payments-client/src/components/ui/payments/property-section.tsx
  packages/payments-client/src/constants/toast-messages.ts
  packages/payments-client/src/core/__mocks__/connect-session.tsx
  packages/payments-client/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/payments-client/src/core/index.tsx
  packages/payments-client/src/core/private-route-wrapper.tsx
  packages/payments-client/src/core/router.tsx
  packages/payments-client/src/opayo-api/merchant-key.ts
  packages/payments-client/src/opayo-api/transactions.ts
  packages/payments-client/src/services/__mocks__/payment.ts
  packages/payments-client/src/services/__mocks__/session.ts
  packages/payments-client/src/services/__stubs__/payment.ts
  packages/payments-client/src/services/__tests__/payment.test.ts
  packages/payments-client/src/services/payment.ts
  packages/payments-client/src/tests/badges/badge-branches.svg
  packages/payments-client/src/tests/badges/badge-functions.svg
  packages/payments-client/src/tests/badges/badge-lines.svg
  packages/payments-client/src/tests/badges/badge-statements.svg
  packages/payments-client/src/types/global.d.ts
  packages/payments-client/src/utils/fetcher.ts
  packages/payments-client/src/utils/headers.ts
Labels: elements, payments-client

#3330 fix: #3302 #3300 various marketplace fixes
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-detail.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-uninstall-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/app-uninstall-confirmation.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-uninstall-confirmation.tsx
  packages/marketplace/src/sagas/installations/installations.ts
  packages/marketplace/src/services/installations.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/reapit-connect-management/src/components/ui/offices/__tests__/__snapshots__/edit-office-group.test.tsx.snap
  packages/reapit-connect-management/src/components/ui/offices/__tests__/edit-office-group.test.tsx
  packages/reapit-connect-management/src/components/ui/offices/edit-office-group.tsx
Labels: marketplace

#3166 feat: #3035 mailer service
  .github/workflows/test-pr.yml
  package.json
  packages/config-manager/package.json
  packages/mailer-service/.gitignore
  packages/mailer-service/README.md
  packages/mailer-service/jest.config.js
  packages/mailer-service/package.json
  packages/mailer-service/serverless.yml
  packages/mailer-service/src/controllers/__tests__/create-payment-request.test.ts
  packages/mailer-service/src/controllers/create-payment-request.ts
  packages/mailer-service/src/core/__tests__/logger.test.ts
  packages/mailer-service/src/core/__tests__/router.test.ts
  packages/mailer-service/src/core/__tests__/server.test.ts
  packages/mailer-service/src/core/__tests__/ses-client.test.ts
  packages/mailer-service/src/core/logger.ts
  packages/mailer-service/src/core/router.ts
  packages/mailer-service/src/core/server.ts
  packages/mailer-service/src/core/ses-client.ts
  packages/mailer-service/src/core/templates.ts
  packages/mailer-service/src/index.ts
  packages/mailer-service/src/templates/create-payment-request.ejs
  packages/mailer-service/src/tests/badges/badge-branches.svg
  packages/mailer-service/src/tests/badges/badge-functions.svg
  packages/mailer-service/src/tests/badges/badge-lines.svg
  packages/mailer-service/src/tests/badges/badge-statements.svg
  packages/mailer-service/src/types/payments.ts
  packages/mailer-service/tsconfig.json
  packages/mailer-service/webpack.config.js
  packages/mailer-service/yarn.lock
  yarn.lock
Labels: config-manager

#3344 fix: #3321 check office group name
  packages/marketplace/src/components/pages/app-detail/client/__tests__/__snapshots__/app-install-confirmation.test.tsx.snap
  packages/marketplace/src/components/pages/app-detail/client/__tests__/app-install-confirmation.test.tsx
  packages/marketplace/src/components/pages/app-detail/client/app-install-confirmation.tsx
  packages/marketplace/src/selector/auth/__tests__/auth.test.ts
  packages/marketplace/src/selector/auth/auth.ts
Labels: marketplace

#3345 fix: #3310 marketplace change condition uninstall message
  packages/marketplace/src/components/pages/app-detail/client/app-uninstall-confirmation.tsx
Labels: marketplace

#3352 feat: #2938 #3277 basic payments flow works e2e
  packages/mailer-service/src/controllers/create-payment-request.ts
  packages/payments-client/src/components/pages/__tests__/__snapshots__/paymen-session.test.tsx.snap
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payment-external.test.tsx.snap
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payment-internal.test.tsx.snap
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payment.test.tsx.snap
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payments.test.tsx.snap
  packages/payments-client/src/components/pages/__tests__/payment-external.test.tsx
  packages/payments-client/src/components/pages/__tests__/payment-internal.test.tsx
  packages/payments-client/src/components/pages/__tests__/payments.test.tsx
  packages/payments-client/src/components/pages/payment-external.tsx
  packages/payments-client/src/components/pages/payment-internal.tsx
  packages/payments-client/src/components/pages/payment-session.tsx
  packages/payments-client/src/components/pages/payment.tsx
  packages/payments-client/src/components/pages/payments.tsx
  packages/payments-client/src/components/pages/payments/index.tsx
  packages/payments-client/src/components/ui/__stubs__/payment.ts
  packages/payments-client/src/components/ui/__tests__/__snapshots__/menu.test.tsx.snap
  packages/payments-client/src/components/ui/__tests__/payments/__snapshots__/payment-custom-section.test.tsx.snap
  packages/payments-client/src/components/ui/__tests__/payments/__snapshots__/payment-filter-form.test.tsx.snap
  packages/payments-client/src/components/ui/__tests__/payments/__snapshots__/payment-request-modal.test.tsx.snap
  packages/payments-client/src/components/ui/__tests__/payments/__snapshots__/payment-request-model.test.tsx.snap
  packages/payments-client/src/components/ui/__tests__/payments/__snapshots__/property-section.test.tsx.snap
  packages/payments-client/src/components/ui/__tests__/payments/payment-filter-form.test.tsx
  packages/payments-client/src/components/ui/__tests__/payments/payment-request-modal.test.tsx
  packages/payments-client/src/components/ui/__tests__/payments/property-section.test.tsx
  packages/payments-client/src/components/ui/menu.tsx
  packages/payments-client/src/components/ui/payments/payment-customer-section.tsx
  packages/payments-client/src/components/ui/payments/payment-form.tsx
  packages/payments-client/src/components/ui/payments/payment-handlers.ts
  packages/payments-client/src/components/ui/payments/payment-page-content.tsx
  packages/payments-client/src/components/ui/payments/payment-request-modal.tsx
  packages/payments-client/src/components/ui/payments/payments-filter-form.tsx
  packages/payments-client/src/components/ui/payments/property-section.tsx
  packages/payments-client/src/constants/api.ts
  packages/payments-client/src/constants/filter-options.ts
  packages/payments-client/src/constants/filterOption.ts
  packages/payments-client/src/constants/routes.ts
  packages/payments-client/src/core/index.tsx
  packages/payments-client/src/core/private-route-wrapper.tsx
  packages/payments-client/src/core/router.tsx
  packages/payments-client/src/opayo-api/merchant-key.ts
  packages/payments-client/src/opayo-api/transactions.ts
  packages/payments-client/src/services/payment.ts
  packages/payments-client/src/types/global.d.ts
  packages/payments-client/src/utils/fetcher.ts
  packages/payments-client/src/utils/headers.ts
Labels: payments-client

#3359 feat: #3353 payments refinements
  packages/mailer-service/src/controllers/create-payment-request.ts
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payments.test.tsx.snap
  packages/payments-client/src/components/pages/payment-external.tsx
  packages/payments-client/src/components/pages/payment.tsx
  packages/payments-client/src/components/pages/payments.tsx
  packages/payments-client/src/components/ui/__tests__/payments/__snapshots__/payment-request-modal.test.tsx.snap
  packages/payments-client/src/components/ui/__tests__/payments/payment-form.test.tsx
  packages/payments-client/src/components/ui/payments/payment-form.tsx
  packages/payments-client/src/components/ui/payments/payment-handlers.ts
  packages/payments-client/src/components/ui/payments/payment-page-content.tsx
  packages/payments-client/src/components/ui/payments/payment-request-modal.tsx
Labels: payments-client

#3361 [Snyk] Upgrade @reapit/connect-session from 2.0.7 to 2.0.9
  packages/geo-diary/package.json
Labels: geo-diary

#3362 [Snyk] Upgrade tslib from 2.0.3 to 2.1.0
  packages/graphql-server/package.json
Labels: graphql-server

#3396 [Snyk] Upgrade @reapit/connect-session from 2.0.7 to 2.0.9
  packages/smb-onboarder/package.json
Labels: smb-onboarder

#3363 feat: #3185 geo-diary populate appointment detail property
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/elements/src/components/DynamicLinks/dynamic-link-gen.ts
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/components/pages/appointment/__tests__/__snapshots__/appointment.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-detail-modal/__stubs__/appointment-property.ts
  packages/geo-diary/src/components/ui/appointment-detail-modal/__stubs__/vendor-query.ts
  packages/geo-diary/src/components/ui/appointment-detail-modal/__tests__/__snapshots__/appointment-detail-modal.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-detail-modal/__tests__/__snapshots__/appointment-detail-vendor.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-detail-modal/__tests__/appointment-detail-vendor.test.tsx
  packages/geo-diary/src/components/ui/appointment-detail-modal/appointment-detail-modal.tsx
  packages/geo-diary/src/components/ui/appointment-detail-modal/appointment-detail-vendor.tsx
  packages/geo-diary/src/components/ui/appointment-detail-modal/get-vendor-by-id.graphql
  packages/geo-diary/src/core/index.tsx
  packages/geo-diary/src/graphql/fragments/property-model.graphql
  packages/geo-diary/src/graphql/fragments/vendor-related-model.graphql
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/types/global.d.ts
  packages/marketplace/jest.config.js
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: aml-checklist, developer-portal, elements, geo-diary, marketplace

#3398 feat: #3177 add installedby to and uninstalledby to Installations CSV
  packages/admin-portal/package.json
  packages/admin-portal/src/components/pages/statistics/statistics.tsx
Labels: admin-portal

#3404 [Snyk] Upgrade @reapit/connect-session from 2.0.7 to 2.0.9
  packages/marketplace/package.json
Labels: marketplace

#3405 feat: #3353 various ui tweaks and fixes
  packages/elements/src/components/CardInputGroup/__tests__/__snapshots__/card-input-group.test.tsx.snap
  packages/elements/src/components/CardInputGroup/card-input-group.tsx
  packages/mailer-service/serverless.yml
  packages/mailer-service/src/templates/create-payment-receipt.ejs
  packages/mailer-service/src/templates/create-payment-request.ejs
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payments.test.tsx.snap
  packages/payments-client/src/components/pages/payment-external.tsx
  packages/payments-client/src/components/pages/payment-internal.tsx
  packages/payments-client/src/components/pages/payments.tsx
  packages/payments-client/src/components/ui/__stubs__/payment.ts
  packages/payments-client/src/components/ui/__tests__/payments/__snapshots__/payment-form.test.tsx.snap
  packages/payments-client/src/components/ui/__tests__/payments/payment-form.test.tsx
  packages/payments-client/src/components/ui/payment-logo.tsx
  packages/payments-client/src/components/ui/payments/payment-form.tsx
  packages/payments-client/src/components/ui/payments/payment-handlers.ts
  packages/payments-client/src/components/ui/payments/payment-page-content.tsx
  packages/payments-client/src/opayo-api/merchant-key.ts
  packages/payments-client/src/opayo-api/transactions.ts
  packages/payments-client/src/services/payment.ts
  packages/payments-service/serverless.yml
Labels: elements, payments-client
