Repository reapit/foundations, pull requests merged in 2021-12, with the labels that each got.

#5615 feat: #5334 add product query marketplace
  .yarn/cache/axios-npm-0.24.0-39e5c1e79e-e741dfea07.zip
  packages/connect-session/package.json
  packages/connect-session/src/__mocks__/session.ts
  packages/connect-session/src/types.ts
  packages/connect-session/src/utils/verify-decode-id-token.ts
  packages/data-warehouse/src/services/__mocks__/session.ts
  packages/deployment-service-ui/src/platform-api/__mocks__/session.ts
  packages/developer-portal/src/components/pages/app-detail/app-revision-modal/__tests__/app-revision-modal.test.tsx
  packages/developer-portal/src/selector/__mocks__/auth.ts
  packages/geo-diary/src/graphql/__mocks__/session.ts
  packages/insights/src/platform-api/__mocks__/session.ts
  packages/marketplace-management/src/services/__mocks__/session.ts
  packages/marketplace/src/actions/apps/__tests__/apps.test.ts
  packages/marketplace/src/components/pages/apps/__tests__/apps.test.tsx
  packages/marketplace/src/components/pages/apps/apps.tsx
  packages/marketplace/src/selector/auth/__mocks__/auth.ts
  packages/marketplace/src/selector/auth/auth.ts
  packages/marketplace/src/services/apps.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/utils/__tests__/actions.ts
  packages/marketplace/src/utils/__tests__/route-dispatcher.ts
  packages/marketplace/src/utils/route-dispatcher.ts
  packages/payments-client/src/services/__mocks__/session.ts
  yarn.lock
Labels: marketplace, geo-diary, developer-portal, connect-session, data-warehouse, payments-client, marketplace-management, insights, deployment-service-ui

#5620 feat: #5618 xmas logos
  packages/developer-portal/src/assets/images/xmas-logos/Week1.png
  packages/developer-portal/src/assets/images/xmas-logos/Week2.png
  packages/developer-portal/src/assets/images/xmas-logos/Week3.png
  packages/developer-portal/src/assets/images/xmas-logos/Week4.png
  packages/developer-portal/src/components/ui/__tests__/__snapshots__/menu.tsx.snap
  packages/developer-portal/src/components/ui/__tests__/menu.tsx
  packages/developer-portal/src/components/ui/menu.tsx
  packages/marketplace/src/assets/images/xmas-logos/Week1.png
  packages/marketplace/src/assets/images/xmas-logos/Week2.png
  packages/marketplace/src/assets/images/xmas-logos/Week3.png
  packages/marketplace/src/assets/images/xmas-logos/Week4.png
  packages/marketplace/src/components/ui/__tests__/__snapshots__/menu.tsx.snap
  packages/marketplace/src/components/ui/__tests__/menu.tsx
  packages/marketplace/src/components/ui/menu.tsx
Labels: marketplace, developer-portal

#5622 fix: #5310 fix dependencies connect session
  .yarn/cache/@reapit-connect-session-npm-3.2.1-a9edb20baf-cceb442fa5.zip
  packages/connect-session/package.json
  packages/connect-session/tsdx.config.js
  packages/cra-template-foundations/package.json
  packages/cra-template-foundations/template.json
  packages/cra-template-foundations/template/src/platform-api/__mocks__/session.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/login-with-reapit/package.json
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  yarn.lock
Labels: marketplace, developer-portal, connect-session, login-with-reapit, cra-template-foundations

#5625 chore: #5536 #5535 add feature flag
  packages/developer-portal/src/components/pages/edit-app/developer-edit-app.tsx
  packages/developer-portal/src/components/pages/swagger/swagger.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-manage.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/webhooks-logs.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-manage.tsx
  packages/login-with-reapit/package.json
Labels: developer-portal, login-with-reapit

#5630 fix: deployment by GitHub
  .yarn/cache/@aws-cdk-aws-autoscaling-hooktargets-npm-1.134.0-febfadcbda-311ab5b2d9.zip
  .yarn/cache/@aws-cdk-aws-autoscaling-npm-1.134.0-d46c355eb2-9bbd969bfc.zip
  .yarn/cache/@aws-cdk-aws-cloudfront-npm-1.134.0-45f5eba5d9-ef7529de93.zip
  .yarn/cache/@aws-cdk-aws-codebuild-npm-1.134.0-6b4ff2d896-2aaadf01a1.zip
  .yarn/cache/@aws-cdk-aws-codecommit-npm-1.134.0-274501c514-199bcdb9af.zip
  .yarn/cache/@aws-cdk-aws-codepipeline-npm-1.134.0-c23a31af13-d26ca8ee15.zip
  .yarn/cache/@aws-cdk-aws-ecs-npm-1.134.0-66cf55b381-f277c2bc67.zip
  .yarn/cache/@aws-cdk-aws-elasticloadbalancing-npm-1.134.0-d67da0dc8a-afd7eee525.zip
  .yarn/cache/@aws-cdk-aws-events-targets-npm-1.134.0-06c61aff82-0919eed938.zip
  .yarn/cache/@aws-cdk-aws-globalaccelerator-npm-1.134.0-ec3ed90723-b5d1993081.zip
  .yarn/cache/@aws-cdk-aws-kinesis-npm-1.134.0-80da7e8f33-068136524d.zip
  .yarn/cache/@aws-cdk-aws-kinesisfirehose-npm-1.134.0-7bcf3ba293-878f02cd31.zip
  .yarn/cache/@aws-cdk-aws-route53-targets-npm-1.134.0-f520b8b062-1a681b63b7.zip
  .yarn/cache/@aws-cdk-aws-sam-npm-1.134.0-62db97ce57-219e9a11f0.zip
  .yarn/cache/@aws-cdk-aws-secretsmanager-npm-1.134.0-09c59ed1a9-0355fae8c1.zip
  .yarn/cache/@aws-cdk-aws-servicediscovery-npm-1.134.0-59924aded7-60b1ffbc57.zip
  .yarn/cache/@aws-cdk-aws-sns-subscriptions-npm-1.134.0-cf504d433b-9f56fbb058.zip
  .yarn/cache/@aws-cdk-aws-stepfunctions-npm-1.134.0-41f2e54606-da888a7019.zip
  .yarn/cache/@reapit-connect-session-npm-3.2.1-a9edb20baf-cceb442fa5.zip
  packages/cli/src/abstract.command.ts
  packages/cli/src/commands/pipeline/deploy.ts
  packages/cli/src/commands/pipeline/link.ts
  packages/cli/src/commands/release/deploy.ts
  packages/deployment-service-ui/src/components/task/index.tsx
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-code-build.ts
  packages/deployment-service/migrations/1638286917874-startTimeFix.ts
  packages/deployment-service/migrations/index.ts
  packages/deployment-service/package.json
  packages/deployment-service/src/entities/index.ts
  packages/deployment-service/src/functions/pipeline/codebuild-deploy.ts
  packages/deployment-service/src/functions/pipeline/codebuild-executor.ts
  packages/deployment-service/src/functions/pipeline/codebuild-pipeline-updater.ts
  packages/deployment-service/src/functions/pusher-auth.ts
  packages/foundations-ts-definitions/deployment-schema/index.ts
  yarn.lock
Labels: deployment-service, cli, deployment-service-ui

#5646 chore: remove serverless config from cli command react-template
  packages/cli/src/commands/react-starter.ts
Labels: cli

#5647 feat: added singular command help prints
  packages/cli/src/abstract.command.ts
  packages/cli/src/commands/help.ts
  packages/cli/src/index.ts
  packages/cli/src/parent.command.ts
Labels: cli

#5648 refactor: changed react template command name to bootstrap
  packages/cli/src/commands/react-starter.ts
Labels: cli

#5650 feat: added note about where to get api-key
  packages/cli/README.md
  packages/cli/src/commands/config.ts
  packages/cli/src/intro.ts
Labels: cli

#5649 refactor: renamed and restructured pipeline deploy commands
  packages/cli/src/commands/help.ts
  packages/cli/src/commands/pipeline/deploy-local.ts
  packages/cli/src/commands/pipeline/deploy.ts
  packages/cli/src/commands/pipeline/index.ts
  packages/cli/src/commands/release/index.ts
  packages/cli/src/parent.command.ts
Labels: cli

#5651 feat: architecture pusher cli updates
  packages/cli/src/commands/pipeline/create.ts
  packages/cli/src/commands/pipeline/deploy.ts
  packages/deployment-service/src/functions/pipeline/pipeline-setup.ts
Labels: deployment-service, cli

#5653 fix: change pipeline values in local json
  packages/cli/src/commands/pipeline/create.ts
Labels: cli

#5665 feat: #5537 sandbox toggle
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/toggle-customer-data-form.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/toggle-customer-data-form.tsx
  packages/developer-portal/src/reducers/__stubs__/app-state.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/get.ts
Labels: developer-portal

#5675 fix: #5674 multi select chrome 69 issue
  packages/deployment-service-ui/src/components/task/index.tsx
  packages/elements/package.json
  packages/elements/src/storybook/changelog.stories.mdx
  packages/elements/src/storybook/random-id.ts
Labels: elements, deployment-service-ui

#5676 fix: #5670 broken docs link mm app
  packages/marketplace-management/src/components/pages/__tests__/offices.test.tsx
  packages/marketplace-management/src/components/pages/__tests__/users.test.tsx
  packages/marketplace-management/src/components/pages/offices.tsx
  packages/marketplace-management/src/components/pages/users.tsx
Labels: marketplace-management

#5617 feat: auto reply bot issue changes
  .github/workflows/auto-bot.yml
  packages/auto-reply-bot/action/index.js
  packages/auto-reply-bot/src/app.js
Labels: infra

#5691 fix: #5537 sandbox toggle should always be visible
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/toggle-customer-data-form.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
Labels: developer-portal

#5694 feat: rds db change
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-aurora.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/src/config/db.ts
  packages/deployment-service/src/core/db.ts
Labels: deployment-service

#5696 feat: #5655 dependency upgrades
  .yarn/cache/serverless-webpack-npm-5.5.1-6c92d1c753-3c064ad002.zip
  .yarn/cache/serverless-webpack-npm-5.6.0-66c6bb225d-de7df7425e.zip
  packages/cognito-custom-mail-lambda/package.json
  packages/config-service/package.json
  packages/events-service/package.json
  packages/mailer-service/package.json
  packages/payments-service/package.json
  packages/security-header-lambda/package.json
  packages/utils-node/src/tests/badges/badge-functions.svg
  packages/utils-node/src/tests/badges/badge-lines.svg
  packages/utils-node/src/tests/badges/badge-statements.svg
  yarn.lock
Labels: cognito-custom-mail-lambda, mailer-service, payments-service

#5711 chore: #4836 upgrade webpack dev server
  .yarn/cache/@types-http-proxy-npm-1.17.8-0e73b3e3eb-3b3d683498.zip
  .yarn/cache/default-gateway-npm-4.2.0-f6bdd83987-1f5be76547.zip
  .yarn/cache/default-gateway-npm-6.0.3-d8d9292176-126f8273ec.zip
  .yarn/cache/define-lazy-prop-npm-2.0.0-bba0cd91a7-0115fdb065.zip
  .yarn/cache/del-npm-4.1.1-8bc04567c6-521f7da44b.zip
  .yarn/cache/del-npm-6.0.0-fb1f14b406-5742891627.zip
  .yarn/cache/globby-npm-6.1.0-590bfb2681-18109d6b9d.zip
  .yarn/cache/html-entities-npm-1.4.0-39a1121015-4b73ffb9ee.zip
  .yarn/cache/http-proxy-middleware-npm-0.19.1-ba4e5c6109-64df043841.zip
  .yarn/cache/http-proxy-middleware-npm-2.0.1-d5d4a98393-0de65bc664.zip
  .yarn/cache/import-local-npm-2.0.0-9cfca832bf-b846925248.zip
  .yarn/cache/internal-ip-npm-4.3.0-721bfbef82-c970433c84.zip
  .yarn/cache/ipaddr.js-npm-2.0.1-04e97280d7-dd194a394a.zip
  .yarn/cache/is-path-in-cwd-npm-2.1.0-2a2ca98522-6b01b3f8c9.zip
  .yarn/cache/is-path-inside-npm-2.1.0-f943552e7a-6ca34dbd84.zip
  .yarn/cache/is-plain-obj-npm-3.0.0-a5ae411d5a-a6ebdf8e12.zip
  .yarn/cache/json3-npm-3.3.3-be4baec3f1-55eda204a4.zip
  .yarn/cache/killable-npm-1.0.1-bf69803651-911a85c6e3.zip
  .yarn/cache/open-npm-8.4.0-df63cfe537-e9545bec64.zip
  .yarn/cache/opn-npm-5.5.0-9a97e03147-35b677b5a1.zip
  .yarn/cache/p-retry-npm-3.0.1-1abc743ac9-702efc63fc.zip
  .yarn/cache/portfinder-npm-1.0.26-f0cd2f5d3c-742f5776fb.zip
  .yarn/cache/resolve-cwd-npm-2.0.0-cce7da6fd4-e7c16880c4.zip
  .yarn/cache/selfsigned-npm-1.10.11-b18173f015-1fd8fd317d.zip
  .yarn/cache/selfsigned-npm-1.10.8-c48e1ebfb2-c7028385cb.zip
  .yarn/cache/sockjs-client-npm-1.5.0-0c9b762782-b09203361c.zip
  .yarn/cache/strip-ansi-npm-7.0.1-668c121204-257f78fa43.zip
  .yarn/cache/webpack-dev-middleware-npm-5.2.2-f9bc2a1a74-8dfcb1244b.zip
  .yarn/cache/webpack-dev-server-npm-3.11.3-ba74f2e2c6-ae2dbcfcd9.zip
  .yarn/cache/webpack-dev-server-npm-4.6.0-cc0bd1a814-941ecdc7bf.zip
  packages/admin-portal/package.json
  packages/aml-checklist/package.json
  packages/app-builder/package.json
  packages/data-warehouse/package.json
  packages/deployment-service-ui/package.json
  packages/developer-portal/package.json
  packages/geo-diary/package.json
  packages/insights/package.json
  packages/marketplace-management/package.json
  packages/marketplace/package.json
  packages/payments-client/package.json
  packages/reapit-connect/package.json
  packages/ts-scripts/package.json
  packages/ts-scripts/src/webpack/webpack.config.dev.js
  yarn.lock
Labels: marketplace, geo-diary, aml-checklist, admin-portal, developer-portal, data-warehouse, payments-client, reapit-connect, marketplace-management, ts-scripts, insights, deployment-service-ui

#5715 docs: cli
  packages/cli/README.md
  packages/cli/snapshots/config.png
  packages/cli/snapshots/deploy-zip.png
Labels: cli

#5613 fix: added exit on error
  packages/cli/src/commands/pipeline/deploy.ts
Labels: cli

#5729 chore: updated yup
  .yarn/cache/fn-name-npm-3.0.0-aa304e6db5-3cfe9bfadb.zip
  .yarn/cache/lodash-es-npm-4.17.20-4f0d0b188f-209a749a5c.zip
  .yarn/cache/yup-npm-0.29.3-8eaf762de3-ec7297457e.zip
  packages/admin-portal/package.json
  packages/admin-portal/src/components/pages/devs-management/set-status-modal/__tests__/__snapshots__/status-modal.test.tsx.snap
  packages/aml-checklist/package.json
  packages/aml-checklist/src/components/pages/client-search/__tests__/__snapshots__/client-search.tsx.snap
  packages/aml-checklist/src/components/ui/forms/__tests__/__snapshots__/identification.tsx.snap
  packages/aml-checklist/src/components/ui/modal/address-information/__tests__/__snapshots__/address-information.tsx.snap
  packages/aml-checklist/src/components/ui/modal/declaration-and-risk-assessment/__tests__/__snapshots__/declaration-and-risk-assessment.tsx.snap
  packages/aml-checklist/src/components/ui/modal/profile/__tests__/__snapshots__/profile.tsx.snap
  packages/app-builder/package.json
  packages/data-warehouse/package.json
  packages/data-warehouse/src/components/pages/accounts/__tests__/__snapshots__/account-provision-modal.test.tsx.snap
  packages/developer-portal/package.json
  packages/developer-portal/src/actions/webhooks-subscriptions/webhook-edit-modal.ts
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/__tests__/__snapshots__/cost-calculator-form.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/app-uninstall-modal/confirm-uninstall/__tests__/__snapshots__/confirm-uninstall.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/form-schema/form-fields.ts
  packages/developer-portal/src/components/pages/edit-app/form-schema/validation-schema.ts
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/accounts-information-form/__tests__/__snapshots__/accounts-information-form.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/organisation-form/form-schema/validation-schema.ts
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/__snapshots__/change-password-form.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/__snapshots__/contact-information-form.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/__snapshots__/forms.test.tsx.snap
  packages/developer-portal/src/components/pages/v8/pipeline/create-pipeline.tsx
  packages/developer-portal/src/components/pages/webhooks/webhook-ping-form.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-manage-form.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-new.tsx
  packages/developer-portal/src/components/ui/developer-invite-member-modal/__tests__/__snapshots__/developer-invite-member-modal.test.tsx.snap
  packages/developer-portal/src/components/ui/submit-app-wizard/validation-schema.ts
  packages/developer-portal/src/utils/validate.ts
  packages/geo-diary/package.json
  packages/marketplace-management/package.json
  packages/marketplace/package.json
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/change-password-form.test.tsx.snap
  packages/marketplace/src/components/pages/settings/__tests__/__snapshots__/setting.test.tsx.snap
  packages/marketplace/src/components/ui/app-sidebar/__tests__/__snapshots__/app-sidebar.tsx.snap
  packages/payments-client/package.json
  packages/payments-client/src/components/ui/__tests__/__snapshots__/payment-request-modal.test.tsx.snap
  yarn.lock
Labels: marketplace, geo-diary, aml-checklist, admin-portal, developer-portal, data-warehouse, payments-client, marketplace-management

#5736 fix: release dev fix
  packages/app-builder-backend/cdk-stack.ts
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
  packages/deployment-service/cdk/lib/create-lambda.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/cdk/lib/create-sqs.ts
  packages/graphql-server/cdk-stack.ts
  packages/ts-bundler/src/ts-bundler.ts
  packages/ts-scripts/cdk.ts
  packages/ts-scripts/src/cdk/index.ts
Labels: graphql-server, ts-scripts, deployment-service

#5740 fix: gitignore'd file
  .gitignore
  packages/ts-scripts/src/cdk/utils/output.ts
Labels: ts-scripts
