Repository reapit/foundations, pull requests merged in 2021-06, with the labels that each got.

#4266 fix: added config to deployment webpack conf
  packages/api-key-service/webpack.config.js
  packages/deployment-service/webpack.config.js
Labels: api-key-service

#4274 fix: #4273 removed iframe loader, fixed eta text
  packages/geo-diary/src/components/ui/contact-drawer/__tests__/__snapshots__/aml-check-row.test.tsx.snap
  packages/geo-diary/src/components/ui/contact-drawer/aml-check-row.tsx
  packages/geo-diary/src/components/ui/contact-drawer/eta-text-row.tsx
  packages/geo-diary/src/components/ui/menu/__tests__/menu.test.tsx
  packages/geo-diary/src/components/ui/menu/menu.tsx
  packages/geo-diary/src/core/private-route-wrapper.tsx
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
Labels: geo-diary

#4320 feat: #2624 section containers
  packages/elements/src/components-v3/Containers/containers.stories.mdx
  packages/elements/src/components-v3/Layouts/__styles__/index.ts
  packages/elements/src/components-v3/Layouts/__tests__/__snapshots__/index.test.tsx.snap
  packages/elements/src/components-v3/Layouts/__tests__/index.test.tsx
  packages/elements/src/components-v3/Layouts/index.tsx
  packages/elements/src/components-v3/Layouts/layouts.stories.mdx
  packages/elements/src/components-v3/Layouts/layouts.stories.tsx
  packages/elements/src/components-v3/Nav/__styles__/index.ts
Labels: elements

#4344 fix: #4240 #4214 #4339 fixes links and messaging
  packages/developer-portal/src/components/pages/authentication/authentication.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/webhooks.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
Labels: developer-portal

#4375 fix: geo diary markers hotfix
  packages/geo-diary/src/components/ui/map/google-map-component.tsx
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
Labels: geo-diary

#4377 fix: hofix geo diary travel mode
  packages/geo-diary/src/components/ui/map/google-map-component.tsx
Labels: geo-diary

#4392 feat: #4386 update developer terms and conditions
  packages/developer-portal/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/schedule-one.tsx.snap
  packages/developer-portal/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/schedule-three.tsx.snap
  packages/developer-portal/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/terms-and-conditions.tsx.snap
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/schedule-one.tsx
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/schedule-three.tsx
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/terms-and-conditions.tsx
  packages/developer-portal/src/core/private-route-wrapper.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#4411 fix: #4386 t and cs fix
  packages/developer-portal/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/terms-and-conditions.tsx.snap
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/__styles__/terms-and-conditions.ts
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/terms-and-conditions.tsx
  packages/elements/src/components-v3/Card/card-components.tsx
  packages/elements/src/components-v3/Card/card.stories.mdx
  packages/elements/src/components-v3/Card/index.tsx
Labels: developer-portal, elements

#4475 feat: #4436 #4448 remove live chat bot
  .github/ISSUE_TEMPLATE/cloud--internal-.md
  .github/ISSUE_TEMPLATE/feature_request.md
  packages/developer-portal/src/components/pages/help/__tests__/__snapshots__/help.test.tsx.snap
  packages/developer-portal/src/components/pages/help/__tests__/help.test.tsx
  packages/developer-portal/src/components/pages/help/help.tsx
  packages/developer-portal/src/components/ui/help-item-list/__tests__/help-item-list.tsx
  packages/developer-portal/src/core/index.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/types/global.d.ts
Labels: developer-portal, infra

#4476 fix: #4448 missed label in url
  packages/developer-portal/src/constants/developer-help-links.ts
Labels: developer-portal
