Repository reapit/foundations, pull requests merged in 2021-09, with the labels that each got.

#4892 fix: overall deployment fixes
  packages/deployment-service-ui/src/components/pages/pipelines/list.tsx
  packages/deployment-service-ui/src/components/pages/pipelines/show.tsx
  packages/deployment-service-ui/src/tests/badges/badge-branches.svg
  packages/deployment-service-ui/src/tests/badges/badge-functions.svg
  packages/deployment-service-ui/src/tests/badges/badge-lines.svg
  packages/deployment-service-ui/src/tests/badges/badge-statements.svg
  packages/deployment-service-ui/src/utils/index.ts
  packages/deployment-service-ui/src/utils/status-to-intent.ts
  packages/deployment-service/src/entities/index.ts
  packages/deployment-service/src/functions/pipeline/codebuild-pipeline-updater.ts
  packages/deployment-service/src/functions/pipeline/version-deploy.ts
  packages/deployment-service/src/services/pipeline.ts
Labels: deployment-service, deployment-service-ui

#4908 feat: #4688 #4834 adds new compat image, tidies up deployment ui
  packages/deployment-service-ui/src/components/pages/api-key/list.tsx
  packages/deployment-service-ui/src/components/pages/pipelines/create.tsx
  packages/deployment-service-ui/src/components/pages/pipelines/list.tsx
  packages/deployment-service-ui/src/components/pages/pipelines/show.tsx
  packages/deployment-service-ui/src/components/pages/pipelines/update.tsx
  packages/deployment-service-ui/src/components/ui/__tests__/__snapshots__/menu.test.tsx.snap
  packages/deployment-service-ui/src/components/ui/__tests__/menu.test.tsx
  packages/deployment-service-ui/src/components/ui/menu.tsx
  packages/deployment-service-ui/src/components/ui/nav/__tests__/__snapshots__/nav.test.tsx.snap
  packages/deployment-service-ui/src/components/ui/nav/__tests__/nav.test.tsx
  packages/deployment-service-ui/src/components/ui/nav/index.ts
  packages/deployment-service-ui/src/components/ui/nav/nav.tsx
  packages/deployment-service-ui/src/constants/constants.ts
  packages/deployment-service-ui/src/core/__tests__/__snapshots__/app.test.tsx.snap
  packages/deployment-service-ui/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/deployment-service-ui/src/core/app.tsx
  packages/deployment-service-ui/src/core/private-route-wrapper.tsx
  packages/deployment-service-ui/src/utils/status-to-intent.ts
  packages/geo-diary-marketing/src/components/testimonial-slide.svelte
  packages/geo-diary-marketing/static/images/compatibility-hero.svg
Labels: deployment-service-ui

#4920 feat: #4895 deployment codebuild logs
  packages/deployment-service-ui/src/components/pages/pipelines/show.tsx
  packages/deployment-service-ui/src/components/task/index.tsx
  packages/deployment-service-ui/src/components/task/task.element.tsx
  packages/deployment-service-ui/src/utils/status-to-intent.ts
  packages/deployment-service/migrations/1630509406008-pipeline-signed-url.ts
  packages/deployment-service/migrations/1630659208268-pipeline-signed-url-length.ts
  packages/deployment-service/package.json
  packages/deployment-service/serverless.yml
  packages/deployment-service/src/entities/index.ts
  packages/deployment-service/src/functions/pipeline/codebuild-executor.ts
  packages/deployment-service/src/functions/pipeline/codebuild-pipeline-updater.ts
  packages/deployment-service/src/services/pipeline.ts
  packages/deployment-service/src/services/s3.ts
  packages/foundations-ts-definitions/deployment-schema/index.ts
Labels: deployment-service, deployment-service-ui

#4922 fix: attempting to close db connection in sqs funcs
  packages/deployment-service/src/core/db.ts
  packages/deployment-service/src/functions/pipeline/codebuild-executor.ts
  packages/deployment-service/src/functions/pipeline/codebuild-pipeline-updater.ts
  packages/deployment-service/src/functions/pipeline/version-deploy.ts
Labels: deployment-service

#4924 fix: hanging promises
  packages/deployment-service/src/core/db.ts
  packages/deployment-service/src/functions/pipeline/codebuild-executor.ts
  packages/deployment-service/src/functions/pipeline/codebuild-pipeline-updater.ts
  packages/deployment-service/src/functions/pipeline/version-deploy.ts
Labels: deployment-service

#4925 fix: delete from queue when errored
  packages/deployment-service/src/functions/pipeline/codebuild-executor.ts
  packages/deployment-service/src/functions/pipeline/codebuild-pipeline-updater.ts
Labels: deployment-service

#4926 fix: task design fixes
  packages/deployment-service-ui/src/components/pages/pipelines/show.tsx
  packages/deployment-service-ui/src/components/task/index.tsx
  packages/deployment-service-ui/src/utils/friendly-function-name.ts
  packages/elements/src/components/status-indicator/__styles__/index.ts
Labels: elements, deployment-service-ui

#4927 refactor: release deployment store
  packages/cli/src/commands/release/deploy.ts
  packages/deployment-service/src/executables/deploy-from-store.ts
  packages/deployment-service/src/executables/deploy-to-live.ts
  packages/deployment-service/src/executables/index.ts
  packages/deployment-service/src/executables/release-to-live.ts
  packages/deployment-service/src/executables/release.ts
  packages/deployment-service/src/executables/store-version.ts
  packages/deployment-service/src/functions/pipeline/codebuild-executor.ts
  packages/deployment-service/src/functions/pipeline/version-deploy.ts
  packages/deployment-service/src/functions/release/deploy-version.ts
  packages/deployment-service/src/functions/release/release.ts
  packages/deployment-service/src/utils/index.ts
  packages/deployment-service/src/utils/recurse-dir.ts
Labels: deployment-service, cli

#4928 fix: project params incorrect for release paginate
  packages/deployment-service/src/functions/release/release-paginate.ts
Labels: deployment-service

#4930 feat: #4900 improved time keepings
  .yarn/cache/react-timer-hook-npm-3.0.4-b87fbbff4a-9f5c846b47.zip
  .yarn/cache/tslib-npm-2.3.1-0e21e18015-5ae2f209c5.zip
  packages/deployment-service-ui/package.json
  packages/deployment-service-ui/src/components/pages/pipelines/show.tsx
  packages/deployment-service-ui/src/components/task/index.tsx
  packages/deployment-service-ui/src/utils/friendly-function-name.ts
  packages/deployment-service/src/functions/pipeline/version-deploy.ts
  yarn.lock
Labels: deployment-service, deployment-service-ui

#4936 feat: #4933 adds analytics schema docs to dev portal
  packages/developer-portal/src/components/pages/api-docs/api-docs.tsx
  packages/developer-portal/src/components/ui/developer-edition-modal/__tests__/__snapshots__/developer-edition-content.tsx.snap
  packages/developer-portal/src/components/ui/developer-edition-modal/__tests__/developer-edition-content.tsx
  packages/developer-portal/src/components/ui/developer-edition-modal/developer-edition-content.tsx
  packages/developer-portal/src/components/ui/developer-edition-modal/developer-edition-modal.tsx
  packages/developer-portal/src/constants/pages.ts
  packages/developer-portal/src/constants/routes.ts
  packages/developer-portal/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/developer-portal/src/core/index.tsx
  packages/developer-portal/src/core/router.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/types/global.d.ts
Labels: developer-portal

#4937 chore: #4921 #4880 update cra and fix type issue
  packages/cra-template-foundations/package.json
  packages/cra-template-foundations/template.json
  packages/cra-template-foundations/template/src/platform-api/configuration-api.ts
Labels: cra-template-foundations

#4943 fix: queue visibility property
  packages/deployment-service/serverless.yml
Labels: deployment-service

#4950 [WIP] feat: pipeline setup
  .yarn/cache/@types-mime-types-npm-2.1.1-2f761de0b8-d282f89f3a.zip
  .yarn/cache/mime-db-npm-1.49.0-c35e06b8e1-c5ac8ff35f.zip
  .yarn/cache/mime-types-npm-2.1.32-19eafe8a3f-91addbdc0c.zip
  packages/deployment-service-ui/src/components/pages/pipelines/list.tsx
  packages/deployment-service-ui/src/components/pages/pipelines/show.tsx
  packages/deployment-service/migrations/1631182439085-pipeline-cloudfront-r53-storage.ts
  packages/deployment-service/package.json
  packages/deployment-service/serverless.yml
  packages/deployment-service/src/entities/index.ts
  packages/deployment-service/src/executables/deploy-to-live.ts
  packages/deployment-service/src/executables/release-to-live.ts
  packages/deployment-service/src/functions/pipeline/codebuild-deploy.ts
  packages/deployment-service/src/functions/pipeline/index.ts
  packages/deployment-service/src/functions/pipeline/pipeline-setup.ts
  packages/deployment-service/src/services/pipeline.ts
  packages/deployment-service/src/utils/recurse-dir.ts
  packages/foundations-ts-definitions/deployment-schema/index.ts
  yarn.lock
Labels: deployment-service, deployment-service-ui

#4952 feat: added content type to s3
  packages/deployment-service/src/executables/deploy-to-live.ts
Labels: deployment-service

#4955 feat: #4951 invalidate cache on deploy
  packages/deployment-service-ui/src/components/pages/pipelines/show.tsx
  packages/deployment-service-ui/src/utils/status-to-intent.ts
  packages/deployment-service/serverless.yml
  packages/deployment-service/src/functions/pipeline/codebuild-deploy.ts
Labels: deployment-service, deployment-service-ui

#4959 feat: #4902 pipeline tear down
  packages/deployment-service/serverless.yml
  packages/deployment-service/src/constants.ts
  packages/deployment-service/src/functions/pipeline/codebuild-deploy.ts
  packages/deployment-service/src/functions/pipeline/index.ts
  packages/deployment-service/src/functions/pipeline/pipeline-delete.ts
  packages/deployment-service/src/functions/pipeline/pipeline-setup.ts
  packages/deployment-service/src/functions/pipeline/pipeline-trear-down.ts
  packages/deployment-service/src/services/pipeline-runner.ts
  packages/deployment-service/src/services/task.ts
Labels: deployment-service

#4978 fix: #4113 apps api call loop and svg images broken
  packages/developer-portal/src/assets/images/webhook-docs.svg
  packages/developer-portal/src/assets/images/webhook-new.svg
  packages/developer-portal/src/components/pages/webhooks/__styles__/index.ts
  packages/developer-portal/src/components/pages/webhooks/__styles__/svg-animations.ts
  packages/developer-portal/src/components/pages/webhooks/webhooks-about.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-animated-docs-icon.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-animated-new-icon.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#4988 feat: #4981 updates swagger endpoints
  packages/developer-portal/src/components/pages/swagger/swagger.tsx
  packages/developer-portal/src/core/index.tsx
  packages/developer-portal/src/types/global.d.ts
Labels: developer-portal

#4989 feat: #4902 pipeline tear down 2
  packages/deployment-service-ui/src/components/pages/pipelines/list.tsx
  packages/deployment-service-ui/src/utils/status-to-intent.ts
  packages/deployment-service/serverless.yml
  packages/deployment-service/src/constants.ts
  packages/deployment-service/src/functions/pipeline/pipeline-delete.ts
  packages/deployment-service/src/functions/pipeline/pipeline-trear-down.ts
  packages/deployment-service/src/services/task.ts
Labels: deployment-service, deployment-service-ui

#4990 feat: condition to prevent deployments at certain states
  packages/deployment-service/src/functions/pipeline/pipeline-runner-create.ts
Labels: deployment-service

#4994 feat: #4958 check domain exists
  packages/deployment-service/src/config/db.ts
  packages/deployment-service/src/entities/index.ts
  packages/deployment-service/src/subscribers/sub-domain.ts
Labels: deployment-service

#5018 feat: #4899 pusher auth
  packages/deployment-service-ui/src/components/pages/pipelines/list.tsx
  packages/deployment-service-ui/src/components/pages/pipelines/show.tsx
  packages/deployment-service-ui/src/core/__tests__/__snapshots__/app.test.tsx.snap
  packages/deployment-service-ui/src/core/app.tsx
  packages/deployment-service/serverless.yml
  packages/deployment-service/src/functions/index.ts
  packages/deployment-service/src/functions/pipeline/codebuild-deploy.ts
  packages/deployment-service/src/functions/pipeline/codebuild-pipeline-updater.ts
  packages/deployment-service/src/functions/pipeline/pipeline-delete.ts
  packages/deployment-service/src/functions/pusher-auth.ts
Labels: deployment-service, deployment-service-ui

#5024 refactor: rename links to API and warehouse
  packages/developer-portal/src/components/pages/api-docs/api-docs.tsx
Labels: developer-portal

#5028 fix: pural APIs
  packages/developer-portal/src/components/pages/api-docs/api-docs.tsx
Labels: developer-portal

#5034 feat: 5017 dw app changes
  packages/data-warehouse/jest.config.js
  packages/data-warehouse/src/components/hocs/subscription-route-wrapper.tsx
  packages/data-warehouse/src/components/hooks/subscriptions-handlers.ts
  packages/data-warehouse/src/components/hooks/use-subscriptions.ts
  packages/data-warehouse/src/components/pages/accounts/accounts.tsx
  packages/data-warehouse/src/components/pages/analytics/analytics.tsx
  packages/data-warehouse/src/components/pages/data/data.tsx
  packages/data-warehouse/src/components/pages/subscriptions/__styles__/pricing-tile.tsx
  packages/data-warehouse/src/components/pages/subscriptions/__tests__/__snapshots__/subscriptions-content.test.tsx.snap
  packages/data-warehouse/src/components/pages/subscriptions/__tests__/__snapshots__/subscriptions.test.tsx.snap
  packages/data-warehouse/src/components/pages/subscriptions/__tests__/subscriptions-content.test.tsx
  packages/data-warehouse/src/components/pages/subscriptions/__tests__/subscriptions-handlers.test.ts
  packages/data-warehouse/src/components/pages/subscriptions/__tests__/subscriptions.test.tsx
  packages/data-warehouse/src/components/pages/subscriptions/subscriptions-content.tsx
  packages/data-warehouse/src/components/pages/subscriptions/subscriptions.tsx
  packages/data-warehouse/src/components/ui/__tests__/__snapshots__/menu.test.tsx.snap
  packages/data-warehouse/src/components/ui/menu.tsx
  packages/data-warehouse/src/components/ui/subscription-modal.tsx
  packages/data-warehouse/src/constants/routes.ts
  packages/data-warehouse/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/data-warehouse/src/core/private-route-wrapper.tsx
  packages/data-warehouse/src/core/router.tsx
Labels: data-warehouse

#5045 fix: refresh page after subscribing to DW
  packages/data-warehouse/jest.config.js
  packages/data-warehouse/src/components/ui/subscription-modal.tsx
Labels: data-warehouse

#5047 feat: remove dev condition
  packages/developer-portal/src/components/pages/api-docs/api-docs.tsx
Labels: developer-portal

#5026 feat: #4896 improve exception handling
  packages/cli/src/commands/pipeline/create.ts
  packages/deployment-service-ui/src/platform-api/pipelines.ts
  packages/deployment-service/src/core/index.ts
  packages/deployment-service/src/core/logger.ts
  packages/deployment-service/src/functions/pipeline/codebuild-deploy.ts
  packages/deployment-service/src/functions/pipeline/codebuild-executor.ts
  packages/deployment-service/src/functions/pipeline/pipeline-create.ts
  packages/deployment-service/src/functions/pipeline/pipeline-delete.ts
  packages/deployment-service/src/functions/pipeline/pipeline-runner-create.ts
  packages/deployment-service/src/functions/pipeline/pipeline-runner-update.ts
  packages/deployment-service/src/functions/pipeline/pipeline-setup.ts
  packages/deployment-service/src/functions/pipeline/pipeline-update.ts
  packages/deployment-service/src/services/pipeline-runner.ts
  packages/deployment-service/tsconfig.json
Labels: deployment-service, cli, deployment-service-ui

#5050 fix: added an 's' to API
  packages/developer-portal/src/components/pages/api-docs/api-docs.tsx
Labels: developer-portal

#5051 feat: added policy to make s3 bucket public
  packages/deployment-service/serverless.yml
Labels: deployment-service

#5052 feat: added db commands to release
  packages/deployment-service/package.json
Labels: deployment-service

#5058 fix: corrected file path for db conf
  packages/deployment-service/package.json
Labels: deployment-service

#5061 feat: added policies for version bucket
  packages/deployment-service/serverless.yml
Labels: deployment-service

#5032 feat: #4877 graphql keys api
  .yarn/cache/@hapi-accept-npm-5.0.2-cfe21ffd1e-ea9ae15ac2.zip
  .yarn/cache/@hapi-ammo-npm-5.0.1-d291bec44f-38cc373df4.zip
  .yarn/cache/@hapi-b64-npm-5.0.0-eef9cf5e2f-45bed36a8a.zip
  .yarn/cache/@hapi-boom-npm-9.1.4-1a3569656a-ee47b76119.zip
  .yarn/cache/@hapi-bounce-npm-2.0.0-ec201eb15b-ed0e791a34.zip
  .yarn/cache/@hapi-bourne-npm-2.0.0-8eeda7e0a2-97a3e6d44c.zip
  .yarn/cache/@hapi-call-npm-8.0.1-b70df75f00-f270d44545.zip
  .yarn/cache/@hapi-catbox-memory-npm-5.0.1-8b8f548f6c-2f6e6ad2d7.zip
  .yarn/cache/@hapi-catbox-npm-11.1.1-c524a2a973-60654b5a47.zip
  .yarn/cache/@hapi-content-npm-5.0.2-fc70c32868-01ab29a098.zip
  .yarn/cache/@hapi-cryptiles-npm-5.1.0-828c4c614b-36bfea3cc7.zip
  .yarn/cache/@hapi-file-npm-2.0.0-81f769dce5-f3441d6293.zip
  .yarn/cache/@hapi-h2o2-npm-9.1.0-13d7df439a-51e0580c0b.zip
  .yarn/cache/@hapi-hapi-npm-20.1.5-99ea1da2a4-9906ee8131.zip
  .yarn/cache/@hapi-heavy-npm-7.0.1-29a31e6ad5-2ec09d8226.zip
  .yarn/cache/@hapi-hoek-npm-9.2.0-efd2a3831f-c68d43f3fa.zip
  .yarn/cache/@hapi-iron-npm-6.0.0-0249710989-427104bcc2.zip
  .yarn/cache/@hapi-mimos-npm-6.0.0-0b69d976ef-131cb382a5.zip
  .yarn/cache/@hapi-nigel-npm-4.0.2-f61c7f21ab-75f2fe786c.zip
  .yarn/cache/@hapi-pez-npm-5.0.3-c31e9e6e8a-528e029b5e.zip
  .yarn/cache/@hapi-podium-npm-4.1.3-f827958aad-f68cf8d5d9.zip
  .yarn/cache/@hapi-shot-npm-5.0.5-e87e4ffa1f-de051bfc05.zip
  .yarn/cache/@hapi-somever-npm-3.0.1-ad5c75fcea-dd3ca105b6.zip
  .yarn/cache/@hapi-statehood-npm-7.0.3-ebbbd26897-82eaea15d6.zip
  .yarn/cache/@hapi-subtext-npm-7.0.3-3eaadfd0ac-40c0cc4fc1.zip
  .yarn/cache/@hapi-teamwork-npm-5.1.0-6cae7d2247-be07361a92.zip
  .yarn/cache/@hapi-topo-npm-5.1.0-5e0b776809-e37ce579b9.zip
  .yarn/cache/@hapi-validate-npm-1.1.3-213070131c-35bfbee6e5.zip
  .yarn/cache/@hapi-vise-npm-4.0.0-987b95374e-838d9ea114.zip
  .yarn/cache/@hapi-wreck-npm-17.1.0-bed654125d-ea3fd37926.zip
  .yarn/cache/serverless-offline-npm-8.2.0-32fc75513f-4ec61ba183.zip
  packages/graphql-server/package.json
  packages/graphql-server/src/__stubs__/mock-context.ts
  packages/graphql-server/src/resolvers/configurations/configurations.d.ts
  packages/graphql-server/src/resolvers/configurations/types.graphql
  packages/graphql-server/src/resolvers/contacts/__tests__/dataloader.test.ts
  packages/graphql-server/src/resolvers/contacts/dataloader.ts
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/resolvers/keys/__stubs__/mock-key-movement.ts
  packages/graphql-server/src/resolvers/keys/__stubs__/mock-key.ts
  packages/graphql-server/src/resolvers/keys/__stubs__/mock-keys.ts
  packages/graphql-server/src/resolvers/keys/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/keys/__tests__/resolvers.test.ts
  packages/graphql-server/src/resolvers/keys/__tests__/services.test.ts
  packages/graphql-server/src/resolvers/keys/api.ts
  packages/graphql-server/src/resolvers/keys/keys.d.ts
  packages/graphql-server/src/resolvers/keys/resolvers.ts
  packages/graphql-server/src/resolvers/keys/services.ts
  packages/graphql-server/src/resolvers/keys/types.graphql
  packages/graphql-server/src/resolvers/properties/types.graphql
  packages/graphql-server/src/schema.graphql
  packages/graphql-server/src/utils/handle.context.ts
  packages/graphql-server/src/utils/server.data.loader.ts
  yarn.lock
Labels: graphql-server

#5072 feat: #5059 rate limiting
  .yarn/cache/axios-mock-adapter-npm-1.20.0-eea91951c8-949a01ace5.zip
  .yarn/cache/axios-retry-npm-3.1.9-d2b6840272-1e6a4df308.zip
  .yarn/cache/is-blob-npm-2.1.0-9aa6e9b797-29f1e31a61.zip
  packages/graphql-server/package.json
  packages/graphql-server/serverless.yml
  packages/graphql-server/src/utils/__tests__/axios-instances.test.ts
  packages/graphql-server/src/utils/axios-instances.ts
  yarn.lock
Labels: graphql-server

#5071 feat: #5048 #4971 #5049 text changes
  packages/developer-portal/src/components/pages/desktop/__styles__/styles.tsx
  packages/developer-portal/src/components/pages/desktop/desktop.tsx
  packages/developer-portal/src/components/ui/menu.tsx
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/marketplace/src/components/pages/apps/apps.tsx
Labels: marketplace, developer-portal

#5055 fix: various app-builder issues
  .yarn/cache/graphql-npm-15.5.2-6c332f93a5-cc76d066ca.zip
  Dockerfile
  packages/app-builder-backend/cdk/components/api.ts
  packages/app-builder-backend/cdk/components/function.ts
  packages/app-builder-backend/cdk/stack.ts
  packages/app-builder-backend/package.json
  packages/app-builder-backend/src/eject/index.ts
  packages/app-builder-backend/src/eject/route.ts
  packages/app-builder-backend/src/eject/templates/app.ts
  packages/app-builder-backend/src/eject/templates/format.ts
  packages/app-builder-backend/src/index.ts
  packages/app-builder-backend/src/lambda.ts
  packages/app-builder-backend/src/resolvers/app-resolver.ts
  packages/app-builder/src/components/hooks/apps/use-eject-app.ts
  packages/app-builder/src/components/pages/app-select.tsx
  packages/app-builder/src/components/ui/user/ejectable/link.tsx
  packages/app-builder/src/components/ui/user/ejectable/table.tsx
  packages/app-builder/src/components/ui/user/form.tsx
  packages/app-builder/src/components/ui/user/link.tsx
  packages/app-builder/src/components/ui/user/table.tsx
  packages/app-builder/src/core/config.ts
  yarn.lock
Labels: app-builder

#5102 chore: #5060 elements documentation
  packages/app-builder-backend/package.json
  packages/deployment-service-ui/src/components/pages/pipelines/show.tsx
  packages/developer-portal/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/developer-portal/src/components/pages/desktop/__tests__/__snapshots__/desktop.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhook-ping-form.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-about.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-edit-controls.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-logs.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-manage-form.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-manage.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-new-customers.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-new-topics.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-new.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/webhook-ping-form.test.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/webhooks-edit-controls.test.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/webhooks-manage-form.test.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/webhooks-new-topics.test.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/webhooks-new.test.tsx
  packages/developer-portal/src/components/pages/webhooks/webhook-ping-form.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-edit-controls.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-logs.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-manage-form.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-manage.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-new-customers.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-new-topics.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-new.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/elements/src/components/button/__styles__/index.ts
  packages/elements/src/components/button/__tests__/__snapshots__/button.test.tsx.snap
  packages/elements/src/components/button/__tests__/button.test.tsx
  packages/elements/src/components/button/button.tsx
  packages/elements/src/components/grid/__tests__/__snapshots__/grid-responsive.test.tsx.snap
  packages/elements/src/components/grid/__tests__/grid-responsive.test.tsx
  packages/elements/src/components/multi-select/__tests__/__snapshots__/multi-select.test.tsx.snap
  packages/elements/src/components/multi-select/__tests__/multi-select.test.tsx
  packages/elements/src/components/multi-select/multi-select.stories.mdx
  packages/elements/src/components/multi-select/multi-select.tsx
  packages/elements/src/components/nav/__tests__/__snapshots__/nav-responsive.test.tsx.snap
  packages/elements/src/components/nav/__tests__/nav-responsive.test.tsx
  packages/elements/src/components/table/__styles__/index.ts
  packages/elements/src/components/table/__tests__/__snapshots__/molecules.test.tsx.snap
  packages/elements/src/components/table/__tests__/__snapshots__/table.test.tsx.snap
  packages/elements/src/components/table/__tests__/molecules.test.tsx
  packages/elements/src/components/table/__tests__/table.test.tsx
  packages/elements/src/components/table/molecules.tsx
  packages/elements/src/components/table/table.stories.mdx
  packages/elements/src/components/table/table.tsx
  packages/elements/src/components/toggle/__styles__/index.ts
  packages/elements/src/storybook/changelog.stories.mdx
  packages/elements/src/storybook/random-id.ts
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/components/ui/appointment-time/__tests__/__snapshots__/appointment-time.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-time/appointment-time.tsx
Labels: elements, geo-diary, developer-portal, deployment-service-ui

#5109 fix: #4688 #5065 #5082 various fixes
  packages/elements/src/components/layout/__styles__/index.ts
  packages/geo-diary-marketing/src/components/availability-slide.svelte
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/coming-soon.test.tsx.snap
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
Labels: marketplace, elements

#5116 fix: #5111 adds insights fix
  packages/insights/src/components/pages/home.tsx
Labels: insights
