Repository reapit/foundations, pull requests merged in 2021-11, with the labels that each got.

#5344 fix: authentication animation
  packages/app-builder/src/tests/badges/badge-functions.svg
  packages/app-builder/src/tests/badges/badge-lines.svg
  packages/app-builder/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/developer-portal/src/components/pages/register/__tests__/__snapshots__/register.test.tsx.snap
  packages/utils-react/src/key-animation/__styles__/key-animation.ts
  packages/utils-react/src/key-animation/__tests__/__snapshots__/key-animation.test.tsx.snap
  packages/utils-react/src/key-animation/key-animation.tsx
  packages/utils-react/src/tests/badges/badge-lines.svg
  packages/utils-react/src/tests/badges/badge-statements.svg
Labels: developer-portal

#5352 feat: migration script
  .yarn/cache/@aws-cdk-assets-npm-1.128.0-7137825351-91be176f82.zip
  .yarn/cache/@aws-cdk-aws-applicationautoscaling-npm-1.128.0-6c0db67967-ec7377ca4a.zip
  .yarn/cache/@aws-cdk-aws-autoscaling-common-npm-1.128.0-b76e851a4f-f2bd51568d.zip
  .yarn/cache/@aws-cdk-aws-cloudformation-npm-1.128.0-45d2588c31-43ca264fe4.zip
  .yarn/cache/@aws-cdk-aws-cloudwatch-npm-1.128.0-8ac42f027d-2d504bba63.zip
  .yarn/cache/@aws-cdk-aws-codeguruprofiler-npm-1.128.0-735da38946-425f18c8c9.zip
  .yarn/cache/@aws-cdk-aws-codestarnotifications-npm-1.128.0-5ec39cf677-038484ea31.zip
  .yarn/cache/@aws-cdk-aws-ec2-npm-1.128.0-d9a8c14fed-cb24e8b610.zip
  .yarn/cache/@aws-cdk-aws-ecr-assets-npm-1.128.0-bcfe2debec-678659c4b8.zip
  .yarn/cache/@aws-cdk-aws-ecr-npm-1.128.0-ac2f720ced-2355fa8e2f.zip
  .yarn/cache/@aws-cdk-aws-efs-npm-1.128.0-793ef6bc00-8bce135ad9.zip
  .yarn/cache/@aws-cdk-aws-events-npm-1.128.0-4bb1ac3319-af3a51efe8.zip
  .yarn/cache/@aws-cdk-aws-iam-npm-1.128.0-70de23702a-1676f5f197.zip
  .yarn/cache/@aws-cdk-aws-kms-npm-1.128.0-2e0864e606-6ca6577d52.zip
  .yarn/cache/@aws-cdk-aws-lambda-npm-1.128.0-6853152077-afe0694dd6.zip
  .yarn/cache/@aws-cdk-aws-logs-npm-1.128.0-c2489e95d0-603a862843.zip
  .yarn/cache/@aws-cdk-aws-s3-assets-npm-1.128.0-c2253594c2-a2446b7968.zip
  .yarn/cache/@aws-cdk-aws-s3-npm-1.128.0-8274796f28-d368947de3.zip
  .yarn/cache/@aws-cdk-aws-signer-npm-1.128.0-bcacbae70d-82fb2369de.zip
  .yarn/cache/@aws-cdk-aws-sns-npm-1.128.0-4bff866a4f-729e1a05fc.zip
  .yarn/cache/@aws-cdk-aws-sqs-npm-1.128.0-9c62b04542-fdb6d99baf.zip
  .yarn/cache/@aws-cdk-aws-ssm-npm-1.128.0-8354f79229-bb3f5a2171.zip
  .yarn/cache/@aws-cdk-cloud-assembly-schema-npm-1.128.0-ccc2213c7d-2644ca0101.zip
  .yarn/cache/@aws-cdk-core-npm-1.128.0-3f7d50bb15-92c6b7c91c.zip
  .yarn/cache/@aws-cdk-custom-resources-npm-1.128.0-4503f3d582-0959bb279c.zip
  .yarn/cache/@aws-cdk-cx-api-npm-1.128.0-fe26124091-6a11c92c9f.zip
  .yarn/cache/@aws-cdk-region-info-npm-1.128.0-15afb1bb10-267f1d3ae2.zip
  packages/deployment-service/cdk/cdk.ts
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
  packages/deployment-service/cdk/lib/create-aurora.ts
  packages/deployment-service/cdk/lib/create-code-build.ts
  packages/deployment-service/cdk/lib/create-lambda.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/migrations/index.ts
  packages/deployment-service/package.json
  packages/deployment-service/src/config/db.ts
  packages/deployment-service/src/functions/index.ts
  packages/deployment-service/src/functions/migrationRun.ts
  yarn.lock
Labels: deployment-service

#5351 feat: #5345 mm app installs update
  packages/marketplace-management/src/components/ui/apps/__tests__/__snapshots__/app-card.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/__tests__/app-card.test.tsx
  packages/marketplace-management/src/components/ui/apps/__tests__/app-installation-manager.test.tsx
  packages/marketplace-management/src/components/ui/apps/app-card.tsx
  packages/marketplace-management/src/components/ui/apps/app-installation-manager.tsx
  packages/marketplace-management/src/components/ui/apps/app-uninstallation-section.tsx
  packages/marketplace-management/src/services/__tests__/installation.test.ts
  packages/marketplace-management/src/services/installation.ts
Labels: marketplace-management

#5353 fix: #5347 fixes analytics filter bug
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/__tests__/filter-form.test.tsx
  packages/developer-portal/src/components/pages/analytics/detailed/filter-bar/filter-form.tsx
Labels: developer-portal

#5349 feat: 4609 customisable forms
  packages/app-builder-backend/src/resolvers/key-resolver.ts
  packages/app-builder/src/components/hooks/apps/use-update-app.ts
  packages/app-builder/src/components/hooks/form-context.ts
  packages/app-builder/src/components/pages/home.tsx
  packages/app-builder/src/components/ui/render-node/index.tsx
  packages/app-builder/src/components/ui/toolbar/toolbar-item.tsx
  packages/app-builder/src/components/ui/user/ejectable/form-input.tsx
  packages/app-builder/src/components/ui/user/ejectable/form.tsx
  packages/app-builder/src/components/ui/user/form-input.tsx
  packages/app-builder/src/components/ui/user/form.tsx
  packages/elements/src/components/form-layout/form-layout.tsx
Labels: elements

#5362 fix: user pool id correction
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/src/functions/pipeline/pipeline-setup.ts
  packages/deployment-service/src/utils/resolve-customer.ts
Labels: deployment-service

#5417 fix: #5408 mm single org
  packages/marketplace-management/src/components/ui/offices/__tests__/__snapshots__/offices-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/offices/__tests__/office-group-create.test.tsx
  packages/marketplace-management/src/components/ui/offices/__tests__/office-group-edit-form.test.tsx
  packages/marketplace-management/src/components/ui/offices/office-group-create.tsx
  packages/marketplace-management/src/components/ui/offices/office-group-edit-form.tsx
  packages/marketplace-management/src/components/ui/offices/offices-groups-tab.tsx
  packages/marketplace-management/src/components/ui/offices/offices-tab.tsx
  packages/marketplace-management/src/types/organisations-schema.ts
  packages/marketplace-management/src/utils/use-org-id.tsx
Labels: marketplace-management

#5419 feat: #5330 helper widget
  packages/developer-portal/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/developer-portal/src/core/private-route-wrapper.tsx
  packages/utils-react/src/helper-widget/__styles__/index.ts
  packages/utils-react/src/helper-widget/__tests__/__snapshots__/helper-widget-content.test.tsx.snap
  packages/utils-react/src/helper-widget/__tests__/__snapshots__/helper-widget.test.tsx.snap
  packages/utils-react/src/helper-widget/__tests__/helper-widget-content.test.tsx
  packages/utils-react/src/helper-widget/__tests__/helper-widget.test.tsx
  packages/utils-react/src/helper-widget/assets/__tests__/__snapshots__/index.test.tsx.snap
  packages/utils-react/src/helper-widget/assets/__tests__/index.test.tsx
  packages/utils-react/src/helper-widget/assets/apps.tsx
  packages/utils-react/src/helper-widget/assets/chat.tsx
  packages/utils-react/src/helper-widget/assets/data-warehouse.tsx
  packages/utils-react/src/helper-widget/assets/desktop-api.tsx
  packages/utils-react/src/helper-widget/assets/docs.tsx
  packages/utils-react/src/helper-widget/assets/marketplace-management.tsx
  packages/utils-react/src/helper-widget/assets/power-bi.tsx
  packages/utils-react/src/helper-widget/assets/video.tsx
  packages/utils-react/src/helper-widget/assets/website-integration.tsx
  packages/utils-react/src/helper-widget/config.ts
  packages/utils-react/src/helper-widget/docs.tsx
  packages/utils-react/src/helper-widget/helper-widget-content.tsx
  packages/utils-react/src/helper-widget/helper-widget.tsx
  packages/utils-react/src/helper-widget/index.tsx
  packages/utils-react/src/helper-widget/videos.tsx
  packages/utils-react/src/index.ts
Labels: developer-portal

#5438 fix: #5430 fix mm user group bug
  packages/marketplace-management/src/components/ui/users/edit-user-group.tsx
Labels: marketplace-management

#5490 fix: deployment service deployment
  packages/deployment-service/cdk/cdk.ts
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-aurora.ts
  packages/deployment-service/cdk/lib/create-lambda.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/package.json
  packages/deployment-service/src/config/db.ts
  packages/deployment-service/src/utils/resolve-customer.ts
  yarn.lock
Labels: deployment-service

#5496 feat: probot auto reply action in only JS
  .github/workflows/auto-bot.yml
  .yarn/cache/@actions-core-npm-1.6.0-a2628c48cb-71533cc514.zip
  .yarn/cache/@actions-http-client-npm-1.0.11-f7fe88143c-ccd0ae6ce9.zip
  .yarn/cache/@cspotcode-source-map-consumer-npm-0.8.0-1f37e9e72b-fc32215a35.zip
  .yarn/cache/@cspotcode-source-map-support-npm-0.7.0-456c3ea2ce-3a00934184.zip
  .yarn/cache/@octokit-webhooks-methods-npm-2.0.0-b902c12ff9-b99e19cb07.zip
  .yarn/cache/@octokit-webhooks-npm-9.17.0-f54fc98f8e-90408f7428.zip
  .yarn/cache/@octokit-webhooks-types-npm-4.12.0-05bf3bd77a-e9060f5dca.zip
  .yarn/cache/@probot-adapter-aws-lambda-serverless-npm-2.1.0-0ddfbe45a1-2d9f466c96.zip
  .yarn/cache/@probot-adapter-github-actions-npm-3.0.1-00252f1704-86c6cb8822.zip
  .yarn/cache/@tsconfig-node16-npm-1.0.2-1f43ab567a-57310e8885.zip
  .yarn/cache/@types-aws-lambda-npm-8.10.85-f3e36b1c6e-c2cd0a8bb2.zip
  .yarn/cache/@zeit-ncc-npm-0.22.3-7fa2d32942-433ca215e1.zip
  .yarn/cache/acorn-import-assertions-npm-1.8.0-e9a9d57e27-02fc3a843e.zip
  .yarn/cache/acorn-walk-npm-8.2.0-2f2cac3177-93ffbdb8b3.zip
  .yarn/cache/enhanced-resolve-npm-5.8.3-24a728966e-71d33904bd.zip
  .yarn/cache/es-module-lexer-npm-0.9.3-ff6236dadb-e55280100e.zip
  .yarn/cache/glob-npm-7.2.0-bb4644d239-1171c3d7b1.zip
  .yarn/cache/probot-npm-12.1.1-ac1364b172-2fb027522c.zip
  .yarn/cache/serverless-webpack-npm-5.5.5-aba4e6a600-59a8f67d82.zip
  .yarn/cache/ts-node-npm-10.4.0-04cb6e2279-3c2797b6ca.zip
  .yarn/cache/webpack-npm-5.62.2-eb075b2a2b-478e746237.zip
  .yarn/cache/webpack-sources-npm-3.2.1-c2548b945d-629f5c9632.zip
  packages/auto-reply-bot/action.yml
  packages/auto-reply-bot/action/index.js
  packages/auto-reply-bot/action/static/primer.css
  packages/auto-reply-bot/action/static/probot-head.png
  packages/auto-reply-bot/action/static/robot.svg
  packages/auto-reply-bot/action/views/import.hbs
  packages/auto-reply-bot/action/views/probot.hbs
  packages/auto-reply-bot/action/views/setup.hbs
  packages/auto-reply-bot/action/views/success.hbs
  packages/auto-reply-bot/babel.config.js
  packages/auto-reply-bot/config.example.json
  packages/auto-reply-bot/package.json
  packages/auto-reply-bot/serverless.yml
  packages/auto-reply-bot/src/app.js
  packages/auto-reply-bot/src/index.js
  packages/auto-reply-bot/src/index.ts
  packages/auto-reply-bot/tsconfig.json
  packages/auto-reply-bot/webpack.config.js
  yarn.lock
Labels: infra

#5512 feat: #5343 elements review fixes
  packages/elements/package.json
  packages/elements/src/components/button/__styles__/index.ts
  packages/elements/src/components/button/button.stories.mdx
  packages/elements/src/components/button/button.tsx
  packages/elements/src/components/card/__styles__/index.ts
  packages/elements/src/components/card/card.stories.mdx
  packages/elements/src/components/input-group/__styles__/index.ts
  packages/elements/src/components/input/__styles__/index.ts
  packages/elements/src/components/modal/modal.stories.mdx
  packages/elements/src/components/nav/__tests__/__snapshots__/nav-responsive.test.tsx.snap
  packages/elements/src/components/nav/__tests__/nav-responsive.test.tsx
  packages/elements/src/components/nav/nav-responsive.tsx
  packages/elements/src/components/pagination/__styles__/index.ts
  packages/elements/src/components/searchable-dropdown/__styles__/index.ts
  packages/elements/src/components/searchable-dropdown/__tests__/__snapshots__/searchable-dropdown.test.tsx.snap
  packages/elements/src/components/searchable-dropdown/__tests__/searchable-dropdown.test.tsx
  packages/elements/src/components/searchable-dropdown/index.ts
  packages/elements/src/components/searchable-dropdown/searchable-dropdown.stories.mdx
  packages/elements/src/components/searchable-dropdown/searchable-dropdown.tsx
  packages/elements/src/components/select/__styles__/index.ts
  packages/elements/src/components/snack/snack.stories.mdx
  packages/elements/src/components/steps/steps.stories.mdx
  packages/elements/src/components/table/__styles__/index.ts
  packages/elements/src/components/table/table.stories.mdx
  packages/elements/src/components/textarea/__styles__/index.ts
  packages/elements/src/components/toggle/toggle.stories.mdx
  packages/elements/src/storybook/changelog.stories.mdx
  packages/elements/src/storybook/demo-block.tsx
Labels: elements

#5524 feat: #5367 app pipeline page
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/migrations/1637076778182-nullable-fields.ts
  packages/deployment-service/migrations/index.ts
  packages/deployment-service/src/entities/index.ts
  packages/deployment-service/src/functions/pipeline/pipeline-create.ts
  packages/developer-portal/src/components/pages/v8/__tests__/__snapshots__/app-content-v8.test.tsx.snap
  packages/developer-portal/src/components/pages/v8/__tests__/__snapshots__/app-detail-v8.test.tsx.snap
  packages/developer-portal/src/components/pages/v8/__tests__/__snapshots__/app-pipeline.test.tsx.snap
  packages/developer-portal/src/components/pages/v8/__tests__/__snapshots__/create-pipeline.test.tsx.snap
  packages/developer-portal/src/components/pages/v8/__tests__/app-content-v8.test.tsx
  packages/developer-portal/src/components/pages/v8/__tests__/app-detail-v8.test.tsx
  packages/developer-portal/src/components/pages/v8/__tests__/app-pipeline.test.tsx
  packages/developer-portal/src/components/pages/v8/__tests__/create-pipeline.test.tsx
  packages/developer-portal/src/components/pages/v8/app-content-v8.tsx
  packages/developer-portal/src/components/pages/v8/app-detail-v8.tsx
  packages/developer-portal/src/components/pages/v8/index.ts
  packages/developer-portal/src/components/pages/v8/pipeline/create-pipeline.tsx
  packages/developer-portal/src/components/pages/v8/pipeline/deployment-info.tsx
  packages/developer-portal/src/components/pages/v8/pipeline/index.tsx
  packages/developer-portal/src/constants/action-types.ts
  packages/developer-portal/src/constants/routes.ts
  packages/developer-portal/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/developer-portal/src/core/private-route-wrapper.tsx
  packages/developer-portal/src/core/router.tsx
  packages/developer-portal/src/services/constants.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/utils/route-dispatcher.ts
  packages/foundations-ts-definitions/deployment-schema/index.ts
  packages/marketplace-management/src/tests/badges/badge-branches.svg
  packages/marketplace-management/src/tests/badges/badge-functions.svg
  packages/marketplace-management/src/tests/badges/badge-lines.svg
  packages/marketplace-management/src/tests/badges/badge-statements.svg
  packages/utils-common/src/reapit-data/__tests__/get-fetcher.test.ts
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/get.ts
  packages/utils-common/src/reapit-data/actions/index.ts
  packages/utils-common/src/reapit-data/actions/update.ts
  packages/utils-common/src/reapit-data/get-fetcher.ts
  packages/utils-common/src/tests/badges/badge-branches.svg
  packages/utils-common/src/tests/badges/badge-functions.svg
  packages/utils-common/src/tests/badges/badge-lines.svg
  packages/utils-common/src/tests/badges/badge-statements.svg
  packages/utils-react/src/tests/badges/badge-branches.svg
  packages/utils-react/src/tests/badges/badge-functions.svg
  packages/utils-react/src/tests/badges/badge-lines.svg
  packages/utils-react/src/tests/badges/badge-statements.svg
  packages/utils-react/src/use-reapit-data/__tests__/use-reapit-get.test.ts
  packages/utils-react/src/use-reapit-data/__tests__/use-reapit-update.test.ts
  packages/utils-react/src/use-reapit-data/index.ts
  packages/utils-react/src/use-reapit-data/use-reapit-get.ts
  packages/utils-react/src/use-reapit-data/use-reapit-update.ts
Labels: developer-portal, marketplace-management, deployment-service

#5529 fix: freeze lock file
  .github/workflows/rollback-prod.yml
Labels: infra

#5531 fix: updated freeze tag
  .github/workflows/rollback-prod.yml
Labels: infra

#5532 fix: roll back immute
  .github/workflows/rollback-prod.yml
Labels: infra

#5553 fix: #5551 elements select fix
  packages/elements/package.json
  packages/elements/src/components/input/__styles__/index.ts
  packages/elements/src/components/select/__styles__/index.ts
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements

#5544 chore: #5464 updated coming soons
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
Labels: marketplace

#5545 fix: #5502 encode email address mm app
  packages/marketplace-management/src/services/user.ts
Labels: marketplace-management

#5560 fix: various app builder fixes
  packages/app-builder-backend/src/entities/property.ts
  packages/app-builder-backend/src/platform/apps.ts
  packages/app-builder-backend/src/resolvers/app-resolver.ts
  packages/app-builder/src/components/ui/user/ejectable/form.tsx
  packages/elements/src/components/searchable-dropdown/searchable-dropdown.tsx
  packages/graphql-server/src/resolvers/keys/api.ts
  packages/graphql-server/src/resolvers/keys/types.graphql
Labels: elements, graphql-server

#5567 fix: #5564 elements v2 release
  packages/cra-template-foundations/package.json
  packages/cra-template-foundations/template.json
  packages/elements-legacy/package.json
  packages/elements/package.json
  packages/elements/src/storybook/changelog.stories.mdx
  packages/elements/src/storybook/intro.stories.mdx
Labels: elements, cra-template-foundations

#5570 fix: #5549 ts definitions workflow test
  .github/workflows/definitions-update.yml
  packages/foundations-ts-definitions/scripts/handle-cronjob.js
Labels: infra

#5571 fix: #5549 workflow syntax error
  .github/workflows/definitions-update.yml
Labels: infra

#5572 fix: #5549 remove uses as already in scope
  .github/workflows/definitions-update.yml
Labels: infra

#5573 fix: #5549 attempts different syntax
  .github/workflows/definitions-update.yml
Labels: infra

#5574 fix: #5549 tries a different config
  .github/workflows/definitions-update.yml
Labels: infra

#5575 fix: #5549 revert to default token
  .github/workflows/definitions-update.yml
Labels: infra

#5580 fix: #5549 remove run on pr
  .github/workflows/definitions-update.yml
Labels: infra

#5547 refactor: update cli - resolve new funcs and remove dead ones
  packages/api-key-service/package.json
  packages/api-key-service/src/functions/create-api-key.ts
  packages/api-key-service/src/functions/delete-api-key.ts
  packages/api-key-service/src/functions/get-api-key.ts
  packages/api-key-service/src/functions/paginate.ts
  packages/api-key-service/src/functions/update-api-key.ts
  packages/cli/src/abstract.command.ts
  packages/cli/src/commands/pipeline/create.ts
  packages/cli/src/commands/pipeline/deploy.ts
  packages/cli/src/commands/pipeline/list.ts
  packages/cli/src/commands/release/deploy.ts
  packages/cli/src/commands/release/list.ts
  packages/cli/src/commands/release/version.ts
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/migrations/1637317204753-appId.ts
  packages/deployment-service/migrations/1637591977282-cliRefactor.ts
  packages/deployment-service/migrations/index.ts
  packages/deployment-service/src/config/db.ts
  packages/deployment-service/src/dto/pipeline-dto.ts
  packages/deployment-service/src/entities/index.ts
  packages/deployment-service/src/executables/deploy-from-store.ts
  packages/deployment-service/src/executables/deploy-to-live.ts
  packages/deployment-service/src/executables/release-to-live.ts
  packages/deployment-service/src/functions/pipeline/codebuild-deploy.ts
  packages/deployment-service/src/functions/pipeline/pipeline-create.ts
  packages/deployment-service/src/functions/pipeline/pipeline-get.ts
  packages/deployment-service/src/functions/pipeline/pipeline-paginate.ts
  packages/deployment-service/src/functions/release/deploy-release.ts
  packages/deployment-service/src/functions/release/deploy-version.ts
  packages/deployment-service/src/functions/release/index.ts
  packages/deployment-service/src/functions/release/project-paginate.ts
  packages/deployment-service/src/functions/release/release-paginate.ts
  packages/deployment-service/src/functions/release/release.ts
  packages/deployment-service/src/services/pipeline-runner.ts
  packages/deployment-service/src/services/pipeline.ts
  packages/deployment-service/src/services/release.ts
  packages/deployment-service/src/utils/recurse-dir.ts
  packages/deployment-service/src/utils/resolve-developer-id.ts
  packages/developer-portal/src/components/pages/v8/__tests__/create-pipeline.test.tsx
  packages/developer-portal/src/components/pages/v8/pipeline/create-pipeline.tsx
  packages/foundations-ts-definitions/deployment-schema/index.ts
Labels: developer-portal, api-key-service, deployment-service, cli

#5592 feat: #5515 mobile UI
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-controls.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/webhooks-controls.test.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-controls.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks.tsx
  packages/insights/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/insights/src/components/pages/home.tsx
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/marketplace-app.test.tsx.snap
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/marketplace.test.tsx.snap
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/offices.test.tsx.snap
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/users.test.tsx.snap
  packages/marketplace-management/src/components/pages/marketplace-app.tsx
  packages/marketplace-management/src/components/pages/marketplace.tsx
  packages/marketplace-management/src/components/ui/nav/__tests__/__snapshots__/nav.test.tsx.snap
  packages/marketplace-management/src/components/ui/nav/nav.tsx
  packages/marketplace-management/src/components/ui/offices/__tests__/__snapshots__/offices-groups-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/offices/__tests__/__snapshots__/offices-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/offices/offices-groups-tab.tsx
  packages/marketplace-management/src/components/ui/offices/offices-tab.tsx
  packages/marketplace-management/src/components/ui/users/__tests_/__snapshots__/user-groups-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/users/__tests_/__snapshots__/users-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/users/user-groups-tab.tsx
  packages/marketplace-management/src/components/ui/users/users-tab.tsx
Labels: developer-portal, marketplace-management, insights

#5600 feat: #5515 mobile UI
  packages/developer-portal/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/apps.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-manage.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/webhooks-logs.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-manage.tsx
  packages/developer-portal/src/components/ui/menu.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/elements/package.json
  packages/elements/src/components/tabs/__styles__/index.ts
  packages/elements/src/storybook/changelog.stories.mdx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/insights/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/insights/src/components/pages/home.tsx
  packages/insights/src/tests/badges/badge-branches.svg
  packages/insights/src/tests/badges/badge-functions.svg
  packages/insights/src/tests/badges/badge-lines.svg
  packages/insights/src/tests/badges/badge-statements.svg
  packages/marketplace-management/src/components/hocs/__tests__/__snapshots__/org-id-select.test.tsx.snap
  packages/marketplace-management/src/components/hocs/org-id-select.tsx
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/marketplace-app.test.tsx.snap
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/marketplace.test.tsx.snap
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/offices.test.tsx.snap
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/users.test.tsx.snap
  packages/marketplace-management/src/components/ui/offices/offices-groups-tab.tsx
  packages/marketplace-management/src/tests/badges/badge-branches.svg
  packages/marketplace-management/src/tests/badges/badge-lines.svg
  packages/marketplace-management/src/tests/badges/badge-statements.svg
  packages/marketplace-management/src/utils/use-org-id.tsx
Labels: elements, developer-portal, marketplace-management, insights

#5602 fix: marketplace management endpoint
  packages/developer-portal/src/components/pages/v8/pipeline/create-pipeline.tsx
  packages/developer-portal/src/components/pages/v8/pipeline/index.tsx
  packages/graphql-server/src/__tests__/index.test.ts
  packages/marketplace-management/src/components/pages/marketplace.tsx
  packages/marketplace-management/src/tests/badges/badge-statements.svg
  packages/utils-common/src/reapit-data/__tests__/get-fetcher.test.ts
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/get.ts
  packages/utils-common/src/reapit-data/actions/index.ts
  packages/utils-common/src/reapit-data/actions/update.ts
  packages/utils-common/src/reapit-data/get-fetcher.ts
  packages/utils-common/src/tests/badges/badge-functions.svg
  packages/utils-common/src/tests/badges/badge-statements.svg
  packages/utils-react/src/tests/badges/badge-functions.svg
  packages/utils-react/src/tests/badges/badge-lines.svg
  packages/utils-react/src/tests/badges/badge-statements.svg
  packages/utils-react/src/use-reapit-data/__tests__/use-reapit-get.test.ts
  packages/utils-react/src/use-reapit-data/__tests__/use-reapit-update.test.ts
  packages/utils-react/src/use-reapit-data/use-reapit-get.ts
  packages/utils-react/src/use-reapit-data/use-reapit-update.ts
Labels: graphql-server, developer-portal, marketplace-management

#5603 feat: cli improvements
  packages/cli/src/commands/pipeline/deploy.ts
  packages/cli/src/commands/pipeline/index.ts
  packages/cli/src/commands/pipeline/link.ts
  packages/cli/src/commands/release/deploy.ts
  packages/deployment-service/src/entities/index.ts
  packages/deployment-service/src/functions/release/deploy-release.ts
  packages/developer-portal/src/components/pages/v8/__tests__/__snapshots__/app-content-v8.test.tsx.snap
  packages/developer-portal/src/components/pages/v8/app-content-v8.tsx
  packages/developer-portal/src/components/pages/v8/pipeline/deployment-info.tsx
  packages/foundations-ts-definitions/deployment-schema/index.ts
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/get.ts
Labels: developer-portal, deployment-service, cli

#5606 refactor: moved bump version to after successful deploy
  packages/cli/src/commands/release/deploy.ts
Labels: cli

#5610 feat: #5535 adds product selector for app edit page
  packages/developer-portal/src/components/pages/app-detail-preview/client/__tests__/__snapshots__/aside.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/app-aside.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/__tests__/__snapshots__/app-status.section.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/app-revision-modal/__tests__/__snapshots__/app-revision-modal.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/app-revision-modal/app-revision-comparison/__tests__/__snapshots__/app-revision-comparison.test.tsx.snap
  packages/developer-portal/src/components/pages/app-detail/app-revision-modal/app-revision-comparison/app-revision-comparison.tsx
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/reapit-products-section.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/developer-edit-app.test.tsx
  packages/developer-portal/src/components/pages/edit-app/__tests__/reapit-products-section.test.tsx
  packages/developer-portal/src/components/pages/edit-app/developer-edit-app.tsx
  packages/developer-portal/src/components/pages/edit-app/form-schema/form-fields.ts
  packages/developer-portal/src/components/pages/edit-app/form-schema/validation-schema.ts
  packages/developer-portal/src/components/pages/edit-app/reapit-products-section.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-manage.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/webhooks-logs.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-manage.tsx
  packages/developer-portal/src/components/ui/menu.tsx
  packages/developer-portal/src/sagas/__stubs__/app-detail.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/get.ts
Labels: developer-portal

#5614 feat: #5536 swagger dropdown
  packages/developer-portal/src/components/pages/swagger/swagger.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/elements/package.json
  packages/elements/src/storybook/changelog.stories.mdx
  packages/elements/src/styles/spacing.ts
Labels: elements, developer-portal
