Repository reapit/foundations, pull requests merged in 2021-05, with the labels that each got.

#4081 feat: #2633 elv3 table
  packages/elements/jest.config.js
  packages/elements/src/components-v3/InputGroup/index.tsx
  packages/elements/src/components-v3/Modal/modal.stories.mdx
  packages/elements/src/components-v3/Table/__styles__/index.tsx
  packages/elements/src/components-v3/Table/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components-v3/Table/__tests__/index.tsx
  packages/elements/src/components-v3/Table/index.tsx
  packages/elements/src/components-v3/Table/molecule.table.stories.mdx
  packages/elements/src/components-v3/Table/molecule.tableCell.stories.mdx
  packages/elements/src/components-v3/Table/molecule.tableExpandableRow.stories.mdx
  packages/elements/src/components-v3/Table/molecule.tableExpandableRowTriggerCell.stories.mdx
  packages/elements/src/components-v3/Table/molecule.tableHeader.stories.mdx
  packages/elements/src/components-v3/Table/molecule.tableHeadersRow.stories.mdx
  packages/elements/src/components-v3/Table/molecule.tableRow.stories.mdx
  packages/elements/src/components-v3/Table/molecules.tsx
  packages/elements/src/components-v3/Table/table.stories.mdx
  packages/elements/src/styles-v3/base/variables.ts
Labels: elements

#4099 chore: #3915 small refactor to introduce a PaymentProvider abstraction
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payment-external.test.tsx.snap
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payment-internal.test.tsx.snap
  packages/payments-client/src/components/pages/__tests__/payment-external.test.tsx
  packages/payments-client/src/components/pages/__tests__/payment-internal.test.tsx
  packages/payments-client/src/components/pages/payment-external.tsx
  packages/payments-client/src/components/pages/payment-internal.tsx
  packages/payments-client/src/components/ui/__tests__/payment-form.test.tsx
  packages/payments-client/src/components/ui/payment-form.tsx
  packages/payments-client/src/components/ui/payment-handlers.ts
  packages/payments-client/src/components/ui/payment-page-content.tsx
  packages/payments-client/src/services/providers.ts
  packages/payments-client/src/tests/badges/badge-functions.svg
  packages/payments-client/src/tests/badges/badge-lines.svg
Labels: payments-client

#4125 fix: #4117 fix payment cache issue
  packages/payments-client/src/components/pages/payment-external.tsx
  packages/payments-client/src/components/pages/payment-internal.tsx
  packages/payments-client/src/components/ui/payment-handlers.ts
  packages/payments-client/src/tests/badges/badge-lines.svg
  packages/payments-client/src/tests/badges/badge-statements.svg
Labels: payments-client

#4135 fix: #4117 fix payment cache issue
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payment-external.test.tsx.snap
  packages/payments-client/src/components/pages/__tests__/__snapshots__/payment-internal.test.tsx.snap
  packages/payments-client/src/components/pages/payment-external.tsx
  packages/payments-client/src/components/pages/payment-internal.tsx
  packages/payments-client/src/components/ui/__tests__/__snapshots__/payment-form.test.tsx.snap
  packages/payments-client/src/components/ui/__tests__/payment-form.test.tsx
  packages/payments-client/src/components/ui/__tests__/payment-handlers.test.ts
  packages/payments-client/src/components/ui/payment-form.tsx
  packages/payments-client/src/components/ui/payment-handlers.ts
  packages/payments-client/src/components/ui/payment-page-content.tsx
  packages/payments-client/src/components/ui/payment-request-modal.tsx
  packages/payments-client/src/tests/badges/badge-branches.svg
  packages/payments-client/src/tests/badges/badge-statements.svg
Labels: payments-client

#4147 feat: #4140 restrict access to data warehouse
  packages/marketplace/config.example.json
  packages/marketplace/src/core/index.tsx
  packages/marketplace/src/sagas/apps/apps.ts
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/marketplace/src/types/global.d.ts
  packages/marketplace/src/utils/__tests__/browse-app.ts
  packages/marketplace/src/utils/browse-app.ts
Labels: marketplace

#4146 chore: update type schemas
  packages/graphql-server/src/resolvers/contacts/types.graphql
  packages/graphql-server/src/resolvers/identity-checks/types.graphql
  packages/graphql-server/src/resolvers/properties/types.graphql
  packages/graphql-server/src/resolvers/tenancies/types.graphql
  packages/graphql-server/src/resolvers/vendors/types.graphql
  packages/graphql-server/src/schema.graphql
Labels: graphql-server, refactor

#4150 refactor: graphql resolver error wrapper
  packages/graphql-server/src/resolvers/applicants/applicants.d.ts
  packages/graphql-server/src/resolvers/applicants/resolvers.ts
  packages/graphql-server/src/resolvers/appointments/appointments.d.ts
  packages/graphql-server/src/resolvers/appointments/resolvers.ts
  packages/graphql-server/src/resolvers/areas/areas.d.ts
  packages/graphql-server/src/resolvers/areas/resolvers.ts
  packages/graphql-server/src/resolvers/companies/companies.d.ts
  packages/graphql-server/src/resolvers/companies/resolvers.ts
  packages/graphql-server/src/resolvers/configurations/configurations.d.ts
  packages/graphql-server/src/resolvers/configurations/resolver.ts
  packages/graphql-server/src/resolvers/contacts/contacts.d.ts
  packages/graphql-server/src/resolvers/contacts/resolvers.ts
  packages/graphql-server/src/resolvers/conveyancing/conveyancing.d.ts
  packages/graphql-server/src/resolvers/conveyancing/resolvers.ts
  packages/graphql-server/src/resolvers/departments/departments.d.ts
  packages/graphql-server/src/resolvers/departments/resolvers.ts
  packages/graphql-server/src/resolvers/documents/documents.d.ts
  packages/graphql-server/src/resolvers/documents/resolvers.ts
  packages/graphql-server/src/resolvers/enquiries/enquiries.d.ts
  packages/graphql-server/src/resolvers/enquiries/resolvers.ts
  packages/graphql-server/src/resolvers/identity-checks/identity-checks.d.ts
  packages/graphql-server/src/resolvers/identity-checks/resolvers.ts
  packages/graphql-server/src/resolvers/journal-entries/journal-entries.ts
  packages/graphql-server/src/resolvers/journal-entries/resolvers.ts
  packages/graphql-server/src/resolvers/landlords/landlords.d.ts
  packages/graphql-server/src/resolvers/landlords/resolvers.ts
  packages/graphql-server/src/resolvers/negotiators/negotiators.d.ts
  packages/graphql-server/src/resolvers/negotiators/resolvers.ts
  packages/graphql-server/src/resolvers/offers/offers.d.ts
  packages/graphql-server/src/resolvers/offers/resolvers.ts
  packages/graphql-server/src/resolvers/offices/offices.d.ts
  packages/graphql-server/src/resolvers/offices/resolvers.ts
  packages/graphql-server/src/resolvers/properties/properties.d.ts
  packages/graphql-server/src/resolvers/properties/resolvers.ts
  packages/graphql-server/src/resolvers/propertyImages/propertyImages.d.ts
  packages/graphql-server/src/resolvers/propertyImages/resolvers.ts
  packages/graphql-server/src/resolvers/sources/resolvers.ts
  packages/graphql-server/src/resolvers/sources/sources.d.ts
  packages/graphql-server/src/resolvers/tasks/resolvers.ts
  packages/graphql-server/src/resolvers/tasks/tasks.d.ts
  packages/graphql-server/src/resolvers/tenancies/resolvers.ts
  packages/graphql-server/src/resolvers/tenancies/tenancies.d.ts
  packages/graphql-server/src/resolvers/vendors/resolvers.ts
  packages/graphql-server/src/resolvers/vendors/vendors.d.ts
  packages/graphql-server/src/resolvers/works-orders/resolvers.ts
  packages/graphql-server/src/resolvers/works-orders/works-orders.d.ts
  packages/graphql-server/src/utils/format.error.ts
  packages/graphql-server/src/utils/index.ts
  packages/graphql-server/src/utils/resolver.handler.ts
Labels: graphql-server, refactor

#4196 fix: mm app hotfix
  packages/marketplace-management/src/components/ui/apps/__tests__/__snapshots__/app-office-ids.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/__tests__/app-office-ids.test.tsx
  packages/marketplace-management/src/components/ui/apps/app-installation-per-office-group.tsx
  packages/marketplace-management/src/components/ui/apps/app-office-ids-cell.tsx
  packages/marketplace-management/src/tests/badges/badge-branches.svg
  packages/marketplace-management/src/tests/badges/badge-lines.svg
  packages/marketplace-management/src/tests/badges/badge-statements.svg
Labels: marketplace-management

#4208 fix: #4200 mm app hotfixes
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/marketplace-app.test.tsx.snap
  packages/marketplace-management/src/components/pages/marketplace-app.tsx
  packages/marketplace-management/src/components/ui/apps/__tests__/__snapshots__/app-toggle-visibility-section.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/__tests__/app-toggle-visibility-section.test.tsx
  packages/marketplace-management/src/components/ui/apps/app-toggle-visibility-section.tsx
  packages/marketplace-management/src/core/__styles__/styles.ts
  packages/marketplace-management/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/marketplace-management/src/core/private-route-wrapper.tsx
  packages/marketplace-management/src/tests/badges/badge-branches.svg
  packages/marketplace-management/src/tests/badges/badge-lines.svg
  packages/marketplace-management/src/tests/badges/badge-statements.svg
Labels: marketplace-management

#4233 feat: #4131 improves manifests and adds sw for all web apps
  packages/admin-portal/public/logo.png
  packages/admin-portal/public/logo.svg
  packages/admin-portal/src/core/app.tsx
  packages/admin-portal/webpack.config.js
  packages/aml-checklist/public/config.example.json
  packages/aml-checklist/public/logo.png
  packages/aml-checklist/public/logo.svg
  packages/aml-checklist/src/styles/index.scss
  packages/aml-checklist/webpack.config.js
  packages/data-warehouse/public/logo.png
  packages/data-warehouse/public/logo.svg
  packages/data-warehouse/src/styles/index.css
  packages/data-warehouse/webpack.config.js
  packages/developer-portal/public/logo.png
  packages/developer-portal/public/logo.svg
  packages/developer-portal/src/core/app.tsx
  packages/developer-portal/webpack.config.js
  packages/elements/src/components-v3/Input/__styles__/index.tsx
  packages/elements/src/styles-v3/base/variables.ts
  packages/geo-diary/manifest.json
  packages/geo-diary/public/logo.png
  packages/geo-diary/public/logo.svg
  packages/geo-diary/src/core/__styles__/index.ts
  packages/geo-diary/webpack.config.js
  packages/insights/public/logo.png
  packages/insights/public/logo.svg
  packages/insights/src/styles/index.css
  packages/insights/webpack.config.js
  packages/marketplace-management/public/logo.png
  packages/marketplace-management/public/logo.svg
  packages/marketplace-management/src/styles/index.css
  packages/marketplace-management/webpack.config.js
  packages/marketplace/public/logo.png
  packages/marketplace/public/logo.svg
  packages/marketplace/src/core/__styles__/index.ts
  packages/marketplace/webpack.config.js
  packages/payments-client/public/logo.png
  packages/payments-client/public/logo.svg
  packages/payments-client/src/styles/index.css
  packages/payments-client/webpack.config.js
  packages/reapit-connect/public/logo.png
  packages/reapit-connect/public/logo.svg
  packages/reapit-connect/webpack.config.js
  packages/ts-scripts/src/webpack/constants.js
  packages/ts-scripts/src/webpack/webpack.config.dev.js
  packages/ts-scripts/src/webpack/webpack.config.prod.js
Labels: admin-portal, aml-checklist, data-warehouse, developer-portal, elements, geo-diary, insights, marketplace, marketplace-management, payments-client, reapit-connect, ts-scripts
