Repository reapit/foundations, pull requests merged in 2021-07, with the labels that each got.

#4513 fix: corrected button chevron with both applied
  packages/elements/src/components/button/__styles__/index.ts
Labels: elements

#4519 fix: corrected tablet grid span
  packages/elements/src/components/grid/__styles__/index.ts
Labels: elements

#4576 feat: #4566 adds viewing arrangements to geo diary
  packages/geo-diary/src/components/pages/appointment/__mocks__/appointments-query.ts
  packages/geo-diary/src/components/pages/appointment/__tests__/__snapshots__/appointment.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-list/__tests__/__snapshots__/appointment-list.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-tile/__tests__/__snapshots__/appointment-items.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-tile/__tests__/__snapshots__/appointment-tile.test.tsx.snap
  packages/geo-diary/src/components/ui/cancel-confirm-modal/__tests__/__snapshots__/index.test.tsx.snap
  packages/geo-diary/src/components/ui/contact-drawer/__tests__/__snapshots__/property-drawer.test.tsx.snap
  packages/geo-diary/src/graphql/__mocks__/appointment.ts
  packages/geo-diary/src/graphql/fragments/property-model.graphql
  packages/geo-diary/src/tests/badges/badge-branches.svg
Labels: geo-diary

#4575 fix: #4568 #4530 updates coming soons and fixes line height bug
  packages/developer-portal/src/components/ui/apps/app-card/__styles__/app-card.ts
  packages/developer-portal/src/components/ui/apps/app-card/__tests__/__snapshots__/app-card.test.tsx.snap
  packages/developer-portal/src/components/ui/apps/app-card/app-card.tsx
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
  packages/marketplace/src/components/pages/installed-apps/__tests__/__snapshots__/installed-app-card.test.tsx.snap
  packages/marketplace/src/components/ui/app-card/__styles__/index.ts
  packages/marketplace/src/components/ui/app-card/__tests__/__snapshots__/app-card.tsx.snap
  packages/marketplace/src/components/ui/app-card/__tests__/app-card.tsx
  packages/marketplace/src/components/ui/app-card/app-card.tsx
  packages/marketplace/src/components/ui/app-list/__tests__/__snapshots__/app-list.tsx.snap
  packages/marketplace/src/components/ui/app-list/app-list.tsx
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
Labels: developer-portal, marketplace

#4584 feat: #4534 re-orders rc landing page
  packages/reapit-connect/src/components/pages/welcome/__tests__/welcome.test.tsx
  packages/reapit-connect/src/components/pages/welcome/welcome.tsx
  packages/reapit-connect/src/constants/urls.ts
  packages/reapit-connect/src/tests/badges/badge-branches.svg
  packages/reapit-connect/src/tests/badges/badge-lines.svg
  packages/reapit-connect/src/tests/badges/badge-statements.svg
Labels: reapit-connect

#4610 fix: corrected paths in serverless
  packages/deployment-service/serverless.yml
  packages/deployment-service/src/functions/pipeline/pipeline-delete.ts
  packages/deployment-service/src/functions/pipeline/pipeline-runner-get.ts
  packages/deployment-service/src/functions/pipeline/pipeline-update.ts
Labels: bug, deployment-service

#4619 fix: corrected path parameter name
  packages/deployment-service/src/functions/pipeline/pipeline-get.ts
Labels: bug, deployment-service

#4617 chore: updated deployment url
  packages/cli/src/abstract.command.ts
Labels: cli

#4616 docs: added docs for deployment service
  packages/deployment-service/README.md
Labels: deployment-service, documentation

#4625 feat: #4109 upgrade swagger ui for React 17 compat
  .yarn/cache/@babel-runtime-corejs3-npm-7.14.7-e37a4fee49-38684c1b03.zip
  .yarn/cache/@braintree-sanitize-url-npm-5.0.0-c57b49ea4e-7a06b43faf.zip
  .yarn/cache/@braintree-sanitize-url-npm-5.0.2-ef365f598a-16a022d29d.zip
  .yarn/cache/@types-react-npm-16.4.6-a47b0ea657-fc6fdad35e.zip
  .yarn/cache/classnames-npm-2.3.1-f2ae0a8d3c-57d536eded.zip
  .yarn/cache/core-js-npm-1.2.7-88c984873f-845cd9fe57.zip
  .yarn/cache/core-js-pure-npm-3.15.2-2b9d54bed0-098de70a85.zip
  .yarn/cache/create-react-class-npm-15.6.3-ae38dfa180-d71a513045.zip
  .yarn/cache/cross-fetch-npm-3.1.4-45e4517cba-47b33bc773.zip
  .yarn/cache/dompurify-npm-2.2.6-2ef52db318-dfc77c2c60.zip
  .yarn/cache/dompurify-npm-2.3.0-52ba48d450-e0d4066771.zip
  .yarn/cache/fbjs-npm-0.8.17-9a02cb2222-fa37e4dfa8.zip
  .yarn/cache/isomorphic-fetch-npm-2.2.1-46b4db5d7b-a4174e332a.zip
  .yarn/cache/node-fetch-npm-1.7.3-eb8372f991-d04afb2e32.zip
  .yarn/cache/react-immutable-pure-component-npm-1.2.3-26cfbe4b9b-9b020f4a19.zip
  .yarn/cache/react-immutable-pure-component-npm-2.2.2-b93c5ed830-aff94194d3.zip
  .yarn/cache/react-inspector-npm-2.3.1-ae59b61771-e75d933a80.zip
  .yarn/cache/react-redux-npm-4.4.10-aedb389e36-506cc35773.zip
  .yarn/cache/redux-immutable-npm-3.1.0-1470821b66-4a7a86f627.zip
  .yarn/cache/redux-immutable-npm-4.0.0-15a88f2c94-8cf7c303cd.zip
  .yarn/cache/redux-npm-3.7.2-0f79fccafa-3adb067232.zip
  .yarn/cache/serialize-error-npm-2.1.0-51bc0e0932-3aab305b2e.zip
  .yarn/cache/serialize-error-npm-8.1.0-a3c5bcc96c-b22c9db390.zip
  .yarn/cache/swagger-client-npm-3.13.1-7a2d9270f5-2ec919c0f7.zip
  .yarn/cache/swagger-client-npm-3.13.7-4870a883ac-4e00989d5c.zip
  .yarn/cache/swagger-ui-react-npm-3.44.0-6df6b92cfc-4530dea68b.zip
  .yarn/cache/swagger-ui-react-npm-4.0.0-beta.0-ff43f540e6-79d5a45aca.zip
  .yarn/cache/ua-parser-js-npm-0.7.21-b6acc81503-5bd2d949e2.zip
  packages/developer-portal/package.json
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  yarn.lock
Labels: developer-portal

#4633 feat: #4614 adds elements v3 persistent notification inline styles
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/app-builder/src/tests/badges/badge-functions.svg
  packages/app-builder/src/tests/badges/badge-lines.svg
  packages/app-builder/src/tests/badges/badge-statements.svg
  packages/data-warehouse/src/tests/badges/badge-branches.svg
  packages/data-warehouse/src/tests/badges/badge-functions.svg
  packages/data-warehouse/src/tests/badges/badge-lines.svg
  packages/data-warehouse/src/tests/badges/badge-statements.svg
  packages/deployment-service-ui/src/tests/badges/badge-branches.svg
  packages/deployment-service-ui/src/tests/badges/badge-functions.svg
  packages/deployment-service-ui/src/tests/badges/badge-lines.svg
  packages/deployment-service-ui/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/components/pages/api-docs/api-docs.tsx
  packages/developer-portal/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/apps.tsx
  packages/developer-portal/src/components/pages/elements/index.tsx
  packages/developer-portal/src/components/pages/graphql/index.tsx
  packages/developer-portal/src/components/pages/swagger/swagger.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/webhooks.tsx
  packages/elements/package.json
  packages/elements/src/components/persistant-notification/__styles__/index.ts
  packages/elements/src/components/persistant-notification/__tests__/__snapshots__/persistent-notification.test.tsx.snap
  packages/elements/src/components/persistant-notification/__tests__/persistent-notification.test.tsx
  packages/elements/src/components/persistant-notification/persistant-notification.stories.mdx
  packages/elements/src/components/persistant-notification/persistent-notification.tsx
  packages/elements/src/storybook/changelog.stories.mdx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/components/ui/appointment-list/__tests__/__snapshots__/appointment-list.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-list/appointment-list.tsx
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/insights/src/tests/badges/badge-branches.svg
  packages/insights/src/tests/badges/badge-functions.svg
  packages/insights/src/tests/badges/badge-lines.svg
  packages/insights/src/tests/badges/badge-statements.svg
  packages/payments-client/src/tests/badges/badge-branches.svg
  packages/payments-client/src/tests/badges/badge-functions.svg
  packages/payments-client/src/tests/badges/badge-lines.svg
  packages/payments-client/src/tests/badges/badge-statements.svg
  packages/reapit-connect/src/tests/badges/badge-branches.svg
  packages/reapit-connect/src/tests/badges/badge-lines.svg
  packages/reapit-connect/src/tests/badges/badge-statements.svg
Labels: admin-portal, aml-checklist, data-warehouse, developer-portal, elements, geo-diary, insights, payments-client, reapit-connect

#4644 fix: #4641 fixes malformed serverless templates
  packages/api-docs-lamda/serverless.yml
  packages/api-key-service/serverless.yml
  packages/config-service/serverless.yml
  packages/deployment-service/serverless.yml
  packages/events-service/serverless.yml
  packages/mailer-service/serverless.yml
  packages/payments-service/serverless.yml
Labels: api-key-service, deployment-service, mailer-service, payments-service

#4645 feat: #4269 update de pricing
  packages/developer-portal/src/components/pages/desktop/__styles__/styles.tsx
  packages/developer-portal/src/components/pages/desktop/desktop.tsx
Labels: developer-portal

#4647 feat: #4597 coming soon july
  packages/marketplace/src/assets/images/coming-soon/Acaboom.jpeg
  packages/marketplace/src/assets/images/coming-soon/AgentPoint.png
  packages/marketplace/src/assets/images/coming-soon/CannellSigns.png
  packages/marketplace/src/assets/images/coming-soon/HelpTheMove.png
  packages/marketplace/src/assets/images/coming-soon/HumTech.png
  packages/marketplace/src/assets/images/coming-soon/IAmMoving.png
  packages/marketplace/src/assets/images/coming-soon/LawFirmServices.png
  packages/marketplace/src/assets/images/coming-soon/USeeHomes.png
  packages/marketplace/src/assets/images/coming-soon/Viewber.png
  packages/marketplace/src/assets/images/coming-soon/What3Words.png
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
Labels: marketplace

#4649 fix: #4646 rendering docs links bug
  packages/developer-portal/src/core/private-route-wrapper.tsx
Labels: developer-portal

#4657 feat: #4596 adds appointment seed data workflow
  .github/workflows/seed-data.yml
  packages/seed-data-workflow/.eslintrc.js
  packages/seed-data-workflow/README.md
  packages/seed-data-workflow/package.json
  packages/seed-data-workflow/src/constants.ts
  packages/seed-data-workflow/src/entities/appointments-create.ts
  packages/seed-data-workflow/src/entities/appointments-get.ts
  packages/seed-data-workflow/src/index.ts
  packages/seed-data-workflow/tsconfig.json
  yarn.lock
Labels: infra

#4660 fix: #4596 #4646 release dev from origin head, fix seed workflow
  .github/workflows/release-dev.yml
  packages/seed-data-workflow/tsconfig.json
Labels: infra

#4662 feat: #4271 revert release dev
  .github/workflows/release-dev.yml
Labels: infra

#4666 feat: #4654 hide apps button demo
  packages/aml-checklist/src/components/ui/menu.tsx
  packages/aml-checklist/src/constants/demo-storage.ts
  packages/aml-checklist/src/core/index.tsx
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/components/pages/appointment/appointment.tsx
  packages/geo-diary/src/components/ui/contact-drawer/aml-check-row.tsx
  packages/geo-diary/src/components/ui/nav/nav.tsx
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/utils/demo-auth.ts
  packages/utils/index.ts
  packages/utils/src/demo/__tests__/is-demo.test.ts
  packages/utils/src/demo/is-demo.ts
Labels: aml-checklist, geo-diary, utils
