Repository reapit/foundations, pull requests merged in 2022-12, with the labels that each got.

#8211 feat: #8209 xmas logos
  packages/developer-portal/src/components/apps/pipeline/pipeline-environment.tsx
  packages/developer-portal/src/core/menu.tsx
  packages/marketplace/src/assets/images/xmas-logos/Week1.png
  packages/marketplace/src/assets/images/xmas-logos/Week2.png
  packages/marketplace/src/assets/images/xmas-logos/Week3.png
  packages/marketplace/src/assets/images/xmas-logos/Week4.png
  packages/marketplace/src/components/nav/__tests__/__snapshots__/nav.test.tsx.snap
  packages/marketplace/src/components/nav/nav.tsx
Labels: marketplace, developer-portal

#8218 fix: #8022 dev portal internal redirect bug
  packages/developer-portal/src/core/private-route-wrapper.tsx
Labels: developer-portal

#8225 feat: #8187 installations metadata
  packages/foundations-ts-definitions/types/marketplace-schema.ts
  packages/foundations-ts-definitions/types/platform-schema.ts
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/marketplace-app.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/__tests__/__snapshots__/app-referrals-confirm.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/__tests__/__snapshots__/app-referrals-display.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/__tests__/app-installation-manager.test.tsx
  packages/marketplace-management/src/components/ui/apps/__tests__/app-referrals-confirm.test.tsx
  packages/marketplace-management/src/components/ui/apps/__tests__/app-referrals-display.test.tsx
  packages/marketplace-management/src/components/ui/apps/app-installation-confirmation-modal.tsx
  packages/marketplace-management/src/components/ui/apps/app-installation-manager.tsx
  packages/marketplace-management/src/components/ui/apps/app-referrals-confirm.tsx
  packages/marketplace-management/src/components/ui/apps/app-referrals-display.tsx
  packages/marketplace-management/src/components/ui/apps/app-uninstallation-section.tsx
  packages/marketplace-management/src/services/__stubs__/apps.ts
  packages/marketplace-management/src/services/__stubs__/installations.ts
  packages/marketplace-management/src/services/__stubs__/referral-types.ts
  packages/marketplace-management/src/services/installation.ts
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/get.ts
Labels: marketplace-management, foundations-ts-definitions, utils-common

#8243 feat: #8187 tweaks to referrals
  packages/marketplace-management/src/components/ui/apps/__tests__/__snapshots__/app-installation-confirmation-modal.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/__tests__/__snapshots__/app-referrals-confirm.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/__tests__/__snapshots__/app-referrals-display.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/__tests__/app-referrals-display.test.tsx
  packages/marketplace-management/src/components/ui/apps/app-installation-confirmation-modal.tsx
  packages/marketplace-management/src/components/ui/apps/app-referrals-confirm.tsx
  packages/marketplace-management/src/components/ui/apps/app-referrals-display.tsx
Labels: marketplace-management

#8275 chore: update-connect-session-readme
  packages/connect-session/README.md
Labels: connect-session
