Repository reapit/foundations, pull requests merged in 2022-07, with the labels that each got.

#7205 chore: #6771 june housekeeping sonar cloud
  packages/app-builder-backend/src/index.ts
  packages/config-service/src/core/server.ts
  packages/create-node-app-generator/app/templates/express/src/app.ts
  packages/data-warehouse/src/components/pages/analytics/analytics-handlers.ts
  packages/events-service/src/core/server.ts
  packages/mailer-service/src/core/server.ts
  packages/marketplace/src/components/pages/handle-legacy-routes/__tests__/handle-legacy-admin-routes-modal.tsx
  packages/marketplace/src/components/pages/handle-legacy-routes/__tests__/handle-legacy-developer-routes-modal.tsx
  packages/marketplace/src/components/pages/handle-legacy-routes/handle-legacy-admin-routes-modal.tsx
  packages/marketplace/src/components/pages/handle-legacy-routes/handle-legacy-developer-routes-modal.tsx
  packages/payments-service/src/core/server.ts
Labels: marketplace, data-warehouse, mailer-service, payments-service, events-service, app-builder-backend

#7211 fix: #7192 adds download dev edition route
  packages/developer-portal/src/components/desktop/__tests__/__snapshots__/developer-edition-download.test.tsx.snap
  packages/developer-portal/src/components/desktop/__tests__/developer-edition-download.test.tsx
  packages/developer-portal/src/components/desktop/developer-edition-download.tsx
  packages/developer-portal/src/constants/routes.ts
  packages/developer-portal/src/core/router.tsx
Labels: developer-portal

#7218 feat: more app builder refinements
  .yarn/cache/@types-debounce-npm-1.2.1-ffb7eca3e7-bea6d414ac.zip
  packages/app-builder/package.json
  packages/app-builder/src/components/hooks/apps/use-update-app.ts
  packages/app-builder/src/components/hooks/use-page-id.ts
  packages/app-builder/src/components/pages/app-select.tsx
  packages/app-builder/src/components/pages/home.tsx
  packages/app-builder/src/components/ui/header/PageSelector.tsx
  packages/app-builder/src/components/ui/viewport/__tests__/viewport.test.tsx
  packages/app-builder/src/components/ui/viewport/index.tsx
  yarn.lock
Labels: app-builder, dependencies, app-market

#7236 feat: #7235 searchable multi select
  packages/utils-react/src/index.ts
  packages/utils-react/src/searchable-multi-select/__tests__/__snapshots__/index.test.tsx.snap
  packages/utils-react/src/searchable-multi-select/__tests__/index.test.tsx
  packages/utils-react/src/searchable-multi-select/index.tsx
Labels: utils-react

#7257 feat: fix navbar race
  packages/app-builder/src/components/hooks/apps/use-update-app.ts
Labels: app-builder, app-market

#7293 feat: #7225 installation behaviour done
  packages/app-market/src/components/apps-browse/__tests__/__snapshots__/featured-hero-apps.test.tsx.snap
  packages/app-market/src/components/apps-browse/__tests__/__snapshots__/hero-apps.test.tsx.snap
  packages/app-market/src/components/apps-detail/__styles__/index.ts
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/app-install-modal.test.tsx.snap
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/app-install-success-modal.test.tsx.snap
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/apps-detail.test.tsx.snap
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/index.test.tsx.snap
  packages/app-market/src/components/apps-detail/__tests__/app-install-modal.test.tsx
  packages/app-market/src/components/apps-detail/__tests__/app-install-success-modal.test.tsx
  packages/app-market/src/components/apps-detail/__tests__/apps-detail.test.tsx
  packages/app-market/src/components/apps-detail/app-install-modal.tsx
  packages/app-market/src/components/apps-detail/app-install-success-modal.tsx
  packages/app-market/src/components/apps-detail/apps-detail.tsx
  packages/app-market/src/components/apps-installed/apps-installed.tsx
  packages/app-market/src/components/settings/__styles__/index.ts
  packages/app-market/src/components/settings/__tests__/__snapshots__/index.test.tsx.snap
  packages/app-market/src/components/settings/__tests__/__snapshots__/settings-installed.test.tsx.snap
  packages/app-market/src/components/settings/__tests__/__snapshots__/settings-profile.test.tsx.snap
  packages/app-market/src/components/settings/__tests__/index.test.tsx
  packages/app-market/src/components/settings/__tests__/settings-installed.test.tsx
  packages/app-market/src/components/settings/__tests__/settings-profile.test.tsx
  packages/app-market/src/components/settings/index.tsx
  packages/app-market/src/components/settings/settings-installed.tsx
  packages/app-market/src/components/settings/settings-profile.tsx
  packages/app-market/src/components/settings/validation-schema.ts
  packages/app-market/src/services/cognito-identity.ts
  packages/app-market/src/tests/__stubs__/apps.ts
  packages/app-market/src/tests/__stubs__/installations.ts
  packages/app-market/src/utils/__tests__/auth.test.ts
  packages/app-market/src/utils/auth.ts
  packages/app-market/src/utils/yup.ts
  packages/utils-common/src/reapit-data/actions/update.ts
Labels: utils-common

#7297 fix: added app-marketplace-admin to condition to remove stage
  .github/workflows/release-prod.yml
Labels: infra

#7315 feat: #7305 app marketplace admin UI improvements
  packages/app-marketplace-admin/src/components/apps-market-manager/__tests__/__snapshots__/app-browse-manage-table.test.tsx.snap
  packages/app-marketplace-admin/src/components/apps-market-manager/__tests__/__snapshots__/app-browse-upsert-modal.test.tsx.snap
  packages/app-marketplace-admin/src/components/apps-market-manager/__tests__/__snapshots__/app-browse-upsert.test.tsx.snap
  packages/app-marketplace-admin/src/components/apps-market-manager/__tests__/app-browse-upsert-modal.test.tsx
  packages/app-marketplace-admin/src/components/apps-market-manager/app-browse-manage-table.tsx
  packages/app-marketplace-admin/src/components/apps-market-manager/app-browse-upsert-modal.tsx
  packages/app-marketplace-admin/src/components/apps-market-manager/app-browse-upsert.tsx
  packages/app-marketplace-admin/src/components/apps-market-manager/app-browse.styles.ts
  packages/app-marketplace-admin/src/utils/navigation.ts
  packages/developer-portal/src/components/apps/page/submit-review-modal.tsx
  packages/developer-portal/src/components/settings/profile/profile-form.tsx
  packages/ts-scripts/src/cdk/components/site.ts
  packages/utils-react/src/use-reapit-data/use-reapit-update.ts
Labels: developer-portal, ts-scripts, utils-react

#7312 feat: #7226 app market support page
  packages/app-market/src/components/apps-support/__tests__/__snapshots__/apps-support-item.test.tsx.snap
  packages/app-market/src/components/apps-support/__tests__/__snapshots__/index.test.tsx.snap
  packages/app-market/src/components/apps-support/__tests__/apps-support-item.test.tsx
  packages/app-market/src/components/apps-support/__tests__/index.test.tsx
  packages/app-market/src/components/apps-support/apps-support-item.tsx
  packages/app-market/src/components/apps-support/index.tsx
  packages/app-market/src/components/nav/__tests__/__snapshots__/nav.test.tsx.snap
  packages/app-market/src/components/nav/__tests__/nav.test.tsx
  packages/app-market/src/components/nav/nav.tsx
  packages/app-market/src/constants/routes.ts
  packages/app-market/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/app-market/src/core/router.tsx
  packages/app-marketplace-admin/src/components/apps-market-manager/__tests__/__snapshots__/app-browse-upsert-modal.test.tsx.snap
  packages/elements/assets/infographic-icons/codeInfographic.svg
  packages/elements/assets/infographic-icons/listInfographic.svg
  packages/elements/assets/infographic-icons/mailInfographic.svg
  packages/elements/assets/infographic-icons/phoneInfographic.svg
  packages/elements/assets/infographic-icons/shieldInfographic.svg
  packages/elements/assets/infographic-icons/webInfographic.svg
  packages/elements/assets/menu-icons/supportMenu.svg
  packages/elements/src/components/icon/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/icon/icon.stories.mdx
  packages/elements/src/components/icon/icons/index.ts
  packages/elements/src/components/icon/icons/infographic-icons/codeInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/listInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/mailInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/phoneInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/shieldInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/webInfographic.tsx
  packages/elements/src/components/icon/icons/menu-icons/supportMenu.tsx
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements

#7344 fix: #7313 fix payment service error
  packages/payments-service/src/controllers/__tests__/get-payment.test.ts
  packages/payments-service/src/controllers/get-payment.ts
Labels: payments-service

#7345 fix: #7313 further fix to payments service headers
  packages/payments-service/src/controllers/__tests__/get-payment.test.ts
  packages/payments-service/src/controllers/get-payment.ts
Labels: payments-service

#7355 fix: #7313 include mailer in whitelist
  packages/payments-service/src/controllers/get-payment.ts
Labels: payments-service

#7356 [Snyk] Upgrade @reapit/elements from 3.8.5 to 3.8.6
  packages/geo-diary-marketing/package.json
Labels: geo-diary-marketing

#7360 fix: #7313 final fixes for payments
  packages/mailer-service/serverless.yml
  packages/mailer-service/src/controllers/create-payment-receipt-external.ts
  packages/payments-client/src/components/pages/payment/__tests__/__snapshots__/payment-external.test.tsx.snap
  packages/payments-client/src/components/pages/payment/__tests__/payment-external.test.tsx
  packages/payments-client/src/components/pages/payment/payment-external.tsx
  packages/payments-client/src/services/payment.ts
  packages/payments-service/src/controllers/get-payment.ts
Labels: payments-client, mailer-service, payments-service

#7365 chore: sonar cloud reduce
  packages/admin-portal/src/actions/app-detail.ts
  packages/admin-portal/src/actions/customers.ts
  packages/admin-portal/src/actions/devs-management.ts
  packages/admin-portal/src/components/pages/api-keys/api-key-table.tsx
  packages/admin-portal/src/components/pages/approvals/approvals.tsx
  packages/admin-portal/src/components/pages/apps-management/check-aws-button.tsx
  packages/admin-portal/src/components/pages/billing/__tests__/billing.test.tsx
  packages/admin-portal/src/components/pages/billing/billing.tsx
  packages/admin-portal/src/components/pages/devs-management/devs-management.tsx
  packages/admin-portal/src/components/pages/devs-management/set-status-modal/status-modal.tsx
  packages/admin-portal/src/components/ui/app-delete/__tests__/app-delete.tsx
  packages/admin-portal/src/components/ui/app-delete/app-delete.tsx
  packages/admin-portal/src/components/ui/app-revision-comparison/app-revision-comparison.tsx
  packages/admin-portal/src/components/ui/consents/__tests__/index.test.tsx
  packages/admin-portal/src/components/ui/disable-member-modal.tsx
  packages/admin-portal/src/components/ui/set-as-admin-modal.tsx
  packages/admin-portal/src/core/router.tsx
  packages/admin-portal/src/reducers/apps/revisions.ts
  packages/admin-portal/src/reducers/customers/list.ts
  packages/admin-portal/src/sagas/apps/__stubs__/integration-types.ts
  packages/admin-portal/src/sagas/customers/__stubs__/customers-list.ts
  packages/admin-portal/src/sagas/developers/devs-management.ts
  packages/admin-portal/src/selector/__tests__/admin.ts
  packages/admin-portal/src/services/approvals.ts
  packages/admin-portal/src/services/apps.ts
  packages/admin-portal/src/services/customers.ts
  packages/admin-portal/src/services/desktop-integration-types.ts
  packages/admin-portal/src/services/developers.ts
  packages/admin-portal/src/services/installations.ts
  packages/admin-portal/src/services/scopes.ts
  packages/admin-portal/src/services/subscriptions.ts
  packages/admin-portal/src/services/webhooks.ts
  packages/admin-portal/src/types/desktop-integration-types.d.ts
  packages/admin-portal/src/utils/__tests__/actions.ts
  packages/admin-portal/src/utils/__tests__/mock-helper.ts
  packages/admin-portal/src/utils/__tests__/statistics.ts
  packages/admin-portal/src/utils/route-dispatcher.ts
  packages/admin-portal/src/utils/validate.ts
  packages/aml-checklist/src/components/pages/checklist-detail.tsx
  packages/developer-portal/src/utils/validate.ts
  packages/elements/jest.config.js
  packages/elements/package.json
  packages/elements/src/components/nav/nav-responsive.tsx
  packages/elements/src/components/searchable-dropdown/searchable-dropdown.tsx
  packages/elements/src/components/table/table.tsx
  packages/elements/src/hooks/use-snack/index.tsx
  packages/elements/src/hooks/use-theme/index.tsx
  packages/marketplace/src/utils/validate.ts
  packages/utils-common/src/constants/regexs.ts
  packages/utils-common/src/validators/index.ts
  yarn.lock
Labels: marketplace, elements, aml-checklist, admin-portal, developer-portal, utils-common

#7368 chore: remove unused files
  packages/admin-portal/src/utils/__tests__/validate.ts
  packages/admin-portal/src/utils/validate.ts
  packages/developer-portal/src/utils/__tests__/validate.test.ts
  packages/developer-portal/src/utils/validate.ts
  packages/marketplace/src/utils/__tests__/validate.ts
  packages/marketplace/src/utils/validate.ts
Labels: marketplace, admin-portal, developer-portal

#7301 fix: #7266 test fix all entities
  .yarn/cache/caniuse-lite-npm-1.0.30001303-170ddd75cd-fe77fb680c.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001344-6316905cb5-9dba66f796.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001373-2250b6de69-cd2f027e2f.zip
  packages/app-builder-backend/src/ddb.ts
  packages/app-builder-backend/src/entities/app.ts
  packages/app-builder-backend/src/entities/applicant.ts
  packages/app-builder-backend/src/entities/appointments.ts
  packages/app-builder-backend/src/entities/company.ts
  packages/app-builder-backend/src/entities/contact.ts
  packages/app-builder-backend/src/entities/department.ts
  packages/app-builder-backend/src/entities/key-type.ts
  packages/app-builder-backend/src/entities/key.ts
  packages/app-builder-backend/src/entities/negotiator.ts
  packages/app-builder-backend/src/entities/offer.ts
  packages/app-builder-backend/src/entities/office.ts
  packages/app-builder-backend/src/entities/property.ts
  packages/app-builder-backend/src/get-schema.ts
  packages/app-builder-backend/src/resolvers/abstract-crud-resolver.ts
  packages/app-builder-backend/src/resolvers/app-resolver.ts
  packages/app-builder-backend/src/resolvers/applicant-resolver.ts
  packages/app-builder-backend/src/resolvers/appointment-resolver.ts
  packages/app-builder-backend/src/resolvers/company-resolver.ts
  packages/app-builder-backend/src/resolvers/contact-resolver.ts
  packages/app-builder-backend/src/resolvers/department-resolver.ts
  packages/app-builder-backend/src/resolvers/negotiator-resolver.ts
  packages/app-builder-backend/src/resolvers/offer-resolver.ts
  packages/app-builder-backend/src/resolvers/offices-resolver.ts
  packages/app-builder-backend/src/resolvers/property-resolver.ts
  packages/app-builder/src/components/hooks/apps/node-helpers.ts
  packages/app-builder/src/components/hooks/apps/use-app.ts
  packages/app-builder/src/components/hooks/form-context.ts
  packages/app-builder/src/components/hooks/objects/use-object-search.ts
  packages/app-builder/src/components/hooks/use-introspection/__tests__/__snapshots__/parse-introspection.test.ts.snap
  packages/app-builder/src/components/hooks/use-introspection/index.ts
  packages/app-builder/src/components/hooks/use-introspection/query-generators.ts
  packages/app-builder/src/components/hooks/use-page-id.ts
  packages/app-builder/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/app-builder/src/components/pages/app-select.tsx
  packages/app-builder/src/components/pages/app-view.tsx
  packages/app-builder/src/components/ui/__tests__/__snapshots__/sidebar.tsx.snap
  packages/app-builder/src/components/ui/__tests__/__snapshots__/toolbox.tsx.snap
  packages/app-builder/src/components/ui/toolbox.tsx
  packages/app-builder/src/components/ui/user/create-page.tsx
  packages/app-builder/src/components/ui/user/ejectable/__tests__/__snapshots__/link.test.tsx.snap
  packages/app-builder/src/components/ui/user/ejectable/form-input.tsx
  packages/app-builder/src/components/ui/user/ejectable/form.tsx
  packages/app-builder/src/components/ui/user/form.tsx
  packages/app-builder/src/components/ui/viewport/__tests__/__snapshots__/viewport.test.tsx.snap
  packages/app-builder/src/core/graphql-client.tsx
  packages/app-builder/src/core/router.tsx
  packages/graphql-server/src/resolvers/applicants/types.graphql
  packages/graphql-server/src/resolvers/appointments/types.graphql
  packages/graphql-server/src/resolvers/offers/types.graphql
  packages/graphql-server/src/resolvers/properties/types.graphql
  packages/graphql-server/src/schema.graphql
  yarn.lock
Labels: graphql-server, app-builder, dependencies, app-builder-backend, app-market
