Repository reapit/foundations, pull requests merged in 2022-01, with the labels that each got.

#5710 [WIP] feat: deployment pusher impelementation
  .yarn/cache/@harelpls-use-pusher-npm-7.2.1-4bba0161d5-3684a6e084.zip
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/developer-portal/package.json
  packages/developer-portal/src/components/pages/v8/__tests__/__snapshots__/app-content-v8.test.tsx.snap
  packages/developer-portal/src/components/pages/v8/__tests__/__snapshots__/app-pipeline.test.tsx.snap
  packages/developer-portal/src/components/pages/v8/__tests__/__snapshots__/deployment-info.test.tsx.snap
  packages/developer-portal/src/components/pages/v8/__tests__/__snapshots__/pipeline-info.test.tsx.snap
  packages/developer-portal/src/components/pages/v8/__tests__/__snapshots__/pipeline-runner-table.test.tsx.snap
  packages/developer-portal/src/components/pages/v8/__tests__/app-content-v8.test.tsx
  packages/developer-portal/src/components/pages/v8/__tests__/deployment-info.test.tsx
  packages/developer-portal/src/components/pages/v8/__tests__/pipeline-info.test.tsx
  packages/developer-portal/src/components/pages/v8/__tests__/pipeline-runner-table.test.tsx
  packages/developer-portal/src/components/pages/v8/pipeline/deployment-info.tsx
  packages/developer-portal/src/components/pages/v8/pipeline/index.tsx
  packages/developer-portal/src/components/pages/v8/pipeline/pipeline-info-wrapper.tsx
  packages/developer-portal/src/components/pages/v8/pipeline/pipeline-info.tsx
  packages/developer-portal/src/components/pages/v8/pipeline/pipeline-runner-table.tsx
  packages/developer-portal/src/constants/api.ts
  packages/developer-portal/src/core/index.tsx
  packages/developer-portal/src/types/global.d.ts
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/update.ts
  packages/utils-node/src/tests/badges/badge-functions.svg
  packages/utils-node/src/tests/badges/badge-lines.svg
  packages/utils-node/src/tests/badges/badge-statements.svg
  packages/utils-react/src/tests/badges/badge-branches.svg
  packages/utils-react/src/tests/badges/badge-lines.svg
  packages/utils-react/src/tests/badges/badge-statements.svg
  packages/utils-react/src/use-reapit-data/__tests__/use-reapit-update.test.ts
  packages/utils-react/src/use-reapit-data/use-reapit-update.ts
  yarn.lock
Labels: developer-portal, deployment-service

#5748 feat: updated deployment url for cli
  packages/cli/src/abstract.command.ts
Labels: cli

#5780 fix: app builder local dev
  packages/app-builder-backend/src/ddb.ts
  packages/app-builder/package.json
  packages/app-builder/src/components/ui/render-node/index.tsx
Labels: app-builder

#5776 fix: use random id for searchable dropdown item key
  packages/elements/package.json
  packages/elements/src/components/searchable-dropdown/__tests__/__snapshots__/searchable-dropdown.test.tsx.snap
  packages/elements/src/components/searchable-dropdown/searchable-dropdown.stories.mdx
  packages/elements/src/components/searchable-dropdown/searchable-dropdown.tsx
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements

#5794 fix: #5773 mm app fix
  packages/marketplace-management/src/components/pages/marketplace.tsx
  packages/marketplace-management/src/components/ui/apps/__tests__/app-card.test.tsx
  packages/marketplace-management/src/components/ui/apps/app-card.tsx
  packages/marketplace-management/src/tests/badges/badge-branches.svg
  packages/marketplace-management/src/tests/badges/badge-statements.svg
Labels: marketplace-management

#5749 feat: added release command to cli
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/commands/pipeline/create.ts
  packages/cli/src/commands/release/list.ts
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-lambda.ts
  packages/deployment-service/cdk/lib/create-sqs.ts
  packages/deployment-service/src/constants.ts
  packages/deployment-service/src/executables/release-to-live.ts
  packages/deployment-service/src/functions/pipeline/codebuild-deploy.ts
  packages/deployment-service/src/functions/pipeline/codebuild-executor.ts
  packages/deployment-service/src/functions/pipeline/codebuild-pipeline-updater.ts
  packages/deployment-service/src/functions/pipeline/pipeline-runner-create.ts
  packages/deployment-service/src/functions/pipeline/pipeline-setup.ts
  packages/deployment-service/src/functions/release/deploy-release.ts
  yarn.lock
Labels: deployment-service, cli

#5809 fix: #5807 storybook rendering bug
  packages/elements/package.json
  packages/elements/src/components/searchable-dropdown/searchable-dropdown.stories.mdx
  packages/elements/src/storybook/changelog.stories.mdx
  packages/elements/src/storybook/render-html-markup.tsx
Labels: elements

#5808 feat: cli env config
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/abstract.command.ts
  packages/cli/src/commands/pipeline/deploy-local.ts
  packages/cli/src/commands/release/list.ts
  packages/cli/src/utils/config.ts
  packages/cli/src/utils/resolveArgs.ts
Labels: cli

#5813 feat: added more description to readme
  packages/cli/README.md
Labels: cli

#5841 feat: key details in geo diary
  packages/elements/src/components/tool-tip/__styles__/index.ts
  packages/elements/src/components/tool-tip/__tests__/__snapshots__/tool-tip.test.tsx.snap
  packages/elements/src/components/tool-tip/__tests__/tool-tip.test.tsx
  packages/elements/src/components/tool-tip/index.tsx
  packages/elements/src/components/tool-tip/tool-tip-story-component.tsx
  packages/elements/src/components/tool-tip/tooltip.stories.mdx
  packages/elements/src/index.ts
  packages/geo-diary/src/components/pages/appointment/__tests__/__snapshots__/appointment.test.tsx.snap
  packages/geo-diary/src/components/ui/contact-drawer/property-drawer.tsx
  packages/geo-diary/src/graphql/fragments/property-model.graphql
  packages/geo-diary/src/types/global.d.ts
Labels: elements, geo-diary

#5862 fix: added cors headers by default
  packages/ts-scripts/src/cdk/components/api-gateway-api.ts
  packages/ts-scripts/src/cdk/components/stack-event-handler.ts
Labels: ts-scripts

#5865 feat: #5801 cra updates
  packages/cra-template-foundations/package.json
  packages/cra-template-foundations/template.json
  packages/cra-template-foundations/template/.eslintrc.js
  packages/cra-template-foundations/template/.prettierrc.js
  packages/cra-template-foundations/template/config-overrides.js
  packages/cra-template-foundations/template/gitignore
  packages/cra-template-foundations/template/src/assets/images/login-graphic.svg
  packages/cra-template-foundations/template/src/assets/images/login/step-1.svg
  packages/cra-template-foundations/template/src/assets/images/login/step-2.svg
  packages/cra-template-foundations/template/src/components/hocs/__tests__/error-boundary.test.tsx
  packages/cra-template-foundations/template/src/components/hocs/__tests__/error-boundary.tsx
  packages/cra-template-foundations/template/src/components/hocs/error-boundary.tsx
  packages/cra-template-foundations/template/src/components/pages/__styles__/styles.ts
  packages/cra-template-foundations/template/src/components/pages/__tests__/authenticated.test.tsx
  packages/cra-template-foundations/template/src/components/pages/__tests__/data-page.test.tsx
  packages/cra-template-foundations/template/src/components/pages/__tests__/examples-page.test.tsx
  packages/cra-template-foundations/template/src/components/pages/__tests__/home-page.test.tsx
  packages/cra-template-foundations/template/src/components/pages/__tests__/login-page.test.tsx
  packages/cra-template-foundations/template/src/components/pages/authenticated.tsx
  packages/cra-template-foundations/template/src/components/pages/data-page.tsx
  packages/cra-template-foundations/template/src/components/pages/examples-page.tsx
  packages/cra-template-foundations/template/src/components/pages/home-page.tsx
  packages/cra-template-foundations/template/src/components/pages/login-page.tsx
  packages/cra-template-foundations/template/src/components/pages/login.tsx
  packages/cra-template-foundations/template/src/components/ui/__tests__/__snapshots__/nav.tsx.snap
  packages/cra-template-foundations/template/src/components/ui/__tests__/nav.tsx
  packages/cra-template-foundations/template/src/components/ui/examples/__tests__/form-example.test.tsx
  packages/cra-template-foundations/template/src/components/ui/examples/__tests__/list-example.test.tsx
  packages/cra-template-foundations/template/src/components/ui/examples/__tests__/table-example.test.tsx
  packages/cra-template-foundations/template/src/components/ui/examples/form-example.tsx
  packages/cra-template-foundations/template/src/components/ui/examples/list-example.tsx
  packages/cra-template-foundations/template/src/components/ui/examples/table-example.tsx
  packages/cra-template-foundations/template/src/components/ui/nav.tsx
  packages/cra-template-foundations/template/src/components/ui/nav/__tests__/nav.test.tsx
  packages/cra-template-foundations/template/src/components/ui/nav/nav.tsx
  packages/cra-template-foundations/template/src/constants/routes.ts
  packages/cra-template-foundations/template/src/core/__tests__/app.test.tsx
  packages/cra-template-foundations/template/src/core/__tests__/private-route-wrapper.test.tsx
  packages/cra-template-foundations/template/src/core/__tests__/router.test.tsx
  packages/cra-template-foundations/template/src/core/app.tsx
  packages/cra-template-foundations/template/src/core/private-route-wrapper.tsx
  packages/cra-template-foundations/template/src/core/router.tsx
  packages/cra-template-foundations/template/src/index.tsx
  packages/cra-template-foundations/template/src/platform-api/__tests__/configuration-api.test.ts
  packages/cra-template-foundations/template/src/platform-api/configuration-api.ts
  packages/cra-template-foundations/template/src/setup-tests.js
  packages/cra-template-foundations/template/src/utils/__tests__/navigation.test.tsx
  packages/cra-template-foundations/template/src/utils/navigation.ts
  packages/cra-template-foundations/template/tsconfig.json
Labels: cra-template-foundations

#5874 refactor: remove auth from gateway options method
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/graphql-server/cdk-stack.ts
  packages/ts-scripts/src/cdk/components/api-gateway-api.ts
Labels: graphql-server, ts-scripts, deployment-service

#5860 feat: added default value to searchable dropdown
  packages/elements/package.json
  packages/elements/src/components/searchable-dropdown/__tests__/__snapshots__/searchable-dropdown.test.tsx.snap
  packages/elements/src/components/searchable-dropdown/__tests__/searchable-dropdown.test.tsx
  packages/elements/src/components/searchable-dropdown/searchable-dropdown.stories.mdx
  packages/elements/src/components/searchable-dropdown/searchable-dropdown.tsx
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements

#5881 fix: added storyboard header
  packages/elements/src/components/searchable-dropdown/searchable-dropdown.stories.mdx
Labels: elements

#5893 fix: remove vip ssl support from cloudfront dist
  packages/deployment-service/src/functions/pipeline/pipeline-setup.ts
Labels: deployment-service

#5892 feat: #5513 input validation
  packages/elements/package.json
  packages/elements/src/components/input-error/__styles__/index.ts
  packages/elements/src/components/input-error/index.tsx
  packages/elements/src/components/input-error/input-error.stories.mdx
  packages/elements/src/components/input-error/input-error.tsx
  packages/elements/src/components/input-group/__styles__/index.ts
  packages/elements/src/components/input-group/input-group.stories.mdx
  packages/elements/src/components/input-group/input-group.tsx
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements

#5928 feat: auto package bump release
  .github/workflows/release-prod.yml
  packages/auto-bump/.eslintrc.js
  packages/auto-bump/README.md
  packages/auto-bump/action.yml
  packages/auto-bump/action/index.js
  packages/auto-bump/action/static/primer.css
  packages/auto-bump/action/static/probot-head.png
  packages/auto-bump/action/static/robot.svg
  packages/auto-bump/action/views/import.hbs
  packages/auto-bump/action/views/probot.hbs
  packages/auto-bump/action/views/setup.hbs
  packages/auto-bump/action/views/success.hbs
  packages/auto-bump/package.json
  packages/auto-bump/src/app.js
  packages/auto-bump/src/index.js
  yarn.lock
Labels: infra

#5930 feat: #5861 adds price to geo diary
  packages/geo-diary/src/components/pages/appointment/__mocks__/appointments-query.ts
  packages/geo-diary/src/components/pages/appointment/__tests__/__snapshots__/appointment.test.tsx.snap
  packages/geo-diary/src/components/ui/cancel-confirm-modal/__tests__/__snapshots__/index.test.tsx.snap
  packages/geo-diary/src/components/ui/contact-drawer/__tests__/__snapshots__/property-drawer.test.tsx.snap
  packages/geo-diary/src/components/ui/contact-drawer/__tests__/property-drawer.test.tsx
  packages/geo-diary/src/components/ui/contact-drawer/property-drawer.tsx
  packages/geo-diary/src/components/ui/follow-up-notes-modal/__tests__/__snapshots__/index.test.tsx.snap
  packages/geo-diary/src/graphql/fragments/property-model.graphql
Labels: geo-diary

#5944 fix: added PAT to checkout for protected pushes
  .github/workflows/release-prod.yml
Labels: infra

#5945 fix: #5576 #5577 aml fixes
  packages/aml-checklist/jest.config.js
  packages/aml-checklist/src/components/ui/forms/__tests__/identification.tsx
  packages/aml-checklist/src/components/ui/forms/identification.tsx
  packages/aml-checklist/src/components/ui/modal/address-information/address-information.tsx
  packages/aml-checklist/src/sagas/__tests__/checklist-detail.test.ts
  packages/aml-checklist/src/sagas/checklist-detail.ts
Labels: aml-checklist

#5947 chore: #5872 update coming soons
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
Labels: marketplace

#5946 fix: gql deploy
  packages/graphql-server/package.json
Labels: graphql-server

#5950 fix: gql release script
  packages/graphql-server/package.json
Labels: graphql-server

#5961 feat: jest node config
  packages/graphql-server/jest.config.js
  packages/graphql-server/tsconfig.json
  packages/ts-scripts/src/index.js
  packages/ts-scripts/src/jest/jest-setup.js
  packages/ts-scripts/src/jest/jest.config.node.js
Labels: graphql-server, ts-scripts

#5963 feat: #5683 add user search mm app
  packages/marketplace-management/src/components/ui/users/__tests_/__snapshots__/edit-user-group.test.tsx.snap
  packages/marketplace-management/src/components/ui/users/__tests_/__snapshots__/user-groups-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/users/__tests_/edit-user-group.test.tsx
  packages/marketplace-management/src/components/ui/users/edit-user-group.tsx
Labels: marketplace-management

#5964 fix: #5576 upload bug
  packages/aml-checklist/jest.config.js
  packages/aml-checklist/src/components/ui/modal/declaration-and-risk-assessment/declaration-and-risk-assessment.tsx
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-functions.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
Labels: geo-diary, aml-checklist

#5965 feat: #5912 adds refreshing of shares
  packages/data-warehouse/src/components/pages/data/__tests__/__snapshots__/shares-table.test.tsx.snap
  packages/data-warehouse/src/components/pages/data/__tests__/data-handlers.test.ts
  packages/data-warehouse/src/components/pages/data/data-handlers.ts
  packages/data-warehouse/src/components/pages/data/shares-table.tsx
  packages/data-warehouse/src/services/__tests__/shares.test.ts
  packages/data-warehouse/src/services/shares.ts
Labels: data-warehouse

#5971 fix: added sslmethod default value
  packages/deployment-service/src/functions/pipeline/pipeline-setup.ts
Labels: deployment-service

#5972 fix: geo diary hotfix auth
  packages/geo-diary/src/graphql/client.ts
Labels: geo-diary

#5975 feat: #5683 hotfix
  packages/marketplace-management/src/components/ui/users/edit-user-group.tsx
Labels: marketplace-management

#5976 feat: #5870 adds fetch for permissions on app create flow
  packages/developer-portal/src/components/pages/apps-new/__tests__/__snapshots__/permissions-options-content.test.tsx.snap
  packages/developer-portal/src/components/pages/apps-new/__tests__/__snapshots__/step-options-content.test.tsx.snap
  packages/developer-portal/src/components/pages/apps-new/__tests__/permissions-options-content.test.tsx
  packages/developer-portal/src/components/pages/apps-new/config.tsx
  packages/developer-portal/src/components/pages/apps-new/permissions-options-content.tsx
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/get.ts
Labels: developer-portal

#5978 fix: increasing setup timeout again?
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

#5981 feat: sub domain maintain
  packages/deployment-service/src/functions/pipeline/pipeline-create.ts
  packages/deployment-service/src/subscribers/sub-domain.ts
Labels: deployment-service

#5982 feat: added condition to prevent pusher time offset
  packages/cli/src/commands/pipeline/create.ts
Labels: cli

#5985 fix: annoying typescript issue on prod release
  packages/cli/src/abstract.command.ts
Labels: cli

#5986 fix: corrected config name for cli
  packages/cli/package.json
Labels: cli

#5991 fix: updated queue timeout to match lambda
  packages/deployment-service/cdk/lib/create-sqs.ts
Labels: deployment-service

#6003 feat: #5869 app create
  .yarn/cache/caniuse-lite-npm-1.0.30001245-5b9d716b1c-f4a9a49a5a.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001286-9d4a14af80-04de474255.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001303-170ddd75cd-fe77fb680c.zip
  packages/aml-checklist/src/tests/badges/badge-branches.svg
  packages/aml-checklist/src/tests/badges/badge-lines.svg
  packages/aml-checklist/src/tests/badges/badge-statements.svg
  packages/config-service/src/tests/badges/badge-lines.svg
  packages/config-service/src/tests/badges/badge-statements.svg
  packages/developer-portal/package.json
  packages/developer-portal/src/components/pages/apps-new/__tests__/__snapshots__/app-type-options-content.test.tsx.snap
  packages/developer-portal/src/components/pages/apps-new/__tests__/__snapshots__/apps-new.test.tsx.snap
  packages/developer-portal/src/components/pages/apps-new/__tests__/__snapshots__/auth-options-content.test.tsx.snap
  packages/developer-portal/src/components/pages/apps-new/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/apps-new/__tests__/__snapshots__/permissions-options-content.test.tsx.snap
  packages/developer-portal/src/components/pages/apps-new/__tests__/__snapshots__/step-options-content.test.tsx.snap
  packages/developer-portal/src/components/pages/apps-new/__tests__/app-type-options-content.test.tsx
  packages/developer-portal/src/components/pages/apps-new/__tests__/apps-new.test.tsx
  packages/developer-portal/src/components/pages/apps-new/__tests__/auth-options-content.test.tsx
  packages/developer-portal/src/components/pages/apps-new/__tests__/permissions-options-content.test.tsx
  packages/developer-portal/src/components/pages/apps-new/__tests__/step-options-content.test.tsx
  packages/developer-portal/src/components/pages/apps-new/app-type-options-content.tsx
  packages/developer-portal/src/components/pages/apps-new/apps-new.tsx
  packages/developer-portal/src/components/pages/apps-new/auth-options-content.tsx
  packages/developer-portal/src/components/pages/apps-new/config.tsx
  packages/developer-portal/src/components/pages/apps-new/permissions-options-content.tsx
  packages/developer-portal/src/components/pages/apps-new/step-options-content.tsx
  packages/developer-portal/src/components/pages/apps-new/use-app-wizard.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/events-service/src/tests/badges/badge-functions.svg
  packages/events-service/src/tests/badges/badge-lines.svg
  packages/events-service/src/tests/badges/badge-statements.svg
  packages/mailer-service/src/tests/badges/badge-lines.svg
  packages/mailer-service/src/tests/badges/badge-statements.svg
  packages/marketplace-management/src/tests/badges/badge-branches.svg
  packages/marketplace-management/src/tests/badges/badge-functions.svg
  packages/marketplace-management/src/tests/badges/badge-lines.svg
  packages/marketplace-management/src/tests/badges/badge-statements.svg
  packages/payments-service/src/tests/badges/badge-lines.svg
  packages/payments-service/src/tests/badges/badge-statements.svg
  packages/utils-common/src/reapit-data/actions/update.ts
  packages/utils-node/src/tests/badges/badge-functions.svg
  packages/utils-node/src/tests/badges/badge-lines.svg
  packages/utils-node/src/tests/badges/badge-statements.svg
  packages/utils-react/src/tests/badges/badge-branches.svg
  packages/utils-react/src/tests/badges/badge-functions.svg
  packages/utils-react/src/tests/badges/badge-lines.svg
  packages/utils-react/src/tests/badges/badge-statements.svg
  packages/utils-react/src/use-reapit-data/__tests__/use-reapit-update.test.ts
  packages/utils-react/src/use-reapit-data/index.ts
  packages/utils-react/src/use-reapit-data/use-reapit-update.ts
  yarn.lock
Labels: aml-checklist, developer-portal, mailer-service, payments-service, marketplace-management

#6004 feat: add bastion to stack if stack has rds db
  packages/ts-scripts/src/cdk/components/rds-database.ts
Labels: ts-scripts

#6005 feat: #5849 new reg page
  packages/developer-portal/src/components/pages/login/__styles__/login.ts
  packages/developer-portal/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/developer-portal/src/components/pages/login/login.tsx
  packages/developer-portal/src/components/pages/select-role/__styles__/index.ts
  packages/developer-portal/src/components/pages/select-role/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/select-role/__tests__/index.test.tsx
  packages/developer-portal/src/components/pages/select-role/index.tsx
  packages/developer-portal/src/constants/routes.ts
  packages/developer-portal/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/developer-portal/src/core/router.tsx
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#6006 feat: #5852 rename billing
  packages/developer-portal/src/components/pages/settings/__tests__/tabs.test.tsx
  packages/developer-portal/src/components/pages/settings/billing/__tests__/subscriptions.test.tsx
  packages/developer-portal/src/components/pages/settings/billing/subscriptions.tsx
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/__tests__/__snapshots__/settings-billing-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-billing-tab/settings-billing-tab.tsx
  packages/developer-portal/src/components/pages/settings/settings-organisation-tab/__tests__/__snapshots__/settings-organisation-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/tabs.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#6007 feat: #5853 update billing modal
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/developer-edit-app.test.tsx
  packages/developer-portal/src/components/pages/edit-app/developer-edit-app.tsx
  packages/developer-portal/src/components/pages/edit-app/form-schema/validation-schema.ts
  packages/developer-portal/src/components/ui/developer-edition-modal/modal-content.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
Labels: developer-portal

#6008 chore: #5988 updates question template
  .github/ISSUE_TEMPLATE/question.md
Labels: infra

#6009 feat: #6001 adds figma community file to docs
  packages/elements/src/storybook/changelog.stories.mdx
  packages/elements/src/storybook/intro.stories.mdx
Labels: elements

#6010 feat: #5989 sbox default for webhooks
  packages/developer-portal/src/components/pages/apps-new/__tests__/__snapshots__/auth-options-content.test.tsx.snap
  packages/developer-portal/src/components/pages/apps-new/__tests__/__snapshots__/step-options-content.test.tsx.snap
  packages/developer-portal/src/components/pages/apps-new/auth-options-content.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-new-app.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-new.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/webhooks-new-app.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-new-customers.tsx
Labels: developer-portal

#6011 feat: #5993 update coming soon
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
Labels: marketplace

#6013 feat: #5992 adds zendesk widget to dev
  packages/developer-portal/src/scripts/chat-bot.js
Labels: developer-portal

#6028 feat: #6000 responsive insights report
  .yarn/cache/react-device-detect-npm-2.1.2-d0bec5974b-3cc16b4132.zip
  .yarn/cache/ua-parser-js-npm-0.7.31-aeb4c9aae9-e2f8324a83.zip
  packages/insights/package.json
  packages/insights/src/components/pages/__tests__/home.test.tsx
  packages/insights/src/components/pages/home.tsx
  packages/insights/src/tests/badges/badge-branches.svg
  packages/insights/src/tests/badges/badge-functions.svg
  packages/insights/src/tests/badges/badge-lines.svg
  packages/insights/src/tests/badges/badge-statements.svg
  packages/insights/src/utils/power-bi.ts
  yarn.lock
Labels: insights
