Repository reapit/foundations, pull requests merged in 2022-05, with the labels that each got.

#6737 [Snyk] Upgrade @reapit/elements from 3.7.23 to 3.8.0
  packages/geo-diary-marketing/package.json
Labels: geo-diary-marketing

#6739 fix: corrected authid for cdk
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

#6718 refactor: changed update method to update all repositories
  packages/cli/src/commands/pipeline/link.ts
  packages/deployment-service/src/functions/github-webhook.ts
  packages/deployment-service/src/functions/pipeline/pipeline-setup.ts
  packages/deployment-service/src/services/pipeline.ts
Labels: deployment-service, cli

#6749 fix: duplicate build
  packages/deployment-service/src/functions/codebuild/codebuild-executor.ts
Labels: deployment-service

#6751 fix: #6750 cra fix, enable zendesk
  packages/cra-template-foundations/package.json
  packages/cra-template-foundations/template/src/index.tsx
  packages/developer-portal/src/core/index.tsx
  packages/developer-portal/src/scripts/chat-bot.js
Labels: developer-portal, cra-template-foundations, create-node-app-generator

#6752 fix: ref string condition
  packages/deployment-service/src/functions/github-webhook.ts
Labels: deployment-service

#6755 feat: theme toggler
  packages/elements/src/hooks/use-theme/__tests__/use-theme.test.tsx
  packages/elements/src/hooks/use-theme/index.tsx
  packages/elements/src/index.ts
Labels: elements

#6783 feat: #6743 deploy cli
  packages/cli/package.json
  packages/cli/src/abstract.command.ts
  packages/cli/src/commands/pipeline/create.ts
  packages/cli/src/commands/pipeline/delete.ts
  packages/cli/src/commands/pipeline/edit.ts
  packages/cli/src/commands/pipeline/link.ts
  packages/cli/src/commands/release/list.ts
  packages/cli/src/commands/release/repo.ts
  packages/cli/src/commands/release/version.ts
  packages/cli/src/commands/release/zip.ts
Labels: cli

#6789 fix: corrected access type to public
  packages/cli/package.json
Labels: cli

#6806 feat: #6744 code examples
  packages/developer-portal/src/components/apps/detail/__styles__/index.ts
  packages/developer-portal/src/components/apps/detail/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/detail/index.tsx
  packages/developer-portal/src/utils/navigation.ts
Labels: developer-portal

#6807 feat: update contact with shared entity fields
  packages/app-builder-backend/src/entities/contact.ts
  packages/app-builder-backend/src/resolvers/contact-resolver.ts
Labels: app-builder-backend

#6795 fix: #6794 fixes iframe crash
  packages/geo-diary-marketing/src/components/sign-in-button.svelte
  packages/geo-diary-marketing/svelte.config.js
Labels: geo-diary-marketing

#6813 feat: #6791 display customer id mm app
  packages/marketplace-management/src/components/ui/offices/__tests__/__snapshots__/offices-groups-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/offices/offices-groups-tab.tsx
Labels: marketplace-management

#6816 feat: #6808 update website default permissions
  packages/developer-portal/src/components/apps/new/config.tsx
Labels: developer-portal

#6817 feat: #6769 codeql runs on cron
  .github/workflows/codeql-analysis.yml
Labels: infra

#6820 feat: #6767 parameter store for codebuild
  packages/cli/src/abstract.command.ts
  packages/cli/src/commands/pipeline/index.ts
  packages/cli/src/commands/pipeline/link.ts
  packages/cli/src/commands/pipeline/parameters/index.ts
  packages/cli/src/commands/pipeline/parameters/list.ts
  packages/cli/src/commands/pipeline/parameters/upsert.ts
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/src/dto/index.ts
  packages/deployment-service/src/dto/parameter-dto.ts
  packages/deployment-service/src/functions/codebuild/__tests__/codebuild-executor.test.ts
  packages/deployment-service/src/functions/codebuild/codebuild-executor.ts
  packages/deployment-service/src/functions/index.ts
  packages/deployment-service/src/functions/parameters/index.ts
  packages/deployment-service/src/functions/parameters/keys.ts
  packages/deployment-service/src/functions/parameters/upsert.ts
  packages/deployment-service/src/functions/pipeline/pipeline-tear-down.ts
  packages/deployment-service/src/services/index.ts
  packages/deployment-service/src/services/parameter-store.ts
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-configure.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-info.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-new.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-page.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-tabs.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/pipeline-configure.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-environment-update-table-row.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-environment.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-page.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-tabs.tsx
  packages/developer-portal/src/constants/routes.ts
  packages/foundations-ts-definitions/deployment-schema/index.ts
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/get.ts
  packages/utils-common/src/reapit-data/actions/update.ts
Labels: developer-portal, deployment-service, cli, foundations-ts-definitions, utils-common

#6830 fix: changed condition to includes to avoid issues with changing bran…
  packages/deployment-service/src/functions/github-webhook.ts
Labels: deployment-service

#6831 feat: #6764 #6763 #6765 pipelines upgrades
  packages/developer-portal/src/components/apps/__tests__/index.test.tsx
  packages/developer-portal/src/components/apps/new/__tests__/index.test.tsx
  packages/developer-portal/src/components/apps/new/index.tsx
  packages/developer-portal/src/components/apps/page/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/page/__tests__/index.test.tsx
  packages/developer-portal/src/components/apps/page/index.tsx
  packages/developer-portal/src/components/apps/pipeline/__tests__/pipeline-controls.test.tsx
  packages/developer-portal/src/components/apps/pipeline/__tests__/pipeline-deployments-table.test.tsx
  packages/developer-portal/src/components/apps/pipeline/__tests__/pipeline-info.test.tsx
  packages/developer-portal/src/components/apps/pipeline/__tests__/pipeline-page.test.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-controls.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-deployments-table.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-environment.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-tabs.tsx
  packages/developer-portal/src/components/iaas/__tests__/iaas.test.tsx
  packages/developer-portal/src/components/iaas/index.tsx
  packages/developer-portal/src/components/iaas/pipeline-row.tsx
Labels: developer-portal

#6832 fix: corrected logs expiry date
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-deployments-table.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-tasks-list.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/pipeline-tasks-list.tsx
Labels: developer-portal

#6839 fix: corrected condition for button text
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-deployments-table.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-tasks-list.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/pipeline-tasks-list.tsx
Labels: developer-portal

#6852 feat: design tweeks on pipelines
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-deployments-table.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-info.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-page.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-tasks-list.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-tasks-list.tsx
Labels: developer-portal

#6863 feat: 5919 applicant app builder shared
  packages/app-builder-backend/src/entities/applicant.ts
  packages/app-builder-backend/src/get-schema.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-applicant.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-applicants.ts
  packages/app-builder-backend/src/resolvers/__tests__/applicant-resolver.test.ts
  packages/app-builder-backend/src/resolvers/applicant-resolver.ts
Labels: app-builder-backend

#6884 feat: 6777 components pane
  .yarn/cache/@craftjs-layers-npm-0.2.0-beta.2-12eca13cd8-26529e283c.zip
  .yarn/cache/qr.js-npm-0.0.0-eea89f459b-5ac6c39396.zip
  .yarn/cache/react-qr-code-npm-2.0.3-7cd118a90e-d82d3c2e89.zip
  packages/app-builder/package.json
  packages/app-builder/src/components/icons/container.tsx
  packages/app-builder/src/components/icons/customize.tsx
  packages/app-builder/src/components/icons/form.tsx
  packages/app-builder/src/components/icons/layer.tsx
  packages/app-builder/src/components/icons/table.tsx
  packages/app-builder/src/components/icons/text.tsx
  packages/app-builder/src/components/icons/type.tsx
  packages/app-builder/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/app-builder/src/components/pages/home.tsx
  packages/app-builder/src/components/ui/__tests__/__snapshots__/sidebar.tsx.snap
  packages/app-builder/src/components/ui/__tests__/__snapshots__/toolbox.tsx.snap
  packages/app-builder/src/components/ui/header/styles.ts
  packages/app-builder/src/components/ui/render-node/index.tsx
  packages/app-builder/src/components/ui/sidebar-item/__tests__/__snapshots__/sidebar-item.test.tsx.snap
  packages/app-builder/src/components/ui/sidebar-item/__tests__/sidebar-item.test.tsx
  packages/app-builder/src/components/ui/sidebar-item/index.tsx
  packages/app-builder/src/components/ui/sidebar-item/styles.ts
  packages/app-builder/src/components/ui/sidebar.tsx
  packages/app-builder/src/components/ui/toolbar/__tests__/__snapshots__/toolbar.test.tsx.snap
  packages/app-builder/src/components/ui/toolbar/__tests__/toolbar.test.tsx
  packages/app-builder/src/components/ui/toolbar/index.tsx
  packages/app-builder/src/components/ui/toolbox.tsx
  packages/app-builder/src/components/ui/user/ejectable/__tests__/__snapshots__/qr-code.test.tsx.snap
  packages/app-builder/src/components/ui/user/ejectable/__tests__/qr-code.test.tsx
  packages/app-builder/src/components/ui/user/ejectable/index.tsx
  packages/app-builder/src/components/ui/user/ejectable/qr-code.tsx
  packages/app-builder/src/components/ui/user/ejectable/table.tsx
  packages/app-builder/src/components/ui/user/qr-code.tsx
  packages/app-builder/src/components/ui/viewport/__tests__/__snapshots__/viewport.test.tsx.snap
  packages/app-builder/src/components/ui/viewport/index.tsx
  yarn.lock
Labels: app-builder, dependencies

#6878 feat: #5921 appointments shared entity
  packages/app-builder-backend/src/entities/applicant.ts
  packages/app-builder-backend/src/entities/appointments.ts
  packages/app-builder-backend/src/get-schema.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-appointment.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-appointments.ts
  packages/app-builder-backend/src/resolvers/__tests__/appointment-resolver.test.ts
  packages/app-builder-backend/src/resolvers/appointment-resolver.ts
  packages/app-builder-backend/src/resolvers/contact-resolver.ts
Labels: app-builder-backend

#6893 feat: add SelectOrInput component for renaming pages
  packages/app-builder/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/app-builder/src/components/ui/components.tsx
  packages/app-builder/src/components/ui/header/PageSelector.tsx
  packages/app-builder/src/components/ui/header/__tests__/__snapshots__/header.test.tsx.snap
  packages/app-builder/src/components/ui/header/__tests__/__snapshots__/page-selector.test.tsx.snap
  packages/app-builder/src/components/ui/viewport/__tests__/__snapshots__/viewport.test.tsx.snap
Labels: app-builder

#6892 feat: added company resolver
  packages/app-builder-backend/src/entities/company.ts
  packages/app-builder-backend/src/get-schema.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-companies.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-company.ts
  packages/app-builder-backend/src/resolvers/__tests__/company-resolver.test.ts
  packages/app-builder-backend/src/resolvers/company-resolver.ts
Labels: app-builder-backend

#6899 feat: #5922 negotiator shared
  packages/app-builder-backend/src/entities/negotiator.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-negotiator.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-negotiators.ts
  packages/app-builder-backend/src/resolvers/__tests__/company-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/negotiator-resolver.test.ts
  packages/app-builder-backend/src/resolvers/abstract-crud-resolver.ts
  packages/app-builder-backend/src/resolvers/company-resolver.ts
  packages/app-builder-backend/src/resolvers/negotiator-resolver.ts
Labels: app-builder-backend

#6901 feat: added offer resolver
  packages/app-builder-backend/src/entities/offer.ts
  packages/app-builder-backend/src/get-schema.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-offer.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-offers.ts
  packages/app-builder-backend/src/resolvers/__tests__/offer-resolver.test.ts
  packages/app-builder-backend/src/resolvers/offer-resolver.ts
Labels: app-builder-backend

#6906 feat: #5923 office shared
  packages/app-builder-backend/src/entities/office.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-office.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-offices.ts
  packages/app-builder-backend/src/resolvers/__tests__/offer-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/office-resolver.test.ts
  packages/app-builder-backend/src/resolvers/offices-resolver.ts
Labels: app-builder-backend

#6904 feat: app builder zoom in/out
  packages/app-builder/src/components/hooks/use-zoom.ts
  packages/app-builder/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/app-builder/src/components/ui/components.tsx
  packages/app-builder/src/components/ui/header/__tests__/__snapshots__/header.test.tsx.snap
  packages/app-builder/src/components/ui/header/__tests__/__snapshots__/page-selector.test.tsx.snap
  packages/app-builder/src/components/ui/header/index.tsx
  packages/app-builder/src/components/ui/header/zoomer.tsx
  packages/app-builder/src/components/ui/viewport/__tests__/__snapshots__/viewport.test.tsx.snap
  packages/app-builder/src/components/ui/viewport/index.tsx
Labels: app-builder

#6922 fix: #6890 login permissions error
  packages/developer-portal/src/core/__tests__/__snapshots__/use-global-state.test.tsx.snap
  packages/developer-portal/src/core/__tests__/use-global-state.test.tsx
  packages/developer-portal/src/core/use-global-state.tsx
Labels: developer-portal

#6924 fix: add app-id header to cors config
  packages/app-builder-backend/cdk-stack.ts
Labels: app-builder-backend

#6923 fix: #6918 pipeline update error
  packages/developer-portal/src/components/apps/pipeline/__tests__/pipeline-controls.test.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-controls.tsx
  packages/developer-portal/src/components/apps/utils/handle-default-form-values.ts
Labels: developer-portal

#6926 fix: appointment entity
  packages/app-builder-backend/src/resolvers/appointment-resolver.ts
  packages/app-builder/src/components/hooks/use-introspection/index.ts
  packages/app-builder/src/components/hooks/use-introspection/query-generators.ts
Labels: app-builder, app-builder-backend

#6928 feat: #6846 adjust webhook log filters
  packages/developer-portal/src/components/api/__tests__/__snapshots__/api-page.test.tsx.snap
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-controls.test.tsx.snap
  packages/developer-portal/src/components/webhooks/state/defaults.ts
  packages/developer-portal/src/components/webhooks/webhooks-controls.tsx
  packages/developer-portal/src/components/webhooks/webhooks-logs.tsx
Labels: developer-portal

#6929 feat: #6921 paginate apps
  packages/developer-portal/src/components/analytics/state/use-analytics-state.tsx
  packages/developer-portal/src/components/apps/list/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/list/index.tsx
  packages/developer-portal/src/components/apps/state/__mocks__/use-app-state.tsx
  packages/developer-portal/src/components/apps/state/use-app-state.tsx
  packages/developer-portal/src/components/webhooks/state/use-webhooks-state.tsx
Labels: developer-portal

#6945 feat: #6940 adds base style to hyperlinks
  packages/elements/src/storybook/changelog.stories.mdx
  packages/elements/src/styles/globals.ts
Labels: elements

#6948 feat: #6458 edit app paths
  packages/developer-portal/src/components/api/__tests__/__snapshots__/api-page.test.tsx.snap
  packages/developer-portal/src/components/api/__tests__/api-page.test.tsx
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/app-edit-form.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/__tests__/ac-integration-tab.test.tsx
  packages/developer-portal/src/components/apps/edit/__tests__/app-edit-form.test.tsx
  packages/developer-portal/src/components/apps/edit/__tests__/app-listing-tab.test.tsx
  packages/developer-portal/src/components/apps/edit/__tests__/authentication-tab.test.tsx
  packages/developer-portal/src/components/apps/edit/__tests__/edit-page-tabs.test.tsx
  packages/developer-portal/src/components/apps/edit/__tests__/general-tab.test.tsx
  packages/developer-portal/src/components/apps/edit/__tests__/index.test.tsx
  packages/developer-portal/src/components/apps/edit/__tests__/permissions-tab.test.tsx
  packages/developer-portal/src/components/apps/edit/app-edit-form.tsx
  packages/developer-portal/src/components/apps/edit/edit-page-tabs.tsx
  packages/developer-portal/src/components/apps/edit/index.tsx
  packages/developer-portal/src/components/apps/list/app-card.tsx
  packages/developer-portal/src/components/apps/page/index.tsx
  packages/developer-portal/src/constants/routes.ts
  packages/developer-portal/src/core/menu.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#6941 feat: #6842 disable button for current member
  packages/developer-portal/src/components/settings/members/member-update-controls.tsx
Labels: developer-portal

#6944 feat: #6930 adds videos dev portal
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/helper-content.test.tsx.snap
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/new/helper-content.tsx
Labels: developer-portal

#6946 feat: #6814 public key webhooks
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-edit-controls.test.tsx.snap
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-manage.test.tsx.snap
  packages/developer-portal/src/components/webhooks/__tests__/webhooks-edit-controls.test.tsx
  packages/developer-portal/src/components/webhooks/webhooks-edit-controls.tsx
  packages/developer-portal/src/types/webhooks.ts
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/get.ts
Labels: developer-portal, utils-common

#6947 fix: #6877 node connect session expiry fix
  packages/connect-session/src/server/index.ts
Labels: connect-session

#6950 feat: #6782 app builder grid
  .yarn/cache/@craftjs-core-npm-0.2.0-beta.2-7286daa8e6-7080851289.zip
  .yarn/cache/@craftjs-core-npm-0.2.0-beta.4-7a20dc3e25-0b35217947.zip
  .yarn/cache/@craftjs-core-patch-5e3623d822-631261b97a.zip
  .yarn/cache/@craftjs-utils-npm-0.2.0-beta.2-9271babaed-3a34e3f285.zip
  .yarn/cache/@craftjs-utils-npm-0.2.0-beta.4-2987532176-14aadacce6.zip
  packages/app-builder/package.json
  packages/app-builder/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/app-builder/src/components/ui/__tests__/__snapshots__/sidebar.tsx.snap
  packages/app-builder/src/components/ui/sidebar.tsx
  packages/app-builder/src/components/ui/user/ejectable/__tests__/__snapshots__/container.test.tsx.snap
  packages/app-builder/src/components/ui/user/ejectable/__tests__/__snapshots__/form.test.tsx.snap
  packages/app-builder/src/components/ui/user/ejectable/__tests__/__snapshots__/link.test.tsx.snap
  packages/app-builder/src/components/ui/user/ejectable/__tests__/__snapshots__/table.test.tsx.snap
  packages/app-builder/src/components/ui/user/ejectable/__tests__/__snapshots__/text.test.tsx.snap
  packages/app-builder/src/components/ui/user/ejectable/container.tsx
  packages/app-builder/src/components/ui/user/ejectable/form.tsx
  packages/app-builder/src/components/ui/user/ejectable/info.tsx
  packages/app-builder/src/components/ui/user/ejectable/link.tsx
  packages/app-builder/src/components/ui/user/ejectable/table.tsx
  packages/app-builder/src/components/ui/user/ejectable/text.tsx
  packages/app-builder/src/components/ui/viewport/__tests__/__snapshots__/viewport.test.tsx.snap
  yarn.lock
Labels: app-builder, dependencies

#6868 [Snyk] Upgrade cookie from 0.4.2 to 0.5.0
  .yarn/cache/cookie-npm-0.5.0-e2d58a161a-1f4bd2ca57.zip
  packages/graphql-server/package.json
  yarn.lock
Labels: graphql-server, dependencies

#6870 [Snyk] Upgrade tslib from 2.3.1 to 2.4.0
  .yarn/cache/tslib-npm-2.4.0-9cb6dc5030-8c4aa6a3c5.zip
  packages/graphql-server/package.json
  yarn.lock
Labels: graphql-server, dependencies

#6871 [Snyk] Upgrade @types/adm-zip from 0.4.34 to 0.5.0
  .yarn/cache/@types-adm-zip-npm-0.5.0-c475a24319-11dd013584.zip
  packages/ts-types/package.json
  yarn.lock
Labels: ts-types, dependencies

#6962 fix: #6961 cra fix for react 18.1
  packages/cra-template-foundations/package.json
  packages/cra-template-foundations/template.json
Labels: cra-template-foundations, create-node-app-generator
