Repository reapit/foundations, pull requests merged in 2022-02, with the labels that each got.

#6030 feat: #6000 hotfix screen orientation
  packages/insights/src/components/pages/home.tsx
Labels: insights

#6036 fix: add TLS version to cloudfront dist
  packages/deployment-service/src/functions/pipeline/pipeline-setup.ts
Labels: deployment-service

#6034 feat: #6000 not passing variable to use effect
  packages/insights/src/components/pages/home.tsx
  packages/insights/src/utils/power-bi.ts
Labels: insights

#6038 refactor: #5658 jest for node
  packages/api-key-service/jest.config.js
  packages/api-key-verify/jest.config.js
  packages/app-builder-backend/jest.config.js
  packages/cognito-custom-mail-lambda/jest.config.js
  packages/config-service/jest.config.js
  packages/events-service/jest.config.js
  packages/mailer-service/jest.config.js
  packages/payments-service/jest.config.js
Labels: cognito-custom-mail-lambda, mailer-service, payments-service, api-key-service, api-key-verify

#6044 feat: #6022 admin portal billing
  packages/admin-portal/src/components/pages/usage/__styles__/index.ts
  packages/admin-portal/src/components/pages/usage/__tests__/__snapshots__/filter-form.test.tsx.snap
  packages/admin-portal/src/components/pages/usage/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/pages/usage/__tests__/__snapshots__/usage-table.test.tsx.snap
  packages/admin-portal/src/components/pages/usage/__tests__/filter-form.test.tsx
  packages/admin-portal/src/components/pages/usage/__tests__/index.test.tsx
  packages/admin-portal/src/components/pages/usage/__tests__/usage-table.test.tsx
  packages/admin-portal/src/components/pages/usage/filter-form.tsx
  packages/admin-portal/src/components/pages/usage/index.tsx
  packages/admin-portal/src/components/pages/usage/usage-table.tsx
  packages/admin-portal/src/components/ui/__tests__/menu.tsx
  packages/admin-portal/src/components/ui/menu.tsx
  packages/admin-portal/src/constants/routes.ts
  packages/admin-portal/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/admin-portal/src/core/router.tsx
  packages/admin-portal/src/sagas/apps/__stubs__/apps.ts
  packages/admin-portal/src/services/apps.ts
  packages/admin-portal/src/services/customers.ts
  packages/admin-portal/src/services/developers.ts
  packages/admin-portal/src/services/installations.ts
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/elements/src/components/searchable-dropdown/__styles__/index.ts
  packages/elements/src/components/searchable-dropdown/__tests__/__snapshots__/searchable-dropdown.test.tsx.snap
  packages/elements/src/components/searchable-dropdown/__tests__/searchable-dropdown.test.tsx
  packages/elements/src/components/searchable-dropdown/searchable-dropdown.tsx
  packages/elements/src/components/table/molecules.tsx
  packages/elements/src/storybook/changelog.stories.mdx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/insights/src/tests/badges/badge-branches.svg
  packages/insights/src/tests/badges/badge-lines.svg
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/get.ts
Labels: elements, admin-portal, insights

#6047 fix: pipeline auth uri
  packages/developer-portal/src/components/pages/v8/pipeline/index.tsx
Labels: developer-portal

#6049 feat: #6022 add monthly billing total
  packages/admin-portal/src/components/pages/usage/__tests__/__snapshots__/usage-table.test.tsx.snap
  packages/admin-portal/src/components/pages/usage/usage-table.tsx
Labels: admin-portal

#6058 refactor: moved db field init and added exception for no resources
  packages/deployment-service/src/entities/index.ts
  packages/deployment-service/src/executables/deploy-from-store.ts
  packages/deployment-service/src/functions/release/deploy-release.ts
Labels: deployment-service

#6059 fix: improve scaling of key animation
  packages/developer-portal/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/developer-portal/src/components/pages/register/__tests__/__snapshots__/register.test.tsx.snap
  packages/developer-portal/src/components/pages/select-role/__tests__/__snapshots__/index.test.tsx.snap
  packages/utils-react/src/key-animation/__styles__/key-animation.ts
  packages/utils-react/src/key-animation/__tests__/__snapshots__/key-animation.test.tsx.snap
  packages/utils-react/src/key-animation/images/background.svg
  packages/utils-react/src/key-animation/images/key.svg
  packages/utils-react/src/key-animation/images/keyhole.svg
  packages/utils-react/src/key-animation/images/star.svg
  packages/utils-react/src/key-animation/key-animation.tsx
Labels: developer-portal

#6062 feat: #6055 increase geo diary appointment limit
  packages/geo-diary/src/components/pages/appointment/__tests__/__snapshots__/appointment.test.tsx.snap
  packages/geo-diary/src/components/pages/appointment/appointment.tsx
  packages/geo-diary/src/graphql/queries/get-appointments.graphql
Labels: geo-diary

#6066 feat: #6000 revert device orientation
  packages/insights/src/components/pages/__tests__/home.test.tsx
  packages/insights/src/components/pages/home.tsx
  packages/insights/src/tests/badges/badge-branches.svg
  packages/insights/src/tests/badges/badge-functions.svg
  packages/insights/src/tests/badges/badge-lines.svg
  packages/insights/src/tests/badges/badge-statements.svg
  packages/insights/src/utils/power-bi.ts
Labels: insights

#6077 feat: #5849 role page design tweaks
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/components/pages/login/__styles__/index.ts
  packages/developer-portal/src/components/pages/login/__styles__/login.ts
  packages/developer-portal/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/developer-portal/src/components/pages/login/__tests__/__snapshots__/select-role.test.tsx.snap
  packages/developer-portal/src/components/pages/login/__tests__/select-role.test.tsx
  packages/developer-portal/src/components/pages/login/login.tsx
  packages/developer-portal/src/components/pages/login/select-role.tsx
  packages/developer-portal/src/components/pages/register/__tests__/__snapshots__/register.test.tsx.snap
  packages/developer-portal/src/components/pages/select-role/__styles__/index.ts
  packages/developer-portal/src/components/pages/select-role/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/select-role/index.tsx
  packages/developer-portal/src/core/router.tsx
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/elements/assets/infographic-icons/foundationsCustomerInfographic.svg
  packages/elements/assets/infographic-icons/newCustomerInfographic.svg
  packages/elements/assets/infographic-icons/propTechInfographic.svg
  packages/elements/assets/infographic-icons/webDeveloperInfographic.svg
  packages/elements/src/components/button/__styles__/index.ts
  packages/elements/src/components/icon/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/icon/icon.stories.mdx
  packages/elements/src/components/icon/icons/index.ts
  packages/elements/src/components/icon/icons/infographic-icons/foundationsCustomerInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/newCustomerInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/propTechInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/webDeveloperInfographic.tsx
  packages/elements/src/storybook/changelog.stories.mdx
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/utils-react/src/key-animation/__styles__/key-animation.ts
  packages/utils-react/src/key-animation/__tests__/__snapshots__/key-animation.test.tsx.snap
  packages/utils-react/src/key-animation/key-animation.tsx
  packages/utils-react/src/tests/badges/badge-branches.svg
  packages/utils-react/src/tests/badges/badge-functions.svg
Labels: elements, admin-portal, developer-portal

#6080 feat: #6074 add agreed terms admin
  packages/admin-portal/src/components/pages/devs-management/devs-management.tsx
Labels: admin-portal

#6081 feat: #6060 update subs modal text
  packages/developer-portal/src/components/pages/edit-app/developer-edit-app.tsx
  packages/developer-portal/src/components/ui/developer-edition-modal/modal-content.tsx
Labels: developer-portal

#6082 fix: added metadata type for event
  packages/deployment-service/src/entities/index.ts
Labels: deployment-service

#6085 fix: corrected mix up of function types
  packages/deployment-service/src/entities/index.ts
Labels: deployment-service

#6099 feat: #6084 update listing modal
  packages/admin-portal/src/components/pages/devs-management/devs-management.tsx
  packages/admin-portal/src/components/pages/usage/__tests__/__snapshots__/usage-table.test.tsx.snap
  packages/admin-portal/src/components/pages/usage/usage-table.tsx
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/auto-bump/action/index.js
  packages/connect-session/src/__mocks__/session.ts
  packages/connect-session/src/types.ts
  packages/connect-session/src/utils/verify-decode-id-token.ts
  packages/cra-template-foundations/template/src/platform-api/__mocks__/session.ts
  packages/data-warehouse/src/services/__mocks__/session.ts
  packages/developer-portal/src/components/pages/app-detail/app-revision-modal/__tests__/app-revision-modal.test.tsx
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/submit-app-modal.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/__tests__/developer-edit-app.test.tsx
  packages/developer-portal/src/components/pages/edit-app/__tests__/submit-app-modal.test.tsx
  packages/developer-portal/src/components/pages/edit-app/developer-edit-app.tsx
  packages/developer-portal/src/components/pages/edit-app/submit-app-modal.tsx
  packages/developer-portal/src/selector/__mocks__/auth.ts
  packages/developer-portal/src/selector/__tests__/auth.ts
  packages/developer-portal/src/selector/auth.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/graphql/__mocks__/session.ts
  packages/insights/src/platform-api/__mocks__/session.ts
  packages/marketplace-management/src/services/__mocks__/session.ts
  packages/marketplace/src/selector/auth/__mocks__/auth.ts
  packages/payments-client/src/services/__mocks__/session.ts
  packages/react-app-scaffolder/app/templates/react-app/src/platform-api/__mocks__/session.ts
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/get.ts
  packages/utils-common/src/reapit-data/actions/update.ts
  packages/utils-common/src/tests/badges/badge-branches.svg
Labels: marketplace, react-app-scaffolder, geo-diary, admin-portal, developer-portal, connect-session, data-warehouse, payments-client, marketplace-management, cra-template-foundations, insights

#6110 feat: #6083 tweaks to toggle and tabs in Elements
  packages/developer-portal/src/components/pages/v8/__tests__/__snapshots__/app-detail-v8-edit.test.tsx.snap
  packages/developer-portal/src/components/pages/v8/__tests__/__snapshots__/app-detail-v8.test.tsx.snap
  packages/elements/src/components/tabs/__tests__/__snapshots__/tabs.test.tsx.snap
  packages/elements/src/components/tabs/tabs.stories.mdx
  packages/elements/src/components/tabs/tabs.tsx
  packages/elements/src/components/toggle/toggle.stories.mdx
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements, developer-portal

#6113 feat: #6112 new reg form
  packages/developer-portal/src/components/pages/login/select-role.tsx
Labels: developer-portal

#6132 chore: #6129 release elements legacy
  packages/elements-legacy/package.json
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements

#6134 fix: #6123 #6124 admin portal fixes
  packages/admin-portal/src/components/pages/devs-management/devs-management.tsx
  packages/admin-portal/src/components/pages/usage/__tests__/__snapshots__/filter-form.test.tsx.snap
  packages/admin-portal/src/components/pages/usage/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/pages/usage/filter-form.tsx
  packages/admin-portal/src/components/pages/usage/index.tsx
  packages/admin-portal/src/constants/paginator.ts
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
Labels: admin-portal

#6136 feat: #6125 dev portal UI fixes
  packages/developer-portal/src/assets/images/desktop/video-placeholder.svg
  packages/developer-portal/src/assets/images/reapit-logo.svg
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/developer-edit-app.test.tsx.snap
  packages/developer-portal/src/components/pages/login/__styles__/index.ts
  packages/developer-portal/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/developer-portal/src/components/pages/login/__tests__/__snapshots__/select-role.test.tsx.snap
  packages/developer-portal/src/components/pages/login/login.tsx
  packages/developer-portal/src/components/pages/login/select-role.tsx
  packages/developer-portal/src/components/pages/register/__tests__/__snapshots__/register.test.tsx.snap
  packages/developer-portal/src/components/pages/register/__tests__/register.test.tsx
  packages/developer-portal/src/components/pages/register/register.tsx
  packages/developer-portal/src/components/ui/__tests__/__snapshots__/index.tsx.snap
  packages/developer-portal/src/components/ui/__tests__/__snapshots__/terms-and-conditions-modal.tsx.snap
  packages/developer-portal/src/components/ui/__tests__/terms-and-conditions-modal/__snapshots__/terms-and-conditions-modal.tsx.snap
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/index.tsx
  packages/developer-portal/src/constants/routes.ts
  packages/developer-portal/src/core/__tests__/__snapshots__/router.tsx.snap
Labels: developer-portal

#6171 feat: #6148 updates and adds new icons
  packages/developer-portal/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
  packages/developer-portal/src/components/pages/login/__tests__/__snapshots__/select-role.test.tsx.snap
  packages/developer-portal/src/components/pages/v8/__tests__/__snapshots__/app-detail-v8-edit.test.tsx.snap
  packages/developer-portal/src/components/pages/v8/__tests__/__snapshots__/app-detail-v8.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks.test.tsx.snap
  packages/elements/assets/infographic-icons/authenticatedInfographic.svg
  packages/elements/assets/infographic-icons/platformApiInfographic.svg
  packages/elements/assets/infographic-icons/reapitConnectInfographic.svg
  packages/elements/assets/infographic-icons/reapitLogoInfographic.svg
  packages/elements/assets/infographic-icons/sharedEntitiesInfographic.svg
  packages/elements/assets/infographic-icons/welcomeInfographic.svg
  packages/elements/src/components/icon/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/icon/icon.stories.mdx
  packages/elements/src/components/icon/icons/index.ts
  packages/elements/src/components/icon/icons/infographic-icons/authenticatedInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/foundationsCustomerInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/myAppsInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/newCustomerInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/platformApiInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/propTechInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/reapitConnectInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/reapitLogoInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/sharedEntitiesInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/webDeveloperInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/webhooksInfographic.tsx
  packages/elements/src/components/icon/icons/infographic-icons/welcomeInfographic.tsx
Labels: elements, developer-portal

#6168 feat: add draft contacts entity
  .github/workflows/test-pr.yml
  .yarn/cache/@ampproject-remapping-npm-2.1.1-a9311a9236-cc5cf29833.zip
  .yarn/cache/@apollo-client-npm-3.5.8-e78a6c054e-c896153784.zip
  .yarn/cache/@babel-core-npm-7.17.2-bc12e43b41-68ab3459f4.zip
  .yarn/cache/@babel-generator-npm-7.17.0-8120b22251-2987dbebb4.zip
  .yarn/cache/@babel-helpers-npm-7.17.2-b6e9f47d4d-5fa06bbf59.zip
  .yarn/cache/@babel-parser-npm-7.17.0-e1dff7f554-d0ac5ffba0.zip
  .yarn/cache/@babel-traverse-npm-7.17.0-2ad756de16-9b7de053d8.zip
  .yarn/cache/@babel-types-npm-7.17.0-3c936b54e4-12e5a28798.zip
  .yarn/cache/@jridgewell-resolve-uri-npm-3.0.5-bb57d127db-1ee652b693.zip
  .yarn/cache/@jridgewell-sourcemap-codec-npm-1.4.11-68fac44d63-3b2afaf840.zip
  .yarn/cache/@jridgewell-trace-mapping-npm-0.3.4-d0db906c7f-ab8bce84bb.zip
  .yarn/cache/@types-jest-npm-27.4.0-33755263ec-d2350267f9.zip
  .yarn/cache/core-js-npm-3.21.0-9d2e98b782-87df49aa2c.zip
  .yarn/cache/fetch-mock-jest-npm-1.5.1-43a73431f1-371b1c4a1f.zip
  .yarn/cache/fetch-mock-npm-9.11.0-6ebe138f97-debc4dd83b.zip
  .yarn/cache/path-to-regexp-npm-2.4.0-ce02fd84d9-581175bf29.zip
  .yarn/cache/ts-jest-npm-27.1.3-a4b2ce4894-eb54e5b8fc.zip
  .yarn/cache/whatwg-url-npm-6.5.0-07c2c28a54-a10bd5e29f.zip
  package.json
  packages/app-builder-backend/babel.config.js
  packages/app-builder-backend/jest.config.js
  packages/app-builder-backend/package.json
  packages/app-builder-backend/src/entities/contact.ts
  packages/app-builder-backend/src/get-schema.ts
  packages/app-builder-backend/src/index.ts
  packages/app-builder-backend/src/lambda.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-contact.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-contacts.ts
  packages/app-builder-backend/src/resolvers/__tests__/contact-resolver.test.ts
  packages/app-builder-backend/src/resolvers/contact-resolver.ts
  packages/app-builder-backend/src/types.ts
  packages/app-builder-backend/src/utils/extract-metadata.ts
  packages/app-builder/src/components/hooks/use-introspection/types.ts
  packages/graphql-server/schema.graphql
  packages/graphql-server/src/resolvers/contacts/types.graphql
  packages/graphql-server/src/schema.graphql
  yarn.lock
Labels: graphql-server, infra

#6205 fix: #6204 fetch eTag before updateAppointment
  packages/geo-diary/src/components/ui/cancel-confirm-modal/__tests__/index.test.tsx
  packages/geo-diary/src/components/ui/cancel-confirm-modal/index.tsx
  packages/geo-diary/src/components/ui/follow-up-notes-modal/__tests__/index.test.tsx
  packages/geo-diary/src/components/ui/follow-up-notes-modal/index.tsx
  packages/geo-diary/src/graphql/hooks/use-get-appointment-etag.ts
Labels: geo-diary

#6207 fix: #6124 app id filter key incorrect
  packages/admin-portal/src/components/pages/usage/index.tsx
Labels: admin-portal

#6208 fix: #6124 makes route visible to non admins
  packages/admin-portal/src/components/ui/__tests__/menu.tsx
  packages/admin-portal/src/utils/get-access.ts
Labels: admin-portal

#6215 feat: #6209 #6145 #6135 registration enhancements
  packages/developer-portal/src/components/pages/authentication/__tests__/__snapshots__/authentication.test.tsx.snap
  packages/developer-portal/src/components/pages/authentication/__tests__/authentication.test.tsx
  packages/developer-portal/src/components/pages/authentication/authentication.tsx
  packages/developer-portal/src/components/pages/authentication/index.ts
  packages/developer-portal/src/components/pages/edit-app/__tests__/__snapshots__/submit-app-modal.test.tsx.snap
  packages/developer-portal/src/components/pages/edit-app/submit-app-modal.tsx
  packages/developer-portal/src/components/pages/register/__tests__/__snapshots__/customer-register.test.tsx.snap
  packages/developer-portal/src/components/pages/register/__tests__/customer-register.test.tsx
  packages/developer-portal/src/components/pages/register/customer-register.tsx
  packages/developer-portal/src/components/pages/register/register.tsx
  packages/developer-portal/src/constants/pages.ts
  packages/developer-portal/src/constants/routes.ts
  packages/developer-portal/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/developer-portal/src/core/__tests__/private-route.tsx
  packages/developer-portal/src/core/private-route-wrapper.tsx
  packages/developer-portal/src/core/private-route.tsx
  packages/developer-portal/src/core/router.tsx
  packages/developer-portal/src/sagas/current-member.ts
  packages/developer-portal/src/selector/auth.ts
  packages/developer-portal/src/services/developers.ts
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/get.ts
  packages/utils-common/src/reapit-data/actions/update.ts
Labels: developer-portal

#6224 fix: #6125 final reg flow fixes
  packages/developer-portal/src/components/pages/register/__tests__/__snapshots__/customer-register.test.tsx.snap
  packages/developer-portal/src/components/pages/register/customer-register.tsx
  packages/developer-portal/src/components/pages/register/register.tsx
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/__snapshots__/forms.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/__snapshots__/toggle-customer-data-form.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/forms.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/__tests__/toggle-customer-data-form.test.tsx
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/toggle-customer-data-form.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/utils/navigation.ts
Labels: developer-portal

#6226 fix: fixes runtime error on profile page
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/toggle-customer-data-form.tsx
Labels: developer-portal

#6227 fix: text change
  packages/developer-portal/src/components/pages/register/__tests__/__snapshots__/customer-register.test.tsx.snap
  packages/developer-portal/src/components/pages/register/customer-register.tsx
Labels: developer-portal

#6230 feat: #6228 fixes mm app offices bug
  packages/marketplace-management/src/components/ui/offices/__tests__/office-group-edit-form.test.tsx
  packages/marketplace-management/src/components/ui/offices/__tests__/offices-groups-tab.test.tsx
  packages/marketplace-management/src/components/ui/offices/office-group-create.tsx
  packages/marketplace-management/src/components/ui/offices/office-group-edit-form.tsx
  packages/marketplace-management/src/components/ui/offices/offices-groups-tab.tsx
  packages/marketplace-management/src/utils/fetcher.ts
Labels: marketplace-management

#6234 feat: #6228 mm app groups fix
  .yarn/cache/swr-npm-1.2.2-90e14a1b98-723747c7c2.zip
  packages/marketplace-management/package.json
  packages/marketplace-management/src/components/ui/apps/app-installation-manager.tsx
  packages/marketplace-management/src/components/ui/offices/__tests__/office-group-create.test.tsx
  packages/marketplace-management/src/components/ui/offices/office-group-create.tsx
  packages/marketplace-management/src/components/ui/offices/offices-groups-tab.tsx
  packages/marketplace-management/src/components/ui/users/edit-user-group.tsx
  packages/marketplace-management/src/components/ui/users/user-groups-tab.tsx
  yarn.lock
Labels: marketplace-management

#6235 fix: #6228 increase latency fix
  packages/marketplace-management/src/components/ui/apps/__tests__/app-toggle-visibility-section.test.tsx
  packages/marketplace-management/src/components/ui/apps/app-toggle-visibility-section.tsx
  packages/marketplace-management/src/components/ui/offices/office-group-create.tsx
  packages/marketplace-management/src/components/ui/offices/offices-groups-tab.tsx
  packages/marketplace-management/src/components/ui/users/edit-user-group.tsx
  packages/marketplace-management/src/components/ui/users/user-groups-tab.tsx
  packages/marketplace-management/src/components/ui/users/users-tab.tsx
Labels: marketplace-management

#6236 feat: #6228 mm app groups fix
  packages/marketplace-management/src/components/ui/offices/__tests__/office-group-create.test.tsx
  packages/marketplace-management/src/components/ui/offices/office-group-create.tsx
Labels: marketplace-management

#6232 feat: #4594 bitbucket integration
  .yarn/cache/atlassian-jwt-npm-2.0.2-3444b8dc29-38a5782593.zip
  .yarn/cache/jsuri-npm-1.3.1-29b4cd6994-cdb42b8e62.zip
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/migrations/1645444063726-bitBucket.ts
  packages/deployment-service/migrations/1645524699376-pipelineBranch.ts
  packages/deployment-service/migrations/index.ts
  packages/deployment-service/package.json
  packages/deployment-service/src/core/db.ts
  packages/deployment-service/src/entities/bitbucket-client.entity.ts
  packages/deployment-service/src/entities/pipeline.entity.ts
  packages/deployment-service/src/executables/deploy-from-store.ts
  packages/deployment-service/src/functions/bitbucket-config.ts
  packages/deployment-service/src/functions/bitbucket-webhook.ts
  packages/deployment-service/src/functions/github-webhook.ts
  packages/deployment-service/src/functions/index.ts
  packages/deployment-service/src/functions/pipeline/codebuild-executor.ts
  packages/deployment-service/src/functions/pipeline/pipeline-runner-create.ts
  packages/deployment-service/src/functions/pipeline/pipeline-runner-update.ts
  packages/deployment-service/src/services/bitbucket.ts
  packages/deployment-service/src/services/index.ts
  packages/graphql-server/cdk-stack.ts
  packages/ts-scripts/src/cdk/components/api-gateway-api.ts
  yarn.lock
Labels: graphql-server, ts-scripts, deployment-service

#6250 feat: #6247 makes button visible
  packages/admin-portal/src/components/pages/devs-management/devs-management.tsx
Labels: admin-portal

#6251 feat: add branch to cli and dev
  packages/cli/package.json
  packages/cli/src/commands/pipeline/create.ts
  packages/deployment-service/src/dto/pipeline-dto.ts
  packages/developer-portal/src/components/pages/v8/pipeline/create-pipeline.tsx
  packages/foundations-ts-definitions/deployment-schema/index.ts
Labels: developer-portal, deployment-service, cli
