Repository reapit/foundations, pull requests merged in 2022-03, with the labels that each got.

#6262 fix: hotfix on admin statuses
  packages/admin-portal/src/components/pages/devs-management/set-status-modal/__tests__/__snapshots__/status-modal.test.tsx.snap
  packages/admin-portal/src/components/pages/devs-management/set-status-modal/status-modal.tsx
Labels: admin-portal

#6266 fix: #6263 webhooks pagination patch
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-manage.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/webhooks-manage.tsx
  packages/developer-portal/src/sagas/webhooks-subscriptions/__tests__/webhook-edit-modal.test.ts
  packages/developer-portal/src/sagas/webhooks-subscriptions/webhooks-edit-modal.ts
Labels: developer-portal

#6270 feat: #6149 exception improvements
  packages/cli/src/commands/pipeline/create.ts
  packages/deployment-service/src/functions/pipeline/codebuild-deploy.ts
  packages/deployment-service/src/functions/pipeline/codebuild-executor.ts
  packages/deployment-service/src/functions/pipeline/codebuild-pipeline-updater.ts
  packages/deployment-service/src/functions/release/deploy-release.ts
  packages/developer-portal/src/components/pages/apps/edit/app-pipeline.tsx
  packages/developer-portal/src/components/pages/apps/edit/deployment-info.tsx
  packages/ts-scripts/src/cdk/components/codebuild-project.ts
Labels: developer-portal, ts-scripts, deployment-service, cli

#6272 feat: added log for location of deployment on deploy
  packages/cli/src/commands/pipeline/deploy-local.ts
  packages/cli/src/commands/pipeline/deploy.ts
Labels: cli

#6282 fix: ts-bundler packages dir
  packages/ts-bundler/src/get-workspace-root.ts
  packages/ts-bundler/src/ts-bundler.ts
Labels: ts-bundler

#6289 feat: #6278 delete office groups
  packages/marketplace-management/package.json
  packages/marketplace-management/src/components/ui/offices/__tests__/__snapshots__/office-group-edit-form.test.tsx.snap
  packages/marketplace-management/src/components/ui/offices/__tests__/__snapshots__/offices-groups-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/offices/__tests__/office-group-edit-form.test.tsx
  packages/marketplace-management/src/components/ui/offices/office-group-edit-form.tsx
  packages/marketplace-management/src/components/ui/offices/offices-groups-tab.tsx
  packages/marketplace-management/tsconfig.json
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/update.ts
  yarn.lock
Labels: marketplace-management, utils-common

#6298 feat: #6154 delete pipeline
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/src/functions/pipeline/codebuild-executor.ts
  packages/deployment-service/src/functions/pipeline/pipeline-delete.ts
  packages/deployment-service/src/functions/pipeline/pipeline-runner-create.ts
  packages/deployment-service/src/functions/pipeline/pipeline-tear-down.ts
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/deployment-info.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/pipeline-info.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/deployment-info.test.tsx
  packages/developer-portal/src/components/pages/apps/edit/create-pipeline.tsx
  packages/developer-portal/src/components/pages/apps/edit/deployment-info.tsx
  packages/developer-portal/src/components/pages/apps/edit/pipeline-info-wrapper.tsx
  packages/developer-portal/src/components/pages/apps/edit/pipeline-info.tsx
  packages/utils-common/src/reapit-data/actions/update.ts
Labels: developer-portal, deployment-service, utils-common

#6318 fix: #6312 updates admin usage query
  packages/admin-portal/src/components/pages/usage/__tests__/__snapshots__/filter-form.test.tsx.snap
  packages/admin-portal/src/components/pages/usage/filter-form.tsx
Labels: admin-portal

#6317 feat: #6201 #6206 elements file buttons
  .vscode/settings.json
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/app-listing-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/edit-page-tabs.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/app-listing-tab.test.tsx
  packages/developer-portal/src/components/pages/apps/edit/app-listing-tab.tsx
  packages/developer-portal/src/components/pages/apps/edit/constants.ts
  packages/developer-portal/src/components/pages/apps/page/helper.tsx
  packages/elements/src/components/button/__styles__/index.ts
  packages/elements/src/components/file-input/__styles__/index.ts
  packages/elements/src/components/file-input/__tests__/__snapshots__/file-input.test.tsx.snap
  packages/elements/src/components/file-input/__tests__/file-input.test.tsx
  packages/elements/src/components/file-input/file-input.stories.mdx
  packages/elements/src/components/file-input/file-input.tsx
  packages/elements/src/components/file-input/index.ts
  packages/elements/src/index.ts
  packages/elements/src/storybook/changelog.stories.mdx
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/update.ts
  packages/utils-react/src/image-cropper/__styles__/styles.ts
  packages/utils-react/src/image-cropper/__tests__/__snapshots__/image-cropper.test.tsx.snap
  packages/utils-react/src/image-cropper/__tests__/handlers.test.ts
  packages/utils-react/src/image-cropper/__tests__/image-cropper.test.tsx
  packages/utils-react/src/image-cropper/__tests__/integration-helpers.test.ts
  packages/utils-react/src/image-cropper/handlers.ts
  packages/utils-react/src/image-cropper/image-cropper.tsx
  packages/utils-react/src/image-cropper/integration-helpers.ts
  packages/utils-react/src/image-cropper/types.ts
  packages/utils-react/src/use-reapit-data/use-reapit-update.ts
Labels: elements, developer-portal, utils-common, utils-react

#6319 fix: #6278 fixes a couple of issues with mm deleting
  packages/marketplace-management/src/components/ui/offices/__tests__/office-group-edit-form.test.tsx
  packages/marketplace-management/src/components/ui/offices/office-group-edit-form.tsx
  packages/marketplace-management/src/tests/badges/badge-branches.svg
  packages/marketplace-management/src/tests/badges/badge-functions.svg
  packages/marketplace-management/src/tests/badges/badge-lines.svg
  packages/marketplace-management/src/tests/badges/badge-statements.svg
Labels: marketplace-management

#6334 fix: release prod workflow broken
  .github/workflows/release-prod.yml
Labels: infra

#6366 feat: #6150 delete pipeline cli
  packages/cli/src/commands/pipeline/delete.ts
  packages/cli/src/commands/pipeline/index.ts
  packages/deployment-service/src/functions/pipeline/pipeline-tear-down.ts
Labels: deployment-service, cli

#6373 feat: #6156 semver unique
  packages/cli/src/commands/pipeline/deploy-local.ts
  packages/cli/src/commands/release/list.ts
  packages/cli/src/commands/release/version.ts
  packages/deployment-service/src/functions/release/deploy-release.ts
Labels: deployment-service, cli

#6347 feat: app builder fixes
  .vscode/settings.json
  .yarn/cache/@graphql-tools-batch-execute-npm-8.3.2-1ab73e60e2-0a903a2b24.zip
  .yarn/cache/@graphql-tools-delegate-npm-8.5.1-c1f31328bf-82e7e71a5d.zip
  .yarn/cache/@graphql-tools-merge-npm-8.2.3-9a385861e6-4aa8bd140c.zip
  .yarn/cache/@graphql-tools-schema-npm-8.3.2-fa8783c5e4-af5bd339ae.zip
  .yarn/cache/@graphql-tools-utils-npm-8.6.2-88d9e3e59d-322642c498.zip
  .yarn/cache/@types-common-tags-npm-1.8.1-cb81ee674b-bec6f68c8c.zip
  .yarn/cache/defekt-npm-7.3.3-46f53cd7e1-8b4a852e2a.zip
  .yarn/cache/get-graphql-from-jsonschema-npm-8.0.16-57005533cd-216dc3b59d.zip
  .yarn/cache/graphql-executor-npm-0.0.18-1599287b1f-4b4fbb28f8.zip
  packages/app-builder-backend/jest.config.js
  packages/app-builder-backend/package.json
  packages/app-builder-backend/src/custom-entites.ts
  packages/app-builder-backend/src/ddb.ts
  packages/app-builder-backend/src/entities/app.ts
  packages/app-builder-backend/src/entities/contact.ts
  packages/app-builder-backend/src/entities/office.ts
  packages/app-builder-backend/src/get-schema.ts
  packages/app-builder-backend/src/index.ts
  packages/app-builder-backend/src/lambda.ts
  packages/app-builder-backend/src/platform/index.ts
  packages/app-builder-backend/src/resolvers/__tests__/contact-resolver.test.ts
  packages/app-builder-backend/src/resolvers/app-resolver.ts
  packages/app-builder-backend/src/resolvers/contact-resolver.ts
  packages/app-builder-backend/src/resolvers/custom-entity-resolver.ts
  packages/app-builder-backend/src/resolvers/offices-resolver.ts
  packages/app-builder-backend/src/types.ts
  packages/app-builder-backend/src/utils/extract-metadata.ts
  packages/app-builder-backend/src/utils/graphql-fetch.ts
  packages/app-builder/jest.config.js
  packages/app-builder/package.json
  packages/app-builder/src/components/hooks/use-introspection/query-generators.ts
  packages/app-builder/src/components/hooks/use-page-id.ts
  packages/app-builder/src/components/pages/app-select.tsx
  packages/app-builder/src/components/ui/render-node/index.tsx
  packages/app-builder/src/components/ui/user/ejectable/form-input.tsx
  packages/app-builder/src/components/ui/user/ejectable/form.tsx
  packages/app-builder/src/components/ui/user/ejectable/table.tsx
  packages/app-builder/src/components/ui/user/form.tsx
  packages/app-builder/src/core/graphql-client.tsx
  packages/app-builder/src/core/router.tsx
  yarn.lock
Labels: app-builder, dependencies, app-builder-backend

#6380 feat: add officeId to GetProperties query
  packages/graphql-server/src/resolvers/properties/properties.d.ts
  packages/graphql-server/src/resolvers/properties/types.graphql
  packages/graphql-server/src/schema.graphql
Labels: graphql-server

#6385 feat: cli support other git providers & https
  packages/cli/src/commands/pipeline/create.ts
Labels: cli

#6393 chore: bump graphql-server version
  packages/graphql-server/package.json
Labels: graphql-server

#6398 feat: #6392 apps review tweaks
  packages/developer-portal/src/components/pages/apps/detail/__tests__/index.test.tsx
  packages/developer-portal/src/components/pages/apps/detail/index.tsx
  packages/developer-portal/src/components/pages/apps/edit/app-edit-form.tsx
  packages/developer-portal/src/components/pages/apps/list/__styles__/index.ts
  packages/developer-portal/src/components/pages/apps/list/__tests__/__snapshots__/app-card.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/list/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/list/app-card.tsx
  packages/developer-portal/src/components/pages/apps/new/__tests__/__snapshots__/helper-content.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/new/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/new/helper-content.tsx
  packages/developer-portal/src/components/pages/apps/new/helper-graphic.tsx
  packages/developer-portal/src/components/pages/apps/page/__tests__/__snapshots__/helper.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/page/helper.tsx
  packages/developer-portal/src/components/pages/apps/utils/validate-schema.ts
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#6402 feat: #6392 apps review tweaks
  packages/app-builder/src/tests/badges/badge-branches.svg
  packages/app-builder/src/tests/badges/badge-functions.svg
  packages/app-builder/src/tests/badges/badge-lines.svg
  packages/app-builder/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/app-edit-form.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/edit-page-tabs.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/general-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/permissions-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/general-tab.tsx
  packages/developer-portal/src/components/pages/apps/edit/permissions-tab.tsx
  packages/developer-portal/src/components/pages/apps/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/installations/index.tsx
  packages/developer-portal/src/components/pages/apps/page/__tests__/__snapshots__/helper.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/page/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/page/helper.tsx
  packages/elements/src/components/card/__styles__/index.ts
  packages/elements/src/components/modal/__tests__/__snapshots__/modal.test.tsx.snap
  packages/elements/src/components/modal/modal.tsx
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements, developer-portal, app-builder

#6403 feat: #5682 set default swagger
  packages/developer-portal/src/components/pages/swagger/swagger.tsx
Labels: developer-portal

#6404 feat: #6244 add client id to webhooks manage
  packages/developer-portal/src/components/pages/webhooks/webhooks-manage.tsx
Labels: developer-portal

#6405 feat: #6323 prevent desktop subscriptions
  packages/developer-portal/src/components/ui/developer-edition-modal/developer-edition-content.tsx
  packages/developer-portal/src/components/ui/developer-edition-modal/developer-edition-modal.tsx
Labels: developer-portal

#6409 feat: #6336 adds old register route redirect
  packages/developer-portal/src/constants/routes.ts
  packages/developer-portal/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/developer-portal/src/core/router.tsx
Labels: developer-portal

#6410 feat: #6165 paginaged pipeline runners
  .yarn/cache/luxon-npm-2.3.1-5e98793c95-ce5eec873a.zip
  packages/deployment-service/src/functions/pipeline/codebuild-deploy.ts
  packages/deployment-service/src/functions/pipeline/codebuild-executor.ts
  packages/deployment-service/src/functions/pipeline/pipeline-paginate.ts
  packages/deployment-service/src/functions/pipeline/pipeline-runner-get.ts
  packages/developer-portal/package.json
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/deployment-info.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/pipeline-runner-table.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/pipeline-runner-table.test.tsx
  packages/developer-portal/src/components/pages/apps/edit/app-pipeline.tsx
  packages/developer-portal/src/components/pages/apps/edit/deployment-info.tsx
  packages/developer-portal/src/components/pages/apps/edit/pipeline-runner-table.tsx
  packages/developer-portal/src/components/pages/apps/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-manage.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks.test.tsx.snap
  packages/elements/src/components/pagination/__styles__/index.ts
  packages/elements/src/components/pagination/__tests__/__snapshots__/pagination.test.tsx.snap
  packages/elements/src/components/pagination/pagination.tsx
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/marketplace.test.tsx.snap
  packages/marketplace-management/src/components/ui/offices/__tests__/__snapshots__/offices-groups-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/users/__tests_/__snapshots__/user-groups-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/users/__tests_/__snapshots__/users-tab.test.tsx.snap
  packages/utils-react/src/use-reapit-data/use-reapit-get.ts
  yarn.lock
Labels: elements, developer-portal, marketplace-management, deployment-service, dependencies, utils-react

#6415 fix: #6414 removing timeouts
  packages/marketplace-management/src/components/ui/apps/app-toggle-visibility-section.tsx
  packages/marketplace-management/src/components/ui/offices/office-group-create.tsx
  packages/marketplace-management/src/components/ui/offices/offices-groups-tab.tsx
  packages/marketplace-management/src/components/ui/users/edit-user-group.tsx
  packages/marketplace-management/src/components/ui/users/user-groups-tab.tsx
  packages/marketplace-management/src/components/ui/users/users-tab.tsx
Labels: marketplace-management

#6416 fix: corrected CDK queue timeout
  packages/deployment-service/cdk/lib/create-sqs.ts
Labels: deployment-service

#6418 fix: config for authorizer id
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

#6420 fix: corrected migration path name
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

#6421 feat: #6392 apps review tweaks
  .yarn/cache/github-username-regex-npm-1.0.0-39c1e8c51a-a1ea97b46c.zip
  packages/developer-portal/package.json
  packages/developer-portal/src/components/pages/apps/detail/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/detail/index.tsx
  packages/developer-portal/src/components/pages/apps/edit/general-tab.tsx
  packages/developer-portal/src/components/pages/apps/list/__tests__/app-card.test.tsx
  packages/developer-portal/src/components/pages/apps/list/app-card.tsx
  packages/developer-portal/src/components/pages/apps/new/__styles__/index.ts
  packages/developer-portal/src/components/pages/apps/new/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/new/index.tsx
  packages/developer-portal/src/components/pages/apps/page/helper.tsx
  packages/developer-portal/src/components/pages/settings/settings-profile-tab/form-schema/validation-schema.ts
  packages/developer-portal/src/components/pages/webhooks/__styles__/index.ts
  packages/developer-portal/src/components/pages/webhooks/webhooks-new.tsx
  yarn.lock
Labels: developer-portal, dependencies

#6423 feat: #6308 #6309 #6343 mm app updates
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/users.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/app-installation-per-office-group.tsx
  packages/marketplace-management/src/components/ui/users/__tests_/__snapshots__/users-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/users/__tests_/edit-user-group.test.tsx
  packages/marketplace-management/src/components/ui/users/edit-user-group.tsx
  packages/marketplace-management/src/components/ui/users/users-tab.tsx
  packages/marketplace/src/tests/badges/badge-functions.svg
Labels: marketplace, marketplace-management

#6425 fix: remove drop column of non added column
  packages/deployment-service/migrations/1645444063726-bitBucket.ts
Labels: deployment-service

#6430 feat: #6031 #5432 add app filter cost explorer
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer-component/cost-explorer.tsx
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer-component/cost-filter-form.tsx
  packages/developer-portal/src/components/ui/developer-edition-modal/developer-edition-modal.tsx
  packages/developer-portal/src/services/billing.ts
Labels: developer-portal

#6432 fix: remove nsleft and nsright from rollback migration
  packages/deployment-service/migrations/1645444063726-bitBucket.ts
Labels: deployment-service

#6433 feat: #6356 fixed width buttons elements
  packages/developer-portal/src/components/pages/apps/detail/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/app-pipeline.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/create-pipeline.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/deployment-info.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/edit-page-tabs.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/general-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/new/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/page/__tests__/__snapshots__/helper.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/page/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/welcome/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/desktop/__tests__/__snapshots__/desktop.test.tsx.snap
  packages/developer-portal/src/components/pages/login/__tests__/__snapshots__/login.test.tsx.snap
  packages/developer-portal/src/components/pages/register/__tests__/__snapshots__/customer-register.test.tsx.snap
  packages/developer-portal/src/components/pages/register/__tests__/__snapshots__/register.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhook-ping-form.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-about.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-edit-controls.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-manage-form.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-manage.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks.test.tsx.snap
  packages/elements/src/components/button/__styles__/index.ts
  packages/elements/src/components/button/__tests__/__snapshots__/button.test.tsx.snap
  packages/elements/src/components/button/__tests__/button.test.tsx
  packages/elements/src/components/button/button.stories.mdx
  packages/elements/src/components/button/button.tsx
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements, developer-portal

#6435 feat: #6092 adds display date to week view
  packages/geo-diary/src/components/ui/appointment-tile/__styles__/styles.ts
  packages/geo-diary/src/components/ui/appointment-tile/appointment-tile.tsx
Labels: geo-diary

#6436 feat: #6210 #6325 admin usage download, validations fix
  packages/admin-portal/jest.config.js
  packages/admin-portal/src/components/pages/devs-management/set-status-modal/form-schema.ts
  packages/admin-portal/src/components/pages/statistics/statistics.tsx
  packages/admin-portal/src/components/pages/usage/index.tsx
  packages/admin-portal/src/utils/statistics.ts
Labels: admin-portal

#6445 feat: #6437 apps flow text changes
  packages/developer-portal/src/components/pages/apps/detail/__styles__/index.ts
  packages/developer-portal/src/components/pages/apps/detail/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/detail/index.tsx
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/ac-integration-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/app-edit-form.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/app-listing-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/authentication-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/edit-page-tabs.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/permissions-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/ac-integration-tab.tsx
  packages/developer-portal/src/components/pages/apps/edit/app-listing-tab.tsx
  packages/developer-portal/src/components/pages/apps/edit/authentication-tab.tsx
  packages/developer-portal/src/components/pages/apps/edit/permissions-tab.tsx
  packages/developer-portal/src/components/pages/apps/new/__tests__/__snapshots__/app-options-content.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/new/__tests__/__snapshots__/helper-content.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/new/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/new/__tests__/app-options-content.test.tsx
  packages/developer-portal/src/components/pages/apps/new/app-options-content.tsx
  packages/developer-portal/src/components/pages/apps/new/helper-content.tsx
  packages/developer-portal/src/components/pages/apps/new/permissions-options-content.tsx
  packages/developer-portal/src/components/pages/apps/page/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/utils/navigation.ts
Labels: developer-portal

#6446 fix: added option for hardcoded value to be prod value
  packages/api-key-verify/src/api-key.ts
  packages/deployment-service/src/functions/release/deploy-release.ts
  packages/deployment-service/src/utils/resolve-developer-id.ts
Labels: deployment-service, api-key-verify

#6449 fix: corrected serverless config for api-key-service
  packages/api-key-service/serverless.yml
Labels: api-key-service

#6450 fix: added missing migration
  packages/deployment-service/migrations/index.ts
Labels: deployment-service

#6460 fix: added condition for hard coded url
  packages/deployment-service/src/functions/pipeline/pipeline-setup.ts
Labels: deployment-service

#6464 refactor: change pusher channel name
  packages/cli/src/commands/pipeline/create.ts
  packages/deployment-service/src/functions/pipeline/pipeline-create.ts
  packages/deployment-service/src/functions/pipeline/pipeline-setup.ts
Labels: deployment-service, cli

#6473 feat: #6470 is listed modal
  packages/developer-portal/src/components/pages/apps/page/__tests__/__snapshots__/submit-review-modal.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/page/__tests__/helper.test.tsx
  packages/developer-portal/src/components/pages/apps/page/__tests__/submit-review-modal.test.tsx
  packages/developer-portal/src/components/pages/apps/page/helper.tsx
  packages/developer-portal/src/components/pages/apps/page/submit-review-modal.tsx
  packages/utils-common/src/reapit-data/actions/get.ts
Labels: developer-portal, utils-common

#6475 fix: #6210 removes pound sign as not encoded
  packages/admin-portal/src/components/pages/statistics/statistics.tsx
Labels: admin-portal

#6476 feat: #6470 don't double save changes
  packages/developer-portal/src/components/pages/apps/page/__tests__/submit-review-modal.test.tsx
  packages/developer-portal/src/components/pages/apps/page/helper.tsx
  packages/developer-portal/src/components/pages/apps/page/submit-review-modal.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#6482 fix: envs for deployment
  packages/cli/src/commands/pipeline/list.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/src/functions/pipeline/codebuild-executor.ts
  packages/deployment-service/src/functions/pipeline/pipeline-setup.ts
  packages/deployment-service/src/functions/pipeline/pipeline-tear-down.ts
Labels: deployment-service, cli

#6486 feat: #6477 analytics filters
  packages/developer-portal/src/components/pages/analytics-v2/calculator/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics-v2/calculator/__tests__/index.test.tsx
  packages/developer-portal/src/components/pages/analytics-v2/calculator/index.tsx
  packages/developer-portal/src/components/pages/analytics-v2/calls/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics-v2/calls/__tests__/index.test.tsx
  packages/developer-portal/src/components/pages/analytics-v2/calls/index.tsx
  packages/developer-portal/src/components/pages/analytics-v2/costs/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics-v2/costs/__tests__/index.test.tsx
  packages/developer-portal/src/components/pages/analytics-v2/costs/index.tsx
  packages/developer-portal/src/components/pages/analytics-v2/index.tsx
  packages/developer-portal/src/components/pages/analytics-v2/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics-v2/installations/__tests__/index.test.tsx
  packages/developer-portal/src/components/pages/analytics-v2/installations/index.tsx
  packages/developer-portal/src/components/pages/analytics-v2/page/__styles__/index.ts
  packages/developer-portal/src/components/pages/analytics-v2/page/__tests__/__snapshots__/controls.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics-v2/page/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics-v2/page/__tests__/controls.test.tsx
  packages/developer-portal/src/components/pages/analytics-v2/page/__tests__/index.test.tsx
  packages/developer-portal/src/components/pages/analytics-v2/page/controls.tsx
  packages/developer-portal/src/components/pages/analytics-v2/page/index.tsx
  packages/developer-portal/src/components/pages/analytics-v2/state/__mocks__/use-analytics-state.tsx
  packages/developer-portal/src/components/pages/analytics-v2/state/__tests__/__snapshots__/use-analytics-state.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics-v2/state/__tests__/use-analytics-state.test.tsx
  packages/developer-portal/src/components/pages/analytics-v2/state/defaults.ts
  packages/developer-portal/src/components/pages/analytics-v2/state/use-analytics-state.tsx
  packages/developer-portal/src/constants/pages.ts
  packages/developer-portal/src/constants/routes.ts
  packages/developer-portal/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/developer-portal/src/core/router.tsx
  packages/developer-portal/src/tests/__stubs__/installations.ts
  packages/elements/src/components/multi-select/multi-select.tsx
Labels: elements, developer-portal

#6488 feat: #6457 pipeline navigation refactor and updatable
  packages/cli/src/commands/pipeline/create.ts
  packages/cli/src/commands/pipeline/edit.ts
  packages/cli/src/commands/pipeline/index.ts
  packages/cli/src/commands/release/index.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/serialise-pipeline.ts
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/app-pipeline.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/edit-page-tabs.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/edit-page-tabs.test.tsx
  packages/developer-portal/src/components/pages/apps/edit/edit-page-tabs.tsx
  packages/developer-portal/src/components/pages/apps/edit/index.tsx
  packages/developer-portal/src/components/pages/apps/edit/pipeline-info.tsx
  packages/developer-portal/src/components/pages/apps/page/index.tsx
  packages/developer-portal/src/components/pages/apps/pipeline/__tests__/__snapshots__/app-pipeline.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/pipeline/__tests__/__snapshots__/create-pipeline.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/pipeline/__tests__/__snapshots__/deployment-info.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/pipeline/__tests__/__snapshots__/pipeline-info.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/pipeline/__tests__/__snapshots__/pipeline-runner-table.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/pipeline/__tests__/app-pipeline.test.tsx
  packages/developer-portal/src/components/pages/apps/pipeline/__tests__/create-pipeline.test.tsx
  packages/developer-portal/src/components/pages/apps/pipeline/__tests__/deployment-info.test.tsx
  packages/developer-portal/src/components/pages/apps/pipeline/__tests__/pipeline-info.test.tsx
  packages/developer-portal/src/components/pages/apps/pipeline/__tests__/pipeline-runner-table.test.tsx
  packages/developer-portal/src/components/pages/apps/pipeline/app-pipeline.tsx
  packages/developer-portal/src/components/pages/apps/pipeline/create-pipeline.tsx
  packages/developer-portal/src/components/pages/apps/pipeline/deployment-info.tsx
  packages/developer-portal/src/components/pages/apps/pipeline/edit-pipeline.tsx
  packages/developer-portal/src/components/pages/apps/pipeline/pipeline-info-wrapper.tsx
  packages/developer-portal/src/components/pages/apps/pipeline/pipeline-info.tsx
  packages/developer-portal/src/components/pages/apps/pipeline/pipeline-runner-table.tsx
  packages/developer-portal/src/components/pages/apps/utils/get-current-page.ts
  packages/developer-portal/src/constants/routes.ts
  packages/developer-portal/src/core/index.tsx
  packages/developer-portal/src/types/global.d.ts
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/update.ts
Labels: developer-portal, cli, utils-common

#6501 fix: #6500 re-add timeouts
  packages/marketplace-management/src/components/ui/apps/app-toggle-visibility-section.tsx
  packages/marketplace-management/src/components/ui/offices/office-group-create.tsx
  packages/marketplace-management/src/components/ui/offices/offices-groups-tab.tsx
  packages/marketplace-management/src/components/ui/users/edit-user-group.tsx
  packages/marketplace-management/src/components/ui/users/user-groups-tab.tsx
  packages/marketplace-management/src/components/ui/users/users-tab.tsx
Labels: marketplace-management

#6526 [WIP] docs: workflow documentation
  packages/deployment-service/README.md
  packages/deployment-service/docker-compose.yml
  packages/deployment-service/docs/images/automated-flow.jpg
  packages/deployment-service/docs/images/build-statuses.jpg
  packages/deployment-service/docs/images/codebuild-update-handler.jpg
  packages/deployment-service/docs/images/provisioning-flow.jpg
  packages/deployment-service/docs/images/release-flow.jpg
Labels: deployment-service
