Repository reapit/foundations, pull requests merged in 2022-06, with the labels that each got.

#6993 fix: #6979 fix typo
  packages/cra-template-foundations/template/src/components/ui/examples/form-example.tsx
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements, cra-template-foundations, create-node-app-generator

#7003 chore: remove webhooks keys feature flag
  packages/developer-portal/src/components/webhooks/webhooks-edit-controls.tsx
Labels: developer-portal

#6973 feat: app builder header footer
  packages/app-builder-backend/jest.config.js
  packages/app-builder-backend/src/ddb.ts
  packages/app-builder-backend/src/eject/index.ts
  packages/app-builder-backend/src/entities/app.ts
  packages/app-builder-backend/src/resolvers/app-resolver.ts
  packages/app-builder/jest.config.js
  packages/app-builder/src/components/hooks/apps/__tests__/__snapshots__/node-helpers.test.ts.snap
  packages/app-builder/src/components/hooks/apps/__tests__/node-helpers.test.ts
  packages/app-builder/src/components/hooks/apps/fragments.ts
  packages/app-builder/src/components/hooks/apps/node-helpers.ts
  packages/app-builder/src/components/hooks/apps/use-update-app.ts
  packages/app-builder/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/app-builder/src/components/pages/home.tsx
  packages/app-builder/src/components/ui/header/PageSelector.tsx
  packages/app-builder/src/components/ui/render-node/index.tsx
  packages/app-builder/src/components/ui/user/create-page.tsx
  packages/app-builder/src/components/ui/user/ejectable/container.tsx
  packages/app-builder/src/components/ui/viewport/index.tsx
Labels: app-builder, app-builder-backend, app-market

#7004 feat: #7001 update persistent notification classes elements
  packages/data-warehouse/src/components/hocs/__tests__/__snapshots__/error-boundary.test.tsx.snap
  packages/developer-portal/src/components/api/__tests__/__snapshots__/api-page.test.tsx.snap
  packages/developer-portal/src/components/apps/detail/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-page.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-tasks-list.test.tsx.snap
  packages/developer-portal/src/components/desktop/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/register/terms-and-conditions-modal/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/settings/profile/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/settings/profile/__tests__/__snapshots__/profile-form.test.tsx.snap
  packages/developer-portal/src/components/swagger/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-about.test.tsx.snap
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-logs.test.tsx.snap
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-manage.test.tsx.snap
  packages/developer-portal/src/core/__tests__/__snapshots__/error-boundary.test.tsx.snap
  packages/developer-portal/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/elements/src/components/persistant-notification/__styles__/index.ts
  packages/elements/src/components/persistant-notification/persistent-notification.tsx
  packages/elements/src/components/persistent-notification/__styles__/index.ts
  packages/elements/src/components/persistent-notification/__tests__/__snapshots__/persistent-notification.test.tsx.snap
  packages/elements/src/components/persistent-notification/persistent-notification.tsx
  packages/elements/src/storybook/changelog.stories.mdx
  packages/marketplace/src/components/hocs/__tests__/__snapshots__/error-boundary.tsx.snap
  packages/marketplace/src/components/pages/apps/__tests__/__snapshots__/apps.test.tsx.snap
Labels: marketplace, elements, developer-portal, data-warehouse

#7008 feat: app builder nav
  packages/app-builder/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/app-builder/src/components/pages/home.tsx
  packages/app-builder/src/components/ui/__tests__/__snapshots__/sidebar.tsx.snap
  packages/app-builder/src/components/ui/__tests__/__snapshots__/toolbox.tsx.snap
  packages/app-builder/src/components/ui/toolbox.tsx
  packages/app-builder/src/components/ui/user/ejectable/__tests__/__snapshots__/navbar.test.tsx.snap
  packages/app-builder/src/components/ui/user/ejectable/__tests__/navbar.test.tsx
  packages/app-builder/src/components/ui/user/ejectable/link.tsx
  packages/app-builder/src/components/ui/user/ejectable/navbar.tsx
  packages/app-builder/src/components/ui/user/navbar.tsx
  packages/app-builder/src/components/ui/viewport/__tests__/__snapshots__/viewport.test.tsx.snap
Labels: app-builder, app-market

#7011 fix: #7005 fix uri display
  packages/developer-portal/src/components/apps/detail/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/detail/index.tsx
  packages/developer-portal/src/components/apps/page/__tests__/__snapshots__/index.test.tsx.snap
Labels: developer-portal

#7015 feat: app builder app rename
  packages/app-builder-backend/src/resolvers/app-resolver.ts
  packages/app-builder/src/components/hooks/apps/use-update-app.ts
  packages/app-builder/src/components/icons/navigation.tsx
  packages/app-builder/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/app-builder/src/components/ui/__tests__/__snapshots__/sidebar.tsx.snap
  packages/app-builder/src/components/ui/__tests__/__snapshots__/toolbox.tsx.snap
  packages/app-builder/src/components/ui/header/index.tsx
  packages/app-builder/src/components/ui/toolbox.tsx
  packages/app-builder/src/components/ui/viewport/__tests__/__snapshots__/viewport.test.tsx.snap
Labels: app-builder, app-builder-backend, app-market

#7019 feat: #6919 improve sentry logging
  .yarn/cache/@sentry-react-npm-6.19.7-4d512d897c-f49b74c617.zip
  .yarn/cache/@sentry-tracing-npm-6.19.7-afb16e2fe4-26e7bf435f.zip
  packages/developer-portal/package.json
  packages/developer-portal/src/core/__tests__/__snapshots__/error-boundary.test.tsx.snap
  packages/developer-portal/src/core/error-boundary.tsx
  packages/developer-portal/src/core/index.tsx
  packages/utils-common/src/reapit-data/__tests__/get-fetcher.test.ts
  packages/utils-common/src/reapit-data/get-fetcher.ts
  packages/utils-react/src/logger/__tests__/index.test.ts
  packages/utils-react/src/logger/index.ts
  packages/utils-react/src/use-reapit-data/use-reapit-update.ts
  yarn.lock
Labels: developer-portal, dependencies, utils-common, utils-react

#7020 fix: pusher developer id of pipeline
  packages/deployment-service/src/events/pusher-webhook-controller.ts
  packages/deployment-service/src/pipeline-runner/pipeline-runner-provider.ts
  packages/developer-portal/src/components/apps/pipeline/pipeline-deployments-table.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
Labels: developer-portal, deployment-service

#7021 fix: added bad request excep for no socket id on pusher auth
  packages/deployment-service/src/events/pusher-webhook-controller.ts
Labels: deployment-service

#7030 fix: custom resource hopefully fires on properties change
  packages/deployment-service/cdk/cdk.ts
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/ts-scripts/src/cdk/components/stack-event-handler.ts
Labels: ts-scripts, deployment-service

#7043 feat: #7022 pipeline fixes
  packages/developer-portal/src/components/analytics/costs/services-table.tsx
  packages/developer-portal/src/components/analytics/costs/usage-table.tsx
  packages/developer-portal/src/components/api/__tests__/__snapshots__/api-page.test.tsx.snap
  packages/developer-portal/src/components/apps/detail/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/detail/index.tsx
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/index.tsx
  packages/developer-portal/src/components/apps/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/installations/index.tsx
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-deployments-table.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-page.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-tasks-list.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/pipeline-controls.test.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-controls.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-page.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-tasks-list.tsx
  packages/developer-portal/src/components/desktop/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/register/index.tsx
  packages/developer-portal/src/components/register/terms-and-conditions-modal/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/register/terms-and-conditions-modal/index.tsx
  packages/developer-portal/src/components/settings/profile/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/settings/profile/__tests__/__snapshots__/profile-form.test.tsx.snap
  packages/developer-portal/src/components/settings/profile/profile-form.tsx
  packages/developer-portal/src/components/settings/subscriptions/index.tsx
  packages/developer-portal/src/components/swagger/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/swagger/index.tsx
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-about.test.tsx.snap
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-logs.test.tsx.snap
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-manage.test.tsx.snap
  packages/developer-portal/src/components/webhooks/webhook-ping-form.tsx
  packages/developer-portal/src/components/webhooks/webhooks-about.tsx
  packages/developer-portal/src/components/webhooks/webhooks-logs.tsx
  packages/developer-portal/src/components/webhooks/webhooks-manage-form.tsx
  packages/developer-portal/src/components/webhooks/webhooks-manage.tsx
  packages/developer-portal/src/components/webhooks/webhooks-new-app.tsx
  packages/developer-portal/src/core/__tests__/__snapshots__/error-boundary.test.tsx.snap
  packages/developer-portal/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/developer-portal/src/core/error-boundary.tsx
  packages/developer-portal/src/core/router.tsx
Labels: developer-portal

#7044 feat: app builder resizing
  packages/app-builder/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/app-builder/src/components/ui/viewport/__tests__/__snapshots__/viewport.test.tsx.snap
  packages/app-builder/src/components/ui/viewport/index.tsx
Labels: app-builder, app-market

#7049 feat: #4239 dev portal permission consents
  packages/developer-portal/src/components/apps/consents/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/consents/__tests__/index.test.tsx
  packages/developer-portal/src/components/apps/consents/index.tsx
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/app-edit-form.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/__tests__/app-edit-form.test.tsx
  packages/developer-portal/src/components/apps/edit/app-edit-form.tsx
  packages/developer-portal/src/components/apps/page/__tests__/__snapshots__/helper.test.tsx.snap
  packages/developer-portal/src/components/apps/page/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/page/__tests__/helper.test.tsx
  packages/developer-portal/src/components/apps/page/__tests__/index.test.tsx
  packages/developer-portal/src/components/apps/page/helper.tsx
  packages/developer-portal/src/components/apps/page/index.tsx
  packages/developer-portal/src/components/apps/state/__mocks__/use-app-state.tsx
  packages/developer-portal/src/components/apps/state/use-app-state.tsx
  packages/developer-portal/src/components/apps/utils/__tests__/consents.test.ts
  packages/developer-portal/src/components/apps/utils/consents.ts
  packages/developer-portal/src/components/apps/utils/get-current-page.ts
  packages/developer-portal/src/constants/routes.ts
  packages/developer-portal/src/tests/__stubs__/consents.ts
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/get.ts
  packages/utils-common/src/reapit-data/actions/update.ts
Labels: developer-portal, utils-common

#7053 feat: app builder remove unused backend stuff
  packages/app-builder-backend/src/entities/author.ts
  packages/app-builder-backend/src/entities/book.ts
  packages/app-builder-backend/src/entities/genre.ts
  packages/app-builder-backend/src/get-schema.ts
  packages/app-builder-backend/src/platform/books.ts
  packages/app-builder-backend/src/platform/index.ts
  packages/app-builder-backend/src/resolvers/author-resolver.ts
  packages/app-builder-backend/src/resolvers/book-resolver.ts
Labels: app-builder-backend

#7051 feat: #4670 adds accept permission changes
  packages/marketplace/src/components/pages/accept-permission-change/__tests__/__snapshots__/index.test.tsx.snap
  packages/marketplace/src/components/pages/accept-permission-change/__tests__/index.test.tsx
  packages/marketplace/src/components/pages/accept-permission-change/index.tsx
  packages/marketplace/src/constants/routes.ts
  packages/marketplace/src/core/router.tsx
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/update.ts
Labels: marketplace, utils-common

#7031 fix: #7023 fix bitbucket addon repo access for UI deploy
  packages/deployment-service/migrations/1654693666828-pipelineBitbucketRelation.ts
  packages/deployment-service/migrations/index.ts
  packages/deployment-service/src/app-module.ts
  packages/deployment-service/src/bitbucket/bitbucket-provider.ts
  packages/deployment-service/src/bitbucket/bitbucket-webhook-controller.ts
  packages/deployment-service/src/codebuild/codebuild-executor-workflow.ts
  packages/deployment-service/src/codebuild/codebuild-pipeline-updater-event-handler.ts
  packages/deployment-service/src/codebuild/source-provider.ts
  packages/deployment-service/src/entities/bitbucket-client.entity.ts
  packages/deployment-service/src/entities/pipeline-runner.entity.ts
  packages/deployment-service/src/entities/pipeline.entity.ts
  packages/deployment-service/src/pipeline/pipeline-provider.ts
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-info.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-page.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/pipeline-configure.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
  packages/foundations-ts-definitions/deployment-schema/index.ts
Labels: bug, developer-portal, iaas, deployment-service, foundations-ts-definitions

#7057 feat: #4669 admin consents management
  packages/admin-portal/src/components/ui/approval-modal/__tests__/approval-modal.test.tsx
  packages/admin-portal/src/components/ui/approval-modal/approval-modal.tsx
  packages/developer-portal/src/components/apps/consents/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/consents/__tests__/index.test.tsx
  packages/developer-portal/src/components/apps/consents/index.tsx
  packages/developer-portal/src/components/apps/edit/__tests__/app-edit-form.test.tsx
  packages/developer-portal/src/components/apps/edit/app-edit-form.tsx
  packages/developer-portal/src/components/apps/page/index.tsx
  packages/developer-portal/src/components/apps/state/__mocks__/use-app-state.tsx
  packages/developer-portal/src/components/apps/state/use-app-state.tsx
  packages/developer-portal/src/components/apps/utils/__tests__/consents.test.ts
  packages/developer-portal/src/components/apps/utils/consents.ts
Labels: admin-portal, developer-portal

#7062 fix: #7023 fix bitbucket addon repo access for UI deploy
  packages/deployment-service/src/auth/api-key-provider.ts
  packages/deployment-service/src/deployment/__test__/deploy-provider.test.ts
  packages/deployment-service/src/entities/pipeline.entity.ts
  packages/deployment-service/src/pipeline/pipeline-controller.ts
  packages/deployment-service/src/pipeline/pipeline-dto.ts
  packages/deployment-service/src/pipeline/pipeline-teardown-start-workflow.ts
  packages/deployment-service/src/pipeline/pipeline-teardown-workflow.ts
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-controls.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/pipeline-controls.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
  packages/foundations-ts-definitions/deployment-schema/index.ts
Labels: developer-portal, deployment-service, foundations-ts-definitions

#7064 feat: additional pipeline event updates
  packages/deployment-service/src/bitbucket/bitbucket-provider.ts
  packages/deployment-service/src/bitbucket/bitbucket-webhook-controller.ts
  packages/deployment-service/src/events/pusher-provider.ts
  packages/deployment-service/src/github/github-webhook-controller.ts
  packages/deployment-service/src/pipeline/pipeline-provider.ts
Labels: deployment-service

#7072 feat: remove is string validation from url
  packages/deployment-service/src/pipeline/pipeline-dto.ts
Labels: deployment-service

#7080 feat: #7078 update consents flow
  packages/admin-portal/src/components/ui/app-revision-comparison/app-revision-comparison.tsx
  packages/developer-portal/src/components/apps/edit/app-edit-form.tsx
  packages/developer-portal/src/components/apps/page/__tests__/__snapshots__/helper.test.tsx.snap
  packages/developer-portal/src/components/apps/page/helper.tsx
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-controls.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/pipeline-configure.test.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-configure.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-controls.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-environment.tsx
  packages/developer-portal/src/utils/navigation.ts
Labels: admin-portal, developer-portal

#7081 feat: refactored to handle multiple repositories
  packages/deployment-service/src/github/github-webhook-controller.ts
Labels: deployment-service

#7085 fix: revert api keys management location
  packages/developer-portal/src/components/apps/page/__tests__/__snapshots__/helper.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-api-keys.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-configure.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-controls.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-info.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-new.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-page.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-tabs.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/pipeline-api-keys.test.tsx
  packages/developer-portal/src/components/apps/pipeline/__tests__/pipeline-controls.test.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-api-keys.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-controls.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-page.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-tabs.tsx
  packages/developer-portal/src/constants/routes.ts
Labels: developer-portal

#7086 fix: moved spread to replace existing config
  packages/deployment-service/src/pipeline/pipeline-controller.ts
Labels: deployment-service

#7083 feat: additional unit tests
  packages/deployment-service/src/pipeline/__test__/parameter-provider.test.ts
  packages/deployment-service/src/pipeline/__test__/pipeline-controller.test.ts
  packages/deployment-service/src/pipeline/__test__/pipeline-setup-workflow.test.ts
  packages/deployment-service/src/pipeline/pipeline-setup-workflow.ts
Labels: deployment-service

#7091 fix: resolved version from id instead of build version
  packages/cli/src/commands/pipeline/__tests__/create.test.ts
  packages/cli/src/commands/pipeline/__tests__/edit.test.ts
  packages/cli/src/commands/release/version.ts
Labels: cli

#7092 fix: corrected pipeline status updates
  packages/deployment-service/src/app-event/app-event-workflow.ts
  packages/deployment-service/src/pipeline-runner/pipeline-runner-controller.ts
Labels: deployment-service

#7094 refactor: removed comment block for update prompt
  packages/cli/package.json
  packages/cli/src/commands/check-version.ts
  packages/cli/src/index.ts
Labels: cli

#7095 docs: corrected image paths and added param commands
  packages/cli/README.md
  packages/cli/package.json
Labels: cli

#7105 fix: added bitbucketId column for exposing to frontend
  packages/deployment-service/src/entities/pipeline.entity.ts
Labels: deployment-service

#7109 feat: app builder customise inputs
  packages/app-builder/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/app-builder/src/components/ui/__tests__/__snapshots__/sidebar.tsx.snap
  packages/app-builder/src/components/ui/components.tsx
  packages/app-builder/src/components/ui/sidebar-item/__tests__/__snapshots__/sidebar-item.test.tsx.snap
  packages/app-builder/src/components/ui/sidebar-item/styles.ts
  packages/app-builder/src/components/ui/toolbar/__tests__/__snapshots__/toolbar-dropdown.test.tsx.snap
  packages/app-builder/src/components/ui/toolbar/__tests__/__snapshots__/toolbar-item.test.tsx.snap
  packages/app-builder/src/components/ui/toolbar/__tests__/__snapshots__/toolbar-section.test.tsx.snap
  packages/app-builder/src/components/ui/toolbar/__tests__/__snapshots__/toolbar-text-input.test.tsx.snap
  packages/app-builder/src/components/ui/toolbar/__tests__/__snapshots__/toolbar.test.tsx.snap
  packages/app-builder/src/components/ui/toolbar/__tests__/toolbar-dropdown.test.tsx
  packages/app-builder/src/components/ui/toolbar/__tests__/toolbar-section.test.tsx
  packages/app-builder/src/components/ui/toolbar/index.tsx
  packages/app-builder/src/components/ui/toolbar/toolbar-checkbox.tsx
  packages/app-builder/src/components/ui/toolbar/toolbar-dropdown.tsx
  packages/app-builder/src/components/ui/toolbar/toolbar-item.tsx
  packages/app-builder/src/components/ui/toolbar/toolbar-section.tsx
  packages/app-builder/src/components/ui/toolbar/toolbar-text-input.tsx
  packages/app-builder/src/components/ui/toolbar/types.ts
  packages/app-builder/src/components/ui/user/container.tsx
  packages/app-builder/src/components/ui/user/context.tsx
  packages/app-builder/src/components/ui/user/create-page.tsx
  packages/app-builder/src/components/ui/user/form-input.tsx
  packages/app-builder/src/components/ui/user/form.tsx
  packages/app-builder/src/components/ui/user/link.tsx
  packages/app-builder/src/components/ui/user/navbar.tsx
  packages/app-builder/src/components/ui/user/table.tsx
  packages/app-builder/src/components/ui/user/text.tsx
  packages/app-builder/src/components/ui/user/type-list.tsx
  packages/app-builder/src/components/ui/viewport/__tests__/__snapshots__/viewport.test.tsx.snap
  packages/elements/src/components/table/table.tsx
Labels: elements, app-builder, app-market

#7114 feat: additional deployment service units codebuild
  packages/deployment-service/src/codebuild/__test__/codebuild-deploy-workflow.test.ts
  packages/deployment-service/src/codebuild/__test__/codebuild-executor-workflow.test.ts
  packages/deployment-service/src/codebuild/__test__/codebuild-pipeline-updater-event-handler.test.ts
  packages/deployment-service/src/codebuild/codebuild-deploy-workflow.ts
  packages/deployment-service/src/codebuild/codebuild-executor-workflow.ts
  packages/deployment-service/src/codebuild/module.ts
Labels: deployment-service

#7115 feat: added bibucket webhook tests
  packages/deployment-service/src/bitbucket/__test__/bitbucket-webhook-controller.test.ts
  packages/deployment-service/src/bitbucket/bitbucket-webhook-controller.ts
Labels: deployment-service

#7116 fix: marketplace text change
  packages/marketplace/src/components/pages/accept-permission-change/__tests__/__snapshots__/index.test.tsx.snap
  packages/marketplace/src/components/pages/accept-permission-change/__tests__/index.test.tsx
  packages/marketplace/src/components/pages/accept-permission-change/index.tsx
Labels: marketplace

#7117 feat: added github webhook tests
  packages/deployment-service/src/github/__test__/github-webhook-controller.test.ts
Labels: deployment-service

#7119 feat: added app event tests
  packages/deployment-service/src/app-event/__test__/app-event-workflow.test.ts
  packages/deployment-service/src/app-event/app-event-workflow.ts
Labels: deployment-service

#7137 fix: rpt-cdk remove excess args
  packages/ts-scripts/src/cdk/bin/rpt-cdk.ts
Labels: ts-scripts

#7139 fix: mv @reapit/app-builder app-builder
  packages/app-builder-backend/package.json
  packages/app-builder/package.json
  yarn.lock
Labels: app-builder, app-builder-backend, app-market

#7142 fix: ts-bundler workspace non-namespaced deps
  packages/ts-bundler/src/workspace-deps.ts
  packages/ts-bundler/src/yarn-lock.ts
Labels: ts-bundler

#7143 fix: rpt-cdk scriptName
  packages/ts-scripts/src/cdk/bin/rpt-cdk.ts
Labels: ts-scripts

#7145 fix: update release-prod.yml
  .github/workflows/release-prod.yml
Labels: infra

#7152 fix: viewing apps
  packages/app-builder-backend/src/ddb.ts
  packages/app-builder-backend/src/index.ts
  packages/app-builder-backend/src/lambda.ts
  packages/app-builder-backend/src/resolvers/__tests__/applicant-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/appointment-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/company-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/contact-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/negotiator-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/offer-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/office-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/property-image-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/property-resolver.test.ts
  packages/app-builder-backend/src/resolvers/app-resolver.ts
  packages/app-builder-backend/src/types.ts
  packages/app-builder/src/components/hooks/connect-session.ts
  packages/app-builder/src/components/pages/app-select.tsx
  packages/app-builder/src/components/pages/app-view.tsx
  packages/app-builder/src/components/ui/render-node/__tests__/__snapshots__/render-node.test.tsx.snap
  packages/app-builder/src/components/ui/render-node/add-container.tsx
  packages/app-builder/src/components/ui/render-node/index.tsx
  packages/app-builder/src/components/ui/render-node/styles.ts
  packages/app-builder/src/components/ui/user/ejectable/container.tsx
  packages/app-builder/src/components/ui/user/ejectable/index.tsx
  packages/app-builder/src/components/ui/user/ejectable/link.tsx
  packages/app-builder/src/components/ui/user/ejectable/navigation.tsx
  packages/app-builder/src/core/__tests__/connect-session.test.tsx
  packages/app-builder/src/core/app.tsx
  packages/app-builder/src/core/connect-session.tsx
  packages/app-builder/src/core/graphql-client.tsx
  packages/app-builder/src/core/private-route-wrapper.tsx
  packages/app-builder/src/core/router.tsx
  packages/app-builder/webpack.config.js
Labels: app-builder, app-builder-backend, app-market

#7164 fix: remove trailing slash from redirect uris when creating app
  packages/app-builder-backend/src/resolvers/app-resolver.ts
Labels: app-builder-backend

#7172 feat: #7166 adds login and app tiles
  packages/app-builder/src/assets/images/reapit-logo.svg
  packages/app-builder/src/components/pages/__tests__/__snapshots__/app-select.test.tsx.snap
  packages/app-builder/src/components/pages/app-select.tsx
  packages/app-builder/src/components/pages/login/__styles__/index.ts
  packages/app-builder/src/components/pages/login/__tests__/__snapshots__/index.test.tsx.snap
  packages/app-builder/src/components/pages/login/__tests__/index.test.tsx
  packages/app-builder/src/components/pages/login/index.tsx
  packages/app-builder/src/components/ui/nav/__tests__/__snapshots__/nav.test.tsx.snap
  packages/app-builder/src/components/ui/nav/__tests__/nav.test.tsx
  packages/app-builder/src/components/ui/nav/index.ts
  packages/app-builder/src/components/ui/nav/nav.tsx
  packages/app-builder/src/core/router.tsx
  packages/app-builder/src/tests/react-testing.tsx
  packages/app-builder/webpack.config.js
Labels: app-builder, app-market

#7174 feat: #7133 adds elements table modifier
  packages/developer-portal/src/components/analytics/calculator/__tests__/__snapshots__/results-table.test.tsx.snap
  packages/developer-portal/src/components/analytics/costs/__tests__/__snapshots__/download-resources-table.test.tsx.snap
  packages/developer-portal/src/components/analytics/costs/__tests__/__snapshots__/services-table.test.tsx.snap
  packages/developer-portal/src/components/analytics/costs/__tests__/__snapshots__/usage-table.test.tsx.snap
  packages/developer-portal/src/components/apps/consents/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-api-keys.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-deployments-table.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-info.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-page.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-tasks-list.test.tsx.snap
  packages/developer-portal/src/components/iaas/__tests__/__snapshots__/pipeline-row.test.tsx.snap
  packages/developer-portal/src/components/register/terms-and-conditions-modal/__tests__/__snapshots__/consumption-cost-methodology-table.test.tsx.snap
  packages/developer-portal/src/components/register/terms-and-conditions-modal/__tests__/__snapshots__/consumption-cost-types-table.test.tsx.snap
  packages/developer-portal/src/components/register/terms-and-conditions-modal/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/register/terms-and-conditions-modal/__tests__/__snapshots__/schedule-two.test.tsx.snap
  packages/developer-portal/src/components/settings/members/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/settings/subscriptions/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-logs.test.tsx.snap
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-manage.test.tsx.snap
  packages/elements/src/components/table/__styles__/index.ts
  packages/elements/src/components/table/table.stories.mdx
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements, developer-portal

#7181 fix: #6927 align shared entities
  .yarn/cache/graphql-iso-date-npm-3.6.1-bbab129ea7-829d1a2697.zip
  packages/app-builder-backend/package.json
  packages/app-builder-backend/src/entities/applicant.ts
  packages/app-builder-backend/src/entities/appointments.ts
  packages/app-builder-backend/src/entities/company.ts
  packages/app-builder-backend/src/entities/contact.ts
  packages/app-builder-backend/src/entities/negotiator.ts
  packages/app-builder-backend/src/entities/offer.ts
  packages/app-builder-backend/src/entities/property.ts
  packages/app-builder-backend/src/get-schema.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-offer.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-offers.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-properties.ts
  packages/app-builder-backend/src/resolvers/__mocks__/mock-property.ts
  packages/app-builder-backend/src/resolvers/__tests__/applicant-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/appointment-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/company-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/contact-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/negotiator-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/offer-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/office-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/property-image-resolver.test.ts
  packages/app-builder-backend/src/resolvers/__tests__/property-resolver.test.ts
  packages/app-builder-backend/src/resolvers/applicant-resolver.ts
  packages/app-builder-backend/src/resolvers/appointment-resolver.ts
  packages/app-builder-backend/src/resolvers/company-resolver.ts
  packages/app-builder-backend/src/resolvers/contact-resolver.ts
  packages/app-builder-backend/src/resolvers/key-resolver.ts
  packages/app-builder-backend/src/resolvers/key-type-resolver.ts
  packages/app-builder-backend/src/resolvers/offer-resolver.ts
  packages/app-builder-backend/src/resolvers/property-resolver.ts
  yarn.lock
Labels: dependencies, app-builder-backend
