Repository reapit/foundations, pull requests merged in 2022-09, with the labels that each got.

#7579 feat: remove hard-coded cognito reference
  packages/connect-session/src/browser/index.ts
  packages/connect-session/src/types.ts
  packages/connect-session/src/utils/verify-decode-id-token.ts
Labels: connect-session

#7636 fix: adds missing ts-loaders
  packages/mailer-service/package.json
  packages/payments-service/package.json
  yarn.lock
Labels: mailer-service, payments-service

#7638 [Snyk] Upgrade @reapit/elements from 3.9.0 to 3.9.2
  packages/geo-diary-marketing/package.json
Labels: geo-diary-marketing

#7652 feat: #7608 add do not track banner app market
  packages/app-market/src/components/settings/__tests__/__snapshots__/settings-profile.test.tsx.snap
  packages/app-market/src/components/settings/__tests__/settings-profile.test.tsx
  packages/app-market/src/components/settings/settings-profile.tsx
  packages/app-market/src/core/__mocks__/use-apps-browse-state.tsx
  packages/app-market/src/core/__styles__/index.ts
  packages/app-market/src/core/__tests__/__snapshots__/analytics-banner.test.tsx.snap
  packages/app-market/src/core/__tests__/analytics-banner.test.tsx
  packages/app-market/src/core/__tests__/analytics.test.tsx
  packages/app-market/src/core/analytics-banner.tsx
  packages/app-market/src/core/analytics.ts
  packages/app-market/src/core/index.tsx
  packages/app-market/src/core/private-route-wrapper.tsx
  packages/app-market/src/core/use-apps-browse-state.tsx
  packages/app-market/src/tests/__stubs__/user.ts
  packages/foundations-ts-definitions/scripts/fetch-definitions.js
  packages/foundations-ts-definitions/types/index.ts
  packages/foundations-ts-definitions/types/organisations-schema.ts
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/get.ts
  packages/utils-common/src/reapit-data/actions/update.ts
Labels: foundations-ts-definitions, utils-common

#7657 feat: graphql schema generation from swagger doc example
  .yarn/cache/@types-graphql-npm-14.5.0-2018ec7160-8f6e3873a7.zip
  .yarn/cache/express-graphql-npm-0.12.0-0ae188e52e-c1417718ed.zip
  .yarn/cache/graphql-npm-16.6.0-301c470966-bf1d9e3c19.zip
  .yarn/cache/http-errors-npm-1.8.0-4399ea3b8d-873d997bad.zip
  .yarn/cache/json-schema-ref-parser-npm-7.1.4-948f9e347a-690252bb1e.zip
  .yarn/cache/ono-npm-6.0.1-088f000ca0-182db954b7.zip
  .yarn/cache/swagger-to-graphql-npm-4.0.2-e4ba79b9a3-88f32318e5.zip
  .yarn/cache/yargs-npm-14.2.3-b84ca3cee2-684fcb1896.zip
  .yarn/cache/yargs-parser-npm-15.0.3-e79e7aa32c-06611c1893.zip
  packages/graphql-server/example.json
  packages/graphql-server/package.json
  packages/graphql-server/src/generate.ts
  yarn.lock
Labels: graphql-server, dependencies

#7664 chore: remove console.log
  packages/developer-portal/src/components/apps/new/index.tsx
Labels: developer-portal

#7678 fix: rebuild auto reply bot
  packages/auto-reply-bot/action/index.js
Labels: auto-reply-bot

#7695 feat: #7635 admin refactor two
  packages/admin-portal/src/actions/__tests__/app-delete.ts
  packages/admin-portal/src/actions/__tests__/apps-management.ts
  packages/admin-portal/src/actions/app-delete.ts
  packages/admin-portal/src/actions/apps-management.ts
  packages/admin-portal/src/actions/subscriptions.ts
  packages/admin-portal/src/components/apps/__styles__/index.ts
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/check-aws-button.test.tsx.snap
  packages/admin-portal/src/components/apps/__tests__/check-aws-button.test.tsx
  packages/admin-portal/src/components/apps/apps-table.tsx
  packages/admin-portal/src/components/apps/check-aws-button.tsx
  packages/admin-portal/src/components/apps/filter-form.tsx
  packages/admin-portal/src/components/apps/index.tsx
  packages/admin-portal/src/components/hocs/__tests__/__snapshots__/error-boundary.test.tsx.snap
  packages/admin-portal/src/components/hocs/error-boundary.tsx
  packages/admin-portal/src/components/pages/apps-management/__tests__/__snapshots__/apps-management.test.tsx.snap
  packages/admin-portal/src/components/pages/apps-management/__tests__/apps-management.test.tsx
  packages/admin-portal/src/components/pages/apps-management/apps-management.tsx
  packages/admin-portal/src/components/pages/apps-management/index.ts
  packages/admin-portal/src/components/pages/devs-management/devs-management.tsx
  packages/admin-portal/src/components/subscriptions/__tests__/__snapshots__/create-subscriptions.test.tsx.snap
  packages/admin-portal/src/components/subscriptions/__tests__/create-subscriptions.test.tsx
  packages/admin-portal/src/components/subscriptions/create-subscriptions.tsx
  packages/admin-portal/src/components/ui/app-delete/__styles__/index.ts
  packages/admin-portal/src/components/ui/app-delete/__tests__/__snapshots__/app-delete.tsx.snap
  packages/admin-portal/src/components/ui/app-delete/__tests__/app-delete.tsx
  packages/admin-portal/src/components/ui/app-delete/app-delete.tsx
  packages/admin-portal/src/components/ui/app-delete/index.ts
  packages/admin-portal/src/components/ui/consents/index.tsx
  packages/admin-portal/src/components/ui/create-subscriptions/create-subscriptions-button.tsx
  packages/admin-portal/src/core/router.tsx
  packages/admin-portal/src/core/store.ts
  packages/admin-portal/src/reducers/__tests__/apps/app-delete.ts
  packages/admin-portal/src/reducers/__tests__/apps/list.test.ts
  packages/admin-portal/src/reducers/apps/delete-form-state.ts
  packages/admin-portal/src/reducers/apps/index.ts
  packages/admin-portal/src/reducers/apps/list.ts
  packages/admin-portal/src/sagas/apps/__tests__/app-delete.ts
  packages/admin-portal/src/sagas/apps/__tests__/apps-management.ts
  packages/admin-portal/src/sagas/apps/app-delete.ts
  packages/admin-portal/src/sagas/apps/apps-management.ts
  packages/admin-portal/src/sagas/apps/index.ts
  packages/admin-portal/src/sagas/statistics/statistics.ts
  packages/admin-portal/src/selector/__tests__/app-delete.test.ts
  packages/admin-portal/src/selector/admin.ts
  packages/admin-portal/src/selector/app-delete.ts
  packages/admin-portal/src/services/apps.ts
  packages/admin-portal/src/utils/route-dispatcher.ts
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/update.ts
  packages/utils-react/src/use-reapit-data/list-to-batch-query.ts
Labels: admin-portal, utils-common, utils-react

#7738 fix: #7735 fixes user pagination mm app
  packages/marketplace-management/src/components/hocs/__tests__/__snapshots__/error-boundary.test.tsx.snap
  packages/marketplace-management/src/components/hocs/error-boundary.tsx
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/access-denied.test.tsx.snap
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/marketplace-app.test.tsx.snap
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/marketplace.test.tsx.snap
  packages/marketplace-management/src/components/pages/access-denied.tsx
  packages/marketplace-management/src/components/pages/marketplace-app.tsx
  packages/marketplace-management/src/components/pages/marketplace.tsx
  packages/marketplace-management/src/components/ui/apps/__tests__/__snapshots__/app-card.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/app-card.tsx
  packages/marketplace-management/src/components/ui/offices/__tests__/__snapshots__/offices-groups-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/offices/__tests__/__snapshots__/offices-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/offices/office-group-create.tsx
  packages/marketplace-management/src/components/ui/offices/office-group-edit-form.tsx
  packages/marketplace-management/src/components/ui/offices/offices-groups-tab.tsx
  packages/marketplace-management/src/components/ui/offices/offices-tab.tsx
  packages/marketplace-management/src/components/ui/users/__tests_/__snapshots__/user-groups-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/users/__tests_/__snapshots__/users-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/users/edit-user-group.tsx
  packages/marketplace-management/src/components/ui/users/edit-user.tsx
  packages/marketplace-management/src/components/ui/users/user-groups-tab.tsx
  packages/marketplace-management/src/components/ui/users/users-tab.tsx
Labels: marketplace-management

#7739 fix: #7735 mm app pagination fix
  packages/marketplace-management/src/components/ui/users/__tests_/__snapshots__/users-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/users/users-tab.tsx
Labels: marketplace-management

#7732 chore: #7713 remove timeouts for web apps in desktop mode
  packages/connect-session/src/browser/__tests__/index.test.ts
  packages/connect-session/src/browser/index.ts
Labels: connect-session

#7734 fix: #7726 #7711 #7690 app market visual fixes
  packages/app-market/src/components/apps-browse/__styles__/featured-hero-apps.ts
  packages/app-market/src/components/apps-browse/__styles__/hero-apps.ts
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/apps-detail.test.tsx.snap
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/index.test.tsx.snap
  packages/app-market/src/components/apps-detail/apps-detail.tsx
  packages/elements/src/components/card/__styles__/index.ts
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements

#7744 feat: #6861 admin billing
  packages/admin-portal/src/components/billing/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/billing/__tests__/index.test.tsx
  packages/admin-portal/src/components/billing/index.tsx
Labels: admin-portal

#7749 feat: #7684 admin apps page
  packages/admin-portal/src/components/apps/apps-table.tsx
  packages/admin-portal/src/components/apps/filter-form.tsx
  packages/admin-portal/src/components/apps/index.tsx
  packages/admin-portal/src/components/statistics/index.tsx
Labels: admin-portal

#7752 feat: #7685 admin devs page
  packages/admin-portal/src/components/developers/apps-table.tsx
  packages/admin-portal/src/components/developers/developers-table.tsx
  packages/admin-portal/src/components/developers/filter-form.tsx
  packages/admin-portal/src/components/developers/members-table.tsx
Labels: admin-portal

#7759 feat: #6161 adds iaas admin
  packages/admin-portal/src/components/approvals/app-revision-comparison/app-revision-comparison.tsx
  packages/admin-portal/src/components/developers/developers-table.tsx
  packages/admin-portal/src/components/iaas/__tests__/__snapshots__/iaas.test.tsx.snap
  packages/admin-portal/src/components/iaas/__tests__/iaas.test.tsx
  packages/admin-portal/src/components/iaas/index.tsx
  packages/admin-portal/src/components/menu/__tests__/__snapshots__/menu.test.tsx.snap
  packages/admin-portal/src/components/menu/__tests__/menu.test.tsx
  packages/admin-portal/src/components/menu/menu.tsx
  packages/admin-portal/src/constants/routes.ts
  packages/admin-portal/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/admin-portal/src/core/router.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-deployments-table.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-tasks-list.tsx
  packages/developer-portal/src/components/iaas/pipeline-row.tsx
  packages/elements/src/components/file-input/file-input.tsx
  packages/elements/src/components/input/input.tsx
  packages/elements/src/components/multi-select/multi-select.tsx
  packages/elements/src/components/select/select.tsx
  packages/elements/src/components/textarea/textarea.tsx
  packages/elements/src/components/toggle/toggle.tsx
  packages/graphql-server/src/schema.graphql
  packages/graphql-server/tsconfig.json
  packages/utils-common/src/index.ts
  packages/utils-common/src/pipeline-helpers/__tests__/index.test.ts
  packages/utils-common/src/pipeline-helpers/index.ts
Labels: elements, graphql-server, admin-portal, developer-portal, utils-common

#7777 feat: #7723 adds permissions admin
  packages/admin-portal/src/components/approvals/app-revision-comparison/app-revision-comparison.tsx
  packages/admin-portal/src/components/approvals/index.tsx
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/check-aws-button.test.tsx.snap
  packages/admin-portal/src/components/apps/apps-table.tsx
  packages/admin-portal/src/components/apps/check-aws-button.tsx
  packages/admin-portal/src/components/consents/index.tsx
  packages/admin-portal/src/components/developers/developers-table.tsx
  packages/admin-portal/src/components/developers/members-table.tsx
  packages/admin-portal/src/components/iaas/index.tsx
  packages/admin-portal/src/components/subscriptions/create-subscriptions.tsx
  packages/admin-portal/src/components/subscriptions/index.tsx
  packages/admin-portal/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/admin-portal/src/core/__tests__/private-route-wrapper.tsx
  packages/admin-portal/src/core/index.tsx
  packages/admin-portal/src/core/private-route-wrapper.tsx
  packages/admin-portal/src/core/private-route.tsx
  packages/admin-portal/src/core/router.tsx
  packages/admin-portal/src/core/use-permissions-state.tsx
  packages/admin-portal/src/types/global.d.ts
  packages/admin-portal/src/utils/__tests__/get-access.test.ts
  packages/admin-portal/src/utils/get-access.ts
Labels: admin-portal

#7798 feat: #7784 fixes a filter
  packages/admin-portal/src/components/subscriptions/__tests__/__snapshots__/filter-form.test.tsx.snap
  packages/admin-portal/src/components/subscriptions/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/subscriptions/filter-form.tsx
  packages/admin-portal/src/components/subscriptions/index.tsx
Labels: admin-portal

#7814 feat: #7773 #7810 app market release tweaks
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/apps-detail.test.tsx.snap
  packages/app-market/src/components/apps-detail/apps-detail.tsx
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/edit-page-tabs.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/app-listing-tab.tsx
  packages/developer-portal/src/components/apps/edit/constants.ts
  packages/developer-portal/src/components/apps/edit/form-schema/validation-schema.ts
Labels: developer-portal

#7820 fix: updated form labels for app video fields
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/app-listing-tab.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/edit-page-tabs.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/form-schema/form-fields.ts
Labels: developer-portal
