Repository reapit/foundations, pull requests merged in 2022-04, with the labels that each got.

#6528 feat: iaas menu item location
  packages/developer-portal/src/components/pages/apps/pipeline/pipeline-info.tsx
  packages/developer-portal/src/components/pages/iaas/__tests__/__snapshots__/iaas.test.tsx.snap
  packages/developer-portal/src/components/pages/iaas/__tests__/__snapshots__/pipeline-row.test.tsx.snap
  packages/developer-portal/src/components/pages/iaas/__tests__/iaas.test.tsx
  packages/developer-portal/src/components/pages/iaas/__tests__/pipeline-row.test.tsx
  packages/developer-portal/src/components/pages/iaas/index.tsx
  packages/developer-portal/src/components/pages/iaas/pipeline-row.tsx
  packages/developer-portal/src/components/ui/menu.tsx
  packages/developer-portal/src/constants/pages.ts
  packages/developer-portal/src/constants/routes.ts
  packages/developer-portal/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/developer-portal/src/core/router.tsx
  packages/developer-portal/src/utils/__tests__/pipeline-helpers.test.ts
  packages/developer-portal/src/utils/pipeline-helpers.ts
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/get.ts
Labels: elements, developer-portal, utils-common

#6531 feat: improve design for iaas
  packages/developer-portal/src/components/pages/apps/pipeline/__tests__/__snapshots__/deployment-info.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/pipeline/__tests__/__snapshots__/pipeline-info.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/pipeline/__tests__/deployment-info.test.tsx
  packages/developer-portal/src/components/pages/iaas/__tests__/__snapshots__/iaas.test.tsx.snap
  packages/developer-portal/src/components/pages/iaas/__tests__/__snapshots__/pipeline-row.test.tsx.snap
  packages/developer-portal/src/components/pages/iaas/index.tsx
  packages/developer-portal/src/components/pages/iaas/pipeline-row.tsx
  packages/developer-portal/src/components/ui/menu.tsx
  packages/developer-portal/src/utils/__tests__/pipeline-helpers.test.ts
  packages/developer-portal/src/utils/pipeline-helpers.ts
Labels: developer-portal

#6553 feat: #6480 costs sub page
  packages/developer-portal/src/components/pages/analytics-v2/__styles__/index.ts
  packages/developer-portal/src/components/pages/analytics-v2/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics-v2/calls/index.tsx
  packages/developer-portal/src/components/pages/analytics-v2/costs/__tests__/__snapshots__/download-resources-table.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics-v2/costs/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics-v2/costs/__tests__/__snapshots__/services-chart.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics-v2/costs/__tests__/__snapshots__/services-table.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics-v2/costs/__tests__/__snapshots__/usage-table.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics-v2/costs/__tests__/download-resources-table.test.tsx
  packages/developer-portal/src/components/pages/analytics-v2/costs/__tests__/index.test.tsx
  packages/developer-portal/src/components/pages/analytics-v2/costs/__tests__/services-chart.test.tsx
  packages/developer-portal/src/components/pages/analytics-v2/costs/__tests__/services-table.test.tsx
  packages/developer-portal/src/components/pages/analytics-v2/costs/__tests__/usage-table.test.tsx
  packages/developer-portal/src/components/pages/analytics-v2/costs/__tests__/utils.test.ts
  packages/developer-portal/src/components/pages/analytics-v2/costs/download-resources-table.tsx
  packages/developer-portal/src/components/pages/analytics-v2/costs/index.tsx
  packages/developer-portal/src/components/pages/analytics-v2/costs/services-chart.tsx
  packages/developer-portal/src/components/pages/analytics-v2/costs/services-table.tsx
  packages/developer-portal/src/components/pages/analytics-v2/costs/usage-table.tsx
  packages/developer-portal/src/components/pages/analytics-v2/costs/utils.ts
  packages/developer-portal/src/components/pages/analytics-v2/installations/index.tsx
  packages/developer-portal/src/components/pages/analytics-v2/page/__tests__/__snapshots__/controls.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics-v2/page/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics-v2/page/__tests__/controls.test.tsx
  packages/developer-portal/src/components/pages/analytics-v2/page/controls.tsx
  packages/developer-portal/src/components/pages/analytics-v2/state/defaults.ts
  packages/developer-portal/src/components/pages/analytics-v2/state/use-analytics-state.tsx
  packages/developer-portal/src/services/__tests__/billing.test.ts
  packages/developer-portal/src/services/billing.ts
  packages/developer-portal/src/tests/__stubs__/billing.ts
  packages/foundations-ts-definitions/traffic-schema/marketplace-traffic-event-schema.ts
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/get.ts
  packages/utils-common/src/reapit-data/get-fetcher.ts
  packages/utils-common/src/reapit-data/utils.ts
  packages/utils-react/src/use-reapit-data/use-reapit-get.ts
  packages/utils-react/src/use-reapit-data/use-reapit-update.ts
Labels: developer-portal, foundations-ts-definitions, utils-common, utils-react

#6554 feat: #6481 cost calculator sub page
  packages/developer-portal/src/components/pages/analytics-v2/calculator/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics-v2/calculator/__tests__/__snapshots__/results-table.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics-v2/calculator/__tests__/index.test.tsx
  packages/developer-portal/src/components/pages/analytics-v2/calculator/__tests__/results-table.test.tsx
  packages/developer-portal/src/components/pages/analytics-v2/calculator/__tests__/use-foundation-cost-table.test.tsx
  packages/developer-portal/src/components/pages/analytics-v2/calculator/index.tsx
  packages/developer-portal/src/components/pages/analytics-v2/calculator/results-table.tsx
  packages/developer-portal/src/components/pages/analytics-v2/calculator/use-foundation-cost-table.tsx
  packages/developer-portal/src/components/pages/analytics-v2/calculator/validation-schema.ts
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/__tests__/__snapshots__/cost-calculator-form.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/__tests__/__snapshots__/cost-calculator.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/__tests__/__snapshots__/total-cost-table.test.tsx.snap
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/__tests__/cost-calculator-form.test.tsx
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/__tests__/cost-calculator.test.tsx
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/__tests__/total-cost-table.test.tsx
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/cost-calculator-form.tsx
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/cost-calculator.tsx
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/form-fields.ts
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/index.ts
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/total-cost-table.tsx
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-calculator/validation-schema.ts
  packages/developer-portal/src/components/pages/analytics/cost-explorer/cost-explorer.tsx
  packages/developer-portal/src/components/ui/terms-and-conditions-modal/consumption-cost-example-table.tsx
  packages/utils-node/src/fetch-public-keys/index.js
Labels: developer-portal, utils-node

#6564 feat: #4226 deployment tests continued
  packages/deployment-service/src/functions/codebuild/__tests__/codebuild-deploy.test.ts
  packages/deployment-service/src/functions/codebuild/__tests__/codebuild-executor.test.ts
  packages/deployment-service/src/functions/codebuild/__tests__/codebuild-pipeline-updater-funcs.test.ts
  packages/deployment-service/src/functions/codebuild/__tests__/codebuild-pipeline-updater.test.ts
  packages/deployment-service/src/functions/codebuild/codebuild-deploy.ts
  packages/deployment-service/src/functions/codebuild/codebuild-executor.ts
  packages/deployment-service/src/functions/codebuild/codebuild-pipeline-updater/handle-phase-change.ts
  packages/deployment-service/src/functions/codebuild/codebuild-pipeline-updater/handle-state-change.ts
  packages/deployment-service/src/functions/codebuild/codebuild-pipeline-updater/handler.ts
  packages/deployment-service/src/functions/codebuild/codebuild-pipeline-updater/index.ts
  packages/deployment-service/src/functions/codebuild/codebuild-pipeline-updater/types.ts
  packages/deployment-service/src/functions/codebuild/index.ts
  packages/deployment-service/src/functions/index.ts
  packages/deployment-service/src/functions/pipeline/__tests__/pipeline-create.test.ts
  packages/deployment-service/src/functions/pipeline/__tests__/pipeline-delete.test.ts
  packages/deployment-service/src/functions/pipeline/__tests__/pipeline-get.test.ts
  packages/deployment-service/src/functions/pipeline/index.ts
  packages/deployment-service/src/functions/pipeline/pipeline-create.ts
  packages/deployment-service/src/functions/pipeline/pipeline-delete.ts
Labels: deployment-service

#6565 feat: #6509 #6537 #6527 #6242 dev portal various updates
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/app-listing-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/edit-page-tabs.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/general-tab.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/apps/edit/form-schema/form-fields.ts
  packages/developer-portal/src/components/pages/apps/edit/general-tab.tsx
  packages/developer-portal/src/components/pages/desktop/__styles__/styles.tsx
  packages/developer-portal/src/components/pages/desktop/__tests__/__snapshots__/desktop.test.tsx.snap
  packages/developer-portal/src/components/pages/desktop/__tests__/desktop.test.tsx
  packages/developer-portal/src/components/pages/desktop/desktop.tsx
  packages/developer-portal/src/components/pages/graphql/index.tsx
  packages/developer-portal/src/components/pages/help/__tests__/__snapshots__/help.test.tsx.snap
  packages/developer-portal/src/components/pages/help/__tests__/help.test.tsx
  packages/developer-portal/src/components/pages/help/help.tsx
  packages/developer-portal/src/components/pages/help/index.ts
  packages/developer-portal/src/components/pages/swagger/swagger.tsx
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-controls.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks-logs.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/__tests__/__snapshots__/webhooks.test.tsx.snap
  packages/developer-portal/src/components/pages/webhooks/webhooks-controls.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks-logs.tsx
  packages/developer-portal/src/components/pages/webhooks/webhooks.tsx
  packages/developer-portal/src/components/ui/__tests__/menu.tsx
  packages/developer-portal/src/components/ui/help-item-list/__styles__/help-item-list.ts
  packages/developer-portal/src/components/ui/help-item-list/__tests__/__snapshots__/help-item-list.tsx.snap
  packages/developer-portal/src/components/ui/help-item-list/__tests__/help-item-list.tsx
  packages/developer-portal/src/components/ui/help-item-list/help-item-list.tsx
  packages/developer-portal/src/components/ui/help-item-list/index.ts
  packages/developer-portal/src/components/ui/menu.tsx
  packages/developer-portal/src/constants/developer-help-links.ts
  packages/developer-portal/src/constants/routes.ts
  packages/developer-portal/src/core/__tests__/__snapshots__/router.tsx.snap
  packages/developer-portal/src/core/router.tsx
  packages/developer-portal/src/sagas/__stubs__/webhooks.ts
  packages/developer-portal/src/services/webhooks.ts
  packages/developer-portal/src/styles/grid/use-view-port-size.tsx
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/utils/route-dispatcher.ts
Labels: developer-portal

#6580 fix: #6568 cra release with v18 react
  packages/cra-template-foundations/template.json
Labels: cra-template-foundations, create-node-app-generator

#6589 chore: #6578 removing coming soons
  packages/marketplace/src/components/pages/apps/coming-soon.tsx
Labels: marketplace

#6598 chore: #6592 settings unit tests
  packages/developer-portal/src/components/pages/settings/company/__tests__/company-form.test.tsx
  packages/developer-portal/src/components/pages/settings/members/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/members/__tests__/index.test.tsx
  packages/developer-portal/src/components/pages/settings/members/__tests__/member-update-controls.test.tsx
  packages/developer-portal/src/components/pages/settings/members/index.tsx
  packages/developer-portal/src/components/pages/settings/page/__tests__/controls.test.tsx
  packages/developer-portal/src/components/pages/settings/password/__tests__/change-password-form.test.tsx
  packages/developer-portal/src/components/pages/settings/profile/__tests__/__snapshots__/profile-form.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/profile/__tests__/profile-form.test.tsx
  packages/developer-portal/src/components/pages/settings/subscriptions/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/pages/settings/subscriptions/__tests__/index.test.tsx
  packages/developer-portal/src/components/pages/settings/subscriptions/index.tsx
  packages/developer-portal/src/tests/__stubs__/standboxes.ts
  packages/developer-portal/src/tests/__stubs__/subscriptions.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
Labels: developer-portal

#6605 feat: #4228 cli unit tests
  packages/cli/babel.config.js
  packages/cli/jest.config.js
  packages/cli/package.json
  packages/cli/src/commands/__tests__/check-version.test.ts
  packages/cli/src/commands/pipeline/__tests__/create.test.ts
  packages/cli/src/commands/pipeline/__tests__/delete.test.ts
  packages/cli/src/commands/pipeline/__tests__/edit.test.ts
  packages/cli/src/commands/pipeline/create.ts
  packages/cli/src/commands/pipeline/edit.ts
  yarn.lock
Labels: cli

#6613 fix: correct command names
  packages/cli/README.md
Labels: cli

#6616 docs: updated text for pipeline placeholder pages
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/create-pipeline.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/create-pipeline.tsx
  packages/developer-portal/src/utils/navigation.ts
Labels: developer-portal

#6622 docs: added doc information
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/create-pipeline.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/create-pipeline.tsx
Labels: developer-portal

#6624 fix: corrected build status when editing pipeline
  packages/developer-portal/src/components/apps/pipeline/edit-pipeline.tsx
Labels: developer-portal

#6625 fix: added pipelineId to uriParams for create pipeline
  packages/developer-portal/src/components/apps/pipeline/create-pipeline.tsx
Labels: developer-portal

#6627 fix: reversed condition to prevent deploys in pre provision
  packages/deployment-service/src/functions/pipeline/pipeline-runner-create.ts
Labels: deployment-service

#6629 feat: #6593 various refactor fixes
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/app-pipeline.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/app-pipeline.tsx
  packages/developer-portal/src/components/graphql/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/graphql/index.tsx
  packages/developer-portal/src/components/settings/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/settings/members/__tests__/index.test.tsx
  packages/developer-portal/src/components/settings/members/index.tsx
  packages/developer-portal/src/components/settings/page/__tests__/__snapshots__/controls.test.tsx.snap
  packages/developer-portal/src/components/settings/page/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/settings/page/__tests__/controls.test.tsx
  packages/developer-portal/src/components/settings/page/controls.tsx
  packages/developer-portal/src/components/settings/page/validation-schema.ts
  packages/developer-portal/src/components/swagger/__styles__/swagger.ts
  packages/developer-portal/src/components/swagger/index.tsx
  packages/developer-portal/src/components/webhooks/__tests__/webhooks-edit-controls.test.tsx
  packages/developer-portal/src/components/webhooks/__tests__/webhooks-manage-form.test.tsx
  packages/developer-portal/src/components/webhooks/webhooks-edit-controls.tsx
  packages/developer-portal/src/components/webhooks/webhooks-logs.tsx
  packages/developer-portal/src/components/webhooks/webhooks-manage-form.tsx
  packages/developer-portal/src/components/webhooks/webhooks-manage.tsx
  packages/developer-portal/src/core/__mocks__/use-global-state.tsx
  packages/developer-portal/src/core/use-global-state.tsx
  packages/developer-portal/src/services/__tests__/developer.test.ts
  packages/elements/src/components/persistant-notification/__styles__/index.ts
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements, developer-portal

#6634 [Snyk] Upgrade @reapit/elements from 3.7.20 to 3.7.23
  packages/geo-diary-marketing/package.json
Labels: geo-diary-marketing

#6676 feat: #6662 dev portal production tweaks
  packages/developer-portal/src/components/api/api-page.tsx
  packages/developer-portal/src/components/apps/list/__tests__/__snapshots__/app-card.test.tsx.snap
  packages/developer-portal/src/components/apps/list/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/list/app-card.tsx
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-controls.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-page.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipelines-about.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/pipeline-controls.tsx
  packages/developer-portal/src/components/apps/pipeline/pipelines-about.tsx
  packages/developer-portal/src/components/iaas/__tests__/__snapshots__/iaas.test.tsx.snap
  packages/developer-portal/src/components/iaas/index.tsx
  packages/developer-portal/src/components/settings/company/__tests__/__snapshots__/company-form.test.tsx.snap
  packages/developer-portal/src/components/settings/company/company-form.tsx
  packages/developer-portal/src/components/settings/page/controls.tsx
  packages/developer-portal/src/components/settings/profile/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/settings/profile/__tests__/__snapshots__/profile-form.test.tsx.snap
  packages/developer-portal/src/components/settings/profile/profile-form.tsx
  packages/developer-portal/src/components/swagger/__tests__/index.test.tsx
  packages/developer-portal/src/components/swagger/index.tsx
  packages/developer-portal/src/components/webhooks/state/__mocks__/use-webhooks-state.tsx
  packages/developer-portal/src/components/webhooks/state/__tests__/__snapshots__/use-webhooks-state.test.tsx.snap
  packages/developer-portal/src/components/webhooks/state/__tests__/use-analytics-state.test.tsx
  packages/developer-portal/src/components/webhooks/state/__tests__/use-webhooks-state.test.tsx
  packages/developer-portal/src/components/webhooks/state/use-webhooks-state.tsx
  packages/developer-portal/src/components/webhooks/webhook-ping-form.tsx
  packages/developer-portal/src/components/webhooks/webhooks-logs.tsx
  packages/developer-portal/src/components/webhooks/webhooks-manage-form.tsx
  packages/developer-portal/src/components/webhooks/webhooks-manage.tsx
  packages/developer-portal/src/components/webhooks/webhooks-new-topics.tsx
  packages/developer-portal/src/core/private-route-wrapper.tsx
  packages/developer-portal/src/scripts/chat-bot.js
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/elements/src/components/card/__tests__/__snapshots__/card-components.test.tsx.snap
  packages/elements/src/components/card/__tests__/card-components.test.tsx
  packages/elements/src/components/card/card-components.tsx
  packages/elements/src/components/file-input/__tests__/__snapshots__/file-input.test.tsx.snap
  packages/elements/src/components/file-input/file-input.tsx
  packages/elements/src/components/input-group/__styles__/index.ts
  packages/elements/src/components/input/__styles__/index.ts
  packages/elements/src/components/nav/__styles__/index.ts
  packages/elements/src/components/table/__styles__/index.ts
  packages/elements/src/storybook/changelog.stories.mdx
  packages/elements/src/tests/badges/badge-branches.svg
  packages/elements/src/tests/badges/badge-functions.svg
  packages/elements/src/tests/badges/badge-lines.svg
  packages/elements/src/tests/badges/badge-statements.svg
  packages/utils-common/src/reapit-data/get-fetcher.ts
  packages/utils-common/src/tests/badges/badge-branches.svg
  packages/utils-common/src/tests/badges/badge-functions.svg
  packages/utils-common/src/tests/badges/badge-lines.svg
  packages/utils-common/src/tests/badges/badge-statements.svg
  packages/utils-react/src/image-cropper/image-cropper.tsx
  packages/utils-react/src/rich-text-editor/__styles__/index.css
  packages/utils-react/src/rich-text-editor/index.tsx
  packages/utils-react/src/use-reapit-data/use-reapit-get.ts
Labels: elements, developer-portal, utils-common, utils-react

#6688 fix: change power bi defaults
  packages/insights/src/components/pages/home.tsx
  packages/insights/src/utils/power-bi.ts
Labels: insights

#6689 feat: #6662 dev portal fixes
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-api-keys.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-controls.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/pipeline-api-keys.test.tsx
  packages/developer-portal/src/components/apps/pipeline/__tests__/pipeline-controls.test.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-api-keys.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-controls.tsx
  packages/developer-portal/src/components/register/invite/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/register/invite/__tests__/index.test.tsx
  packages/developer-portal/src/components/register/invite/index.tsx
  packages/developer-portal/src/components/register/terms-and-conditions-modal/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/register/terms-and-conditions-modal/index.tsx
  packages/developer-portal/src/components/settings/password/validation-schema.ts
  packages/developer-portal/src/services/__tests__/developer.test.ts
  packages/developer-portal/src/services/developer.ts
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
Labels: developer-portal

#6699 feat: split dev prod resources
  .github/workflows/release-dev.yml
  .github/workflows/release-prod.yml
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
  packages/deployment-service/src/functions/pipeline/pipeline-setup.ts
  packages/developer-portal/src/utils/__tests__/pipeline-helpers.test.ts
  packages/developer-portal/src/utils/pipeline-helpers.ts
  packages/ts-scripts/src/cdk/components/codebuild-project.ts
Labels: developer-portal, infra, ts-scripts, deployment-service

#6714 fix: removed double dev value for bucket names
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

#6715 fix: added env to separate usercode formations
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

#6719 feat: upgraded hardcoded value for codebuild of node version
  packages/deployment-service/src/functions/codebuild/codebuild-executor.ts
Labels: deployment-service

#6722 feat: #6693 updates testing and fixes build error
  packages/cra-template-foundations/template.json
  packages/cra-template-foundations/template/src/components/hocs/error-boundary.tsx
  packages/cra-template-foundations/template/src/core/__tests__/app.test.tsx
  packages/cra-template-foundations/template/src/core/__tests__/router.test.tsx
Labels: cra-template-foundations, create-node-app-generator

#6723 feat: #6706 #6303 adds videos and put on members
  packages/developer-portal/src/components/api/__tests__/__snapshots__/api-page.test.tsx.snap
  packages/developer-portal/src/components/api/__tests__/api-page.test.tsx
  packages/developer-portal/src/components/api/__tests__/index.test.tsx
  packages/developer-portal/src/components/api/api-page.tsx
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/helper-content.test.tsx.snap
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/new/__tests__/helper-content.test.tsx
  packages/developer-portal/src/components/apps/new/helper-content.tsx
  packages/developer-portal/src/components/settings/members/member-update-controls.tsx
  packages/developer-portal/src/components/settings/page/controls.tsx
  packages/developer-portal/src/components/settings/profile/__tests__/index.test.tsx
  packages/developer-portal/src/components/settings/profile/__tests__/profile-form.test.tsx
  packages/developer-portal/src/components/settings/profile/profile-form.tsx
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-controls.test.tsx.snap
  packages/developer-portal/src/components/webhooks/webhooks-controls.tsx
  packages/developer-portal/src/core/index.tsx
  packages/developer-portal/src/types/global.d.ts
  packages/foundations-ts-definitions/package.json
  packages/foundations-ts-definitions/types/marketplace-schema.ts
  packages/utils-react/src/use-reapit-data/use-reapit-get.ts
Labels: developer-portal, foundations-ts-definitions, utils-react

#6729 fix: changed node version to 14 using n
  packages/deployment-service/src/functions/codebuild/codebuild-executor.ts
Labels: deployment-service

#6734 fix: pipeline patch
  packages/developer-portal/src/components/apps/pipeline/pipeline-configure.tsx
  packages/utils-common/src/reapit-data/actions/update.ts
Labels: developer-portal, utils-common

#6736 fix: patch cached config
  packages/developer-portal/src/core/index.tsx
Labels: developer-portal
