Repository reapit/foundations, pull requests merged in 2022-11, with the labels that each got.

#8037 fix: mixpanel identifiers updated
  packages/marketplace/src/core/__tests__/analytics-banner.test.tsx
  packages/marketplace/src/core/analytics-banner.tsx
Labels: marketplace

#8040 fix: incorrect filter naming
  packages/marketplace/src/core/analytics-events.ts
Labels: marketplace

#8045 feat: add a few more fields to mixpanel
  packages/marketplace/src/components/apps-detail/app-install-success-modal.tsx
  packages/marketplace/src/components/apps-detail/apps-detail.tsx
  packages/marketplace/src/components/apps-installed/apps-installed.tsx
  packages/marketplace/src/components/apps-support/apps-support-item.tsx
  packages/marketplace/src/utils/navigation.ts
Labels: marketplace

#8048 fix: #8046 fix mixpanel identify users
  packages/marketplace/src/core/__tests__/__snapshots__/analytics-banner.test.tsx.snap
  packages/marketplace/src/core/__tests__/analytics-banner.test.tsx
  packages/marketplace/src/core/analytics-banner.tsx
Labels: marketplace

#8051 [Snyk] Upgrade @reapit/elements from 3.9.4 to 3.9.6
  packages/geo-diary-marketing/package.json
Labels: geo-diary-marketing

#8053 fix: #8049 admin portal subs fix
  packages/admin-portal/src/components/subscriptions/__tests__/__snapshots__/create-subscriptions.test.tsx.snap
  packages/admin-portal/src/components/subscriptions/create-subscriptions.tsx
Labels: admin-portal

#8062 fix: don't require config for update command
  packages/cli/src/abstract.command.ts
  packages/cli/src/commands/check-version.ts
Labels: cli

#8058 fix: app builder fixes
  .yarn/cache/@types-pluralize-npm-0.0.29-a6b8916fba-db7732b733.zip
  packages/app-builder-backend/src/entities/LiberalGraphQLISODateTime.ts
  packages/app-builder-backend/src/entities/applicant.ts
  packages/app-builder-backend/src/entities/appointments.ts
  packages/app-builder-backend/src/entities/company.ts
  packages/app-builder-backend/src/entities/contact.ts
  packages/app-builder-backend/src/entities/offer.ts
  packages/app-builder-backend/src/entities/office.ts
  packages/app-builder-backend/src/entities/property-image.ts
  packages/app-builder-backend/src/entities/property.ts
  packages/app-builder-backend/src/index.ts
  packages/app-builder-backend/src/lambda.ts
  packages/app-builder-backend/src/resolvers/applicant-resolver.ts
  packages/app-builder-backend/src/resolvers/contact-resolver.ts
  packages/app-builder-backend/src/utils/country-code-enum.ts
  packages/app-builder-backend/src/utils/id-or-subdomain.ts
  packages/app-builder/README.md
  packages/app-builder/package.json
  packages/app-builder/src/components/hooks/apps/fragments.ts
  packages/app-builder/src/components/hooks/apps/use-update-app.ts
  packages/app-builder/src/components/hooks/use-nav-config.ts
  packages/app-builder/src/components/ui/construct-page-nodes.tsx
  packages/app-builder/src/components/ui/render-node/__tests__/render-node.test.tsx
  packages/app-builder/src/components/ui/render-node/add-container.tsx
  packages/app-builder/src/components/ui/render-node/styles.ts
  packages/app-builder/src/components/ui/user/column-controls.tsx
  packages/app-builder/src/components/ui/user/create-page.tsx
  packages/app-builder/src/components/ui/user/ejectable/form-input.tsx
  packages/app-builder/src/components/ui/user/ejectable/navigation.tsx
  packages/app-builder/src/components/ui/user/form.tsx
  packages/app-builder/src/components/ui/viewport/index.tsx
  packages/app-builder/src/components/ui/viewport/tab-bar.tsx
  yarn.lock
Labels: app-builder, dependencies, app-builder-backend, app-market

#8061 feat: gql v2 improvements
  .yarn/cache/axios-npm-1.1.3-4b63965ac1-cab3b17bf6.zip
  .yarn/cache/follow-redirects-npm-1.15.2-1ec1dd82be-faa66059b6.zip
  packages/graphql-server-v2/cdk-stack.ts
  packages/graphql-server-v2/package.json
  packages/graphql-server-v2/src/__tests__/e2e.spec.ts
  packages/graphql-server-v2/src/axios.ts
  packages/graphql-server-v2/src/index.ts
  packages/graphql-server-v2/src/server.ts
  yarn.lock
Labels: dependencies

#8109 fix: #8109 user email downcase
  packages/marketplace/src/core/analytics-banner.tsx
  packages/marketplace/src/core/use-apps-browse-state.tsx
Labels: marketplace

#8174 fix: corrected pipeline env validation
  packages/developer-portal/src/components/apps/pipeline/pipeline-environment-update-table-row.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-environment.tsx
Labels: developer-portal
