Repository reapit/foundations, pull requests merged in 2022-08, with the labels that each got.

#7425 feat: #7367 #7386 #6745 theme elements nav, fix z-index issue
  packages/app-market/src/components/nav/__tests__/__snapshots__/nav.test.tsx.snap
  packages/app-market/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/app-marketplace-admin/src/components/nav/__tests__/__snapshots__/nav.test.tsx.snap
  packages/app-marketplace-admin/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/developer-portal/src/core/__tests__/__snapshots__/menu.test.tsx.snap
  packages/developer-portal/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/elements/src/components/icon/__tests__/__snapshots__/index.tsx.snap
  packages/elements/src/components/icon/icons/menu-icons/accountMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/analyticsMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/apiMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/appsMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/dataMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/defaultMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/desktopMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/developersMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/docsMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/hamburgerMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/hamburgerOpenMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/helpMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/installedMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/logoutMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/manageMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/mapMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/marketplaceMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/myAccountMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/officesMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/paymentsMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/profileMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/reapitLogoMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/reapitLogoSelectedMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/reapitLogoTextMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/resultsMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/searchMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/supportMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/uiMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/usersMenu.tsx
  packages/elements/src/components/icon/icons/menu-icons/webhooksMenu.tsx
  packages/elements/src/components/modal/__styles__/index.ts
  packages/elements/src/components/nav/__styles__/index.ts
  packages/elements/src/components/nav/__tests__/__snapshots__/nav-responsive.test.tsx.snap
  packages/elements/src/components/nav/nav.stories.mdx
  packages/elements/src/components/nav/use-nav.stories.tsx
  packages/elements/src/components/snack/__styles__/snack-holder.ts
  packages/elements/src/storybook/changelog.stories.mdx
  packages/elements/src/styles/globals.ts
  packages/geo-diary/src/components/ui/nav/__tests__/__snapshots__/nav.test.tsx.snap
  packages/geo-diary/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/insights/src/components/ui/nav/__tests__/__snapshots__/nav.test.tsx.snap
  packages/insights/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/marketplace-management/src/components/ui/nav/__tests__/__snapshots__/nav.test.tsx.snap
  packages/marketplace/src/components/ui/__tests__/__snapshots__/menu.tsx.snap
  packages/marketplace/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  packages/payments-client/src/core/__tests__/__snapshots__/nav.test.tsx.snap
  packages/payments-client/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
Labels: marketplace, elements, geo-diary, developer-portal, payments-client, marketplace-management, insights

#7439 feat: #7384 item index
  packages/app-marketplace-admin/src/components/apps-market-manager/__tests__/app-browse-manage-table.test.tsx
  packages/app-marketplace-admin/src/components/apps-market-manager/app-browse-manage-table.tsx
  packages/app-marketplace-admin/src/components/apps-market-manager/app-browse-upsert-modal.tsx
  packages/app-marketplace-admin/src/components/apps-market-manager/app-browse-upsert.tsx
  packages/app-marketplace-admin/src/components/apps-market-manager/app-browse.styles.ts
  packages/app-marketplace-cms/src/cms/cms-controller.ts
  packages/app-marketplace-cms/src/cms/cms-provider.ts
  packages/app-marketplace-cms/src/cms/marketplace-app-model.ts
  packages/foundations-ts-definitions/marketplace-cms/index.ts
Labels: foundations-ts-definitions, app-marketplace-cms

#7473 feat: #7250 #7162 #7138 #7270 categories and create app flow updates
  packages/app-market/src/components/apps-browse/__tests__/__snapshots__/featured-hero-apps.test.tsx.snap
  packages/app-market/src/components/apps-browse/__tests__/__snapshots__/hero-apps.test.tsx.snap
  packages/app-market/src/components/apps-browse/featured-hero-apps.tsx
  packages/app-market/src/components/apps-browse/hero-apps.tsx
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/apps-detail.test.tsx.snap
  packages/app-market/src/components/apps-detail/apps-detail.tsx
  packages/app-market/src/tests/__stubs__/apps.ts
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/app-listing-tab.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/edit-page-tabs.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/__tests__/app-listing-tab.test.tsx
  packages/developer-portal/src/components/apps/edit/app-listing-tab.tsx
  packages/developer-portal/src/components/apps/edit/form-schema/form-fields.ts
  packages/developer-portal/src/components/apps/new/__tests__/index.test.tsx
  packages/developer-portal/src/components/apps/new/index.tsx
  packages/developer-portal/src/components/apps/utils/__tests__/handle-default-form-values.test.ts
  packages/developer-portal/src/components/apps/utils/format-form-values.ts
  packages/developer-portal/src/components/apps/utils/handle-default-form-values.ts
  packages/utils-common/src/reapit-data/actions/update.ts
Labels: developer-portal, utils-common

#7476 feat: #7385 ordering app market
  packages/app-market/src/components/apps-browse/apps-browse.tsx
  packages/app-market/src/core/config.ts
  packages/ts-scripts/src/webpack/webpack.config.dev.js
Labels: ts-scripts

#7477 fix: #7468 fix offices pagination
  packages/marketplace-management/src/components/ui/offices/office-group-create.tsx
  packages/marketplace-management/src/components/ui/offices/office-group-edit-form.tsx
  packages/marketplace-management/src/components/ui/offices/offices-groups-tab.tsx
Labels: marketplace-management

#7479 feat: #6990 limit developer analytics to 12 months
  packages/developer-portal/src/components/analytics/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/analytics/page/__tests__/__snapshots__/controls.test.tsx.snap
  packages/developer-portal/src/components/analytics/page/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/analytics/page/controls.tsx
  packages/developer-portal/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/developer-portal/src/core/router.tsx
Labels: developer-portal

#7480 feat: #7299 webhook logs filtering
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-controls.test.tsx.snap
  packages/developer-portal/src/components/webhooks/state/defaults.ts
  packages/developer-portal/src/components/webhooks/state/use-webhooks-state.tsx
  packages/developer-portal/src/components/webhooks/webhook-ping-form.tsx
  packages/developer-portal/src/components/webhooks/webhooks-controls.tsx
  packages/developer-portal/src/components/webhooks/webhooks-logs.tsx
Labels: developer-portal

#7490 feat: #7463 table header children
  packages/elements/src/components/table/__styles__/index.ts
  packages/elements/src/components/table/molecules.tsx
  packages/elements/src/components/table/table.stories.mdx
  packages/elements/src/components/table/table.tsx
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements

#7493 feat: page creation wizard
  packages/app-builder-backend/src/resolvers/app-resolver.ts
  packages/app-builder/src/components/hooks/use-introspection/__tests__/__snapshots__/parse-introspection.test.ts.snap
  packages/app-builder/src/components/hooks/use-introspection/nested-fields.ts
  packages/app-builder/src/components/hooks/use-introspection/parse-introspection.ts
  packages/app-builder/src/components/hooks/use-introspection/types.ts
  packages/app-builder/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/app-builder/src/components/ui/__tests__/__snapshots__/sidebar.tsx.snap
  packages/app-builder/src/components/ui/__tests__/sidebar.tsx
  packages/app-builder/src/components/ui/construct-page-nodes.tsx
  packages/app-builder/src/components/ui/header/PageSelector.tsx
  packages/app-builder/src/components/ui/header/__tests__/header.test.tsx
  packages/app-builder/src/components/ui/header/__tests__/page-selector.test.tsx
  packages/app-builder/src/components/ui/header/index.tsx
  packages/app-builder/src/components/ui/sidebar-item/index.tsx
  packages/app-builder/src/components/ui/sidebar.tsx
  packages/app-builder/src/components/ui/styles.tsx
  packages/app-builder/src/components/ui/toolbar/toolbar-checkbox.tsx
  packages/app-builder/src/components/ui/toolbox.tsx
  packages/app-builder/src/components/ui/user/column-controls.tsx
  packages/app-builder/src/components/ui/user/create-page.tsx
  packages/app-builder/src/components/ui/user/ejectable/form-input.tsx
  packages/app-builder/src/components/ui/user/ejectable/utils.ts
  packages/app-builder/src/components/ui/user/navigation.tsx
  packages/app-builder/src/components/ui/user/table.tsx
  packages/app-builder/src/components/ui/viewport/__tests__/__snapshots__/viewport.test.tsx.snap
  packages/app-builder/src/components/ui/viewport/index.tsx
  packages/app-builder/src/components/ui/viewport/new-page.tsx
  packages/app-builder/src/components/ui/viewport/page-builder-placeholder.tsx
Labels: app-builder, app-builder-backend, app-market

#7503 feat: #7472 email consent
  packages/admin-portal/src/components/pages/approvals/__tests__/__snapshots__/approvals.test.tsx.snap
  packages/admin-portal/src/components/ui/consents/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/ui/consents/__tests__/index.test.tsx
  packages/admin-portal/src/components/ui/consents/index.tsx
  packages/utils-common/src/reapit-data/actions/api-constants.ts
  packages/utils-common/src/reapit-data/actions/update.ts
Labels: admin-portal, utils-common

#7509 feat: #7502 app market qa
  packages/app-market/src/components/apps-browse/__styles__/featured-hero-apps.ts
  packages/app-market/src/components/apps-browse/__styles__/hero-apps.ts
  packages/app-market/src/components/apps-detail/__styles__/index.ts
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/app-install-modal.test.tsx.snap
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/app-install-success-modal.test.tsx.snap
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/apps-detail-header.test.tsx.snap
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/apps-detail.test.tsx.snap
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/index.test.tsx.snap
  packages/app-market/src/components/apps-detail/__tests__/app-install-success-modal.test.tsx
  packages/app-market/src/components/apps-detail/__tests__/apps-detail-header.test.tsx
  packages/app-market/src/components/apps-detail/__tests__/apps-detail.test.tsx
  packages/app-market/src/components/apps-detail/app-install-modal.tsx
  packages/app-market/src/components/apps-detail/app-install-success-modal.tsx
  packages/app-market/src/components/apps-detail/apps-detail-header.tsx
  packages/app-market/src/components/apps-detail/apps-detail.tsx
  packages/app-market/src/components/apps-support/__tests__/__snapshots__/apps-support-item.test.tsx.snap
  packages/app-market/src/components/carousel/__styles__/index.ts
  packages/app-market/src/core/app.tsx
  packages/elements/src/components/card/__styles__/index.ts
  packages/elements/src/components/card/card-components.tsx
  packages/elements/src/storybook/changelog.stories.mdx
  packages/payments-client/src/components/pages/payment/__tests__/__snapshots__/payment-external.test.tsx.snap
  packages/payments-client/src/components/pages/payment/__tests__/__snapshots__/payment-internal.test.tsx.snap
  packages/payments-client/src/components/pages/payment/__tests__/__snapshots__/payment-page-content.test.tsx.snap
Labels: elements, payments-client

#7510 feat: #6773 august housekeeping
  packages/admin-portal/src/components/hocs/__tests__/error-boundary.tsx
  packages/admin-portal/src/components/pages/api-keys/api-key-table.tsx
  packages/aml-checklist/src/actions/checklist-detail.ts
  packages/aml-checklist/src/components/hocs/__tests__/error-boundary.tsx
  packages/aml-checklist/src/components/pages/__tests__/checklist-detail.tsx
  packages/aml-checklist/src/components/pages/checklist-detail.tsx
  packages/aml-checklist/src/components/ui/aml-progressbar.tsx
  packages/aml-checklist/src/components/ui/forms/__tests__/identification.tsx
  packages/aml-checklist/src/components/ui/modal/__tests__/pep-search.tsx
  packages/aml-checklist/src/components/ui/modal/report.tsx
  packages/api-key-service/src/api-keys/api-key-provider.ts
  packages/api-key-service/src/http.ts
  packages/api-key-verify/src/__tests__/api-key.test.ts
  packages/api-key-verify/src/api-key.ts
  packages/app-market/src/components/apps-browse/apps-browse.tsx
  packages/app-market/src/components/apps-browse/developer-apps-collection.tsx
  packages/app-market/src/components/apps-browse/filtered-apps.tsx
  packages/app-market/src/components/apps-detail/apps-detail.tsx
  packages/app-market/src/components/apps-installed/apps-installed-suggested.tsx
  packages/app-market/src/components/apps-support/index.tsx
  packages/app-market/src/components/carousel/index.tsx
  packages/app-market/src/core/__tests__/error-boundary.test.tsx
  packages/app-market/src/core/index.tsx
  packages/app-market/src/utils/auth.ts
  packages/app-marketplace-admin/src/components/apps-market-manager/app-browse-manage-table.tsx
  packages/app-marketplace-admin/src/components/apps-market-manager/app-browse-upsert-modal.tsx
  packages/app-marketplace-admin/src/core/__tests__/error-boundary.test.tsx
  packages/app-marketplace-admin/src/core/index.tsx
  packages/app-marketplace-admin/src/utils/navigation.ts
  packages/app-marketplace-cms/src/cms/public-controller.ts
  packages/app-marketplace-cms/src/http.ts
  packages/cli/src/commands/config.ts
  packages/developer-portal/src/core/private-route-wrapper.tsx
Labels: aml-checklist, admin-portal, developer-portal, api-key-service, api-key-verify, cli, app-marketplace-cms

#7511 feat: 7398 edit page wizard
  packages/app-builder/README.md
  packages/app-builder/src/components/hooks/apps/node-helpers.ts
  packages/app-builder/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/app-builder/src/components/pages/app-view.tsx
  packages/app-builder/src/components/ui/__tests__/__snapshots__/sidebar.tsx.snap
  packages/app-builder/src/components/ui/__tests__/__snapshots__/toolbox.tsx.snap
  packages/app-builder/src/components/ui/__tests__/sidebar.tsx
  packages/app-builder/src/components/ui/construct-page-nodes.tsx
  packages/app-builder/src/components/ui/header/PageSelector.tsx
  packages/app-builder/src/components/ui/render-node/index.tsx
  packages/app-builder/src/components/ui/sidebar.tsx
  packages/app-builder/src/components/ui/toolbar/index.tsx
  packages/app-builder/src/components/ui/toolbox.tsx
  packages/app-builder/src/components/ui/user/create-page.tsx
  packages/app-builder/src/components/ui/user/ejectable/form.tsx
  packages/app-builder/src/components/ui/user/ejectable/table.tsx
  packages/app-builder/src/components/ui/user/table.tsx
  packages/app-builder/src/components/ui/viewport/__tests__/__snapshots__/viewport.test.tsx.snap
  packages/app-builder/src/components/ui/viewport/index.tsx
  packages/app-builder/src/components/ui/viewport/new-page.tsx
Labels: app-builder, app-market

#7513 feat: #7499 hides manage page
  packages/marketplace/src/components/ui/__tests__/__snapshots__/menu.tsx.snap
  packages/marketplace/src/components/ui/__tests__/menu.tsx
  packages/marketplace/src/components/ui/menu.tsx
Labels: marketplace

#7526 [Snyk] Upgrade @reapit/elements from 3.8.6 to 3.8.8
  packages/geo-diary-marketing/package.json
Labels: geo-diary-marketing

#7545 feat: #7514 analytics poc adds events
  .yarn/cache/mixpanel-browser-npm-2.45.0-e76bc11023-43722dd501.zip
  packages/app-market/package.json
  packages/app-market/src/components/apps-browse/__tests__/app-filters-collection.test.tsx
  packages/app-market/src/components/apps-browse/__tests__/app-search-filters-bar.test.tsx
  packages/app-market/src/components/apps-browse/__tests__/apps-browse.test.tsx
  packages/app-market/src/components/apps-browse/__tests__/index.test.tsx
  packages/app-market/src/components/apps-browse/app-filters-collection.tsx
  packages/app-market/src/components/apps-browse/app-search-filters-bar.tsx
  packages/app-market/src/components/apps-browse/apps-browse.tsx
  packages/app-market/src/components/apps-browse/index.tsx
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/apps-detail.test.tsx.snap
  packages/app-market/src/components/apps-detail/__tests__/app-install-modal.test.tsx
  packages/app-market/src/components/apps-detail/__tests__/app-install-success-modal.test.tsx
  packages/app-market/src/components/apps-detail/__tests__/apps-detail.test.tsx
  packages/app-market/src/components/apps-detail/__tests__/index.test.tsx
  packages/app-market/src/components/apps-detail/app-install-modal.tsx
  packages/app-market/src/components/apps-detail/app-install-success-modal.tsx
  packages/app-market/src/components/apps-detail/apps-detail.tsx
  packages/app-market/src/components/apps-installed/__tests__/index.test.tsx
  packages/app-market/src/components/apps-installed/index.tsx
  packages/app-market/src/components/apps-support/__tests__/index.test.tsx
  packages/app-market/src/components/apps-support/index.tsx
  packages/app-market/src/components/carousel/__tests__/index.test.tsx
  packages/app-market/src/components/carousel/index.tsx
  packages/app-market/src/components/login/__tests__/index.test.tsx
  packages/app-market/src/components/login/index.tsx
  packages/app-market/src/components/nav/nav.tsx
  packages/app-market/src/components/settings/__tests__/__snapshots__/settings-installed.test.tsx.snap
  packages/app-market/src/components/settings/__tests__/__snapshots__/settings-profile.test.tsx.snap
  packages/app-market/src/components/settings/__tests__/index.test.tsx
  packages/app-market/src/components/settings/__tests__/settings-installed.test.tsx
  packages/app-market/src/components/settings/__tests__/settings-profile.test.tsx
  packages/app-market/src/components/settings/index.tsx
  packages/app-market/src/components/settings/settings-installed.tsx
  packages/app-market/src/components/settings/settings-profile.tsx
  packages/app-market/src/core/__mocks__/analytics.ts
  packages/app-market/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/app-market/src/core/__tests__/analytics.test.tsx
  packages/app-market/src/core/__tests__/router.test.tsx
  packages/app-market/src/core/analytics-events.ts
  packages/app-market/src/core/analytics.ts
  packages/app-market/src/core/index.tsx
  packages/app-market/src/core/use-apps-browse-state.tsx
  packages/app-market/src/tests/badges/badge-branches.svg
  packages/app-market/src/tests/badges/badge-functions.svg
  packages/app-market/src/tests/badges/badge-lines.svg
  packages/app-market/src/tests/badges/badge-statements.svg
  packages/app-market/src/types/global.d.ts
  packages/app-market/src/utils/__tests__/navigation.test.tsx
  packages/app-market/src/utils/navigation.ts
  yarn.lock
Labels: dependencies

#7548 feat: #7514 adds additional mixpanel events
  packages/app-market/src/components/apps-browse/__styles__/featured-hero-apps.ts
  packages/app-market/src/components/apps-browse/__styles__/hero-apps.ts
  packages/app-market/src/components/apps-browse/index.tsx
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/app-install-modal.test.tsx.snap
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/apps-detail.test.tsx.snap
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/index.test.tsx.snap
  packages/app-market/src/components/apps-detail/__tests__/apps-detail.test.tsx
  packages/app-market/src/components/apps-detail/app-install-modal.tsx
  packages/app-market/src/components/apps-detail/app-install-success-modal.tsx
  packages/app-market/src/components/apps-detail/apps-detail.tsx
  packages/app-market/src/components/apps-installed/index.tsx
  packages/app-market/src/components/apps-support/apps-support-item.tsx
  packages/app-market/src/components/apps-support/index.tsx
  packages/app-market/src/components/login/index.tsx
  packages/app-market/src/components/settings/__tests__/settings-installed.test.tsx
  packages/app-market/src/components/settings/settings-installed.tsx
  packages/app-market/src/components/settings/settings-profile.tsx
  packages/app-market/src/core/__mocks__/analytics.ts
  packages/app-market/src/core/__tests__/analytics.test.tsx
  packages/app-market/src/core/analytics-events.ts
  packages/app-market/src/core/analytics.ts
  packages/app-market/src/tests/badges/badge-branches.svg
  packages/app-market/src/tests/badges/badge-functions.svg
  packages/app-market/src/tests/badges/badge-lines.svg
  packages/app-market/src/tests/badges/badge-statements.svg
  packages/utils-react/src/desktop-link/index.tsx
Labels: utils-react

#7568 feat: #7464 adds pagination input to Elements
  packages/app-market/src/components/apps-browse/__styles__/hero-apps.ts
  packages/app-market/src/components/settings/__tests__/__snapshots__/settings-installed.test.tsx.snap
  packages/app-market/src/core/__tests__/analytics.test.tsx
  packages/app-market/src/core/analytics.ts
  packages/developer-portal/src/components/apps/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-deployments-table.test.tsx.snap
  packages/developer-portal/src/components/settings/members/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/settings/subscriptions/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-manage.test.tsx.snap
  packages/elements/src/components/pagination/__styles__/index.ts
  packages/elements/src/components/pagination/__tests__/__snapshots__/pagination.test.tsx.snap
  packages/elements/src/components/pagination/__tests__/pagination.test.tsx
  packages/elements/src/components/pagination/pagination.stories.mdx
  packages/elements/src/components/pagination/pagination.tsx
  packages/elements/src/storybook/changelog.stories.mdx
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/marketplace.test.tsx.snap
  packages/marketplace-management/src/components/ui/offices/__tests__/__snapshots__/offices-groups-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/users/__tests_/__snapshots__/user-groups-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/users/__tests_/__snapshots__/users-tab.test.tsx.snap
  packages/payments-client/src/components/pages/payments/__tests__/__snapshots__/index.test.tsx.snap
Labels: elements, developer-portal, payments-client, marketplace-management

#7603 fix: corrected loading value for create button disabling
  packages/developer-portal/src/components/webhooks/__tests__/webhooks-new.test.tsx
  packages/developer-portal/src/components/webhooks/webhooks-new.tsx
Labels: developer-portal
