Repository reapit/foundations, pull requests merged in 2022-10, with the labels that each got.

#7823 feat: add query params for content fetching
  packages/app-marketplace-cms/src/cms/public-controller.ts
Labels: app-marketplace-cms

#7819 feat: 7758 admin requests for pipeline
  packages/app-marketplace-cms/src/cms/cms-controller.ts
  packages/deployment-service/src/pipeline/pipeline-controller.ts
  packages/deployment-service/src/pipeline/pipeline-provider.ts
  packages/developer-portal/src/components/iaas/__tests__/pipeline-row.test.tsx
  packages/developer-portal/src/components/iaas/index.tsx
  packages/developer-portal/src/components/iaas/pipeline-row.tsx
  packages/utils-nest/README.md
  packages/utils-nest/src/auth/admin-guard.ts
  packages/utils-nest/src/auth/consts.ts
  packages/utils-nest/src/auth/cred-guard.ts
  packages/utils-nest/src/auth/index.ts
  packages/utils-nest/src/auth/is-admin.ts
  packages/utils-nest/src/auth/module.ts
  packages/utils-nest/src/auth/tests/is-admin.test.ts
  packages/utils-nest/src/auth/token-provider.ts
Labels: developer-portal, deployment-service, app-marketplace-cms

#7825 fix: corrected query param validation for marketplace cms
  packages/app-marketplace-cms/src/cms/public-controller.ts
Labels: app-marketplace-cms

#7827 feat: #7812 app market details page improvements
  packages/app-market/src/components/apps-detail/__styles__/index.ts
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/apps-detail.test.tsx.snap
  packages/app-market/src/components/apps-detail/__tests__/__snapshots__/index.test.tsx.snap
  packages/app-market/src/components/apps-detail/apps-detail.tsx
  packages/app-market/src/core/use-apps-browse-state.tsx
  packages/utils-react/src/html-renderer/__styles__/index.ts
  packages/utils-react/src/html-renderer/__tests__/__snapshots__/index.test.tsx.snap
  packages/utils-react/src/html-renderer/index.tsx
Labels: utils-react

#7831 fix: #7828 further list item fix
  packages/admin-portal/src/components/approvals/__tests__/__snapshots__/diff-render-html.test.tsx.snap
  packages/app-market/src/components/apps-detail/__styles__/index.ts
Labels: admin-portal

#7833 feat: app market sort categories
  packages/app-market/src/components/apps-browse/__tests__/__snapshots__/index.test.tsx.snap
  packages/app-market/src/components/apps-browse/__tests__/app-filters-collection.test.tsx
  packages/app-market/src/components/apps-browse/__tests__/app-search-filters-bar.test.tsx
  packages/app-market/src/components/apps-browse/__tests__/index.test.tsx
  packages/app-market/src/components/apps-browse/app-filters-collection.tsx
  packages/app-market/src/components/apps-browse/app-search-filters-bar.tsx
  packages/app-market/src/core/__mocks__/use-apps-browse-state.tsx
  packages/app-market/src/core/use-apps-browse-state.tsx
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/edit-page-tabs.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/__tests__/app-listing-tab.test.tsx
  packages/developer-portal/src/components/apps/edit/app-listing-tab.tsx
Labels: developer-portal

#7841 feat: #7838 app market prod tweaks
  packages/admin-portal/src/components/developers/__tests__/__snapshots__/members-table.test.tsx.snap
  packages/admin-portal/src/components/developers/members-table.tsx
  packages/app-market/src/components/apps-detail/apps-detail.tsx
  packages/app-market/src/components/settings/__tests__/__snapshots__/filter-form.test.tsx.snap
  packages/app-market/src/components/settings/__tests__/__snapshots__/settings-installed.test.tsx.snap
  packages/app-market/src/components/settings/__tests__/filter-form.test.tsx
  packages/app-market/src/components/settings/filter-form.tsx
  packages/app-market/src/components/settings/settings-installed.tsx
Labels: admin-portal

#7844 feat: #7838 app market and admin tweaks
  packages/admin-portal/src/components/developers/__tests__/__snapshots__/members-table.test.tsx.snap
  packages/admin-portal/src/components/developers/members-table.tsx
  packages/app-market/src/components/apps-browse/filtered-apps.tsx
  packages/developer-portal/src/components/apps/edit/form-schema/validation-schema.ts
Labels: admin-portal, developer-portal

#7850 feat: app builder tabs
  .yarn/cache/react-horizontal-scrolling-menu-npm-3.2.0-ce34f281b1-5f19f05ec8.zip
  .yarn/cache/smooth-scroll-into-view-if-needed-npm-1.1.33-92177652b7-feb4c58fd1.zip
  packages/app-builder/package.json
  packages/app-builder/src/components/icons/delete.tsx
  packages/app-builder/src/components/icons/plus.tsx
  packages/app-builder/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/app-builder/src/components/pages/__tests__/home.test.tsx
  packages/app-builder/src/components/ui/components.tsx
  packages/app-builder/src/components/ui/header/PageSelector.tsx
  packages/app-builder/src/components/ui/header/__tests__/__snapshots__/header.test.tsx.snap
  packages/app-builder/src/components/ui/header/__tests__/__snapshots__/page-selector.test.tsx.snap
  packages/app-builder/src/components/ui/header/__tests__/header.test.tsx
  packages/app-builder/src/components/ui/header/__tests__/page-selector.test.tsx
  packages/app-builder/src/components/ui/header/index.tsx
  packages/app-builder/src/components/ui/render-node/__tests__/__snapshots__/render-node.test.tsx.snap
  packages/app-builder/src/components/ui/render-node/add-container.tsx
  packages/app-builder/src/components/ui/render-node/index.tsx
  packages/app-builder/src/components/ui/render-node/styles.ts
  packages/app-builder/src/components/ui/sidebar.tsx
  packages/app-builder/src/components/ui/user/ejectable/table.tsx
  packages/app-builder/src/components/ui/viewport/__tests__/__snapshots__/viewport.test.tsx.snap
  packages/app-builder/src/components/ui/viewport/__tests__/viewport.test.tsx
  packages/app-builder/src/components/ui/viewport/index.tsx
  packages/app-builder/src/components/ui/viewport/inject-frame-styles.tsx
  packages/app-builder/src/components/ui/viewport/page-builder-placeholder.tsx
  packages/app-builder/src/components/ui/viewport/tab-bar.tsx
  yarn.lock
Labels: app-builder, dependencies, app-market

#7847 fix: #7842 replace favicons package to fix PWA behaviour
  .yarn/cache/author-regex-npm-1.0.0-0fd8e24108-9ad8bffb02.zip
  .yarn/cache/entities-npm-4.4.0-97635dc5cc-84d250329f.zip
  .yarn/cache/favicons-npm-7.0.0-beta.1-3f0f060953-9e5c84b514.zip
  .yarn/cache/favicons-npm-7.0.1-97387515dc-68a0ab9614.zip
  .yarn/cache/favicons-webpack-plugin-npm-6.0.0-alpha.1-8a824d7856-0e9696b088.zip
  .yarn/cache/lodash.defaultsdeep-npm-4.6.1-cf3ec4337e-1f346f1615.zip
  .yarn/cache/node-addon-api-npm-4.3.0-a07a1232df-3de396e23c.zip
  .yarn/cache/node-addon-api-npm-5.0.0-c0def7fecf-7c5e2043ac.zip
  .yarn/cache/parse-author-npm-2.0.0-05189640ff-066ad615de.zip
  .yarn/cache/parse5-npm-7.1.1-27fa6524c4-8f72fbfa6d.zip
  .yarn/cache/sharp-npm-0.29.3-70033a2ec2-d496cdd546.zip
  .yarn/cache/sharp-npm-0.30.7-6db6fef43e-bbc63ca3c7.zip
  .yarn/cache/webpack-favicons-npm-1.3.8-0ed3df054b-0a331981a2.zip
  packages/ts-scripts/package.json
  packages/ts-scripts/src/webpack/webpack.config.dev.js
  packages/ts-scripts/src/webpack/webpack.config.prod.js
  yarn.lock
Labels: ts-scripts, dependencies

#7849 feat: #7843 fix for video diffing
  packages/admin-portal/src/components/approvals/app-revision-comparison.tsx
Labels: admin-portal

#7867 feat: #7866 admin permissions fix
  packages/admin-portal/src/core/use-permissions-state.tsx
Labels: admin-portal

#7879 feat: autogen nav
  packages/app-builder-backend/src/ddb.ts
  packages/app-builder-backend/src/entities/app.ts
  packages/app-builder-backend/src/entities/page.ts
  packages/app-builder-backend/src/resolvers/app-resolver.ts
  packages/app-builder-backend/src/utils/fetch.ts
  packages/app-builder/src/components/hooks/apps/fragments.ts
  packages/app-builder/src/components/hooks/apps/use-app.ts
  packages/app-builder/src/components/hooks/apps/use-update-app.ts
  packages/app-builder/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/app-builder/src/components/ui/header/PageSelector.tsx
  packages/app-builder/src/components/ui/header/__tests__/__snapshots__/header.test.tsx.snap
  packages/app-builder/src/components/ui/header/__tests__/__snapshots__/page-selector.test.tsx.snap
  packages/app-builder/src/components/ui/render-node/__tests__/__snapshots__/render-node.test.tsx.snap
  packages/app-builder/src/components/ui/render-node/add-container.tsx
  packages/app-builder/src/components/ui/user/create-page.tsx
  packages/app-builder/src/components/ui/user/ejectable/navigation.tsx
  packages/app-builder/src/components/ui/user/navigation.tsx
  packages/app-builder/src/components/ui/viewport/__tests__/__snapshots__/viewport.test.tsx.snap
  packages/app-builder/src/components/ui/viewport/index.tsx
  packages/app-builder/src/core/config.ts
  packages/app-builder/src/core/router.tsx
Labels: app-builder, app-builder-backend, app-market

#7888 fix: #7882 rich text editor fix
  packages/marketplace/src/components/apps-detail/__styles__/index.ts
  packages/marketplace/src/components/apps-detail/apps-detail.tsx
  packages/utils-react/src/html-renderer/__styles__/index.ts
  packages/utils-react/src/rich-text-editor/__styles__/index.css
  packages/utils-react/src/rich-text-editor/__tests__/__snapshots__/index.test.tsx.snap
  packages/utils-react/src/rich-text-editor/index.tsx
Labels: marketplace, utils-react

#7891 fix: #7762 cra update persistent notification
  packages/cra-template-foundations/template/src/components/hocs/error-boundary.tsx
  packages/cra-template-foundations/template/src/components/pages/home-page.tsx
  packages/cra-template-foundations/template/src/components/ui/examples/form-example.tsx
  packages/cra-template-foundations/template/src/components/ui/examples/list-example.tsx
  packages/cra-template-foundations/template/src/components/ui/examples/table-example.tsx
Labels: cra-template-foundations, create-node-app-generator

#7900 fix: #7883 dev portal pipelines fix
  packages/developer-portal/src/components/iaas/index.tsx
Labels: developer-portal

#7905 fix: cms permissions fix
  packages/app-marketplace-cms/src/cms/cms-controller.ts
Labels: app-marketplace-cms

#7904 fix: Pusher/auth call issues resolved
  packages/deployment-service/orm-datasource.ts
  packages/deployment-service/ormconfig.json
  packages/deployment-service/package.json
  packages/deployment-service/src/http.ts
  packages/deployment-service/src/local-http.ts
  packages/deployment-service/src/pipeline/pipeline-controller.ts
  packages/developer-portal/src/components/apps/index.tsx
  packages/developer-portal/src/components/iaas/index.tsx
Labels: developer-portal, deployment-service

#7918 feat: added office id to table
  packages/marketplace-management/src/components/ui/offices/offices-tab.tsx
Labels: marketplace-management

#7919 feat: added column for public field
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/apps-table.test.tsx.snap
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/apps/apps-table.tsx
Labels: admin-portal

#7920 fix: corrected content-type for auth with pusher-js
  packages/developer-portal/src/components/apps/index.tsx
  packages/developer-portal/src/components/iaas/index.tsx
Labels: developer-portal

#7921 fix: app builder permissions & UI improvements
  packages/app-builder-backend/src/resolvers/app-resolver.ts
  packages/app-builder/src/components/icons/link.tsx
  packages/app-builder/src/components/pages/__tests__/__snapshots__/home.test.tsx.snap
  packages/app-builder/src/components/ui/__tests__/__snapshots__/sidebar.tsx.snap
  packages/app-builder/src/components/ui/__tests__/__snapshots__/toolbox.tsx.snap
  packages/app-builder/src/components/ui/user/ejectable/form-input.tsx
  packages/app-builder/src/components/ui/user/ejectable/navigation.tsx
  packages/app-builder/src/components/ui/user/ejectable/table.tsx
  packages/app-builder/src/components/ui/viewport/__tests__/__snapshots__/viewport.test.tsx.snap
Labels: app-builder, app-builder-backend, app-market

#7924 fix: #7882 remove formatting on paste in rich text editor
  packages/utils-react/src/rich-text-editor/index.tsx
Labels: utils-react

#7923 [Snyk] Upgrade @reapit/elements from 3.9.3 to 3.9.4
  packages/geo-diary-marketing/package.json
Labels: geo-diary-marketing

#7942 fix: #7940 auto bot dependency roll back
  .yarn/cache/@probot-adapter-github-actions-npm-3.1.1-7851380a07-0932c74d2f.zip
  .yarn/cache/pino-npm-6.14.0-d486952bad-eb13e12e3a.zip
  .yarn/cache/process-warning-npm-1.0.0-8b886c4a9d-c708a03241.zip
  packages/auto-reply-bot/action/index.js
  packages/auto-reply-bot/package.json
  yarn.lock
Labels: dependencies, auto-reply-bot

#7949 feat: #7922 updates installations download
  packages/admin-portal/src/components/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/installations/__tests__/index.test.tsx
  packages/admin-portal/src/components/installations/index.tsx
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
Labels: admin-portal

#7960 feat: #7892 #7956 subs and installations fixes
  packages/admin-portal/src/components/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/installations/index.tsx
  packages/admin-portal/src/components/statistics/index.tsx
  packages/admin-portal/src/components/subscriptions/index.tsx
  packages/admin-portal/src/services/constants.ts
  packages/admin-portal/src/services/customers.ts
Labels: admin-portal

#7963 feat: #7951 marketplace enquiry modal
  packages/marketplace/src/components/apps-browse/__styles__/hero-apps.ts
  packages/marketplace/src/components/apps-browse/__tests__/__snapshots__/featured-hero-apps.test.tsx.snap
  packages/marketplace/src/components/apps-browse/__tests__/__snapshots__/hero-apps.test.tsx.snap
  packages/marketplace/src/components/apps-browse/featured-hero-apps.tsx
  packages/marketplace/src/components/apps-detail/__tests__/__snapshots__/apps-detail.test.tsx.snap
  packages/marketplace/src/components/apps-detail/apps-detail.tsx
  packages/marketplace/src/components/apps-support/apps-support-item.tsx
  packages/utils-react/src/desktop-link/__tests__/__snapshots__/index.test.tsx.snap
  packages/utils-react/src/desktop-link/__tests__/index.test.tsx
  packages/utils-react/src/desktop-link/index.tsx
Labels: marketplace, utils-react

#7965 feat: #7653 update mm app schema
  packages/marketplace-management/src/components/ui/apps/app-installation-per-office-group.tsx
  packages/marketplace-management/src/components/ui/offices/__stubs__/merge-offices-stub.ts
  packages/marketplace-management/src/components/ui/offices/__tests__/office-group-edit-form.test.tsx
  packages/marketplace-management/src/components/ui/offices/office-group-edit-form.tsx
  packages/marketplace-management/src/components/ui/offices/offices-groups-tab.tsx
  packages/marketplace-management/src/components/ui/users/__tests_/edit-user-group.test.tsx
  packages/marketplace-management/src/components/ui/users/__tests_/edit-user.test.tsx
  packages/marketplace-management/src/components/ui/users/edit-user-group.tsx
  packages/marketplace-management/src/components/ui/users/edit-user.tsx
  packages/marketplace-management/src/components/ui/users/user-groups-tab.tsx
  packages/marketplace-management/src/components/ui/users/users-tab.tsx
  packages/marketplace-management/src/services/__stubs__/office-groups.ts
  packages/marketplace-management/src/services/__stubs__/user-groups.ts
  packages/marketplace-management/src/services/__stubs__/users.ts
  packages/marketplace-management/src/services/user.ts
  packages/marketplace-management/src/types/organisations-schema.ts
  packages/marketplace-management/src/utils/prepare-options.ts
  packages/marketplace-management/src/utils/use-org-id.tsx
Labels: marketplace-management

#7964 feat: #7855 app deletion protection
  .yarn/cache/@probot-adapter-github-actions-npm-3.1.3-a942a6f4e2-275b07c4a4.zip
  .yarn/cache/fast-redact-npm-3.1.2-e090ce0184-a30eb6b683.zip
  .yarn/cache/on-exit-leak-free-npm-2.1.0-b522202aa1-7334d98b87.zip
  .yarn/cache/pino-abstract-transport-npm-1.0.0-a566611547-05dd0eda52.zip
  .yarn/cache/pino-npm-8.6.1-c54e5f9715-1201cf2b47.zip
  .yarn/cache/pino-std-serializers-npm-6.0.0-c73a1b0dfd-d9dc1779b3.zip
  .yarn/cache/process-warning-npm-2.0.0-f7a9c0265e-a2bb299835.zip
  .yarn/cache/readable-stream-npm-4.2.0-0dde53f335-aa8447f781.zip
  .yarn/cache/real-require-npm-0.2.0-7f69dbc7b6-fa060f19f2.zip
  .yarn/cache/sonic-boom-npm-3.2.0-5dbe3c3b0b-526669b78e.zip
  .yarn/cache/thread-stream-npm-2.2.0-b23a10baa0-b7f0ee166e.zip
  packages/admin-portal/src/components/approvals/app-revision-comparison.tsx
  packages/auto-bump/action/index.js
  packages/auto-bump/package.json
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/app-listing-tab.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/edit-page-tabs.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/app-listing-tab.tsx
  packages/developer-portal/src/components/apps/edit/form-schema/form-fields.ts
  packages/developer-portal/src/components/apps/list/app-card.tsx
  packages/developer-portal/src/components/apps/utils/__tests__/handle-default-form-values.test.ts
  packages/developer-portal/src/components/apps/utils/format-form-values.ts
  packages/developer-portal/src/components/apps/utils/handle-default-form-values.ts
  yarn.lock
Labels: admin-portal, developer-portal, dependencies, auto-bump

#7975 feat: #7974 elements table fix, fix typo
  packages/elements/src/components/table/__styles__/index.ts
  packages/elements/src/storybook/changelog.stories.mdx
  packages/marketplace/src/components/settings/__tests__/__snapshots__/settings-profile.test.tsx.snap
  packages/marketplace/src/components/settings/settings-profile.tsx
  packages/marketplace/src/core/__tests__/__snapshots__/analytics-banner.test.tsx.snap
  packages/marketplace/src/core/analytics-banner.tsx
Labels: marketplace, elements

#7986 feat: #7984 adds app preview for cms users
  packages/app-marketplace-admin/src/components/apps-market-manager/app-browse-manage-table.tsx
  packages/app-marketplace-admin/src/core/index.tsx
  packages/app-marketplace-admin/src/types/global.d.ts
  packages/marketplace/src/core/use-apps-browse-state.tsx
Labels: marketplace

#7991 fix: app market cms fix
  packages/app-marketplace-admin/src/components/apps-market-manager/app-browse-manage-table.tsx
  packages/app-marketplace-cms/src/cms/public-controller.ts
Labels: app-marketplace-cms

#7992 fix: app market cms date time fixes
  packages/app-marketplace-admin/src/components/apps-market-manager/app-browse-upsert-modal.tsx
  packages/app-marketplace-cms/src/cms/public-controller.ts
Labels: app-marketplace-cms

#7995 fix: #7994 app market dev id fix
  packages/marketplace/src/components/apps-installed/apps-installed.tsx
Labels: marketplace

#8001 fix: app market go live fixes
  packages/app-marketplace-admin/src/components/apps-market-manager/app-browse-upsert-modal.tsx
  packages/app-marketplace-admin/src/components/apps-market-manager/app-browse-upsert.tsx
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/app-listing-tab.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/edit-page-tabs.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/form-schema/form-fields.ts
  packages/developer-portal/src/components/apps/edit/form-schema/validation-schema.ts
  packages/marketplace/src/components/apps-support/index.tsx
  packages/marketplace/src/utils/navigation.ts
Labels: marketplace, developer-portal

#8003 fix: correct marketplace cms islive
  packages/app-marketplace-cms/src/cms/cms-provider.ts
  packages/app-marketplace-cms/src/cms/marketplace-app-dto.ts
  packages/app-marketplace-cms/src/cms/marketplace-app-model.ts
  packages/app-marketplace-cms/src/http.ts
  packages/foundations-ts-definitions/marketplace-cms/index.ts
Labels: foundations-ts-definitions, app-marketplace-cms

#8021 fix: #8005 fix enquire link in AC
  packages/utils-react/src/desktop-link/__tests__/__snapshots__/index.test.tsx.snap
  packages/utils-react/src/desktop-link/__tests__/index.test.tsx
  packages/utils-react/src/desktop-link/index.tsx
Labels: utils-react

#8020 chore: #8009 prevent mixpanel tracking in dev
  packages/marketplace/src/core/__tests__/analytics-banner.test.tsx
  packages/marketplace/src/core/analytics-banner.tsx
Labels: marketplace

#8030 feat: #8019 adds cache buster to config json files
  packages/admin-portal/src/core/index.tsx
  packages/app-builder/src/core/index.tsx
  packages/app-marketplace-admin/src/core/index.tsx
  packages/data-warehouse/src/core/index.tsx
  packages/developer-portal/src/core/index.tsx
  packages/geo-diary/src/core/index.tsx
  packages/insights/src/core/index.tsx
  packages/marketplace-management/src/core/index.tsx
  packages/marketplace/src/core/index.tsx
  packages/new-auth-ui/src/core/index.tsx
  packages/payments-client/src/core/index.tsx
  packages/react-app-scaffolder/app/templates/react-app/src/core/index.tsx
  packages/reapit-connect/src/core/index.tsx
  packages/ts-scripts/src/webpack/webpack.config.prod.js
Labels: marketplace, react-app-scaffolder, geo-diary, admin-portal, developer-portal, data-warehouse, payments-client, reapit-connect, marketplace-management, ts-scripts, insights, app-builder, app-market

#8031 fix: #7990 #8022 dev portal fixes
  packages/developer-portal/src/components/webhooks/state/use-webhooks-state.tsx
Labels: developer-portal
