Repository reapit/foundations, pull requests merged in 2023-08, with the labels that each got.

#9622 fix: added branch to github pull
  packages/deployment-service/src/codebuild/source-provider.ts
Labels: deployment-service

#9628 chore: move snyk to dev dep
  packages/connect-session/package.json
Labels: connect-session

#9654 feat: #9250 #9639 payments text changes
  packages/payments-client/src/components/payment/__tests__/__snapshots__/payment.test.tsx.snap
  packages/payments-portal/src/components/payment/__tests__/__snapshots__/payment.test.tsx.snap
  packages/payments-service/src/payment-receipt/__tests__/__snapshots__/provider.test.ts.snap
  packages/payments-service/src/payment-receipt/template.ts
  packages/payments-service/src/payment-request/__tests__/__snapshots__/provider.test.ts.snap
  packages/payments-service/src/payment-request/template.ts
  packages/payments-ui/src/payment-page/__tests__/__snapshots__/index.test.tsx.snap
  packages/payments-ui/src/payment-page/__tests__/__snapshots__/payment-form.test.tsx.snap
  packages/payments-ui/src/payment-page/__tests__/__snapshots__/payment-page-content.test.tsx.snap
  packages/payments-ui/src/payment-page/payment-form.tsx
Labels: payments-client, payments-service

#9658 feat: #9250 #9639 payments text changes
  packages/payments-service/src/payment-receipt/__tests__/__snapshots__/provider.test.ts.snap
  packages/payments-service/src/payment-receipt/template.ts
  packages/payments-service/src/payment-request/__tests__/__snapshots__/provider.test.ts.snap
  packages/payments-service/src/payment-request/template.ts
Labels: payments-service

#9707 feat: petes changes for admin portal
  packages/admin-portal/src/components/usage/__tests__/__snapshots__/usage-table.test.tsx.snap
  packages/admin-portal/src/components/usage/usage-table.tsx
  packages/foundations-ts-definitions/traffic-schema/marketplace-traffic-event-schema.ts
Labels: admin-portal, foundations-ts-definitions

#9729 feat: updated register select roles page
  packages/developer-portal/src/components/login/__tests__/__snapshots__/select-role.test.tsx.snap
  packages/developer-portal/src/components/login/select-role.tsx
Labels: developer-portal
