Repository reapit/foundations, pull requests merged in 2023-11, with the labels that each got.

#10070 fix: added mv command for hidden files and folders
  packages/deployment-service/src/codebuild/codebuild-executor-workflow.ts
Labels: deployment-service

#10088 feat: #9990 small elements tweaks
  packages/admin-portal/src/components/consents/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/customers/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/iaas/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/usage/__tests__/__snapshots__/usage-table.test.tsx.snap
  packages/data-warehouse/src/components/accounts/__tests__/__snapshots__/accounts.test.tsx.snap
  packages/developer-portal/src/components/analytics/calculator/__tests__/__snapshots__/results-table.test.tsx.snap
  packages/developer-portal/src/components/analytics/costs/__tests__/__snapshots__/download-resources-table.test.tsx.snap
  packages/developer-portal/src/components/analytics/costs/__tests__/__snapshots__/services-table.test.tsx.snap
  packages/developer-portal/src/components/analytics/costs/__tests__/__snapshots__/usage-table.test.tsx.snap
  packages/developer-portal/src/components/apps/consents/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/register/terms-and-conditions-modal/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/register/terms-and-conditions-modal/__tests__/__snapshots__/schedule-two.test.tsx.snap
  packages/developer-portal/src/components/settings/members/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/settings/subscriptions/__tests__/__snapshots__/index.test.tsx.snap
  packages/elements/package.json
  packages/elements/src/components/key-value-list/key-value-list.stories.mdx
  packages/elements/src/components/loader/__styles__/index.ts
  packages/elements/src/components/searchable-dropdown/__styles__/index.ts
  packages/elements/src/components/table/__tests__/__snapshots__/molecules.test.tsx.snap
  packages/elements/src/components/table/__tests__/__snapshots__/table.test.tsx.snap
  packages/elements/src/components/table/molecules.tsx
  packages/elements/src/hooks/use-snack/index.tsx
  packages/marketplace/src/components/settings/__tests__/__snapshots__/settings-installed.test.tsx.snap
  packages/payments-client/src/components/payments/__tests__/__snapshots__/index.test.tsx.snap
  packages/rc-service/src/components/orgs/__tests__/__snapshots__/index.test.tsx.snap
  packages/rc-service/src/core/private-route-wrapper.tsx
Labels: marketplace, elements, admin-portal, developer-portal, data-warehouse, payments-client

#10046 [Snyk] Security upgrade axios from 0.27.2 to 1.6.0
  packages/connect-session/package.json
  yarn.lock
Labels: connect-session

#10045 [Snyk] Security upgrade axios from 0.27.2 to 1.6.0
  packages/graphql-server/package.json
  packages/graphql-server/src/utils/get-id-from-create-headers.ts
  yarn.lock
Labels: graphql-server

#10097 [Snyk] Upgrade @types/express from 4.17.18 to 4.17.20
  .yarn/cache/@types-express-npm-4.17.18-c095318854-b344988a35.zip
  .yarn/cache/@types-express-npm-4.17.20-a63c9e93d3-7dba63831c.zip
  packages/ts-types/package.json
  yarn.lock
Labels: ts-types, dependencies

#10249 [Snyk] Security upgrade @octokit/rest from 16.43.2 to 17.0.0
  .yarn/cache/@octokit-core-npm-2.5.4-8c099fb188-0e685ffeb2.zip
  .yarn/cache/@octokit-graphql-npm-4.8.0-83d118b4da-e03a3a05b7.zip
  .yarn/cache/@octokit-openapi-types-npm-12.11.0-cc40f04bc8-579bbbafe8.zip
  .yarn/cache/@octokit-plugin-paginate-rest-npm-1.1.2-b0b3e646dc-b5766c0039.zip
  .yarn/cache/@octokit-plugin-paginate-rest-npm-2.21.3-82d2ad1bba-446d577695.zip
  .yarn/cache/@octokit-plugin-rest-endpoint-methods-npm-2.4.0-c786d75f5b-a370dc7cee.zip
  .yarn/cache/@octokit-plugin-rest-endpoint-methods-npm-3.17.0-1d22e01c90-e0dcc8a19f.zip
  .yarn/cache/@octokit-request-error-npm-1.2.1-0af51a468f-4dee522a0a.zip
  .yarn/cache/@octokit-rest-npm-16.43.2-dd2de884c3-462016be28.zip
  .yarn/cache/@octokit-rest-npm-17.11.2-9fb1565d50-9da052db51.zip
  .yarn/cache/@octokit-types-npm-2.16.2-67cc6da7f2-b9dc4ed83a.zip
  .yarn/cache/@octokit-types-npm-4.1.10-d12c6b1316-e1c4beb856.zip
  .yarn/cache/@octokit-types-npm-6.41.0-5788f32962-905c8553e4.zip
  .yarn/cache/atob-lite-npm-2.0.0-62802899eb-336880fdca.zip
  .yarn/cache/lodash.set-npm-4.3.2-7586c942c2-f0968109bc.zip
  .yarn/cache/octokit-pagination-methods-npm-1.1.0-ce2bd023d6-3343981d36.zip
  .yarn/cache/universal-user-agent-npm-4.0.1-d1d67caaeb-93fe45938d.zip
  packages/foundations-ts-definitions/types/organisations-schema.ts
  packages/foundations-ts-definitions/types/platform-schema.ts
  packages/ts-scripts/package.json
  yarn.lock
Labels: ts-scripts, dependencies, foundations-ts-definitions

#10123 [Snyk] Upgrade @craftjs/core from 0.2.0 to 0.2.1
  .yarn/cache/@craftjs-core-npm-0.2.0-6a3a15508f-1ee10f40af.zip
  .yarn/cache/@craftjs-core-npm-0.2.1-770cf39ff4-b2147ff3a7.zip
  packages/app-builder/package.json
  yarn.lock
Labels: app-builder, dependencies, app-market

#10248 [Snyk] Upgrade cookie from 0.5.0 to 0.6.0
  .yarn/cache/cookie-npm-0.6.0-362d6a2e45-c1f8f2ea7d.zip
  packages/graphql-server/package.json
  yarn.lock
Labels: graphql-server, dependencies

#10263 chore: Tweak message so it reads better and looks nicer
  packages/developer-portal/src/components/apps/page/helper.tsx
Labels: developer-portal

#10120 fix: #10083 payments app timeout patch
  packages/elements/src/components/input/__styles__/index.ts
  packages/payments-client/src/components/payment/__tests__/__snapshots__/payment.test.tsx.snap
  packages/payments-portal/src/components/payment/__tests__/__snapshots__/payment.test.tsx.snap
  packages/payments-service/cdk/cdk.ts
  packages/payments-service/src/opayo/dto.ts
  packages/payments-ui/src/payment-page/__tests__/__snapshots__/index.test.tsx.snap
  packages/payments-ui/src/payment-page/__tests__/__snapshots__/payment-form.test.tsx.snap
  packages/payments-ui/src/payment-page/__tests__/__snapshots__/payment-page-content.test.tsx.snap
  packages/payments-ui/src/payment-page/__tests__/payment-handlers.test.ts
  packages/payments-ui/src/payment-page/payment-form.tsx
  packages/payments-ui/src/payment-page/payment-handlers.ts
  packages/payments-ui/src/payment-page/payment-validation-schema.ts
Labels: elements, payments-client, payments-service
