Repository reapit/foundations, pull requests merged in 2023-10, with the labels that each got.

#9899 fix: custom mailer - export function arn
  packages/cognito-custom-mail-lambda/serverless.yml
Labels: cognito-custom-mail-lambda

#9914 feat: #9760 dev portal release patch
  packages/developer-portal/package.json
Labels: developer-portal

#9960 feat: #9761 page heading and layout tweaks
  packages/elements/package.json
  packages/elements/src/components/grid/grid.stories.mdx
  packages/elements/src/components/layout/__styles__/index.ts
  packages/elements/src/components/layout/__tests__/__snapshots__/layout.test.tsx.snap
  packages/elements/src/components/layout/__tests__/layout.test.tsx
  packages/elements/src/components/layout/layout.stories.mdx
  packages/elements/src/components/layout/layout.tsx
  packages/elements/src/components/page-header/__styles__/index.ts
  packages/elements/src/components/page-header/__tests__/__snapshots__/page-header.test.tsx.snap
  packages/elements/src/components/page-header/__tests__/page-header.test.tsx
  packages/elements/src/components/page-header/page-header.stories.mdx
  packages/elements/src/components/page-header/page-header.tsx
  packages/elements/src/components/tabs/__styles__/index.ts
  packages/elements/src/components/tabs/tabs.tsx
  packages/elements/src/components/tile/tile.stories.mdx
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements

#9962 [Snyk] Upgrade @types/express from 4.17.17 to 4.17.18
  .yarn/cache/@types-express-npm-4.17.17-46fe8173db-0196dacc27.zip
  .yarn/cache/@types-express-npm-4.17.18-c095318854-8c178da4f0.zip
  packages/ts-types/package.json
  yarn.lock
Labels: ts-types, dependencies

#10013 fix: border hidden nav fix
  packages/elements/src/components/nav/__styles__/index.ts
Labels: elements

#10017 feat: #9990 add controlled option to tabs
  packages/elements/package.json
  packages/elements/src/components/tabs/__tests__/__snapshots__/tabs.test.tsx.snap
  packages/elements/src/components/tabs/__tests__/tabs.test.tsx
  packages/elements/src/components/tabs/tabs.stories.mdx
  packages/elements/src/components/tabs/tabs.tsx
Labels: elements

#10020 chore: update actions to Node 18 versions
  .github/workflows/auto-bot.yml
  .github/workflows/build-pr.yml
  .github/workflows/check-pr.yml
  .github/workflows/definitions-update.yml
  .github/workflows/graphql-swagger-update.yml
  .github/workflows/lint-pr.yml
  .github/workflows/release-dev.yml
  .github/workflows/release-prod.yml
  .github/workflows/rollback-prod.yml
  .github/workflows/seed-data.yml
  .github/workflows/test-pr.yml
Labels: infra
