Repository reapit/foundations, pull requests merged in 2023-07, with the labels that each got.

#9346 [Snyk] Upgrade vite-plugin-pwa from 0.15.2 to 0.16.2
  .yarn/cache/vite-plugin-pwa-npm-0.15.2-9720b1faae-0430d3fd95.zip
  .yarn/cache/vite-plugin-pwa-npm-0.16.4-00aaf407af-16810da98c.zip
  .yarn/cache/workbox-background-sync-npm-6.5.4-13a7f8219a-60ac80275c.zip
  .yarn/cache/workbox-background-sync-npm-7.0.0-14047ed1d1-79b6441656.zip
  .yarn/cache/workbox-broadcast-update-npm-6.5.4-37b0700ca4-63cbab2012.zip
  .yarn/cache/workbox-broadcast-update-npm-7.0.0-1a464e19e7-eee5c09fd7.zip
  .yarn/cache/workbox-build-npm-6.5.4-71d02fae43-7336bbab4c.zip
  .yarn/cache/workbox-build-npm-7.0.0-ab8b273753-f230463833.zip
  .yarn/cache/workbox-cacheable-response-npm-6.5.4-5661dd1793-f7545b71c1.zip
  .yarn/cache/workbox-cacheable-response-npm-7.0.0-0c00aa614a-c9d834b255.zip
  .yarn/cache/workbox-core-npm-6.5.4-a956387c31-d973cc6c1c.zip
  .yarn/cache/workbox-core-npm-7.0.0-aa84335b7a-ca64872f9c.zip
  .yarn/cache/workbox-expiration-npm-6.5.4-081a8d4613-4b012b69ce.zip
  .yarn/cache/workbox-expiration-npm-7.0.0-8f4817a6b1-3d7cce5731.zip
  .yarn/cache/workbox-google-analytics-npm-6.5.4-bf443f64b1-fcce5e3137.zip
  .yarn/cache/workbox-google-analytics-npm-7.0.0-0dc29ffc74-defb12c3f4.zip
  .yarn/cache/workbox-navigation-preload-npm-6.5.4-f9b6686723-c8c341b799.zip
  .yarn/cache/workbox-navigation-preload-npm-7.0.0-f84efe8e54-329018003c.zip
  .yarn/cache/workbox-precaching-npm-6.5.4-69d8a56e94-15ef24ffb0.zip
  .yarn/cache/workbox-precaching-npm-7.0.0-cbbffc1994-311b1c4a16.zip
  .yarn/cache/workbox-range-requests-npm-6.5.4-81869b9d72-50f144ced7.zip
  .yarn/cache/workbox-range-requests-npm-7.0.0-259b3e7f3d-04f6d7921a.zip
  .yarn/cache/workbox-recipes-npm-6.5.4-03aa78ea0b-397befeb7c.zip
  .yarn/cache/workbox-recipes-npm-7.0.0-a584f2ff39-253d50a315.zip
  .yarn/cache/workbox-routing-npm-6.5.4-7e767a784d-7198c50b90.zip
  .yarn/cache/workbox-routing-npm-7.0.0-bf5455e8b7-9ea5b00fde.zip
  .yarn/cache/workbox-strategies-npm-6.5.4-8bc6258bfc-52134ecd6c.zip
  .yarn/cache/workbox-strategies-npm-7.0.0-f284a2ca9a-4f20604e76.zip
  .yarn/cache/workbox-streams-npm-6.5.4-17a6050105-efd6917ead.zip
  .yarn/cache/workbox-streams-npm-7.0.0-08e7253f1a-e2975eb773.zip
  .yarn/cache/workbox-sw-npm-6.5.4-307d7c4499-b95c76a74b.zip
  .yarn/cache/workbox-sw-npm-7.0.0-f34a786f44-f2673bc3f7.zip
  .yarn/cache/workbox-window-npm-6.5.4-20240f4b44-bc43c8d319.zip
  .yarn/cache/workbox-window-npm-7.0.0-16d2736e3d-486ceaf2c0.zip
  packages/ts-scripts/package.json
  yarn.lock
Labels: ts-scripts, dependencies

#9347 [Snyk] Upgrade tslib from 2.5.2 to 2.5.3
  .yarn/cache/tslib-npm-2.5.3-7756051e02-88902b309a.zip
  packages/graphql-server/package.json
  yarn.lock
Labels: graphql-server, dependencies

#9418 fix: #9417 payments runtime bug
  .yarn/cache/@nestjs-platform-express-npm-9.4.3-835ef24519-d7fc96a979.zip
  packages/payments-service/cdk/cdk-stack.ts
  packages/payments-service/package.json
  packages/payments-service/tsup.config.js
  yarn.lock
Labels: payments-service, dependencies

#9422 feat: increased the max ram of codebuild resource
  packages/ts-scripts/src/cdk/components/codebuild-project.ts
Labels: ts-scripts

#9443 fix: crypto transpiling issue #9405
  .yarn/cache/@jspm-core-npm-2.0.1-6915565e6a-611f37cadd.zip
  .yarn/cache/@octokit-app-npm-12.0.7-03e4ae13df-a987e46d20.zip
  .yarn/cache/@octokit-app-npm-14.0.0-82926149fa-6d1923f5e2.zip
  .yarn/cache/@octokit-auth-app-npm-6.0.0-88cce64c7c-e3eb3ff7be.zip
  .yarn/cache/@octokit-auth-oauth-app-npm-7.0.0-0782f4f46b-fa050fbd05.zip
  .yarn/cache/@octokit-auth-oauth-device-npm-6.0.0-2501846a20-ba6e46a42a.zip
  .yarn/cache/@octokit-auth-oauth-user-npm-4.0.0-a6aff64dd4-d4382d5fa3.zip
  .yarn/cache/@octokit-auth-token-npm-4.0.0-9ad78a752f-d78f4dc48b.zip
  .yarn/cache/@octokit-auth-unauthenticated-npm-5.0.0-d7e59efe4e-ec0715c2fb.zip
  .yarn/cache/@octokit-core-npm-5.0.0-c9003d20df-1a5d1112a2.zip
  .yarn/cache/@octokit-endpoint-npm-9.0.0-0d4530e44e-0e402c4d0f.zip
  .yarn/cache/@octokit-graphql-npm-7.0.1-5feff6ab44-7ee907987b.zip
  .yarn/cache/@octokit-oauth-app-npm-3.6.0-93a2b53ca2-bbaa30a4db.zip
  .yarn/cache/@octokit-oauth-app-npm-6.0.0-b89f75e239-5d07c6fe15.zip
  .yarn/cache/@octokit-oauth-authorization-url-npm-6.0.2-7e66c4af6b-0f11169a3e.zip
  .yarn/cache/@octokit-oauth-methods-npm-4.0.0-5405a95ddc-623f3031f5.zip
  .yarn/cache/@octokit-openapi-types-npm-18.0.0-1586e405d6-d487d6c6c1.zip
  .yarn/cache/@octokit-plugin-paginate-rest-npm-8.0.0-3e517c8a85-b5d7cee505.zip
  .yarn/cache/@octokit-request-error-npm-5.0.0-262908a2c1-2012eca66f.zip
  .yarn/cache/@octokit-request-npm-8.1.0-87eb780984-00f71e1ca0.zip
  .yarn/cache/@octokit-types-npm-11.1.0-668299c1c7-72627a94dd.zip
  .yarn/cache/@octokit-webhooks-methods-npm-4.0.0-e4fcb7a631-07010438e5.zip
  .yarn/cache/@octokit-webhooks-npm-12.0.3-cbd3575dab-2db63122ea.zip
  .yarn/cache/@octokit-webhooks-npm-9.22.0-a839a0a83b-8d0c4d6716.zip
  .yarn/cache/@octokit-webhooks-types-npm-5.2.0-238f8fad9f-d9a70012b3.zip
  .yarn/cache/@octokit-webhooks-types-npm-7.1.0-0e3a15740e-5aea38c38e.zip
  .yarn/cache/@types-jsonwebtoken-npm-9.0.2-7af15f7b9b-3bb8d40e78.zip
  .yarn/cache/esbuild-plugins-node-modules-polyfill-npm-1.2.0-4a291df066-9e4a7694fb.zip
  .yarn/cache/fromentries-npm-1.3.2-f5392090b8-33729c529c.zip
  .yarn/cache/local-pkg-npm-0.4.3-de61dda1fd-7825aca531.zip
  .yarn/cache/lru-cache-npm-10.0.0-256d74bb20-18f101675f.zip
  .yarn/cache/resolve.exports-npm-2.0.2-f59b42bbe5-1c7778ca1b.zip
  .yarn/cache/universal-github-app-jwt-npm-1.1.1-07e57504be-31d30150b9.zip
  packages/deployment-service/.gitignore
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/package.json
  packages/deployment-service/src/sqs.ts
  packages/deployment-service/tsup-zip.config.json
  packages/deployment-service/tsup.config.js
  packages/ts-scripts/src/tsup-zip/index.ts
  yarn.lock
Labels: ts-scripts, deployment-service, dependencies

#9451 feat: #9428 #9409 #8963 #8723 #9391 #9339 #9292 #9284 foundations quick wins
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/apps-table.test.tsx.snap
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/filter-form.test.tsx.snap
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/toggle-consumption.test.tsx.snap
  packages/admin-portal/src/components/apps/__tests__/apps-table.test.tsx
  packages/admin-portal/src/components/apps/__tests__/toggle-consumption.test.tsx
  packages/admin-portal/src/components/apps/apps-table.tsx
  packages/admin-portal/src/components/apps/filter-form.tsx
  packages/admin-portal/src/components/apps/index.tsx
  packages/admin-portal/src/components/apps/toggle-consumption.tsx
  packages/admin-portal/src/components/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/installations/__tests__/__snapshots__/toggle-consumption.test.tsx.snap
  packages/admin-portal/src/components/installations/__tests__/toggle-consumption.test.tsx
  packages/admin-portal/src/components/installations/index.tsx
  packages/admin-portal/src/components/installations/toggle-consumption.tsx
  packages/developer-portal/src/components/apps/edit/form-schema/validation-schema.ts
  packages/developer-portal/src/components/apps/utils/__tests__/validate-schema.test.ts
  packages/developer-portal/src/components/desktop/__tests__/__snapshots__/developer-edition-modal.test.tsx.snap
  packages/developer-portal/src/components/desktop/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/desktop/__tests__/index.test.tsx
  packages/developer-portal/src/components/desktop/developer-edition-modal.tsx
  packages/developer-portal/src/components/desktop/index.tsx
  packages/marketplace-management/src/components/ui/offices/office-group-create.tsx
  packages/marketplace-management/src/components/ui/offices/office-group-edit-form.tsx
  packages/marketplace-management/src/services/office.ts
  packages/rc-mfa-config/src/components/admin/index.tsx
  packages/rc-service/src/components/nav/__tests__/__snapshots__/index.test.tsx.snap
  packages/rc-service/src/components/nav/index.tsx
  packages/rc-service/src/components/users/__styles__/index.ts
  packages/rc-service/src/components/users/edit-user-groups.tsx
  packages/rc-service/src/components/users/index.tsx
  packages/rc-service/src/components/users/user-content.tsx
  packages/rc-service/src/core/private-route-wrapper.tsx
  packages/use-reapit-data/src/api-constants.ts
  packages/use-reapit-data/src/update-actions.ts
Labels: admin-portal, developer-portal, marketplace-management

#9454 fix: #9214 analytics filter
  packages/developer-portal/src/components/analytics/installations/index.tsx
Labels: developer-portal

#9455 fix: corrected crypto issue by making body a string for verify
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-lambda.ts
  packages/deployment-service/src/github/github-webhook-controller.ts
  packages/deployment-service/src/http.ts
  packages/deployment-service/src/sqs.ts
Labels: deployment-service

#9472 feat: #9339 #9391 updates
  packages/developer-portal/src/components/desktop/developer-edition-modal.tsx
  packages/rc-service/src/components/users/index.tsx
  packages/rc-service/src/components/users/user-content.tsx
Labels: developer-portal

#9483 fix: remove userpool id check
  packages/cognito-custom-mail-lambda/src/mailer/custom-mailer.ts
Labels: cognito-custom-mail-lambda

#9502 [Snyk] Upgrade tslib from 2.5.3 to 2.6.0
  .yarn/cache/tslib-npm-2.6.0-4d336a6824-c01066038f.zip
  packages/graphql-server/package.json
  yarn.lock
Labels: graphql-server, dependencies

#9524 fix: #9511 partial fix for this issue to allow updated session to cas…
  packages/connect-session/src/react/index.ts
Labels: connect-session

#9527 fix: #9511 connect session refresh issue
  packages/connect-session/src/browser/index.ts
Labels: connect-session

#9492 feat: #8773 webhooks semi structured fields
  packages/developer-portal/src/components/freeform-multi-select.tsx
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-edit-controls.test.tsx.snap
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-extra-fields.test.tsx.snap
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-manage-form.test.tsx.snap
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/webhooks-new.test.tsx.snap
  packages/developer-portal/src/components/webhooks/__tests__/webhooks-extra-fields.test.tsx
  packages/developer-portal/src/components/webhooks/__tests__/webhooks-manage-form.test.tsx
  packages/developer-portal/src/components/webhooks/__tests__/webhooks-new.test.tsx
  packages/developer-portal/src/components/webhooks/webhooks-extra-fields.tsx
  packages/developer-portal/src/components/webhooks/webhooks-manage-form.tsx
  packages/developer-portal/src/components/webhooks/webhooks-new.tsx
  packages/developer-portal/src/types/webhooks.ts
  packages/utils-react/src/helper-widget/__styles__/index.ts
Labels: developer-portal, utils-react
