Repository reapit/foundations, pull requests merged in 2023-05, with the labels that each got.

#9006 feat: #7350 adds catch on build errors
  packages/admin-portal/cdk-stack.ts
  packages/app-builder/cdk-stack.ts
  packages/app-marketplace-admin/cdk-stack.ts
  packages/data-warehouse/cdk-stack.ts
  packages/developer-portal/cdk-stack.ts
  packages/elements/cdk-stack.ts
  packages/geo-diary/cdk-stack.ts
  packages/insights/cdk-stack.ts
  packages/marketplace-management/cdk-stack.ts
  packages/marketplace/cdk-stack.ts
  packages/payments-client/cdk-stack.ts
  packages/payments-portal/cdk-stack.ts
  packages/rc-mfa-config/cdk-stack.ts
  packages/reapit-connect/cdk-stack.ts
Labels: marketplace, elements, geo-diary, admin-portal, developer-portal, data-warehouse, payments-client, reapit-connect, marketplace-management, insights, app-builder, app-market

#9016 feat: #7350 catch use reapit data error, fix scrollbar elements
  packages/elements/src/components/tabs/__styles__/index.ts
  packages/use-reapit-data/src/use-reapit-update.ts
Labels: elements

#9017 feat: #7350 fixes cdk deploy
  packages/admin-portal/cdk-stack.ts
  packages/app-builder/cdk-stack.ts
  packages/app-marketplace-admin/cdk-stack.ts
  packages/data-warehouse/cdk-stack.ts
  packages/developer-portal/cdk-stack.ts
  packages/elements/cdk-stack.ts
  packages/geo-diary/cdk-stack.ts
  packages/insights/cdk-stack.ts
  packages/marketplace-management/cdk-stack.ts
  packages/marketplace/cdk-stack.ts
  packages/payments-client/cdk-stack.ts
  packages/payments-portal/cdk-stack.ts
  packages/rc-mfa-config/cdk-stack.ts
  packages/reapit-connect/cdk-stack.ts
Labels: marketplace, elements, geo-diary, admin-portal, developer-portal, data-warehouse, payments-client, reapit-connect, marketplace-management, insights, app-builder, app-market

#9019 fix: added command for node-linker to be node_modules
  packages/deployment-service/src/codebuild/codebuild-executor-workflow.ts
Labels: deployment-service

#9057 feat: #9024 #8937 #8935 #8475 dev portal updates
  packages/developer-portal/src/components/apps/detail/__tests__/index.test.tsx
  packages/developer-portal/src/components/apps/detail/index.tsx
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/ac-integration-tab.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/__tests__/ac-integration-tab.test.tsx
  packages/developer-portal/src/components/apps/edit/ac-integration-tab.tsx
  packages/developer-portal/src/components/apps/edit/form-schema/form-fields.ts
  packages/developer-portal/src/components/apps/edit/form-schema/validation-schema.ts
  packages/developer-portal/src/components/apps/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/installations/__tests__/__snapshots__/offices-table.test.tsx.snap
  packages/developer-portal/src/components/apps/installations/__tests__/index.test.tsx
  packages/developer-portal/src/components/apps/installations/__tests__/offices-table.test.tsx
  packages/developer-portal/src/components/apps/installations/index.tsx
  packages/developer-portal/src/components/apps/installations/offices-table.tsx
  packages/developer-portal/src/components/apps/utils/__tests__/handle-default-form-values.test.ts
  packages/developer-portal/src/components/apps/utils/format-form-values.ts
  packages/developer-portal/src/components/apps/utils/handle-default-form-values.ts
  packages/developer-portal/src/core/router.tsx
  packages/developer-portal/src/tests/__stubs__/apps.ts
  packages/developer-portal/src/tests/__stubs__/installations.ts
  packages/foundations-ts-definitions/types/marketplace-schema.ts
  packages/foundations-ts-definitions/types/platform-schema.ts
  packages/use-reapit-data/src/__tests__/use-reapit-update.test.tsx
  packages/use-reapit-data/src/api-constants.ts
  packages/use-reapit-data/src/update-actions.ts
  packages/use-reapit-data/src/use-reapit-update.ts
Labels: developer-portal, foundations-ts-definitions

#9066 fix: corrected path location and changed export const of cfn value
  packages/security-header-lambda/cdk/cdk-stack.ts
  packages/security-header-lambda/cdk/consts.ts
  packages/security-header-lambda/package.json
  yarn.lock
Labels: security-header-lambda

#9086 chore: updated node version for github actions
  .github/workflows/build-pr.yml
  .github/workflows/check-pr.yml
  .github/workflows/definitions-update.yml
  .github/workflows/graphql-swagger-update.yml
  .github/workflows/lint-pr.yml
  .github/workflows/release-dev.yml
  .github/workflows/release-prod.yml
  .github/workflows/rollback-prod.yml
  .github/workflows/seed-data.yml
  .github/workflows/test-pr.yml
Labels: infra

#9116 task: Revert changes to email templates
  packages/cognito-custom-mail-lambda/src/mailer/templates/admin-user-invite.mjml
  packages/cognito-custom-mail-lambda/src/mailer/templates/confirm-registration.mjml
  packages/cognito-custom-mail-lambda/src/mailer/templates/forgot-password.mjml
Labels: cognito-custom-mail-lambda

#9118 chore: Tweak email Template contents
  packages/cognito-custom-mail-lambda/src/mailer/templates/admin-user-invite.mjml
  packages/cognito-custom-mail-lambda/src/mailer/templates/confirm-registration.mjml
  packages/cognito-custom-mail-lambda/src/mailer/templates/forgot-password.mjml
Labels: cognito-custom-mail-lambda

#9127 fix: fix node runtime error
  .yarn/cache/crc32-stream-npm-4.0.2-32a2ec50b7-1099559283.zip
  packages/cognito-custom-mail-lambda/package.json
  packages/security-header-lambda/serverless.yml
  yarn.lock
Labels: cognito-custom-mail-lambda, dependencies, security-header-lambda

#9132 fix: #9120 fixes subs cancel
  packages/admin-portal/src/components/subscriptions/__tests__/index.test.tsx
  packages/admin-portal/src/components/subscriptions/index.tsx
Labels: admin-portal

#9150 fix: #8353 fixes sonar bug
  packages/developer-portal/src/tests/__stubs__/pipeline.ts
Labels: developer-portal

#9161 refactor: changed gql package schema reader
  .yarn/cache/@babel-parser-npm-7.9.4-66a1371672-63ae76935e.zip
  .yarn/cache/@babel-traverse-npm-7.9.0-b7aa0ef74c-8c8c098123.zip
  .yarn/cache/@babel-types-npm-7.9.0-3b4c5079ff-312d942f0f.zip
  .yarn/cache/@graphql-toolkit-code-file-loader-npm-0.10.3-adf5ebfb8a-2f712e7f20.zip
  .yarn/cache/@graphql-toolkit-common-npm-0.10.3-a6cce94128-d86f90e9da.zip
  .yarn/cache/@graphql-toolkit-core-npm-0.10.3-b25eb8ba92-83b1a1ca2a.zip
  .yarn/cache/@graphql-toolkit-graphql-file-loader-npm-0.10.3-e06f8f4021-5001356fea.zip
  .yarn/cache/@graphql-toolkit-graphql-tag-pluck-npm-0.10.3-c379645e3c-078779c7c5.zip
  .yarn/cache/@graphql-toolkit-json-file-loader-npm-0.10.3-929aa75dcc-54760c1cd0.zip
  .yarn/cache/@graphql-toolkit-schema-merging-npm-0.10.3-ad1a438a01-1bde82e177.zip
  .yarn/cache/@graphql-toolkit-url-loader-npm-0.10.3-5f7fc9da9c-2ae8fdf861.zip
  .yarn/cache/@graphql-tools-graphql-file-loader-npm-8.0.0-218ad2fa85-62c5150132.zip
  .yarn/cache/@graphql-tools-import-npm-7.0.0-af816dd3c3-24f7f2096b.zip
  .yarn/cache/@graphql-tools-load-npm-8.0.0-370f3c20ca-e1126bef89.zip
  .yarn/cache/@graphql-tools-merge-npm-9.0.0-757ea851f1-e93794260f.zip
  .yarn/cache/@graphql-tools-schema-npm-10.0.0-5ffcf6b81a-550e9a4528.zip
  .yarn/cache/@graphql-tools-utils-npm-10.0.0-89c947f78b-6419109706.zip
  .yarn/cache/cross-fetch-npm-3.0.4-0dcec6097d-beea2f418b.zip
  .yarn/cache/de-indent-npm-1.0.2-66cccde30f-8deacc0f4a.zip
  .yarn/cache/extract-files-npm-7.0.0-a40f97febe-bf1e9ab41e.zip
  .yarn/cache/graphql-import-npm-1.0.2-d6723b1dd6-9558252fa1.zip
  .yarn/cache/graphql-tools-fork-npm-9.0.1-2010e4300a-64c31f8b8d.zip
  .yarn/cache/import-from-npm-3.0.0-8656bfd330-5040a7400e.zip
  .yarn/cache/is-glob-npm-4.0.1-341760116f-84627cad11.zip
  .yarn/cache/node-fetch-npm-2.6.0-29c7a53447-2b741e9315.zip
  .yarn/cache/valid-url-npm-1.0.9-945a70ad40-3ecb030559.zip
  .yarn/cache/vue-template-compiler-npm-2.6.14-37e260577c-0d03f804ac.zip
  .yarn/cache/whatwg-fetch-npm-3.0.0-89ab4ec112-dcb90ab919.zip
  packages/graphql-server/package.json
  packages/graphql-server/src/graphql-common.ts
  yarn.lock
Labels: graphql-server, dependencies

#9165 refactor: remove merge-graphql-schemas package for latest @graphql-to…
  .yarn/cache/@graphql-toolkit-common-npm-0.10.4-0ccdc64268-31f201a239.zip
  .yarn/cache/@graphql-toolkit-file-loading-npm-0.10.4-dc40e9ef27-553be22f14.zip
  .yarn/cache/@graphql-toolkit-schema-merging-npm-0.10.4-5e0c221bb4-3935f189af.zip
  .yarn/cache/@graphql-tools-load-files-npm-7.0.0-e74add88ec-1240d7caa8.zip
  .yarn/cache/@wry-equality-npm-0.1.11-e3cf830190-1a26a0fd11.zip
  .yarn/cache/aggregate-error-npm-3.0.1-46f220b212-1f922d00cc.zip
  .yarn/cache/apollo-link-http-common-npm-0.2.16-38c63491f3-46672f2b10.zip
  .yarn/cache/apollo-link-npm-1.2.14-74f0ba01f9-ad8d051ffc.zip
  .yarn/cache/apollo-upload-client-npm-13.0.0-771ce84440-491f61ff4b.zip
  .yarn/cache/apollo-utilities-npm-1.3.4-2bafd621ff-6e0192a342.zip
  .yarn/cache/camel-case-npm-4.1.1-6ae5ac15ac-ba99681991.zip
  .yarn/cache/deprecated-decorator-npm-0.1.6-86e1a9d956-26e4ca36e6.zip
  .yarn/cache/extract-files-npm-8.1.0-2a3bdc0800-a9e60ce663.zip
  .yarn/cache/globby-npm-11.0.0-a1c72451a6-3b62a10ea2.zip
  .yarn/cache/graphql-tools-npm-5.0.0-e5e908926b-94f7b67dce.zip
  .yarn/cache/lodash-npm-4.17.15-566d9324f7-bb689bc88c.zip
  .yarn/cache/merge-graphql-schemas-npm-1.7.8-1b0d063eda-a864f80344.zip
  .yarn/cache/ts-invariant-npm-0.4.4-9f97371ec3-58b32fb6b7.zip
  .yarn/cache/tslib-npm-1.11.1-8e4faed70f-06976234d5.zip
  .yarn/cache/zen-observable-ts-npm-0.8.21-9c85e9f655-2931628598.zip
  packages/graphql-server/package.json
  packages/graphql-server/scripts/build-schema.js
  packages/graphql-server/src/schema.graphql
  yarn.lock
Labels: graphql-server, dependencies

#9163 chore: updated @octokit/rest
  .yarn/cache/@octokit-auth-token-npm-2.5.0-a1c6ffb640-45949296c0.zip
  .yarn/cache/@octokit-plugin-request-log-npm-1.0.4-9ab5a2f888-2086db0005.zip
  .yarn/cache/@octokit-request-npm-5.6.3-25a5f5382d-c0b4542eb4.zip
  .yarn/cache/before-after-hook-npm-2.2.3-d79e3d6608-a1a2430976.zip
  yarn.lock
Labels: dependencies
