Repository reapit/foundations, pull requests merged in 2023-04, with the labels that each got.

#8844 fix: allow left and right single quotation mark
  packages/utils-common/src/validators/__tests__/index.test.ts
  packages/utils-common/src/validators/index.ts
Labels: utils-common

#8828 fix: package main issues in local and built
  packages/payments-service/tsconfig.json
  packages/utils-nest/package.json
  packages/utils-nest/tsconfig.json
Labels: payments-service

#8849 feat: close modal when escape key is pressed
  packages/elements/src/components/modal/modal.tsx
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements

#8869 feat: #8778 adds office group filtering
  packages/marketplace-management/src/components/ui/offices/__tests__/__snapshots__/offices-groups-tab.test.tsx.snap
  packages/marketplace-management/src/components/ui/offices/__tests__/offices-groups-tab.test.tsx
  packages/marketplace-management/src/components/ui/offices/offices-groups-tab.tsx
Labels: marketplace-management

#8872 feat: #8712 #8767 updates to admin portal
  packages/admin-portal/src/components/developers/__tests__/__snapshots__/developers-table.test.tsx.snap
  packages/admin-portal/src/components/developers/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/developers/__tests__/__snapshots__/invite-member-modal-form.test.tsx.snap
  packages/admin-portal/src/components/developers/__tests__/__snapshots__/members-table.test.tsx.snap
  packages/admin-portal/src/components/developers/__tests__/developers-table.test.tsx
  packages/admin-portal/src/components/developers/__tests__/invite-member-modal-form.test.tsx
  packages/admin-portal/src/components/developers/__tests__/members-table.test.tsx
  packages/admin-portal/src/components/developers/developers-table.tsx
  packages/admin-portal/src/components/developers/invite-member-modal-form.tsx
  packages/admin-portal/src/components/developers/members-table.tsx
  packages/admin-portal/src/components/developers/validation-schema.ts
  packages/use-reapit-data/src/update-actions.ts
Labels: admin-portal

#8873 feat: #8489 main admin dev portal
  packages/developer-portal/src/components/settings/members/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/settings/members/__tests__/__snapshots__/member-update-controls.test.tsx.snap
  packages/developer-portal/src/components/settings/members/index.tsx
  packages/developer-portal/src/components/settings/members/member-update-controls.tsx
  packages/foundations-ts-definitions/types/marketplace-schema.ts
Labels: developer-portal, foundations-ts-definitions

#8882 fix: #8880 images scope no longer valid
  packages/developer-portal/src/components/apps/detail/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/new/config.tsx
  packages/developer-portal/src/components/apps/page/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/utils/__tests__/handle-default-form-values.test.ts
  packages/developer-portal/src/tests/__stubs__/apps.ts
Labels: developer-portal

#8887 [Snyk] Upgrade @reapit/elements from 3.10.3 to 3.11.0
  packages/geo-diary-marketing/package.json
Labels: geo-diary-marketing

#8930 fix: increased outdir validation length
  packages/deployment-service/src/pipeline/pipeline-dto.ts
Labels: deployment-service

#8931 fix: increased outdir length validation
  packages/deployment-service/src/pipeline/pipeline-dto.ts
Labels: deployment-service

#8921 [Snyk] Security upgrade postcss-loader from 6.2.1 to 7.1.0
  .yarn/cache/cosmiconfig-typescript-loader-npm-4.3.0-3593c0e4d9-ea61dfd8e1.zip
  .yarn/cache/klona-npm-2.0.6-bc83268fb1-ac9ee3732e.zip
  .yarn/cache/postcss-loader-npm-6.2.1-45828eb0de-e40ae79c3e.zip
  .yarn/cache/postcss-loader-npm-7.2.4-3523bfa295-d75de64f66.zip
  packages/ts-scripts/package.json
  yarn.lock
Labels: ts-scripts, dependencies

#8941 feat: #8234 react apps build refactor
  packages/admin-portal/serverless.yml
  packages/app-builder/serverless.yml
  packages/app-marketplace-admin/cdk-stack.ts
  packages/data-warehouse/serverless.yml
  packages/developer-portal/serverless.yml
  packages/elements/serverless.yml
  packages/geo-diary/serverless.yml
  packages/insights/serverless.yml
  packages/marketplace-management/serverless.yml
  packages/marketplace/serverless.yml
  packages/new-auth-ui/cdk-stack.ts
  packages/payments-client/cdk-stack.ts
  packages/payments-portal/cdk-stack.ts
  packages/rc-mfa-config/serverless.yml
  packages/react-app-scaffolder/app/templates/_serverless.yml
  packages/reapit-connect/serverless.yml
Labels: marketplace, react-app-scaffolder, elements, geo-diary, admin-portal, developer-portal, data-warehouse, payments-client, reapit-connect, marketplace-management, insights, app-builder, app-market

#8949 fix: remove bearer prefix for auth
  packages/connect-session/README.md
  packages/utils-nest/src/auth/token-provider.ts
Labels: connect-session

#8957 fix: #8950 release workflows, make bucket more secure
  packages/ts-scripts/src/cdk/components/site.ts
Labels: ts-scripts
