Repository reapit/foundations, pull requests merged in 2023-09, with the labels that each got.

#9712 [Snyk] Upgrade node-fetch from 3.3.1 to 3.3.2
  .yarn/cache/node-fetch-npm-3.3.2-5267e015f2-06a04095a2.zip
  packages/app-builder-backend/package.json
  yarn.lock
Labels: dependencies, app-builder-backend

#9732 [Snyk] Upgrade vite-plugin-node-polyfills from 0.9.0 to 0.11.1
  .yarn/cache/vite-plugin-node-polyfills-npm-0.11.3-e3579d3af5-e8669b4731.zip
  .yarn/cache/vite-plugin-node-polyfills-npm-0.9.0-8a67d7369e-734ccfa83d.zip
  packages/ts-scripts/package.json
  yarn.lock
Labels: ts-scripts, dependencies

#9750 fix: sentry build dir
  packages/ts-scripts/src/vite/base-vite.js
Labels: ts-scripts

#9757 refactor: #9753 feature flag previously made changes for additional releases
  packages/developer-portal/src/components/login/__tests__/__snapshots__/select-role.test.tsx.snap
  packages/developer-portal/src/components/login/select-role.tsx
  packages/developer-portal/src/types/env.d.ts
Labels: developer-portal

#9775 chore: override oauth url with cookie if present
  .yarn/cache/@types-js-cookie-npm-3.0.3-ffeb1814e1-927254ec37.zip
  .yarn/cache/js-cookie-npm-3.0.5-8fc8fcc9b4-2dbd2809c6.zip
  packages/rc-mfa-config/package.json
  packages/rc-mfa-config/src/core/connect-session.tsx
  yarn.lock
Labels: dependencies

#9813 feat: 9766 Launch URI no longer required for unlisted app
  docker-compose.yml
  packages/developer-portal/src/components/apps/edit/form-schema/validation-schema.ts
Labels: developer-portal

#9874 feat: remove dev portal ff
  packages/developer-portal/src/components/login/__tests__/__snapshots__/select-role.test.tsx.snap
  packages/developer-portal/src/components/login/select-role.tsx
Labels: developer-portal
