Repository reapit/foundations, pull requests merged in 2023-06, with the labels that each got.

#9194 chore: update deployment service build and bundle method
  packages/api-key-verify/package.json
  packages/api-key-verify/src/api-key-model.ts
  packages/api-key-verify/src/nest/api.key.provider.ts
  packages/api-key-verify/tsup.config.js
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-lambda.ts
  packages/deployment-service/package.json
  packages/deployment-service/src/entities/pipeline.entity.ts
  packages/deployment-service/src/pipeline-runner/pipeline-runner-controller.ts
  packages/deployment-service/src/pipeline/parameter-controller.ts
  packages/deployment-service/src/pipeline/pipeline-controller.ts
  packages/deployment-service/tsup.config.js
  packages/ts-scripts/bin/tsup-zip.js
  packages/ts-scripts/package.json
  packages/ts-scripts/src/cdk/components/lambda-function.ts
  packages/ts-scripts/src/tsup-zip/index.ts
  yarn.lock
Labels: ts-scripts, deployment-service, api-key-verify

#9196 task: Update analytics-schema.md
  .github/ISSUE_TEMPLATE/analytics-schema.md
Labels: infra

#9207 [Snyk] Upgrade @reapit/elements from 3.11.1 to 3.12.0
  packages/geo-diary-marketing/package.json
Labels: geo-diary-marketing

#9223 fix: corrected spelling of across
  packages/elements/src/storybook/changelog.stories.mdx
  packages/elements/src/storybook/concepts.stories.mdx
  packages/elements/src/storybook/welcome.tsx
Labels: elements

#9226 fix: #9092 fixes app market carousel
  packages/marketplace/src/components/carousel/__styles__/index.ts
Labels: marketplace

#9262 fix: #9261 app market back btn
  packages/marketplace/src/components/apps-browse/featured-hero-apps.tsx
  packages/marketplace/src/components/apps-browse/hero-apps.tsx
Labels: marketplace

#9299 feat: rc-mfa-config anz deployment
  packages/rc-mfa-config/cdk-stack.ts
  packages/ts-scripts/src/cdk/components/site.ts
Labels: ts-scripts

#9334 feat: rc-service-app anz zone
  packages/rc-mfa-config/cdk-stack.ts
  packages/rc-service/cdk-stack.ts
  packages/ts-scripts/src/cdk/components/multi-region-site.ts
  packages/ts-scripts/src/cdk/components/site.ts
  packages/ts-scripts/src/cdk/index.ts
Labels: ts-scripts

#9371 feat: pass GITHUB_REPOSITORY as a session tag to the 2nd assume role …
  packages/ts-scripts/src/devops/index.ts
  packages/ts-scripts/src/devops/s3-upload.ts
Labels: ts-scripts
