Repository reapit/foundations, pull requests merged in 2023-03, with the labels that each got.

#8566 fix: email fixes
  packages/cognito-custom-mail-lambda/src/mailer/custom-mailer.ts
  packages/cognito-custom-mail-lambda/src/mailer/templates/admin-user-invite.mjml
  packages/cognito-custom-mail-lambda/src/mailer/templates/forgot-password.mjml
Labels: cognito-custom-mail-lambda

#8653 fix: #8485 admin filtering
  packages/admin-portal/src/components/subscriptions/index.tsx
Labels: admin-portal

#8654 feat: #8559 block app market access
  packages/developer-portal/src/core/private-route-wrapper.tsx
  packages/marketplace/src/core/__tests__/router.test.tsx
  packages/marketplace/src/core/private-route-wrapper.tsx
  packages/marketplace/src/core/router.tsx
Labels: marketplace, developer-portal

#8656 feat: #8398 export office groups
  packages/admin-portal/src/components/customers/__tests__/__snapshots__/org-groups-table.test.tsx.snap
  packages/admin-portal/src/components/customers/org-groups-table.tsx
  packages/admin-portal/src/components/statistics/__tests__/index.test.tsx
  packages/admin-portal/src/components/statistics/index.tsx
Labels: admin-portal

#8666 fix: remove app name from admin subs
  packages/admin-portal/src/components/statistics/index.tsx
  packages/admin-portal/src/components/subscriptions/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/subscriptions/index.tsx
Labels: admin-portal

#8684 fix: iaas repairs
  packages/cli/src/commands/pipeline/create.ts
  packages/cli/src/commands/pipeline/edit.ts
  packages/cli/src/commands/release/repo.ts
  packages/cli/src/commands/release/zip.ts
  packages/deployment-service/cdk/cdk.ts
  packages/deployment-service/src/pipeline-runner/pipeline-runner-controller.ts
  packages/deployment-service/src/pipeline/__test__/pipeline-controller.test.ts
  packages/deployment-service/src/pipeline/pipeline-controller.ts
Labels: deployment-service, cli

#8685 fix: installed missing module
  .yarn/cache/open-npm-8.4.2-1f763e8b75-6388bfff21.zip
  packages/cli/package.json
  packages/cli/tsconfig.json
  yarn.lock
Labels: cli, dependencies

#8705 feat: #8703 mm app user search
  packages/marketplace-management/src/components/ui/users/__tests_/edit-user-group.test.tsx
  packages/marketplace-management/src/components/ui/users/edit-user-group.tsx
Labels: marketplace-management

#8660 [Snyk] Security upgrade @nestjs/core from 8.4.7 to 9.0.5
  .yarn/cache/@nestjs-common-npm-9.3.9-aa8dde60a2-48fde36bef.zip
  .yarn/cache/@nestjs-testing-npm-9.3.9-06c499c11d-cd9003323e.zip
  packages/api-key-service/package.json
  yarn.lock
Labels: api-key-service, dependencies

#8722 fix: payment service nestjs packages
  packages/api-key-service/package.json
  packages/payments-service/package.json
  yarn.lock
Labels: payments-service, api-key-service, dependencies

#8661 [Snyk] Security upgrade @nestjs/core from 8.4.7 to 9.0.5
  .yarn/cache/@nestjs-testing-npm-8.4.7-7f17bd141b-5514f2638a.zip
  packages/deployment-service/package.json
  packages/utils-nest/package.json
  yarn.lock
Labels: payments-service, deployment-service, dependencies

#8736 fix: #8735 desktop subscribe button
  packages/developer-portal/src/components/desktop/__styles__/styles.tsx
Labels: developer-portal

#8777 feat: made ts-scripts package public
  packages/ts-scripts/package.json
Labels: ts-scripts

#8782 feat: made ts-bundler public
  packages/ts-bundler/package.json
Labels: ts-bundler

#8790 feat: #8789 remove the need for icon workaround in vite
  packages/app-builder-backend/src/types/index.d.ts
  packages/app-builder-backend/tsconfig.json
  packages/elements/src/icons/index.ts
  packages/elements/src/index.ts
  packages/elements/src/styles/font.ts
  packages/elements/src/styles/globals.ts
  packages/payments-ui/src/types/index.d.ts
Labels: elements, app-builder-backend

#8794 feat: #8789 update changelog for elements
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements

#8799 feat: #8789 fixes safari bug when scrolling
  packages/elements/src/components/layout/__styles__/index.ts
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements

#8809 feat: #8366 adds payments billing model
  packages/payments-client/src/components/admin/index.tsx
  packages/payments-client/src/components/payment/payment.tsx
  packages/payments-client/src/components/payments/payment-request-modal.tsx
  packages/payments-client/src/core/index.tsx
  packages/payments-client/src/core/use-config-state.tsx
  packages/payments-client/src/types/global.d.ts
  packages/payments-portal/src/components/payment/__tests__/queries.test.tsx
  packages/payments-portal/src/components/payment/queries.ts
  packages/payments-portal/src/core/index.tsx
  packages/payments-portal/src/types/global.d.ts
  packages/payments-service/cdk/cdk-stack.ts
  packages/payments-service/src/core/billing-interceptor.ts
  packages/payments-service/src/core/server.ts
  packages/payments-service/src/types/index.d.ts
Labels: payments-client, payments-service

#8820 fix: utils nest remove type and add build dir to main
  .yarn/cache/tsup-npm-6.7.0-5093540b93-91ff179f0b.zip
  packages/api-key-verify/jest.config.js
  packages/api-key-verify/tsconfig.json
  packages/app-marketplace-cms/tsconfig.json
  packages/deployment-service/jest.config.js
  packages/deployment-service/src/bitbucket/bitbucket-provider.ts
  packages/deployment-service/src/github/github-webhook-controller.ts
  packages/deployment-service/tsconfig.json
  packages/utils-nest/package.json
  packages/utils-nest/src/auth/guards/cred-decorator.ts
  packages/utils-nest/src/auth/guards/cred-types.ts
  packages/utils-nest/tsup.config.js
  yarn.lock
Labels: deployment-service, api-key-verify, dependencies, app-marketplace-cms
