Repository reapit/foundations, pull requests merged in 2023-02, with the labels that each got.

#8433 feat: #8423 mfa app org switching
  packages/admin-portal/src/components/usage/__tests__/__snapshots__/index.test.tsx.snap
  packages/app-marketplace-admin/src/components/apps-market-manager/__tests__/__snapshots__/app-browse-upsert-modal.test.tsx.snap
  packages/rc-mfa-config/src/components/active-authenticator/delete-authenticator.tsx
  packages/rc-mfa-config/src/components/admin/__styles__/index.ts
  packages/rc-mfa-config/src/components/admin/__tests__/__snapshots__/download-users-csv.test.tsx.snap
  packages/rc-mfa-config/src/components/admin/__tests__/__snapshots__/index.test.tsx.snap
  packages/rc-mfa-config/src/components/admin/__tests__/download-users-csv.test.tsx
  packages/rc-mfa-config/src/components/admin/__tests__/fetch-authenticators.test.tsx
  packages/rc-mfa-config/src/components/admin/__tests__/index.test.tsx
  packages/rc-mfa-config/src/components/admin/download-users-csv.tsx
  packages/rc-mfa-config/src/components/admin/fetch-authenticators.tsx
  packages/rc-mfa-config/src/components/admin/index.tsx
  packages/rc-mfa-config/src/components/home/__tests__/index.test.tsx
  packages/rc-mfa-config/src/components/home/index.tsx
  packages/rc-mfa-config/src/components/home/qr-code-verify.tsx
  packages/rc-mfa-config/src/core/__tests__/router.test.tsx
  packages/rc-mfa-config/src/core/app.tsx
  packages/rc-mfa-config/src/core/router.tsx
  packages/rc-mfa-config/src/tests/__stubs__/user-info.ts
  packages/rc-mfa-config/src/tests/badges/badge-branches.svg
  packages/rc-mfa-config/src/tests/badges/badge-functions.svg
  packages/rc-mfa-config/src/tests/badges/badge-lines.svg
  packages/rc-mfa-config/src/tests/badges/badge-statements.svg
  packages/rc-mfa-config/src/tests/react-testing.tsx
  packages/rc-mfa-config/src/utils/is-admin.ts
  packages/use-reapit-data/src/tests/badges/badge-branches.svg
  packages/use-reapit-data/src/tests/badges/badge-functions.svg
  packages/use-reapit-data/src/tests/badges/badge-lines.svg
  packages/use-reapit-data/src/tests/badges/badge-statements.svg
  packages/use-reapit-data/src/use-reapit-get.ts
Labels: admin-portal

#8457 fix: elements release dev fixes
  packages/cognito-custom-mail-lambda/serverless.yml
  packages/elements/src/components/icon/icon.stories.mdx
Labels: elements, cognito-custom-mail-lambda

#8462 fix: dw docs link
  packages/data-warehouse/src/components/accounts/__tests__/__snapshots__/accounts.test.tsx.snap
  packages/data-warehouse/src/components/accounts/accounts.tsx
  packages/data-warehouse/src/components/data/__tests__/__snapshots__/data.test.tsx.snap
  packages/data-warehouse/src/components/data/data.tsx
Labels: data-warehouse

#8460 feat: add disable property and styles to toggle radio component
  packages/elements/src/components/toggle/__styles__/index.ts
  packages/elements/src/components/toggle/toggle.stories.mdx
  packages/elements/src/components/toggle/toggle.tsx
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements

#8469 fix: elements build hotfix
  packages/elements/src/components/icon/icon-component.tsx
  packages/elements/src/components/icon/icon.stories.mdx
  packages/elements/src/components/icon/icons.ts
  packages/elements/src/components/icon/index.ts
  packages/elements/src/icons/index.ts
  packages/elements/src/index.ts
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements

#8467 feat: #8466 release payments to prod
  packages/payments-client/cdk-stack.ts
  packages/payments-client/package.json
  packages/payments-client/serverless.yml
  packages/payments-client/tsconfig.json
  packages/payments-portal/package.json
  yarn.lock
Labels: payments-client

#8471 fix: update release workflows
  .github/workflows/release-dev.yml
  .github/workflows/release-prod.yml
  packages/admin-portal/package.json
  packages/api-key-service/package.json
  packages/api-key-verify/package.json
  packages/app-builder-backend/package.json
  packages/app-builder/package.json
  packages/app-marketplace-admin/package.json
  packages/app-marketplace-cms/package.json
  packages/cli/package.json
  packages/cloud-alert/package.json
  packages/cognito-custom-mail-lambda/package.json
  packages/config-manager/package.json
  packages/config-service/package.json
  packages/connect-session-next/package.json
  packages/connect-session/package.json
  packages/cra-template-foundations/package.json
  packages/create-node-app-generator/package.json
  packages/data-warehouse/package.json
  packages/deployment-service/package.json
  packages/developer-portal/package.json
  packages/elements/package.json
  packages/events-service/package.json
  packages/foundations-ts-definitions/package.json
  packages/geo-diary-marketing/package.json
  packages/geo-diary/package.json
  packages/graphql-server-v2/package.json
  packages/graphql-server/package.json
  packages/insights/package.json
  packages/login-with-reapit/package.json
  packages/marketplace-management/package.json
  packages/marketplace/package.json
  packages/new-auth-ui/package.json
  packages/payments-client/package.json
  packages/payments-portal/package.json
  packages/payments-service/package.json
  packages/payments-ui/package.json
  packages/rc-mfa-config/package.json
  packages/react-app-scaffolder/package.json
  packages/reapit-connect/package.json
  packages/security-header-lambda/package.json
  packages/seed-data-workflow/package.json
  packages/ts-bundler/package.json
  packages/ts-scripts/package.json
  packages/ts-types/package.json
  packages/use-reapit-data/package.json
  packages/utils-common/package.json
  packages/utils-nest/package.json
  packages/utils-node/package.json
  packages/utils-react/package.json
Labels: marketplace, config-manager, react-app-scaffolder, elements, geo-diary, cognito-custom-mail-lambda, graphql-server, admin-portal, developer-portal, connect-session, data-warehouse, payments-client, infra, cloud-alert, reapit-connect, payments-service, marketplace-management, login-with-reapit, cra-template-foundations, ts-types, ts-scripts, insights, events-service, api-key-service, deployment-service, api-key-verify, cli, app-builder, app-builder-backend, create-node-app-generator, foundations-ts-definitions, geo-diary-marketing, security-header-lambda, seed-data-workflow, ts-bundler, utils-common, utils-node, utils-react, app-market, app-marketplace-cms

#8472 fix: #8113 dw share loading bug
  packages/data-warehouse/src/components/data/shares-table.tsx
Labels: data-warehouse

#8482 feat: #8479 update security header lambda
  packages/security-header-lambda/serverless.yml
Labels: security-header-lambda

#8493 fix: #8483 payments qa fixes
  packages/payments-client/src/components/admin/index.tsx
  packages/payments-client/src/components/payments/__tests__/__snapshots__/index.test.tsx.snap
  packages/payments-client/src/components/payments/__tests__/__snapshots__/payment-request-modal.test.tsx.snap
  packages/payments-client/src/components/payments/index.tsx
  packages/payments-client/src/components/payments/payment-request-modal.tsx
  packages/payments-client/src/components/payments/payments-filter-controls.tsx
  packages/payments-service/src/payment-receipt/__tests__/__snapshots__/provider.test.ts.snap
  packages/payments-service/src/payment-receipt/template.ts
  packages/payments-service/src/payment-request/__tests__/__snapshots__/provider.test.ts.snap
  packages/payments-service/src/payment-request/template.ts
  packages/use-reapit-data/src/use-reapit-get.ts
Labels: payments-client, payments-service

#8507 fix: #8483 tests final UI tweaks
  packages/payments-client/src/components/admin/__tests__/__snapshots__/index.test.tsx.snap
  packages/payments-client/src/components/admin/__tests__/index.test.tsx
  packages/payments-client/src/components/admin/index.tsx
  packages/payments-client/src/components/admin/validation-schema.ts
  packages/payments-client/src/components/payment/__tests__/__snapshots__/index.test.tsx.snap
  packages/payments-client/src/components/payment/__tests__/__snapshots__/payment.test.tsx.snap
  packages/payments-client/src/components/payment/__tests__/index.test.tsx
  packages/payments-client/src/components/payment/__tests__/payment.test.tsx
  packages/payments-client/src/components/payment/index.tsx
  packages/payments-client/src/components/payment/payment.tsx
  packages/payments-client/src/components/payments/__tests__/__snapshots__/index.test.tsx.snap
  packages/payments-client/src/components/payments/__tests__/index.test.tsx
  packages/payments-client/src/components/payments/index.tsx
  packages/payments-client/src/core/__mocks__/use-config-state.tsx
  packages/payments-client/src/tests/__mocks__/opayo.ts
  packages/payments-client/src/tests/badges/badge-branches.svg
  packages/payments-client/src/tests/badges/badge-functions.svg
  packages/payments-client/src/tests/badges/badge-lines.svg
  packages/payments-client/src/tests/badges/badge-statements.svg
  packages/payments-portal/src/components/payment/__styles__/index.ts
  packages/payments-portal/src/components/payment/__tests__/__snapshots__/index.test.tsx.snap
  packages/payments-portal/src/components/payment/__tests__/__snapshots__/payment.test.tsx.snap
  packages/payments-portal/src/components/payment/__tests__/payment.test.tsx
  packages/payments-portal/src/components/payment/__tests__/queries.test.tsx
  packages/payments-portal/src/components/payment/index.tsx
  packages/payments-portal/src/components/payment/payment.tsx
  packages/payments-portal/src/components/payment/queries.ts
  packages/payments-portal/src/tests/__mocks__/opayo.ts
  packages/payments-portal/src/tests/badges/badge-branches.svg
  packages/payments-portal/src/tests/badges/badge-functions.svg
  packages/payments-portal/src/tests/badges/badge-lines.svg
  packages/payments-portal/src/tests/badges/badge-statements.svg
  packages/payments-service/jest.config.js
  packages/payments-service/src/opayo/__tests__/private-controller.test.ts
  packages/payments-service/src/opayo/__tests__/public-controller.test.ts
  packages/payments-service/src/opayo/provider.ts
  packages/payments-service/src/payment-receipt/__tests__/__snapshots__/provider.test.ts.snap
  packages/payments-service/src/payment-receipt/template.ts
  packages/payments-service/src/payment-request/__tests__/__snapshots__/provider.test.ts.snap
  packages/payments-service/src/payment-request/template.ts
  packages/payments-ui/src/payment-page/__tests__/__snapshots__/index.test.tsx.snap
  packages/payments-ui/src/payment-page/__tests__/__snapshots__/payment-form.test.tsx.snap
  packages/payments-ui/src/payment-page/__tests__/__snapshots__/payment-page-content.test.tsx.snap
  packages/payments-ui/src/payment-page/index.tsx
  packages/payments-ui/src/payment-page/payment-form.tsx
  packages/payments-ui/src/tests/badges/badge-branches.svg
  packages/payments-ui/src/tests/badges/badge-functions.svg
  packages/payments-ui/src/tests/badges/badge-lines.svg
  packages/payments-ui/src/tests/badges/badge-statements.svg
  packages/payments-ui/src/utils/index.ts
Labels: payments-client, payments-service

#8522 fix: #8502 3d secure frame header policy added
  packages/security-header-lambda/src/index.ts
Labels: security-header-lambda

#8519 feat: #6286 reapit connect login with cli
  .yarn/cache/find-free-port-npm-2.0.0-a6f135602d-feaedbef0a.zip
  .yarn/cache/tsyringe-npm-4.7.0-9c7fcf2198-6d84e07675.zip
  packages/cli/jest.config.js
  packages/cli/jest.setup.js
  packages/cli/package.json
  packages/cli/src/abstract.command.ts
  packages/cli/src/commands/__tests__/check-version.test.ts
  packages/cli/src/commands/auth/index.ts
  packages/cli/src/commands/auth/login.ts
  packages/cli/src/commands/auth/logout.ts
  packages/cli/src/commands/bootstrap.ts
  packages/cli/src/commands/check-version.ts
  packages/cli/src/commands/config.ts
  packages/cli/src/commands/help.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/pipeline/__tests__/create.test.ts
  packages/cli/src/commands/pipeline/__tests__/delete.test.ts
  packages/cli/src/commands/pipeline/__tests__/edit.test.ts
  packages/cli/src/commands/pipeline/create.ts
  packages/cli/src/commands/pipeline/delete.ts
  packages/cli/src/commands/pipeline/edit.ts
  packages/cli/src/commands/pipeline/index.ts
  packages/cli/src/commands/pipeline/link.ts
  packages/cli/src/commands/pipeline/list.ts
  packages/cli/src/commands/pipeline/parameters/list.ts
  packages/cli/src/commands/pipeline/parameters/upsert.ts
  packages/cli/src/commands/release/index.ts
  packages/cli/src/commands/release/list.ts
  packages/cli/src/commands/release/repo.ts
  packages/cli/src/commands/release/version.ts
  packages/cli/src/commands/release/zip.ts
  packages/cli/src/decorators/index.ts
  packages/cli/src/index.ts
  packages/cli/src/intro.ts
  packages/cli/src/parent.command.ts
  packages/cli/src/services/auth/index.ts
  packages/cli/src/services/auth/login.ts
  packages/cli/src/services/index.ts
  yarn.lock
Labels: cli, dependencies

#8535 fix: #8522 payments qa fixes
  packages/marketplace-management/src/components/ui/users/__tests_/edit-user-group.test.tsx
  packages/marketplace-management/src/components/ui/users/__tests_/edit-user.test.tsx
  packages/marketplace-management/src/components/ui/users/edit-user-group.tsx
  packages/marketplace-management/src/components/ui/users/edit-user.tsx
  packages/marketplace-management/src/services/__tests__/user.test.ts
  packages/marketplace-management/src/services/user.ts
  packages/payments-client/src/components/admin/index.tsx
  packages/payments-client/src/components/login/index.tsx
  packages/payments-client/src/components/payment/__tests__/__snapshots__/index.test.tsx.snap
  packages/payments-client/src/components/payment/__tests__/__snapshots__/payment.test.tsx.snap
  packages/payments-client/src/components/payment/__tests__/payment.test.tsx
  packages/payments-client/src/components/payment/payment.tsx
  packages/payments-client/src/components/payments/__tests__/__snapshots__/index.test.tsx.snap
  packages/payments-client/src/components/payments/index.tsx
  packages/payments-client/src/core/use-config-state.tsx
  packages/payments-portal/src/components/payment/__tests__/__snapshots__/payment.test.tsx.snap
  packages/payments-portal/src/components/payment/__tests__/queries.test.tsx
  packages/payments-portal/src/components/payment/payment.tsx
  packages/payments-portal/src/components/payment/queries.ts
  packages/payments-ui/src/payment-page/__tests__/__snapshots__/index.test.tsx.snap
  packages/payments-ui/src/payment-page/__tests__/__snapshots__/payment-form.test.tsx.snap
  packages/payments-ui/src/payment-page/__tests__/__snapshots__/payment-page-content.test.tsx.snap
  packages/payments-ui/src/payment-page/__tests__/payment-handlers.test.ts
  packages/payments-ui/src/payment-page/index.tsx
  packages/payments-ui/src/payment-page/payment-form.tsx
  packages/payments-ui/src/payment-page/payment-handlers.ts
  packages/use-reapit-data/src/update-actions.ts
Labels: payments-client, marketplace-management

#8538 fix: #8533 final qa tweak
  packages/payments-client/src/components/payment/__tests__/__snapshots__/payment.test.tsx.snap
  packages/payments-portal/src/components/payment/__tests__/__snapshots__/payment.test.tsx.snap
  packages/payments-portal/src/components/payment/queries.ts
  packages/payments-ui/src/payment-page/__tests__/__snapshots__/index.test.tsx.snap
  packages/payments-ui/src/payment-page/__tests__/__snapshots__/payment-page-content.test.tsx.snap
  packages/payments-ui/src/payment-page/index.tsx
Labels: payments-client

#8540 fix: #8533 fixes image headers
  packages/security-header-lambda/src/index.ts
Labels: security-header-lambda

#8541 fix: #8533 payments qa tweaks
  packages/payments-client/src/components/admin/__tests__/__snapshots__/index.test.tsx.snap
  packages/payments-client/src/components/admin/__tests__/index.test.tsx
  packages/payments-client/src/components/admin/index.tsx
  packages/payments-portal/src/components/payment/queries.ts
  packages/rc-mfa-config/src/components/nav/__tests__/__snapshots__/index.test.tsx.snap
  packages/rc-mfa-config/src/components/nav/index.tsx
  packages/rc-mfa-config/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/security-header-lambda/src/index.ts
Labels: payments-client, security-header-lambda

#8576 fix: #8363 geo diary cache policy
  packages/geo-diary/src/components/pages/appointment/__tests__/__snapshots__/appointment.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-time/__tests__/__snapshots__/appointment-time.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-time/appointment-time.tsx
  packages/geo-diary/src/components/ui/cancel-confirm-modal/__tests__/index.test.tsx
  packages/geo-diary/src/components/ui/cancel-confirm-modal/index.tsx
  packages/geo-diary/src/components/ui/follow-up-notes-modal/__tests__/index.test.tsx
  packages/geo-diary/src/components/ui/follow-up-notes-modal/index.tsx
  packages/graphql-server/src/resolvers/appointments/__tests__/api.test.ts
  packages/graphql-server/src/resolvers/appointments/api.ts
Labels: geo-diary, graphql-server

#8573 [Snyk] Upgrade @reapit/elements from 3.9.8 to 3.9.9
  packages/geo-diary-marketing/package.json
Labels: geo-diary-marketing
