Repository reapit/foundations, pull requests merged in 2023-12, with the labels that each got.

#10276 [Snyk] Security upgrade rimraf from 3.0.2 to 4.0.0
  .yarn/cache/glob-npm-9.3.5-2f602083f0-e5fa8a58ad.zip
  .yarn/cache/minimatch-npm-8.0.4-bf57f0e98a-aef05598ee.zip
  .yarn/cache/rimraf-npm-4.4.1-80b02e041a-218ef91221.zip
  packages/ts-scripts/package.json
  yarn.lock
Labels: ts-scripts, dependencies

#10292 [Snyk] Upgrade twilio from 3.84.1 to 4.19.0
  packages/events-service/package.json
Labels: events-service

#10372 fix: #10370 show profile dropdown
  packages/marketplace/src/components/nav/nav.tsx
  packages/marketplace/src/components/settings/__tests__/__snapshots__/index.test.tsx.snap
  packages/marketplace/src/components/settings/__tests__/__snapshots__/settings-installed.test.tsx.snap
  packages/marketplace/src/components/settings/__tests__/__snapshots__/settings-profile.test.tsx.snap
  packages/marketplace/src/components/settings/__tests__/index.test.tsx
  packages/marketplace/src/components/settings/index.tsx
  packages/marketplace/src/components/settings/settings-installed.tsx
  packages/marketplace/src/components/settings/settings-profile.tsx
Labels: marketplace

#10374 [Snyk] Upgrade svelte from 3.59.2 to 4.2.3
  packages/login-with-reapit/package.json
Labels: login-with-reapit

#10392 [Snyk] Upgrade serverless-http from 2.7.0 to 3.2.0
  packages/events-service/package.json
Labels: events-service

#10393 fix: geo diary icons
  packages/geo-diary/src/components/pages/appointment/__tests__/__snapshots__/appointment.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-list/__tests__/__snapshots__/appointment-list.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-tile/__tests__/__snapshots__/appointment-items.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-tile/__tests__/__snapshots__/appointment-tile.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-tile/__tests__/__snapshots__/attendee-item.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-tile/__tests__/__snapshots__/landlord-item.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-tile/__tests__/__snapshots__/property-item.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-tile/__tests__/__snapshots__/vendor-item.test.tsx.snap
  packages/geo-diary/src/components/ui/appointment-tile/attendee-item.tsx
  packages/geo-diary/src/components/ui/appointment-tile/landlord-item.tsx
  packages/geo-diary/src/components/ui/appointment-tile/property-item.tsx
  packages/geo-diary/src/components/ui/appointment-tile/vendor-item.tsx
  packages/geo-diary/src/components/ui/my-location/__styles__/styles.ts
  packages/geo-diary/src/components/ui/my-location/my-location.tsx
  packages/geo-diary/src/core/error-boundary/__tests__/__snapshots__/index.test.tsx.snap
  packages/geo-diary/src/core/error-boundary/index.tsx
  packages/geo-diary/src/core/private-route-wrapper.tsx
Labels: geo-diary

#10399 fix: elements app switcher - use prod url in prod
  packages/elements/src/components/nav/nav-responsive.tsx
Labels: elements

#10391 [Snyk] Upgrade serialize-error from 7.0.1 to 11.0.3
  packages/events-service/package.json
Labels: events-service

#10390 [Snyk] Upgrade uuid from 3.4.0 to 9.0.1
  packages/events-service/package.json
Labels: events-service

#10389 [Snyk] Upgrade @sentry/node from 6.19.7 to 7.80.1
  packages/events-service/package.json
Labels: events-service

#10403 feat: #10401 #10396 #9868 #10314 elements release fixes
  packages/elements/src/components/nav/nav-responsive.tsx
  packages/elements/src/components/nav/nav.stories.mdx
  packages/elements/src/storybook/changelog.stories.mdx
  packages/marketplace/src/components/nav/nav.tsx
  packages/marketplace/src/components/settings/settings-installed.tsx
  packages/marketplace/src/utils/auth.ts
  packages/payments-service/src/payment-receipt/__tests__/__snapshots__/provider.test.ts.snap
  packages/payments-service/src/payment-receipt/template.ts
  packages/payments-service/src/payment-request/__tests__/__snapshots__/provider.test.ts.snap
  packages/payments-service/src/payment-request/template.ts
Labels: marketplace, elements, payments-service

#10405 fix: #10396 fixed permission check
  packages/marketplace/src/components/settings/index.tsx
  packages/marketplace/src/components/settings/settings-installed.tsx
Labels: marketplace

#10406 chore: Updated templates following feedback from ANZ
  packages/cognito-custom-mail-lambda/src/mailer/templates/admin-user-invite.mjml
  packages/cognito-custom-mail-lambda/src/mailer/templates/confirm-registration.mjml
  packages/cognito-custom-mail-lambda/src/mailer/templates/forgot-password.mjml
Labels: cognito-custom-mail-lambda

#10410 fix: #10396 permissions check on installs
  packages/marketplace/src/components/settings/settings-installed.tsx
Labels: marketplace

#10412 [Snyk] Upgrade express-validator from 6.15.0 to 7.0.1
  packages/events-service/package.json
Labels: events-service

#10411 [Snyk] Upgrade jwt-decode from 3.1.2 to 4.0.0
  packages/events-service/package.json
Labels: events-service
