Repository reapit/foundations, pull requests merged in 2023-01, with the labels that each got.

#8287 [Snyk] Upgrade class-validator from 0.13.2 to 0.14.0
  .yarn/cache/@types-validator-npm-13.7.10-80d6b32ae6-7b142c0801.zip
  .yarn/cache/class-validator-npm-0.14.0-b600d5fe72-f62e4a0ad2.zip
  .yarn/cache/libphonenumber-js-npm-1.10.15-42cc8b9186-9428320615.zip
  packages/deployment-service/package.json
  yarn.lock
Labels: deployment-service, dependencies

#8276 feat: #8236 reapit data refactor
  .yarn/cache/@tanstack-match-sorter-utils-npm-8.7.2-c8343691fa-0821430d7d.zip
  .yarn/cache/@tanstack-query-core-npm-4.20.4-f0c26ad858-bdb652296e.zip
  .yarn/cache/@tanstack-react-query-devtools-npm-4.20.4-0ba3934e88-77f55b3f77.zip
  .yarn/cache/@tanstack-react-query-npm-4.20.4-672a755bfa-ba9e2f175c.zip
  .yarn/cache/axios-npm-1.2.1-4056ddcb4c-c4dc4e1190.zip
  .yarn/cache/copy-anything-npm-3.0.3-a24d77ec4d-d456dc5ec9.zip
  .yarn/cache/is-what-npm-4.1.8-57bef8cfbc-b9bec3acff.zip
  .yarn/cache/remove-accents-npm-0.4.2-7cb341092a-84a6988555.zip
  .yarn/cache/superjson-npm-1.12.0-5947771618-57b4a2086a.zip
  .yarn/cache/use-sync-external-store-npm-1.2.0-44f75d2564-5c639e0f8d.zip
  package.json
  packages/admin-portal/package.json
  packages/admin-portal/src/components/apps/__tests__/index.test.tsx
  packages/admin-portal/src/components/apps/__tests__/toggle-featured.test.tsx
  packages/admin-portal/src/components/apps/index.tsx
  packages/admin-portal/src/components/apps/toggle-featured.tsx
  packages/admin-portal/src/core/app.tsx
  packages/use-reapit-data/.eslintrc.js
  packages/use-reapit-data/README.md
  packages/use-reapit-data/babel.config.js
  packages/use-reapit-data/jest.config.js
  packages/use-reapit-data/package.json
  packages/use-reapit-data/src/__tests__/use-reapit-get.test.tsx
  packages/use-reapit-data/src/__tests__/use-reapit-update.test.tsx
  packages/use-reapit-data/src/__tests__/utils.test.ts
  packages/use-reapit-data/src/api-constants.ts
  packages/use-reapit-data/src/get-actions.ts
  packages/use-reapit-data/src/index.ts
  packages/use-reapit-data/src/update-actions.ts
  packages/use-reapit-data/src/use-reapit-get.ts
  packages/use-reapit-data/src/use-reapit-update.ts
  packages/use-reapit-data/src/utils.ts
  packages/use-reapit-data/tsconfig.json
  yarn.lock
Labels: admin-portal, dependencies

#8294 fix: #8290 #8129 dev portal fixes
  packages/developer-portal/src/components/apps/list/__tests__/__snapshots__/app-card.test.tsx.snap
  packages/developer-portal/src/components/apps/list/__tests__/app-card.test.tsx
  packages/developer-portal/src/components/apps/list/app-card.tsx
  packages/developer-portal/src/components/settings/company/__tests__/__snapshots__/company-form.test.tsx.snap
  packages/developer-portal/src/components/settings/company/__tests__/company-form.test.tsx
  packages/developer-portal/src/components/settings/company/company-form.tsx
  packages/developer-portal/src/utils/__tests__/auth.test.ts
  packages/developer-portal/src/utils/auth.ts
Labels: developer-portal

#8299 feat: added missing package and updated node version
  .yarn/cache/ts-loader-npm-9.4.2-ad41a3f9dc-6f306ee4c6.zip
  packages/cognito-custom-mail-lambda/package.json
  packages/cognito-custom-mail-lambda/serverless.yml
  yarn.lock
Labels: cognito-custom-mail-lambda, dependencies

#8307 refactor: mjml before release
  .gitignore
  .yarn/cache/@jridgewell-source-map-npm-0.3.2-6fd1f37b22-1b83f0eb94.zip
  .yarn/cache/@types-mjml-core-npm-4.7.1-1854a6c886-690d519daf.zip
  .yarn/cache/@types-mjml-npm-4.7.0-52cf218486-8a5a12d1cd.zip
  .yarn/cache/clean-css-npm-5.2.0-f846f6a97e-ccb63b244b.zip
  .yarn/cache/commander-npm-9.5.0-993b3f2434-c7a3e27aa5.zip
  .yarn/cache/html-loader-npm-4.2.0-e021d14a7e-ae54ecebad.zip
  .yarn/cache/html-minifier-terser-npm-7.1.0-77733ed4b6-351de28d85.zip
  .yarn/cache/terser-npm-5.16.1-d407c2c364-cb52412350.zip
  packages/cognito-custom-mail-lambda/README.md
  packages/cognito-custom-mail-lambda/package.json
  packages/cognito-custom-mail-lambda/serverless.yml
  packages/cognito-custom-mail-lambda/src/mailer/__tests__/__snapshots__/custom-mailer.ts.snap
  packages/cognito-custom-mail-lambda/src/mailer/__tests__/custom-mailer.ts
  packages/cognito-custom-mail-lambda/src/mailer/custom-mailer.ts
  packages/cognito-custom-mail-lambda/src/mailer/templates/admin-user-invite.mjml
  packages/cognito-custom-mail-lambda/src/mailer/templates/confirm-registration.mjml
  packages/cognito-custom-mail-lambda/src/mailer/templates/forgot-password.mjml
  packages/cognito-custom-mail-lambda/src/scripts/generate.ts
  packages/cognito-custom-mail-lambda/src/types.d.ts
  packages/cognito-custom-mail-lambda/webpack.config.js
  yarn.lock
Labels: cognito-custom-mail-lambda, dependencies

#8315 fix: cognito mailer fix designs
  packages/cognito-custom-mail-lambda/src/mailer/custom-mailer.ts
  packages/cognito-custom-mail-lambda/src/mailer/templates/admin-user-invite.mjml
  packages/cognito-custom-mail-lambda/src/mailer/templates/confirm-registration.mjml
  packages/cognito-custom-mail-lambda/src/mailer/templates/forgot-password.mjml
Labels: cognito-custom-mail-lambda

#8316 fix: email value usage
  packages/cognito-custom-mail-lambda/src/mailer/custom-mailer.ts
  packages/cognito-custom-mail-lambda/src/tests/badges/badge-branches.svg
  packages/cognito-custom-mail-lambda/src/tests/badges/badge-functions.svg
  packages/cognito-custom-mail-lambda/src/tests/badges/badge-lines.svg
  packages/cognito-custom-mail-lambda/src/tests/badges/badge-statements.svg
Labels: cognito-custom-mail-lambda

#8334 feat: #8325 #8317 admin portal updates
  packages/admin-portal/src/components/customers/__styles__/index.ts
  packages/admin-portal/src/components/customers/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/customers/__tests__/__snapshots__/org-groups-table.test.tsx.snap
  packages/admin-portal/src/components/customers/__tests__/index.test.tsx
  packages/admin-portal/src/components/customers/__tests__/org-groups-table.test.tsx
  packages/admin-portal/src/components/customers/index.tsx
  packages/admin-portal/src/components/customers/org-groups-table.tsx
  packages/admin-portal/src/components/installations/index.tsx
  packages/admin-portal/src/tests/__stubs__/office-groups.ts
  packages/use-reapit-data/src/__tests__/use-reapit-get.test.tsx
  packages/use-reapit-data/src/__tests__/use-reapit-update.test.tsx
  packages/use-reapit-data/src/api-constants.ts
  packages/use-reapit-data/src/get-actions.ts
  packages/use-reapit-data/src/use-reapit-get.ts
  packages/use-reapit-data/src/use-reapit-update.ts
  packages/use-reapit-data/src/utils.ts
Labels: admin-portal

#8369 fix: changed to png to prevent bug on outlook ie? when rendering bas6…
  packages/cognito-custom-mail-lambda/src/mailer/templates/admin-user-invite.mjml
  packages/cognito-custom-mail-lambda/src/mailer/templates/confirm-registration.mjml
  packages/cognito-custom-mail-lambda/src/mailer/templates/forgot-password.mjml
Labels: cognito-custom-mail-lambda

#8395 feat: #8392 #8059 improves installations handling
  packages/admin-portal/src/components/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/installations/__tests__/index.test.tsx
  packages/admin-portal/src/components/installations/index.tsx
  packages/admin-portal/src/components/statistics/index.tsx
  packages/admin-portal/src/tests/__stubs__/installations.ts
  packages/developer-portal/src/components/analytics/installations/__tests__/installations-by-app-chart.test.tsx
  packages/developer-portal/src/components/analytics/installations/installations-by-app-chart.tsx
  packages/developer-portal/src/components/apps/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/installations/__tests__/download-installations-csv.test.tsx
  packages/developer-portal/src/components/apps/installations/download-installations-csv.tsx
  packages/developer-portal/src/components/apps/installations/index.tsx
  packages/developer-portal/src/components/webhooks/state/use-webhooks-state.tsx
  packages/developer-portal/src/tests/__stubs__/installations.ts
  packages/marketplace-management/src/components/ui/apps/app-card.tsx
  packages/marketplace/src/components/settings/__tests__/__snapshots__/settings-installed.test.tsx.snap
  packages/marketplace/src/components/settings/__tests__/settings-installed.test.tsx
  packages/marketplace/src/components/settings/settings-installed.tsx
  packages/marketplace/src/tests/__stubs__/installations.ts
  packages/payments-portal/tsconfig.json
Labels: marketplace, admin-portal, developer-portal, marketplace-management

#8399 feat: #8312 #8391 #8365 dev portal enhancements
  packages/developer-portal/src/components/analytics/page/__tests__/__snapshots__/controls.test.tsx.snap
  packages/developer-portal/src/components/analytics/page/controls.tsx
  packages/developer-portal/src/components/apps/new/permissions-options-content.tsx
  packages/developer-portal/src/components/webhooks/webhooks-manage.tsx
Labels: developer-portal

#8401 feat: #8324 adds pagination start end buttons
  packages/elements/src/components/pagination/__styles__/index.ts
  packages/elements/src/components/pagination/__tests__/__snapshots__/pagination.test.tsx.snap
  packages/elements/src/components/pagination/__tests__/pagination.test.tsx
  packages/elements/src/components/pagination/pagination.stories.mdx
  packages/elements/src/components/pagination/pagination.tsx
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements

#8402 feat: #8229 adds payments admin interface
  packages/payments-client/src/components/admin/__styles__/index.ts
  packages/payments-client/src/components/admin/__tests__/__snapshots__/index.test.tsx.snap
  packages/payments-client/src/components/admin/__tests__/index.test.tsx
  packages/payments-client/src/components/admin/index.tsx
  packages/payments-client/src/components/payment/__tests__/__snapshots__/index.test.tsx.snap
  packages/payments-client/src/components/payment/__tests__/index.test.tsx
  packages/payments-client/src/components/payment/index.tsx
  packages/payments-client/src/components/payments/__tests__/__snapshots__/index.test.tsx.snap
  packages/payments-client/src/components/payments/index.tsx
  packages/payments-client/src/constants/permissions.ts
  packages/payments-client/src/constants/routes.ts
  packages/payments-client/src/core/__tests__/nav.test.tsx
  packages/payments-client/src/core/nav.tsx
  packages/payments-client/src/core/private-route-wrapper.tsx
  packages/payments-client/src/core/router.tsx
  packages/payments-client/src/tests/__mocks__/config.ts
  packages/payments-portal/src/components/payment/__tests__/__snapshots__/index.test.tsx.snap
  packages/payments-portal/src/components/payment/index.tsx
  packages/payments-portal/src/components/payment/queries.ts
  packages/payments-portal/src/core/index.tsx
  packages/payments-portal/src/tests/__mocks__/config.ts
  packages/payments-portal/src/types/global.d.ts
  packages/payments-service/cdk/cdk-stack.ts
  packages/use-reapit-data/src/update-actions.ts
  packages/use-reapit-data/src/use-reapit-get.ts
Labels: payments-client, payments-service

#8405 feat: #8204 connect session nonce
  packages/connect-session/package.json
  packages/connect-session/src/browser/__tests__/index.test.ts
  packages/connect-session/src/browser/index.ts
  yarn.lock
Labels: connect-session

#8419 chore: bump package version in changelog
  packages/elements/src/storybook/changelog.stories.mdx
Labels: elements

#8426 feat: #8344 update admin data hooks
  packages/admin-portal/src/components/approvals/__tests__/__snapshots__/app-revision-comparison.test.tsx.snap
  packages/admin-portal/src/components/approvals/__tests__/app-revision-comparison.test.tsx
  packages/admin-portal/src/components/approvals/__tests__/index.test.tsx
  packages/admin-portal/src/components/approvals/app-revision-comparison.tsx
  packages/admin-portal/src/components/approvals/index.tsx
  packages/admin-portal/src/components/apps/__tests__/apps-table.test.tsx
  packages/admin-portal/src/components/apps/__tests__/filter-form.test.tsx
  packages/admin-portal/src/components/apps/apps-table.tsx
  packages/admin-portal/src/components/apps/check-aws-button.tsx
  packages/admin-portal/src/components/apps/filter-form.tsx
  packages/admin-portal/src/components/consents/__tests__/index.test.tsx
  packages/admin-portal/src/components/consents/index.tsx
  packages/admin-portal/src/components/customers/__tests__/index.test.tsx
  packages/admin-portal/src/components/customers/index.tsx
  packages/admin-portal/src/components/developers/__tests__/apps-table.test.tsx
  packages/admin-portal/src/components/developers/__tests__/index.test.tsx
  packages/admin-portal/src/components/developers/__tests__/members-table.test.tsx
  packages/admin-portal/src/components/developers/apps-table.tsx
  packages/admin-portal/src/components/developers/developer-status-modal.tsx
  packages/admin-portal/src/components/developers/developers-table.tsx
  packages/admin-portal/src/components/developers/index.tsx
  packages/admin-portal/src/components/developers/members-table.tsx
  packages/admin-portal/src/components/iaas/__tests__/index.test.tsx
  packages/admin-portal/src/components/iaas/index.tsx
  packages/admin-portal/src/components/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/installations/__tests__/index.test.tsx
  packages/admin-portal/src/components/installations/index.tsx
  packages/admin-portal/src/components/subscriptions/__tests__/create-subscriptions.test.tsx
  packages/admin-portal/src/components/subscriptions/__tests__/index.test.tsx
  packages/admin-portal/src/components/subscriptions/create-subscriptions.tsx
  packages/admin-portal/src/components/subscriptions/index.tsx
  packages/admin-portal/src/components/usage/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/usage/__tests__/index.test.tsx
  packages/admin-portal/src/components/usage/index.tsx
  packages/admin-portal/src/tests/badges/badge-branches.svg
  packages/admin-portal/src/tests/badges/badge-functions.svg
  packages/admin-portal/src/tests/badges/badge-lines.svg
  packages/admin-portal/src/tests/badges/badge-statements.svg
  packages/admin-portal/src/tests/react-testing.tsx
  packages/app-marketplace-admin/src/components/apps-market-manager/__tests__/__snapshots__/app-browse-upsert-modal.test.tsx.snap
  packages/app-marketplace-admin/src/components/apps-market-manager/app-browse-upsert-modal.tsx
  packages/app-marketplace-admin/src/core/app.tsx
  packages/app-marketplace-admin/src/tests/react-testing.tsx
  packages/utils-react/src/searchable-multi-select/index.tsx
Labels: admin-portal, utils-react
