Repository reapit/foundations, pull requests merged in 2024-01, with the labels that each got.

#10554 feat: #10537 #10536 adds dismiss to nav and mob controls
  packages/admin-portal/src/components/menu/__tests__/__snapshots__/menu.test.tsx.snap
  packages/app-marketplace-admin/src/components/nav/__tests__/__snapshots__/nav.test.tsx.snap
  packages/data-warehouse/src/components/nav/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/analytics/calls/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/analytics/costs/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/analytics/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/list/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/page/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-new.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-page.test.tsx.snap
  packages/developer-portal/src/components/settings/company/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/settings/members/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/settings/password/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/settings/profile/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/settings/subscriptions/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/webhooks/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/core/__tests__/__snapshots__/menu.test.tsx.snap
  packages/developer-portal/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/elements/src/components/mobile-controls/__tests__/__snapshots__/mobile-controls.test.tsx.snap
  packages/elements/src/components/mobile-controls/mobile-controls.tsx
  packages/elements/src/components/nav/__styles__/index.ts
  packages/elements/src/components/nav/__tests__/nav-responsive.test.tsx
  packages/elements/src/components/nav/nav-responsive.tsx
  packages/elements/src/storybook/changelog.stories.mdx
  packages/geo-diary/src/components/ui/nav/__tests__/__snapshots__/nav.test.tsx.snap
  packages/geo-diary/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/marketplace-management/src/components/ui/nav/__tests__/__snapshots__/nav.test.tsx.snap
  packages/marketplace/src/components/nav/__tests__/__snapshots__/nav.test.tsx.snap
  packages/payments-client/src/core/__tests__/__snapshots__/nav.test.tsx.snap
  packages/rc-mfa-config/src/components/nav/__tests__/__snapshots__/index.test.tsx.snap
  packages/rc-mfa-config/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/rc-service/src/components/nav/__tests__/__snapshots__/index.test.tsx.snap
Labels: marketplace, elements, geo-diary, admin-portal, developer-portal, data-warehouse, payments-client, marketplace-management

#10487 feat: #9933 admin portal app installs
  packages/admin-portal/src/components/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/installations/index.tsx
  packages/admin-portal/src/components/installations/uninstall-modal.tsx
Labels: admin-portal

#10563 refactor: changed location of uninstall button and added disabled con…
  packages/admin-portal/src/components/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/installations/index.tsx
  packages/admin-portal/src/components/installations/uninstall-modal.tsx
Labels: admin-portal

#10592 feat: #10485 - Include Created By on approvals list
  packages/admin-portal/src/components/approvals/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/approvals/index.tsx
  packages/foundations-ts-definitions/types/marketplace-schema.ts
Labels: admin-portal, foundations-ts-definitions

#10579 feat: #10561 Update to pop modal on referral write scope
  docker-compose.yml
  packages/marketplace-management/src/components/ui/apps/__tests__/__snapshots__/app-referrals-confirm.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/__tests__/app-referrals-confirm.test.tsx
  packages/marketplace-management/src/components/ui/apps/app-referrals-confirm.tsx
Labels: marketplace-management
