Repository reapit/foundations, pull requests merged in 2024-07, with the labels that each got.

#11277 chore: elements to 4.1.2
  .yarn/cache/@reapit-elements-npm-4.3.1-34c098f772-8ee523b1c6.zip
  packages/admin-portal/package.json
  packages/admin-portal/src/components/approvals/__tests__/__snapshots__/app-revision-comparison.test.tsx.snap
  packages/admin-portal/src/components/approvals/__tests__/__snapshots__/diff-checkbox.test.tsx.snap
  packages/admin-portal/src/components/approvals/__tests__/__snapshots__/diff-media.test.tsx.snap
  packages/admin-portal/src/components/approvals/__tests__/__snapshots__/diff-render-html.test.tsx.snap
  packages/admin-portal/src/components/approvals/__tests__/__snapshots__/diff-viewer.test.tsx.snap
  packages/admin-portal/src/components/approvals/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/apps-table.test.tsx.snap
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/check-aws-button.test.tsx.snap
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/filter-form.test.tsx.snap
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/toggle-consumption.test.tsx.snap
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/toggle-featured.test.tsx.snap
  packages/admin-portal/src/components/apps/__tests__/__snapshots__/toggle-support-notification.test.tsx.snap
  packages/admin-portal/src/components/billing/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/consents/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/consents/__tests__/__snapshots__/resend-consent-modal.test.tsx.snap
  packages/admin-portal/src/components/customers/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/customers/__tests__/__snapshots__/org-groups-table.test.tsx.snap
  packages/admin-portal/src/components/developers/__tests__/__snapshots__/apps-table.test.tsx.snap
  packages/admin-portal/src/components/developers/__tests__/__snapshots__/developer-status-modal.test.tsx.snap
  packages/admin-portal/src/components/developers/__tests__/__snapshots__/developers-table.test.tsx.snap
  packages/admin-portal/src/components/developers/__tests__/__snapshots__/filter-form.test.tsx.snap
  packages/admin-portal/src/components/developers/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/developers/__tests__/__snapshots__/invite-member-modal-form.test.tsx.snap
  packages/admin-portal/src/components/developers/__tests__/__snapshots__/members-table.test.tsx.snap
  packages/admin-portal/src/components/error-boundary/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/iaas/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/installations/__tests__/__snapshots__/toggle-consumption.test.tsx.snap
  packages/admin-portal/src/components/menu/__tests__/__snapshots__/menu.test.tsx.snap
  packages/admin-portal/src/components/statistics/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/subscriptions/__tests__/__snapshots__/create-subscriptions.test.tsx.snap
  packages/admin-portal/src/components/subscriptions/__tests__/__snapshots__/filter-form.test.tsx.snap
  packages/admin-portal/src/components/subscriptions/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/traffic/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/usage/__tests__/__snapshots__/filter-form.test.tsx.snap
  packages/admin-portal/src/components/usage/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/usage/__tests__/__snapshots__/usage-table.test.tsx.snap
  packages/admin-portal/src/core/__tests__/__snapshots__/app.tsx.snap
  packages/admin-portal/src/core/__tests__/__snapshots__/private-route-wrapper.tsx.snap
  yarn.lock
Labels: admin-portal, dependencies

#11289 fix: connect session pkce code verifier
  packages/connect-session/src/__mocks__/session.ts
  packages/connect-session/src/browser/index.ts
  packages/connect-session/src/tests/badges/badge-branches.svg
  packages/connect-session/src/tests/badges/badge-functions.svg
  packages/connect-session/src/tests/badges/badge-lines.svg
  packages/connect-session/src/tests/badges/badge-statements.svg
Labels: connect-session

#11305 fix: #11294 revert elements version
  packages/data-warehouse/package.json
  packages/data-warehouse/src/components/accounts/__tests__/__snapshots__/account-progress-bar.test.tsx.snap
  packages/data-warehouse/src/components/accounts/__tests__/__snapshots__/account-provision-modal.test.tsx.snap
  packages/data-warehouse/src/components/accounts/__tests__/__snapshots__/account-update-modal.test.tsx.snap
  packages/data-warehouse/src/components/accounts/__tests__/__snapshots__/accounts-table.test.tsx.snap
  packages/data-warehouse/src/components/accounts/__tests__/__snapshots__/accounts.test.tsx.snap
  packages/data-warehouse/src/components/data/__tests__/__snapshots__/data-sets-table.test.tsx.snap
  packages/data-warehouse/src/components/data/__tests__/__snapshots__/data.test.tsx.snap
  packages/data-warehouse/src/components/data/__tests__/__snapshots__/shares-table.test.tsx.snap
  packages/data-warehouse/src/components/error-boundary/__tests__/__snapshots__/index.test.tsx.snap
  packages/data-warehouse/src/components/nav/__tests__/__snapshots__/index.test.tsx.snap
  packages/data-warehouse/src/components/network/__tests__/__snapshots__/index.test.tsx.snap
  packages/data-warehouse/src/components/network/__tests__/__snapshots__/ip-create-modal.test.tsx.snap
  packages/data-warehouse/src/components/network/__tests__/__snapshots__/ip-table.test.tsx.snap
  packages/data-warehouse/src/components/network/__tests__/__snapshots__/network.test.tsx.snap
  packages/data-warehouse/src/components/network/__tests__/__snapshots__/rule-create-modal.test.tsx.snap
  packages/data-warehouse/src/components/network/__tests__/__snapshots__/rules-table.test.tsx.snap
  packages/data-warehouse/src/components/network/__tests__/__snapshots__/use-network-state.test.tsx.snap
  packages/data-warehouse/src/core/__tests__/__snapshots__/app.test.tsx.snap
  packages/data-warehouse/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/data-warehouse/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/data-warehouse/src/core/__tests__/__snapshots__/use-global-state.test.tsx.snap
  yarn.lock
Labels: data-warehouse

#11318 fix: resolve typo
  packages/data-warehouse/src/components/network/__tests__/__snapshots__/index.test.tsx.snap
  packages/data-warehouse/src/components/network/__tests__/__snapshots__/network.test.tsx.snap
  packages/data-warehouse/src/components/network/network.tsx
Labels: data-warehouse

#11330 fix: #11294 adds pagination to ips table
  packages/data-warehouse/src/components/network/__mocks__/use-network-state.tsx
  packages/data-warehouse/src/components/network/__tests__/__snapshots__/ip-table.test.tsx.snap
  packages/data-warehouse/src/components/network/ip-table.tsx
  packages/data-warehouse/src/components/network/use-network-state.tsx
  packages/data-warehouse/src/tests/badges/badge-branches.svg
  packages/data-warehouse/src/tests/badges/badge-functions.svg
  packages/data-warehouse/src/tests/badges/badge-lines.svg
  packages/data-warehouse/src/tests/badges/badge-statements.svg
Labels: data-warehouse

#11332 fix: #11924 use correct pagination property
  packages/data-warehouse/src/components/network/ip-table.tsx
Labels: data-warehouse
