Repository reapit/foundations, pull requests merged in 2024-09, with the labels that each got.

#11430 fix: added condition to authorizer on api route
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

#11432 chore: upgrade apollo/explorer
  .yarn/cache/@apollo-explorer-npm-1.2.0-d18f1d8797-efba3a6221.zip
  .yarn/cache/@apollo-explorer-npm-3.7.0-96798af48f-2c950f00a4.zip
  packages/developer-portal/package.json
  yarn.lock
Labels: developer-portal, dependencies

#11433 feat: Rplt 108 refactor cognito authorizer usage
  packages/app-marketplace-cms/cdk/cdk-stack.ts
  packages/app-marketplace-cms/cdk/cdk.ts
  packages/app-marketplace-cms/package.json
  packages/app-marketplace-cms/src/cms/marketplace-app-model.ts
  packages/app-marketplace-cms/tsup.config.js
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/graphql-server/cdk-stack.ts
  packages/utils-authorizer/src/index.ts
  yarn.lock
Labels: graphql-server, deployment-service, app-marketplace-cms

#11435 fix: corrected marketplace config
  packages/app-marketplace-cms/cdk/cdk-stack.ts
Labels: app-marketplace-cms

#11436 refactor: tsup doesn't like enums. Replaced reflection metatype with …
  packages/app-marketplace-cms/src/cms/public-controller.ts
Labels: app-marketplace-cms

#11437 fix: conditional authorizer to remove from api http lambda
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

#11439 docs: added deployment-service diagram
  packages/deployment-service/README.md
  packages/deployment-service/docs/images/architecture-and-flow.png
Labels: deployment-service

#11446 feat: rplt-397 signpost users to my-account spa when signing in via Auth0
  packages/developer-portal/src/components/settings/password/__tests__/__snapshots__/change-password-form.test.tsx.snap
  packages/developer-portal/src/components/settings/password/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/settings/password/__tests__/change-password-form.test.tsx
  packages/developer-portal/src/components/settings/password/__tests__/index.test.tsx
  packages/developer-portal/src/components/settings/password/change-password-form.tsx
  packages/developer-portal/src/utils/token.ts
Labels: developer-portal

#11448 feat: rplt-420 signpost appmarket users to my-account spa from profile page
  packages/marketplace/src/components/settings/__tests__/__snapshots__/settings-profile.test.tsx.snap
  packages/marketplace/src/components/settings/settings-profile.tsx
  packages/marketplace/src/utils/token.ts
Labels: marketplace

#11450 feat: rplt-135 capture user email address when provisioning data warehouse user accounts
  packages/data-warehouse/src/components/accounts/__tests__/__snapshots__/account-provision-modal.test.tsx.snap
  packages/data-warehouse/src/components/accounts/account-provision-modal.tsx
  packages/data-warehouse/src/types/accounts.ts
Labels: data-warehouse
