Repository reapit/foundations, pull requests merged in 2024-02, with the labels that each got.

#10672 fix: #10663 mfa and definitions fixes
  packages/foundations-ts-definitions/scripts/create-index-file.js
  packages/foundations-ts-definitions/scripts/fetch-definitions.js
  packages/foundations-ts-definitions/scripts/format-code.js
  packages/foundations-ts-definitions/types/organisations-schema.ts
  packages/rc-mfa-config/src/components/admin/__tests__/__snapshots__/fetch-authenticators.test.tsx.snap
  packages/rc-mfa-config/src/components/admin/__tests__/__snapshots__/index.test.tsx.snap
  packages/rc-mfa-config/src/components/admin/fetch-authenticators.tsx
Labels: foundations-ts-definitions

#10012 refactor: #9991 change GitHub settings storage method
  packages/admin-portal/src/components/iaas/index.tsx
  packages/admin-portal/src/tests/__stubs__/pipelines.ts
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/migrations/1628762086314-pipeline-client-code.ts
  packages/deployment-service/migrations/1629281443118-pipeline-runner-statuses.ts
  packages/deployment-service/migrations/1629292605303-pipeline-status-column-fix.ts
  packages/deployment-service/migrations/1629377259237-pipeline-task-property-fix.ts
  packages/deployment-service/migrations/1630509406008-pipeline-signed-url.ts
  packages/deployment-service/migrations/1630659208268-pipeline-signed-url-length.ts
  packages/deployment-service/migrations/1631027909203-pipeline-domain-name-generate.ts
  packages/deployment-service/migrations/1631182439085-pipeline-cloudfront-r53-storage.ts
  packages/deployment-service/migrations/1637076778182-nullable-fields.ts
  packages/deployment-service/migrations/1637317204753-appId.ts
  packages/deployment-service/migrations/1637591977282-cliRefactor.ts
  packages/deployment-service/migrations/1638286917874-startTimeFix.ts
  packages/deployment-service/migrations/1645008177818-installationId.ts
  packages/deployment-service/migrations/1645444063726-bitBucket.ts
  packages/deployment-service/migrations/1645524699376-pipelineBranch.ts
  packages/deployment-service/migrations/1654693666828-pipelineBitbucketRelation.ts
  packages/deployment-service/migrations/1655394853865-pipelineRepositoryNullable.ts
  packages/deployment-service/migrations/1697724871099-github-repository.ts
  packages/deployment-service/migrations/index.ts
  packages/deployment-service/package.json
  packages/deployment-service/src/bitbucket/bitbucket-webhook-controller.ts
  packages/deployment-service/src/codebuild/__test__/codebuild-deploy-workflow.test.ts
  packages/deployment-service/src/codebuild/__test__/codebuild-executor-workflow.test.ts
  packages/deployment-service/src/codebuild/codebuild-executor-workflow.ts
  packages/deployment-service/src/codebuild/source-provider.ts
  packages/deployment-service/src/config/db.ts
  packages/deployment-service/src/entities/pipeline.entity.ts
  packages/deployment-service/src/entities/repository.entity.ts
  packages/deployment-service/src/github/__test__/github-webhook-controller.test.ts
  packages/deployment-service/src/github/github-webhook-controller.ts
  packages/deployment-service/src/migration-run.ts
  packages/deployment-service/src/pipeline/__test__/pipeline-controller.test.ts
  packages/deployment-service/src/pipeline/module.ts
  packages/deployment-service/src/pipeline/pipeline-controller.ts
  packages/deployment-service/src/pipeline/pipeline-dto.ts
  packages/deployment-service/src/pipeline/pipeline-provider.ts
  packages/deployment-service/src/pipeline/repository.provider.ts
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-configure.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-new.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/pipeline-configure.test.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-configure.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-controls.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-deployments-table.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
  packages/developer-portal/src/components/iaas/pipeline-row.tsx
  packages/developer-portal/src/tests/__stubs__/pipeline.ts
  packages/foundations-ts-definitions/deployment-schema/index.ts
Labels: admin-portal, developer-portal, deployment-service, foundations-ts-definitions

#10023 feat: #10021 security with developer
  packages/deployment-service/migrations/1698161392543-github-repository-developerId.ts
  packages/deployment-service/migrations/index.ts
  packages/deployment-service/src/entities/repository.entity.ts
  packages/deployment-service/src/pipeline/pipeline-controller.ts
  packages/deployment-service/src/pipeline/repository.provider.ts
Labels: deployment-service
