Repository reapit/foundations, pull requests merged in 2024-11, with the labels that each got.

#11490 chore: rplt-484 tweaks to update name modal
  packages/rc-service/src/components/users/__tests__/__snapshots__/update-user-name.test.tsx.snap
  packages/rc-service/src/components/users/__tests__/update-user-name.test.tsx
  packages/rc-service/src/components/users/update-user-name.tsx
Labels: dependencies

#11491 chore: rplt-584 update email address on review modal
  packages/developer-portal/src/components/apps/page/__tests__/__snapshots__/submit-review-modal.test.tsx.snap
  packages/developer-portal/src/components/apps/page/submit-review-modal.tsx
Labels: developer-portal

#11494 fix: rplt-591 authoriser tweaks
  packages/payments-service/src/core/authorizer.ts
Labels: payments-service

#11492 fix: deployment resolution
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
  packages/deployment-service/cdk/lib/create-policies.ts
  packages/deployment-service/jest.config.js
  packages/deployment-service/src/deployment/deploy-provider.ts
  packages/deployment-service/src/pipeline/__test__/pipeline-setup-workflow.test.ts
  packages/deployment-service/src/pipeline/pipeline-setup-workflow.ts
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-info.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-page.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
  packages/ts-scripts/src/cdk/components/rds-database.ts
Labels: developer-portal, ts-scripts, deployment-service
