Repository reapit/foundations, pull requests merged in 2024-08, with the labels that each got.

#11367 fix: #11357 minor payments fixes
  packages/payments-ui/src/payment-page/__tests__/__snapshots__/payment-form.test.tsx.snap
  packages/payments-ui/src/payment-page/payment-form.tsx
  packages/ts-scripts/src/authorizer/index.ts
Labels: ts-scripts

#11320 fix: use aws sdk crypto implementation
  .yarn/cache/@aws-crypto-sha256-browser-npm-5.2.0-5e8b02b82a-2b1b701ca6.zip
  .yarn/cache/@aws-crypto-sha256-js-npm-5.2.0-fbe0f9fbf6-f46aace7b8.zip
  .yarn/cache/@aws-crypto-supports-web-crypto-npm-5.2.0-37acf6e569-6ed0c7e17f.zip
  .yarn/cache/@aws-crypto-util-npm-5.2.0-67e90fb04c-f80a174c40.zip
  packages/connect-session/package.json
  packages/connect-session/src/browser/index.ts
  yarn.lock
Labels: connect-session, dependencies

#11387 fix: #11386 dw ui fix
  packages/data-warehouse/src/components/network/ip-create-modal.tsx
  packages/data-warehouse/src/components/network/rule-create-modal.tsx
Labels: data-warehouse

#11391 chore: remove slack env
  .github/workflows/release-prod.yml
  .github/workflows/rollback-prod.yml
Labels: infra

#11398 chore: 11397 update validation and move button
  packages/data-warehouse/src/components/network/__tests__/__snapshots__/index.test.tsx.snap
  packages/data-warehouse/src/components/network/__tests__/__snapshots__/network.test.tsx.snap
  packages/data-warehouse/src/components/network/__tests__/__snapshots__/rules-table.test.tsx.snap
  packages/data-warehouse/src/components/network/network.tsx
  packages/data-warehouse/src/components/network/rule-create-modal.tsx
  packages/data-warehouse/src/components/network/rules-table.tsx
Labels: data-warehouse

#11400 fix: 11397 add missing className
  packages/data-warehouse/src/components/network/__tests__/__snapshots__/index.test.tsx.snap
  packages/data-warehouse/src/components/network/__tests__/__snapshots__/network.test.tsx.snap
  packages/data-warehouse/src/components/network/network.tsx
Labels: data-warehouse

#11410 Delete .github/ISSUE_TEMPLATE/analytics-schema.md
  .github/ISSUE_TEMPLATE/analytics-schema.md
Labels: infra

#11414 Delete .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: infra

#11412 Delete .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: infra

#11411 Delete .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/question.md
Labels: infra

#11404 feat: #236 authorizer auth0 gql server
  .yarn/cache/@esbuild-darwin-arm64-npm-0.23.1-1d26281f3d-10.zip
  .yarn/cache/@rollup-rollup-darwin-arm64-npm-4.21.0-dd406bfe51-10.zip
  .yarn/cache/bundle-require-npm-5.0.0-1ad25d21e8-65909bc785.zip
  .yarn/cache/consola-npm-3.2.3-fb2514b783-02972dcb04.zip
  .yarn/cache/debug-npm-4.3.6-ecb233d831-d3adb9af7d.zip
  .yarn/cache/esbuild-npm-0.23.1-6e231886af-f55fbd0bfb.zip
  .yarn/cache/lilconfig-npm-3.1.2-e5b7292949-8058403850.zip
  .yarn/cache/picocolors-npm-1.0.1-39442f3da8-fa68166d1f.zip
  .yarn/cache/postcss-load-config-npm-6.0.1-50722afd05-1691cfc949.zip
  .yarn/cache/rollup-npm-4.21.0-fb6d7c97cc-27ac47d504.zip
  .yarn/cache/tsup-npm-8.2.4-8d7bbabf3e-89613c3490.zip
  packages/graphql-server/cdk-stack.ts
  packages/graphql-server/package.json
  packages/graphql-server/tsup.config.ts
  packages/ts-bundler/src/workspace-deps.ts
  packages/utils-authorizer/src/index.ts
  yarn.lock
Labels: graphql-server, dependencies, ts-bundler

#11420 fix: corrected spelling mistake on gql update action
  .github/workflows/graphql-swagger-update.yml
Labels: infra

#11421 feat: badge updates
  packages/app-builder/src/components/pages/__tests__/app-select.test.tsx
  packages/app-builder/src/tests/badges/badge-branches.svg
  packages/app-builder/src/tests/badges/badge-functions.svg
  packages/app-builder/src/tests/badges/badge-lines.svg
  packages/app-builder/src/tests/badges/badge-statements.svg
  packages/app-marketplace-admin/src/tests/badges/badge-branches.svg
  packages/app-marketplace-admin/src/tests/badges/badge-functions.svg
  packages/app-marketplace-admin/src/tests/badges/badge-lines.svg
  packages/app-marketplace-admin/src/tests/badges/badge-statements.svg
  packages/connect-session/src/tests/badges/badge-lines.svg
  packages/connect-session/src/tests/badges/badge-statements.svg
  packages/developer-portal/src/tests/badges/badge-branches.svg
  packages/developer-portal/src/tests/badges/badge-functions.svg
  packages/developer-portal/src/tests/badges/badge-lines.svg
  packages/developer-portal/src/tests/badges/badge-statements.svg
  packages/geo-diary/src/tests/badges/badge-branches.svg
  packages/geo-diary/src/tests/badges/badge-functions.svg
  packages/geo-diary/src/tests/badges/badge-lines.svg
  packages/geo-diary/src/tests/badges/badge-statements.svg
  packages/graphql-server/src/tests/badges/badge-branches.svg
  packages/graphql-server/src/tests/badges/badge-functions.svg
  packages/graphql-server/src/tests/badges/badge-lines.svg
  packages/graphql-server/src/tests/badges/badge-statements.svg
  packages/marketplace-management/src/tests/badges/badge-branches.svg
  packages/marketplace-management/src/tests/badges/badge-functions.svg
  packages/marketplace-management/src/tests/badges/badge-lines.svg
  packages/marketplace-management/src/tests/badges/badge-statements.svg
  packages/marketplace/src/tests/badges/badge-branches.svg
  packages/marketplace/src/tests/badges/badge-functions.svg
  packages/marketplace/src/tests/badges/badge-lines.svg
  packages/marketplace/src/tests/badges/badge-statements.svg
  packages/payments-client/src/tests/badges/badge-branches.svg
  packages/payments-client/src/tests/badges/badge-functions.svg
  packages/payments-client/src/tests/badges/badge-lines.svg
  packages/payments-client/src/tests/badges/badge-statements.svg
  packages/payments-portal/src/tests/badges/badge-branches.svg
  packages/payments-portal/src/tests/badges/badge-functions.svg
  packages/payments-portal/src/tests/badges/badge-lines.svg
  packages/payments-portal/src/tests/badges/badge-statements.svg
  packages/payments-ui/src/tests/badges/badge-branches.svg
  packages/payments-ui/src/tests/badges/badge-functions.svg
  packages/payments-ui/src/tests/badges/badge-lines.svg
  packages/payments-ui/src/tests/badges/badge-statements.svg
  packages/rc-mfa-config/src/tests/badges/badge-branches.svg
  packages/rc-mfa-config/src/tests/badges/badge-functions.svg
  packages/rc-mfa-config/src/tests/badges/badge-lines.svg
  packages/rc-mfa-config/src/tests/badges/badge-statements.svg
  packages/ts-scripts/src/cdk/components/api-gateway-api.ts
  packages/use-reapit-data/src/tests/badges/badge-branches.svg
  packages/use-reapit-data/src/tests/badges/badge-functions.svg
  packages/use-reapit-data/src/tests/badges/badge-lines.svg
  packages/use-reapit-data/src/tests/badges/badge-statements.svg
  packages/utils-common/src/tests/badges/badge-branches.svg
  packages/utils-common/src/tests/badges/badge-functions.svg
  packages/utils-common/src/tests/badges/badge-lines.svg
  packages/utils-common/src/tests/badges/badge-statements.svg
  packages/utils-react/src/tests/badges/badge-branches.svg
  packages/utils-react/src/tests/badges/badge-functions.svg
  packages/utils-react/src/tests/badges/badge-lines.svg
  packages/utils-react/src/tests/badges/badge-statements.svg
Labels: marketplace, geo-diary, graphql-server, developer-portal, connect-session, payments-client, marketplace-management, ts-scripts, app-builder, utils-common, utils-react, app-market

#11426 fix: revert to cognito authorizer
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/graphql-server/cdk-stack.ts
Labels: graphql-server, deployment-service
