Repository reapit/foundations, pull requests merged in 2024-10, with the labels that each got.

#11456 chore: deprecate warn for api-key-service
  packages/api-key-service/src/api-keys/api-key-provider.ts
Labels: api-key-service

#11458 fix: remove react-chartjs-2 requirement for ts-scripts
  .yarn/cache/@nestjs-common-npm-10.4.4-e79965f1fa-55e5100f90.zip
  .yarn/cache/@nestjs-core-npm-10.4.4-5556252e42-50b8764812.zip
  .yarn/cache/@nestjs-testing-npm-10.4.4-f32386e210-de0bc328f5.zip
  .yarn/cache/path-to-regexp-npm-3.3.0-67764d7b0a-8d256383af.zip
  .yarn/cache/tslib-npm-2.7.0-21668f5c21-9a5b47ddac.zip
  packages/ts-scripts/src/jest/jest-setup.js
  packages/utils-nest/package.json
  yarn.lock
Labels: ts-scripts, dependencies

#11460 feat: rplt-394 add custom redirect for console product
  packages/cognito-custom-mail-lambda/src/mailer/custom-mailer.ts
Labels: cognito-custom-mail-lambda

#11464 feat: rplt-512 allow dev.reapit unsecured domains to be registered against auth flow apps
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/app-listing-tab.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/form-schema/form-fields.ts
  packages/developer-portal/src/components/apps/edit/form-schema/validation-schema.ts
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/helper-content.test.tsx.snap
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/new/config.tsx
  packages/developer-portal/src/components/apps/new/helper-content.tsx
  packages/developer-portal/src/components/apps/new/index.tsx
  packages/utils-common/src/validators/__tests__/index.test.ts
  packages/utils-common/src/validators/index.ts
Labels: developer-portal, utils-common

#11465 chore: deprecate devops-release
  packages/cognito-custom-mail-lambda/package.json
Labels: cognito-custom-mail-lambda

#11466 chore: remove api key modal
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-api-keys.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-controls.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/pipeline-api-keys.test.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-api-keys.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-controls.tsx
Labels: developer-portal

#11462 feat: rplt-495 add notice about refresh token rotation
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/helper-content.test.tsx.snap
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/new/helper-content.tsx
  packages/developer-portal/src/components/apps/new/index.tsx
  packages/developer-portal/src/utils/navigation.ts
Labels: developer-portal

#11471 chore: resolve graphql server build and bundling
  .yarn/cache/@types-cookiejar-npm-2.1.5-f36531e52d-04d5990e87.zip
  .yarn/cache/@types-methods-npm-1.1.4-8565dc8af4-ad2a717848.zip
  .yarn/cache/@types-superagent-npm-8.1.4-0bbe669081-06ec4510ca.zip
  .yarn/cache/@types-supertest-npm-2.0.16-2ccc258659-2fc998ea69.zip
  .yarn/cache/ansi-regex-npm-4.1.1-af0a582bb9-b1a6ee44cb.zip
  .yarn/cache/call-me-maybe-npm-1.0.2-a465269a37-3d375b6f81.zip
  .yarn/cache/cliui-npm-5.0.0-885b5f48ee-381264fcc3.zip
  .yarn/cache/delay-npm-5.0.0-1d1c758b46-62f151151e.zip
  .yarn/cache/depd-npm-1.1.2-b0c8414da7-2ed6966fc1.zip
  .yarn/cache/emoji-regex-npm-7.0.3-cfe9479bb3-9159b2228b.zip
  .yarn/cache/express-graphql-header-npm-1.0.1-47f6948578-3f7fd68f43.zip
  .yarn/cache/express-graphql-npm-0.12.0-0ae188e52e-da0ddccc44.zip
  .yarn/cache/find-up-npm-3.0.0-a2d4b1b317-38eba3fe7a.zip
  .yarn/cache/http-errors-npm-1.8.0-4399ea3b8d-eec06bf533.zip
  .yarn/cache/is-fullwidth-code-point-npm-2.0.0-507f56ec71-eef9c6e15f.zip
  .yarn/cache/json-schema-ref-parser-npm-7.1.4-948f9e347a-2bef7ebba9.zip
  .yarn/cache/locate-path-npm-3.0.0-991671ae9f-53db399667.zip
  .yarn/cache/ono-npm-6.0.1-088f000ca0-dbc5b53a67.zip
  .yarn/cache/p-locate-npm-3.0.0-74de74f952-83991734a9.zip
  .yarn/cache/path-exists-npm-3.0.0-e80371aa68-96e92643aa.zip
  .yarn/cache/statuses-npm-1.5.0-f88f91b2e9-c469b9519d.zip
  .yarn/cache/string-width-npm-3.1.0-e031bfa4e0-57f7ca73d2.zip
  .yarn/cache/strip-ansi-npm-5.2.0-275214c316-bdb5f76ade.zip
  .yarn/cache/superagent-npm-8.1.2-44190e1fe9-33d0072e05.zip
  .yarn/cache/supertest-graphql-npm-1.1.4-1ebde2b2d1-5803692e33.zip
  .yarn/cache/supertest-npm-6.3.4-ddb2a7be36-93015318f5.zip
  .yarn/cache/swagger-to-graphql-npm-4.0.2-e4ba79b9a3-8f48a774ed.zip
  .yarn/cache/toidentifier-npm-1.0.0-5dad252f90-199e6bfca1.zip
  .yarn/cache/wrap-ansi-npm-5.1.0-293b407c18-f02bbbd13f.zip
  .yarn/cache/yargs-npm-14.2.3-b84ca3cee2-4e7af0caac.zip
  .yarn/cache/yargs-parser-npm-15.0.3-e79e7aa32c-b3c70f87ca.zip
  packages/graphql-server-v2/.eslintrc.js
  packages/graphql-server-v2/babel.config.js
  packages/graphql-server-v2/cdk-stack.ts
  packages/graphql-server-v2/jest.config.js
  packages/graphql-server-v2/package.json
  packages/graphql-server-v2/src/__tests__/e2e.spec.ts
  packages/graphql-server-v2/src/axios.ts
  packages/graphql-server-v2/src/constants.ts
  packages/graphql-server-v2/src/download-swagger.ts
  packages/graphql-server-v2/src/http-local.ts
  packages/graphql-server-v2/src/index.ts
  packages/graphql-server-v2/src/server.ts
  packages/graphql-server-v2/swagger.json
  packages/graphql-server-v2/tsconfig.json
  packages/graphql-server/package.json
  packages/graphql-server/tsconfig.json
  packages/graphql-server/tsup.config.ts
  yarn.lock
Labels: graphql-server, dependencies

#11472 fix: corrected deployment method for gql-server
  packages/graphql-server/cdk-stack.ts
  packages/graphql-server/package.json
Labels: graphql-server

#11474 fix: fixed bundle
  packages/graphql-server/package.json
Labels: graphql-server

#11480 fix: change bucket names
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

#11481 fix: rename buckets
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

#11482 fix: public access roles for dpeloyment service s3
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

#11483 fix: remove block all
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

#11484 fix: remove public access
  packages/deployment-service/cdk/lib/create-S3-bucket.ts
Labels: deployment-service

#11486 fix: bump database version
  packages/ts-scripts/src/cdk/components/rds-database.ts
Labels: ts-scripts

#11487 fix: remove migration script for deployment to dev
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

#11488 feat: added secret controller for fixes
  packages/deployment-service/src/pipeline-runner/module.ts
  packages/deployment-service/src/pipeline-runner/secret.pipeline.controller.ts
  packages/deployment-service/src/pipeline/pipeline-provider.ts
Labels: deployment-service
