Repository reapit/foundations, pull requests merged in 2024-04, with the labels that each got.

#10996 fix: resolves issue with small video thumbnails in helper content
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/helper-content.test.tsx.snap
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/new/helper-content.tsx
  packages/ts-scripts/src/vite/base-vite.js
Labels: developer-portal, ts-scripts

#11011 refactor: #10612 convert connection session token requests to post body
  packages/connect-session/src/browser/__tests__/index.test.ts
  packages/connect-session/src/browser/index.ts
Labels: connect-session

#11029 feat: #11017 update dw and rcs to elements beta
  packages/data-warehouse/package.json
  packages/data-warehouse/src/components/accounts/__tests__/__snapshots__/account-progress-bar.test.tsx.snap
  packages/data-warehouse/src/components/accounts/__tests__/__snapshots__/account-provision-modal.test.tsx.snap
  packages/data-warehouse/src/components/accounts/__tests__/__snapshots__/account-update-modal.test.tsx.snap
  packages/data-warehouse/src/components/accounts/__tests__/__snapshots__/accounts-table.test.tsx.snap
  packages/data-warehouse/src/components/accounts/__tests__/__snapshots__/accounts.test.tsx.snap
  packages/data-warehouse/src/components/accounts/accounts.tsx
  packages/data-warehouse/src/components/data/__tests__/__snapshots__/data-sets-table.test.tsx.snap
  packages/data-warehouse/src/components/data/__tests__/__snapshots__/data.test.tsx.snap
  packages/data-warehouse/src/components/data/__tests__/__snapshots__/shares-table.test.tsx.snap
  packages/data-warehouse/src/components/data/data.tsx
  packages/data-warehouse/src/components/error-boundary/__tests__/__snapshots__/index.test.tsx.snap
  packages/data-warehouse/src/components/nav/__tests__/__snapshots__/index.test.tsx.snap
  packages/data-warehouse/src/core/__tests__/__snapshots__/app.test.tsx.snap
  packages/data-warehouse/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/data-warehouse/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/data-warehouse/src/core/__tests__/__snapshots__/use-global-state.test.tsx.snap
  packages/rc-service/package.json
  packages/rc-service/src/components/error-boundary/__tests__/__snapshots__/index.test.tsx.snap
  packages/rc-service/src/components/nav/__tests__/__snapshots__/index.test.tsx.snap
  packages/rc-service/src/components/orgs/__tests__/__snapshots__/index.test.tsx.snap
  packages/rc-service/src/components/orgs/org-content.tsx
  packages/rc-service/src/components/users/__tests__/__snapshots__/edit-user-groups.test.tsx.snap
  packages/rc-service/src/components/users/__tests__/__snapshots__/index.test.tsx.snap
  packages/rc-service/src/components/users/user-content.tsx
  packages/rc-service/src/core/__tests__/__snapshots__/app.test.tsx.snap
  packages/rc-service/src/core/__tests__/__snapshots__/private-route-wrapper.test.tsx.snap
  packages/rc-service/src/core/__tests__/__snapshots__/router.test.tsx.snap
  packages/rc-service/src/core/private-route-wrapper.tsx
  yarn.lock
Labels: data-warehouse

#11018 feat: #10611 pkce
  packages/app-builder/src/components/pages/__tests__/app-select.test.tsx
  packages/connect-session/README.md
  packages/connect-session/src/browser/__tests__/index.test.ts
  packages/connect-session/src/browser/index.ts
  packages/connect-session/src/types.ts
Labels: admin-portal, connect-session, app-builder, dependencies, foundations-ts-definitions, app-market

#11088 refactor: upgraded cluster size to medium preempt aurora version bump
  packages/ts-scripts/src/cdk/components/rds-database.ts
Labels: ts-scripts

#11089 refactor: changed image version
  packages/ts-scripts/src/cdk/components/rds-database.ts
Labels: ts-scripts
