Repository reapit/foundations, pull requests merged in 2025-04, with the labels that each got.

#11542 refactor: changed port accessible to security group
  packages/ts-scripts/src/cdk/components/rds-database.ts
Labels: ts-scripts

#11545 chore: remove monorepo namespace req from ts-bundler
  packages/ts-bundler/src/get-context.ts
  packages/ts-bundler/src/ts-bundler.ts
Labels: ts-bundler

#11543 fix: remove certificate error when dns verified
  packages/deployment-service/src/dns/dns.controller.ts
Labels: deployment-service

#11548 feat: #RPLT-941 ui tidy up in dev portal
  packages/developer-portal/src/components/analytics/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/analytics/page/__tests__/__snapshots__/controls.test.tsx.snap
  packages/developer-portal/src/components/analytics/page/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/analytics/page/controls.tsx
  packages/developer-portal/src/components/api/api-page.tsx
  packages/developer-portal/src/components/apps/detail/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/detail/__tests__/index.test.tsx
  packages/developer-portal/src/components/apps/detail/index.tsx
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/ac-integration-tab.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/general-tab.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/edit/ac-integration-tab.tsx
  packages/developer-portal/src/components/apps/edit/form-schema/form-fields.ts
  packages/developer-portal/src/components/apps/edit/general-tab.tsx
  packages/developer-portal/src/components/apps/edit/index.tsx
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/app-options-content.test.tsx.snap
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/helper-content.test.tsx.snap
  packages/developer-portal/src/components/apps/new/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/new/__tests__/app-options-content.test.tsx
  packages/developer-portal/src/components/apps/new/app-options-content.tsx
  packages/developer-portal/src/components/apps/new/helper-content.tsx
  packages/developer-portal/src/components/apps/new/index.tsx
  packages/developer-portal/src/components/apps/page/__tests__/__snapshots__/helper.test.tsx.snap
  packages/developer-portal/src/components/apps/page/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/page/helper.tsx
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-controls.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/dns/__styles__/index.ts
  packages/developer-portal/src/components/apps/pipeline/dns/__tests__/__snapshots__/dns-steps.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-four.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-three.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-two.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-controls.tsx
  packages/developer-portal/src/components/apps/welcome/__tests__/__snapshots__/index-final.test.tsx.snap
  packages/developer-portal/src/components/apps/welcome/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/apps/welcome/index-final.tsx
  packages/developer-portal/src/components/apps/welcome/index.tsx
  packages/developer-portal/src/components/desktop/__tests__/__snapshots__/developer-edition-download.test.tsx.snap
  packages/developer-portal/src/components/desktop/__tests__/__snapshots__/developer-edition-modal.test.tsx.snap
  packages/developer-portal/src/components/desktop/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/desktop/developer-edition-download.tsx
  packages/developer-portal/src/components/desktop/developer-edition-modal.tsx
  packages/developer-portal/src/components/desktop/index.tsx
  packages/developer-portal/src/components/docs/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/docs/index.tsx
  packages/developer-portal/src/components/elements/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/elements/index.tsx
  packages/developer-portal/src/components/iaas/__tests__/__snapshots__/iaas.test.tsx.snap
  packages/developer-portal/src/components/iaas/index.tsx
  packages/developer-portal/src/components/login/__tests__/__snapshots__/select-role.test.tsx.snap
  packages/developer-portal/src/components/login/select-role.tsx
  packages/developer-portal/src/components/settings/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/settings/page/__tests__/__snapshots__/controls.test.tsx.snap
  packages/developer-portal/src/components/settings/page/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/settings/page/controls.tsx
Labels: developer-portal

#11540 feat: rplt 864 app signout urls
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/src/app-event/__test__/app-event-workflow.test.ts
  packages/deployment-service/src/app-event/app-event-workflow.ts
  packages/deployment-service/src/config/marketplace.ts
  packages/deployment-service/src/dns/dns.eventbridge.provider.ts
  packages/deployment-service/src/dns/dns.module.ts
  packages/deployment-service/src/marketplace/__test__/marketplace.provider.test.ts
  packages/deployment-service/src/marketplace/index.ts
  packages/deployment-service/src/marketplace/marketplace.module.ts
  packages/deployment-service/src/marketplace/marketplace.provider.ts
  packages/deployment-service/src/pipeline/__test__/pipeline-setup-workflow.test.ts
  packages/deployment-service/src/pipeline/module.ts
  packages/deployment-service/src/pipeline/pipeline-setup-workflow.ts
  packages/developer-portal/src/components/apps/pipeline/__tests__/pipeline-controls.test.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-controls.tsx
  packages/developer-portal/src/components/iaas/index.tsx
Labels: developer-portal, deployment-service

#11549 chore: trigger lambda build
  packages/security-header-lambda/package.json
Labels: security-header-lambda

#11555 feat: add ire link to custom mailer
  .github/workflows/release-dev.yml
  .github/workflows/release-prod.yml
  packages/cognito-custom-mail-lambda/src/mailer/custom-mailer.ts
  packages/ts-scripts/src/devops/github.ts
  packages/ts-scripts/src/devops/index.ts
Labels: cognito-custom-mail-lambda, infra, ts-scripts

#11558 ci: ire links custom mailer - enable devops release
  packages/cognito-custom-mail-lambda/package.json
Labels: cognito-custom-mail-lambda

#11559 fix: correct devops repo name
  packages/ts-scripts/src/devops/github.ts
Labels: ts-scripts

#11551 fix: rplt 951 iaas v1 UI updates
  .yarn/cache/@reapit-elements-npm-4.3.4-d55f6e1f42-978777cf8c.zip
  packages/cognito-custom-mail-lambda/jest.config.js
  packages/developer-portal/package.json
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-info.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-page.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/pipeline-configure/github-repository-selection-element/__styles__/index.ts
  packages/developer-portal/src/components/apps/pipeline/pipeline-configure/github-repository-selection-element/github-repository-selection-element.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-configure/github-repository-selection-element/installation-selection.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-configure/github-repository-selection-element/repository-selection.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
  packages/ts-scripts/src/vite/base-vite.mjs
  yarn.lock
Labels: cognito-custom-mail-lambda, developer-portal, ts-scripts, dependencies

#11560 fix: undo forced merged changes
  packages/cognito-custom-mail-lambda/package.json
Labels: cognito-custom-mail-lambda

#11561 fix: linting and loading bar
  packages/developer-portal/src/components/apps/pipeline/pipeline-configure/github-repository-selection-element/github-repository-selection-element.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-controls.tsx
Labels: developer-portal

#11562 feat: added serialisation to pusher events
  packages/deployment-service/src/entities/pipeline.entity.ts
  packages/deployment-service/src/events/pusher-provider.test.ts
  packages/deployment-service/src/events/pusher-provider.ts
Labels: deployment-service

#11563 fix: revert elements to 4.3.2
  .yarn/cache/@reapit-elements-npm-4.3.4-d55f6e1f42-978777cf8c.zip
  packages/deployment-service/src/dns/dns.eventbridge.provider.ts
  packages/developer-portal/package.json
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-new.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/pipeline-configure/pipeline-configure.tsx
  yarn.lock
Labels: developer-portal, deployment-service, dependencies

#11541 feat: rplt 899 admin portal pipeline info
  .yarn/cache/@reapit-foundations-ts-definitions-npm-2.1.21-81a01d4c21-cfd56b75c8.zip
  packages/admin-portal/package.json
  packages/admin-portal/src/components/approvals/__tests__/app-revision-comparison.test.tsx
  packages/admin-portal/src/components/approvals/__tests__/index.test.tsx
  packages/admin-portal/src/components/approvals/app-revision-comparison.tsx
  packages/admin-portal/src/components/approvals/index.tsx
  packages/admin-portal/src/components/apps/apps-table.tsx
  packages/admin-portal/src/components/apps/check-aws-button.tsx
  packages/admin-portal/src/components/apps/filter-form.tsx
  packages/admin-portal/src/components/apps/index.tsx
  packages/admin-portal/src/components/apps/toggle-consumption.tsx
  packages/admin-portal/src/components/apps/toggle-featured.tsx
  packages/admin-portal/src/components/consents/__tests__/index.test.tsx
  packages/admin-portal/src/components/consents/index.tsx
  packages/admin-portal/src/components/consents/resend-consent-modal.tsx
  packages/admin-portal/src/components/customers/index.tsx
  packages/admin-portal/src/components/customers/org-groups-table.tsx
  packages/admin-portal/src/components/developers/__tests__/developer-status-modal.test.tsx
  packages/admin-portal/src/components/developers/__tests__/developers-table.test.tsx
  packages/admin-portal/src/components/developers/__tests__/members-table.test.tsx
  packages/admin-portal/src/components/developers/apps-table.tsx
  packages/admin-portal/src/components/developers/developer-status-modal.tsx
  packages/admin-portal/src/components/developers/developers-table.tsx
  packages/admin-portal/src/components/developers/index.tsx
  packages/admin-portal/src/components/developers/invite-member-modal-form.tsx
  packages/admin-portal/src/components/developers/members-table.tsx
  packages/admin-portal/src/components/iaas/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/iaas/index.tsx
  packages/admin-portal/src/components/installations/index.tsx
  packages/admin-portal/src/components/installations/toggle-consumption.tsx
  packages/admin-portal/src/components/installations/uninstall-modal.tsx
  packages/admin-portal/src/components/statistics/index.tsx
  packages/admin-portal/src/components/subscriptions/__tests__/create-subscriptions.test.tsx
  packages/admin-portal/src/components/subscriptions/create-subscriptions.tsx
  packages/admin-portal/src/components/subscriptions/index.tsx
  packages/admin-portal/src/components/usage/filter-form.tsx
  packages/admin-portal/src/components/usage/index.tsx
  packages/admin-portal/src/services/customers.ts
  packages/admin-portal/src/services/developers.ts
  packages/admin-portal/src/tests/__stubs__/approvals.ts
  packages/admin-portal/src/tests/__stubs__/apps.ts
  packages/admin-portal/src/tests/__stubs__/categories.ts
  packages/admin-portal/src/tests/__stubs__/consents.ts
  packages/admin-portal/src/tests/__stubs__/customers.ts
  packages/admin-portal/src/tests/__stubs__/desktop-integration-types.ts
  packages/admin-portal/src/tests/__stubs__/developers.ts
  packages/admin-portal/src/tests/__stubs__/installations.ts
  packages/admin-portal/src/tests/__stubs__/members.ts
  packages/admin-portal/src/tests/__stubs__/office-groups.ts
  packages/admin-portal/src/tests/__stubs__/revisions.ts
  packages/admin-portal/src/tests/__stubs__/scopes.ts
  packages/admin-portal/src/tests/__stubs__/subscriptions.ts
  packages/admin-portal/src/tests/__stubs__/users.ts
  packages/admin-portal/src/tests/__stubs__/webhooks.ts
  packages/deployment-service/src/app-module.ts
  packages/deployment-service/src/custom-class-serialiser-interceptor.test.ts
  packages/deployment-service/src/custom-class-serialiser-interceptor.ts
  packages/deployment-service/src/entities/pipeline.entity.ts
  packages/deployment-service/src/events/abstract-workflow.ts
  yarn.lock
Labels: admin-portal, deployment-service, dependencies
