Repository reapit/foundations, pull requests merged in 2025-05, with the labels that each got.

#11565 refactor: rplt 969 convert to one step
  packages/deployment-service/migrations/1729084248683-AddDomainFields.ts
  packages/deployment-service/src/dns/certificate.provider.ts
  packages/deployment-service/src/dns/dns.cloudfront.provider.ts
  packages/deployment-service/src/dns/dns.controller.test.ts
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.module.ts
  packages/deployment-service/src/dns/dns.provider.test.ts
  packages/deployment-service/src/dns/dns.provider.ts
  packages/deployment-service/src/entities/pipeline.entity.ts
  packages/deployment-service/src/pipeline/__test__/pipeline-setup-workflow.test.ts
  packages/developer-portal/src/components/apps/pipeline/dns/__tests__/__snapshots__/dns-steps.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/dns/__tests__/dns-steps.test.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-configuration.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-settings-page.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-four.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-one.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-three.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-step-two.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/index.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/setup-model.tsx
  packages/use-reapit-data/src/api-constants.ts
  packages/use-reapit-data/src/get-actions.ts
  packages/use-reapit-data/src/update-actions.ts
Labels: developer-portal, deployment-service

#11566 feat: rplt 624 app marketplace hover text
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/marketplace-app.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/__tests__/__snapshots__/app-pricing-permissions-section.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/app-pricing-permissions-section.tsx
  packages/marketplace/src/components/apps-detail/__tests__/__snapshots__/app-install-modal.test.tsx.snap
  packages/marketplace/src/components/apps-detail/__tests__/__snapshots__/apps-detail.test.tsx.snap
  packages/marketplace/src/components/apps-detail/__tests__/__snapshots__/index.test.tsx.snap
  packages/marketplace/src/components/apps-detail/app-install-modal.tsx
  packages/marketplace/src/components/apps-detail/apps-detail.tsx
Labels: marketplace, marketplace-management

#11568 fix: resolve undefined for non credentials requests
  packages/deployment-service/src/custom-class-serialiser-interceptor.ts
Labels: deployment-service

#11569 feat: rplt 996 dns pr
  .yarn/cache/@types-js-yaml-npm-4.0.9-6a16d01bd2-a0ce595db8.zip
  .yarn/cache/octokit-plugin-create-pull-request-npm-6.0.1-324f091454-f4aaccb5c0.zip
  packages/deployment-service/README.md
  packages/deployment-service/cdk/lib/cdk-stack.ts
  packages/deployment-service/docs/images/dns-flow.png
  packages/deployment-service/migrations/1747039574276-dnsTriggerEmailField.ts
  packages/deployment-service/migrations/index.ts
  packages/deployment-service/package.json
  packages/deployment-service/src/config/github.ts
  packages/deployment-service/src/dns/certificate.provider.ts
  packages/deployment-service/src/dns/devops.pr.provider.test.ts
  packages/deployment-service/src/dns/devops.pr.provider.ts
  packages/deployment-service/src/dns/dns.controller.ts
  packages/deployment-service/src/dns/dns.eventbridge.provider.ts
  packages/deployment-service/src/dns/dns.module.ts
  packages/deployment-service/src/entities/pipeline.entity.ts
  packages/deployment-service/src/github/github-pull-request-provider.ts
  packages/deployment-service/src/github/module.ts
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-info.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-page.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/dns/__tests__/__snapshots__/dns-steps.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/dns/__tests__/dns-steps.test.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-configuration.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-settings-page.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-uki-success-modal.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/index.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/setup-model.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-configure/github-repository-selection-element/installation-selection.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-configure/github-repository-selection-element/repository-selection.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-info.tsx
  yarn.lock
Labels: developer-portal, deployment-service, dependencies

#11570 feat: added text for repository selection documentation
  packages/developer-portal/src/components/apps/pipeline/pipeline-configure/github-repository-selection-element/repository-selection.tsx
Labels: developer-portal

#11574 feat: iaas ui tweaks
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-controls.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-deployments-table.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/__tests__/__snapshots__/pipeline-new.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/dns/__tests__/__snapshots__/dns-steps.test.tsx.snap
  packages/developer-portal/src/components/apps/pipeline/dns/dns-settings-page.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/dns-uki-success-modal.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-configure/pipeline-configure.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-controls.tsx
  packages/developer-portal/src/components/apps/pipeline/pipeline-environment.tsx
  packages/developer-portal/src/utils/date-time.ts
Labels: developer-portal

#11576 fix: rplt-624 switch to desktop links so that AgencyCloud pops the urls in a new browser window
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/marketplace-app.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/__tests__/__snapshots__/app-pricing-permissions-section.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/app-pricing-permissions-section.tsx
  packages/marketplace/src/components/apps-detail/__tests__/__snapshots__/app-install-modal.test.tsx.snap
  packages/marketplace/src/components/apps-detail/__tests__/__snapshots__/apps-detail.test.tsx.snap
  packages/marketplace/src/components/apps-detail/__tests__/__snapshots__/index.test.tsx.snap
  packages/marketplace/src/components/apps-detail/app-install-modal.tsx
  packages/marketplace/src/components/apps-detail/apps-detail.tsx
Labels: marketplace, marketplace-management

#11575 feat: rplt-898 no longer include office group query string parameter
  packages/admin-portal/src/components/installations/index.tsx
Labels: admin-portal

#11579 fix: correct the link text on desktop links
  packages/marketplace-management/src/components/pages/__tests__/__snapshots__/marketplace-app.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/__tests__/__snapshots__/app-pricing-permissions-section.test.tsx.snap
  packages/marketplace-management/src/components/ui/apps/app-pricing-permissions-section.tsx
  packages/marketplace/src/components/apps-detail/__tests__/__snapshots__/app-install-modal.test.tsx.snap
  packages/marketplace/src/components/apps-detail/__tests__/__snapshots__/apps-detail.test.tsx.snap
  packages/marketplace/src/components/apps-detail/__tests__/__snapshots__/index.test.tsx.snap
  packages/marketplace/src/components/apps-detail/app-install-modal.tsx
  packages/marketplace/src/components/apps-detail/apps-detail.tsx
Labels: marketplace, marketplace-management

#11577 feat: added update method to update github PR
  packages/ts-scripts/src/devops/github.ts
  packages/ts-scripts/src/devops/index.ts
Labels: ts-scripts

#11580 feat: add status filter to installations table
  packages/admin-portal/src/components/installations/__tests__/__snapshots__/index.test.tsx.snap
  packages/admin-portal/src/components/installations/index.tsx
Labels: admin-portal

#11581 fix: rplt-1025 include office group data when filtering installations by client
  packages/admin-portal/src/components/installations/index.tsx
Labels: admin-portal

#11567 chore: rplt-978 replace zendesk email addresses
  packages/data-warehouse/src/components/accounts/accounts.tsx
  packages/data-warehouse/src/components/data/data.tsx
  packages/data-warehouse/src/components/network/network.tsx
  packages/developer-portal/src/components/apps/pipeline/dns/index.tsx
  packages/developer-portal/src/components/apps/pipeline/index.tsx
Labels: developer-portal, data-warehouse

#11573 feat: added max validation errors to address line fields
  packages/developer-portal/src/components/register/validation-schema.ts
Labels: developer-portal

#11584 fix: rplt-948 dont use inline script when initializing chatbase
  packages/developer-portal/index.html
Labels: developer-portal
