Repository reapit/foundations, pull requests merged in 2025-02, with the labels that each got.

#11513 feat: disable pipelines
  packages/developer-portal/src/components/apps/page/index.tsx
Labels: developer-portal

#11514 chore: enable step two in IaaS production fixes
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

#11515 chore: step 3 of iaas production fix
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

#11516 chore: iaas final step
  packages/deployment-service/cdk/lib/cdk-stack.ts
Labels: deployment-service

#11517 chore: revert changes and remove notice
  packages/developer-portal/src/components/apps/page/index.tsx
  packages/developer-portal/src/components/iaas/index.tsx
Labels: developer-portal

#11519 feat: data warehouse password validation changes RPLT 749
  packages/data-warehouse/src/components/accounts/account-provision-modal.tsx
  packages/data-warehouse/src/components/accounts/account-update-modal.tsx
Labels: data-warehouse

#11522 fix: remove controller
  packages/deployment-service/src/pipeline-runner/module.ts
  packages/deployment-service/src/pipeline-runner/secret.pipeline.controller.ts
Labels: deployment-service

#11523 fix: removes a line of text to test codacy
  .github/labeler.yml
Labels: infra

#11524 fix: fix: removes a line of text to test codacy
  packages/admin-portal/README.md
Labels: admin-portal

#11526 feat: #823 rplt https to website field
  packages/developer-portal/src/components/apps/pipeline/pipeline-configure.tsx
  packages/developer-portal/src/components/register/__tests__/__snapshots__/index.test.tsx.snap
  packages/developer-portal/src/components/register/form/second-form.tsx
Labels: developer-portal

#11527 feat: change url for developer/register
  packages/developer-portal/src/constants/routes.ts
Labels: developer-portal
