Repository reapit/foundations, pull requests merged in 2025-08, with the labels that each got.

#11602 feat: rplt-271 add csv method to download file of users
  packages/rc-service/src/components/users/__tests__/__snapshots__/index.test.tsx.snap
  packages/rc-service/src/components/users/__tests__/index.test.tsx
  packages/rc-service/src/components/users/__tests__/user-content.test.tsx
  packages/rc-service/src/components/users/index.tsx
Labels: dependencies

#11604 ci: update token permissions in production workflow
  .github/workflows/release-prod.yml
Labels: infra

#11607 chore: Update custom mailer URL handling for MMI and AgentPoint
  packages/cognito-custom-mail-lambda/src/mailer/custom-mailer.ts
Labels: cognito-custom-mail-lambda

#11608 ci: enable devops release
  packages/cognito-custom-mail-lambda/package.json
Labels: cognito-custom-mail-lambda

#11609 ci: disable devops release
  packages/cognito-custom-mail-lambda/package.json
Labels: cognito-custom-mail-lambda
